<div class="flex-header">
  <div class="bhima-title">
    <ol class="headercrumb">
      <li class="static">{{ "HOME.BHIMA" | translate }}</li>
      <li class="title">{{ "SETTINGS.TITLE" | translate }}</li>
    </ol>
  </div>
</div>

<div class="flex-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5">
        <div class="form-group">
          <label for="select-language">{{ "FORM.LABELS.LANGUAGE" | translate }}</label>
          <select
            id="select-language"
            ng-model="SettingsCtrl.settings.language"
            ng-change="SettingsCtrl.languageService.set(SettingsCtrl.settings.language)"
            ng-options="key as lang.name for (key, lang) in SettingsCtrl.languages"
            class="form-control">
            <option value="" disabled="disabled" selected>{{ "FORM.SELECTS.SELECT_LANGUAGE" | translate }}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="select-default">{{ "FORM.LABELS.HOME_PAGE" | translate }}</label>
          <select id="select-default" class="form-control">
            <option selected>{{ "FORM.SELECTS.SELECT_LAST_PAGE" | translate }}</option>
          </select>
        </div>


        <button
          ng-if="SettingsCtrl.previous"
          class="btn btn-default"
          ui-sref="{{ SettingsCtrl.previous }}"
          data-back-button>
          <span class="glyphicon glyphicon-circle-arrow-left"></span> {{ "FORM.BUTTONS.BACK" | translate }}
        </button>

        <button
          class="btn btn-default"
          ng-click="SettingsCtrl.logout()">
          <span class="glyphicon glyphicon-log-out"></span> {{ "FORM.BUTTONS.LOGOUT" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
