<div class="panel panel-default">

  <div class="panel-heading" style="display: flex; justify-content: space-between;">
    <span>
      <i class="fa fa-object-group"></i>
      {{ 'INVENTORY.LIST_GROUP' | translate }} ({{ GroupsCtrl.groupList.length }})
    </span>

    <button
      ng-click="GroupsCtrl.addInventoryGroup()"
      class="pull-right btn btn-default btn-sm"
      type="button" data-create-group>
      <i class="fa fa-plus"></i> {{ 'FORM.LABELS.ADD' | translate }}
    </button>
  </div>

  <section style="height: 300px; overflow: auto;">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>{{ 'FORM.LABELS.CODE' | translate }}</th>
          <th>{{ 'FORM.LABELS.NAME' | translate }}</th>
          <th>{{ 'INVENTORY.CONTAINS' | translate }}</th>
          <th class="text-center" colspan="3">{{ 'FORM.LABELS.ACCOUNT' | translate }}</th>
          <th>&nbsp;</th>
        </tr>
        <tr>
          <th></th><th></th><th></th>
          <th class="text-center"><small>{{ 'FORM.LABELS.SALE' | translate }}</small></th>
          <th class="text-center"><small>{{ 'FORM.LABELS.STOCK' | translate }}</small></th>
          <th class="text-center"><small>{{ 'FORM.LABELS.CHARGE' | translate }}</small></th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="group in GroupsCtrl.groupList | orderBy:'name' track by group.code">
          <td>{{ group.code }}</td>
          <td>{{ group.name }}</td>
          <td>{{ group.inventory_counted }} <small>{{ 'INVENTORY.ELEMENT' | translate | lowercase }}(s)</small></td>
          <td class="text-center">{{ group.saleAccountNumber }}</td>
          <td class="text-center">{{ group.stockAccountNumber }}</td>
          <td class="text-center">{{ group.cogsAccountNumber }}</td>
          <td>
            <a href
              ng-click="GroupsCtrl.editInventoryGroup(group.uuid)"
              data-edit-group="{{ group.code }}">
              <i class="fa fa-edit"></i> {{ 'FORM.BUTTONS.EDIT' | translate }}
            </a>
          </td>
          <td>
            <a href
              ng-click="GroupsCtrl.deleteInventoryGroup(group.uuid)"
              data-delete-group="{{ group.code }}">
              <i class="fa fa-remove"></i> {{ 'FORM.BUTTONS.DELETE' | translate }}
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</div>
