<div class="flex-header">
  <div class="bhima-title">
    <ol class="headercrumb">
      <li class="static" translate>TREE.ADMIN</li>
      <li class="title" translate>TREE.LOCATION</li>
    </ol>
  </div>
</div>

<!-- Menu to manage the various locations -->
<div class="flex-util">
  <button ui-sref="locationsVillage" id="village" class="btn btn-default btn-sm" style="margin: 0 2px;" href>
    <span class="glyphicon glyphicon-home"></span> <span translate>LOCATION.MANAGE_VILLAGE</span>
  </button>

  <button ui-sref="locationsSector" id="sector" class="btn btn-default btn-sm" style="margin: 0 2px;">
    <span class="glyphicon glyphicon-th"></span> <span translate>LOCATION.MANAGE_SECTOR</span>
  </button>

  <button ui-sref="locationsProvince" id="province"  class="btn btn-default btn-sm" style="margin: 0 2px;">
    <span class="glyphicon glyphicon-map-marker"></span> <span translate>LOCATION.MANAGE_PROVINCE</span>
  </button>

  <button ui-sref="locationsCountry" id="country" class="btn btn-default btn-sm" style="margin: 0 2px;">
    <span class="glyphicon glyphicon-globe"></span> <span translate>LOCATION.MANAGE_COUNTRY</span>
  </button>
</div>

<div class="flex-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-6">
        <div class="panel panel-default" style="overflow: auto; max-height: 500px;">
          <div class="panel-heading" translate>
            LOCATION.REGISTERED
          </div>
          <table class="table table-condensed">
            <thead>
              <tr>
                <th>{{ 'TABLE.COLUMNS.VILLAGE' | translate }}</th>
                <th>{{ 'TABLE.COLUMNS.SECTOR' | translate }}</th>
                <th>{{ 'TABLE.COLUMNS.PROVINCE' | translate }}</th>
                <th>{{ 'TABLE.COLUMNS.COUNTRY' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-if="LocationCtrl.session.loading" class="text-center">
                <td colspan="4"><loading-indicator></loading-indicator></td>
              </tr>

              <tr ng-repeat="location in LocationCtrl.locations | orderBy:'village' | orderBy:'sector' | orderBy:'province'">
                <td>{{ location.village }}</td>
                <td>{{ location.sector }}</td>
                <td>{{ location.province }}</td>
                <td>{{ location.country }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-xs-6">
        <div class="alert alert-info" id="default">
          <h4>{{ 'LOCATION.MANAGER_CONFIGURATION' | translate }}</h4>
          <p>
            {{ 'LOCATION.DESCRIPTION' | translate }}
            <b>{{ 'LOCATION.DESCRIPTION_2' | translate }}</b>,
            {{ 'LOCATION.LOCATION' | translate }}.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
