<div class="modal-content modal-lg square">
  <div class="modal-header">
    <h3 class="pull-left">{{ 'TRIAL_BALANCE.TITLE' | translate }}</h3>
    <div class="modal-icons">
      <a class="btn btn-default" ng-click="BalanceCtrl.toggleExceptionState()" ng-if="BalanceCtrl.hasExceptions && BalanceCtrl.state !== 'exception'">
        <i class="glyphicon glyphicon-exclamation-sign"></i> {{ BalanceCtrl.hasErrors ? "TRIAL_BALANCE.SHOW_ERRORS" : "TRIAL_BALANCE.SHOW_WARNINGS" | translate }}
      </a>
      <a class="btn btn-default" ng-click="BalanceCtrl.toggleExceptionState()" ng-if="BalanceCtrl.hasExceptions && BalanceCtrl.state === 'exception'">
        <i class="glyphicon glyphicon-tasks"></i> {{ "TRIAL_BALANCE.SHOW_RESULTS" | translate }}
      </a>
    </div>
    <div class="modal-print" ng-hide="BalanceCtrl.state === 'loading'" >
      <a ng-click="BalanceCtrl.print()" style="margin: 5px;"><span class="glyphicon glyphicon-print"></span> {{ 'UTIL.PRINT' | translate }}</a>
    </div>
  </div>

  <div class="modal-table" ng-class="{ 'success' : !BalanceCtrl.hasExceptions, 'warning' : BalanceCtrl.hasExceptions, 'error' : BalanceCtrl.hasErrors }">

    <div style="text-align:center; width:100%;padding-top:5em;" ng-if="BalanceCtrl.state === 'loading'">
      <loading-indicator></loading-indicator>
    </div>

    <!-- Exception state -->
    <table class="modal-table-head" ng-if="BalanceCtrl.state === 'exception'">
      <thead>
        <th>{{ "TRIAL_BALANCE.ERRORS"| translate }}</th>
        <th style="width:5%;"><span class="glyphicon glyphicon-list-alt"></span></th>
      </thead>
    </table>

    <div class="modal-table-body" ng-if="BalanceCtrl.state === 'exception'">
      <table class="table-hover">
        <tbody ng-repeat="e in BalanceCtrl.exceptions">
          <tr>
            <th><span class="label" ng-class="{ 'label-warning' : !e.fatal, 'label-danger' : e.fatal }">{{ e.transactions.length }}</span> {{ e.code  | translate }}</th>
            <td style="width: 5%;">
              <a style="color: #000;cursor: pointer;" ng-click="BalanceCtrl.toggleVisibility(e)">
                <span class="glyphicon" ng-class="{ 'glyphicon-download' : !e.visible , 'glyphicon-upload' : e.visible}"></span>
                <span>{{ e.visible ? "TRIAL_BALANCE.HIDE" : "TRIAL_BALANCE.SHOW" | translate }}</span>
              </a>
            </td>
          </tr>
          <tr ng-if="e.visible" ng-repeat="trans in e.transactions">
            <td colspan="2" style="padding-left:1em;"> - {{ trans }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- success modal -->

    <table class="modal-table-head" ng-if="BalanceCtrl.state === 'default'">
      <thead>
        <tr>
          <th style="width:20%">{{ 'TRIAL_BALANCE.ACCOUNT' | translate }}</th>
          <th style="width:20%">{{ 'TRIAL_BALANCE.BEFORE' | translate }}</th>
          <th style="width:20%">{{ 'TRIAL_BALANCE.DEBIT' | translate }}</th>
          <th style="width:20%">{{ 'TRIAL_BALANCE.CREDIT' | translate }}</th>
          <th style="width:20%">{{ 'TRIAL_BALANCE.AFTER' | translate }}</th>
        </tr>
      </thead>
    </table>

    <div class="modal-table-body" ng-if="BalanceCtrl.state === 'default'">
      <table class="table-hover">
        <tbody>
          <tr ng-repeat="account in BalanceCtrl.balances | orderBy:'number'">
            <th style="width:20%" class="no-border">{{ account.number }}</th>
            <td style="width:20%"> {{ account.balance | currency:2 }}</td>
            <td style="width:20%"> {{ account.debit | currency:2 }}</td>
            <td style="width:20%"> {{ account.credit | currency:2 }}</td>
            <td style="width:20%"> {{ (account.balance + (account.credit-account.debit)) | currency:2 }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="modal-table-foot">
      <table>
        <tfoot>
          <tr>
            <th style="width:20%">{{ 'UTIL.TOTAL' | translate }}</th>
            <th style="width:20%"> {{ BalanceCtrl.totals.before | currency:2 }}</th>
            <th style="width:20%"> {{ BalanceCtrl.totals.debit | currency:2 }}</th>
            <th style="width:20%"> {{ BalanceCtrl.totals.credit | currency:2 }}</th>
            <th style="width:20%"> {{ BalanceCtrl.totals.after | currency:2 }}</th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

  <div class="modal-footer" style="margin-top: 0;">
    <div class="pull-left">
      <label><i class="glyphicon glyphicon-calendar"></i> {{ BalanceCtrl.metadata.mindate | date:'dd/MM/yyyy' }} - {{ BalanceCtrl.metadata.maxdate | date:'dd/MM/yyyy' }}</label>
      <label><i class="glyphicon glyphicon-tasks"></i> {{ BalanceCtrl.metadata.transactions }} {{"TRIAL_BALANCE.TRANSACTIONS" | translate }}</label>
      <label><i class="glyphicon glyphicon-list"></i> {{ BalanceCtrl.metadata.rows}} {{"TRIAL_BALANCE.LINES" | translate }}</label>
      <label ng-if="BalanceCtrl.hasExceptions" ng-class="{'text-warning' : BalanceCtrl.hasExceptions, 'text-danger' : BalanceCtrl.hasErrors }"><i class="glyphicon glyphicon-exclamation-sign"></i> {{ BalanceCtrl.exceptions.length }} {{ "TRIAL_BALANCE.EXCEPTIONS" | translate }}</label>
    </div>
    <button class="btn btn-sm btn-success" ng-class="{ 'btn-success' : !BalanceCtrl.hasExceptions, 'btn-warning' : BalanceCtrl.hasExceptions, 'btn-danger' : BalanceCtrl.hasErrors }" ng-click="BalanceCtrl.postToGeneralLedger()" ng-disabled="BalanceCtrl.hasErrors">
      <span class="glyphicon" ng-class="{ 'glyphicon-ok-circle' : !BalanceCtrl.hasExceptions, 'glyphicon-warning-sign' : BalanceCtrl.hasExceptions, 'glyphicon-remove-circle' : BalanceCtrl.hasErrors }"></span> {{ 'TRIAL_BALANCE.POST_TO_LEDGER' | translate }}
    </button>
    <button class="btn btn-sm btn-default" ng-click="BalanceCtrl.cancelModal()"><span class="glyphicon glyphicon-ban-circle"></span> {{ 'UTIL.CANCEL' | translate }}</button>
  </div>
</div>
