<div>
 <ui-select
   ng-model="row.entity.account"
   ng-change="grid.appScope.checkRowValidity(row.entity.index)"
   name="account"
   style="width:100%;"
   append-to-body="true"
   required>
   <ui-select-match placeholder="{{ 'FORM.PLACEHOLDERS.ACCOUNT' | translate }}">
     <strong>{{$select.selected.number}}</strong> <span>{{$select.selected.label}}</span>
   </ui-select-match>
   <ui-select-choices
     ui-select-focus-patch
     class="ui-grid-ui-select"
     ui-disable-choice="account.type_id === grid.appScope.bhConstants.accounts.TITLE"
     repeat="account in grid.appScope.accounts | filter:$select.search">
     <strong ng-bind-html="account.number | highlight:$select.search"></strong>
     <span ng-bind-html="account.label | highlight:$select.search"></span>
   </ui-select-choices>
 </ui-select>
</div>
