<div class="ui-grid-cell-contents"
  ng-class="{'bg-info': row.entity.reference.uuid}">
  <a class="text-action"
    ng-click="grid.appScope.openReferenceModal(row.entity)"
    data-reference-button>

    <span
      ng-show="row.entity.reference.uuid" class="text-primary">
      <i class="fa fa-file-o"></i> {{ row.entity.reference.reference }} - <span translate>{{ row.entity.reference.document_type }}</span>
    </span>

    <span ng-hide="row.entity.reference.uuid">
      <i class="fa fa-plus"></i> <span translate>VOUCHERS.COMPLEX.REFERENCE</span>
    </span>
  </a>
</div>
