<div class="ui-grid-cell-contents"
  ng-class="{'bg-info': row.entity.reference.uuid}">
  <a
    class="text-action"
    ng-click="grid.appScope.openReferenceModal(row.entity)"
    data-reference-button>

    <span
      ng-show="row.entity.reference.uuid" class="text-primary">
      <i class="fa fa-file-o"></i> {{ row.entity.reference.document_type | translate }}: {{ row.entity.reference.reference }}
    </span>

    <span ng-hide="row.entity.reference.uuid">
      <i class="fa fa-plus"></i> {{ 'VOUCHERS.COMPLEX.REFERENCE' | translate }}
    </span>
  </a>
</div>
