<form name="BarcodeForm" novalidate>
  <div class="modal-header">
    <ol class="headercrumb">
      <li class="title" translate>BARCODE.SCAN</li>
    </ol>
  </div>

  <div class="modal-body text-center" style="min-height:300px;">
    <h2 translate>BARCODE.SCAN</h2>
    <bh-barcode-scanner
      should-search = "BarcodeModalCtrl.options.shouldSearch"
      on-scan-callback="BarcodeModalCtrl.onScanCallback(record)">
    </bh-barcode-scanner>
  </div>

  <div class="modal-footer text-right">
    <button type="button" class="btn btn-default" ng-click="BarcodeModalCtrl.dismiss()" translate>
      FORM.BUTTONS.CANCEL
    </button>
  </div>
</form>
