<div ng-form="CashboxForm" bh-cashbox-select ng-model-options="{ updateOn: 'default' }">
  <div
    class="form-group"
    ng-class="{ 'has-error' : $ctrl.validationTrigger && CashboxForm.cashbox_id.$invalid }">
    <label class="control-label" translate>
      {{ $ctrl.label }}
    </label>
    <ui-select name="cashbox_id" 
      ng-model="$ctrl.cashboxId"
      on-select="$ctrl.onSelect($item, $model)" required>
      <ui-select-match placeholder="{{ 'FORM.SELECT.CASHBOX' | translate }}"><span>{{$select.selected.hrlabel}}</span></ui-select-match>
      <ui-select-choices ui-select-focus-patch repeat="cashbox.id as cashbox in ($ctrl.cashboxes | filter:$select.search) track by cashbox.id">
        <span ng-bind-html="cashbox.hrlabel | highlight:$select.search"></span>
      </ui-select-choices>
    </ui-select>

    <div class="help-block" ng-messages="CashboxForm.$error" ng-show="$ctrl.validationTrigger">
      <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
    </div>
  </div>
</div>