<div class="panel panel-default bh-card" data-group-entry="{{card.id}}">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <h4 style="margin-top : 0px;" ng-transclude="title"></h4>
        <h5 style="margin-top : 0px;" ng-transclude="subtitle"></h5>
      </div>
      <div class="col-md-6 text-right">
        <span ng-transclude="edit"></span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-6 textflow" ng-transclude="detail"></div>
          <div class="col-md-6" ng-transclude="statistic"></div>
        </div>
      </div>
    </div>
  </div>
</div>

