<ng-form name="DateIntervalForm" bh-form-defaults novalidate>

  <div class="form-group" style="margin-bottom:0">
    <label class="control-label">
      <span translate>FORM.SELECT.DATE_INTERVAL</span>
      <span ng-if="$ctrl.selected" class="label label-warning" translate>{{ $ctrl.selected }}</span>
    </label>
  </div>

  <ul class="list-inline">
    <li ng-repeat="view in $ctrl.options">
      <a ng-click="$ctrl.search(view)" data-date-range="{{ ::view.range }}" href>
        <span translate>{{ ::view.translateKey }}</span>
      </a>
    </li>
    <li class="pull-right">
      <a href ng-click="$ctrl.clear()" tabindex="-1">
        <i class="fa fa-eraser"></i> <span translate>FORM.BUTTONS.CLEAR</span>
      </a>
    </li>
  </ul>

  <div class="row" data-bh-date-interval>
    <div class="form-group col-md-5"
      ng-class="{ 'has-error' : $ctrl.validationTrigger && DateIntervalForm.dateFrom.$invalid }">
      <div class="input-group">
        <input
          id="modal-date-from"
          name="dateFrom"
          type="text"
          class="form-control"
          uib-datepicker-popup="{{ $ctrl.dateFormat }}"
          datepicker-options="$ctrl.pickerOptions"
          is-open="$ctrl.dateFromIsOpen"
          show-button-bar="false"
          ng-model="$ctrl.dateFrom"
          ng-change="$ctrl.onChange"
          ng-required="$ctrl.required">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="$ctrl.dateFromIsOpen =! $ctrl.dateFromIsOpen">
              <i class="fa fa-calendar-plus-o"></i>
            </button>
          </span>
      </div>
      <div class="help-block" ng-messages="DateIntervalForm.dateFrom.$error" ng-show="$ctrl.validationTrigger && DateIntervalForm.dateFrom.$invalid">
        <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
      </div>
    </div>

    <div class="col-md-2 text-center">
      <hr />
    </div>

    <div class="form-group col-md-5"
      ng-class="{ 'has-error' : $ctrl.validationTrigger && DateIntervalForm.dateTo.$invalid }">
      <div class="input-group">
        <input
          id="modal-date-to"
          name="dateTo"
          type="text"
          class="form-control"
          uib-datepicker-popup="{{ $ctrl.dateFormat }}"
          datepicker-options="$ctrl.pickerOptions"
          is-open="$ctrl.dateToIsOpen"
          show-button-bar="false"
          ng-model="$ctrl.dateTo"
          ng-change="$ctrl.onChange"
          ng-required="$ctrl.required"
          >
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="$ctrl.dateToIsOpen =! $ctrl.dateToIsOpen">
              <i class="fa fa-calendar-plus-o"></i>
            </button>
          </span>
      </div>
      <div class="help-block" ng-messages="DateIntervalForm.dateTo.$error" ng-show="$ctrl.validationTrigger && DateIntervalForm.dateTo.$invalid">
        <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
      </div>
    </div>
  </div>
</ng-form>
