<fieldset>
  <div class="form-group"
    ng-class="{ 'has-error' : $ctrl.formCtrl.$submitted && $ctrl.formCtrl.depot.$invalid }">
    <label class="control-label" translate>FORM.SELECT.DEPOT</label>
    <ui-select ng-required="$ctrl.required" name="depot" ng-model="$ctrl.selection" ng-change="$ctrl.select($ctrl.selection)">
      <ui-select-match>
        <span>{{$select.selected.text}}</span>
      </ui-select-match>
      <ui-select-choices ui-select-focus-patch repeat="depot as depot in $ctrl.depots | filter:{ 'text': $select.search }">
        <span ng-bind-html="depot.text | highlight:$select.search"></span>
      </ui-select-choices>
    </ui-select>

    <div class="help-block" ng-messages="$ctrl.formCtrl.depot.$error" ng-show="$ctrl.formCtrl.$submitted">
      <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
    </div>
  </div>
</fieldset>