<div ng-form="{{ $ctrl.name }}" bh-depot-select ng-model-options="{ updateOn: 'default' }">
  <div
    class="form-group"
    ng-class="{ 'has-error' : DepotForm.$$parent.$submitted && DepotForm.depot_id.$invalid }">

    <label class="control-label" translate>
      STOCK.DEPOT
    </label>
    
    <ng-transclude></ng-transclude>
    <ui-select name="depot_id" 
      ng-model="$ctrl.depotId"
      on-select="$ctrl.onSelect($item, $model)">
      <ui-select-match placeholder="{{ 'FORM.SELECT.DEPOT' | translate }}">{{$select.selected.text}}</span></ui-select-match>
      <ui-select-choices ui-select-focus-patch repeat="depot.uuid as depot in $ctrl.depots | filter: { 'text': $select.search }">
        <span ng-bind-html="depot.text | highlight:$select.search"></span>
      </ui-select-choices>
    </ui-select>

    <div class="help-block" ng-messages="DepotForm.depot_id.$error" ng-show="DepotForm.$$parent.$submitted">
      <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
    </div>
  </div>
</div>
