<div ng-form="bhEntityTypeaheadForm" bh-entity-typeahead ng-model-options="{ updateOn: 'default' }">
  <div
    class="form-group"
    style="margin-bottom:0;"
    ng-class="{ 'has-error' : bhEntityTypeaheadForm.entity.$error && bhEntityTypeaheadForm.$submitted }">
    <input
      type="text"
      name="entity"
      class="form-control"
      placeholder="{{ ::'FORM.PLACEHOLDERS.ENTITY' | translate }}"
      ng-model="$ctrl.entity"
      ng-disabled="$ctrl.disabled"
      uib-typeahead="entity as entity.text for entity in $ctrl.lookupEntities($viewValue)"
      typeahead-template-url="bhEntityTypeaheadItem.html"
      typeahead-select-on-blur="true"
      typeahead-on-select="$ctrl.onSelectEntity($item)"
      typeahead-append-to-body="true"
      autocomplete="off">
  </div>

  <script type="text/ng-template" id="bhEntityTypeaheadItem.html">
    <a href>
      [<span ng-bind-html="match.model.text | uibTypeaheadHighlight:query"></span>] {{ match.model.hrLabel }}
    </a>
  </script>
</div>
