<div class="panel panel-default">
  <div class="panel-heading" translate>EXCHANGE.TITLE</div>

  <div class="panel-body" style="height : 315px; overflow : hidden">

    <!-- show a loading indicator while loading -->
    <p
      ng-if="$ctrl.loading"
      class="text-muted text-center">
      <i class="fa fa-circle-o-notch fa-spin"></i>
      <span translate>FORM.INFO.LOADING</span>
    </p>

    <!-- button to set a new exchange rate -->
    <button id="set-exchange" class="btn btn-default btn-block" ng-click="$ctrl.setNewExchangeRate()">
      <i class="fa fa-balance-scale"></i>
      <span translate>FORM.BUTTONS.UPDATE</span> <span translate>EXCHANGE.EXCHANGE_RATES</span>
    </button>

    <!-- show a warning if no rates exist -->
    <p
      ng-if="!$ctrl.loading && $ctrl.rates.length === 0"
      class="text-warning">
      <span class="fa fa-warning"></span>
      <span translate>EXCHANGE.SET_EXCHANGE_RATE</span>
    </p>

    <br />

    <p><span translate>EXCHANGE.ENTERPRISE_CURRENCY</span>: <i>{{ $ctrl.formatCurrency($ctrl.enterpriseCurrencyId) }}</i></p>

    <ul class="list-unstyled">
      <li data-exchange-rate-element ng-repeat="rate in $ctrl.rates | orderBy:'-date'">
        <i class="fa fa-clock-o"></i>
          <span ng-if="rate.rate < 0.1">
            <b> <em> (1 / {{(1 / rate.rate) | number:0 }}) </em> {{ $ctrl.formatCurrency(rate.currency_id) }} </b>
          </span>
          <span ng-if="rate.rate >= 0.1">
            <b>{{ rate.rate}} {{ $ctrl.formatCurrency(rate.currency_id) }} </b>
          </span>
        <span translate>EXCHANGE.RATE_SET</span> <span am-time-ago="rate.date"></span>.
        <br />
        <span class="icon-spacer text-muted"><i>{{rate.date | date : 'medium'}}</i></span>
      </li>
    </ul>
  </div>
</div>
