<div ng-form="FeeCenterForm" bh-fee-center-select ng-model-options="{ updateOn: 'default' }">
  <div
    class="form-group"
    ng-class="{ 'has-error' : FeeCenterForm.$submitted && FeeCenterForm.fee_center_id.$invalid }">

    <label class="control-label" translate>
      FORM.LABELS.FEE_CENTER
    </label>

    <ng-transclude></ng-transclude>
    <ui-select
      name="fee_center_id"
      ng-model="$ctrl.feeCenterId"
      on-select="$ctrl.onSelect($item)"
      ng-required="$ctrl.required">
      <ui-select-match placeholder="{{ 'FORM.SELECT.FEE_CENTER' | translate }}">
        <span>{{$select.selected.label}}</span>
      </ui-select-match>
      <ui-select-choices ui-select-focus-patch repeat="fee_center.id as fee_center in $ctrl.feeCenters | filter: { 'label': $select.search }">
        <span ng-bind-html="fee_center.label | highlight:$select.search"></span>
      </ui-select-choices>
    </ui-select>

    <div class="help-block" ng-messages="FeeCenterForm.fee_center_id.$error" ng-show="FeeCenterForm.$submitted">
      <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
    </div>
  </div>
</div>
