<fieldset
  ng-form="FiscalYearSelectForm"
  novalidate
  bh-fiscal-period-select>

  <div class="form-group"
    ng-class="{ 'has-error' : $ctrl.validationTrigger && FiscalYearSelectForm.fiscal.$invalid }">
    <label class="control-label" translate>FORM.LABELS.FISCAL_YEAR</label>
    <ui-select
      name = "fiscal"
      id="fiscal"
      bh-fiscal-select
      ng-required ='{{$ctrl.required}}'
      ng-class="{'required': $ctrl.required}",
      ng-model="$ctrl.selectedFiscal",
      ng-change="$ctrl.loadPeriod($ctrl.selectedFiscal)">
      <ui-select-match placeholder="{{ ::'FORM.LABELS.FISCAL_YEAR' | translate }}">
        <span ng-bind="$select.selected.label"></span>
      </ui-select-match>
      <ui-select-choices repeat="fiscal.id as fiscal in ($ctrl.fiscals | filter: $select.search) track by fiscal.id">
        <span ng-bind=" fiscal.label"></span>
      </ui-select-choices>
    </ui-select>
  </div>

  <div class="form-group"
    ng-class="{ 'has-error' : $ctrl.validationTrigger && FiscalYearSelectForm.periodFrom.$invalid }">
    <label class="control-label" translate>FORM.LABELS.PERIOD_FROM</label>
    <ui-select
      name = "periodFrom"
      ng-disabled="!$ctrl.selectedFiscal"
      ng-required ='{{$ctrl.required}}'
      ng-class="{'required': $ctrl.required}",
      ng-model="$ctrl.selectedPeriodFrom",
      ng-change="$ctrl.onSelectPeriodFrom($select.selected)"
      on-select = "$ctrl.onSelectCallback($select.selected)"
      >
      <ui-select-match placeholder="{{ ::'FORM.SELECT.PERIOD' | translate }}">
        <span ng-bind="$select.selected.hrLabel"></span>
      </ui-select-match>
      <ui-select-choices repeat="periodFrom.id as periodFrom in ($ctrl.periods | filter: $select.search) track by periodFrom.id">
        <span ng-bind="periodFrom.hrLabel"></span>
      </ui-select-choices>
    </ui-select>
  </div>

  <div class="form-group"
    ng-class="{ 'has-error' : $ctrl.validationTrigger && FiscalYearSelectForm.periodTo.$invalid }">
    <label class="control-label" translate>FORM.LABELS.PERIOD_TO</label>
    <ui-select
    name = "periodTo"
    ng-disabled="!$ctrl.selectedPeriodFrom"
    ng-required ='{{$ctrl.required}}'
    ng-class="{'required': $ctrl.required}",
    ng-model="$ctrl.selectedPeriodTo",
    on-select = "$ctrl.onSelectCallback($select.selected)"
    >
    <ui-select-match placeholder="{{ ::'FORM.SELECT.PERIOD' | translate }}">
      <span ng-bind="$select.selected.hrLabel"></span>
    </ui-select-match>
    <ui-select-choices repeat="periodFrom.id as periodFrom in ( $ctrl.laterPeriods | filter: $select.search) track by periodFrom.id">
      <span ng-bind="periodFrom.hrLabel"></span>
    </ui-select-choices>
  </ui-select>
  </div>
</fieldset>
