<fieldset
    ng-form="{{$ctrl.formName}}"
    novalidate
    bh-fiscal-period-select>

    <div class="form-group"
        ng-class="{ 'has-error' : $ctrl.validationTrigger && $ctrl.formName.fiscal.$invalid }">
        <label class="control-label" translate>FORM.LABELS.FISCAL_YEAR</label>
        <select
            class="form-control"
            ng-model="$ctrl.selectedFiscal"
            name="fiscal"
            ng-options="fiscal.id as fiscal.label for fiscal in $ctrl.fiscals"
            ng-change="$ctrl.loadPeriod($ctrl.selectedFiscal)"
            data-fiscal-select
            required>
            <option value="" disabled translate>FORM.SELECT.FISCAL_YEAR</option>
        </select>
  </div>

    <div class="form-group" 
        ng-class="{ 'has-error' : $ctrl.validationTrigger && $ctrl.formName.periods.$invalid }">
        <div>
            <label class="control-label" translate>FORM.LABELS.PERIODES</label>
            <ui-select 
                multiple
                name="periods"
                ng-model="$ctrl.selectedPeriods"
                theme="bootstrap"
                close-on-select="false"
                on-select="$ctrl.onSelect($ctrl.selectedPeriods)"
                data-period-select
                required>
                <ui-select-match placeholder="{{ 'FORM.SELECT.PERIOD' | translate }}">
                    <span>{{$item.label}}</span>
                </ui-select-match>

                <ui-select-choices repeat="period.id as period in $ctrl.periods| filter:{label: $select.search}">
                    <span ng-bind-html="period.label | highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>

            <div class="help-block" ng-messages="$ctrl.formName.periods.$error" ng-show="$ctrl.validationTrigger">
                <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
            </div>
        </div>
    </div>
</fieldset>