<div ng-hide="$ctrl.filters" class="text-muted" data-bh-filter-bar-no-filters>
  <i class="fa fa-filter"></i> <span translate>FORM.INFO.NO_FILTERS_APPLIED</span>
</div>

<ul ng-if="$ctrl.filters.defaultFilters" class="list-inline filter-list" data-bh-filter-bar-default-filters>
  <li ng-repeat="filter in $ctrl.filters.defaultFilters">
    <!--
      TODO: these should be a custom CSS class.  Label is just too small!
    -->
    <bh-filter filter="filter"></bh-filter>
  </li>
</ul>

<!-- Separator between filter types -->
<div ng-if="$ctrl.filters.defaultFilters.length && $ctrl.filters.customFilters.length" style="display : inline-block; width : 1px; height: 25px; vertical-align : top; background-color : #ccc;"></div>

<ul ng-if="$ctrl.filters.customFilters.length" class="list-inline filter-list" data-bh-filter-bar-custom-filters>
  <li ng-repeat="filter in $ctrl.filters.customFilters">

    <!-- on-remove is passing an object containing 'locals' (variables) as part of the Angular -->
    <!-- component callback structure - these methods are not directly called but are wrapper methods -->
    <bh-filter filter="filter" on-remove="$ctrl.onRemoveFilter({ filter: filter})"></bh-filter>
  </li>
</ul>
