<div class="btn-group" uib-dropdown dropdown-append-to-body>
  <a id="ipr_scale" class="btn btn-default" uib-dropdown-toggle>
    <span translate>IPRTAX.IPR_SCALE</span>
  </a>
  <button style="min-width : 30px" class="btn btn-default">
    <span>{{ $ctrl.selectedScale.label || '-' }}</span>
  </button>
  <ul class="dropdown-menu" bh-dropdown-menu-auto-dropup uib-dropdown-menu role="menu">
    <li ng-repeat="iprTax in $ctrl.iprTaxes.data track by iprTax.id" role="menuitem">
      <a ng-click="$ctrl.update(iprTax)" href>{{ ::iprTax.label}} </a>
    </li>
  </ul>
</div>
