<div ng-form="PurchaseStatusForm" bh-purchase-status-select ng-model-options="{ updateOn: 'default' }">
  <div
    class="form-group"
    ng-class="{ 'has-error' : $ctrl.validationTrigger && PurchaseStatusForm.purchaseStatus.$invalid }">
    <label class="control-label" translate>
      {{ $ctrl.label }}
    </label>

    <ui-select
        multiple
        name="purchaseStatus"
        ng-model="$ctrl.selectedPurchaseStatus"
        on-select="$ctrl.handleChange($ctrl.selectedPurchaseStatus)"
        on-remove="$ctrl.handleChange($ctrl.selectedPurchaseStatus)"
        close-on-select="false"
        ng-required="$ctrl.required">
      <ui-select-match placeholder="{{ 'FORM.SELECT.STATUS' | translate }}">
        <span>{{ $item.plainText }}</span>
      </ui-select-match>
      <ui-select-choices ui-select-focus-patch repeat="status.id as status in ($ctrl.purchaseStatus | filter: { plainText : $select.search } | orderBy: 'plainText')">
        <span ng-bind-html="status.plainText | highlight:$select.search"></span>
      </ui-select-choices>
    </ui-select>

    <div class="help-block" ng-messages="PurchaseStatusForm.$error" ng-show="$ctrl.validationTrigger">
      <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
    </div>
  </div>
</div>
