<div class="btn-group" uib-dropdown>
  <a class="btn btn-default" ng-href="{{$ctrl.reportUrl}}?{{$ctrl.params}}" download>
    <span ng-show="$ctrl.loading">
      <i class="fa fa-circle-notch-o"></i> <span translate>FORM.INFO.LOAING</span>
    </span>
    <span ng-hide="$ctrl.loading">
      <i class="fa fa-{{$ctrl.selection.icon}}"></i>
      <span translate>{{ $ctrl.selection.key }}</span>
    </span>
  </a>
  <a class="btn btn-default" uib-dropdown-toggle>
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
    <li ng-repeat="option in $ctrl.options">
      <a href ng-click="$ctrl.select(option)">
        <i class="fa fa-{{::option.icon}}"></i>
        <span translate>{{ ::option.key }}</span>
      </a>
    </li>
  </u>
</div>
