<div ng-form="ServiceForm" bh-service-select ng-model-options="{ updateOn: 'default' }">
  <div
    class="form-group"
    ng-class="{ 'has-error' : ServiceForm.$submitted && ServiceForm.service_uuid.$invalid }">

    <label class="control-label" translate>
      {{ $ctrl.label }}
    </label>

    <ng-transclude></ng-transclude>
    <ui-select
      name="service_uuid"
      ng-model="$ctrl.serviceUuid"
      on-select="$ctrl.onSelect($item)"
      ng-required="$ctrl.required">
      <ui-select-match placeholder="{{ 'FORM.SELECT.SERVICE' | translate }}"><span>{{$select.selected.name}}</span></ui-select-match>
      <ui-select-choices ui-select-focus-patch repeat="service.uuid as service in $ctrl.services | filter: { hidden: '0', 'name': $select.search }">
        <span ng-bind-html="service.name | highlight:$select.search"></span>
      </ui-select-choices>
    </ui-select>

    <div class="help-block" ng-messages="ServiceForm.service_uuid.$error" ng-show="ServiceForm.$submitted">
      <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
    </div>
  </div>
</div>
