<div class="col-md-3 col-xs-6" ng-repeat="type in $ctrl.types track by type.label">
  <button
    type="button"
    id="entry-exit-type-{{type.label}}"
    class="btn-block panel panel-default segment ima-stat-card"
    ng-class="{ 'ima-stat-card-reversed' : $ctrl.isTypeSelected(type) }"
    ng-click="$ctrl.selectEntryExitType(type)">
      <div class="panel-body text-center text-ellipsis">
        <div class="ui lg statistic">
          <div class="value" translate>{{type.labelKey}}</div>
          <div class="ui-hidable-label" translate>{{$ctrl.getLabel(type)}}</div>
        </div>
      </div>
  </button>
</div>

<div class="col-xs-12" ng-if="$ctrl.hasNoTypesDefined">
  <p class="alert alert-danger">
    <i class="fa fa-warning"></i>
    <span ng-show="$ctrl.isEntry === 'true'" translate translate-values="$ctrl.depot">STOCK.NO_ENTRY_TYPES</span>
    <span ng-hide="$ctrl.isEntry === 'true'" translate translate-values="$ctrl.depot">STOCK.NO_EXIT_TYPES</span>
  </p>
</div>
