<div ng-form="TransactionTypeForm" bh-transaction-type-select ng-model-options="{ updateOn: 'default' }">
  <div class="form-group">
    <label class="control-label" translate>
      {{ $ctrl.label }}
    </label>
    <ui-select 
        multiple
        name="transactionType" 
        ng-model="$ctrl.selectedTransactionTypes"
        on-select="$ctrl.onSelect($ctrl.selectedTransactionTypes)"
        on-remove="$ctrl.onRemove($ctrl.selectedTransactionTypes)"
        close-on-select="false">
      <ui-select-match placeholder="{{ 'FORM.SELECT.TRANSACTION_TYPE' | translate }}">{{$select.selected.name}}</span></ui-select-match>
      <ui-select-choices ui-select-focus-patch repeat="type.id as type in ($ctrl.transactionTypes | filter:$select.search)">
        <span ng-bind-html="type.plainText | highlight:$select.search"></span>
      </ui-select-choices>
    </ui-select>
  </div>
</div>