<!-- displays "This value is too small for this field." -->
<p ng-message="min">{{ "FORM.VALIDATION.DATE_MIN" | translate }}</p>

<!-- displays "This value is too large for this field." -->
<p ng-message="max">{{ "FORM.VALIDATION.DATE_MAX" | translate }}</p>

<!-- displays "This field cannot be empty." -->
<p ng-message="required">{{ "FORM.VALIDATION.DATE_REQUIRED" | translate }}</p>

<!-- displays "This field must be a valid date." -->
<p ng-message="date">{{ "FORM.VALIDATION.DATE" | translate }}</p>

<p ng-message="dateRange">{{ "FORM.VALIDATION.DATE_RANGE" | translate }}</p>
