<!-- displays "This value is too small for this field." -->
<p ng-message="min" translate>FORM.VALIDATION.DATE_MIN</p>

<!-- displays "This value is too large for this field." -->
<p ng-message="max" translate>FORM.VALIDATION.DATE_MAX</p>

<!-- displays "This field cannot be empty." -->
<p ng-message="required" translate>FORM.VALIDATION.DATE_REQUIRED</p>

<!-- displays "This field must be a valid date." -->
<p ng-message="date" translate>FORM.VALIDATION.DATE</p>

<p ng-message="dateRange" translate>FORM.VALIDATION.DATE_RANGE</p>
