<!-- displays "There was a problem validating this field. Please check your internet connection." -->
<p ng-message="exception" translate> FORM.VALIDATION.EXCEPTION  </p>

<!-- displays "This field must be unique. This value is already taken. -->
<p ng-message="unique" translate> FORM.VALIDATION.UNIQUE  </p>

<!-- displays "This field cannot be empty." -->
<p ng-message="required" translate> FORM.VALIDATION.REQUIRED  </p>

<!-- displays "This value must be a whole number (integer)." -->
<p ng-message="integer" translate> FORM.VALIDATION.INTEGER  </p>

<!-- displays "This value is too small for this field." -->
<p ng-message="min" translate> FORM.VALIDATION.MIN </p>

<p ng-message="maxInteger" translate> FORM.VALIDATION.MAX  </p>

<!-- displays "This field cannot be empty." -->
<p ng-message="required" translate> FORM.VALIDATION.REQUIRED  </p>

<!-- displays "This field must be a valid email." -->
<p ng-message="email" translate> FORM.VALIDATION.EMAIL  </p>

<!-- displays "This input is too short." -->
<p ng-message="minlength" translate> FORM.VALIDATION.MINLENGTH  </p>

<!-- displays "This input is too long." -->
<p ng-message="maxlength" translate> FORM.VALIDATION.MAXLENGTH  </p>

<!-- displays "This field must be a valid number." -->
<p ng-message="number" translate > FORM.VALIDATION.NUMBER  </p>

<!-- displays "This field must be a valid date." -->
<p ng-message="date" translate> FORM.VALIDATION.DATE  </p>

<!-- displays: "This value is required" -->
<p ng-message="required" translate> FORM.ERRORS.REQUIRED </p>

<!-- displays: "This value is too big " -->
<p ng-message="max" translate>FORM.ERRORS.VALUE_GREATER </p>

<!-- displays: "You must enter a valid number." -->
<p ng-message="number" translate>FORM.ERRORS.NUMBER </p>

<!-- displays: "The uploaded file is too large!" -->
<p ng-message="maxSize" style="margin-bottom: 0;">
  <i class="fa fa-warning"></i> <span translate>FORM.VALIDATION.UPLOAD_TOO_LARGE</span>
</p>
