<!-- displays "There was a problem validating this field. Please check your internet connection." -->
<p ng-message="exception" translate> FORM.VALIDATION.EXCEPTION  </p>

<!-- displays "This field cannot be empty." -->
<p ng-message="required" translate> FORM.VALIDATION.REQUIRED  </p>

<!-- displays "This value must be a whole number (integer)." -->
<p ng-message="integer" translate> FORM.VALIDATION.INTEGER  </p>

<!-- displays "This field must be unique. This value is already taken. -->
<p ng-message="unique" translate> FORM.VALIDATION.UNIQUE  </p>

<!-- displays "This value is too small for this field." -->
<p ng-message="min" translate> FORM.VALIDATION.MIN </p>

<!-- displays "This value is too large for this field." -->
<p ng-message="max" translate> FORM.VALIDATION.MAX  </p>

<!-- displays "This field cannot be empty." -->
<p ng-message="required" translate> FORM.VALIDATION.REQUIRED  </p>

<!-- displays "This field must be a valid email." -->
<p ng-message="email" translate> FORM.VALIDATION.EMAIL  </p>

<!-- displays "This input is too short." -->
<p ng-message="minlength" translate> FORM.VALIDATION.MINLENGTH  </p>

<!-- displays "This input is too long." -->
<p ng-message="maxlength" translate> FORM.VALIDATION.MAXLENGTH  </p>

<!-- displays "This field must be a valid number." -->
<p ng-message="number" translate > FORM.VALIDATION.NUMBER  </p>

<!-- displays "This field must be a valid date." -->
<p ng-message="date" translate> FORM.VALIDATION.DATE  </p>
