<form
  name="ModalForm"
  ng-submit="ModalCtrl.submit(ModalForm)"
  data-modal="patient-search"
  novalidate>

  <div class="modal-header search-modal-header">
    <ol class="headercrumb">
      <li class="static" translate>FORM.INFO.PATIENTS</li>
      <li class="title" translate>FORM.INFO.SEARCH</li>
    </ol>
  </div>

  <div class="modal-body search-modal">
    <uib-tabset>
      <uib-tab index="0" heading="{{ 'FORM.LABELS.SEARCH_QUERRIES' | translate }}" data-custom-filter-tab>
        <div class="tab-body">
          <div class="form-group" ng-class="{ 'has-error' : ModalForm.$submitted && ModalForm.name.$invalid }">
            <label class="control-label" translate> FORM.LABELS.NAME </label>
            <bh-clear on-clear="ModalCtrl.clear('display_name')"></bh-clear>
            <input type="text" class="form-control" name="display_name" ng-model="ModalCtrl.params.display_name">
            <div class="help-block" ng-messages="ModalForm.display_name.$error" ng-show="ModalForm.$submitted">
              <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
            </div>
          </div>

          <div class="form-group" ng-class="{ 'has-error' : ModalForm.$submitted && ModalForm.reference.$invalid }">
            <label class="control-label" translate> FORM.LABELS.REFERENCE </label>
            <bh-clear on-clear="ModalCtrl.clear('reference')"></bh-clear>

            <input type="text" class="form-control" name="reference" ng-model="ModalCtrl.params.reference">
            <div class="help-block" ng-messages="ModalForm.reference.$error" ng-show="ModalForm.$submitted">
              <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
            </div>
          </div>

          <div class="form-group" ng-class="{ 'has-error' : ModalForm.$submitted && ModalForm.hospital_no.$invalid }">
            <label class="control-label" translate>
                FORM.LABELS.HOSPITAL_FILE_NR
            </label>
            <bh-clear on-clear="ModalCtrl.clear('hospital_no')"></bh-clear>

            <input type="text" class="form-control" name="hospital_no" ng-model="ModalCtrl.params.hospital_no">
            <div class="help-block" ng-messages="ModalForm.reference.$error" ng-show="ModalForm.$submitted">
              <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
            </div>
          </div>

          <div class="radio">
            <p class="control-label">
              <strong translate>FORM.LABELS.GENDER</strong>
              <bh-clear on-clear="ModalCtrl.clear('sex')"></bh-clear>
            </p>

            <label>
              <input type="radio" name="sex" id="male" value="M" ng-model="ModalCtrl.params.sex">
              <span translate>FORM.LABELS.MALE</span>
            </label>
          </div>

          <div class="radio">
            <label>
              <input type="radio" name="sex" id="female" value="F" ng-model="ModalCtrl.params.sex">
              <span translate>FORM.LABELS.FEMALE</span>
            </label>
          </div>

          <bh-debtor-group-select
            debtor-group-uuid = "ModalCtrl.params.debtor_group_uuid"
            on-select-callback = "ModalCtrl.onSelectDebtor(debtorGroup)">
            <bh-clear on-clear="ModalCtrl.clear('debtor_group_uuid')"></bh-clear>
          </bh-debtor-group-select>

          <div class="form-group">
            <label class="control-label" translate>
              PATIENT_GROUP.PATIENT_GROUP
            </label>

            <bh-clear on-clear="ModalCtrl.clear('patient_group_uuid')"></bh-clear>

            <!-- @todo make data driven selects components to handle loading and error states -->
            <ui-select
              name="patientGroup"
              ng-model="ModalCtrl.params.patient_group_uuid">
              <ui-select-match placeholder="{{ 'FORM.PLACEHOLDERS.PATIENT_GROUP' | translate }}"><span>{{$select.selected.name}}</span></ui-select-match>
              <ui-select-choices ui-select-focus-patch repeat="group.uuid as group in (ModalCtrl.patientGroups | filter:$select.search | orderBy:'name') track by group.uuid">
                <span ng-bind-html="group.name | highlight:$select.search"></span>
              </ui-select-choices>
            </ui-select>
          </div>

          <bh-user-select
            user-id="ModalCtrl.params.user_id"
            name="user_id"
            on-select-callback="ModalCtrl.onSelectUser(user)">
            <bh-clear on-clear="ModalCtrl.clear('user_id')"></bh-clear>
          </bh-user-select>

          <fieldset>
            <legend translate>FORM.LABELS.DOB</legend>
            <bh-date-interval
              date-id="dob-date"
              validation-trigger="ModalForm.$submitted"
              date-from="ModalCtrl.params.dateBirthFrom"
              date-to="ModalCtrl.params.dateBirthTo"
              mode="clean">
            </bh-date-interval>
          </fieldset>
        </div>
      </uib-tab>

      <uib-tab index="1" heading="{{ 'FORM.LABELS.DEFAULTS' | translate }}" data-default-filter-tab>
        <div class="tab-body">
          <!-- period selection -->
          <!-- start period selection component -->
          <bh-period-select
            default-period="{{ModalCtrl.filters.period}}"
            on-select-callback="ModalCtrl.onSelectPeriod(period)">
          </bh-period-select>
          <!-- end period selection component -->

          <div class="form-group" ng-class="{ 'has-error' : ModalForm.limit.$invalid }">
            <label class="control-label" translate>FORM.LABELS.LIMIT</label>
            <input name="limit" type="number" bh-integer class="form-control" ng-model="ModalCtrl.defaultQueries.limit" ng-change="ModalCtrl.onSelectLimit(ModalCtrl.defaultQueries.limit)">

            <div class="help-block" ng-messages="ModalForm.limit.$error">
              <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
            </div>
          </div>
        </div>
      </uib-tab>
    </uib-tabset>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="ModalCtrl.cancel()" data-method="cancel" translate>
      FORM.BUTTONS.CLOSE
    </button>
    <button type="submit" class="btn btn-primary" data-method="submit" translate>
      FORM.BUTTONS.SUBMIT
    </button>
  </div>
</form>
