<div class="ui-grid-cell-contents">
  <span ng-if="grid.appScope.isTransfer">
    {{row.entity.lot}}
  </span>

  <input
    id="{{ row.entity.identifier }}"
    type="text"
    ng-if="!grid.appScope.isTransfer"
    class="form-control"
    ng-model="row.entity.lot"
    ng-model-options="{ 'debounce' : 0 }"
    typeahead-editable="true"
    typeahead-append-to-body="true"
    uib-typeahead="lot as lot.label for lot in grid.appScope.stockLine.candidateLots | filter:$viewValue | limitTo:8"
    typeahead-template-url="/modules/stock/entry/modals/templates/selectLot.tmpl.html"
    typeahead-select-on-blur="false"
    typeahead-select-on-exact="true"
    typeahead-on-select="grid.appScope.onSelectLot(row.entity, $item)"
    ng-blur="grid.appScope.onLotBlur(row.entity.lot)"
    required>
</div>
