<!-- leverage a form to get a loading indicator on the button -->
<form name="AlertModalForm" ng-submit="AlertModalCtrl.submit()" data-confirm-modal bh-form-defaults novalidate>
  <div class="modal-body">

    <!-- Error alert in case the server sends back an error -->
    <div ng-show="AlertModalCtrl.error">
      <uib-alert type="danger">
        {{ AlertModalCtrl.error | translate }}
      </uib-alert>
    </div>

    <!-- translateable prompt -->
    <p class="text-left">
      <span class="glyphicon glyphicon-alert text-warning"></span>
      {{ (AlertModalCtrl.prompt) | translate }}
    </p>
  </div>

  <div class="modal-footer">

    <button type="button" class="btn btn-default" ng-click="AlertModalCtrl.dismiss()" data-model-cancel>
      {{ "FORM.BUTTONS.OK" | translate }}
    </button>
  </div>
</form>
