<div class="modal-header">
  <ol class="headercrumb">
    <li class="title">
      <i class="fa fa-file-excel-o text-success"></i> <span translate>FORM.BUTTONS.EXPORT</span>
    </li>
  </ol>
</div>

<div class="modal-body">
  
  <div class="form-group">
    <label translate>FORM.LABELS.FILE_NAME</label>

    <input type="text" class="form-control" ng-model="$ctrl.filename" required>
  </div>

  <div class="form-group">
    <label translate>FORM.LABELS.RECORDS</label>
    <select class="form-control" ng-model="$ctrl.exportRowType"</select>
        <option value='all' translate>FORM.LABELS.ROWS_ALL</option>
        <option value='visible' translate>FORM.LABELS.ROWS_VISIBLE</option>
        <option value='selected' translate>FORM.LABELS.ROWS_SELECTED</option>
      </select>
  </div>

  <div class="form-group">
    <label translate>FORM.LABELS.COLUMNS</label>
    <select class="form-control" ng-model="$ctrl.exportColType"</select>
        <option value='all' translate>FORM.LABELS.COLS_ALL</option>
        <option value='visible' translate>FORM.LABELS.COLS_VISIBLE</option>
      </select>
  </div>
  
  <span class="ui-grid-exporter-csv-link">&nbsp</span>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="$ctrl.dismiss()" data-method="cancel">
    <span translate>FORM.BUTTONS.CANCEL</span>
  </button>

  <button type="button" class="btn btn-success" ng-click="$ctrl.exportGrid()" data-method="export">
    <span translate>FORM.BUTTONS.EXPORT</span>
  </button>
</div>