<form name="LocationModalForm" bh-submit="LocationModalCtrl.submit(LocationModalForm)" data-location-modal novalidate>
  <div class="modal-header">
    <ol class="headercrumb">
      <li class="static" translate>TREE.LOCATION</li>
      <li class="title" translate>FORM.LABELS.LOCATION_REGISTER</li>
    </ol>
  </div>

  <div class="modal-body" style="overflow-y: scroll; max-height:600px;">
    <!-- name -->
    <div class="form-group"
      ng-class="{ 'has-error' : LocationModalForm.$submitted && LocationModalForm.name.$invalid }">
      <label class="control-label" translate>FORM.LABELS.LOCATION_NAME</label>
      <div>
        <input name="name" ng-model="LocationModalCtrl.locations.name" autocomplete="off" ng-maxlength="90"
          class="form-control" required>
        <div class="help-block" ng-messages="LocationModalForm.name.$error"
          ng-show="LocationModalForm.$submitted">
          <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" translate> FORM.LABELS.LONGITUDE </label>
      <input type="number" step="1.0" placeholder="{{ 'FORM.PLACEHOLDERS.LONGITUDE' | translate }}"
        autocomplete="off" class="form-control" name="longitude" ng-model="LocationModalCtrl.locations.longitude">
    </div>

    <div class="form-group">
      <label class="control-label" translate> FORM.LABELS.LATITUDE </label>
      <input type="number" step="1.0" placeholder="{{ 'FORM.PLACEHOLDERS.LATITUDE' | translate }}"
        autocomplete="off" class="form-control" name="latitude" ng-model="LocationModalCtrl.locations.latitude">
    </div>

    <bh-location-type-select
      location-type-id ="LocationModalCtrl.locations.location_type_id"
      on-select-callback="LocationModalCtrl.onSelectLocationTypeSelect(type)"
      required="true">
      <bh-clear on-clear="LocationModalCtrl.clear('location_type_id')"></bh-clear>
    </bh-location-type-select>
    <hr>

    <div ng-if="LocationModalCtrl.locations.location_type_id && !LocationModalCtrl.parentId">
      <bh-yes-no-radios
        label="FORM.LABELS.DEFINE_LOCATION_HIGHEST"
        id="is_highest"
        value="LocationModalCtrl.is_highest"
        name="is_highest"
        on-change-callback="LocationModalCtrl.onDefineLocationChange(value)">
      </bh-yes-no-radios>
    </div>    

    <div ng-if="!LocationModalCtrl.is_highest  && !LocationModalCtrl.parentId">
      <bh-location-configuration-select
        label="FORM.LABELS.DEFINE_SUPERIOR_TERRITORIAL_ENTITY"
        location-id="LocationModalCtrl.locations.id"
        parent-id="LocationModalCtrl.locations.parent"
        exclude-type = "LocationModalCtrl.locations.location_type_id"
        on-select-callback="LocationModalCtrl.onSelectParent(location)"
        allow-all-root="false"
        required="true">
      </bh-location-configuration-select>
    </div>

    <div ng-if="LocationModalCtrl.parentId">
      <span style="color : {{ LocationModalCtrl.parentElement.color }}" class="fa fa-circle"></span>
      <span translate>{{ LocationModalCtrl.parentElement.translation_key }}</span>: <strong> {{ LocationModalCtrl.parentElement.name }} </strong>
    </div>    


  </div>

  <div class="modal-footer">
    <div class="checkbox" style="display : inline-block">
      <label>
        <input type="checkbox" id="register_again" class="checkbox" ng-model="LocationModalCtrl.registerMultiple">
        <span translate>LOCATION.REGISTER_AGAIN</span>
      </label>
    </div>

    <button type="button" ng-click="LocationModalCtrl.dismiss()" class="btn btn-default" translate>
      FORM.BUTTONS.CANCEL
    </button>

    <bh-loading-button loading-state="LocationModalForm.$loading">
      <span translate>FORM.BUTTONS.SUBMIT</span>
    </bh-loading-button>
  </div>
</form>
