<form name="LocationModalForm" bh-submit="LocationModalCtrl.submit(LocationModalForm)" data-location-modal bh-form-defaults novalidate>
  <div class="modal-header">
    <ol class="headercrumb">
      <li class="static" translate>TREE.LOCATION</li>
      <li class="title" translate>FORM.LABELS.LOCATION_REGISTER</li>
    </ol>
  </div>

  <div class="modal-body">

    <div class="row text-center">
      <div class="btn-group">
        <button
          ng-repeat="(key, view) in LocationModalCtrl.views track by $index"
          type="button"
          class="btn btn-default"
          ng-class="{ 'active' : LocationModalCtrl.view.index === view.index }"
          ng-click="LocationModalCtrl.setView(view.cacheKey)"
          data-location-view-key="{{ ::key }}"
          translate>
          {{ view.translateKey }}
        </button>
      </div>
    </div>

    <div class="form-group"
      ng-class="{ 'has-error' : LocationModalForm.$submitted && LocationModalForm.country.$invalid }">
      <label class="control-label" translate>FORM.LABELS.COUNTRY</label>
      <select
        ng-if="LocationModalCtrl.view.index > 1"
        class="form-control"
        name="country"
        ng-model="LocationModalCtrl.country"
        ng-change="LocationModalCtrl.loadProvinces()"
        ng-options="country as country.name for country in LocationModalCtrl.countries track by country.uuid"
        required>
        <option value="" disabled translate>{{ LocationModalCtrl.messages.country }}</option>
      </select>
      <input
        ng-if="LocationModalCtrl.view.index === 1"
        class="form-control"
        name="country"
        ng-model="LocationModalCtrl.country"
        placeholder="{{ ::'FORM.PLACEHOLDERS.COUNTRY' | translate }}"
        required>
    </div>

    <div class="form-group"
      ng-class="{ 'has-error' : LocationModalForm.$submitted && LocationModalForm.province.$invalid }"
      ng-if="LocationModalCtrl.view.index > 1">
      <label class="control-label" translate>FORM.LABELS.PROVINCE</label>
      <select
        ng-if="LocationModalCtrl.view.index > 2"
        class="form-control"
        name="province"
        ng-model="LocationModalCtrl.province"
        ng-options="province as province.name for province in LocationModalCtrl.provinces track by province.uuid"
        ng-change="LocationModalCtrl.loadSectors()"
        required>
        <option value="" disabled translate>{{ LocationModalCtrl.messages.province }}</option>
      </select>

      <input
        ng-if="LocationModalCtrl.view.index === 2"
        class="form-control"
        name="province"
        ng-model="LocationModalCtrl.province"
        placeholder="{{ ::'FORM.PLACEHOLDERS.PROVINCE' | translate }}"
        required>
    </div>

    <div class="form-group"
      ng-if="LocationModalCtrl.view.index > 2"
      ng-class="{ 'has-error' : LocationModalForm.$submitted && LocationModalForm.sector.$invalid }">
      <label class="control-label" translate>FORM.LABELS.SECTOR</label>
      <select
        ng-if="LocationModalCtrl.view.index > 3"
        class="form-control"
        name="sector"
        ng-model="LocationModalCtrl.sector"
        ng-options="sector as sector.name for sector in LocationModalCtrl.sectors track by sector.uuid"
        required>
        <option value="" disabled translate>{{ LocationModalCtrl.messages.sector }}</option>
      </select>
      <input
        ng-if="LocationModalCtrl.view.index === 3"
        name="sector"
        class="form-control"
        ng-model="LocationModalCtrl.sector"
        placeholder="{{ ::'FORM.PLACEHOLDERS.SECTOR' | translate }}"
        required>
    </div>

    <div class="form-group"
      ng-if="LocationModalCtrl.view.index > 3"
      ng-class="{ 'has-error' : LocationModalForm.$submitted && LocationModalForm.village.$invalid }">
      <label class="control-label" translate>FORM.LABELS.VILLAGE</label>
      <input
        class="form-control"
        name="village"
        ng-model="LocationModalCtrl.village"
        placeholder="{{ ::'FORM.PLACEHOLDERS.VILLAGE' | translate }}"
        required>
    </div>

    <p class="text-danger" ng-show="LocationModalForm.$submitted && LocationModalForm.$invalid">
      <span class="fa fa-warning"></span> <span translate>FORM.ERRORS.GENERIC</span>
    </p>
  </div>

  <div class="modal-footer">
    <div class="checkbox" style="display : inline-block">
      <label>
        <input type="checkbox" class="checkbox" ng-model="LocationModalCtrl.registerMultiple">
        <span translate>LOCATION.REGISTER_AGAIN</span>
      </label>
    </div>

    <button type="button" ng-click="LocationModalCtrl.dismiss()" class="btn btn-default" translate>
      FORM.BUTTONS.CANCEL
    </button>

    <bh-loading-button loading-state="LocationModalForm.$loading">
      <span translate>FORM.BUTTONS.SUBMIT</span>
    </bh-loading-button>
  </div>
</form>
