<form
  name="ProjectForm"
  bh-submit="$ctrl.submit(ProjectForm)"
  novalidate>

  <div class="modal-header">
    <ol class="headercrumb">
      <li class="static" translate>TREE.ENTERPRISE</li>
      <li class="title">
        <span translate>TREE.PROJECT</span>
        <span ng-show="$ctrl.isEditState" class="badge badge-primary text-uppercase" translate>
          FORM.LABELS.EDIT
        </span>
        <span ng-show="$ctrl.isCreateState" class="badge badge-success text-uppercase" translate>
          FORM.LABELS.CREATE
        </span>
      </li>
    </ol>
  </div>

  <div class="modal-body">
    <div class="form-group" ng-class="{ 'has-error' : ProjectForm.$submitted && ProjectForm.name.$invalid }">
      <label class="control-label">
        <span translate>FORM.LABELS.NAME</span>
        (<i translate>FORM.LABELS.PROJECT</i>)
      </label>
      <input type="text" class="form-control" name="name" ng-maxlength="$ctrl.maxLength" ng-model="$ctrl.project.name" required>
      <div class="help-block" ng-messages="ProjectForm.name.$error" ng-show="ProjectForm.$submitted">
        <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
      </div>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : ProjectForm.$submitted && ProjectForm.abbr.$invalid }">
      <label class="control-label">
        <span translate>FORM.LABELS.ABBREVIATION</span>
        (<i translate>FORM.LABELS.PROJECT</i>)
      </label>
      <input type="text" class="form-control" name="abbr"ng-maxlength="$ctrl.length3" ng-model="$ctrl.project.abbr" required >
      <div class="help-block" ng-messages="ProjectForm.abbr.$error" ng-show="ProjectForm.$submitted">
        <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
      </div>
    </div>

    <div ng-if="$ctrl.isEditState" class="checkbox">
      <label>
        <input
          type="checkbox"
          name="locked"
          ng-true-value="1"
          ng-false-value="0"
          ng-model="$ctrl.project.locked">
          <span translate>FORM.LABELS.LOCKED</span>
      </label>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$ctrl.close()" translate>
      FORM.BUTTONS.CLOSE
    </button>

    <bh-loading-button loading-indicator="ProjectForm.$loading">
      <span translate>FORM.BUTTONS.SUBMIT</span>
    </button>
  </div>
</form>
