<form
  name="TransactionTypeForm"
  bh-submit="$ctrl.submit(TransactionTypeForm)"
  novalidate>

  <div class="modal-header">
    <ol class="headercrumb">
      <li class="static"><span translate>TREE.ADMIN</span></li>
      <li class="title">
        <span translate>TREE.TRANSACTION_TYPE</span>
        <label ng-show="$ctrl.isCreateState" class="badge badge-success" translate>FORM.LABELS.CREATE</label>
        <label ng-show="$ctrl.isUpdateState" class="badge badge-success" translate>FORM.LABELS.UPDATE</label>
      </li>
    </ol>
  </div>

  <div class="modal-body">
    <div class="form-group" ng-class="{ 'has-error' : TransactionTypeForm.$submitted && TransactionTypeForm.text.$invalid }">
      <label class="control-label" translate>FORM.LABELS.TEXT</label>
      <input type="text" class="form-control" name="text" autocomplete="off" ng-model="$ctrl.transactionType.text" required>
      <div class="help-block" ng-messages="TransactionTypeForm.text.$error" ng-show="TransactionTypeForm.$submitted">
        <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
      </div>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : TransactionTypeForm.$submitted && TransactionTypeForm.type.$invalid }">
      <label class="control-label" translate>FORM.LABELS.TYPE</label>
      <select
        class="form-control"
        name="type"
        ng-model="$ctrl.transactionType.type"
        ng-options="type.value as (type.label | translate) for type in $ctrl.types"
        required>
        <option value="" disabled translate>FORM.SELECT.TYPE</option>
      </select>
      <div class="help-block" ng-messages="TransactionTypeForm.type.$error" ng-show="TransactionTypeForm.$submitted">
        <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-method="cancel" ng-click="$ctrl.close()" translate>
      FORM.BUTTONS.CLOSE
    </button>

    <bh-loading-button loading-state="TransactionTypeForm.$loading">
      <span translate>FORM.BUTTONS.SUBMIT</span>
    </bh-loading-button>
  </div>
</form>
