<div class="ui-grid-cell-contents text-right" uib-dropdown dropdown-append-to-body uib-dropdown-toggle ng-if="!row.groupHeader">
  <a href>
    <span data-method="action" translate>FORM.BUTTONS.ACTIONS</span>
    <span class="caret"></span>
  </a>

  <ul class="dropdown-menu-right" bh-dropdown-menu-auto-dropup uib-dropdown-menu>
    <li class="bh-dropdown-header">{{row.entity.documentReference}}</li>
    <li>
      <a data-method="receipt" ng-click="grid.appScope.openReceiptModal(row.entity.document_uuid, row.entity.flux_id)" data-link-receipt="{{ row.entity.document_uuid }}" href>
        <i class="fa fa-file-pdf-o"></i> <span translate>STOCK.DOCUMENT</span>
      </a>
    </li>

    <li ng-if="row.entity.flux_id === grid.appScope.flux.TO_PATIENT">
      <a data-method="view-patient" href ui-sref="patientRegistry({ filters : [{ key : 'period', value : 'allTime' }, { key : 'uuid', value : row.entity.entity_uuid }]})">
        <i class="fa fa-user"></i> <span translate>REPORT.VIEW_PATIENT</span>
      </a>
    </li>

    <li ng-if="row.entity.stock_requisition_uuid">
      <a data-method="view-requisition" href ui-sref="stockRequisition({ filters : [{ key : 'period', value : 'allTime' }, { key : 'stock_requisition_uuid', value : row.entity.stock_requisition_uuid, displayValue: row.entity.document_requisition, cacheable:false}]})">
        <i class="fa fa-file-text-o"></i> <span translate>REPORT.VIEW_REQUISITION</span>
      </a>
    </li>

    <li ng-if="row.entity.invoice_uuid">
      <a data-method="view-invoice" href ui-sref="invoiceRegistry({ filters : [{ key : 'period', value : 'allTime' }, { key : 'uuid', value : row.entity.invoice_uuid, displayValue: row.entity.invoice_reference, cacheable:false }]})">
        <span class="fa fa-file-text-o"></span> <span translate>REPORT.VIEW_INVOICE</span>
      </a>

    <li ng-if="row.entity.flux_id === grid.appScope.flux.FROM_PURCHASE">
      <a data-method="view-purchase-order" href ui-sref="purchasesRegistry({ filters : [{ key : 'defaultPeriod', value : 'allTime' }, { key : 'uuid', value : row.entity.entity_uuid, displayValue: row.entity.documentReference, cacheable:false }]})">
        <span class="fa fa-file-text-o"></span> <span translate>REPORT.VIEW_PURCHASE_ORDER</span>
      </a>
    </li>
    </li>

    <li ng-if="grid.appScope.hasAutoStockAccounting">
      <a data-method="view-voucher" href ui-sref="vouchers({ filters : [{ key : 'period', value : 'allTime' }, { key : 'stockReference', value : row.entity.document_uuid, displayValue: row.entity.documentReference, cacheable:false }]})">
        <span class="fa fa-file-text-o"></span> <span translate>REPORT.VIEW_VOUCHER</span>
      </a>
    </li>

    <li ng-if="grid.appScope.hasAutoStockAccounting">
      <a data-method="view-transactions" href ui-sref="journal({ filters : [{ key : 'period', value : 'allTime' }, { key : 'stockReference', value : row.entity.document_uuid, displayValue: row.entity.documentReference, cacheable:false }, { key : 'includeNonPosted', value : 1 }]})">
        <span class="fa fa-file-text-o"></span> <span translate>TRANSACTIONS.VIEW_TRANSACTIONS</span>
      </a>
    </li>

    <li bh-has-permission="grid.appScope.bhConstants.actions.DELETE_STOCK_MOVEMENT" class="divider"></li>

    <li bh-has-permission="grid.appScope.bhConstants.actions.DELETE_STOCK_MOVEMENT">
      <a data-method="delete" ng-click="grid.appScope.deleteMovement(row.entity.document_uuid)" href>
        <span class="text-danger"><i class="fa fa-trash"></i> <span translate>FORM.BUTTONS.DELETE_RECORD</span></span>
      </a>
    </li>
  </ul>
</div>
