<div class="ui-grid-cell-contents text-action" uib-dropdown dropdown-append-to-body uib-dropdown-toggle ng-if="!row.groupHeader">
  <a href>
    <span data-method="action" translate>FORM.BUTTONS.ACTIONS</span>
    <span class="caret"></span>
  </a>

  <ul data-action="{{ rowRenderIndex}}"  class="dropdown-menu-right" bh-dropdown-menu-auto-dropup uib-dropdown-menu>
    <li class="dropdown-header">
      {{row.entity.documentReference}}
    </li>
    <li>
      <a data-method="receipt" ng-click="grid.appScope.openReceiptModal(row.entity.document_uuid, row.entity.flux_id)" data-link-receipt="{{ ::row.entity.document_uuid }}" href>
        <i class="fa fa-file-pdf-o"></i> <span translate>STOCK.DOCUMENT</span>
      </a>
    </li>

    <li>
      <a data-method="view-stock-lot" href
        ui-sref="stockInventories({ filters : [
          { key : 'period', value : 'allTime', includeEmptyLot: 0 },
          { key : 'depot_uuid', value : row.entity.depot_uuid, displayValue: row.entity.depot_text },
          { key : 'inventory_uuid', value : row.entity.inventory_uuid, displayValue: row.entity.text }]})">
        <i class="fa fa-cart-plus"></i> <span translate>REPORT.VIEW_ITEM_STOCK</span>
      </a>
    </li>

    <li ng-if="row.entity.flux_id === 9">
      <a data-method="view-patient" href ui-sref="patientRegistry({ filters : [{ key : 'period', value : 'allTime' }, { key : 'uuid', value : row.entity.entity_uuid }]})">
        <i class="fa fa-user"></i> <span translate>REPORT.VIEW_PATIENT</span>
      </a>
    </li>
  </ul>
</div>
