<header data-header>
  {{ 'ENTERPRISE.TITLE' | translate }}
</header>

<nav>
  <div class="pull-left">
    <ol class="breadcrumb">
      <li><a href="#/"><span class="glyphicon glyphicon-home"></span></a></li>
      <li class="active">{{ "ENTERPRISE.TITLE" | translate }}</li>
    </ol>
  </div>
  
  <div class="pull-right">
    <button class="btn btn-default btn-sm" ng-click="newEnterprise()"><i class="glyphicon glyphicon-plus-sign"></i> {{ 'ENTERPRISE.NEW' | translate }}</button>
  </div>
</nav>

<div class="visible-print" style="margin: 15px;">
  <h3>{{ 'ENTERPRISE.REGISTERED_ENTERPRISE' | translate }}</h3>
  <table class="table table-condensed table-bordered">
    <thead>
      <tr>
        <th>{{ 'ENTERPRISE.NAME' | translate }}</th>
        <th>{{ 'ENTERPRISE.ABBREVIATION' | translate }}</th>
        <th>{{ 'ENTERPRISE.PO_BOX' | translate }}</th>
        <th>{{ 'ENTERPRISE.EMAIL' | translate }}</th>
        <th>{{ 'ENTERPRISE.PHONE' | translate }}</th>
        <th>{{ 'ENTERPRISE.LOCATION_ID' | translate }}</th>
        <th>{{ 'ENTERPRISE.CURRENCY' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="e in enterprise.data">
        <td>{{ e.name }}</td>
        <td>{{ e.abbr }}</td>
        <td>{{ e.po_box }}</td>
        <td>{{ e.email }}</td>
        <td>{{ e.phone }}</td>
        <td>{{ e.location_id.slice(0,8) }}</td>
        <td>{{ currency.get(e.currency_id).symbol }}</td>
      </tr>
    </tbody>
  </table>
</div>

<main class="hidden-print">
  <div class="row">
    <div class="col-xs-6">
      <div class="panel panel-default" style="overflow: auto; max-height: 500px;">
        <div class="panel-heading">
          {{ 'ENTERPRISE.EXISTING_ENTERPRISES' | translate }}
        </div>
        <table class="table table-condensed table-hover">
          <thead>
            <tr>
              <th>{{ 'ENTERPRISE.NAME' | translate }}</th>
              <th>{{ 'ENTERPRISE.ABBREVIATION' | translate }}</th>
              <th>{{ 'ENTERPRISE.PO_BOX' | translate }}</th>
              <th>{{ 'ENTERPRISE.EMAIL' | translate }}</th>
              <th>{{ 'ENTERPRISE.PHONE' | translate }}</th>
              <th>{{ 'ENTERPRISE.EDIT' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="e in enterprise.data" ng-click="load(e)">
              <td>{{ e.name }}</td>
              <td>{{ e.abbr }}</td>
              <td>{{ e.po_box }}</td>
              <td>{{ e.email }}</td>
              <td>{{ e.phone }}</td>
              <td><a class="action" ng-click="editEnterprise(e)"><i class="glyphicon glyphicon-pencil"></i></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-xs-6" ng-switch="action">
      <div ng-switch-default>
        <div class="alert alert-info">
          <h4>{{ 'ENTERPRISE.TITLE' | translate }}</h4>
          <p>{{ 'ENTERPRISE.HELP_TEXT_1' | translate }}
          </p>
          <ul class="list-plain">
            <li><i class="glyphicon glyphicon-pencil"></i> {{ 'ENTERPRISE.HELP_TEXT_2' | translate }}</li>
            <li><i class="glyphicon glyphicon-plus-sign"></i> {{ 'ENTERPRISE.HELP_TEXT_3' | translate }}</li>
          </ul>
        </div>
      </div>

      <div ng-switch-when="new">
        <form novalidate name="newForm">

          <fieldset>
            <legend>{{ 'ENTERPRISE.CONFIGURATION' | translate }}</legend>
            <div class="form-group">
              <label for="bhima-enterprise-name">{{ 'ENTERPRISE.NAME' | translate }} </label>
              <input type="text" class="form-bhima" name="bhima-enterprise-name" id="bhima-enterprise-name" ng-model="add.name">
            </div>

            <div class="form-group">
              <label for="bhima-enterprise-abbr" >{{ 'ENTERPRISE.ABBREVIATION' | translate }} </label>
              <input type="text" class="form-bhima" name="bhima-enterprise-abbr" id="bhima-enterprise-abbr" ng-model="add.abbr">
            </div>

            <div class="form-group">
              <label for="bhima-enterprise-po_box">{{ 'ENTERPRISE.PO_BOX' | translate }} </label>
              <input class="form-bhima" name="bhima-enterprise-po_box" id="bhima-enterprise-email" ng-model="add.po_box">
            </div>

            <div class="form-group">
              <label for="bhima-enterprise-email">{{ 'ENTERPRISE.EMAIL' | translate }} </label>
              <input type="email" class="form-bhima" name="bhima-enterprise-email" id="bhima-enterprise-email" ng-model="add.email">
            </div>

            <div class="form-group">
              <label for="bhima-enterprise-phone" >{{ 'ENTERPRISE.PHONE' | translate }} </label>
              <input type="tel" class="form-bhima" name="bhima-enterprise-phone" id="bhima-enterprise-phone" ng-model="add.phone">
            </div>

            <div class="form-group">
              <label for="bhima-enterprise-location" class="required">{{ 'ENTERPRISE.LOCATION' | translate }} </label>
              <select class="form-bhima" name="bhima-enterprise-location" id="bhima-enterprise-location" ng-model="add.location_id" ng-options="loc.uuid as formatLocation(loc) for loc in location.data | orderBy:'village'">
                <option value="" disabled="disabled">-- {{ 'SELECT.LOCATION' | translate }}--</option>
              </select>
            </div>

          </fieldset>
          <fieldset>
            <legend>{{ 'ENTERPRISE.CURRENCY_CASH_MANAGEMENT' | translate }}</legend>

            <div class="radio" ng-repeat="currency in currency.data">
              <label>
                {{currency.name}}
                <input type="radio" value="{{currency.id}}" name="bhima-enterprise-currency" ng-model="add.currency_id">
              </label>
            </div>

          </fieldset>

          <input type="submit" class="btn btn-sm btn-success" ng-click="saveNew()" value="{{ 'FORM.SAVE' | translate }}" ng-disabled="newForm.$invalid">
          <input type="reset" class="btn btn-sm btn-default" ng-click="resetNew()" value="{{ 'FORM.RESET_FORM' | translate }}">

        </form>
      </div>

      <div ng-switch-when="edit">
        <form novalidate name="editForm">

          <fieldset>
            <legend>{{ "ENTERPRISE.EDIT_ENTERPRISE" | translate }}</legend>
            <div class="form-group">
              <label for="bhima-enterprise-name" class="required">{{ 'ENTERPRISE.NAME' | translate }} </label>
              <input class="form-bhima" name="bhima-enterprise-name" id="bhima-enterprise-name" ng-model="edit.name" required>
            </div>

            <div class="form-group">
              <label for="bhima-enterprise-abbr" >{{ 'ENTERPRISE.ABBREVIATION' | translate }} </label>
              <input class="form-bhima" name="bhima-enterprise-abbr" id="bhima-enterprise-abbr" ng-model="edit.abbr">
            </div>

            <div class="form-group">
              <label for="bhima-enterprise-po_box" >{{ 'ENTERPRISE.PO_BOX' | translate }} </label>
              <input class="form-bhima" name="bhima-enterprise-po_box" id="bhima-enterprise-po_box" ng-model="edit.po_box">
            </div>

            <div class="form-group">
              <label for="bhima-enterprise-email" >{{ 'ENTERPRISE.EMAIL' | translate }} </label>
              <input type="email" class="form-bhima" name="bhima-enterprise-email" id="bhima-enterprise-email" ng-model="edit.email">
            </div>

            <div class="form-group">
              <label for="bhima-enterprise-phone" >{{ 'ENTERPRISE.PHONE' | translate }} </label>
              <input type="tel" class="form-bhima" name="bhima-enterprise-phone" id="bhima-enterprise-phone" ng-model="edit.phone">
            </div>

            <div class="form-group">
              <label for="bhima-enterprise-location" class="required">{{ 'ENTERPRISE.LOCATION' | translate }} </label>
              <select class="form-bhima" name="bhima-enterprise-location" id="bhima-enterprise-location" ng-model="edit.location_id" ng-options="loc.uuid as formatLocation(loc) for loc in location.data | orderBy:'village'" required>
                <option value="" disabled="disabled">-- Select a Location --</option>
              </select>
            </div>

          </fieldset>
          <fieldset>
            <legend>{{ 'ENTERPRISE.CURRENCY_CASH_MANAGEMENT' | translate }}</legend>

            <div class="radio" ng-repeat="currency in currency.data">
              <label>
                {{currency.name}}
                <input type="radio" value="{{currency.id}}" name="bhima-enterprise-currency" ng-model="edit.currency_id">
              </label>
            </div>
          </fieldset>

          <input type="submit" class="btn btn-sm btn-success" ng-click="saveEdit()" value="{{ 'FORM.SAVE_CHANGES' | translate }}" ng-disabled="editForm.$invalid">
          <input type="button" class="btn btn-sm btn-default" ng-click="resetEdit()" value="{{ 'FORM.RESET_FORM' | translate }}">

        </form>
      </div>
    </div>
  </div>
</main>
