<div class="ui-grid-cell-contents text-action" uib-dropdown dropdown-append-to-body uib-dropdown-toggle>
  <a href>
    <span data-method="action" translate>FORM.BUTTONS.ACTIONS</span>
    <span class="caret"></span>
  </a>

  <ul data-action="{{ rowRenderIndex}}"  class="dropdown-menu-right" uib-dropdown-menu>
    <li>
      <a 
        data-method="receipt" 
        ng-click="grid.appScope.getOriginDocument(row.entity.origin_uuid, row.entity.display_name)" href>
        <i class="fa fa-file-pdf-o"></i> <span translate>STOCK.ORIGIN_DOCUMENT</span>
      </a>
    </li>
    <li>
      <a 
        data-method="receipt" 
        ng-click="grid.appScope.getEntryDocument(row.entity.document_uuid, row.entity.flux_id)" href>
        <i class="fa fa-file-pdf-o"></i> <span translate>STOCK.ENTRY_DOCUMENT</span>
      </a>
    </li>
  </ul>
</div>