<div class="flex-header">
  <div class="bhima-title">
    <ol class="headercrumb">
      <li class="static">{{ "TREE.ADMIN" | translate }}</li>
      <li class="active">{{ "EXCHANGE.TITLE" | translate }}</li>
    </ol>
  </div>
</div>

<div class="flex-util">
  <button class="btn btn-sm btn-default" id="create" ng-click="ExchangeCtrl.create()" data-method="create">
    <span class="glyphicon glyphicon-plus-sign"></span> {{ 'EXCHANGE.ADD_EXCHANGE' | translate }}
  </button>
</div>

<div class="flex-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-6">
        <div class="panel panel-default" style="overflow: auto; max-height: 500px;">
          <table class="table table-bordered table-condensed table-hover">
            <thead>
              <tr>
                <th>{{ "TABLE.COLUMNS.DATE" | translate }}</th>
                <th>{{ "TABLE.COLUMNS.CURRENCY" | translate }}</th>
                <th>{{ "TABLE.COLUMNS.RATE" | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr id = "rate-{{ $index + 1 }}" ng-repeat="rate in ExchangeCtrl.rates | orderBy:'-date' | limitTo:12" ng-click="ExchangeCtrl.update(rate)">
                <td>{{ rate.date | date }}</td>
                <td>{{ ExchangeCtrl.formatCurrency(rate.currency_id) }}</td>
                <td>{{ rate.rate | currency:rate.currency_id }}</td>
              </tr>
            </tbody>
          </table>
        </div>          
      </div>

      <div class="col-xs-6" ng-switch="ExchangeCtrl.view">
        <div class="panel panel-default" ng-switch-default>
          <div class="panel-heading">
            {{ "EXCHANGE.ENTERPRISE_CURRENCY" | translate }} {{ ExchangeCtrl.formatCurrency(ExchangeCtrl.enterprise.currency_id) }}
          </div>
          <form name="RateForm" class="panel-body form-horizontal" ng-submit="ExchangeCtrl.submit(RateForm.$invalid)" novalidate>
            <div class="form-group" >
              <label>{{ "FORM.LABELS.DATE" | translate }}</label>
              <input name="date" type="date" class="form-control" ng-class="{ 'ng-invalid-date' : RateForm.$submitted && RateForm.date.$invalid }" ng-model="ExchangeCtrl.form.date" required ng-disabled="!ExchangeCtrl.form.previous" ng-max="{{ ExchangeCtrl.tomorrow }}" max="{{ ExchangeCtrl.today | date:'yyyy-MM-dd' }}">
            </div>

            <div class="form-group">
              <div class="checkbox">
                <label>
                  <input name="previous" id="previous" type="checkbox" ng-model="ExchangeCtrl.form.previous">
                  {{ "FORM.LABELS.PREVIOUS_DATE" | translate }}
                </label>
              </div>
            </div>

            <div class="form-group" ng-repeat="(id, row) in ExchangeCtrl.current">
              <label class="control-label col-md-6">{{ ExchangeCtrl.formatCurrency(id) }} </label>
              <div class="col-md-6">
                {{ row.rate | currency:id }}
                <a class="btn btn-warning text-right" id="current-{{ $index + 1 }}" ng-click="ExchangeCtrl.setExchangeRate(id, row)">{{ "FORM.BUTTONS.SUBMIT" | translate }}</a>
              </div>
            </div>
            <div ng-if="!ExchangeCtrl.current">
              <div  class="form-group" ng-repeat="currency in ExchangeCtrl.outCurrencies">
                <label class="control-label col-md-6">{{ ExchangeCtrl.formatCurrency(currency.id) }} </label>
                <div class="col-md-6">
                  {{ 0 | currency:currency.id }} 
                  <a class="btn btn-warning text-right" id="current-{{ $index + 1 }}" ng-click="ExchangeCtrl.setExchangeRate(currency.id,'')">{{ "FORM.BUTTONS.SUBMIT" | translate }}</a>
                </div>
              </div>
            </div>
            <span data-role="feedback" ng-switch="ExchangeCtrl.feedback">
              <span ng-switch-default>
              </span>

              <span ng-switch-when="create_success" id="create_success" class="text-success">
                <i class="glyphicon glyphicon-ok-sign"></i> {{ "FORM.INFOS.SAVE_SUCCESS" | translate }}
              </span>

              <span ng-switch-when="update_success" id="update_success" class="text-success">
                <i class="glyphicon glyphicon-ok-sign"></i> {{ "FORM.INFOS.UPDATE_SUCCESS" | translate }}
              </span>

              <span ng-switch-when="delete_success" id="delete_success" class="text-success">
                <i class="glyphicon glyphicon-ok-sign"></i> {{ "FORM.INFOS.DELETE_SUCCESS" | translate }}
              </span>
              
              <span ng-switch-when="invalid-date" id="invalid-date" class="text-danger">
                <i class="glyphicon glyphicon-warning-sign"></i> {{ "FORM.VALIDATIONS.INVALID_DATE" | translate }}
              </span> 
            </span>

          </form>
        </div>

        <div class="panel panel-default" ng-switch-when="update">
          <div class="panel-heading">
            {{ "EXCHANGE.ENTERPRISE_CURRENCY" | translate }} {{ ExchangeCtrl.formatCurrency(ExchangeCtrl.enterprise.currency_id) }}
          </div>
          <form name="RateForm" class="panel-body form-horizontal" ng-submit="ExchangeCtrl.submit(RateForm.$invalid)" novalidate>
            <h3>{{ "EXCHANGE.REVIEW_RATE" | translate }} :</h3>
            <div class="form-group" >
              <label>{{ "FORM.LABELS.DATE" | translate }}</label>
              <input name="date" type="date" class="form-control" ng-model="ExchangeCtrl.form.date" ng-disabled="!ExchangeCtrl.form.previous" ng-max="{{ ExchangeCtrl.tomorrow }}" max="{{ ExchangeCtrl.today | date:'yyyy-MM-dd' }}">
            </div>

            <div class="form-group">
              <strong>{{ ExchangeCtrl.formatCurrency(ExchangeCtrl.form.currency_id) }}</strong> : {{ ExchangeCtrl.form.rate | currency:id }}
            </div>

            <div class="panel-footer">
              <div class="form-group">
                <button class="btn btn-success" id="submit" type="button" ng-click="ExchangeCtrl.setExchangeRate(ExchangeCtrl.form.currency_id)">
                  {{ "FORM.BUTTONS.SUBMIT" | translate }}
                </button>
                <button class="btn btn-danger" id="delete" type="button" ng-click="ExchangeCtrl.del(ExchangeCtrl.form.id)" data-method="delete">
                  <i class="glyphicon glyphicon-trash"></i> {{ "FORM.BUTTONS.DELETE" | translate }} 
                </button>
              </div>  
            </div>              
          </form>
        </div>
      </div>
    </div>
  </div>
</div>