<div class="flex-header">
  <div class="bhima-title">
    <ol class="headercrumb">
      <li class="static">{{ "TREE.ADMIN" | translate }}</li>
      <li class="active">{{ "EXCHANGE.TITLE" | translate }}</li>
    </ol>
  </div>
</div>

<div class="flex-util">
  <button class="btn btn-sm btn-default" id="create" ng-click="ExchangeCtrl.create()" data-method="create">
    <span class="glyphicon glyphicon-plus-sign"></span> {{ 'EXCHANGE.NEW' | translate }}
  </button>
</div>

<div class="flex-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-6">
        <div class="panel panel-default" style="overflow: auto; max-height: 500px;">
          <table class="table table-bordered table-condensed table-hover">
            <thead>
              <tr>
                <th>{{ "COLUMNS.DATE" | translate }}</th>
                <th>{{ "COLUMNS.CURRENCY" | translate }}</th>
                <th>{{ "COLUMNS.RATE" | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="rate in ExchangeCtrl.rates | orderBy:'-date' | limitTo:12" ng-click="ExchangeCtrl.update(rate)">
                <td>{{ rate.date | date }}</td>
                <td>{{ rate.currency_id }}</td>
                <td>{{ rate.rate | currency:rate.currency_id }}</td>
              </tr>
            </tbody>
          </table>
        </div>  
      </div>

      <div class="col-xs-6" ng-switch="ExchangeCtrl.view">
        <div class="panel panel-default" ng-switch-default>
          <div class="panel-heading">
            {{ "EXCHANGE.ENTERPRISE_CURRENCY" | translate }} {{ ExchangeCtrl.formatCurrency(ExchangeCtrl.enterprise.currency_id) }}
          </div>
          <form name="RateForm" class="panel-body form-horizontal" ng-submit="ExchangeCtrl.submit(RateForm.$invalid)" novalidate>
            <div class="form-group" >
              <label>{{ "COLUMNS.DATE" | translate }}</label>
              <input name="date" type="date" class="form-control" ng-model="ExchangeCtrl.form.date" ng-disabled="!ExchangeCtrl.form.previous" ng-max="{{ ExchangeCtrl.tomorrow }}" max="{{ ExchangeCtrl.today | date:'yyyy-MM-dd' }}">
            </div>

            <div class="form-group">
              <div class="checkbox">
                <label>
                  <input name="previous" type="checkbox" ng-model="ExchangeCtrl.form.previous">
                  {{ "EXCHANGE.OLD_DATE" | translate }}
                </label>
              </div>
            </div>

            <div class="form-group" ng-repeat="(id, row) in ExchangeCtrl.current">
              <label class="control-label col-md-6">{{ ExchangeCtrl.formatCurrency(id) }}</label>
              <div class="col-md-6">
                <a class="btn btn-warning text-right" ng-click="ExchangeCtrl.setExchangeRate(id)">{{ "FORM.DEFINE" | translate }}</a>
              </div>
            </div>
          </form>
        </div>

        <div class="panel panel-default" ng-switch-when="update">
          <div class="panel-heading">
            {{ "EXCHANGE.ENTERPRISE_CURRENCY" | translate }} {{ ExchangeCtrl.formatCurrency(ExchangeCtrl.enterprise.currency_id) }}
          </div>
          <form name="RateForm" class="panel-body form-horizontal" ng-submit="ExchangeCtrl.submit(RateForm.$invalid)" novalidate>
            <h3>{{ "EXCHANGE.REVIEW" | translate }} :</h3>
            <div class="form-group" >
              <label>{{ "COLUMNS.DATE" | translate }}</label>
              <input name="date" type="date" class="form-control" ng-model="ExchangeCtrl.form.date" ng-disabled="!ExchangeCtrl.form.previous" ng-max="{{ ExchangeCtrl.tomorrow }}" max="{{ ExchangeCtrl.today | date:'yyyy-MM-dd' }}">
            </div>

            <div class="form-group">
              <strong>{{ ExchangeCtrl.formatCurrency(ExchangeCtrl.form.currency_id) }}</strong> : {{ ExchangeCtrl.form.rate | currency:id }}
            </div>

            <div class="panel-footer">
              <div class="form-group">
                <button class="btn btn-success" type="button" ng-click="ExchangeCtrl.setExchangeRate(ExchangeCtrl.form.currency_id)">
                  {{ "FORM.UPDATE" | translate }}
                </button>
                <button class="btn btn-danger" type="button" ng-click="CashCtrl.delete(CashCtrl.box)" data-method="delete">
                  <i class="glyphicon glyphicon-trash"></i> {{ "FORM.DELETE" | translate }} 
                </button>
              </div>  
            </div>              
          </form>
        </div>
      </div>
    </div>
  </div>
</div>