<div class="flex-header">
  <div class="bhima-title">
    <ol class="headercrumb">
      <li class="static">{{ "TREE.ADMIN" | translate }}</li>
      <li class="title">{{ "EXCHANGE.TITLE" | translate }}</li>
    </ol>

    <div class="toolbar">
      <div class="toolbar-item">
        <button class="btn btn-default" ng-click="ExchangeCtrl.create()" data-method="create">
          <span class="fa fa-plus-circle"></span> {{ "EXCHANGE.ADD_EXCHANGE" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>

<div class="flex-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-6">
        <div class="panel panel-default" style="overflow: auto; max-height: 500px;">
          <table class="table table-bordered table-condensed table-hover">
            <thead>
              <tr>
                <th>{{ "TABLE.COLUMNS.DATE" | translate }}</th>
                <th>{{ "TABLE.COLUMNS.CURRENCY" | translate }}</th>
                <th>{{ "TABLE.COLUMNS.RATE" | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr id="rate-{{ $index + 1 }}" ng-repeat="rate in ExchangeCtrl.rates | orderBy:'-date' | limitTo:12" ng-click="ExchangeCtrl.update(rate)">
                <td>{{ rate.date | date }}</td>
                <td>{{ ExchangeCtrl.Currencies.format(rate.currency_id) }}</td>
                <td>{{ rate.rate | currency:rate.currency_id }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-xs-6" ng-switch="ExchangeCtrl.view">

        <div class="panel panel-default" ng-switch-default>
          <div class="panel-heading">
            {{ ExchangeCtrl.Currencies.format(ExchangeCtrl.enterprise.currency_id) }}
          </div>

          <form name="RateForm" class="panel-body form-horizontal" ng-submit="ExchangeCtrl.submit(RateForm.$invalid)" autocomplete="off" novalidate>

            <bh-date-editor
              date-value="ExchangeCtrl.form.date"
              max-date="ExchangeCtrl.today"
              validation-trigger="RateForm.$submitted"
              disabled="!ExchangeCtrl.form.previous"
              >
            </bh-date-editor>

            <div class="form-group">
              <div class="checkbox">
                <label>
                  <input name="previous" id="previous" type="checkbox" ng-model="ExchangeCtrl.form.previous">
                  {{ "FORM.LABELS.PREVIOUS_DATE" | translate }}
                </label>
              </div>
            </div>


            <dl class="dl-horizontal">
              <dt ng-repeat-start="(id, row) in ExchangeCtrl.current">
                {{ ExchangeCtrl.Currencies.format(id) }}
              </dt>
              <dd ng-repeat-end>
                {{ row.rate | currency:id }}
                <a class="btn btn-warning text-right" id="current-{{ $index + 1 }}" ng-click="ExchangeCtrl.setExchangeRate(id, row)">
                  <i class="fa fa-pencil-square-o"></i> {{ "FORM.BUTTONS.EDIT" | translate }}
                </a>
              </dd>
            </dl>

            <dl ng-if="!ExchangeCtrl.current" class="dl-horizontal">
              <dt ng-repeat-start="currency in ExchangeCtrl.outCurrencies">
                {{ ExchangeCtrl.Currencies.format(currency.id) }}
              </dt>
              <dd ng-repeat-end>
                {{ 0 | currency:currency.id }}
                <a class="btn btn-warning text-right" id="current-{{ $index + 1 }}" ng-click="ExchangeCtrl.setExchangeRate(currency.id,'')">
                  {{ "FORM.BUTTONS.EDIT" | translate }}
                </a>
              </dd>
            </dl>
          </form>
        </div>

        <div class="panel panel-default" ng-switch-when="update">
          <div class="panel-heading">
            {{ ExchangeCtrl.Currencies.format(ExchangeCtrl.enterprise.currency_id) }}
          </div>

          <div class="panel-body">
            <form name="RateForm" class="form-horizontal" autocomplete="off" autocapitalize="off" autocorrect="off" novalidate>

              <div class="form-group">
                <label class="control-label col-md-3">
                  {{ "FORM.LABELS.DATE" | translate }}
                </label>
                <div class="col-md-9">
                  <p class="form-control-static">
                    {{ ExchangeCtrl.form.date | date }}
                  </p>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-3">
                  {{ ExchangeCtrl.Currencies.format(ExchangeCtrl.form.currency_id) }}
                </label>
                <div class="col-md-9">
                  <p class="form-control-static">
                    {{ ExchangeCtrl.form.rate | currency:ExchangeCtrl.form.currency_id }}
                  </p>
                </div>
              </div>

              <hr />

              <div class="form-group text-right">
                <button class="btn btn-danger" type="button" ng-click="ExchangeCtrl.delete(ExchangeCtrl.form.id)" data-method="delete">
                  <i class="fa fa-trash-o"></i> {{ "FORM.BUTTONS.DELETE" | translate }}
                </button>
                <button class="btn btn-default" type="button" ng-click="ExchangeCtrl.setExchangeRate(ExchangeCtrl.form.currency_id)" data-method="edit">
                  <i class="fa fa-pencil-square-o"></i>{{ "FORM.BUTTONS.EDIT" | translate }}
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
