<ng-form name="ModalForm">
  <div class="modal-header">
    <h4>{{ 'EXCHANGE.NEW_RATE' | translate }}</h4>
  </div>

  <div class="modal-body">
    <uib-alert type="info">
      <i class="glyphicon glyphicon-exclamation-sign"></i> {{ "EXCHANGE.NEW_RATE_HELP" | translate }}
    </uib-alert>

    <div class="form-group">
      <label>{{ "EXCHANGE.ENTERPRISE_CURRENCY" | translate }}</label>
      <p class="form-control-static">{{ ModalCtrl.enterpriseCurrency }} : {{ 1 |  currency:ModalCtrl.enterpriseCurrencyId }}</p>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : ModalForm.$submitted && ModalForm.$invalid }">
      <label class="control-label">{{ "EXCHANGE.NEW_RATE" | translate }}</label>
      <input class="form-control" type="number" name="rate" ng-model="ModalCtrl.data.rate" min="0" required>
    </div>

    {{ ModalForm.$submitted }} {{ ModalForm.$invalid }}
  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-default" ng-click="ModalCtrl.submit(ModalForm.$invalid)" >{{ "FORM.SUBMIT" | translate }}</button>
    <button type="button" class="btn btn-default" ng-click="ModalCtrl.cancel()">{{ "FORM.CANCEL" | translate }}</button>
  </div>

</ng-form>
