<form  name="ModalForm" ng-submit="ModalCtrl.submit(ModalForm.$invalid)" novalidate>
  <div class="modal-header">
    <h4>{{ 'EXCHANGE.NEW_RATE' | translate }}</h4>
  </div>

  <div class="modal-body">
    <uib-alert type="info">
      <i class="glyphicon glyphicon-exclamation-sign"></i> {{ "EXCHANGE.HELP_TXT_1" | translate }}
    </uib-alert>

    <div class="form-group">
      <label>{{ "EXCHANGE.ENTERPRISE_CURRENCY" | translate }}</label> 
      <p class="form-control-static">{{ ModalCtrl.enterpriseCurrency }} : {{ 1 |  currency:ModalCtrl.enterpriseCurrencyId }}</p>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : ModalForm.$submitted && ModalForm.rate.$invalid }">
      <label class="control-label">{{ ModalCtrl.text | translate }} : {{ ModalCtrl.data.date | date }} : {{ ModalCtrl.selectedCurrency }}</label>
      <input type="number" class="form-control" name="rate" required id="bhima-project-abbr" min="0" ng-model="ModalCtrl.data.rate">
    </div>

  </div>

  <div class="modal-footer">
    <button class="btn btn-default" id="submit-project" type="submit" data-method="submit">
      {{ "FORM.SUBMIT" | translate }}
    </button>
    <button type="button" class="btn btn-default" ng-click="ModalCtrl.cancel()">{{ "FORM.CANCEL" | translate }}</button>
  </div>
</form>
