<div class="container-fluid">

  <!-- Error handling - this should be replaced by a notification -->
  <div class="row">
    <div class="col-xs-12">
      <uib-alert id="groupException" type="danger" ng-if="GroupEditCtrl.exception">
        <span class="glyphicon glyphicon-exclamation-sign"></span>
        <b>{{GroupEditCtrl.exception.data.code | translate }}</b> {{GroupEditCtrl.exception.data.description}}
      </uib-alert>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p><a ng-href="#/debtors/groups">
        <span class="glyphicon glyphicon-circle-arrow-left"></span>
        {{ "DEBTOR_GRP.BACK" | translate }}
      </a></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">

      <form name="debtorGroup" class="form" autocomplete="off" autocorrect="off" autocapitalize="off">
        <div
          class="form-group has-feedback"
          ng-class="{'has-error' : debtorGroup.name.$invalid && debtorGroup.$submitted}">


          <label class="control-label">{{ "FORM.LABELS.NAME" | translate }}</label>
          <input name="name" ng-model="GroupEditCtrl.group.name" class="form-control" required>

          <div class="help-block" ng-messages="debtorGroup.name.$error" ng-show="debtorGroup.$submitted">
            <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
          </div>
        </div>

        <!-- @todo this should be a directive - this controller should not have to consider accounts -->
        <div
          class="form-group has-feedback"
          data-component-find-account
          ng-class="{'has-error' : debtorGroup.account_id.$invalid && debtorGroup.$submitted}">

          <label class="control-label">{{ "TABLE.COLUMNS.ACCOUNT" | translate }}</label>
          <input
            class="form-control"
            name="account_id"
            placeholder="{{ 'FORM.PLACE_HOLDERS.ENTER_ACCOUNT' | translate }}..."
            uib-typeahead="account as account.hrlabel for account in GroupEditCtrl.accounts | filter:$viewValue | limitTo:10"
            typeahead-template-url="partials/templates/typeahead/accounts.html"
            typeahead-editable="false"
            ng-model="GroupEditCtrl.group.account_id"
            required>

          <div class="help-block" ng-messages="debtorGroup.account_id.$error" ng-show="debtorGroup.$submitted">
            <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
          </div>
        </div>

        <!-- @todo The UI should show an option that allows you apply a price list, if this is checked then you can select an option -->
        <div
          class="form-group has-feedback"
          ng-class="{'has-error' : debtorGroup.price_list.$invalid && debtorGroup.$submitted}">

          <label class="control-label">{{ "TABLE.COLUMNS.PRICE_LIST" | translate }}</label>
          <select
            name="price_list"
            ng-model="GroupEditCtrl.group.price_list_uuid"
            ng-options="priceList.uuid as priceList.label for priceList in GroupEditCtrl.priceLists"
            class="form-control">
            <option value="">{{ "PRICE_LIST.NONE" | translate }}</option>
          </select>

          <div class="help-block" ng-messages="debtorGroup.price_list.$error" ng-show="debtorGroup.$submitted">
            <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
          </div>
        </div>

        <div
          class="form-group has-feedback"
          ng-class="{'has-error' : debtorGroup.max_credit.$invalid && debtorGroup.$submitted}">

          <label class="control-label">{{ "FORM.LABELS.MAX_CREDIT" | translate }}</label>
          <p class="text-info"><span class="glyphicon glyphicon-info-sign"></span> {{ "FORM.LABELS.MAX_CREDIT_INFO" | translate }}</p>
          <input type="number" ng-model="GroupEditCtrl.group.max_credit" name="max_credit" class="form-control" bh-integer required>

          <div class="help-block" ng-messages="debtorGroup.max_credit.$error" ng-show="debtorGroup.$submitted">
            <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label">{{ "FORM.LABELS.NOTES" | translate }}</label>
          <textarea class="form-control" ng-model="GroupEditCtrl.group.note" name="notes"></textarea>
        </div>

        <div class="form-group">
          <label class="control-label">{{ "FORM.LABELS.PHONE" | translate }}</label>
          <input name="phone" ng-model="GroupEditCtrl.group.phone" class="form-control">
        </div>

        <div
          class="form-group"
          ng-class="{'has-error' : debtorGroup.email.$invalid && debtorGroup.$submitted}">
          <label class="control-label">{{ "FORM.LABELS.EMAIL" | translate }}</label>
          <input name="email" ng-model="GroupEditCtrl.group.email" type="email" class="form-control">

          <div class="help-block" ng-messages="debtorGroup.email.$error" ng-show="debtorGroup.$submitted">
            <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
          </div>

        </div>

        <div class="form-group">
          <bh-location-select
            id="location"
            name="location_id"
            validation-trigger="debtorGroup.$submitted"
            location-uuid="GroupEditCtrl.group.location_id"
            required></bh-location-select>
        </div>
      </form>

      <!-- @todo remove temporary style hack -->
      <div class="clearfix" style="margin-bottom : 5px">
        <div class="pull-right" style="text-align : right">
          <p
            class="text-danger"
            ng-if="debtorGroup.$submitted && debtorGroup.$invalid">
            <span class="glyphicon glyphicon-remove-sign"></span> {{ "FORM.ERRORS.RECORD_ERROR" | translate }}</p>

          <!-- @todo remove temporary style hack -->
          <div ng-if="GroupEditCtrl.state.current.name==='debtorGroups.create'" class="checkbox" style="display : inline-block; padding-right : 5px;">
            <label>
              <input type="checkbox" ng-model="GroupEditCtrl.resetOnCompletion">
              {{ "DEBTOR_GRP.CREATE_ANOTHER" | translate }}
            </label>
          </div>

          <!-- <button class="btn btn-default btn-sm">Cancel</button> -->
          <button data-method="submit" type="submit" ng-click="GroupEditCtrl.submit(debtorGroup)" class="btn btn-primary btn-sm">{{ "FORM.BUTTONS.SUBMIT" | translate }}</button>
        </div>
      </div>
    </div>

    <div class="col-md-7">

      <hr class="visible-sm"></hr>

      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-book"></span>
          {{ "DEBTOR_GRP.POLICIES.TITLE" | translate }}
        </div>
        <div class="panel panel-body">

          <div class="row">
            <div class="col-md-12">
              <h5><b>{{ "DEBTOR_GRP.POLICIES.SUBSIDIES.TITLE" | translate }}</b></h5>

              <!-- Only show if the subsidies option is unchecked -->
              <p ng-if="GroupEditCtrl.group.apply_subsidies===false" class="text-info">
                <span class="glyphicon glyphicon-info-sign"></span> {{ "DEBTOR_GRP.POLICIES.SUBSIDIES.INFO" | translate }}
              </p>
              <div class="checkbox">
                <label>
                  <input ng-model="GroupEditCtrl.group.apply_subsidies" type="checkbox">
                  {{"DEBTOR_GRP.POLICIES.SUBSIDIES.LABEL" | translate }}
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h5><b>{{"DEBTOR_GRP.POLICIES.DISCOUNTS.TITLE" | translate }}</b></h5>
              <p ng-if="GroupEditCtrl.group.apply_discounts===false" class="text-info">
                <span class="glyphicon glyphicon-info-sign"></span> {{"DEBTOR_GRP.POLICIES.DISCOUNTS.INFO" | translate }}
              </p>
              <div class="checkbox">
                <label>
                  <input ng-model="GroupEditCtrl.group.apply_discounts" type="checkbox">
                  {{"DEBTOR_GRP.POLICIES.DISCOUNTS.LABEL" | translate }}
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h5><b>{{ "DEBTOR_GRP.POLICIES.BILLING_SERVICES.TITLE" | translate }}</b></h5>
              <p ng-if="GroupEditCtrl.group.apply_billing_services===false" class="text-info">
                <span class="glyphicon glyphicon-info-sign"></span> {{ "DEBTOR_GRP.POLICIES.BILLING_SERVICES.INFO" | translate }}
              </p>
              <div class="checkbox">
                <label>
                  <input ng-model="GroupEditCtrl.group.apply_billing_services" ng-true-value="false" ng-false-value="true" type="checkbox">
                  {{ "DEBTOR_GRP.POLICIES.BILLING_SERVICES.LABEL" | translate }}
                </label>
              </div>
            </div>
          </div>
          <!-- These operations should be hidden for a new account -->
          <div class="row">
            <div class="col-md-12">
              <!-- @todo -->
              <!-- Placeholder - these features are not yet supported in 2.x -->
              <!--
              <hr>

              <button class="btn btn-default">
                <span class="glyphicon glyphicon-lock"></span>
                Lock Debtor Group
              </button>

              <button class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete Debtor Group</button>
              -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
