<!-- TODO Translate -->
<!-- TODO Discuss if a header or description is required -->
<!-- <h1>Debtor Groups Utility</h1> -->
<style>
  .footer-locked { 
    background-color : #D9534F;
    color : white;
  }
  
  .text-float-util { 
    text-align : right;
  }

  @media (max-width: 992px) { 
    .text-float-util { 
      text-align : left;
    }
  }
  /* TODO Move to less using propoer breakpoints */
  @media 
</style>
<div class="container text-center">
<div class="row">
<div class="col-md-8 col-md-offset-2">
      
    <div class="panel panel-default" style="margin-bottom : 0px;">
      <div class="panel-heading clearfix" style="text-align : left">

        <a href ng-click="GroupCtrl.toggleFilter()">Filter <span class="caret" ng-class="{'rotate' : GroupCtrl.filterActive}"></span></a>
        <!-- <button class="btn btn-xs btn-default"><span class="glyphicon glyphicon-filter"></span></button> -->
        <div class="pull-right">
          <span class="label label-primary">{{GroupCtrl.sort.key | translate}}</span>
          <span uib-dropdown>
            <a href uib-dropdown-toggle>Sort <span class="caret"></span></a>
            <ul class="dropdown-menu-right textflow" uib-dropdown-menu>
              <li ng-repeat="option in GroupCtrl.sortOptions">
                <a href ng-click="GroupCtrl.setOrder(option)">{{ option.key | translate }}</a>
              </li>
              <li role="seperator" class="divider"></li>
              <li><a ng-click="GroupCtrl.setOrder()"><span class="glyphicon glyphicon-remove"></span> Clear</a></li>
            </ul>
          </span>
        </div>
      </div>
    
      <!-- TODO Translate -->
      <input ng-model="GroupCtrl.filter" ng-show="GroupCtrl.filterActive" class="form-control" placeholder="Filter by name..." style="border-radius: 0"></input>
    </div>

    <div 
      ng-repeat=
      "debtorGroup in GroupCtrl.debtorGroups 
        | filter    : {name : GroupCtrl.filter}
        | orderBy   : GroupCtrl.sort.attribute:GroupCtrl.sort.reverse
        | limitTo   : GroupCtrl.pageSize : (GroupCtrl.currentPage-1)*GroupCtrl.pageSize ">

      <div class="panel panel-default" style="margin-bottom : 3px !important;">
        <div class="panel-body text-left">
          <div class="row">
            <div class="col-md-6">
              <h4 style="margin-top : 0px;">{{debtorGroup.name}}</h4>
            </div>
            <div class="col-md-6 text-float-util">
              <!-- <a ng-href="#/debtors/groups/{{debtorGroup.uuid}}/update" class=""><span class="glyphicon glyphicon-edit"></span> Edit Debtor Group</a> -->
              <a ui-sref="debtorGroups.update({uuid : debtorGroup.uuid})" class=""><span class="glyphicon glyphicon-edit"></span> Edit Debtor Group</a>
            </div>
          </div>

          <div class="row">
            <div class="col-md-9">
              
              <div class="row">
                <div class="col-md-6 textflow">
                  <span class="glyphicon glyphicon-list"></span> Last transaction - <a href>2 hours ago</a>
                </div>
                <div class="col-md-6">
                  
                  <span class="glyphicon glyphicon-user"></span> 10 Debtors subscribed
                </div>
              </div>
              
              <div class="row">
                <div class="col-md-12">
                  <span class="glyphicon glyphicon-time"></span> Created 2 weeks ago by <a href>Steven</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div ng-if="debtorGroup.locked" class="panel-footer footer-locked text-left">
          <span class="glyphicon glyphicon-lock"></span> This group is locked
        </div>

      </div>
    </div>
  </div>
</div> 

<div class="row">
      <div class="col-md-8 col-md-offset-2">
        <uib-pagination total-items="GroupCtrl.debtorGroups.length" max-size="GroupCtrl.pageSize" ng-model="GroupCtrl.currentPage" previous-text="&lsaquo;" next-text="&rsaquo;"></uib-pagination>
      </div>
    </div>

  </div>
