<header data-header>
  {{ "DEBITOR_GRP.TITLE" | translate }}
</header>

<nav>
  <div class="pull-left">
    <ol class="breadcrumb">
      <li><a href="#/"><i class="glyphicon glyphicon-home"></i></a></li>
      <li class="active">{{ "DEBITOR_GRP.TITLE" | translate }}</li>
    </ol>
  </div>
  <div class="pull-left">
    <input type="search" class="form-bhima" ng-model="data.search" placeholder="{{ 'DEBITOR_GRP.FILTER' | translate }}" size="25">
  </div>
  <div class="pull-right">
    <button class="btn btn-sm btn-default" ng-click="new()">
      <i class="glyphicon glyphicon-plus-sign"></i> {{ "DEBITOR_GRP.NEW" | translate }}
    </button>
  </div>
</nav>

<main class="extend">
  <div class="row">
    <div class="col-xs-6">
      <div class="panel panel-default" style="max-height: 650px; overflow: auto;">
        <div class="panel-heading">
          {{ "DEBITOR_GRP.GROUPS" | translate }}
        </div>
        <table class="table table-condensed table-hover">
          <thead>
            <tr>
              <th>{{ "COLUMNS.NAME" | translate }}</th>
              <th>{{ "COLUMNS.ACCOUNT" | translate }}</th>
              <th>{{ "COLUMNS.CONVENTION" | translate }}</th>
              <th><i class="glyphicon glyphicon-lock"></i></th>
              <th style="width: 8%;">{{ "COLUMNS.EDIT" | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="group in debitor_group.data | filter:data.search | orderBy:'name'">
              <td>{{ group.name }}</td>
              <td>{{ account.get(group.account_id).account_number }}</td>
              <td><i class="glyphicon" ng-class="{'glyphicon-ok' : !!group.is_convention}"></i></td>
              <td><i class="glyphicon" ng-class="{'glyphicon-lock' : !!group.locked}"></i></td>
              <td><a ng-click="edit(group)" class="btn btn-xs btn-default"><i class="glyphicon glyphicon-pencil"></i></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-xs-6" ng-switch="action">
      <div ng-switch-default>
        <div class="alert alert-info">
          <h4>{{ "DEBITOR_GRP.TITLE" | translate }}</h4>
          <p>{{ "DEBITOR_GRP.HELP_TXT_1" | translate }}.</p>
          <ul class="list-plain">
            <li><i class="glyphicon glyphicon-pencil"></i> {{ "DEBITOR_GRP.HELP_TXT_2" | translate }}.</li>
            <li><i class="glyphicon glyphicon-lock"></i> {{ "DEBITOR_GRP.HELP_TXT_3" | translate }}.</li>
            <li><i class="glyphicon glyphicon-plus-sign"></i> {{ "DEBITOR_GRP.HELP_TXT_4" | translate }}.</li>
          </ul>
        </div>
      </div>

      <div ng-switch-when="new">
        <form class="form-horizontal" name="newForm" novalidate>
          <fieldset>
            <legend>{{ "DEBITOR_GRP.INFO" | translate }}</legend>

            <div class="form-group">
              <label class="col-xs-2 control-label required">{{ "COLUMNS.NAME" | translate }}</label>
              <div class="col-xs-10">
                <input name="group-name" class="form-bhima" ng-model="newGroup.name" required>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-offset-2 col-xs-10">
                <div class="checkbox">
                  <label>
                    <input name="group-isconvention" type="checkbox" ng-model="newGroup.is_convention" ng-true-value="1" ng-false-value="0">
                    {{ "COLUMNS.CONVENTION" | translate }}?
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-2 control-label required">{{ "COLUMNS.ACCOUNT" | translate }}</label>
              <div class="col-xs-10">
                <!-- note: filter off the title accounts -->
                <select name="group-account" class="form-bhima" ng-model="newGroup.account_id" ng-options="acc.id as acc.label disable when (acc.account_type_id === 3) for acc in account.data"  required>
                  <option value="" disabled="disabled">-- {{ "SELECT.ACCOUNT" | translate }} --</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-2 control-label">{{ "COLUMNS.PRICE_LIST" | translate }}</label>
              <div class="col-xs-10">
                <select class="form-bhima" ng-model="newGroup.price_list_uuid" ng-options="pl.uuid as pl.title for pl in price_list.data">
                  <option value="" disabled="disabled">-- {{ "SELECT.PRICE_LIST" | translate }} --</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-2 control-label required">{{ "COLUMNS.LOCATION" | translate }}</label>
              <div class="col-xs-10">
                <select name="group-location" class="form-bhima" ng-model="newGroup.location_id" ng-options="loc.uuid as formatLocation(loc) for loc in location.data | orderBy:'village'" required>
                  <option value="" disabled="disabled">-- {{ "SELECT.LOCATION" | translate }} --</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-2 control-label">{{ "COLUMNS.PHONE" | translate }}</label>
              <div class="col-xs-10">
                <input type="tel" name="group-phone" class="form-bhima" ng-model="newGroup.phone">
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-2 control-label">{{ "COLUMNS.EMAIL" | translate }}</label>
              <div class="col-xs-10">
                <input type="email" name="group-email" class="form-bhima" ng-model="newGroup.email">
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-2 control-label">{{ "COLUMNS.LOCKED" | translate }}</label>
              <div class="col-xs-10">
                <input name="group-locked" type="checkbox" ng-model="newGroup.locked" ng-true-value="1" ng-false-value="0">
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-2 control-label">{{ "COLUMNS.NOTE" | translate }}</label>
              <div class="col-xs-10">
                <textarea name="group-note" ng-model="newGroup.note" class="form-control"></textarea>
              </div>
            </div>
          </fieldset>

          <input type="submit" class="btn btn-sm btn-success" ng-disabled="newForm.$invalid" ng-click="submitNew()" value="{{ 'FORM.SAVE_CHANGES' | translate }}">
          <input type="reset" class="btn btn-default btn-sm" ng-click="resetNew()" value="{{ 'FORM.RESET_FORM' | translate }}">
        </form>
      </div>

      <div ng-switch-when="edit">
        <form class="form-horizontal" name="editForm" novalidate>
          <fieldset>
            <legend>{{ "DEBITOR_GRP.INFO" | translate }}</legend>

            <div class="form-group">
              <label class="col-xs-2 control-label required">Name</label>
              <div class="col-xs-10">
                <input name="group-name" class="form-bhima" ng-model="editGroup.name" required>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-offset-2 col-xs-10">
                <div class="checkbox">
                  <label>
                    <input name="group-isconvention" type="checkbox" ng-model="editGroup.is_convention" ng-true-value="1" ng-false-value="0" ng-checked="editGroup.is_convention">
                    {{ "COLUMNS.CONVENTION" | translate }}?
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-2 control-label required">{{ "COLUMNS.ACCOUNT" | translate }}</label>
              <div class="col-xs-10">
                <select name="group-account" class="form-bhima" ng-model="editGroup.account_id" ng-options="acc.id as acc.label disable when (acc.account_type_id === 3) for acc in account.data | orderBy:'account_number'" required>
                  <option value="" disabled="disabled">-- {{ "SELECT.ACCOUNT" | translate }} --</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-2 control-label">{{ "COLUMNS.PRICE_LIST" | translate }}</label>
              <div class="col-xs-10">
                <select class="form-bhima" ng-model="editGroup.price_list_uuid" ng-options="pl.uuid as pl.title for pl in price_list.data">
                  <option value="" disabled="disabled">-- {{ "SELECT.PRICE_LIST" | translate }} --</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-2 control-label required">{{ "COLUMNS.LOCATION" | translate }}</label>
              <div class="col-xs-10">
                <select name="group-location" class="form-bhima" ng-model="editGroup.location_id" ng-options="loc.uuid as formatLocation(loc) for loc in location.data | orderBy:'village'" required>
                  <option value="" disabled="disabled">-- {{ "SELECT.LOCATION" | translate }} --</option>
                </select>
               </div>
            </div>

            <div class="form-group">
              <label class="col-xs-2 control-label">{{ "COLUMNS.PHONE" | translate }}</label>
              <div class="col-xs-10">
                <input type="tel" name="group-phone" class="form-bhima" ng-model="editGroup.phone">
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-2 control-label">{{ "COLUMNS.EMAIL" | translate }}</label>
              <div class="col-xs-10">
                <input type="email" name="group-email" class="form-bhima" ng-model="editGroup.email">
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-2 control-label">{{ "COLUMNS.LOCKED" | translate }}</label>
              <div class="col-xs-10">
                <input name="group-locked" type="checkbox" ng-model="editGroup.locked" ng-true-value="1" ng-false-value="0" ng-checked="editGroup.locked">
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-2 control-label">{{ "COLUMNS.NOTE" | translate }}</label>
              <div class="col-xs-10">
                <textarea name="group-note" ng-model="editGroup.note" class="form-control"></textarea>
              </div>
            </div>
          </fieldset>

          <input type="submit" class="btn btn-sm btn-success" ng-click="submitEdit()" ng-disabled="editForm.$invalid" value="{{ 'FORM.SAVE_CHANGES' | translate }}">
          <input type="button" class="btn btn-default btn-sm" ng-click="resetEdit()" value="{{ 'FORM.RESET_FORM' | translate }}">
        </form>

      </div>
    </div>
  </div>
</main>
