<style>
  .textflow { 
    overflow : hidden;
    text-overflow : ellipsis;
    white-space : nowrap;
  }
  .rotate { 
    transform : rotate(180deg);
  }
</style>
</div>
<div class="flex-header">
  <div class="bhima-title">

    <ol class="headercrumb">
      <li class="static">{{ "TREE.FINANCE" | translate }}</li>
      <li class="title">{{ "DEBTOR_GRP.TITLE" | translate }}</li>
      <li class="static">Exception Data: {{GroupCtrl.exceptionobject}}</li>

      <!-- <span class="label label-warning">{{GroupCtrl.current.key | translate}}</span> -->
    </ol>

    {{GroupCtrl.state.current.data}}


    
    <div class="toolbar">
      <div class="toolbar-item">
        <a 
          ui-sref="debtorGroups.create()"
          class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-plus"></span>
          Create Debtor Group
        </a>
      </div>
    </div>
  </div>
</div>

<div class="flex-content">
  <div ui-view></div>
</div>
