<div class="modal-header">
  <ol class="headercrumb">
    <li class="static">{{ SubCtrl.group.name }}</li>
    <li class="title">{{ "DEBTOR_GROUP.SUBSCRIPTIONS" | translate }}</li>
  </div>
</div>

<div class="modal-body">
  <form name="subscriptionForm">
    <div class="form-group">
      <label class="control-label">{{ SubCtrl.entityKey | translate }}</label>
      <div class="checkbox" ng-repeat="entity in SubCtrl.entities | orderBy:'label'">
        <label>
          <input data-group-option type="checkbox" ng-model="SubCtrl.subscriptions[entity.id]">
          {{entity.label}}
        </label>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button ng-click="SubCtrl.close()" class="btn btn-default">{{ "FORM.BUTTONS.CANCEL" | translate }}</button>
  <button data-method="submit" ng-click="SubCtrl.confirmSubscription(subscriptionForm)" class="btn btn-primary">{{ "FORM.BUTTONS.CONFIRM" | translate }}</button>
</div>
