<form name="ColumnConfigForm" ng-submit="ColumnsConfigModalCtrl.submit()" bh-form-defaults novalidate>

  <div class="modal-header">
    <ol class="headercrumb">
      <li class="static">{{ ::"TREE.POSTING_JOURNAL" | translate }}</li>
      <li class="title">
        {{ ::"POSTING_JOURNAL.CONFIGURATION.TITLE" | translate }}
        <label class="label label-warning">
          {{ ::"POSTING_JOURNAL.CONFIGURATION.COLUMNS" | translate }}
        </label>
      </li>
    </ol>
  </div>

  <div class="modal-body">
    <div class="row">
      <div class="col-xs-6">
        <b>{{ ::"FORM.LABELS.COLUMNS" | translate }}</b>
      </div>
      <div class="col-xs-6 text-right">
        <a href ng-click="ColumnsConfigModalCtrl.resetDefaults()" data-method="reset">
          <i class="fa fa-retweet"></i>
          {{ ::"FORM.BUTTONS.RESET_DEFAULTS" | translate }}
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6">
        <div class="checkbox" ng-repeat="col in ColumnsConfigModalCtrl.columns | limitTo : ColumnsConfigModalCtrl.middle : 0 track by col.field">
          <label>
            <input
              type="checkbox"
              data-column="{{ col.field }}"
              ng-model="ColumnsConfigModalCtrl.map[col.field]">
              {{ ::col.displayName | translate }}
          </label>
        </div>
      </div>

      <div class="col-xs-6">
        <div class="checkbox" ng-repeat="col in ColumnsConfigModalCtrl.columns | limitTo : ColumnsConfigModalCtrl.columns.length : ColumnsConfigModalCtrl.middle track by col.field">
          <label>
            <input
              type="checkbox"
              data-column="{{ col.field }}"
              ng-model="ColumnsConfigModalCtrl.map[col.field]"> {{ ::col.displayName | translate }}
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-default"
      ng-click="ColumnsConfigModalCtrl.cancel()">
      {{ "FORM.BUTTONS.CANCEL" | translate }}
    </button>

    <button
      type="submit"
      class="btn btn-primary"
      data-method="submit">
      {{ "FORM.BUTTONS.SUBMIT" | translate }}
    </button>
  </div>
</form>
