<ng-form name="ModalForm">
  <div class="modal-header">
    <h4>Receipt Lookup Modal</h4>
  </div>

  <!-- main form body -->
  <div class="modal-body">

    <!-- dropdown to choose receipt type -->
    <div class="form-group" ng-class="{ 'has-error' : ModalForm.$submitted && ModalForm.type.$error }">
      <label class="control-label">Receipt Type</label>
      <select
        class="form-control"
        name="type"
        ng-model="ReferenceLookupModalCtrl.path"
        ng-options="tgt.path as tgt.key for tgt in ReferenceLookupModalCtrl.targets | translate track by tgt.path"
        required
        >
        <option value="" disabled>Select a Receipt Type</option>
      </select>
    </div>

    <!-- input to find the correct receipt by reference -->
    <div class="form-group has-feedback" ng-class="{ 'has-error' : ModalForm.$submitted && ModalForm.reference.$error }">
      <label class="control-label">Reference Lookup</label>
      <div class="input-group">
        <input
          type="text"
          name="reference"
          class="form-control"
          ng-model="ReferenceLookupModalCtrl.reference"
          ng-disabled="ReferenceLookupModalCtrl.loading"
          required>
        <button
          class="input-group-btn"
          type="button"
          ng-click="ReferenceModalCtrl.lookupReference()"
          ng-disabled="ReferenceLookupModalCtrl.loading">
          <span ng-hide="vm.loading"><span class="glyphicon glyphicon-search"></span> Search</span>
          <span ng-show="vm.loading"><span class="glyphicon glyphicon-time"></span> Loading</span>
        </button>
      </div>
    </div>

    <!-- preview field for document -->
    <div class="form-group" ng-show="ReferenceLookupModalCtrl.document">
      <label class="control-label">Preview</label>
      <p class="form-control-static">I am a preview field.</p>
    </div>
  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" ng-click="ReferenceLookupModalCtrl.submit(ModalForm.$invalid)">
      {{ "FORM.SUBMIT" | translate }}
    </button>
    <button type="button" class="btn btn-default" ng-click="ReferenceLookupModalCtrl.dismiss()">
      {{ "FORM.CANCEL" | translate }}
    </button>
  </div>
</ng-form>
