  <div class="modal-header">
    <ol class="headercrumb">
      <li class="static">{{ ::"TREE.POSTING_JOURNAL" | translate }}</li>
      <li class="title">
        {{ ::"POSTING_JOURNAL.TRIAL_BALANCE.TITLE" | translate }}
      </li>
    </ol>
  </div>

  <div class="modal-body">
    Hello!
    <div ui-view></div>
    <!--<div ui-view="view1"></div>-->
    <!--<div ui-view="view2"></div>-->
  </div>

  <div class="modal-footer">
    <button
      id="cancelID"
      type="button"
      class="btn btn-default"
      ng-click="JournalPosterModalCtrl.cancel()">
      {{ "FORM.BUTTONS.CANCEL" | translate }}
    </button>

    <button
      type="submit"
      ng-class="{ 'btn btn-danger' : JournalPosterModalCtrl.feedBack.hasError, 'btn btn-warning': JournalPosterModalCtrl.feedBack.hasWarning, 'btn btn-primary' : JournalPosterModalCtrl.feedBack.hasSuccess}"
      ng-disabled="JournalPosterModalCtrl.feedBack.hasError"
      data-method="submit">
      {{ "FORM.BUTTONS.SUBMIT" | translate }}
    </button>
  </div>

