<p>
  <div class="row">
    <div class="col-xs-4 pull-left">
      <button
        type="button"
        ng-show="TrialBalanceDetailBodyCtrl.stateParams.feedBack.hasError || TrialBalanceDetailBodyCtrl.stateParams.feedBack.hasWarning"
        ng-class="{
          'btn btn-danger' : TrialBalanceDetailBodyCtrl.stateParams.feedBack.hasError,
          'btn btn-warning': TrialBalanceDetailBodyCtrl.stateParams.feedBack.hasWarning,
          'btn btn-primary' : TrialBalanceDetailBodyCtrl.stateParams.feedBack.hasSuccess}"
        ng-click="TrialBalanceDetailBodyCtrl.viewErrorList()"
        data-method="show-error">
        <i class="fa fa-bars"></i>
        {{"FORM.BUTTONS.VIEW_ERRORS" | translate }}
      </button>
    </div>
  </div>
</p>

<div
  id="detail-grid"
  ui-grid="TrialBalanceDetailBodyCtrl.gridOptions"
  ui-grid-auto-resize
  ui-grid-grouping>
</div>
