<header data-header>
  {{ 'ANALYSIS_CENTER.TITLE' | translate }}
</header>

<nav>
  <div class="pull-left">
    <ol class="breadcrumb">
      <li><a href="#/"><i class="glyphicon glyphicon-home"></i></a></li>
      <li><a href="#/cost_center">{{ "ANALYSIS_CENTER.PARENT" | translate }}</a></li>
      <li class="active">{{ "ANALYSIS_CENTER.TITLE" | translate }}</li>
    </ol>
  </div>

  <button ng-click="CenterCtrl.setAction('register')" class="btn btn-sm btn-default pull-right">
    <span class="glyphicon glyphicon-file"></span> {{ 'ANALYSIS_CENTER.NEW' | translate }}
  </button>
</nav>

<main class="extend margin-top-10">
  <div class="col-xs-6">
    <div class="panel panel-primary" style="max-height: 650px; overflow: auto;">
      <div class="panel-heading">
        {{ 'ANALYSIS_CENTER.REGISTERED' | translate }}
      </div>
      <table class="table table-condensed table-striped">
        <thead>
          <tr>
            <th>{{ 'COLUMNS.NAME' | translate }}</th>
            <th colspan="2">{{ 'COLUMNS.ACTIONS' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-if="CenterCtrl.session.state === 'loading'" class="text-center">
            <td colspan="3"><loading-indicator></loading-indicator></td>
          </tr>
          <tr ng-repeat="cc in CenterCtrl.model.cost_centers.data  | orderBy:'text'">
            <td>{{cc.text }}</td>
            <td>
              <a class="action" ng-click="CenterCtrl.setAction('edit', cc)"><i class="glyphicon glyphicon-pencil"></i></a>
            </td>
            <td>
              <a class="action danger" ng-click="CenterCtrl.remove(cc)"><i class="glyphicon glyphicon-trash"></i></a>
            </td>
          </tr>

          <tr ng-if="!CenterCtrl.model.cost_centers.data.length && CenterCtrl.session.state !== 'loading'">
            <td colspan="3">
              <div class="alert alert-warning">
                {{ 'ANALYSIS_CENTER.NONE_FOUND' | translate }}
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-xs-6" ng-switch="CenterCtrl.action">
    <div ng-switch-default>
      <div class="alert alert-info">
        <b>{{ 'ANALYSIS_CENTER.INFO' | translate }}</b>
        <p>{{ 'ANALYSIS_CENTER.INFO_DESCRIPTION' | translate }}</p>
      </div>
    </div>

    <div ng-switch-when="register">
      <form class="form-horizontal" name="newForm" novalidate>
        <fieldset>
          <legend>{{ 'ANALYSIS_CENTER.REGISTER' | translate }}</legend>
          <div class="form-group">
            <label class="col-xs-2 control-label required"> {{ 'ANALYSIS_CENTER.TEXT' | translate }} </label>
            <div class="col-xs-10">
              <input class="form-bhima" ng-model="CenterCtrl.register.text" required>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label>
                  <input type="checkbox"
                    ng-true-value="1"
                    ng-false-value="0"
                    ng-model="CenterCtrl.register.is_principal">
                  {{ 'ANALYSIS_CENTER.IS_PRINCIPAL' | translate }}
                </label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-xs-2 control-label">{{ 'ANALYSIS_CENTER.NOTE' | translate }}</label>
            <div class="col-xs-10">
              <textarea class="form-control" ng-model="CenterCtrl.register.note" rows="3">
              </textarea>
            </div>
          </div>

          <div class="form-group pull-right">
            <input ng-click="CenterCtrl.save()" ng-disabled="newForm.$invalid" class="btn btn-sm btn-success" type="submit" value="{{ 'FORM.SAVE' | translate }}">
            <input class="btn btn-sm btn-default" type="reset" value="{{ 'FORM.RESET' | translate }}">
          </div>
        </fieldset>
      </form>
    </div>


    <div ng-switch-when="edit">
      <form class="form-horizontal">
        <fieldset>
          <legend>{{ 'ANALYSIS_CENTER.MODIFYING' | translate }}</legend>

          <div class="form-group">
            <label class="col-xs-2 control-label required">{{ 'ANALYSIS_CENTER.TEXT' | translate }}</label>
            <div class="col-xs-10">
              <input class="form-bhima" ng-model="CenterCtrl.selected.text" required>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label>
                  <input
                    type="checkbox"
                    ng-true-value="1"
                    ng-false-value="0"
                    ng-model="CenterCtrl.selected.is_principal">
                  {{ 'ANALYSIS_CENTER.IS_PRINCIPAL' | translate }}
                </label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-xs-2 control-label">{{ 'ANALYSIS_CENTER.NOTE' | translate }}</label>
            <div class="col-xs-10">
              <textarea class="form-bhima" ng-model="CenterCtrl.selected.note" rows="3">
              </textarea>
            </div>
          </div>

          <div class="pull-right">
            <input ng-click="CenterCtrl.edit()" class="btn btn-sm btn-success" type="submit" value="{{ 'FORM.SAVE' | translate }}">
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</main>
