<div class="flex-header">
  <div class="bhima-title">
    <ol class="headercrumb">
      <li class="static">{{ "TREE.FINANCE" | translate }}</li>
      <li class="title">{{ "TREE.FEE_CENTER" | translate }}</li>
    </ol>

    <div class="toolbar">
      <div class="toolbar-item">
        <button type="button"
          class="btn btn-default"
          data-method="create"
          ui-sref="feeCenter.create">
          <i class="fa fa-plus-circle"></i> {{ 'FORM.LABELS.ADD' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>

<div class="flex-content">
  <div class="container-fluid">
    <div id="feeCenterListGrid"
      class="grid-full-height"
      ui-grid="feeCenterCtrl.gridOptions"
      ui-grid-auto-resize
      ui-grid-resize-columns>
    </div>
  </div>
</div>
