<form name="FeeCenterForm" bh-submit="FeeCenterModalCtrl.submit(FeeCenterForm)" bh-form-defaults novalidate>
  <div class="modal-header">
    <ol class="headercrumb">
      <li ng-if="FeeCenterModalCtrl.isCreating" class="title">
        {{ "FEE_CENTER.ADDING_FEE_CENTER" | translate }}
        <label class="badge badge-warning">{{ "FEE_CENTER.CREATE" | translate }}</label>
      </li>
      <li ng-if="!FeeCenterModalCtrl.isCreating" class="title">
        {{ "FEE_CENTER.UPDATING_FEE_CENTER" | translate }}
        <label class="badge badge-warning">{{ "FEE_CENTER.UPDATE" | translate }}</label>
      </li>
    </ol>
  </div>

  <div class="modal-body">
    <div class="form-group" ng-class="{ 'has-error' : FeeCenterForm.$submitted && FeeCenterForm.designation.$invalid }">
      <label class="control-label">{{ "FORM.LABELS.LABEL" | translate }}</label>
      <input name="designation" ng-model="FeeCenterModalCtrl.feeCenter.label" class="form-control" required>
      <div class="help-block" ng-messages="FeeCenterForm.designation.$error" ng-show="FeeCenterForm.$submitted">
        <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
      </div>
    </div>

    <div class="form-group"
         ng-class="{ 'has-error' : FeeCenterForm.$submitted && FeeCenterForm.projects.$invalid }">

      <label class="control-label">{{ "FORM.LABELS.PROJECT" | translate }}</label>

      <ui-select
        name="projects"
        ng-model="FeeCenterModalCtrl.feeCenter.project_id"
        theme="bootstrap"
        required>

        <ui-select-match placeholder="{{ 'FORM.SELECT.PROJECTS' | translate }}">
          <span>{{$select.selected.name}}</span>
        </ui-select-match>

        <ui-select-choices
          repeat="project.id as project in FeeCenterModalCtrl.projects| filter:$select.search">
          <span ng-bind-html="project.name | highlight: $select.search"></span>
        </ui-select-choices>
      </ui-select>

      <div class="help-block" ng-messages="FeeCenterForm.projects.$error" ng-show="FeeCenterForm.$submitted">
        <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
      </div>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : FeeCenterForm.$submitted && FeeCenterForm.typeFee.$invalid }">
      <div class="radio-inline">
        <label>
          <input id="cost-radio" type="radio" name="typeFee" ng-value="1" ng-model="FeeCenterModalCtrl.feeCenter.is_cost" required>
          {{"FEE_CENTER.COST_CENTER" | translate}}
        </label>
      </div>
      <div class="radio-inline">
        <label>
          <input id="profit-radio" type="radio" name="typeFee" ng-value="0" ng-model="FeeCenterModalCtrl.feeCenter.is_cost" ng-change="FeeCenterModalCtrl.updatePrincipal()" required>
          {{"FEE_CENTER.PROFIT_CENTER" | translate}}
        </label>
      </div>
    </div>

    <div class="form-group">
      <div class="checkbox-inline">
        <label>
          <input id="principal-id" type="checkbox" name="principal" ng-model="FeeCenterModalCtrl.feeCenter.is_principal" ng-true-value="1" ng-false-value="0">
          {{"FEE_CENTER.PRINCIPAL" | translate}}
        </label>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label">{{ "FORM.LABELS.NOTE" | translate }}</label>
      <textarea name="label" ng-model="FeeCenterModalCtrl.feeCenter.note" class="form-control"></textarea>
    </div>
  </div>

  <div class="modal-footer">
    <p id="feeCenter-same" ng-if="FeeCenterForm.$submitted && FeeCenterForm.$pristine && !FeeCenterModalCtrl.isCreating" class="text-warning">
      <i class="fa fa-warning"></i> {{ "FEE_CENTER.RECORD_SAME" | translate }}
    </p>
    <p ng-if="FeeCenterForm.$submitted && FeeCenterForm.$invalid" class="text-danger">
      <i class="fa fa-exclamation-triangle"></i> {{ "FORM.ERRORS.RECORD_ERROR" | translate }}
    </p>

    <button id="feeCenter-cancel" type="button" class="btn btn-default" ng-click="FeeCenterModalCtrl.closeModal()">
      <i class="fa fa-ban"></i> {{ 'FORM.BUTTONS.CANCEL' | translate }}
    </button>

    <bh-loading-button loading-state="FeeCenterForm.$loading">
      <i class="fa fa-ok"></i> {{ 'FORM.BUTTONS.SUBMIT' | translate }}
    </bh-loading-button>
  </div>
</form>
