<div class="flex-header static">
  <div class="bhima-title">
    <ol class="headercrumb">
      <li class="static" translate>TREE.FINANCE</li>
      <li class="title" translate>TREE.CASH_PAYMENT_REGISTRY</li>
    </ol>

    <div class="toolbar">
      <div class="toolbar-item">
        <button
          ng-click="CPRCtrl.search()"
          data-method="search"
          class="btn btn-default">
          <i class="fa fa-search"></i> <span translate>FORM.BUTTONS.SEARCH</span>
        </button>
      </div>
      <div class="toolbar-item">
        <bh-pdf-print
          pdf-url="/reports/finance/cash"
          options="CPRCtrl.filters"
          disable-cache="true">
        </bh-pdf-print>
      </div>

      <div class="toolbar-item">
        <bh-renderer-dropdown
          report-url="/reports/finance/cash"
          report-options="CPRCtrl.filters">
        </bh-renderer-dropdown>
      </div>
    </div>
  </div>
</div>

<div class="flex-util bh-filter-bar" ng-show="CPRCtrl.filtersFmt.length > 0">
  <bh-filters-applied
    style="max-width:90%"
    filters="CPRCtrl.filtersFmt"
    on-remove-filter="CPRCtrl.onRemoveFilter(filter)">
  </bh-filters-applied>

  <a href
    ng-if="CPRCtrl.filter.customFiltersApplied(CPRCtrl.filters.identifiers)"
    ng-click="CPRCtrl.clearFilters()"
    class="text-danger"
    data-method="clear">
    <i class="fa fa-close text-danger"></i>
    <span translate>FORM.INFO.CLEAR_FILTERS</span>
  </a>
</div>

<!-- content  -->
<div class="flex-content">
  <div class="container-fluid">
    <div
      id="payment-registry"
      class="grid-full-height"
      ng-style="CPRCtrl.filterBarHeight"
      ui-grid="CPRCtrl.gridOptions"
      ui-grid-auto-resize
      ui-grid-resize-columns>

      <bh-grid-loading-indicator
        loading-state="CPRCtrl.loading"
        empty-state="CPRCtrl.gridOptions.data.length === 0"
        error-state="CPRCtrl.hasError">
      </bh-grid-loading-indicator>
    </div>
  </div>
</div>
