<div class="flex-header">
  <div class="bhima-title">
    <ol class="headercrumb">
      <li class="static">{{ "TREE.FINANCE" | translate }}</li>
      <li class="title">
        {{ "TREE.POSTED_JOURNAL" | translate }}
      </li>
    </ol>

    <div class="toolbar">
      <div class="toolbar-item">
        <button class="btn btn-default" data-method="configure" ng-click="GeneralLedgerCtrl.openColumnConfigModal()">
          <i class="fa fa-cogs"></i> {{ "FORM.BUTTONS.CONFIGURE" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>

<div class="flex-content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">

        <div
          id="generalLedger-grid"
          class="grid-full-height"
          ui-grid="GeneralLedgerCtrl.gridOptions"
          ui-grid-auto-resize
          ui-grid-resize-columns
          ui-grid-move-columns
          ui-grid-cellNav
          ui-grid-grouping>

          <bh-grid-loading-indicator
            loading-state="GeneralLedgerCtrl.loading"
            empty-state="GeneralLedgerCtrl.gridOptions.data.length === 0"
            error-state="GeneralLedgerCtrl.hasError"
          >
          </bh-grid-loading-indicator>

        </div>
      </div>
    </div>
  </div>
</div>

