<div class="modal-content" ng-controller="accountFormController">
  <div class="modal-header">
    <h3>New Account</h3>
  </div>
  <div class="modal-body">
    <form role="form" class="form-horizontal" name="accountForm" bh-form-defaults novalidate>
      <div class="form-group">
        <label class="col-xs-2 control-label" for="coa-accn">Account Number:</label>
        <div class="col-xs-10">
          <input
            class="form-control"
            placeholder="e.g. 100000"
            type="number"
            ng-model="account.number"
            id="coa-accn"
            required
          >
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-2 control-label" for="coa-acctxt">Account Text:</label>
        <div class="col-xs-10">
          <input
            class="form-control"
            placeholder="e.g. Capital Social"
            ng-model="account.label"
            id="coa-acctxt"
            required
          >
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-2 control-label" for="coa-acctype">Account Type:</label>
        <div class="col-xs-10">
          <select
            class="form-control"
            ng-model="account.type_id"
            ng-options="a.id as a.type for a in types"
            id="coa-acctype"
            required
            >
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-2">
          <label class="control-label">
            Locked:
          </label>
        </div>
        <div class="col-xs-10">
          <div class="checkbox">
            <label>
              <input
                type="checkbox"
                value="1"
                model="account.locked"
                id="coa-locked"
                required
              >
              Locked?
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-2">
          <label class="control-label">
            Class:
          </label>
        </div>
        <div class="col-xs-10">
          <div class="radio">
            <label>
              <input
                type="radio"
                name="fixed"
                value="1"
                model="account.fixed"
              >
              Fixed
            </label>
          </div>
          <div class="radio">
            <label>
              <input
                type="radio"
                name="fixed"
                value="0"
                model="account.fixed"
              >
              Variable
            </label>
          </div>
        </div>
      </div>
    </form>
    <div class="alert alert-danger" ng-show="invalid">
      <b>Error:</b> The form is invalid and cannot be submitted in it's present form.
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" ng-click="close()">Close</button>
    <button class="btn btn-primary" ng-click="submit()">Save changes</button>
  </div>
</div>
