<!-- This template is taken from https://raw.githubusercontent.com/angular-ui/ui-grid/master/src/templates/ui-grid/ui-grid-row.html -->
<!-- Extended to factor in title account formatting -->
<div
  ng-repeat="(colRenderIndex, col) in colContainer.renderedColumns track by col.uid"
  ui-grid-one-bind-id-grid="rowRenderIndex + '-' + col.uid + '-cell'"
  class="ui-grid-cell"
  ng-class="{ 'ui-grid-row-header-cell': col.isRowHeader, 'text-clear' : row.entity.type_id !== grid.appScope.Constants.accounts.TITLE }"
  data-vals="{{col.isRowHeader}}"
  role="{{col.isRowHeader ? 'rowheader' : 'gridcell'}}"
  ui-grid-cell>
</div>

