<div class="modal-header">
  <h4>{{ 'PERMISSIONS.SET_PASSWORD' | translate }}</h4>
</div>

<form class="modal-body" name="PasswordForm" ng-submit="ModalCtrl.submit(PasswordForm.$invalid)">
  <div class="form-group has-feedback" ng-class="{ 'has-error' : PasswordForm.$submitted && !ModalCtrl.validPassword() }">
    <label class="control-label">{{ "FORM.LABELS.PASSWORD" | translate }}</label>
    <input name="password" ng-model="ModalCtrl.user.password" class="form-control" type="password" required>
    <i ng-if="!ModalCtrl.validPassword()" class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></i>
    <i ng-if="ModalCtrl.validPassword()" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></i>
  </div>

  <div class="form-group has-feedback" ng-class="{ 'has-error' : PasswordForm.$submitted && !ModalCtrl.validPassword() }">
    <label class="control-label"> {{ "FORM.LABELS.PASSWORD" | translate }} ({{ "FORM.LABELS.RETYPE" | translate }})</label>
    <input name="passwordVerify" ng-model="ModalCtrl.user.passwordVerify" class="form-control" type="password" required>
    <i ng-if="!ModalCtrl.validPassword()" class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></i>
    <i ng-if="ModalCtrl.validPassword()" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></i>
    <p class="help-block" ng-if="PasswordForm.$submitted && !ModalCtrl.validPassword()">
      The passwords must match!
    </p>
  </div>
</form>

<div class="modal-footer">
  <button type="submit" class="btn btn-sm btn-success" ng-click="ModalCtrl.submit()">{{ "FORM.BUTTONS.SUBMIT" | translate }}</button>
  <button type="button" class="btn btn-sm btn-default" ng-click="ModalCtrl.cancel()">{{ "FORM.BUTTONS.CANCEL" | translate }}</button>
</div>
