<!doctype html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>BHIMA</title>
  <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">
  <link rel="icon" href="assets/favicon.ico" type="image/x-icon">

  <!-- Compiled bootstrap style definition -->
  <!-- <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.css"> -->
  <link rel="stylesheet" href="css/bhima-bootstrap.css">

  <link rel="stylesheet" href="vendor/angular-ui-grid/ui-grid.min.css">

  <link rel="stylesheet" href="css/style.min.css">

  <!-- UI Grid CSS --> 
  <link rel="stylesheet" href="vendor/angular-ui-grid/ui-grid.min.css">
</head>
<body ng-app="bhima" ng-strict-di>

<!--not required in placeholder rewrite -->
<div ng-controller="ApplicationController as AppCtrl">

  <!-- sidebar definition -->
  <div class="container sidebar hidden-print">
    <div class="row" id="logo">
      <h2><a href="#/"><img src="assets/icon.png" width="100" height="100"></a></h2>
    </div>

    <div class="row" id="bhima-tree" ng-controller="TreeController" ng-if="AppCtrl.isLoggedIn()">
      <div data-angular-treeview="true" data-tree-id="navtree" data-tree-model="treeData" data-node-id="id" data-node-label="key" data-node-children="children"></div>
    </div>

   <div class="row" id="bhima-util" ng-controller="UtilController as UtilCtrl" ng-if="AppCtrl.isLoggedIn()">
      <div class="btn-group-justified">
        <a ng-click="UtilCtrl.openSettings()" type="button" class="btn btn-default">
          <span class="glyphicon glyphicon-cog"></span>
        </a>
        <a tabindex="-1" name="logout" type="button" class="btn btn-default" ng-click="UtilCtrl.logout()">
          <span class="glyphicon glyphicon-log-out"></span>
        </a>
      </div>
    </div>
  </div>

  <!-- FIXME: required for printing to work properly... -->
  <span class="visible-print">
    <span class="invisible">.</span>
  </span>

  <div class="hidden-print">
    <div ng-controller="message" class="message-container" id="msg-box">

      <div class="message message-{{message.type}}" ng-repeat="message in messages track by $index" ng-cloak>
        <div ng-if="!message.error">
          <h4>[{{ message.namespace }}] {{ message.title }} <a class="action pull-right" ng-if="message.closable" ng-click="close(message.id)"><span class="glyphicon glyphicon-remove-circle"></span></a></h4>
          <div>
            {{ message.description }}
          </div>
        </div>

        <div ng-if="message.error">
          <h4>[{{ message.namespace }}] {{ message.title }} <a class="action pull-right" ng-if="message.closable" ng-click="close(message.id)"><span class="error glyphicon glyphicon-remove-circle"></span></a></h4>
          <div ng-if="!!message.statusText">
            <!-- TODO : This should be translated -->
            <b>Status Code</b>
            <span>{{ message.status }} - "{{ message.statusText }}"</span>
          </div>
          <div>
            <b>Description</b>
            <div>{{ message.description }}</div>
          </div>
          <div ng-if="message.params">
            <table class="parameter-table">
              <thead>
                <tr>
                  <th colspan="2">Parameters</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="(k,v) in message.params">
                  <th>{{ k }}</th>
                  <td>{{ v }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="viewport">
    <div ng-view class="view"></div>
  </div>
</div>

<!-- scripts loaded in body to prevent page from 'hanging'-->
<!--jquery-->
<script src="vendor/jquery/dist/jquery.min.js"></script>
<script src="vendor/jquery-ui.min/index.js"></script>

<!-- localforage -->
<script src="vendor/localforage/dist/localforage.min.js"></script>

<!--slickgrid (required modules)-->
<script src="vendor/slickgrid/bhima.slickgrid.js"></script>

<!--angular-->
<script src="vendor/angular/angular.min.js"></script>
<script src="vendor/angular-route/angular-route.js"></script>

<!-- angular-chart-->
<script src="vendor/Chart.js/Chart.min.js"></script>
<script src="vendor/angular-chart.js/dist/angular-chart.min.js"></script>

<!-- UI Grid -->
<script src="vendor/angular-ui-grid/ui-grid.min.js"></script>

<!--i18n-->
<script src="vendor/angular-translate/angular-translate.min.js"></script>
<script src="vendor/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
<script src="vendor/angular-translate-loader-url/angular-translate-loader-url.min.js"></script>

<!--locale-->
<script src="vendor/angular-dynamic-locale/dist/tmhDynamicLocale.js"></script>

<!-- ng-file-upload -->
<script src="vendor/ng-file-upload/ng-file-upload.min.js"></script>

<!--lib-->
<script src="vendor/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="vendor/angular-localforage/dist/angular-localForage.min.js"></script>

<!-- UI Grid -->
<script src="vendor/angular-ui-grid/ui-grid.min.js"></script>


<!-- BHIMA -->
<script src="js/bhima.min.js"></script>

</body>
</html>
