<div class="panel panel-default">

  <div class="panel-heading">
    {{ "EXCHANGE.TITLE" | translate }}
  </div>

  <div class="panel-body" style="height : 315px; overflow : hidden">

    <!-- show a loading indicator while loading -->
    <p
      ng-if="ExchangeCtrl.loading"
      class="text-muted text-center">
      <i class="fa fa-circle-o-notch fa-spin"></i>
      {{ "FORM.INFO.LOADING" | translate }}
    </p>

    <!-- button to set a new exchange rate -->
    <button class="btn btn-default btn-block" ng-click="ExchangeCtrl.setNewExchangeRate()">
      <i class="fa fa-balance-scale"></i>
      {{ "FORM.BUTTONS.UPDATE" | translate }} {{ "EXCHANGE.EXCHANGE_RATES" | translate }}
    </button>

    <!-- show a warning if no rates exist -->
    <p
      ng-if="!ExchangeCtrl.loading && ExchangeCtrl.rates.length === 0"
      class="text-warning">
      <span class="fa fa-warning"></span>
      {{ "EXCHANGE.ADD_EXCHANGE" | translate }}
    </p>

    <br />

    <p>{{ "EXCHANGE.ENTERPRISE_CURRENCY" | translate}}: <i>{{ ExchangeCtrl.formatCurrency(ExchangeCtrl.enterpriseCurrencyId) }}</i></p>

    <ul class="list-unstyled">
      <li data-exchange-rate-element ng-repeat="rate in ExchangeCtrl.rates | orderBy:'-date'">
        <i class="fa fa-clock-o"></i> <b>{{ rate.rate }} {{ ExchangeCtrl.formatCurrency(rate.currency_id) }} </b> {{ "EXCHANGE.RATE_SET" | translate }} <span am-time-ago="rate.date"></span>.
        <br />
        <span class="icon-spacer text-muted"><i>{{rate.date | date : 'medium'}}</i></span>
      </li>
    </ul>
  </div>
</div>
