<div class="flex-header">
  <div class="bhima-title">
    <ol class="headercrumb">
      <li class="static">{{ "TREE.FINANCE" | translate }}</li>
      <li class="title">{{ "JOURNAL_VOUCHER.TITLE" | translate }}</li>
    </ol>
  </div>
</div>

<div class="flex-util" ng-show="JournalVoucherCtrl.hasCachedForm">
  <button type="button" class="btn btn-sm btn-success" ng-click="JournalVoucherCtrl.loadCachedForm()">
    {{ "JOURNAL_VOUCHER.LOAD_CACHED_FORM" | translate }}
  </button>
</div>


<div class="flex-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <i class="glyphicon glyphicon-list-alt"></i>
            {{ "JOURNAL_VOUCHER.TITLE" | translate }}
          </div>


          <form class="form-horizontal" name="VoucherForm" class="voucher-form" ng-submit="JournalVoucherCtrl.submitForm()" novalidate>

            <div class="panel-body">

              <div class="form-group" ng-class="{ 'has-error' : VoucherForm.description.$invalid && VoucherForm.description.$dirty }">
                  <label class="control-label col-md-2">{{ "COLUMNS.DESCRIPTION" | translate }}</label>
                  <div class="col-md-10">
                    <input type="text" class="form-control" name="description" ng-model="JournalVoucherCtrl.master.description" required>
                    <p ng-show="VoucherForm.description.$invalid && VoucherForm.description.$dirty" class="help-block">
                      {{ "ERROR.ERR_NO_DESCRIPTION" | translate }} <!-- A description is required. -->
                    </p>
                  </div>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : VoucherForm.date.$invalid && VoucherForm.date.$dirty }">
                  <label class="control-label col-md-2">{{ "COLUMNS.DATE" | translate }}</label>
                  <div class="input-group col-md-10">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    <input type="date" class="form-control" name="date" ng-model="JournalVoucherCtrl.master.date" ng-max="{{ JournalVoucherCtrl.today }}" max="{{ JournalVoucherCtrl.today | date:'yyyy-MM-dd' }}"required>
                  </div>
                  <p ng-show="VoucherForm.date.$invalid && VoucherForm.date.$dirty" class="help-block col-md-offset-2" style="padding-top:30px;">
                    {{ "ERROR.ERR_NO_DATE" | translate }} <!-- A date is required. -->
                  </p>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : VoucherForm.currencyId.$invalid && VoucherForm.currencyId.$dirty }">
                  <label class="control-label col-md-2">{{ "COLUMNS.CURRENCY" | translate }}</label>
                  <div class="col-md-10">
                    <select class="form-control" name="currencyId" ng-model="JournalVoucherCtrl.master.currencyId" ng-options="currency.id as currency.symbol for currency in JournalVoucherCtrl.currencies" required>
                      <option value="" disabled>-- {{ "SELECT.CURRENCY" | translate }} --</option>
                    </select>
                    <p ng-show="VoucherForm.currencyId.$invalid && VoucherForm.currencyId.$dirty" class="help-block">
                      {{ "ERROR.ERR_NO_CURRENCY" | translate }} <!-- The currency is required. -->
                    </p>
                  </div>
                </div>

                <div class="form-group" ng-if="JournalVoucherCtrl.showComment">
                  <label class="control-label col-md-2">{{ "COLUMNS.COMMENT" | translate }}</label>
                  <div class="col-md-10">
                    <input class="form-control" name="comment" ng-model="JournalVoucherCtrl.master.comment">
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-2">
                    {{ "COLUMNS.REFERENCE" | translate }}
                  </label>
                  <div class="col-md-10">
                    <div class="input-group">
                      <input type="text" class="form-control" name="documentId" ng-model="JournalVoucherCtrl.master.documentId" ng-dblclick="JournalVoucherCtrl.openReferenceLookupModal()">
                      <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="JournalVoucherCtrl.openReferenceLookupModal()" type="button">
                          <span class="glyphicon glyphicon-search"></span>
                        </button>
                      </span>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="form-control-static col-md-5"  ng-if="!JournalVoucherCtrl.showComment">
                    <a ng-click="JournalVoucherCtrl.toggleComment()"> <i class="glyphicon glyphicon-plus-sign"></i>
                      <b>{{ "JOURNAL_VOUCHER.ADD_COMMENT" | translate }}</b>
                    </a>
                  </div>
                </div>

                <table class="table table-condensed" ng-controller="JournalVoucherTableController as TableCtrl">
                  <thead>
                    <tr>
                      <th style="width:50%">{{ "COLUMNS.ACCOUNT" | translate }}</th>
                      <th>{{ "COLUMNS.DEBIT" | translate }}</th>
                      <th>{{ "COLUMNS.CREDIT" | translate }}</th>
                      <th>{{ "COLUMNS.COST_CENTER" | translate }}</th>
                      <th>{{ "COLUMNS.PROFIT_CENTER" | translate }}</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="row in TableCtrl.rows">
                      <td>
                        <div class="input-group">
                          <span class="input-group-btn">
                            <a class="btn btn-sm btn-default" ng-click="TableCtrl.toggleAccountSwitch(row)">
                              <i class="glyphicon" ng-class="{ 'glyphicon-user' : row.selectAccount, 'glyphicon-th-list': !row.selectAccount }"></i>
                            </a>
                          </span>

                          <input
                            class="form-control"
                            ng-if="row.selectAccount"
                            ng-model="row.account"
                            typeahead="account as TableCtrl.fmtAccount(account) for account in TableCtrl.accounts | filter:$viewValue | limitTo:20"
                            typeahead-on-select="TableCtrl.setAccount(row)"
                            typeahead-template-url="accountListItem.tmpl.html"
                            placeholder="{{ 'SELECT.ACCOUNT' | translate }}"
                          >

                          <div ng-switch="row.deb_cred_type" ng-if="!row.selectAccount">

                            <input
                              class="form-control"
                              ng-switch-when='D'
                              ng-model="row.entity"
                              typeahead="debtor as debtor.text for debtor in TableCtrl.debtors | filter:$viewValue | limitTo:20"
                              typeahead-on-select="TableCtrl.setDebtorOrCreditor(row)"
                              typeahead-template-url="entityListItem.tmpl.html"
                              placeholder="{{ 'SELECT.DEB_CRED' | translate }}"
                            >

                            <input
                              class="form-control"
                              ng-switch-when='C'
                              ng-model="row.entity"
                              typeahead="creditor as creditor.text for creditor in TableCtrl.creditors | filter:$viewValue | limitTo:20"
                              typeahead-on-select="TableCtrl.setDebtorOrCreditor(row)"
                              typeahead-template-url="entityListItem.tmpl.html"
                              placeholder="{{ 'SELECT.DEB_CRED' | translate }}"
                            >
                          </div>

                          <span uib-dropdown class="input-group-btn dropdown" ng-if="!row.selectAccount">
                            <a uib-dropdown-toggle class="btn btn-sm btn-default dropdown-toggle">
                              {{ row.deb_cred_type | uppercase }}
                              <span class="caret" data-caret="&#9660;"></span>
                            </a>
                            <ul class="uib-dropdown-menu">
                              <li><a ng-click="TableCtrl.setDebtorOrCreditorType(row, 'D')">{{ "COLUMNS.DEBTOR" | translate }}</a></li>
                              <li><a ng-click="TableCtrl.setDebtorOrCreditorType(row, 'C')">{{ "COLUMNS.CREDITOR" | translate }}</a></li>
                            </ul>
                          </span>
                        </div>
                      </td>
                      <td><input type="number" class="form-invoice" min="0" placeholder="0.00" ng-model="row.debit" ng-change="TableCtrl.totalDebit()" ng-disabled="row.credit>0"></td>
                      <td><input type="number" class="form-invoice" min="0" placeholder="0.00" ng-model="row.credit" ng-change="TableCtrl.totalCredit()" ng-disabled="row.debit>0"></td>

                      <!-- select a cost center -->
                      <td>
                        <select class="form-control" ng-model="row.cc_id" ng-options="cc.id as cc.text for cc in TableCtrl.costcenters">
                          <option value="">{{ "SELECT.NONE" | translate }}</option>
                        </select>
                      </td>

                      <!-- select a profit center -->
                      <td>
                        <select class="form-control" ng-model="row.pc_id" ng-options="pc.id as pc.text for pc in TableCtrl.profitcenters">
                          <option value="">{{ "SELECT.NONE" | translate }}</option>
                        </select>
                      </td>

                      <td><a ng-click="TableCtrl.removeRow($index)" class="danger" ng-if="TableCtrl.rows.length > 2"><i class="glyphicon glyphicon-trash"></i></a></td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>{{TableCtrl.totals.debits | currency:VoucherForm.currencyId.$modelValue}}</td>
                      <td colspan="3">{{TableCtrl.totals.credits | currency:VoucherForm.currencyId.$modelValue}}</td>
                      <td><i class="glyphicon" ng-class="{ 'glyphicon-ok-circle text-success' : TableCtrl.totals.credits === TableCtrl.totals.debits, 'glyphicon-ban-circle text-danger': TableCtrl.totals.credits !== TableCtrl.totals.debits }"></i></td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <th colspan="6">
                        <a ng-click="TableCtrl.addRow()">
                          <i class="glyphicon glyphicon-plus-sign"></i>
                          {{ "JOURNAL_VOUCHER.ADD_ROW" | translate }}
                        </a>
                      </th>
                    <tr>

                    <tr>
                      <th colspan="6" class="text-center">
                        <p class="help-block" ng-if="JournalVoucherCtrl.clientTableError && !JournalVoucherCtrl.serverSuccessMessage">
                          <span class="text-danger">
                            <i class="glyphicon glyphicon-exclamation-sign"></i>
                            {{ "ERROR.ERR_TRANSACTION_FORMAT" | translate }}
                            <!-- The transaction doesn't look correctly formatted.  Did you forget an account? -->
                          </span>
                        </p>
                        <p class="help-block text-danger" ng-if="JournalVoucherCtrl.serverFailureMessage">
                          <span class="text-danger">
                            <i class="glyphicon glyphicon-exclamation-sign text-danger"></i>
                            {{ JournalVoucherCtrl.serverFailureMessage | translate }}
                          </span>
                        </p>
                        <p class="help-block" ng-if="JournalVoucherCtrl.serverSuccessMessage">
                          <span class="text-success">
                            <i class="glyphicon glyphicon-ok"></i>
                            {{ JournalVoucherCtrl.serverSuccessMessage | translate }}
                            <!-- Post Successful! -->
                          </span>
                        </p>
                      </th>
                    <tr>
                  </tfoot>
                </table>
              </div>

              <div class="panel-footer">
                <div class="row">
                  <div class="col-sm-offset-10">
                    <button type="submit" class="btn btn-sm btn-primary" ng-disabled="VoucherForm.$invalid">
                      {{ 'FORM.SUBMIT' | translate }}
                    </button>
                  </div>
                </div>
              </div>
            </form> <!-- end of form -->
          </div>
        </div>

        <div class="col-md-4">
          <div class="alert alert-info">
            <h4>{{ "JOURNAL_VOUCHER.TITLE" | translate }}</h4>
            <p>{{ "JOURNAL_VOUCHER.DESCRIPTION_LONG" | translate }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
