<form name="provinceForm" bh-submit="ModalCtrl.submit(provinceForm)" novalidate>
  <div class="modal-header">
    <ol class="headercrumb">
      <li>
        <span translate>PROVINCE.TITLE</span>

        <label class="label label-warning text-uppercase" translate>
          {{ModalCtrl.action}}
        </label>
      </li>
    </ol>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group" ng-class="{ 'has-error' : provinceForm.$submitted && provinceForm.country.$invalid }">
          <label class="control-label" translate> FORM.LABELS.COUNTRY </label>
          <select class="form-control" 
            name="country"
            ng-model="ModalCtrl.province.country_uuid"
            id="country"
            ng-options="c.uuid as c.name for c in ModalCtrl.countries | orderBy:'name'" required>
            <option  value="" disabled translate>FORM.PLACEHOLDERS.COUNTRY</option>
          </select>
          <div class="help-block" ng-messages="provinceForm.country.$error" ng-show="provinceForm.$submitted">
            <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
          </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : provinceForm.$submitted && provinceForm.province.$invalid }">
          <label class="control-label" translate> FORM.LABELS.PROVINCE </label>
          <input type="text" placeholder="{{ 'FORM.PLACEHOLDERS.PROVINCE' | translate }}" autocomplete="off"
            ng-maxlength="ModalCtrl.provinceLength" class="form-control" name="province"
            ng-model="ModalCtrl.province.name" required>
          <div class="help-block" ng-messages="provinceForm.province.$error" ng-show="provinceForm.$submitted">
            <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" data-method="cancel" class="btn btn-default" ng-click="ModalCtrl.close()" translate>
        FORM.BUTTONS.CANCEL
      </button>

      <bh-loading-button loading-state="provinceForm.$loading">
      </bh-loading-button>
    </div>
</form>