# ignore editor-specific working files
*.swp,*.swo,*.swn,.idea/

# ignore all compressed files
*.gz, *.xz, *.zip

# ignore bad file types.  These should never be version-controlled
*.pdf, *.doc, *.docx, *.odt, *.xls, *.xlsx

# ignore npm/node modules
node_modules/
.npm-debug.log
npm-debug.log

# ignore bower installation target
client/vendor/

# ignore built files
/*client/js/controllers/*/
/*client/src/js/controllers/*/
bin/*

# ignore PDF reports
/server/controllers/reports_proposed/out/

# ignore the upload folder
client/src/upload/

# ignore configuration
.env.production
.env.development
integrations.log

#ignore the tmp file

/utilities/tmp/

#ignore webstorm files

.idea/*
