# ignore editor-specific working files
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
.idea/*
*~

# ignore all compressed files
*.gz, *.xz, *.zip

# ignore bad file types.  These should never be version-controlled
*.pdf, *.doc, *.docx, *.odt, *.xls, *.xlsx

# ignore npm/node modules
node_modules/
npm-debug.log

# ignore bower installation target
client/vendor/

# ignore built files
bin/

# ignore the upload folder
client/src/upload/
test/artifacts/

# ignore configuration
.env.production
