sudo: required
dist: trusty

before_install:
  - export DISPLAY=:99.0
  - export CHROME_BIN=/usr/bin/google-chrome
  - sudo apt-get update -qq
  - sudo apt-get install -qq mysql-server-5.6 mysql-client-5.6 mysql-client-core-5.6 libcairo2-dev libjpeg8-dev libpango1.0-dev libgif-dev build-essential g++
  - sudo apt-get install -qq wkhtmltopdf
  - sh -e /etc/init.d/xvfb start
  - wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
  - sudo dpkg -i google-chrome*.deb

services:
  - mysql
  - redis-server


language: node_js
node_js:
  - node
  - '5'
  - '4'

before_script:
  - bash sh/install.sh
  - npm run lint

script:
  - bash sh/deploy.sh
  - sleep 5
  - ./node_modules/.bin/mocha test/integration/
  - ./node_modules/.bin/karma start --single-run
  - bash sh/install.sh
  - ./node_modules/.bin/webdriver-manager update
  - sleep 2
  - ./node_modules/.bin/protractor protractor.conf.js

git:
  depth: 3

before_cache:
  - rm -f npm-debug.log

addons:
  artifacts:
    s3_region: "eu-central-1"
    debug: true
    paths:
      - $(ls /var/log/*.log | tr "\n" ":")
      - $(ls $HOME/test/artifacts/ | tr "\n" ":")

