sudo: false
language: node_js
node_js:
  - "node"
  - "iojs"
  - "4.1"
  - "4.0"
  - "0.12"
  - "0.11"
  - "0.10"

before_script:
  - npm install -g gulp bower
  - bower install
  - mysql -u root -e "CREATE DATABASE bhima;"
  - mysql -u root -e "CREATE USER 'bhima'@'localhost' IDENTIFIED BY 'HISCongo2013';"
  - mysql -u root -e "GRANT ALL PRIVILEGES ON *.* TO 'bhima'@'localhost' WITH GRANT OPTION;"
  - mysql -u root bhima < server/models/schema.sql

cache:
  directories:
    - node_modules/
    - client/vendor

before_cache:
  - rm -f npm-debug.log
