sudo: required
dist: trusty

before_install:
  - export CHROME_BIN=/usr/bin/google-chrome
  - "/sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :99 -ac -screen 0 1280x1024x16"
  - jdk_switcher use oraclejdk8
  - sudo apt-get update -qq
  - sudo apt-get install -qq mysql-server-5.6 mysql-client-5.6 mysql-client-core-5.6 wkhtmltopdf
  - wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
  - sudo dpkg -i google-chrome*.deb

services:
  - mysql
  - redis-server

language: node_js
node_js:
  - "6"
  - "7"

before_script:
  - "export DISPLAY=:99.0"
  - "sh sh/install.sh"
  - npm run lint

script:
  - sh sh/deploy.sh
  - sleep 3
  - ./node_modules/.bin/mocha test/integration/
  - ./node_modules/.bin/karma start --single-run
  - sh sh/install.sh
  - ./node_modules/.bin/webdriver-manager update
  - sleep 3
  - ./node_modules/.bin/protractor protractor.conf.js

git:
  depth: 1

before_cache:
  - rm -f npm-debug.log
