<form  name="ModalForm" ng-submit="ModalCtrl.submit(ModalForm.$invalid)" autocomplete="off" autocapitalize="off" autocorrect="off" novalidate>
  <div class="modal-header">
    <h4>{{ 'PRICE_LIST.PRICE_LIST_ITEMS' | translate }}</h4>
  </div>

  <div class="modal-body">

    <div class="form-group" ng-class="{ 'has-error' : ModalForm.$submitted && ModalForm.label.$invalid }">
      <label class="control-label">{{ 'FORM.LABELS.DESIGNATION' | translate }}</label>
      <input type="text" class="form-control" name="label" ng-maxlength="ModalCtrl.length250" ng-model="ModalCtrl.data.label" required>
      <div class="help-block" ng-messages="ModalForm.label.$error" ng-show="ModalForm.$submitted">
        <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
      </div>      
    </div>

    <div class="form-group" ng-class="{ 'has-error' : ModalForm.$submitted && ModalForm.value.$invalid }">
      <label class="control-label">{{ 'FORM.LABELS.VALUE' | translate }}</label>
      <input type="number" class="form-control" name="value" ng-model="ModalCtrl.data.value" required>
      <div class="help-block" ng-messages="ModalForm.value.$error" ng-show="ModalForm.$submitted">
        <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
      </div>      
    </div>

    <div class="form-group" ng-class="{ 'has-error' : ModalForm.$submitted && ModalForm.is_percentage.$invalid }">
      <label class="control-label">
        <input type="checkbox"  name="is_percentage" id="is_percentage" ng-true-value="1" ng-false-value="0" ng-model="ModalCtrl.data.is_percentage">  {{ 'FORM.LABELS.IS_PERCENT' | translate }}
      </label>  
    </div>

    <div class="form-group" ng-class="{ 'has-error' : ModalForm.$submitted && ModalForm.inventory_uuid.$invalid }">
      <label class="control-label">{{ "FORM.LABELS.INVENTORY" | translate }}</label>
      <select class="form-control" name="inventory_uuid" ng-model="ModalCtrl.data.inventory_uuid" id="inventory_uuid" ng-options="i.uuid as i.label for i in ModalCtrl.inventories | orderBy:'label'" required>
        <option value="" disabled> -- {{ 'FORM.SELECTS.SELECT_INVENTORY' | translate }} -- </option>
      </select>
      <div class="help-block" ng-messages="ModalForm.inventory_uuid.$error" ng-show="ModalForm.$submitted">
        <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
      </div>      
    </div>

  </div>

  <div class="modal-footer">
    <button class="btn btn-default" id="submit-price-list" type="submit" data-method="submit">
      {{ "FORM.BUTTONS.ADD" | translate }}
    </button>
    <button type="button" class="btn btn-default" ng-click="ModalCtrl.cancel()">{{ "FORM.BUTTONS.CANCEL" | translate }}</button>
  </div>
</form>
