<div class="flex-header">
  <div class="bhima-title">
    <ol class="headercrumb">
      <li class="static">{{ "TREE.ADMIN" | translate }}</li>
      <li class="active">{{ "PRICE_LIST.TITLE" | translate }}</li>
    </ol>
  </div>
</div>

<div class="flex-util">
  <button class="btn btn-sm btn-default" id="create" ng-click="PriceListCtrl.create()" data-method="create">
    <span class="glyphicon glyphicon-plus-sign"></span> {{ "PRICE_LIST.NEW" | translate }}
  </button>
</div>


<div class="flex-content">
  <div class="container-fluid">
    <div class="row">

      <div class="col-xs-6">
        <div class="panel panel-default" style="overflow: auto; max-height: 500px;">
          <div class="panel-heading">
            {{ "PRICE_LIST.LISTS" | translate }}
          </div>

          <table class="table table-condensed">
            <thead>
              <tr>
                <th>{{ "COLUMNS.DESCRIPTION" | translate }}</th>
                <th colspan="3" style="width: 20%;">{{ "COLUMNS.ACTION" | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-class="{'rowSelected' : PriceListCtrl.priceList.uuid === list.uuid}" ng-repeat="list in PriceListCtrl.priceLists | orderBy:'label'">
                <td> {{ list.label }} </td>
                <td><a class="btn btn-xs btn-default" id="price_list_{{ $index+1 }}" ng-click="PriceListCtrl.update(list)"><i class="glyphicon glyphicon-pencil white"></i></a></td>
                <td><a class="btn btn-xs btn-default" id="price_delete_{{ $index+1 }}" ng-click="PriceListCtrl.del(list)" ><i class="glyphicon glyphicon-trash white"></i></a></td>
              </tr>
              <tr ng-if="PriceListCtrl.priceList.data.length===0">
                <td colspan=2><i>{{ 'PRICE_LIST.NO_RECORDS' | translate }}</i></tr>
              </tr>            
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-xs-6" ng-switch="PriceListCtrl.view">
        <div ng-switch-default>
          <div class="alert alert-info" id="default">
            <h4>{{ "PRICE_LIST.TITLE" | translate }}</h4>
            <p>{{ "PRICE_LIST.HELP_TXT_1" | translate }}</p>
            <ul style="list-style-type: none; padding-left: 15px;">
              <li><i class="glyphicon glyphicon-pencil"></i> {{ "PRICE_LIST.HELP_TXT_2" | translate }}</li>
              <li><i class="glyphicon glyphicon-trash"></i> {{ "PRICE_LIST.HELP_TXT_3" | translate }}</li>
            </ul>      
          </div>
        </div>

        <div ng-switch-when="create_success">
          <div class="alert alert-success" id="create_success">
            <h4>{{ 'PRICE_LIST.SAVE_SUCCESS' | translate }} </h4>
            </p>
          </div>
        </div>

        <div ng-switch-when="update_success">
          <div class="alert alert-success" id="update_success">
            <h4>{{ 'PRICE_LIST.UPDATE_SUCCESS' | translate }} </h4>
            </p>
          </div>
        </div>

        <div ng-switch-when="delete_success">
          <div class="alert alert-success" id="delete_success">
            <h4>{{ 'PRICE_LIST.DELETE_SUCCESS' | translate }} </h4>
            </p>
          </div>
        </div>

        <div ng-switch-when="delete_error">
          <div class="alert alert-danger" id="delete_error">
            <h4>{{ PriceListCtrl.HTTPError.data.code | translate }} </h4>
            </p>
          </div>
        </div>

        <div class="panel panel-primary" ng-switch-when="create">
          <div class="panel-heading">{{ "PRICE_LIST.ADD" | translate }}</div>
          <div class="panel-body">
            <form class="panel-body" name="CreateForm" ng-submit="PriceListCtrl.submit(CreateForm.$invalid)" novalidate>

              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.label.$invalid }">
                <label class="control-label">{{ 'COLUMNS.DESIGNATION' | translate }}</label>
                <input type="text" class="form-control" name="label" ng-model="PriceListCtrl.priceList.label" required>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.description.$invalid }">
                <label class="control-label" for="description">{{ 'COLUMNS.DESCRIPTION' | translate }}</label>
                <textarea class="form-control" id="description" ng-model="PriceListCtrl.priceList.description" rows="3"></textarea>
              </div>
              
              <hr>
              <div class="form-group">
                  <a class="btn btn-xs btn-default" id="add_item" ng-click="PriceListCtrl.addItem()">
                    <span class="glyphicon glyphicon-plus"></span>{{'PRICE_LIST.ADD_ITEMS' | translate}}
                  </a>
              </div> 

              <table class="table table-condensed">
                <thead>
                  <tr>
                    <th>{{ "COLUMNS.DESCRIPTION" | translate }}</th>
                    <th>{{ "COLUMNS.VALUE" | translate }}</th>
                    <th>{{ "COLUMNS.PERCENT" | translate }}</th>
                    <th>{{ "COLUMNS.INVENTORY" | translate }}</th>
                    <th colspan="6">{{ "COLUMNS.ACTION" | translate }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="item in PriceListCtrl.pricelistItems | orderBy:'label'">
                    <td> {{ item.label }} </td>
                    <td> {{ item.value }} </td>
                    <td> <span class="glyphicon" ng-class="{'glyphicon-ok' : !!item.is_percentage}"> </td>
                    <td> {{ PriceListCtrl.getInventory(item.inventory_uuid) }} </td>
                    <td colspan="6"><a class="btn btn-xs btn-default" id="remove_item_{{$index+1}}" ng-click="PriceListCtrl.removeItem(item)" ><i class="glyphicon glyphicon-trash white"></i></a></td>
                  </tr> 
                </tbody>
              </table>              
              <hr>

              <div class="form-group">
                <button class="btn btn-default" id="submit-priceList" type="submit" data-method="submit">
                  {{ "FORM.SUBMIT" | translate }}
                </button>
                <button class="btn btn-default" type="button" ng-click="PriceListCtrl.cancel()" data-method="cancel">
                  {{ "FORM.CANCEL" | translate }}
                </button>
              </div>
            </form>
          </div>        
        </div>

        <div class="panel panel-primary" ng-switch-when="update">
          <div class="panel-heading">{{ 'PRICE_LIST.UPDATE' | translate }}</div>
          <div class="panel-body">
            <form class="panel-body" name="UpdateForm" ng-submit="PriceListCtrl.submit(UpdateForm.$invalid)" novalidate>

              <div class="form-group" ng-class="{ 'has-error' : UpdateForm.$submitted && UpdateForm.label.$invalid }">
                <label class="control-label">{{ 'COLUMNS.DESIGNATION' | translate }}</label>
                <input type="text" class="form-control" name="label" ng-model="PriceListCtrl.priceList.label" required>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : UpdateForm.$submitted && UpdateForm.description.$invalid }">
                <label class="control-label" for="description">{{ 'COLUMNS.DESCRIPTION' | translate }}</label>
                <textarea class="form-control" id="description" ng-model="PriceListCtrl.priceList.description" rows="3"></textarea>
              </div>

              
              <hr>
              <div class="form-group">
                  <a class="btn btn-xs btn-default" id="add_item" ng-click="PriceListCtrl.addItem()">
                    <span class="glyphicon glyphicon-plus"></span>{{'PRICE_LIST.ADD_ITEMS' | translate}}
                  </a>
              </div>            
              <table class="table table-condensed">
                <thead>
                  <tr>
                    <th>{{ "COLUMNS.DESCRIPTION" | translate }}</th>
                    <th>{{ "COLUMNS.VALUE" | translate }}</th>
                    <th>{{ "COLUMNS.PERCENT" | translate }}</th>
                    <th>{{ "COLUMNS.INVENTORY" | translate }}</th>
                    <th colspan="6">{{ "COLUMNS.ACTION" | translate }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="item in PriceListCtrl.pricelistItems | orderBy:'label'">
                    <td> {{ item.label }} </td>
                    <td> {{ item.value }} </td>
                    <td> <span class="glyphicon" ng-class="{'glyphicon-ok' : !!item.is_percentage}"> </td>
                    <td> {{ PriceListCtrl.getInventory(item.inventory_uuid) }} </td>
                    <td colspan="6"><a class="btn btn-xs btn-default" id="remove_item_{{$index+1}}" ng-click="PriceListCtrl.removeItem(item)" ><i class="glyphicon glyphicon-trash white"></i></a></td>
                  </tr> 
                </tbody>
              </table>              
              <hr>

              <div class="form-group">
                <button class="btn btn-default" id="change_priceList" type="submit" data-method="submit">
                  {{ "FORM.SUBMIT" | translate }}
                </button>
                <button class="btn btn-default" type="button" ng-click="PriceListCtrl.cancel()" data-method="cancel">
                  {{ "FORM.CANCEL" | translate }}
                </button>
              </div>
            </form>
          </div>        
        </div>
      </div>
    </div>
  </div>  
</div>