<div class="flex-header">
  <div class="bhima-title">
    <ol class="headercrumb">
      <li class="static">{{ "TREE.ACCOUNTING" | translate }}</li>
      <li class="active">{{ "SECTION_RESULTAT.TITLE" | translate }}</li>
    </ol>
  </div>
</div>

<!-- Links to the Section Resultat Chart as well as the button for adding an sectionResultat -->
<div class="flex-util">
  <button ng-click="sectionResultatCtrl.create()" class="btn btn-default btn-sm" data-method="create">
    <span class="glyphicon glyphicon-plus-sign"></span> {{ "SECTION_RESULTAT.ADD_SECTION_RESULTAT" | translate }}
  </button>
</div>


<div class="flex-content">
  <div class="container-fluid">
    <div class="row">
      <!-- Complete list of registred Section Resultat -->
      <div class="col-xs-7">
        <div class="panel panel-default" style="overflow: auto; max-height: 500px;">
          <div class="panel-heading">
            {{ "SECTION_RESULTAT.ALL" | translate }}
          </div>

          <table class="table table-condensed">
            <thead>
              <tr>
                <th>{{ "TABLE.COLUMNS.NR" | translate }}</th>
                <th>{{ "TABLE.COLUMNS.TEXT" | translate }}</th>
                <th>{{ "TABLE.COLUMNS.POSITION" | translate }}</th>
                <th></th>
                <th colspan="2">{{ "TABLE.COLUMNS.ACTION" | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-if="sectionResultatCtrl.session.loading" class="text-center">
                <td colspan="6"><loading-indicator></loading-indicator></td>
              </tr>
              <tr 
              ng-repeat="sectionResultat in sectionResultatCtrl.sectionResultats | orderBy:'number' | orderBy:'text' " 
              ng-class="{'rowSelected' : sectionResultatCtrl.sectionResultat.id === sectionResultat.id}" >
                <td>{{ $index+1 }}</td>
                <td>{{ sectionResultat.text }}</td>
                <td>{{sectionResultat.position}}</td>
                <td>                  
                  <b ng-show="sectionResultat.is_charge">{{sectionResultatCtrl.doTranslate('TABLE.COLUMNS.CHARGE')}}</b>
                  <b ng-show="!sectionResultat.is_charge">{{sectionResultatCtrl.doTranslate('TABLE.COLUMNS.PROFIT')}}</b>
                </td>
                <td><a class="btn btn-xs btn-default" id="sectionResultat-upd-{{$index+1}}" ng-click="sectionResultatCtrl.update(sectionResultat)"><span class="glyphicon glyphicon-pencil"></span></a></td>
                <td><a class="btn btn-xs btn-default" id="sectionResultat-del-{{$index+1}}" ng-click="sectionResultatCtrl.del(sectionResultat)"><span class="glyphicon glyphicon-trash"></span></a></td>
              </tr>
              <tr ng-if="!sectionResultatCtrl.sectionResultats.length">
                <td colspan="6">{{ "SECTION_RESULTAT.NO_SECTION_RESULTAT" | translate }}</td>
              </tr> 

            </tbody>
          </table>
        </div>
      </div>

      <div class="col-xs-5" ng-switch="sectionResultatCtrl.view">
        <div ng-switch-default>
          <div class="alert alert-info">
            <h4>{{ "SECTION_RESULTAT.TITLE" | translate }}</h4>
            <p>{{ "SECTION_RESULTAT.ALERT" | translate }}</p>
          </div>
        </div>

        <!-- Success saving Feed Back -->
        <div ng-switch-when="create_success">
          <div class="alert alert-success" id="create_success">
            <h4>{{ 'FORM.INFOS.SAVE_SUCCESS' | translate }}</h4>
          </div>
        </div>

        <!-- Success updating feedBack -->
        <div ng-switch-when="update_success">
          <div class="alert alert-success" id="update_success">
            <h4>{{ 'FORM.INFOS.UPDATE_SUCCESS' | translate }}</h4>
          </div>
        </div>

        <div ng-switch-when="delete_success">
          <div class="alert alert-success" id="delete_success">
            <h4>{{ 'FORM.INFOS.DELETE_SUCCESS' | translate }}</h4>
          </div>
        </div>

        <div ng-switch-when="delete_error">
          <div class="alert alert-danger" id="delete_error">
            <h4>{{ sectionResultatCtrl.HTTPError.data.code | translate }} </h4>
          </div>
        </div>        

        <!-- Form for adding sectionResultat -->
        <div class="panel panel-primary" ng-switch-when="create">
          <div class="panel-heading">{{ "SECTION_RESULTAT.NEW" | translate }}</div>
          <div class="panel-body">
            <form class="panel-body" name="CreateForm" ng-submit="sectionResultatCtrl.submit(CreateForm)" autocomplete="off" autocapitalize="off" autocorrect="off" novalidate>
            
              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.text.$invalid }">
                <label class="control-label">{{ "FORM.LABELS.NAME" | translate }}</label>
                <input type="text" class="form-control" name="text" ng-model="sectionResultatCtrl.sectionResultat.text" required>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.is_charge.$invalid }">
                <div class="radio">
                  <label class="control-label">
                    <input type="radio" name="is_charge" required ng-value=1 ng-model="sectionResultatCtrl.sectionResultat.is_charge" >
                    {{ "FORM.LABELS.CHARGE" | translate }}
                  </label>
                </div>
                <div class="radio">
                  <label class="control-label">
                    <input type="radio" name="is_charge" required ng-value=0 ng-model="sectionResultatCtrl.sectionResultat.is_charge" >
                    {{ "FORM.LABELS.PROFIT" | translate }}
                  </label>
                </div>
              </div>
              <hr>

              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.position.$invalid }">
                <label class="control-label">{{ "FORM.LABELS.POSITION" | translate }}</label>
                <input type="number" class="form-control"  min="0" name="position" ng-model="sectionResultatCtrl.sectionResultat.position" required>
              </div>

              <div class="form-group">
                <button class="btn btn-default" id="submit-sectionResultat" type="submit" data-method="submit">
                  {{ "FORM.BUTTONS.SAVE" | translate }}
                </button>
                <button class="btn btn-default" type="button" ng-click="sectionResultatCtrl.cancel()" data-method="cancel">
                  {{ "FORM.BUTTONS.RESET" | translate }}
                </button>
              </div>
            </form>
          </div>        
        </div>

        <!-- Form for updating sectionResultat -->
        <div class="panel panel-primary" ng-switch-when="update">
          <div class="panel-heading">{{ 'SECTION_RESULTAT.EDIT' | translate }} </b> </div>
          <div class="panel-body">
            <form class="panel-body" name="UpdateForm" ng-submit="sectionResultatCtrl.submit(UpdateForm)" autocomplete="off" autocapitalize="off" autocorrect="off" novalidate>

              <div class="form-group" ng-class="{ 'has-error' : UpdateForm.$submitted && UpdateForm.text.$invalid }">
                <label class="control-label">{{ "FORM.LABELS.NAME" | translate }}</label>
                <input type="text" class="form-control" name="text" ng-model="sectionResultatCtrl.sectionResultat.text" required>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : UpdateForm.$submitted && UpdateForm.is_charge.$invalid }">
                <div class="radio">
                  <label class="control-label">
                    <input type="radio" name="is_charge" required ng-value=1 ng-model="sectionResultatCtrl.sectionResultat.is_charge" >
                    {{ "FORM.LABELS.CHARGE" | translate }}
                  </label>
                </div>
                <div class="radio">
                  <label class="control-label">
                    <input type="radio" name="is_charge" required ng-value=0 ng-model="sectionResultatCtrl.sectionResultat.is_charge" >
                    {{ "FORM.LABELS.PROFIT" | translate }}
                  </label>
                </div>
              </div>
              <hr>

              <div class="form-group" ng-class="{ 'has-error' : UpdateForm.$submitted && UpdateForm.position.$invalid }">
                <label class="control-label">{{ "FORM.LABELS.POSITION" | translate }}</label>
                <input type="number" class="form-control"  min="0" name="position" ng-model="sectionResultatCtrl.sectionResultat.position" required>
              </div>

              <div class="form-group">
                <button class="btn btn-default" id="change_sectionResultat" type="submit" data-method="submit">
                  {{ "FORM.BUTTONS.SAVE" | translate }}
                </button>
                <button class="btn btn-default" type="button" ng-click="sectionResultatCtrl.cancel()" data-method="cancel">
                  {{ "FORM.BUTTONS.RESET" | translate }}
                </button>
              </div>
              
            </form>
          </div>         
        </div>

      </div>
    </div>
  </div>  
</div>