<div>
 <ui-select
   ng-model="row.entity.account_id"
   ng-change="grid.appScope.Voucher.configureRow(row.entity)"
   name="account"
   append-to-body="true"
   required>
   <ui-select-match placeholder="{{ 'FORM.PLACEHOLDERS.ACCOUNT' | translate }}">
     <strong>{{$select.selected.number}}</strong> <span>{{$select.selected.label}}</span>
   </ui-select-match>
   <ui-select-choices
     class="ui-grid-ui-select"
     ui-select-focus-patch
     ui-disable-choice="account.type_id === grid.appScope.bhConstants.accounts.TITLE"
     repeat="account.id as account in grid.appScope.Voucher.accounts | filter: { 'hrlabel' : $select.search } track by account.id">
     <strong ng-bind-html="account.number | highlight:$select.search"></strong>
     <span ng-bind-html="account.label | highlight:$select.search"></span>
   </ui-select-choices>
 </ui-select>
</div>
