<div class="ui-grid-cell-contents text-center" uib-dropdown dropdown-append-to-body>
  <a uib-dropdown-toggle href>
    <span data-method="action" translate>FORM.BUTTONS.ACTIONS</span>
    <span class="caret"></span>
  </a>

  <ul data-action="{{rowRenderIndex}}"  class="dropdown-menu-right" bh-dropdown-menu-auto-dropup uib-dropdown-menu>
    <li> 
      <a data-method="config" ui-sref="multiple_payroll_indice.config({uuid : row.entity.employee_uuid})" href>
        <i class="fa fa-cog"></i> <span translate>FORM.BUTTONS.CONFIGURE</span>
      </a>
    </li>
    <li ng-if="row.entity.status_id > 1"> 
      <a data-method="payslip" ng-click="grid.appScope.paySlip(row.entity)" href>
        <i class="fa fa-file-text-o"></i> <span translate>FORM.BUTTONS.PAYSLIP</span>
      </a>
    </li>
  </ul>
</div>