<form name="PasswordForm" bh-submit="UsersPasswordModalCtrl.submit(PasswordForm)" bh-form-defaults novalidate>
  <div class="modal-header">
    <h4>{{ 'USERS.SET_PASSWORD' | translate }}</h4>
  </div>

  <div class="modal-body">
    <div class="form-group has-feedback" ng-class="{ 'has-error' : PasswordForm.$submitted && (PasswordForm.password.$invalid || !UsersPasswordModalCtrl.validPassword())}">
      <label class="control-label">{{ "FORM.LABELS.PASSWORD" | translate }}</label>
      <input name="password" ng-model="UsersPasswordModalCtrl.user.password" class="form-control" type="password" required>
      <i ng-if="PasswordForm.$submitted && (!UsersPasswordModalCtrl.validPassword()|| PasswordForm.password.$invalid)" class="fa fa-exclamation-triangle form-control-feedback" aria-hidden="true"></i>
      <i ng-if="PasswordForm.$submitted && (UsersPasswordModalCtrl.validPassword() || !PasswordForm.password.$invalid)" class="fa fa-check-circle form-control-feedback" aria-hidden="true"></i>

    </div>

    <div class="form-group has-feedback" ng-class="{ 'has-error' : PasswordForm.$submitted && (PasswordForm.passwordVerify.$invalid || !UsersPasswordModalCtrl.validPassword()) }">
        <label class="control-label"> {{ "FORM.LABELS.PASSWORD" | translate }} ({{ "FORM.LABELS.RETYPE" | translate }})</label>
        <input name="passwordVerify" ng-model="UsersPasswordModalCtrl.user.passwordVerify" class="form-control" type="password" required>
        <i ng-if="PasswordForm.$submitted && (!UsersPasswordModalCtrl.validPassword()|| PasswordForm.passwordVerify.$invalid)" class="fa fa-exclamation-triangle form-control-feedback" aria-hidden="true"></i>
        <i ng-if="PasswordForm.$submitted && (UsersPasswordModalCtrl.validPassword() || !PasswordForm.passwordVerify.$invalid)" class="fa fa-check-circle form-control-feedback" aria-hidden="true"></i>
        <p class="help-block" ng-if="PasswordForm.$submitted && !UsersPasswordModalCtrl.validPassword()">
          {{ "FORM.VALIDATION.PASSWORD_MATCH" | translate }}
        </p>
        <div class="help-block" ng-messages="PasswordForm.passwordVerify.$error" ng-show="PasswordForm.$submitted">
          <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
        </div>
      </div>
  </div>

  <div class="modal-footer">
    <button
      id="password-cancel" type="button"
      class="btn btn-default" ng-click="UsersPasswordModalCtrl.cancel()">
      {{ "FORM.BUTTONS.CANCEL" | translate }}
    </button>

    <bh-loading-button id="password-submit">
      {{ "FORM.BUTTONS.SUBMIT" | translate }}
    </bh-loading-button>
  </div>
</form>
