<body>
  <table>
    <thead>
      <tr>
        <th>EMPLOYEE-NAME</th>
        <th>IMA WORLD HEALTH</th>
        <th>CALENDRIER ECLESSIASTIQUE</th>
        <th>KONG KONNEKTION</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td>LOMAME</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
        <tr>
          <td>INGANGEMA</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
        <tr>
          <td>BRUNO SAMARTINO</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
        <tr>
          <td>EDDY GUERRERO</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
    </tbody>
</body>