<div class="panel panel-default dash-panel" ng-controller="CashFlowChartController as ChartCtrl">
  <div class="panel-heading">
    {{ "DASHBOARD.FINANCE.CASHFLOW" | translate }}
    <span class="pull-right" style="margin : 0 5px;">
      {{ "CHART.GROUPING.TITLE" | translate }}:
      <select ng-model="ChartCtrl.group" ng-options="group as ChartCtrl.fmt(group.key) for group in ChartCtrl.grouping track by group.key" ng-change="ChartCtrl.refresh()"></select>
    </span>
    <span class="pull-right" style="margin : 0 5px;">
      {{ "DASHBOARD.FINANCE.CURRENCY" | translate }}:
      <select ng-model="ChartCtrl.currencyId" ng-options="currency.id as currency.symbol for currency in ChartCtrl.currencies" ng-change="ChartCtrl.refresh()"></select>
    </span>
    <span class="pull-right" style="margin : 0 5px;">
      {{ "DASHBOARD.FINANCE.CASHBOX" | translate }}:
      <select ng-model="ChartCtrl.cashBoxId" ng-options="cash.id as cash.text for cash in ChartCtrl.cashBoxes" ng-change="ChartCtrl.refresh()"></select>
    </span>
  </div>
  <table class="table table-bordered table-condensed">
    <tbody>
      <tr>
        <td>
          <span style="margin: 0 5px;"><b><i class="glyphicon glyphicon-transactions"></i> {{ "COLUMNS.TRANSACTIONS" | translate }}</b>: {{ ChartCtrl.meta.transactions }}</span>
          <span style="margin: 0 5px;" class="text-success"><b><i class="glyphicon glyphicon-chevron-up"></i> {{ "COLUMNS.INCOME" | translate }}</b>: {{ ChartCtrl.meta.debit | currency }}</span>
          <span style="margin: 0 5px;" class="text-danger"><b><i class="glyphicon glyphicon-chevron-down"></i> {{ "COLUMNS.EXPENSE" | translate }}</b>: {{ ChartCtrl.meta.credit | currency }}</span>
          <span style="margin: 0 5px;" class="text-info"><b><i class="glyphicon glyphicon-transfer"></i> {{ "COLUMNS.BALANCE" | translate }}</b>: {{ ChartCtrl.meta.balance | currency }}</span>
          <span class="pull-right">
            <label>
              <input ng-model="ChartCtrl.hasPostingJournal" type="checkbox" ng-change="ChartCtrl.refresh()" ng-true-value="1" ng-false-value="0" />
              {{ "DASHBOARD.FINANCE.HASPOSTINGJOURNAL" | translate }}
            </label>
          </span>
        </td>
      </tr>
      <tr>
      </tr>
    </tbody>
  </table>
  <div class="panel-body">
    <canvas id="cashflow-bar"
      class="chart chart-bar"
      data="ChartCtrl.chart.data"
      options="ChartCtrl.chart.options"
      series="ChartCtrl.chart.series"
      labels="ChartCtrl.chart.labels"
      colours="ChartCtrl.chart.colors">
    </canvas>
  </div>
</div>
