<header data-header>
  {{ "OFFDAY_MANAGEMENT.TITLE" | translate }}
</header>

<nav>
  <div class="pull-left">
    <ol class="breadcrumb">
      <li><a href="#/"><span class="glyphicon glyphicon-home"></span></a></li>
      <li class="active">{{ "OFFDAY_MANAGEMENT.TITLE" | translate }}</li>
    </ol>
  </div>

  <div class="pull-right">
    <button class="btn btn-sm btn-default" ng-click="OffdayCtrl.new()">
      <span class="glyphicon glyphicon-plus-sign"></span>
      {{ "OFFDAY_MANAGEMENT.ADD" | translate }}
    </button>
  </div>
</nav>

<main>
  <div class="row margin-top-10">

    <div class="col-xs-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-time"></span>
          {{ "OFFDAY_MANAGEMENT.REGISTERED" | translate }}
        </div>
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>{{ "COLUMNS.NR" | translate}}</th>
              <th>{{ "COLUMNS.OFFDAYS" | translate}}</th>
              <th>{{ "COLUMNS.DATE" | translate}}</th>
              <th>{{ "COLUMNS.PERCENT_PAY" | translate}}</th>
              <th colspan="4" style="max-width: 20%;">{{ "COLUMNS.ACTIONS" | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="offday in OffdayCtrl.offdays.data | orderBy:$index">
              <td>{{$index + 1}}</td>
              <td>{{ offday.label }}</td>
              <td>{{ offday.date | date}}</td>
              <td>{{ offday.percent_pay }} %</td>
              <td><a class="action" ng-click="OffdayCtrl.edit(offday)"><span class="glyphicon glyphicon-pencil"></span></a></td>
              <td><a class="action danger" ng-click="OffdayCtrl.delete(offday)"><span class="glyphicon glyphicon-trash"></span></a></td>
            </tr>
            <tr ng-if="!OffdayCtrl.offdays.data.length">
              <td colspan="4">{{ "OFFDAY_MANAGEMENT.NO_OFFDAY" | translate }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-xs-6" ng-switch="OffdayCtrl.session.action">
      <div class="alert alert-info" ng-switch-default>
        <h4>{{ "OFFDAY_MANAGEMENT.TITLE" | translate }}</h4>
        <p>{{ "OFFDAY_MANAGEMENT.ALERT" | translate }}</p>
      </div>

      <div ng-switch-when="new">
        <form novalidate class="form-horizontal" name="new">
          <legend><h3>{{ "OFFDAY_MANAGEMENT.NEW_OFFDAY" | translate }} </h3></legend>

          <div class="form-group">
            <label class="control-label col-xs-3 required">{{ "COLUMNS.OFFDAYS" | translate }}</label>
            <div class="col-xs-8">
              <input ng-model="OffdayCtrl.session.new.label" class="form-bhima" required>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-3 required">{{ "COLUMNS.DATE" | translate }}</label>
            <div class="col-xs-8">
              <input type="date" ng-model="OffdayCtrl.session.new.date" class="form-bhima" required>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-3 required">{{ "COLUMNS.PERCENT_PAY" | translate }}</label>
            <div class="col-xs-8">
              <input ng-model="OffdayCtrl.session.new.percent_pay" class="form-bhima" required>
            </div>
          </div>

          <div class="form-group">
            <input type="submit" ng-disabled="new.$invalid"  class="btn btn-sm btn-success" value="{{ 'FORM.SUBMIT' | translate }}" ng-click="OffdayCtrl.save.new()">
            <input type="reset" class="btn btn-sm btn-default" value="{{ 'FORM.RESET' | translate }}" ng-click="OffdayCtrl.reset()">
          </div>
        </form>
      </div>

      <div ng-switch-when="edit">
        <form novalidate class="form-horizontal" name="edit">
          <legend><h3>{{ "OFFDAY_MANAGEMENT.UPDATE" | translate }} </h3></legend>

          <div class="form-group">
            <label class="control-label col-xs-3 required">{{ "COLUMNS.OFFDAYS" | translate }}</label>
            <div class="col-xs-8">
              <input ng-model="OffdayCtrl.session.edit.label" class="form-bhima" required>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-3 required">{{ "COLUMNS.DATE" | translate }}</label>
            <div class="col-xs-8">
              <input required class="form-bhima"  ng-model="OffdayCtrl.session.edit.date" type="date">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-3 required">{{ "COLUMNS.PERCENT_PAY" | translate }}</label>
            <div class="col-xs-8">
              <input ng-model="OffdayCtrl.session.edit.percent_pay" class="form-bhima" required>
            </div>
          </div>

          <div class="form-group">
            <input type="submit" ng-disabled="edit.$invalid" class="btn btn-sm btn-success" value="{{ 'FORM.SUBMIT' | translate }}" ng-click="OffdayCtrl.save.edit()">
            <input type="reset" class="btn btn-sm btn-default" value="{{ 'FORM.RESET' | translate }}" ng-click="OffdayCtrl.reset()">
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
