<header data-header>
  {{ "SERVICE_RETURN_STOCK.TITLE" | translate }}
</header>

<nav>
  <div class="pull-left">
    <ol class="breadcrumb" style="float: right;">
      <li><a href="#/"><span class="glyphicon glyphicon-home"></span></a></li>
      <li><a tabindex="-1" href="#/depots/">{{ "DEPOT.MAIN.TITLE" | translate }}</a></li>
      <li class="active">{{ "STOCK.RETURN_SERVICE.KEY" | translate }}</li>
    </ol>
  </div>

  <div class="pull-right" style="margin-top:1px;">
    <span class="btn" style="margin-left:7px;">
    <b>[{{ ReturnCtrl.session.depot.reference }}]</b> {{ ReturnCtrl.session.depot.text }}
    </span>
    <button class="btn btn-default btn-sm"
      ng-if="ReturnCtrl.session.integrationStarted"
      ng-click="ReturnCtrl.reset()">
      <span class="glyphicon glyphicon-repeat"></span>
      {{ "UTIL.RESET" | translate }}
    </button>
  </div>
</nav>

<main class="extend margin-top-10">

  <div ng-switch="ReturnCtrl.session.step">
    <!-- default -->
    <div
      ng-switch-default
      class="panel panel-default">
      <div class="panel-heading">
        <span class="glyphicon glyphicon-th"></span>
        {{'STOCK.RETURN_SERVICE.KEY' | translate }}
      </div>

      <div class="panel-body">
        <form name="serviceForm" novalidate>
          <div class="form-group">

            <h3 class="text-center"><strong>{{ ReturnCtrl.session.depot.text }}</strong></h3>

            <label class="required">{{'DISTRIBUTION_SERVICE.CHOOSE' | translate }}</label>
            <select class="form-bhima"
              ng-model="ReturnCtrl.service"
              ng-options="service as service.name for service in ReturnCtrl.services.data | orderBy:'name'"
              required>
              <option value="" disabled>-- {{ 'SELECT.SERVICE' | translate }} --</option>
            </select>
          </div>

          <div class="form-group">
            <label>{{ 'COLUMNS.DESCRIPTION' | translate }}</label>
            <input class="form-bhima" type="text" ng-model="ReturnCtrl.description" placeholder="{{ 'COLUMNS.DESCRIPTION' | translate }} ...">
          </div>

          <div class="form-group text-center">
            <button class="btn btn-success btn-lg"
              ng-disabled="!ReturnCtrl.service"
              ng-click="ReturnCtrl.startingReturnProcess()">
              {{ 'UTIL.START' | translate }}
            </button>
          </div>
        </form>
      </div>
    </div>
    <!-- end default -->

    <!-- select inventories -->
    <div ng-switch-when="select_inventories">

      <div class="row">
        <div class="col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading square">
              <span class="glyphicon glyphicon-list"></span> {{ 'STOCK.INTEGRATION.ITEMS' | translate }}
              <a ng-class="{'disabled' : !ReturnCtrl.session.integrationStarted}" class="pull-right menu-item" ng-click="ReturnCtrl.addStockItem()" style="margin-top: 0px">
                <span class="glyphicon glyphicon&#45;plus"></span> {{ "STOCK.INTEGRATION.ITEMS" | translate }}</a>
            </div>

            <table class='table table-condensed' ng-if="ReturnCtrl.session.integrationStarted">
              <thead>
                <tr>
                  <th>{{ "DONATION_MANAGEMENT.ITEM" | translate }}</th>
                  <th>{{ "COLUMNS.DESCRIPTION" | translate }}</th>
                  <th>{{ "COLUMNS.LOT_NUMBER" | translate }}</th>
                  <th>{{ "COLUMNS.EXPIRATION_DATE" | translate }}</th>
                  <th>{{ "COLUMNS.QTY" | translate }}</th>
                  <th>{{ "COLUMNS.PURCHASE_PRICE" | translate }}</th>
                  <th>{{ "COLUMNS.AMOUNT" | translate }}</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                <!-- FIXME: strange filter -->
                <tr ng-class="{'incomplete-outline': !stockItem.isValidStock, 'complete-outline': stockItem.isValidStock}"
                ng-repeat="stockItem in ReturnCtrl.session.stocks">

                  <td>
                    <input
                    class="form-invoice"
                    type="text"
                    typeahead-template-url="invoiceListItem.html"
                    ng-model="stockItem.selectedInventory"
                    typeahead="inventoryItem as inventoryItem.code for inventoryItem in ReturnCtrl.inventory.data | filter:$viewValue | limitTo:15"
                    typeahead-on-select="ReturnCtrl.updateStockItem(stockItem, stockItem.selectedInventory)"
                    placeholder="Search Inventory">
                  </td>

                  <td>
                    <input ng-show="stockItem.isSet" class="form-invoice" disabled value="{{stockItem.text}}">
                  </td>

                  <td>
                    <input
                    ng-show="stockItem.isSet"
                    class="form-invoice"
                    value="{{stockItem.lot_number}}"
                    ng-model="stockItem.lot_number"
                    ng-change="ReturnCtrl.isValidLine(stockItem)"
                    required>
                  </td>

                  <td>
                    <input ng-show="stockItem.isSet" class="form-invoice" type="date" ng-model="stockItem.expiration_date" ng-change="ReturnCtrl.isValidLine(stockItem)">
                  </td>

                  <td>
                    <input type="number" ng-change="ReturnCtrl.isValidLine(stockItem)" ng-show="stockItem.isSet" class="form-invoice" ng-model="stockItem.quantity">
                  </td>

                  <td>
                    <input ng-show="stockItem.isSet" class="form-invoice" ng-model="stockItem.purchase_price" ng-change="ReturnCtrl.isValidLine(stockItem)">
                  </td>

                  <td>
                    <input ng-show="stockItem.isSet" class="form-invoice" disabled value="{{stockItem.quantity * stockItem.purchase_price | currency}}">
                  </td>

                  <td>
                    <span ng-if="stockItem.isSet && !stockItem.isValidStock" class="text-warning">
                      <i class="glyphicon glyphicon-warning-sign"></i>
                    </span>
                  </td>

                  <td>
                    <a ng-click="ReturnCtrl.removeStockItem($index)">
                      <span class="glyphicon glyphicon-trash"></span>
                    </a>
                  </td>
                </tr>

                <tr>
                  <!-- Style hack -->
                  <td colspan="6" style="margin-right = 50px; text-align: right;">
                    <b> {{ "UTIL.TOTAL" | translate }}</b>
                  </td>
                  <td colspan="3">
                    <b>{{ ReturnCtrl.session.total | currency }}</b>
                  </td>
                </tr>
              </tbody>
            </table>

            <div class="panel-footer">
              <div class="form-group">
                <button class="btn btn-success pull-right"
                  ng-disabled="!ReturnCtrl.isPassed()"
                  ng-click="ReturnCtrl.preview()">
                  {{ "SERVICE_RETURN_STOCK.PREVIEW" | translate }}
                </button>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- fin select inventories -->

    <!-- preview -->
    <div ng-switch-when="preview_inventories">

      <div class="row">
        <div class="col-xs-12">
          <div class="panel panel-default">
            <table class="table table-condensed">
              <thead>
                <tr>
                  <th style="width:3%;"><span class="glyphicon glyphicon-th"></span></th>
                  <th>{{ "COLUMNS.ITEM" | translate }}</th>
                  <th>{{ "COLUMNS.DESCRIPTION" | translate }}</th>
                  <th>{{ "COLUMNS.LOT_NUMBER" | translate }}</th>
                  <th>{{ "COLUMNS.EXPIRATION_DATE" | translate }}</th>
                  <th>{{ "COLUMNS.QTY" | translate }}</th>
                  <th>{{ "COLUMNS.PURCHASE_PRICE" | translate }}</th>
                  <th>{{ "COLUMNS.AMOUNT" | translate }}</th>
                  <th style="width:3%;">{{ "COLUMNS.ACTIONS" | translate }}</th>
                </tr>
              </thead>
              <tbody ng-repeat="stockItem in ReturnCtrl.session.stocks | orderBy:'code'">
                <tr>
                  <td></td>
                  <td>{{ stockItem.code }}</td>
                  <td>{{ stockItem.text }}</td>
                  <td>{{ stockItem.lot_number }}</td>
                  <td>{{ stockItem.expiration_date | date }}</td>
                  <td>{{ stockItem.quantity }}</td>
                  <td>{{ stockItem.purchase_price | currency }}</td>
                  <td>{{ stockItem.quantity * stockItem.purchase_price | currency }}</td>
                  <td>
                    <div ng-show="stockItem.isValidStock" class="pull-right">
                      <span class="correct glyphicon glyphicon-ok-circle"></span>
                    </div>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th colspan="7">{{ "COLUMNS.TOTAL" | translate }}</th>
                  <th colspan="2">{{ ReturnCtrl.session.total | currency}}</th>
                </tr>
              </tfoot>
            </table>

            <div class="panel-footer">
              <div class="form-group">
                <button class="btn btn-default pull-left" ng-click="ReturnCtrl.goback()">
                  <span class="glyphicon glyphicon-arrow-left"></span>
                  {{ "SERVICE_RETURN_STOCK.BACK" | translate }}
                </button>

                <button class="btn btn-success pull-right" ng-click="ReturnCtrl.integrate()">
                  {{ "SERVICE_RETURN_STOCK.SUBMIT" | translate }}
                  <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- fin preview -->
  </div>

</main>

<script type="text/ng-template" id="invoiceListItem.html">
  <a>
    <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
    <span><i>{{match.model.text}}</i></span>
  </a>
</script>
