.report {
  position : absolute;
  top      : 85px;
  left     : 0;
  right    : 0;
  bottom   : 0;
  overflow : auto;
}

.reportTable {
  border     : 1px solid #9F9F9F;  /*hack*/
  border-top : 0;
  width      : 100%;
  /* page-break-inside : auto; */
}

.reportTable tr {
  /* page-break-inside: avoid; */
  /* page-break-after: auto; */
}

.reportTable thead > tr > th {
  border       : 1px solid #9F9F9F;
  padding-left : 5px;
}

.reportTable tbody > tr > td {
  border         : 1px solid #9F9F9F;
  vertical-align : center;
  padding: 0px 5px;
}

.reportTitle {
  font-size   : 110%;
  font-weight : bold;
  color: #333;
  background-color: #f3f3f3;
}

.reportBody {
  padding     : 10px;
  background  : #f3f3f3;
  min-height  : 100%;
}

.reportFrame {
  padding    : 10px;
  border     : 1px solid #DDD;
  background : white;
  overflow-y : auto;
  overflow-x : hidden;
  margin-bottom: 50px;
}
