/* 
 * Sidebar 
 */
.sidebar { 
  width : 56px;
  min-width : 56px;
  position : absolute;
}

.sidebar-container { 
  position : absolute; 
  top : 0;
  bottom : 0;
  width : 56px;
  height : 100vh;
  background-color : #f5f5f5;
  border-right : 1px solid #ccc;
}

.expanded .sidebar-container { 
  width : 260px;
}

.sidebar-body { 
  position : absolute;
  top : 0;
  bottom : 96px;
  width : 100%;
  overflow-x : hidden;
  padding : 0;
}

/* This is unequivocally a hack - pre flex days */
.expanded .sidebar-body { 
  bottom : 48px;
}

.expanded .sidebar-group {
  height : calc(100vh - 100px);
}
/* 
 * Sidebar Header 
 */
.sidebar-header { 
  margin-top : 5px;
  margin-left : 0;
  margin-right : 0;
  padding-bottom : 0;
}

.header-content { 
  table-layout : auto;
  width : 100%;
  border-spacing : 0;
}

.header-image {
  position : relative;
  width : auto;
  
  /* text-align : center; */
  text-align : left;
  vertical-align : top;
  margin : 0;
  padding : 0;
}

.expanded .header-image { 
  position : absolute;
  width : 1px;
  white-space : nowrap;
}

.app-logo { 
  position : relative;
  display : inline-block;
}

.logo-container { 
  height : 40px;
  width : 40px;
  margin : 0 0 0 8px;
  vertical-align : top;
}

.header-title { 
  display : none;
  

  /* min-height : 59px; */
  /* vertical-align : middle; */
  margin : 0;
  padding : 0;
  text-align : left;
  
  /* padding-top : 4px; */
}

.expanded .header-title { 
  display : block;
  padding-left : 55px;
  min-height : 40px;
}

.header-title > h4 { 
  text-transform : uppercase;  
  white-space : nowrap;
  text-overflow : ellipsis;
  overflow : hidden;
  
  margin : 0;
  padding : 0;

}

.title-container { 
  display : table-cell;
  text-align : left;
  margin : 0;
  vertical-align : top;
  padding : 0;
  white-space : nowrap;
}

.title-content { 
  overflow : hidden;
  text-overflow : ellipsis;
  display : block;

  /* Should be done using flex container*/
  padding-top : 12px;
  padding-bottom : 8px;
  color : #505050;
  text-decoration : none;
  cursor : pointer;
}

.title-content:hover { 
  text-decoration : none;
  cursor : pointer;
  color : #505050;
}

.title-wrap { 
  display : table;
  border-spacing : 0;
  table-layout : fixed;
  width : 100%;
  white-space : nowrap;
}

/* .expanded .sidebar-header { */ 
/*   margin-left : 10px; */
/*   margin-right : 10px; */
/* } */


/* 
 * Sidebar Navigation 
 */

/* Sidebar Footer 
 */


/*
 * TODO 
 * Change of heart - decided to start investigating flex - this could 
 * potentially be used for the sidebar  
/* 
 * Page Header
 */
div.flex-header { 

  /* margin-left : 56px; */
}

.expanded div.flex-header { 
  /* margin-left : 260px; */
}

.flex-header { 
  
  
  /* width : calc(100% - 56px); */
  display : flex;

  -webkit-box-orient : vertical;
  -webkit-box-direction : normal;
  flex-direction : column;
  
  flex-wrap : nowrap;
  -webkit-box-wrap : start;
  
  justify-content: flex-start;
  flex-shrink : 0;
  margin : 0;
  padding : 0;
  border: none;
  min-height : 52px;
  max-height : 52px;
  
  z-index : 3;
  
  /* box-shadow : 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12); */
  border-bottom : 1px solid #ccc;
}

.flex-row { 
  display : flex;
  -webkit-box-orient : vertical;
  -webkit-box-direction : normal;
  flex-direction : row;
  flex-wrap : nowrap;
  flex-shrink : 0;
  align-self : stretch;
  -webkit-box-align : center;
  align-items : center;
  margin : 0;
  padding : 0 40px 0 10px;
  height : 52px;

}

.flex-title { 
  flex-shrink : 0;
  display : block;
  position : relative;

  font-size : 2em;
}

.flex-header h2 { 
  padding : 0;
  margin : 0;
}

.flex-content { 
  /* margin-left : 56px; */
  
  /* margin-left : 56px; */
  /* width : calc(100% - 56px); */
 
  display : inline-block;
  overflow-x : hidden;
  overflow-y : auto;
  -webkit-box-flex : 1;
  flex-grow : 1;
  z-index : 1;

  /* Unsure of */
  padding-top : 5px;
  min-width : 250px;
  
  height : 100vh;
}

.flex-page { 
  /* margin-left : 56px; */

  
  width : 100%;
  height : 100%;
  display : flex;
  -webkit-box-orient : vertical;
  -webkit-box-direction : normal;
  flex-direction : column;
  
  overflow-x : hidden;
  overflow-y : auto;

  position : relative;
  
}


.flex-container { 
  position : absolute;
  width : 100%;
  height : 100%;
  display : block;
}

.expanded .flex-content { 
  /* margin-left : 260px; */
}

/* #app-container { */ 
  /* position : absolute; */
  /* width : 100%; */
  /* height : 100%; */
/* } */

.app-page { 
  margin-left : 56px;
  /* clear : both; */
  display : block;
  margin : 0;
  position : relative;
  width : 100%;
}

/* .app-page-header { */ 
/*   width : 100%; */
/*   /1* position : absolute; *1/ */
/*   /1* top : 0; *1/ */
/*   min-height : 52px; */
/*   border-bottom : 1px solid #ccc; */
/*   padding-left : 5px; */
/*   padding-top : 8px; */
  
/* } */

/* .app-page-header > h2 { */ 
/*   margin : 0; */
/*   padding : 0; */
/* } */

/* #container { */ 
/*   clear : both; */ 
/*   position : relative; */
/* } */

/* #container:before { */ 
/*   content : ""; */
/*   clear : both; */
/*   display : table; */
/* } */


/* .expanded .header-title { */ 
/*   /1* display : inline-block; *1/ */
/* } */


.sidebar-group { 
  
  border-top : 1px solid #ccc;
  margin-top : 6px;
  /* padding-top : 5px; */
  
  height : calc(100vh - 148px);
  width : 100%;
  overflow-y : auto;
  overflow-x : hidden;
}

.sidebar-group > ul { 
  list-style : none;
  margin : 0;
  padding : 0;
}

.sidebar-group > ul > li { 
  /* padding : 0 15px; */
  padding-top : 5px;
  padding-bottom : 5px;
  position : relative;
  display : block;
  text-align : center;
}


.sidebar-group > ul > li > span { 
  padding-top : 10px;
  padding-bottom : 10px;
}

.sidebar-body > nav { 

}

.sidebar-footer { 
  font-size : 100%; 
  
  overflow : hidden;

  margin : 0;
  padding : 5px 0 0 0;
  
  border-top : 1px solid #ccc;
  position : absolute;
  bottom : 0;
  min-height : 40px;

  width : 100%;
}

.footer-link { 
 display : block;
 padding : 5px 20px;
 margin : 0;
  
 border : 0;

 color : #707070;

 white-space : nowrap;
 text-overflow : ellipses;
 overflow : hidden;
 max-width : 100%;
 height : auto;
  
 /* Style */
 cursor : pointer;
 vertical-align : baseline; 
}

.settings-link { 
  margin-top : -5px;
}

.expanded .footer-link { 
  display : inline-block;

}

.footer-link:hover { 
  background : #e6e6e6;
  color : #707070;
  text-decoration : none;
}


.expanded .link-label { 
  padding-left : 5px;
  display : inherit;
}

.link-label { 
  white-space : nowrap; 
  display : none;
}

/* Flex footer test */
.flex-footer { 
 font-size : 100%; 
  
  overflow : hidden;

  margin : 0;
  padding : 0 0 0 0;
  
  border-top : 1px solid #ccc;
  position : absolute;
  bottom : 0;
  min-height : 40px;

  width : 100%;
  
}


.flex-footer ul { 
  margin : 0;
  padding : 0;
  display : flex;
  flex-wrap : wrap;
  justify-content : center;
  list-style : none;
}

.flex-footer ul li { 
  /* width : 100%; */ 
}

.flex-footer a { 
  /* padding : 1em 0.5em; */
  /* width : 100%; */
  padding-top : 10px;
  padding-bottom : 10px;
  display : flex;
  align-items : center;
  /* justify-content : center; */
  /* min-width : 56px; */
  
  padding-left : 20px;
  padding-right : 20px;

  color : #707070;
  min-height : 48px;
}

.expanded .flex.footer ul { 
  /* flex-direction : row !important; */
}

.expanded .flex-footer li:first-child { 
  flex-grow : 1; 
  /* justify-content : right; */
}

.flex-footer a:hover { 
  background-color : #e6e6e6;
  text-decoration : none;
  color : #707070;
  cursor : pointer;
}

.link-nav { 
  /* position : absolute; */
  /* height : 100vh; */
  width : 100%;
  height : 100%;
  display : flex;
  
  justify-content : center; 
  align-items : center;
  border: none;
  cursor : pointer;
}

.link-nav:hover {
  background-color : #e6e6e6;
}

.expanded .link-nav { 
  display : none;
}

.text-vertical { 
  /* margin-top : 30px; */
  /* top : 0; */
  /* cursor : vertical-text; */
  transform : rotate(-90deg);
  /* transform-origin : left top 0; */
  color : #707070;

  /* padding-left : 5px; */
  /* top : 50%; */
  /* margin-top : 80px; */

  /* text-align : center; */
  /* position : relative; */
}

.flex-nav { 
  display : none;
}

.expanded .flex-nav { 
  display : block;
}

.flex-tree ul { 
  margin : 0;
  padding : 0;
  display : flex;
  list-style : none;
  flex-direction : column;
  /* align-items : flex-start; */
  width : 100%;
}

.flex-tree li { 
  border-bottom : 1px solid #ccc;
}

.flex-tree a { 
  /* padding-top : 10px; */
  /* padding-bottom : 10px; */
  display : flex;

  align-items : center;
  
  /* width : 100%; */
  /* padding-left : 150px; */
  /* padding-right : 150px; */

  color : #707070;
  min-height : 35px;
  padding-left : 10px;
}

.flex-tree a:hover { 
  background-color : #e6e6e6;
  text-decoration : none;
  color : #707070;
  cursor : pointer;
}

.file { 
  border-left : 5px solid #707070;
}

.flex-view { 
  margin-left : 56px;
  /* width : calc(100% - 56px); */
  
  display : flex;
  -webkit-box-orient : vertical;
  -webkit-box-direction : normal;
  flex-direction : column;
  
  overflow-x : hidden;
  overflow-y : auto;

  position : relative;
}

.expanded .flex-view { 
  margin-left : 260px;
}


/* Temporary header breadcrumb fork*/
.headercrumb {
  padding: 8px 0px;
  /* margin-bottom: 20px; */
  list-style: none;
  /* background-color: #f5f5f5; */
  border-radius: 2px;
}
ol.headercrumb { 
  margin-bottom : 0px !important;
}
.headercrumb > li {
  display: inline-block;
}
.headercrumb > li + li:before {
  content: "/\00a0";
  padding: 0 5px;
  color: #ccc;
}
.headercrumb > .active {
  color: #777777;
}

.headercrumb > .title { 
  color : #313131;
  font-weight : bold;
}

.headercrumb > .static { 
  color: #828080;
}

.tree-title { 
  padding-left : 7px;
}

.selected a { 
  color : #2089CE;
  font-weight : bold;
}
.selected a:hover { 
  color : #2089CE;
}

li.selected { 
  border-left-color : #2089CE;
}


