/**
 * Primary structural class definitions for BHIMA
 *
 * @todo Some elements use display: flex after it was researched and prototyped,
 * now that we are using this it can be used to make all component definitions
 * cleaner
 *
 * @todo Many of the class definitions evolved over development - not all styles
 * are used/ respected - these should be removed
 *
 * -Sidebar
 * -Module Header
 * -Module Content
 * -Headercrumb
 * -Tree
 */

/** Angular helper class, wait until the page is bootstraped to display */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/*
 * Sidebar
 */
.sidebar {
  width : 56px;
  min-width : 56px;
  position : absolute;
}

.sidebar-container {
  position : absolute;
  top : 0;
  bottom : 0;
  width : 56px;
  height : 100vh;
  background-color : #f5f5f5;
  border-right : 1px solid #ccc;
}

.expanded .sidebar-container {
  width : 260px;
}

.sidebar-body {
  position : absolute;
  top : 0;
  bottom : 96px;
  width : 100%;
  overflow-x : hidden;
  padding : 0;
}

/** Designed before research into display flex, styles can be refined */
.expanded .sidebar-body {
  bottom : 48px;
}

.expanded .sidebar-group {
  height : calc(100vh - 100px);
}

/*
 * Sidebar Header
 */
.sidebar-header {
  margin-top : 5px;
  margin-left : 0;
  margin-right : 0;
  padding-bottom : 0;
}

.header-content {
  table-layout : auto;
  width : 100%;
  border-spacing : 0;
}

.header-image {
  position : relative;
  width : auto;

  /* text-align : center; */
  text-align : left;
  vertical-align : top;
  margin : 0;
  padding : 0;
}

.expanded .header-image {
  position : absolute;
  width : 1px;
  white-space : nowrap;
}

.app-logo {
  position : relative;
  display : inline-block;
}

.logo-container {
  height : 40px;
  width : 40px;
  margin : 0 0 0 8px;
  vertical-align : top;
}

.header-title {
  display : none;
  margin : 0;
  padding : 0;
  text-align : left;
}

.expanded .header-title {
  display : block;
  padding-left : 55px;
  min-height : 40px;
}

.header-title > h4 {
  text-transform : uppercase;
  white-space : nowrap;
  text-overflow : ellipsis;
  overflow : hidden;
  margin : 0;
  padding : 0;
}

.title-content {
  overflow : hidden;
  text-overflow : ellipsis;
  display : block;

  /** Should be done using flex container*/
  padding-top : 12px;
  padding-bottom : 8px;
  color : #505050;
  text-decoration : none;
  cursor : pointer;
}

.title-content:hover {
  text-decoration : none;
  cursor : pointer;
  color : #505050;
}

/**
 * Application Header
 *
 * @todo Header + title is verbose, not all of these styles are required or
 * respected, this could be refined
 */
.flex-header {
  display : flex;
  -webkit-box-orient : vertical;
  -webkit-box-direction : normal;
  flex-direction : column;
  flex-wrap : nowrap;
  -webkit-box-wrap : start;
  justify-content: flex-start;
  flex-shrink : 0;
  margin : 0;
  padding : 0;
  border: none;
  min-height : 52px;
  max-height : 52px;
  border-bottom : 1px solid #ccc;

  box-shadow : 0px 2px 4px -3px gray;
  z-index : 900;
}

.flex-util {
  display : flex;
  -webkit-box-direction : normal;
  flex-direction : row;
  flex-wrap : nowrap;
  -webkit-box-wrap : start;
  justify-content: flex-start;
  flex-shrink : 0;
  padding : 5px;
  border: none;
  max-height : 42px;
  border-bottom : 1px solid #ccc;
  min-height: 35px;
}

.bhima-title {
  display : flex;
  -webkit-box-orient : vertical;
  -webkit-box-direction : normal;
  flex-direction : row;
  flex-wrap : nowrap;
  flex-shrink : 0;
  align-self : stretch;
  -webkit-box-align : center;
  align-items : center;
  margin : 0;
  padding : 0 10px 0 10px;
  height : 52px;
}

/**
 * Application Content
 */
.flex-content {
  display : inline-block;
  overflow-x : hidden;
  overflow-y : auto;
  -webkit-box-flex : 1;
  flex-grow : 1;
  z-index : 1;

  /** @todo determine if these should be assigned to another element */
  padding-top : 5px;
  min-width : 350px;
  height : 100vh;
}

.flex-page {
  width : 100%;
  height : 100%;
  display : flex;
  -webkit-box-orient : vertical;
  -webkit-box-direction : normal;
  flex-direction : column;
  overflow-x : hidden;
  overflow-y : auto;
  position : relative;
}

/**
 * Stores all module elements (other than the sidebar), this element is
 * responsibe for maintaining 'pushed' sidebar state
 */
.flex-container {
  position : absolute;
  width : 100%;
  height : 100%;
  display : block;
}

/**
 * @todo top and bottom specified - this could be improved with more thought
 * through definition
 */
.sidebar-group {
  border-top : 1px solid #ccc;
  margin-top : 6px;
  height : calc(100vh - 148px);
  width : 100%;
  overflow-y : auto;
  overflow-x : hidden;
}

.expanded .link-label {
  padding-left : 5px;
  display : inherit;
}

.link-label {
  white-space : nowrap;
  display : none;
}

/* Flex footer test */
.flex-footer {
  font-size : 100%;
  overflow : hidden;
  margin : 0;
  padding : 0 0 0 0;
  border-top : 1px solid #ccc;
  position : absolute;
  bottom : 0;
  min-height : 40px;
  width : 100%;
}

.flex-footer ul {
  margin : 0;
  padding : 0;
  display : flex;
  flex-wrap : wrap;
  justify-content : center;
  list-style : none;
}

.flex-footer a {
  padding-top : 10px;
  padding-bottom : 10px;
  display : flex;
  align-items : center;
  padding-left : 20px;
  padding-right : 20px;
  color : #707070;
  min-height : 48px;
}

.expanded .flex-footer li:first-child {
  flex-grow : 1;
}

.flex-footer a:hover {
  background-color : #e6e6e6;
  text-decoration : none;
  color : #707070;
  cursor : pointer;
}

.link-nav {
  width : 100%;
  height : 100%;
  display : flex;
  justify-content : center;
  align-items : center;
  border: none;
  cursor : pointer;
}

.link-nav:hover {
  background-color : #e6e6e6;
}

.expanded .link-nav {
  display : none;
}

.text-vertical {
  transform : rotate(-90deg);
  color : #707070;
}

/** Hide the navigation link when sidebar is not expanded (default state) */
.flex-nav {
  display : none;
}

.expanded .flex-nav {
  display : block;
}

/**
 * @todo Tree styles very temporarily defined - these should be carefully
 * refined
 */
.flex-tree ul {
  margin : 0;
  padding : 0;
  display : flex;
  list-style : none;
  flex-direction : column;
  width : 100%;
}

.flex-tree li {
  border-bottom : 1px solid #ccc;
}

.flex-tree a {
  display : flex;
  align-items : center;
  color : #707070;
  min-height : 35px;
  padding-left : 10px;
}

.flex-tree a:hover {
  background-color : #e6e6e6;
  text-decoration : none;
  color : #707070;
  cursor : pointer;
}

.file {
  border-left : 5px solid #707070;
}

.tree-title {
  padding-left : 7px;
}

/**
 * Contains application modules (ng-view) - pushes margin right on sidebar
 * expansion
 */
.flex-view {
  margin-left : 56px;
  display : flex;
  -webkit-box-orient : vertical;
  -webkit-box-direction : normal;
  flex-direction : column;
  overflow-x : hidden;
  overflow-y : auto;
  position : relative;
}

.expanded .flex-view {
  margin-left : 260px;
}

.selected a {
  color : #2089CE;
  font-weight : bold;
}
.selected a:hover {
  color : #2089CE;
}

li.selected {
  border-left-color : #2089CE;
}

/**
 * Temporary header breadcrumb bootstrap fork
 * @todo implement this in less using the boostrap element
 */
.headercrumb {
  padding: 8px 0px;
  list-style: none;
  border-radius: 2px;

}
ol.headercrumb {
  margin-bottom : 0px !important;
  white-space : nowrap;
}
.headercrumb > li {
  display: inline-block;
}
.headercrumb > li + li:before {
  content: "/\00a0";
  padding: 0 5px;
  color: #ccc;
}
.headercrumb > .active {
  color: #777777;
}

.headercrumb > .title {
  color : #313131;
  font-weight : bold;
}

.headercrumb > .static,
.headercrumb > .static > a {
  text-decoration: none;
  color: #828080;
}

/* Disabling elements if there is no valid user session */
.disable .session >  * {
  color : #D2D2D2 !important;
}

.disable .session:hover {
  color : #D2D2D2;
  background-color : transparent !important;
  cursor : default;
}

/**
 * Breadcrumb toolbar
 */
 .toolbar {
   flex: 2;
 }

 .toolbar-item {
   margin-left: 7px;
   float: right !important;
 }

 .toolbar-item > [uib-dropdown] > button[uib-dropdown-toggle] {
   min-width: 100px;
 }

 .toolbar-item > [uib-dropdown] > ul[uib-dropdown-menu] {
   top:24px;
   min-width: 100px;
   text-align: right;
 }

 .toolbar-item > label {
   display: inline-flex;
   line-height:30px;
   padding-left: 7px;
 }

.fixedColumn {
  float : left;
  position : relative;

}

/**
 * Styles used for printing, receipts and reports
 * @todo move this to less
 */
.bh-modal-content {
  position : relative;
  padding : 15px;

  /** @todo review this */
  height : 50vh;
  overflow-y : auto;
}

.receipt {
  width : 100%
}

/* Report tables */
.total-row > td {
  font-weight : bold;
}

@media print {
  body * {
    visibility : hidden;
  }

  /* FIXME .flex-content height is restricting the print view */
  /* to two pages - this should be overriden to solve this problem */
  .flex-content { }

  /* Style required to fix single page overflow problem */
  /* .flex-continar : height (cannot be 100%) */
  .flex-container {
    height : inherit;
  }

  /* .modal : overflow (cannot be hidden) */
  .modal-open .modal {
    overflow-x : initial;
    overflow-y : initial;
  }

  .modal {
    overflow : initial;
  }

  .bh-print, .bh-print * {
    visibility : visible;
  }

  .bh-print {
    position : absolute;
    left : 0;
    top : 0;
  }

  .bh-modal-content {
    position : initial;
  }
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes hinge {
  0% {
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  20%, 60% {
    -webkit-transform: rotate3d(0, 0, 1, 80deg);
    transform: rotate3d(0, 0, 1, 80deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  40%, 80% {
    -webkit-transform: rotate3d(0, 0, 1, 60deg);
    transform: rotate3d(0, 0, 1, 60deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    opacity: 1;
  }

  to {
    -webkit-transform: translate3d(0, 700px, 0);
    transform: translate3d(0, 700px, 0);
    opacity: 0;
  }
}

@keyframes hinge {
  0% {
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  20%, 60% {
    -webkit-transform: rotate3d(0, 0, 1, 80deg);
    transform: rotate3d(0, 0, 1, 80deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  40%, 80% {
    -webkit-transform: rotate3d(0, 0, 1, 60deg);
    transform: rotate3d(0, 0, 1, 60deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    opacity: 1;
  }

  to {
    -webkit-transform: translate3d(0, 700px, 0);
    transform: translate3d(0, 700px, 0);
    opacity: 0;
  }
}

.hinge {
  -webkit-animation-name: hinge;
  animation-name: hinge;
}

growl-notification.fading.ng-move{
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;

    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

growl-notification.fading.ng-move.ng-move-active { }

growl-notification.fading.ng-leave {
    opacity: 1;

    /* this time adjusts the length of the fadeout animation*/
    -webkit-transition: 0s linear all;
    transition: 0s linear all;
}

growl-notification.fading.ng-leave.ng-leave-active {
    opacity: 0;
}

/** Temporary utility styles */
.textflow {
  overflow : hidden;
  text-overflow : ellipsis;
  white-space : nowrap;
}
.rotate {
  transform : rotate(180deg);
}

.notification-success {
  border-left : 5px solid #638638;
  background-color : #77A13F;
  color : #fff;
}

.notification-danger {
  background-color : #f2dede;
  border-left : 5px solid #a94442;
  color : #a94442;
}

.notification-info {
  color : #085484;
  background-color : #64BDEE;
  border-left : 5px solid #085484;
}

.notification-warn {
  color : #8a6d3b;
  background-color : #fcf8e3;
  border-left : 5px solid #8a6d3b;
}

.notification-error {
  color : #fff;
  background-color : #d9534f;
  border-left : #fff;
}

.notification-icon {
  display : inline-block;
  vertical-align : top;
}

.notification-message {
  display : inline-block;
  text-overflow : ellipsis;
  overflow : hidden;
  white-space : nowrap;
  max-width : calc(100% - 50px);
}

/* 'Card' Utility class */
.text-float-util {
  text-align : right;
}

@media (max-width: 992px) {
  .text-float-util {
    text-align : left;
  }
}

/* static pages that do not require header overflow */
.flex-header.static {
  box-shadow : none;
}

.icon-spacer {
  margin-left: 18px;
}

.text-clear {
  font-weight : normal !important;
}

.text-action {
  cursor : pointer;
}
