div[data-angular-treeview] {
  user-select: none;
  font-size:13px;
  color: #555;
  text-decoration: none;
}

div[data-tree-model] ul {
  margin: 0;
  padding: 0;
  list-style: none; 
  border: none;
  overflow: hidden;
}

div[data-tree-model] li {
  position: relative;
  padding: 0 0 0 20px;
  line-height: 20px;
}

div[data-tree-model] li i,
div[data-tree-model] li span {
  cursor: pointer;
}

div[data-tree-model] li .selected {
  font-weight: bold;
  padding: 1px 5px;
}
