.modal-header h3 {
  display : inline-block;
  margin  : 0;
}

.modal-table + .modal-footer {
  border:none;
  padding-top:0;
}

.modal-footer label {
  margin : 0 1em;
}

/* trial balance print */

.signatures {
  width : 100%;
  overflow: visible;
}

.signatures .signature-box {
  float: left;
  margin: 5px 20px 30px 25px;
  border-bottom: 1px solid #000;
  width: 300px;
}

.signatures .signature-box-wide {
  float: left;
  margin: 5px 20px 30px 25px;
  border-bottom: 1px solid #000;
  width: 800px;
  height: 50px;
}

.signature-box > label {
  margin-bottom: 25px;
}
