.modal-table {
  position : relative;
  max-height: 400px;
  height: 400px;
}

.modal-table table {
  width: 100%;
  border-collapse: collapse;
}

.modal-table table tr td:not(:first-child),
.modal-table table tr th:not(:first-child) {
  text-align: right;
  padding-right : 0.5em;
}

.modal-table-body {
  margin-top : 1px;
}

.modal-table-body table tr th,
.modal-table-body table tr td {
  width: 20%;
  padding: 5px;
  border: 1px solid black;
}

.modal-table-body table tr:first-child th,
.modal-table-body table tr:first-child td {
  border-top: 0;
}


.modal-table-body table tr td:first-child,
.modal-table-body table tr th:first-child {
  border-left: 0;
}

.modal-table-body table tr td:last-child,
.modal-table-body table tr th:last-child {
  border-right: 0;
}

.modal-table-head {
  position: absolute;
  top:0; left:0; right:0;
  max-height:30px;
}

.modal-table .modal-table-head tr th {
  color: #fff;
  padding: 8px;
}

.modal-table-body {
  position: absolute;
  top : 31px; bottom:30px; left:0; right:0;
  max-height: 350px;
  overflow: auto;
}

.modal-table-foot {
  border-left: 6px solid #fff;
  position: absolute;
  height: 30px;
  bottom:0; right:0; left:0;
  background-color: #fff;
}

.modal-header .modal-icons {
  margin : 0 1em;
}

.modal-header h3 {
  display : inline-block;
  margin  : 0;
}

.modal-header .modal-print {
  float: right;
  margin: 5px;
}

.modal-table + .modal-footer {
  border:none;
  padding-top:0;
}

.modal-footer label {
  margin : 0 1em;
}

.modal-icons {
  display: inline-block;
}

.modal-icons label {
  padding-left: 5px;
}

.modal-table-body .details {
  font-size: 10px;
}

/* color reset */
.modal-table.success,
.modal-table.error,
.modal-table.warn {
  color : #000;
}

/* success / warning / error classes */

.modal-table.success thead tr th {
  background-color: #003F82;
}

.modal-table.success .modal-table-head tr {
  background-color : rgb(0,63,130);
}

.modal-table.success .modal-table-body {
  border-left : 6px solid rgba(0,63,130, 0.75);
}

.modal-table.warning .modal-table-head tr {
  background-color : rgb(213,133, 17);
}

.modal-table.warning .modal-table-body {
  border-left : 6px solid rgba(213,133, 17, 0.75);
  opacity : 0.75%;
}

.modal-table.error .modal-table-head tr {
  background-color : #8B0000;
}

.modal-table.error .modal-table-body {
  border-left : 6px solid rgba(160,45,45,0.75);
}

/* trial balance print */

.signatures {
  width : 100%;
  overflow: visible;
}

.signatures .signature-box {
  float: left;
  margin: 5px 20px 30px 25px;
  border-bottom: 1px solid #000;
  width: 300px;
}

.signatures .signature-box-wide {
  float: left;
  margin: 5px 20px 30px 25px;
  border-bottom: 1px solid #000;
  width: 800px;
  height: 50px;
}

.signature-box>label {
  margin-bottom: 25px;
}
