<header data-header>
  {{ "CAUTION.TITLE" | translate }}
</header>

<nav>
  <div class="pull-left">
      <ol class="breadcrumb">
        <li><a href="#/"><span class="glyphicon glyphicon-home"></span></a></li>
        <li class="active">{{ "CAUTION.TITLE" | translate }}</li>
      </ol>
  </div>
  <div class="pull-right">
    <span class="dropdown pull-right">
      <button class="btn btn-sm btn-primary dropdown-toggle">
        {{ CautionCtrl.currency.symbol || "..." }}
        <span class="caret" data-caret="&#9660;"></span>
      </button>

      <ul class="dropdown-menu ">
        <li ng-repeat="currency in CautionCtrl.cashbox_accounts.data">
        <a class="clk" ng-click="CautionCtrl.setCurrency(currency)">{{ currency.symbol }}</a>
        </li>
      </ul>
    </span>

    <span class="dropdown pull-right" style="padding-right: 5px;">
      <button class="btn btn-sm btn-primary dropdown-toggle">
        {{ CautionCtrl.cashbox.text || "..." }}
        <span class="caret" data-caret="&#9660;"></span>
      </button>

      <ul class="dropdown-menu">
        <li ng-repeat="box in CautionCtrl.cashboxes.data">
          <a class="clk" ng-click="CautionCtrl.setCashBox(box)">{{ box.text }}</a>
        </li>
      </ul>
    </span>
  </div>
</nav>

<main>
  <div class="row margin-top-10">
    <div class="col-xs-6">
      <find-patient on-search-complete="CautionCtrl.loadPatient(patient)" enable-refresh="true"></find-patient>
    </div>
  </div>

  <div class="row" ng-if="CautionCtrl.debtor">
    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-heading">{{ "CAUTION.PATIENT" | translate }}</div>
        <form class="form-horizontal panel-body">
          <div class="col-xs-6">

            <div class="form-group">
              <label class="control-label col-xs-3">{{ "CAUTION.NAME" | translate }}</label>
              <p class="form-control-static col-xs-9">{{ CautionCtrl.debtor.name }}</p>
            </div>

            <div class="form-group">
              <label class="control-label col-xs-3">{{ "CAUTION.AGE" | translate }}</label>
              <p class="form-control-static col-xs-9">{{ CautionCtrl.debtor.age }}</p>
            </div>

            <div class="form-group">
              <label class="control-label col-xs-3">{{ "CAUTION.GENDER" | translate }}</label>
              <p class="form-control-static col-xs-9">{{ CautionCtrl.debtor.sex }}</p>
            </div>
          </div>

          <div class="col-xs-6">
            <label class="control-label">{{ "CAUTION.ORIGIN" | translate }}</label>
            <address class="form-control-static">
              {{ CautionCtrl.location.village }}<br>
              {{ CautionCtrl.location.sector }}<br>
              {{ CautionCtrl.location.province }}<br>
              {{ CautionCtrl.location.country }}
            </address>
          </div>
        </form>

        <div class="alert alert-danger" ng-if="CautionCtrl.accountBalance > 0">
          <h5>
            <i class="glyphicon glyphicon-warning-sign"></i>
            {{ "CAUTION.ATTENTION" | translate }}: <strong>{{ CautionCtrl.accountBalance | currency }}</strong>
          </h5>
        </div>
      </div>
    </div>

    <div class="col-xs-6" >
      <form class="panel panel-default" name="CautionForm">
        <div class="panel-heading">{{ "CAUTION.INFO_CAUTION" | translate }}</div>
        <div class="panel-body form-horizontal">
          <div class="form-group" ng-class="{ 'has-error' : CautionForm.$invalid && CautionForm.$submitted}">
            <label class="control-label col-xs-2">{{ 'CAUTION.CAUTION' | translate }}</label>
            <div class="col-xs-10">
              <div class="input-group">
                <input type="number" class="form-bhima" name="value" ng-model="CautionCtrl.session.payment" ng-min="CautionCtrl.currency.min_monentary_unit" required>
                <span class="input-group-addon">{{ CautionCtrl.currency.symbol }}</span>
              </div>
              <p class="help-block" ng-if="CautionForm.$invalid && CautionForm.$submitted">
                <i class="glyphicon glyphicon-exclamation-sign"></i> {{ "CAUTION.UNIT_ERROR" | translate }}
              </p>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <button
            type="submit"
            class="btn btn-sm btn-default"
            ng-disabled="!CautionCtrl.currency"
            ng-class="{ 'btn-danger' : CautionForm.$invalid && CautionForm.$dirty, 'btn-success':  CautionForm.$valid && CautionForm.$dirty }"
            ng-click="CautionCtrl.payCaution(CautionForm.$invalid)">
            {{ "CAUTION.PAY" | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
</main>
