<header data-header>
  {{ "BUDGET.NEW.TITLE" | translate }}
</header>

<nav>
  <div class="pull-left">
      <ol class="breadcrumb">
        <li><a href="#/"><span class="glyphicon glyphicon-home"></span></a></li>
        <li class="active">{{ "BUDGET.NEW.TITLE" | translate }}</li>
      </ol>
  </div>
</nav>

<div class="report">
  <div ng-switch on="session.mode">
    <div ng-switch-when="configure">
      <div class="col-sm-offset-3 col-xs-6">
        <h3 class="text-center"><b>{{ "BUDGET.NEW.TITLE" | translate }}</b></h3>
        <p>{{ "BUDGET.NEW.DESC" | translate }}</p>

        <form name="Budget" class="budget-analysis-form" novalidate>

          <div class="form-group">
            <label>{{ "SELECT.FISCAL_YEAR" | translate }}</label>
            <select
            class="form-bhima"
            name="fiscal_year_id"
            ng-model="config.fiscal_year_id"
            ng-options="fy.id as formatFiscalYear(fy) for fy in fiscal_years.data"
            ng-change="selectFiscalYear(config.fiscal_year_id)"
            required></select>
          </div>

          <div class="form-group">
            <div class="radio new-budget">
              <label class="display-block">
                <input type="radio" name="session.option"
                  class="select-csv"
                  ng-model="session.option" value="csv" ng-checked="true"><b>{{ "BUDGET.NEW.IMPORT_CSV" | translate }}</b>
              </label>
              <label class="display-block">
                <input type="radio" name="session.option"
                  ng-model="session.option" value="manual"><b>{{ "BUDGET.NEW.MANUAL" | translate }}</b>
              </label>
            </div>
          </div>

          <div ng-switch on="session.option" class="well">
            <div ng-switch-when="csv" class="form-inline">
              <h4><b><i class="glyphicon glyphicon-file"></i> {{ "BUDGET.NEW.IMPORT_CSV" | translate }}</b></h4>
              <div class="form-group">
                <label>{{ "BUDGET.ANALYSIS.SELECT_PERIOD" | translate }}</label>
              </div>

              <select
                class="form-bhima"
                name="period"
                ng-if="session.option=='csv'"
                ng-model="config.period"
                ng-options="p as formatPeriod(p) for p in session.periods"
                ng-disabled="!config.fiscal_year_id"
                required>
              </select>
              <br>
              <button
                ngf-select="uploadFile($file)"
                ngf-pattern="'.csv'"
                accept=".csv"
                class="btn btn-sm btn-success"
                ng-disabled="!config.period.id">
                <i class="glyphicon glyphicon-upload"></i> {{ "BUDGET.NEW.SEND_FILE" | translate }}
              </button>
            </div>

            <div ng-switch-when="manual">
              <div find-account
                on-submit="submitAccount"
                on-reset="resetAccountSearch"
                where="accountWhere"
                enable-reset></div>
            </div>
          </div>

        </form>

      </div>
    </div>

    <div ng-switch-when="edit">
      <div class="row" ng-if="!session.found">
        <div class="col-sm-offset-3 col-xs-6">
          <div class="text-center">
            <h3>{{ session.no_data_msg }}</h3>
            <h3>{{ "BUDGET.EDIT.CREATE_QUESTION" | translate }}</h3>
            <h3>
              <button class="btn btn-sm btn-default" ng-click="createBudget()">
                <span class="glyphicon glyphicon-plus-sign"></span> {{ "BUDGET.EDIT.CREATE" | translate }}
              </button>
            </h3>
          </div>
        </div>
      </div>

      <div class="row" ng-if="session.found">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="col-xs-8">
              <form name="budget">
                <table class="table table-condensed form-bhima-border">
                  <thead>
                    <tr>
                      <th colspan="5">
                        <h4>
                          {{ "BUDGET.EDIT.FISCAL_YEAR_LABEL" | translate }} {{ session.fiscal_year.fiscal_year_txt }} /
                          {{ session.account.label }}
                        </h4>
                      </th>
                    </tr>
                    <tr>
                      <th>{{ "BUDGET.EDIT.PERIOD" | translate }}</th>
                      <th>{{ "BUDGET.EDIT.START"  | translate }}</th>
                      <th>{{ "BUDGET.EDIT.END"    | translate }}</th>
                      <th>{{ "BUDGET.EDIT.BUDGET" | translate }}</th>
                      <th>{{ "BUDGET.EDIT.FREEZE" | translate }}</th>
                    </tr>
                  </thead>
                  <tbody class="vertical-align-middle">
                    <tr ng-repeat="budget in budgets.data | orderBy:'period_number'">
                      <td>{{ budget.period_number }}</td>
                      <td>{{ budget.period_start | date }}</td>
                      <td>{{ budget.period_stop | date }}</td>
                      <td><input type="number"
                           ng-model="budget.budget"
                           ng-change="recompute()"
                           ng-focus="startEditing(budget)"
                           ng-blur="endEditing(budget)"
                           min="0.0"
                           ng-disabled="session.totalBudget <= 0.0 || (session.autoAdjust && (budget.freeze && !budget.editing))"
                           >
                      </td>
                      <td class="text-center">
                        <input type="checkbox"
                         ng-model="budget.freeze">
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2">
                        <b>{{ "BUDGET.EDIT.AUTO_ADJUST" | translate }}&nbsp;&nbsp;
                        <input type="checkbox"
                         style="margin: 0"
                         ng-disabled="session.totalBudget <= 0.0"
                         ng-change="recompute()"
                         ng-model="session.autoAdjust"></b>
                      </td>
                      <td>
                        <span class="pull-right">{{ "BUDGET.EDIT.TOTAL" | translate }}</span>
                      </td>
                      <td>
                        <input type="number"
                         ng-class="{'form-bhima-red-border' : session.totalBudget <= 0}"
                         ng-model="session.totalBudget"
                         ng-change="recompute()"
                         min="0.0">
                      </td>
                      <td>&nbsp;</td>
                    </tr>
                  </tbody>
                </table>
              </form>
            </div>
            <div class="col-xs-4">
              <h4 class="box-error" ng-if="session.totalBudget > 0.0 && !session.validTotal">
                {{ "BUDGET.EDIT.WARNING" | translate }} <br/>
                {{ "BUDGET.EDIT.WARN_BAD_TOTALS" | translate }}
              </h4>
              <h4 class="box-error" ng-if="session.totalBudget <= 0.0">
                {{ "BUDGET.EDIT.WARNING" | translate }} <br/>
                {{ "BUDGET.EDIT.WARN_ZERO_TOTAL" | translate }}
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- end div session.mode = 'edit' -->
  </div> <!-- end div session.mode -->
</div> <!-- end div report -->

<footer>
  <div class="pull-right" ng-if="session.mode === 'edit'">
    <button class="btn btn-default"
      style="margin-right: 20px"
      ng-click="restartSearch()">
      <span class="glyphicon glyphicon-refresh"></span> {{ "BUDGET.EDIT.RESTART_SEARCH" | translate }}
    </button>
    <button id="submitBudget"
      ng-click="updateBudget()"
      ng-disabled="!session.validTotal || budget.$invalid"
      class="btn btn-sm btn-success"
      style="margin-right: 10px">
      <span class="glyphicon glyphicon-pencil"></span> {{ "BUDGET.EDIT.UPDATE_BUDGET" | translate }}
    </button>
  </div>
</footer>
