<div class="flex-header">
  <div class="bhima-title">
    <ol class="headercrumb">
      <li class="static">{{ "CASH.TITLE" | translate }}</li>
      <li class="title">{{ CashCtrl.cashbox.label }}</li>
    </ol>
  </div>
</div>

<div class="flex-content">
  <div class="container-fluid">
    <div class="row">

      <!-- Switch Cashbox Form and Transfer -->
      <div class="col-md-2">

        <button class="btn btn-warning btn-block" ui-sref="cash.select({ id : CashCtrl.cashbox.id })" data-change-cashbox>
          <i class="fa fa-inbox"></i> {{ "CASH.VOUCHER.CASHBOXES.CHANGE_CASHBOX" | translate }}
        </button>

        <button style="margin-bottom: 1em;" class="btn btn-primary btn-block" ui-sref="cash.transfer({ id: CashCtrl.cashbox.id })" data-perform-transfer>
          <i class="fa fa-exchange"></i> {{ "CASH.VOUCHER.CASHBOXES.TRANSFER" | translate }}
        </button>
      </div>

      <!-- Cash Voucher Form -->
      <div class="col-md-8">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <i class="fa fa-barcode"></i>
            {{ "CASH.VOUCHER.SLIP" | translate }} <span class="pull-right">{{ CashCtrl.cashbox.label }}</span>
          </div>
          <div class="panel-body">
            <form name="CashVoucherForm" bh-submit="CashCtrl.submit(CashVoucherForm)" bh-form-defaults novalidate>

              <fieldset ng-disabled="CashVoucherForm.$loading">

                <bh-find-patient
                  on-search-complete="CashCtrl.usePatient(patient)"
                  on-register-api="CashCtrl.onRegisterApiCallback(api)"
                  validation-trigger="CashVoucherForm.$submitted"
                  required="true">
                </bh-find-patient>

                <bh-date-editor
                  date-value="CashCtrl.payment.date"
                  validation-trigger="CashVoucherForm.$submitted"
                  max-date="CashCtrl.timestamp">
                </bh-date-editor>

                <!-- currency selection -->
                <bh-currency-select
                  currency-id="CashCtrl.payment.currency_id"
                  validation-trigger="CashVoucherForm.$submitted"
                  on-change="CashCtrl.digestExchangeRate(currency)"
                  disable-ids="CashCtrl.disabledCurrencyIds"
                  cashbox-id="CashCtrl.cashbox.id"
                  >
                </bh-currency-select>

                <!-- determine if we are creating a caution or an invoice payment -->
                <div class="radio" ng-class="{ 'has-error' : CashVoucherForm.$submitted && CashVoucherForm.type.$invalid }">
                  <p><strong class="control-label">{{ "FORM.LABELS.TYPE" | translate }}</strong></p>
                  <label class="radio-inline">
                    <input name="type" type="radio" ng-model="CashCtrl.payment.is_caution" ng-value="1" ng-change="CashCtrl.togglePaymentType()" data-caution-option="1" required>
                    {{ "FORM.LABELS.CAUTION" | translate }}
                  </label>
                  <label class="radio-inline">
                    <input name="type" type="radio" ng-model="CashCtrl.payment.is_caution" ng-value="0" ng-change="CashCtrl.togglePaymentType()" data-caution-option="0" required>
                    {{ "FORM.LABELS.INVOICE" | translate }}
                  </label>

                  <div class="help-block" ng-messages="CashVoucherForm.type.$error" ng-show="CashVoucherForm.$submitted">
                    <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
                  </div>
                </div>

                <!--
                  if payment type is not a caution, add in components to show payments against previous invoices
                -->
                <div ng-if="CashCtrl.payment.is_caution == 0">
                  <!--
                    namespace: slip
                    display a table of selected invoices the patient will be billed for.
                  -->
                  <table class="table table-condensed" ng-show="CashCtrl.payment.invoices.length > 0">
                    <thead>
                      <tr>
                        <th style="width: 25%;">{{ "TABLE.COLUMNS.REFERENCE" | translate }}</th>
                        <th style="width: 50%;">{{ "TABLE.COLUMNS.DATE" | translate }}</th>
                        <th style="width: 25%;">{{ "TABLE.COLUMNS.AMOUNT" | translate }}</th>
                      </tr>
                    </thead>
                    <tbody>

                      <!-- show a list of previous invoices to pay again -->
                      <tr ng-repeat="invoice in CashCtrl.payment.invoices track by invoice.uuid">
                        <td>{{ invoice.reference }}</td>
                        <td>{{ invoice.date | date }}</td>
                        <td class="text-right">{{ invoice.balance | currency:CashCtrl.enterprise.currency_id }}</td>
                      </tr>
                    </tbody>

                    <!-- total rows -->
                    <tfoot>

                      <!-- only show the sum if we have more rows than 1 -->
                      <tr ng-show="CashCtrl.payment.invoices.length > 1">
                        <td colspan="2" class="text-right"><u>{{ "TABLE.COLUMNS.TOTAL" | translate }}</u></td>
                        <td class="text-right">{{ CashCtrl.slip.rawTotal | currency:CashCtrl.enterprise.currency_id }}</td>
                      </tr>

                      <!-- only show this segment if using a foreign currency -->
                      <tr>
                        <td colspan="2" class="text-right"><b>{{ "TABLE.COLUMNS.EXCHANGE_RATE" | translate }}</b></td>
                        <td class="text-right">
                          <span ng-show="CashCtrl.payment.currency_id !== CashCtrl.enterprise.currency_id">
                            {{ CashCtrl.slip.rate | currency:CashCtrl.payment.currency_id }}
                          </span>
                          <span ng-show="CashCtrl.payment.currency_id === CashCtrl.enterprise.currency_id">
                            ---
                          </span>
                        </td>
                      </tr>

                      <!-- show a nice total row of what the payer owes today -->
                      <tr>
                        <th colspan="2" class="text-right">{{ "TABLE.COLUMNS.TOTAL" | translate }}</th>
                        <td class="text-right">{{ CashCtrl.slip.total | currency:CashCtrl.payment.currency_id }}</td>
                      </tr>
                    </tfoot>
                  </table>

                  <button class="btn-block btn btn-warning" ng-click="CashCtrl.openInvoicesModal()" type="button" data-open-invoices-btn>
                    <span class="glyphicon glyphicon-plus-sign"></span> {{ "FORM.BUTTONS.SELECT_INVOICES" | translate }}
                  </button>

                  <!-- show informational message if there are not invoice selected -->
                  <p ng-if="CashCtrl.payment.invoices.length === 0" class="text-center text-primary">
                    <span class="glyphicon glyphicon-info-sign"></span> {{ "CASH.VOUCHER.NO_INVOICES_SELECTED" | translate }}
                  </p>
                </div>

                <hr />

                <div ng-show="CashCtrl.patientBalance > 0" class="form-group">
                  <div class="alert alert-info">
                    <span ng-show="CashCtrl.slip.rate">
                      <strong>{{ 'CASH.CAUTION_COVER' | translate }}</strong> -
                      <strong>{{ 'FORM.LABELS.SOLD' | translate }}</strong>:
                      {{ CashCtrl.patientBalance * CashCtrl.slip.rate | currency:CashCtrl.payment.currency_id }}
                    </span>
                    <span ng-hide="CashCtrl.slip.rate">
                      <strong class="text-capitalize">{{ 'CASH.CAUTION_REMAINING' | translate }}</strong>:
                      {{ CashCtrl.patientBalance | currency:CashCtrl.enterprise.currency_id }}
                    </span>
                  </div>
                </div>

                <!-- use the currency input component for currency validation-->
                <bh-currency-input
                  data-payment-currency-input
                  currency-id="CashCtrl.payment.currency_id"
                  model="CashCtrl.payment.amount"
                  form="CashVoucherForm"
                  validation-trigger="CashVoucherForm.$submitted"
                  >
                </bh-currency-input>

                <div class="form-group text-right">
                  <bh-loading-button loading-state="CashVoucherForm.$loading">
                    {{ "FORM.BUTTONS.SUBMIT" | translate }}
                  </bh-loading-button>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
