<div class="modal-content" ng-form="ModalForm" novalidate ng-submit="ModalCtrl.submit(ModalForm.$invalid)">
  <div class="modal-header">
    <h3>{{ 'CASH.OVER.TITLE' | translate }}</h3>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-xs-2">
        {{ 'CASH.OVER.DANGER' | translate }}
      </div>
      <div class="col-xs-10">
        <p>{{ "CASH.OVER.CUED" | translate }} <b class="pull-right">{{ bill.total | currency }}</b></p>
        <p>{{ "CASH.OVER.PAYMENT" | translate }} <b class="pull-right">{{ bill.payment | currency }}</b></p>
        <p> <b>{{ "CASH.OVER.JUSTIFICATION" | translate }}</b> <small>({{ "CASH.OVER.MIN" | translate }})</small></p>
        <div class="form-group" ng-class="{ 'has-error' : ModalForm.$submitted && ModalForm.$invalid }">
          <div class="input-group">
            <span class="input-group-addon">{{ 'CASH.OVER.REASON' | translate }}</span>
            <input name="justification" type="text" class="form-control" ng-model="ModalCtrl.justification" ngMinLength="25" required>
          </div>
          <p class="help-block" ng-if="ModalForm.$invalid">
            Must be at least 25 characters.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" type="submit" ng-disabled="ModalForm.$invalid">{{ "FORM.SUBMIT" | translate }}</button>
    <button class="btn btn-default" type="button" ng-click="ModalCtrl.cancel()">{{ "FORM.CANCEL" | translate }}</button>
  </div>
</div>
