<ng-form name="ModalForm">
  <div class="modal-header">
    <!-- <h4>{{ 'CASH.MODAL.TITLE' | translate }} <small>{{ ModalCtrl.patient.reference }}</small></h4> -->
    <h4>Invoices <small>Jonathan Niles</small>
  </div>

  <div class="modal-body">
    <div class="table table-bordered">
      <thead>
        <tr>
          <th colspan="4">
            <input type="checkbox" ng-model="ModalCtrl.allInvoices" ng-click="ModalCtrl.selectAllInvoices()"> All Invoices
          </th>
        </tr>
        <tr>
          <th colspan="2"># of Items</th>
          <th>Date</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="invoice in ModalCtrl.invoices track by invoice.uuid">
          <td style="text-align: center; vertical-align: middle;">
            <input type="checkbox" ng-model="invoice.selected">
          </td>
          <td>{{ invoice.numItems }}</td>
          <td>{{ invoice.date | date }}</td>
          <td>{{ invoice.amount | currency:ModalCtrl.enterprise.currency_id }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-default" ng-click="ModalCtrl.submit(ModalForm.$invalid)" >{{ "FORM.SUBMIT" | translate }}</button>
    <button type="button" class="btn btn-default" ng-click="ModalCtrl.cancel()">{{ "FORM.CANCEL" | translate }}</button>
  </div>

</ng-form>
