<header data-header>
  {{ "PRIMARY_CASH.EXPENSE.GENERIC_TITLE" |  translate }}
</header>

<nav>
  <div class="pull-left">
    <ol class="breadcrumb" style="float: right;">
      <li><a href="#/"><span class="glyphicon glyphicon-home"></span></a></li>
      <li><a href="#/primary_cash/">{{ "PRIMARY_CASH.TITLE" | translate }}</a></li>
      <li><a>{{ "PRIMARY_CASH.EXPENSES" | translate }}</a></li>
      <li class="active">{{ "PRIMARY_CASH.GENERIC" | translate }}</li>
    </ol>
  </div>

  <div class="pull-right">
    <div uib-dropdown class="dropdown" style="display:inline-block;">
      <button uib-dropdown-toggle class="btn btn-sm btn-primary dropdown-toggle">
        {{ session.currency.symbol || "UTIL.CURRENCY" | translate }}
        <span class="caret" data-caret="&#9660;"></span>
      </button>
      <ul class="uib-dropdown-menu">
        <li ng-repeat="currency in currencies.data">
          <a ng-click="setCurrency(currency)">{{ currency.symbol }}</a>
        </li>
      </ul>
    </div>

    <button
      style="margin-left: 5px;"
      ng-click="reconfigure()"
      class="btn btn-sm btn-default">
      {{ 'PRIMARY_CASH.EXPENSE.SELECT_ACCOUNT' | translate }}
      <span class="glyphicon glyphicon-repeat"></span>
    </button>

  </div>
</nav>

<main>
  <div ng-if="!session.configured" class="row margin-top-10">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          {{ "PRIMARY_CASH.EXPENSE.SELECT_ACCOUNT" | translate }}
        </div>

        <div class="panel-body">
          <div class="configure">
            <span
              style="font-size: 70px"
              class="glyphicon glyphicon-export">
            </span>
          </div>
          <br>

          <div class="input-group">
            <input
              class="form-bhima"
              type="text"
              ng-model="session.ac"
              placeholder="Selectionner compte"
              typeahead="ac as formatAccount(ac) for ac in session.accounts | filter:$viewValue | limitTo:15"
              typeahead-template-url="AccountList.html"
              typeahead-on-select="setConfiguration(session.ac)"
              >
            <span class="input-group-btn">
              <button ng-click="setConfiguration(session.ac)" class="btn btn-default btn-sm square">{{ "FORM.SUBMIT" | translate }}</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div ng-if="session.configured" class="row margin-top-10">
    <div class="col-xs-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-list-alt"></span>
          {{ "PRIMARY_CASH.EXPENSE.GENERIC_RECEIPT" | translate }}
        </div>
        <div class="panel-body">
          <form name="GenericExpenseForm" novalidate>

            <div class="form-group" style="padding-right: 0;">
              <label>{{ "PRIMARY_CASH.EXPENSE.EXPENSE_DATE" | translate }}</label>
              <input class="form-bhima" type="date" ng-model="session.receipt.date" ng-max="{{ session.tomorrow }}" max="{{ session.today | date:'yyyy-MM-dd' }}"  required>
              <p ng-if="!session.hasDailyRate">
                <b class="text-danger"><span class="glyphicon glyphicon-warning-sign"></span>
                  {{ 'EXCHANGE.NO_EXCHANGE_RATE' | translate }} {{session.receipt.date | date }}
                </b>
                <b class="text-info">
                  <a title="{{ 'EXCHANGE.SET_HERE' | translate }}" href="#/exchange">
                    <span class="glyphicon glyphicon-cog"></span>
                  </a>
                </b>
              </p>
            </div>

            <div class="form-group">
              <label class="required">{{ "PRIMARY_CASH.EXPENSE.PURPOSE" | translate }}</label>
              <input class="form-bhima" ng-model="session.receipt.description" required>
            </div>


            <div class="form-group">
              <label class="required">{{ "PRIMARY_CASH.EXPENSE.AMOUNT" | translate }}</label>
              <div class="input-group">
                <span class="input-group-addon">
                  {{ session.currency.symbol || "..." }}
                </span>
                <input type="number" class="form-bhima" ng-model="session.receipt.cost" required>
              </div>
            </div>
          </form>
        </div>
        <div class="panel-footer">
          <button class="btn btn-sm btn-success" type="button" ng-click="submit()" ng-disabled="session.invalid"> {{ 'FORM.SUBMIT' | translate }} </button>
          <button class="btn btn-sm btn-default" type="button" ng-click="clear()"> {{ 'FORM.CLEAR' | translate }} </button>
        </div>
      </div>
    </div>

    <div class="col-xs-6">
      <div class="alert alert-info">
        <h4>{{ 'PRIMARY_CASH.EXPENSE.ACCOUNT' | translate }}</h4>
        <strong>{{ session.ac.number }}</strong> - {{ session.ac.label }}
      </div>
    </div>
  </div>
</main>

<script type="text/ng-template" id="AccountList.html">
  <a>
    <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
    <span><b>[{{ match.model.number }}]</b></span>
  </a>
</script>
