<div class="ui-grid-cell-contents text-right" uib-dropdown dropdown-append-to-body uib-dropdown-toggle ng-if="!row.groupHeader">
  <a href>
    <span data-method="action" translate>FORM.BUTTONS.ACTIONS</span>
    <span class="caret"></span>
  </a>

  <ul data-action="{{rowRenderIndex}}" class="dropdown-menu-right" bh-dropdown-menu-auto-dropup uib-dropdown-menu>
    <li class="bh-dropdown-header">{{ row.entity.label }}</li>
    <li>
      <a data-method="receipt" href ng-click="grid.appScope.showReceipt(row.entity.uuid)">
        <span><i class="fa fa-file-o"></i> <span translate>FORM.LABELS.DOCUMENT</span></span>
      </a>
    </li>
    <li>
      <a data-method="remove-record" href ng-click="grid.appScope.removeAssign(row.entity.uuid)">
        <span class="text-danger"><i class="fa fa-trash"></i> <span translate>ASSIGN.REMOVE_ASSIGN</span></span>
      </a>
    </li>
  </ul>
</div>
