<!-- configuration panel  -->
<div class="col-md-6 col-md-offset-3 panel panel-default">
  <div class="panel-body">
    <form name="ConfigForm" bh-submit="CashflowConfigCtrl.generate()" bh-form-defaults novalidate>

      <!-- Date interval  -->
      <bh-date-interval
        date-from="CashflowConfigCtrl.dateFrom"
        date-to="CashflowConfigCtrl.dateTo">
      </bh-date-interval>

      <!-- by week  -->
      <div class="form-group">
        <label class="text-action">
          <input type="checkbox" name="weekly" ng-model="CashflowConfigCtrl.weekly" ng-true-value="1" ng-false-value="0">
          {{ 'FORM.LABELS.WEEKLY_REPORT' | translate }}
        </label>
      </div>

      <!-- cashbox selection  -->
      <div class="form-group"
        ng-class="{ 'has-error' : ConfigForm.$submitted && ConfigForm.cashbox.$invalid }">
        <label class="control-label">
          <span class="fa fa-briefcase"></span> {{ 'FORM.SELECT.CASHBOX' | translate }}
        </label>
        <select
          class="form-control"
          name="cashbox"
          ng-model="CashflowConfigCtrl.cashbox"
          ng-options="cash as cash.hrlabel for cash in CashflowConfigCtrl.cashboxes"
          required>
          <option value="" disabled>-- {{ 'FORM.SELECT.CASHBOX' | translate }} --</option>
        </select>
        <div class="help-block" ng-messages="ConfigForm.cashbox.$error" ng-show="ConfigForm.$submitted">
          <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
        </div>
      </div>

      <div data-submit-area class="text-right">
        <bh-loading-button loading-state="ConfigForm.$loading"
          ng-disabled="ConfigForm.$invalid">
          {{ "FORM.BUTTONS.GENERATE" | translate }}
        </bh-loading-button>
      </div>

    </form>
  </div>
</div>
