<!-- the generated report  -->
<div class="col-md-12">

  <!-- cashflow summary  -->
  <table
    class="table table-bordered table-condensed"
    style="border: 2px solid #ccc;">
    <!-- period start -->
    <tr>
      <th style="width: 15%;"></th>
      <th class="text-right" ng-repeat="flow in ReportCtrl.session.periodicData track by $index">
        {{ flow.period.start_date | date: 'MMMM' | uppercase}}
      </th>
    </tr>

    <!-- white line -->
    <tr>
      <td style="background-color: #efefef;" colspan="{{ ReportCtrl.session.periodicData.length + 1 }}"></td>
    </tr>

    <!-- openning balance  -->
    <tr>
      <td class="text-left"><strong>{{ 'REPORT.OPENNING_BALANCE' | translate }}<strong></td>
      <td class="text-right" ng-repeat="flow in ReportCtrl.session.periodicData">
        {{ ReportCtrl.session.periodicOpenningBalance[ReportCtrl.basicDate(flow.period.start_date)] | currency:ReportCtrl.session.currency_id }}
      </td>
    </tr>

    <!-- closing balance  -->
    <tr>
      <td class="text-left"><strong>{{ 'REPORT.CLOSING_BALANCE' | translate }}<strong></td>
      <td class="text-right" ng-repeat="flow in ReportCtrl.session.periodicData">
        {{ ReportCtrl.session.periodicBalance[ReportCtrl.basicDate(flow.period.start_date)] | currency:ReportCtrl.session.currency_id }}
      </td>
    </tr>

  </table>

  <!-- detail label  -->
  <div class="hidden-print">
    <span data-show-details="true" style="cursor: pointer; text-decoration: underline;" ng-click="ReportCtrl.toggleDetails()">
      <i class="fa" ng-class="{'fa-caret-right': !ReportCtrl.showDetails, 'fa-caret-down': ReportCtrl.showDetails}"></i> {{ 'FORM.LABELS.DETAILS' | translate }}
    </span>
  </div>

  <!-- Cashflow report -->
  <table class="table table-condensed table-bordered"
    ng-show="ReportCtrl.showDetails">

    <thead>
      <!-- heading  -->
      <tr>
        <th style="width: 15%;"></th>
        <th class="text-right" ng-repeat="flow in ReportCtrl.session.periodicData track by $index">
          {{ flow.period.start_date | date: 'MMMM' | uppercase}}
        </th>
      </tr>
    </thead>

    <tbody>
      <!-- cash on hand (openning) -->
      <tr>
        <td style="background-color: #ccc;" class="text-left text-uppercase"><strong>{{ 'REPORT.OPENNING_BALANCE' | translate }}<strong></td>
        <td class="text-right" style="background-color: #ccc;" ng-repeat="flow in ReportCtrl.session.periodicData track by $index">
          <strong>{{ ReportCtrl.session.periodicOpenningBalance[ReportCtrl.basicDate(flow.period.start_date)] | currency:ReportCtrl.session.currency_id }}</strong>
        </td>
      </tr>

      <!-- cash incomes label  -->
      <tr>
        <td style="background-color: #efefef; letter-spacing: 20px;"
          class="text-center text-uppercase"
          colspan="{{ ReportCtrl.session.periodicData.length + 1 }}">
          <strong>{{ 'REPORT.CASH_INCOME' | translate }}</strong>
        </td>
      </tr>

      <!-- cash incomes  -->
      <tr ng-repeat="label in ReportCtrl.session.incomesLabels track by $index">
        <td class="text-left"><strong>{{ label | translate }}<strong></td>
        <td class="text-right" ng-repeat="flow in ReportCtrl.session.periodicData">
          {{ ReportCtrl.session.incomes[ReportCtrl.basicDate(flow.period.start_date)][label] || 0 | currency:ReportCtrl.session.currency_id }}
        </td>
      </tr>

      <!-- total incomes -->
      <tr>
        <td style="background-color: #efefef;" class="text-left text-uppercase"><strong>{{ 'FORM.LABELS.TOTAL' | translate }}<strong></td>
        <td class="text-right" style="background-color: #efefef;" ng-repeat="flow in ReportCtrl.session.periodicData">
          <b>{{ ReportCtrl.session.totalIncomes[ReportCtrl.basicDate(flow.period.start_date)] | currency:ReportCtrl.session.currency_id }}</b>
        </td>
      </tr>

      <!-- white line -->
      <tr>
        <td colspan="{{ ReportCtrl.session.periodicData.length + 1 }}"></td>
      </tr>

      <!-- cash expenses label  -->
      <tr>
        <td style="background-color: #efefef; letter-spacing: 20px;"
          class="text-center text-uppercase"
          colspan="{{ ReportCtrl.session.periodicData.length + 1 }}">
          <strong>{{ 'REPORT.CASH_EXPENSE' | translate }}</strong>
        </td>
      </tr>

      <!-- cash expenses  -->
      <tr ng-repeat="label in ReportCtrl.session.expensesLabels track by $index">
        <td class="text-left"><strong>{{ label | translate }}<strong></td>
        <td class="text-right" ng-repeat="flow in ReportCtrl.session.periodicData track by $index">
          {{ ReportCtrl.session.expenses[ReportCtrl.basicDate(flow.period.start_date)][label] || 0 | currency:ReportCtrl.session.currency_id }}
        </td>
      </tr>

      <!-- total expenses -->
      <tr>
        <td style="background-color: #efefef;" class="text-left text-uppercase"><strong>{{ 'FORM.LABELS.TOTAL' | translate }}<strong></td>
        <td class="text-right" style="background-color: #efefef;" ng-repeat="flow in ReportCtrl.session.periodicData track by $index">
          <b>{{ ReportCtrl.session.totalExpenses[ReportCtrl.basicDate(flow.period.start_date)] | currency:ReportCtrl.session.currency_id }}</b>
        </td>
      </tr>

      <!-- white line -->
      <tr>
        <td colspan="{{ ReportCtrl.session.periodicData.length + 1 }}"></td>
      </tr>

      <!-- total income expenses -->
      <tr>
        <td style="background-color: #efefef;" class="text-left text-uppercase"><strong>{{ 'REPORT.MONTHLY_BALANCE' | translate }}<strong></td>
        <td class="text-right" style="background-color: #efefef;" ng-repeat="flow in ReportCtrl.session.periodicData track by $index">
          <b>{{ ReportCtrl.session.totalIncomes[ReportCtrl.basicDate(flow.period.start_date)] - ReportCtrl.session.totalExpenses[ReportCtrl.basicDate(flow.period.start_date)] | currency:ReportCtrl.session.currency_id }}</b>
        </td>
      </tr>

      <!-- balance (month closing) -->
      <tr>
        <td style="background-color: #ccc;" class="text-left text-uppercase"><strong>{{ 'REPORT.CLOSING_BALANCE' | translate }}<strong></td>
        <td class="text-right" style="background-color: #ccc;" ng-repeat="flow in ReportCtrl.session.periodicData track by $index">
          {{ ReportCtrl.session.periodicBalance[ReportCtrl.basicDate(flow.period.start_date)] | currency:ReportCtrl.session.currency_id }}
        </td>
      </tr>


    </tbody>

  </table>

</div>
