<form  name="ModalForm" ng-submit="ModalCtrl.submit(ModalForm)" novalidate>
  <div class="modal-header">
    <div class="bhima-title">
      <ol class="headercrumb">
        <li class="static">{{ "FORM.INFOS.PATIENTS" | translate }}</li>
        <li class="title">{{ "FORM.INFOS.SEARCH" | translate }}</li>
      </ol>
    </div>
  </div>

  <div class="modal-body" style="overflow: auto; max-height: 300px;">
    <legend>{{ "FORM.LABELS.DATE_REGISTRATION" | translate }}</legend>  
    <fieldset>
      <div class="row text-center">
        <div class="btn-group">
          <button
            ng-repeat="(key, view) in ModalCtrl.period track by $index"
            type="button"
            class="btn btn-default"
            ng-class="{ 'active' : ModalCtrl.view.index === view.index }"
            ng-click="ModalCtrl.setTimes(view.cacheKey)"
            id = "{{ view.cacheKey }}"
            data-time-view-key="{{ key }}"
            >
            {{ view.translateKey | translate }}
          </button>
        </div>
      </div>
      <hr>
   
      <div class="form-group" ng-class="{ 'has-error' : ModalForm.$submitted && ModalForm.dateFrom.$invalid }">
        <div class="col-md-9">
          <div class="input-group">          
            <bh-date-editor
              id = "date-registration-from"
              date-value="ModalCtrl.patient.dateRegistrationFrom"
              validation-trigger="ModalForm.$submitted"
              max-date="ModalCtrl.today"
            >
            </bh-date-editor>
          </div>
        </div>
      </div>
      
      <div class="form-group" ng-class="{ 'has-error' : ModalForm.$submitted && ModalForm.dateTo.$invalid }">  
        <div class="col-md-9">
          <div class="input-group">
            <bh-date-editor
              id = "date-registration-to"
              date-value="ModalCtrl.patient.dateRegistrationTo"
              validation-trigger="ModalForm.$submitted"
              max-date="ModalCtrl.today"
            >
            </bh-date-editor>
          </div>
        </div>      
      </div>  
      <br>      
    </fieldset>

    <legend>{{ "FORM.LABELS.PATIENT_DETAILS" | translate }}</legend>
    <fieldset>
      <div class="form-group" ng-class="{ 'has-error' : ModalForm.$submitted && ModalForm.name.$invalid }">
        <label class="control-label" for="name">{{ 'FORM.LABELS.NAME' | translate }}</label>
        <input type="text" class="form-control" name="name" id="name" ng-model="ModalCtrl.patient.name">
        <div class="help-block" ng-messages="ModalForm.name.$error" ng-show="ModalForm.$submitted">
          <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
        </div>                 
      </div>

      <div class="form-group" ng-class="{ 'has-error' : ModalForm.$submitted && ModalForm.reference.$invalid }">
        <label class="control-label" for="reference">{{ 'FORM.LABELS.REFERENCE' | translate }}</label>
        <input type="text" class="form-control" name="reference" id="reference" ng-model="ModalCtrl.patient.reference">
        <div class="help-block" ng-messages="ModalForm.reference.$error" ng-show="ModalForm.$submitted">
          <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
        </div>                 
      </div>

      <div class="form-group" ng-class="{ 'has-error' : ModalForm.$submitted && ModalForm.hospital_no.$invalid }">
        <label class="control-label" for="reference">{{ 'FORM.LABELS.HOSPITAL_FILE_NR' | translate }}</label>
        <input type="text" class="form-control" name="hospital_no" id="hospital_no" ng-model="ModalCtrl.patient.fields.hospital_no">
        <div class="help-block" ng-messages="ModalForm.reference.$error" ng-show="ModalForm.$submitted">
          <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
        </div>                 
      </div>

      <div id="gender" class="form-group has-feedback"
        ng-class="{'has-error' : ModalForm.genderOptions.$invalid && ModalForm.$submitted}">
        <label for="male" class="col-md-3 control-label"> {{ "FORM.LABELS.GENDER" | translate }} </label>
        <div class="col-md-9">
          <label class="radio-inline">
            <input type="radio" name="genderOptions" id="all" value="all" ng-model="ModalCtrl.patient.sex">
            {{ "FORM.LABELS.ALL_GENDER" | translate }}
          </label>

          <label class="radio-inline">
            <input type="radio" name="genderOptions" id="male" value="M" ng-model="ModalCtrl.patient.sex">
            {{ "FORM.LABELS.MALE" | translate }}
          </label>

          <label class="radio-inline">
            <input type="radio" name="genderOptions" id="female" value="F" ng-model="ModalCtrl.patient.sex">
            {{ "FORM.LABELS.FEMALE" | translate }}
          </label>

          <div class="help-block" ng-messages="ModalForm.genderOptions.$error" ng-show="ModalForm.$submitted">
            <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
          </div>
        </div>
      </div>      
    </fieldset>

    <legend>{{ "FORM.LABELS.DOB" | translate }}</legend>  
    <fieldset>

      <div class="form-group" ng-class="{ 'has-error' : ModalForm.$submitted && ModalForm.dateFrom.$invalid }">
        <div class="col-md-9">
          <div class="input-group">
            <bh-date-editor
              id = "date-birth-from"
              date-value = "ModalCtrl.patient.dateBirthFrom"
              validation-trigger = "ModalForm.$submitted"
              max-date = "ModalCtrl.today"
            >
            </bh-date-editor>
          </div>
        </div>
      </div>
      
      <div class="form-group" ng-class="{ 'has-error' : ModalForm.$submitted && ModalForm.dateTo.$invalid }">  
        <div class="col-md-9">
          <div class="input-group">
            <bh-date-editor
              id = "date-birth-to"
              date-value="ModalCtrl.patient.dateBirthTo"
              validation-trigger="ModalForm.$submitted"
              max-date="ModalCtrl.today"
            >
            </bh-date-editor>
          </div>
        </div>      
      </div>  
      <br>      
    </fieldset>
  </div>
    
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="ModalCtrl.cancel()">{{ "FORM.BUTTONS.CLOSE" | translate }}</button>
    <button class="btn btn-default" id="patient_search" type="submit" data-method="submit">
      {{ "FORM.BUTTONS.SUBMIT" | translate }}
    </button>
  </div>
</form>
