<div class="flex-header static">
  <div class="bhima-title">
    <ol class="headercrumb">
      <li class="static">{{ "TREE.HOSPITAL" | translate }}</li>
      <li class="title">{{ "PATIENT_REGISTRY.TITLE" | translate }}</li>
    </ol>

    <div class="toolbar">
      <div class="toolbar-item">
        <button
            ng-click="PatientRegistryCtrl.search()"
            data-method="search"
            class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-search"></span> {{ "FORM.BUTTONS.SEARCH" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>

<!-- @todo remove hardcoded styles -->
<div class="flex-util" style="min-height : 35px; padding-top : 7px">
  <bh-filters-applied
    filters="PatientRegistryCtrl.filters">
  </bh-filters-applied>
</div>

<div class="flex-content">
  <div class="container-fluid">
    <div
      id="patient-registry"
      ui-grid="PatientRegistryCtrl.uiGridOptions"
      style="height : calc(100vh - 102px)"
      ui-grid-auto-resize
      ui-grid-resize-columns
      ui-grid-move-columns>

      <bh-grid-loading-indicator
        loading-state="PatientRegistryCtrl.loading"
        empty-state="PatientRegistryCtrl.uiGridOptions.data.length === 0"
        error-state="PatientRegistryCtrl.hasError"
        >
      </bh-grid-loading-indicator>

    </div>
  </div>
</div>
