<div class="flex-header static">
  <div class="bhima-title">
    <ol class="headercrumb">
      <li class="static">{{ "TREE.HOSPITAL" | translate }}</li>
      <li class="title">{{ "PATIENT_REGISTRY.TITLE" | translate }}</li>
    </ol>

    <div class="toolbar">
      <div class="toolbar-item">
        <button
          ng-click="PatientRegistryCtrl.search()"
          data-method="search"
          class="btn btn-default">
          <span class="fa fa-search"></span> {{ "FORM.BUTTONS.SEARCH" | translate }}
        </button>
      </div>
      <div class="toolbar-item">
        <button
            ng-click="PatientRegistryCtrl.print()"
            data-method="print"
            class="btn btn-default">
          <span class="fa fa-print"></span> {{ "FORM.BUTTONS.PRINT" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>

<!-- @todo remove hardcoded styles -->
<div class="flex-util" style="min-height : 35px; padding-top : 7px; max-height: initial">
  <bh-filters-applied
    style="max-width:90%"
    filters="PatientRegistryCtrl.filtersFmt"
    on-remove-filter="PatientRegistryCtrl.onRemoveFilter(filter)"
    >
  </bh-filters-applied>

  <a
    href
    ng-click="PatientRegistryCtrl.clearFilters()"
    ng-show="PatientRegistryCtrl.filtersFmt.length > 0"
    class="text-danger"
    data-method="clear">
    <i class="fa fa-ban text-danger"></i>
    {{ "FORM.INFOS.CLEAR_FILTERS" | translate }}
  </a>
</div>

<div class="flex-content">
  <div class="container-fluid">
    <div
      id="patient-registry"
      ui-grid="PatientRegistryCtrl.uiGridOptions"
      style="height : calc(100vh - 102px)"
      ui-grid-auto-resize
      ui-grid-resize-columns
      ui-grid-move-columns>

      <bh-grid-loading-indicator
        loading-state="PatientRegistryCtrl.loading"
        empty-state="PatientRegistryCtrl.uiGridOptions.data.length === 0"
        error-state="PatientRegistryCtrl.hasError"
        >
      </bh-grid-loading-indicator>

    </div>
  </div>
</div>
