<form
  name="ModalForm"
  ng-submit="ModalCtrl.submit(ModalForm)"
  data-modal="patient-search"
  bh-form-defaults
  novalidate>

  <div class="modal-header">
    <div class="bhima-title">
      <ol class="headercrumb">
        <li class="static">{{ "FORM.INFOS.PATIENTS" | translate }}</li>
        <li class="title">{{ "FORM.INFOS.SEARCH" | translate }}</li>
      </ol>
    </div>
  </div>

  <div class="modal-body" style="overflow: auto; max-height: 600px;">
    <fieldset>
      <legend>
        <i class="fa fa-calendar"></i> {{ "FORM.LABELS.DATE_REGISTRATION" | translate }}
      </legend>

      <ul class="list-inline" data-date-registration>
        <li ng-repeat="(key, view) in ModalCtrl.periods track by key">
          <a ng-click="ModalCtrl.setDateRange('registration', view.cacheKey)" data-date-range="{{ key }}" href>
            {{ ::view.translateKey | translate }}
          </a>
        </li>
        <li class="pull-right">
          <a href ng-click="ModalCtrl.clear('registration')" tabindex="-1">
            <i class="fa fa-eraser"></i> {{ "FORM.BUTTONS.CLEAR" | translate }}
          </a>
        </li>
      </ul>

      <!-- registration date input -->
      <div class="row">
        <div class="col-md-5">
          <div class="input-group">
            <input
              id="date-registration-from"
              type="text"
              class="form-control"
              ng-model="ModalCtrl.params.dateRegistrationFrom"
              uib-datepicker-popup="yyyy-MM-dd"
              is-open="ModalCtrl.dateRegistrationFromIsOpen"
              datepicker-options="ModalCtrl.dateOptions"
              show-button-bar="false"
              >
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="ModalCtrl.dateRegistrationFromIsOpen =! ModalCtrl.dateRegistrationFromIsOpen">
                  <i class="fa fa-calendar-plus-o"></i>
                </button>
              </span>
          </div>
        </div>

        <div class="col-md-2 text-center">
          <hr />
        </div>

        <div class="col-md-5">
          <div class="input-group">
            <input
              id="date-registration-to"
              type="text"
              class="form-control"
              ng-model="ModalCtrl.params.dateRegistrationTo"
              uib-datepicker-popup="yyyy-MM-dd"
              is-open="ModalCtrl.dateRegistrationToIsOpen"
              datepicker-options="ModalCtrl.dateOptions"
              show-button-bar="false"
              >
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="ModalCtrl.dateRegistrationToIsOpen =! ModalCtrl.dateRegistrationToIsOpen">
                  <i class="fa fa-calendar-plus-o"></i>
                </button>
              </span>
          </div>
        </div>
      </div>
    </fieldset>

    <br />

    <fieldset>
      <legend>
        <i class="fa fa-users"></i> {{ "FORM.LABELS.PATIENT_DETAILS" | translate }}
      </legend>

      <div class="form-group" ng-class="{ 'has-error' : ModalForm.$submitted && ModalForm.name.$invalid }">
        <label class="control-label">
          {{ 'FORM.LABELS.NAME' | translate }}
        </label>
        <span style="display:inline-block;" class="pull-right">
          <a href ng-click="ModalCtrl.clear('name')" tabindex="-1">
            <i class="fa fa-eraser"></i> {{ "FORM.BUTTONS.CLEAR" | translate }}
          </a>
        </span>
        <input type="text" class="form-control" name="name" ng-model="ModalCtrl.params.name">
        <div class="help-block" ng-messages="ModalForm.name.$error" ng-show="ModalForm.$submitted">
          <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
        </div>
      </div>

      <div class="form-group" ng-class="{ 'has-error' : ModalForm.$submitted && ModalForm.reference.$invalid }">
        <label class="control-label">
          {{ 'FORM.LABELS.REFERENCE' | translate }}
        </label>
        <span style="display:inline-block;" class="pull-right">
          <a href ng-click="ModalCtrl.clear('reference')" tabindex="-1">
            <i class="fa fa-eraser"></i> {{ "FORM.BUTTONS.CLEAR" | translate }}
          </a>
        </span>
        <input type="text" class="form-control" name="reference" ng-model="ModalCtrl.params.reference">
        <div class="help-block" ng-messages="ModalForm.reference.$error" ng-show="ModalForm.$submitted">
          <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
        </div>
      </div>

      <div class="form-group" ng-class="{ 'has-error' : ModalForm.$submitted && ModalForm.hospital_no.$invalid }">
        <label class="control-label">
          {{ 'FORM.LABELS.HOSPITAL_FILE_NR' | translate }}
        </label>
        <span style="display:inline-block;" class="pull-right">
          <a href ng-click="ModalCtrl.clear('hospital_no')" tabindex="-1">
            <i class="fa fa-eraser"></i> {{ "FORM.BUTTONS.CLEAR" | translate }}
          </a>
        </span>
        <input type="text" class="form-control" name="hospital_no" ng-model="ModalCtrl.params.hospital_no">
        <div class="help-block" ng-messages="ModalForm.reference.$error" ng-show="ModalForm.$submitted">
          <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
        </div>
      </div>

      <div class="radio">
        <p class="control-label">
          <strong>{{ "FORM.LABELS.GENDER" | translate }}</strong>
          <a href ng-click="ModalCtrl.clear('sex')" tabindex="-1">
            <i class="fa fa-eraser"></i> {{ "FORM.BUTTONS.CLEAR" | translate }}
          </a>
        </p>

        <label>
          <input type="radio" name="sex" id="male" value="M" ng-model="ModalCtrl.params.sex">
          {{ "FORM.LABELS.MALE" | translate }}
        </label>
      </div>

      <div class="radio">
        <label>
          <input type="radio" name="sex" id="female" value="F" ng-model="ModalCtrl.params.sex">
          {{ "FORM.LABELS.FEMALE" | translate }}
        </label>
      </div>
    </fieldset>

    <fieldset>
      <legend>
        <i class="fa fa-calendar"></i> {{ "FORM.LABELS.DOB" | translate }}
      </legend>

      <ul class="list-inline" data-date-dob>
        <li ng-repeat="(key, view) in ModalCtrl.periods track by key">
          <a ng-click="ModalCtrl.setDateRange('dob', view.cacheKey)" data-date-range="{{ key }}"  href>
            {{ ::view.translateKey | translate }}
          </a>
        </li>
        <li class="pull-right">
          <a href ng-click="ModalCtrl.clear('dob')" tabindex="-1" tabindex="-1">
            <i class="fa fa-eraser"></i> {{ "FORM.BUTTONS.CLEAR" | translate }}
          </a>
        </li>
      </ul>

      <!-- registration date input -->
      <div class="row">
        <div class="col-md-5">
          <div class="input-group">
            <input
              id="date-birth-from"
              type="text"
              class="form-control"
              ng-model="ModalCtrl.params.dateBirthFrom"
              uib-datepicker-popup="yyyy-MM-dd"
              is-open="ModalCtrl.dateBirthFromIsOpen"
              datepicker-options="ModalCtrl.dateOptions"
              show-button-bar="false"
              >
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="ModalCtrl.dateBirthFromIsOpen =! ModalCtrl.dateBirthFromIsOpen">
                  <i class="fa fa-calendar-plus-o"></i>
                </button>
              </span>
          </div>
        </div>

        <div class="col-md-2 text-center">
          <hr />
        </div>

        <div class="col-md-5">
          <div class="input-group">
            <input
              id="date-birth-to"
              ng-model="ModalCtrl.params.dateBirthTo"
              type="text"
              class="form-control"
              ng-model="ModalCtrl.params.dateBirthTo"
              uib-datepicker-popup="yyyy-MM-dd"
              is-open="ModalCtrl.dateBirthToIsOpen"
              datepicker-options="ModalCtrl.dateOptions"
              show-button-bar="false"
              >
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="ModalCtrl.dateBirthToIsOpen =! ModalCtrl.dateBirthToIsOpen">
                  <i class="fa fa-calendar-plus-o"></i>
                </button>
              </span>
          </div>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="ModalCtrl.cancel()" data-method="cancel">
      {{ "FORM.BUTTONS.CLOSE" | translate }}
    </button>
    <button type="submit" class="btn btn-primary" data-method="submit">
      {{ "FORM.BUTTONS.SUBMIT" | translate }}
    </button>
  </div>
</form>
