<div class="flex-header">
  <div class="bhima-title">
    <ol class="headercrumb">
      <li class="static">{{ "TREE.ACCOUNTING" | translate }}</li>
      <li class="active">{{ "REFERENCE_GROUP.TITLE" | translate }}</li>
    </ol>
  </div>
</div>

<!-- Links to the Reference Group Chart as well as the button for adding an referenceGroup -->
<div class="flex-util">
  <button ng-click="ReferenceGroupCtrl.create()" class="btn btn-default btn-sm" data-method="create">
    <span class="glyphicon glyphicon-plus-sign"></span> {{ "REFERENCE_GROUP.ADD" | translate }}
  </button>
</div>


<div class="flex-content">
  <div class="container-fluid">
    <div class="row">
      <!-- Complete list of registred Reference Group -->
      <div class="col-xs-6">
        <div class="panel panel-default" style="overflow: auto; max-height: 500px;">
          <div class="panel-heading">
            {{ "REFERENCE_GROUP.REGISTERED" | translate }}
          </div>

          <table class="table table-condensed">
            <thead>
              <tr>
                <th>{{ "TABLE.COLUMNS.NR" | translate}}</th>
                <th>{{ "TABLE.COLUMNS.REFERENCE_GROUP" | translate}}</th>
                <th>{{ "TABLE.COLUMNS.LABEL" | translate}}</th>
                <th>{{ "TABLE.COLUMNS.POSITION" | translate}}</th>
                <th>{{ "TABLE.COLUMNS.BALANCE_SECTION" | translate}}</th>
                <th colspan="2">{{ "TABLE.COLUMNS.ACTION" | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-if="ReferenceGroupCtrl.session.loading" class="text-center">
                <td colspan="7"><loading-indicator></loading-indicator></td>
              </tr>
              <tr
              ng-repeat="ref in ReferenceGroupCtrl.referenceGroups | orderBy:'number' | orderBy:'text' "
              ng-class="{'rowSelected' : ReferenceGroupCtrl.referenceGroup.id === ref.id}" >
                <td>{{$index + 1}}</td>
                <td>{{ ref.reference_group }}</td>
                <td>{{ ref.text }}</td>
                <td>{{ ref.position }}</td>
                <td>{{ ref.sectionBilanText }} </td>
                <td><a class="btn btn-xs btn-default" id="referenceGroup-upd-{{$index+1}}" ng-click="ReferenceGroupCtrl.update(ref)"><span class="glyphicon glyphicon-pencil"></span></a></td>
                <td><a class="btn btn-xs btn-default" id="referenceGroup-del-{{$index+1}}" ng-click="ReferenceGroupCtrl.del(ref)"><span class="glyphicon glyphicon-trash"></span></a></td>
              </tr>
              <tr ng-if="!ReferenceGroupCtrl.referenceGroups.length">
                <td colspan="6">{{ "REFERENCE_GROUP.NO_REFERENCES" | translate }}</td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>

      <div class="col-xs-6" ng-switch="ReferenceGroupCtrl.view">
        <div ng-switch-default>
          <div class="alert alert-info">
            <h4><STRONG>{{ "REFERENCE_GROUP.TITLE" | translate }}</STRONG></h4>
            <p>{{ "REFERENCE_GROUP.ALERT" | translate }}</p>
          </div>
        </div>

        <!-- Success saving Feed Back -->
        <div ng-switch-when="create_success">
          <div class="alert alert-success" id="create_success">
            <h4>{{ 'FORM.INFOS.SAVE_SUCCESS' | translate }}</h4>
          </div>
        </div>

        <!-- Success updating feedBack -->
        <div ng-switch-when="update_success">
          <div class="alert alert-success" id="update_success">
            <h4>{{ 'FORM.INFOS.UPDATE_SUCCESS' | translate }}</h4>
          </div>
        </div>

        <div ng-switch-when="delete_success">
          <div class="alert alert-success" id="delete_success">
            <h4>{{ 'FORM.INFOS.DELETE_SUCCESS' | translate }}</h4>
          </div>
        </div>

        <div ng-switch-when="delete_error">
          <div class="alert alert-danger" id="delete_error">
            <h4>{{ ReferenceGroupCtrl.HTTPError.data.code | translate }} </h4>
          </div>
        </div>

        <!-- Form for adding referenceGroup -->
        <div class="panel panel-primary" ng-switch-when="create">
          <div class="panel-heading">{{ "REFERENCE_GROUP.NEW_REFERENCE" | translate }}</div>
          <div class="panel-body">
            <form name="CreateForm" ng-submit="ReferenceGroupCtrl.submit(CreateForm)" bh-form-defaults novalidate>

              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.reference_group.$invalid }">
                <label class="control-label">{{ "FORM.LABELS.REFERENCE_GROUP" | translate }}</label>
                <input type="text" class="form-control" name="reference_group" ng-maxlength="ReferenceGroupCtrl.referenceAbbrLength" ng-model="ReferenceGroupCtrl.referenceGroup.reference_group" required>
                <div class="help-block" ng-messages="CreateForm.reference_group.$error" ng-show="CreateForm.$submitted">
                  <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.text.$invalid }">
                <label class="control-label">{{ "FORM.LABELS.LABEL" | translate }}</label>
                <input type="text" class="form-control" ng-maxlength="ReferenceGroupCtrl.maxLength" name="text" ng-model="ReferenceGroupCtrl.referenceGroup.text" required>
                <div class="help-block" ng-messages="CreateForm.text.$error" ng-show="CreateForm.$submitted">
                  <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
                </div>
              </div>

              <hr>

              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.position.$invalid }">
                <label class="control-label">{{ "FORM.LABELS.POSITION" | translate }}</label>
                <input type="number" class="form-control"  min="0" name="position" ng-model="ReferenceGroupCtrl.referenceGroup.position" required>
                <div class="help-block" ng-messages="CreateForm.position.$error" ng-show="CreateForm.$submitted">
                  <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.section_bilan_id.$invalid }">
                <label class="control-label">{{ "FORM.LABELS.BALANCE_SECTION" | translate }}</label>
                <select
                  class="form-control"
                  name="section_bilan_id"
                  ng-model="ReferenceGroupCtrl.referenceGroup.section_bilan_id"
                  id="section_bilan_id"
                  ng-options="section.id as section.text for section in ReferenceGroupCtrl.sectionBilans"
                  required>
                  <option value="" disabled> -- {{ "FORM.SELECTS.SELECT_BALANCE_SECTION" | translate }} -- </option>
                </select>
                <div class="help-block" ng-messages="CreateForm.section_bilan_id.$error" ng-show="CreateForm.$submitted">
                  <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
                </div>
              </div>

              <div class="form-group">
                <button class="btn btn-default" id="submit-referenceGroup" type="submit" data-method="submit">
                  {{ "FORM.BUTTONS.SAVE" | translate }}
                </button>
                <button class="btn btn-default" type="button" ng-click="ReferenceGroupCtrl.cancel()" data-method="cancel">
                  {{ "FORM.BUTTONS.RESET" | translate }}
                </button>
              </div>
            </form>
          </div>
        </div>

        <!-- Form for updating referenceGroup -->
        <div class="panel panel-primary" ng-switch-when="update">
          <div class="panel-heading">{{ "REFERENCE_GROUP.UPD_REFERENCE" | translate }} </b> </div>
          <div class="panel-body">
            <form name="UpdateForm" ng-submit="ReferenceGroupCtrl.submit(UpdateForm)" bh-form-defaults novalidate>

              <div class="form-group" ng-class="{ 'has-error' : UpdateForm.$submitted && UpdateForm.reference_group.$invalid }">
                <label class="control-label">{{ "FORM.LABELS.REFERENCE_GROUP" | translate }}</label>
                <input type="text" class="form-control" name="reference_group" ng-maxlength="ReferenceGroupCtrl.referenceAbbrLength" ng-model="ReferenceGroupCtrl.referenceGroup.reference_group" required>
                <div class="help-block" ng-messages="UpdateForm.reference_group.$error" ng-show="UpdateForm.$submitted">
                  <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : UpdateForm.$submitted && UpdateForm.text.$invalid }">
                <label class="control-label">{{ "FORM.LABELS.LABEL" | translate }}</label>
                <input type="text" class="form-control" name="text" ng-maxlength="ReferenceGroupCtrl.maxLength" ng-model="ReferenceGroupCtrl.referenceGroup.text" required>
                <div class="help-block" ng-messages="UpdateForm.text.$error" ng-show="UpdateForm.$submitted">
                  <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
                </div>
              </div>

              <hr>

              <div class="form-group" ng-class="{ 'has-error' : UpdateForm.$submitted && UpdateForm.position.$invalid }">
                <label class="control-label">{{ "FORM.LABELS.POSITION" | translate }}</label>
                <input type="number" class="form-control"  min="0" name="position" ng-model="ReferenceGroupCtrl.referenceGroup.position" required>
                <div class="help-block" ng-messages="UpdateForm.referenceGroup.$error" ng-show="UpdateForm.$submitted">
                  <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : UpdateForm.$submitted && UpdateForm.section_bilan_id.$invalid }">
                <label class="control-label">{{ "FORM.LABELS.BALANCE_SECTION" | translate }}</label>
                <select
                  class="form-control"
                  name="section_bilan_id"
                  ng-model="ReferenceGroupCtrl.referenceGroup.section_bilan_id"
                  id="section_bilan_id"
                  ng-options="section.id as section.text for section in ReferenceGroupCtrl.sectionBilans" required>
                  <option value="" disabled> -- {{ "FORM.LABELS.BALANCE_SECTION" | translate }} -- </option>
                </select>
                <div class="help-block" ng-messages="UpdateForm.section_bilan_id.$error" ng-show="UpdateForm.$submitted">
                  <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
                </div>
              </div>

              <div class="form-group">
                <button class="btn btn-default" id="change_referenceGroup" type="submit" data-method="submit">
                  {{ "FORM.BUTTONS.SAVE" | translate }}
                </button>
                <button class="btn btn-default" type="button" ng-click="ReferenceGroupCtrl.cancel()" data-method="cancel">
                  {{ "FORM.BUTTONS.RESET" | translate }}
                </button>
              </div>

            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
