<div class="ui-grid-cell-contents text-right" uib-dropdown dropdown-append-to-body>
  <a uib-dropdown-toggle href>
    <span data-method="action" translate>FORM.BUTTONS.ACTIONS</span>
    <span class="caret"></span>
  </a>

  <ul data-action="{{ rowRenderIndex}}"  class="dropdown-menu-right" uib-dropdown-menu>
    <li>
      <a data-method="edit" ng-click="grid.appScope.editService(row.entity)" href>
        <i class="fa fa-edit"></i> <span translate>FORM.BUTTONS.EDIT</span>
      </a>
    </li>
    <li class="divider"></li>
    <li>
      <a data-method="delete" ng-click="grid.appScope.deleteService(row.entity)" href>
        <span class="text-danger">
          <i class="fa fa-trash"></i> <span translate>SERVICE.DELETE</span>
        </span>
      </a>
    </li>
  </ul>
</div>
