<form name="ModalForm" ng-submit="ModalCtrl.submit(ModalForm)" novalidate>

  <div class="modal-header">
    <ol class="headercrumb">
      <li class="static" translate>TREE.INVENTORY</li>
      <li class="title" translate>FORM.INFO.SEARCH</li>
    </ol>
  </div>

  <div class="modal-body search-modal">
    <uib-tabset>
      <uib-tab index="0" heading="{{ 'FORM.LABELS.SEARCH_QUERIES' | translate }}" data-custom-filter-tab>
        <div class="tab-body">

          <bh-inventory-group-select
            group-uuid="ModalCtrl.searchQueries.group_uuid"
            name="group_uuid"
            on-select-callback="ModalCtrl.onSelectGroup(group)">
            <bh-clear on-clear="ModalCtrl.clear('group_uuid')"></bh-clear>
          </bh-inventory-group-select>

          <div class="form-group" ng-class="{ 'has-error' : ModalForm.$submitted && ModalForm.text.$invalid }">
            <label class="control-label" translate>
              FORM.LABELS.LABEL
            </label>
            <bh-clear on-clear="ModalCtrl.clear('text')"></bh-clear>

            <input type="text" class="form-control" name="text" ng-model="ModalCtrl.searchQueries.text">
            <div class="help-block" ng-messages="ModalForm.text.$error" ng-show="ModalForm.$submitted">
              <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
            </div>
          </div>

          <div class="form-group" ng-class="{ 'has-error' : ModalForm.$submitted && ModalForm.code.$invalid }">
            <label class="control-label" translate>
              FORM.LABELS.CODE
            </label>
            <bh-clear on-clear="ModalCtrl.clear('code')"></bh-clear>

            <input type="text" class="form-control" name="code" ng-model="ModalCtrl.searchQueries.code">
            <div class="help-block" ng-messages="ModalForm.code.$error" ng-show="ModalForm.$submitted">
              <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
            </div>
          </div>

          <div class="form-group" ng-class="{ 'has-error' : ModalForm.$submitted && ModalForm.price.$invalid }">
            <label class="control-label" translate>
              FORM.LABELS.UNIT_PRICE
            </label>
            <bh-clear on-clear="ModalCtrl.clear('price')"></bh-clear>

            <input type="number" class="form-control" name="price" ng-model="ModalCtrl.searchQueries.price">
            <div class="help-block" ng-messages="ModalForm.price.$error" ng-show="ModalForm.$submitted">
              <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
            </div>
          </div>

          <bh-inventory-type-select
            type-id="ModalCtrl.searchQueries.type_id"
            name="type_id"
            on-select-callback="ModalCtrl.onSelectType(type)">
            <bh-clear on-clear="ModalCtrl.clear('type_id')"></bh-clear>
          </bh-inventory-type-select>
          <br/>
          <div class="form-group">
            <bh-clear on-clear="ModalCtrl.clear('consumable')"></bh-clear>
            <label class="control-label" translate>
              FORM.LABELS.CONSUMABLE
            </label>
            <div ng-class="{ 'has-error' : ModalForm.$submitted && ModalForm.consumable.$invalid }">


            <label class="radio-inline">
              <input type="radio" value='1' name="consumable" ng-model="ModalCtrl.searchQueries.consumable">
              <span translate>FORM.LABELS.YES</span>
            </label>

            <label class="radio-inline">
              <input type="radio" value='0' name="consumable" ng-model="ModalCtrl.searchQueries.consumable">
              <span translate>FORM.LABELS.NO</span>
            </label>
          </div>
          </div>

          <div class="form-group">
            <bh-clear on-clear="ModalCtrl.clear('locked')"></bh-clear>
            <label class="control-label" translate>
              FORM.LABELS.LOCKED
            </label>
            <div  ng-class="{ 'has-error' : ModalForm.$submitted && ModalForm.locked.$invalid }">

              <label class="radio-inline">
                <input type="radio" value='1' name="locked" ng-model="ModalCtrl.searchQueries.locked">
                <span translate>FORM.LABELS.YES</span>
              </label>
              <label class="radio-inline">
                <input type="radio" value='0' name="locked" ng-model="ModalCtrl.searchQueries.locked">
                <span translate>FORM.LABELS.NO</span>
              </label>
            </div>
          </div></div>
      </uib-tab>

      <uib-tab index="1" heading="{{ 'FORM.LABELS.DEFAULTS' | translate }}" data-default-filter-tab>
        <div class="tab-body">
          <div class="form-group" ng-class="{ 'has-error' : ModalForm.limit.$invalid }">
            <label class="control-label" translate>FORM.LABELS.LIMIT</label>
            <input name="limit" type="number" bh-integer class="form-control" ng-model="ModalCtrl.defaultQueries.limit" ng-change="ModalCtrl.onSelectLimit(ModalCtrl.defaultQueries.limit)">

            <div class="help-block" ng-messages="ModalForm.limit.$error">
              <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
            </div>
          </div>
        </div>
      </uib-tab>
    </uib-tabset>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="ModalCtrl.cancel()" data-method="cancel" translate>
      FORM.BUTTONS.CLOSE
    </button>
    <button type="submit" class="btn btn-primary" data-method="submit" translate>
      FORM.BUTTONS.SUBMIT
    </button>
  </div>
</form>
