<header data-header>
  {{ 'ENTERPRISE.TITLE' | translate }}
</header>

<nav>
  <div class="pull-left">
    <ol class="breadcrumb">
      <li><a href="#/"><span class="glyphicon glyphicon-home"></span></a></li>
      <li class="active">{{ "ENTERPRISE.TITLE" | translate }}</li>
    </ol>
  </div>

  <div class="pull-right">
    <button class="btn btn-default" id="create" ng-click="EnterpriseCtrl.create()" data-method="create">
      <i class="glyphicon glyphicon-plus-sign"></i>
      {{ "ENTERPRISE.NEW" | translate }}
    </button>
  </div>
</nav>

<div class="visible-print" style="margin: 15px;">
  <h3>{{ 'ENTERPRISE.REGISTERED_ENTERPRISE' | translate }}</h3>
  <table class="table table-condensed table-bordered">
    <thead>
      <tr>
        <th>{{ 'ENTERPRISE.NAME' | translate }}</th>
        <th>{{ 'ENTERPRISE.ABBREVIATION' | translate }}</th>
        <th>{{ 'ENTERPRISE.PO_BOX' | translate }}</th>
        <th>{{ 'ENTERPRISE.EMAIL' | translate }}</th>
        <th>{{ 'ENTERPRISE.PHONE' | translate }}</th>
        <th>{{ 'ENTERPRISE.LOCATION_ID' | translate }}</th>
        <th>{{ 'ENTERPRISE.CURRENCY' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="e in EnterpriseCtrl.enterprises | orderBy:'name'">
        <td>{{ e.name }}</td>
        <td>{{ e.abbr }}</td>
        <td>{{ e.po_box }}</td>
        <td>{{ e.email }}</td>
        <td>{{ e.phone }}</td>
        <td>{{ e.location_id.slice(0,8) }}</td>
        <td>{{ EnterpriseCtrl.getElementCurrency(e.currency_id) }}</td>
      </tr>
    </tbody>
  </table>
</div>

<main class="hidden-print">
  <div class="container-fluid">
    <div class="row">
      
      <!-- Enterprises Details Form -->
      <div class="col-md-6">
        <div class="panel panel-default" style="overflow: auto; max-height: 500px;">
          <div class="panel-heading">
            {{ 'ENTERPRISE.EXISTING_ENTERPRISES' | translate }}
          </div>
          <table class="table table-condensed table-hover">
            <thead>
              <tr>
                <th>{{ 'ENTERPRISE.NAME' | translate }}</th>
                <th>{{ 'ENTERPRISE.ABBREVIATION' | translate }}</th>
                <th>{{ 'ENTERPRISE.PO_BOX' | translate }}</th>
                <th>{{ 'ENTERPRISE.EMAIL' | translate }}</th>
                <th>{{ 'ENTERPRISE.PHONE' | translate }}</th>
                <th>{{ 'ENTERPRISE.EDIT' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="e in EnterpriseCtrl.enterprises | orderBy:'name'">
                <td>{{ e.name }} Os</td>
                <td>{{ e.abbr }}</td>
                <td>{{ e.po_box }}</td>
                <td>{{ e.email }}</td>
                <td>{{ e.phone }}</td>
                <td><a class="action" id="enterprise-{{e.id}}" ng-click="EnterpriseCtrl.update(e)"><i class="glyphicon glyphicon-pencil"></i></a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  
      <!-- Optional Information Form -->
      <div class="col-md-6" ng-switch="EnterpriseCtrl.view">
        <div ng-switch-default>
          <div class="alert alert-info">
            <h4>{{ 'ENTERPRISE.TITLE' | translate }}</h4>
            <p>{{ 'ENTERPRISE.HELP_TEXT_1' | translate }}
            </p>
            <ul class="list-plain">
              <li><i class="glyphicon glyphicon-pencil"></i> {{ 'ENTERPRISE.HELP_TEXT_2' | translate }}</li>
              <li><i class="glyphicon glyphicon-plus-sign"></i> {{ 'ENTERPRISE.HELP_TEXT_3' | translate }}</li>
            </ul>
          </div>
        </div>

        <div class="panel panel-primary" ng-switch-when="create">
          <div class="panel-heading">{{ "ENTERPRISE.CONFIGURATION" | translate }}</div>
          <div class="panel-body">
            <form class="form-horizontal" name="CreateForm" ng-submit="EnterpriseCtrl.submit(CreateForm.$invalid)" novalidate>

              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.name.$invalid }">
                <label class="col-xs-3 control-label required" for="bhima-enterprise-name">{{ 'ENTERPRISE.NAME' | translate }}</label>
                <div class="col-xs-9">
                  <input type="text" class="form-control" name="name" id="bhima-enterprise-name" ng-model="EnterpriseCtrl.enterprise.name" required>
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.abbr.$invalid }">
                <label for="bhima-enterprise-abbr" class="col-md-3 control-label">{{ "ENTERPRISE.ABBREVIATION" | translate }}</label>
                <div class="col-md-9">
                  <input type="text" class="form-control" name="abbr" required id="bhima-enterprise-abbr" ng-model="EnterpriseCtrl.enterprise.abbr">
                </div>
              </div>

              <div class="form-group">
                <label for="bhima-enterprise-po_box" class="col-md-3 control-label">{{ "ENTERPRISE.PO_BOX" | translate }}</label>
                <div class="col-md-9">
                  <input type="text" class="form-control" name="po_box" id="bhima-enterprise-po_box" ng-model="EnterpriseCtrl.enterprise.po_box">
                </div>
              </div>

              <div class="form-group">
                <label for="bhima-enterprise-email" class="col-md-3 control-label">{{ "ENTERPRISE.EMAIL" | translate }}</label>
                <div class="col-md-9">
                  <input type="email" class="form-control" name="email" id="bhima-enterprise-email" ng-model="EnterpriseCtrl.enterprise.email">
                </div>
              </div>

              <div class="form-group">
                <label for="bhima-enterprise-phone" class="col-md-3 control-label">{{ "ENTERPRISE.PHONE" | translate }}</label>
                <div class="col-md-9">
                  <input type="tel" class="form-control" name="phone" id="bhima-enterprise-phone" ng-model="EnterpriseCtrl.enterprise.phone">
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.location_id.$invalid }">
                <label class="col-md-3 control-label">{{ "ENTERPRISE.LOCATION" | translate }}</label>
                <div class="col-md-9">
                  <select class="form-control" name="location_id" ng-model="EnterpriseCtrl.enterprise.location_id" id="bhima-enterprise-location" ng-options="loc.uuid as EnterpriseCtrl.formatLocation(loc) for loc in EnterpriseCtrl.locations | orderBy:'village'" required>
                    <option value="" disabled> -- {{ 'SELECT.LOCATION' | translate }}-- </option>
                  </select>
                </div>  
              </div>       
                     
              <fieldset>
                <legend>{{ 'ENTERPRISE.CURRENCY_CASH_MANAGEMENT' | translate }}</legend>
                <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.currency_id.$invalid }">  
                  <div class="radio" ng-repeat="currency in EnterpriseCtrl.currencies">
                    <label class="control-label">
                      <input type="radio" value="{{currency.id}}" required id="currency_id-{{currency.id}}" name="currency_id" ng-model="EnterpriseCtrl.enterprise.currency_id">
                      {{currency.name}}
                    </label>
                    </div>
                </div>  
              </fieldset>

              <div class="form-group">
                  <button class="btn btn-default" id="submit-enterprise" type="submit" data-method="submit">
                    {{ "FORM.SUBMIT" | translate }}
                  </button>
                  <button class="btn btn-default" type="button" ng-click="EnterpriseCtrl.cancel()" data-method="cancel">
                    {{ "FORM.CANCEL" | translate }}
                  </button>
              </div>
            </form>
          </div>
        </div>


        <div class="panel panel-primary" ng-switch-when="update">
          <div class="panel-heading">{{ "ENTERPRISE.EDIT_ENTERPRISE" | translate }}</div>
          <div class="panel-body">
            <form class="form-horizontal" name="UpdateForm" ng-submit="EnterpriseCtrl.submit(UpdateForm.$invalid)" novalidate>

              <div class="form-group" ng-class="{ 'has-error' : UpdateForm.$submitted && UpdateForm.name.$invalid }">
                <label class="col-xs-3 control-label required" for="bhima-enterprise-name">{{ 'ENTERPRISE.NAME' | translate }}</label>
                <div class="col-xs-9">
                  <input type="text" class="form-control" name="name" id="bhima-enterprise-name" ng-model="EnterpriseCtrl.enterprise.name" required>
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : UpdateForm.$submitted && UpdateForm.abbr.$invalid }">
                <label for="bhima-enterprise-abbr" class="col-md-3 control-label">{{ "ENTERPRISE.ABBREVIATION" | translate }}</label>
                <div class="col-md-9">
                  <input type="text" class="form-control" name="abbr" required id="bhima-enterprise-abbr" ng-model="EnterpriseCtrl.enterprise.abbr">
                </div>
              </div>

              <div class="form-group">
                <label for="bhima-enterprise-po_box" class="col-md-3 control-label">{{ "ENTERPRISE.PO_BOX" | translate }}</label>
                <div class="col-md-9">
                  <input type="text" class="form-control" name="po_box" id="bhima-enterprise-po_box" ng-model="EnterpriseCtrl.enterprise.po_box">
                </div>
              </div>

              <div class="form-group">
                <label for="bhima-enterprise-email" class="col-md-3 control-label">{{ "ENTERPRISE.EMAIL" | translate }}</label>
                <div class="col-md-9">
                  <input type="email" class="form-control" name="email" id="bhima-enterprise-email" ng-model="EnterpriseCtrl.enterprise.email">
                </div>
              </div>

              <div class="form-group">
                <label for="bhima-enterprise-phone" class="col-md-3 control-label">{{ "ENTERPRISE.PHONE" | translate }}</label>
                <div class="col-md-9">
                  <input type="tel" class="form-control" name="phone" id="bhima-enterprise-phone" ng-model="EnterpriseCtrl.enterprise.phone">
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : UpdateForm.$submitted && UpdateForm.location_id.$invalid }">
                <label class="col-md-3 control-label">{{ "ENTERPRISE.LOCATION" | translate }}</label>
                <div class="col-md-9">
                  <select class="form-control" name="location_id" ng-model="EnterpriseCtrl.enterprise.location_id" id="bhima-enterprise-location" ng-options="loc.uuid as EnterpriseCtrl.formatLocation(loc) for loc in EnterpriseCtrl.locations | orderBy:'village'" required>
                    <option value="" disabled> -- {{ 'SELECT.LOCATION' | translate }}-- </option>
                  </select>
                </div>  
              </div>       
                     
              <fieldset>
                <legend>{{ 'ENTERPRISE.CURRENCY_CASH_MANAGEMENT' | translate }}</legend>
                <div class="form-group" ng-class="{ 'has-error' : UpdateForm.$submitted && UpdateForm.currency_id.$invalid }">  
                  <div class="radio" ng-repeat="currency in EnterpriseCtrl.currencies">
                    <label class="control-label">
                      <input type="radio" value="{{currency.id}}" required id="currency_id" name="currency_id" ng-model="EnterpriseCtrl.enterprise.currency_id">
                      {{currency.name}}
                    </label>
                  </div>
                </div>  
              </fieldset>

              <div class="form-group">
                  <button class="btn btn-default" id="change_enterprise" name="submit" type="submit" data-method="submit">
                    {{ "FORM.SAVE_CHANGES" | translate }}
                  </button>
                  <button class="btn btn-default" type="button" ng-click="EnterpriseCtrl.cancel()" data-method="cancel">
                    {{ "FORM.RESET_FORM" | translate }}
                  </button>
              </div>
            </form>
          </div>
        </div>        
      </div>
    </div>
  </div>
</main>


