<div ng-switch="PaymentCtrl.state">

  <main ng-switch-default>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><b> {{ "CASH.EXTRA.TITLE" | translate }} : </b><h4>
      </div>

      <form class="panel-body" name="ConfigForm" novalidate>
        <div class="form-group">
          <label class="required">
            {{ "SELECT.PATIENT" | translate }}
          </label>
          <div class="input-group">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-user"></i>
            </span>
            <input
              class="form-bhima"
              ng-model="PaymentCtrl.patient"
              typeahead="patient as PaymentCtrl.formatPatient(patient) for patient in PaymentCtrl.patients.data | filter:$viewValue | limitTo:10"
              typeahead-template-url="/partials/templates/patientListe.tmpl.html"
              placeholder="{{ 'CASH.EXTRA.FIND_PATIENT' | translate }}"
              required>
          </div>
        </div>

        <div class="form-group">
          <label class="required">
            {{ "SELECT.ACCOUNT" | translate }}
          </label>
          <div class="input-group">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-briefcase"></i>
            </span>
            <input class="form-bhima"
              ng-model="PaymentCtrl.account"
              typeahead="account as PaymentCtrl.formatAccount(account) for account in PaymentCtrl.accounts.data | filter:$viewValue | limitTo:10"
              typeahead-template-url="/partials/templates/accountListe.tmpl.html"
              placeholder="{{ 'CASH.EXTRA.FIND_ACCOUNT' | translate }}"
              required>
          </div>
        </div>
        <div class="pull-right">
          <button class="btn btn-sm btn-success" type="button" ng-click="PaymentCtrl.search()" ng-disabled="ConfigForm.$invalid">
              {{ "REPORT.GENERATE" | translate }}
          </button>
        </div>
      </form>
    </div>
  </main>

  <div ng-switch-when="generate">
    <header data-header>
      {{ "CASH.EXTRA.TITLE" |  translate }}
    </header>
    <nav>
      <div class="pull-right">
        <button
          style="margin-left: 5px;"
          ng-click="PaymentCtrl.reconfigure()"
          class="btn btn-sm btn-default pull-right">
          <span class="glyphicon glyphicon-repeat"></span>
        </button>
      </div>
      <div class="pull-left">
        <ol class="breadcrumb" style="float: right;">
          <li><a href="#/"><span class="glyphicon glyphicon-home"></span></a></li>
          <li class="active">{{ "CASH.EXTRA.TITLE" | translate }}</li>
        </ol>
      </div>
    </nav>

    <main>
      <div ng-if="!PaymentCtrl.account" class="row margin-top-10">
        <div class="col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              {{ "PRIMARY_CASH.EXPENSE.SELECT_ACCOUNT" | translate }}:
              <b>{{ "CASH.EXTRA.WAIT_ACCOUNT" | translate }}</b>
            </div>

            <div class="panel-body">
              <div class="configure">
                <span style="font-size: 70px;" class="glyphicon glyphicon-inbox"></span>
              </div>
              <br>
            </div>
          </div>
        </div>
      </div>

      <div ng-if="!PaymentCtrl.account"  class="row margin-top-10">
        <div class="col-xs-6">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="input-group">
                <label class="input-group-addon"><i class="glyphicon glyphicon-search"></i></label>
                <input
                class="form-control"
                type="text"
                placeholder="{{ 'CASH.EXTRA.FILTER_PATIENT' | translate }}"
                ng-model="PaymentCtrl.filter">
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-6">
          <div class="alert alert-info">
            <h4>{{ 'PRIMARY_CASH.EXPENSE.ACCOUNT' | translate }} ({{ 'CASH.EXTRA.WAIT_ACCOUNT' | translate }})</h4>
            <strong>{{ PaymentCtrl.account.number }}</strong> - {{ PaymentCtrl.account.label }}
            <hr>
            <h4>{{ 'CASH.EXTRA.SALE_CLIENT' | translate }}</h4>
            {{ PaymentCtrl.patient.last_name }} {{ PaymentCtrl.patient.middle_name }} {{ PaymentCtrl.patient.first_name }}
          </div>
        </div>
      </div>

      <div ng-if="!!PaymentCtrl.account"  class="row">
        <div class="col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <span class="glyphicon glyphicon-inbox"></span>
              {{ "CASH.EXTRA.TITLE" | translate }}
            </div>
            <table class="table table-condensed bordered">
              <thead>
                <tr>
                  <th width="7%">{{ "CASH.EXTRA.SALE_NO" | translate }}</th>
                  <th>{{ "CASH.EXTRA.SALE_UUID" | translate }}</th>
                  <th>{{ "CASH.EXTRA.SALE_AMOUNT_TO_PAY" | translate }}</th>
                  <th>{{ "CASH.EXTRA.SALE_AMOUNT_PAYED" | translate }}</th>
                  <th width="5%">{{ "CASH.EXTRA.SALE_CURRENCY" | translate }}</th>
                  <th width="10%">{{ "CASH.EXTRA.ACTION" | translate }}</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-if="PaymentCtrl.loading">
                  <th colspan="6" class="text-center">
                    <loading-indicator></loading-indicator>
                  </th>
                </tr>
                <tr ng-if="!PaymentCtrl.loading && PaymentCtrl.data.length === 0">
                  <th colspan="6" class="text-center">
                    <i class="glyphicon glyphicon-exclamation-sign"></i> {{ 'UTIL.NO_DATA' | translate }}
                  </th>
                </tr>
                <tr ng-if="sale.transaction" ng-repeat="sale in PaymentCtrl.data | filter:PaymentCtrl.filter">
                  <td style="vertical-align:middle;">{{ sale.transaction }}</td>
                  <td style="vertical-align:middle;">{{ sale.inv_po_id }}</td>
                  <td style="vertical-align:middle;">{{ sale.balance | currency:sale.currency }}</td>
                  <td>
                    <input
                      class="form-invoice"
                      ng-model="sale.cost"
                      type="number"
                      step="0.1"
                      placeholder="...">
                  </td>
                  <td>
                    <select
                      ng-model="sale.currency"
                      ng-options="currency.id as currency.symbol for currency in PaymentCtrl.currencies.data"
                      ng-change="PaymentCtrl.setCurrency(sale)">
                      <option value="" disabled>{{ 'SELECT.CURRENCY' | translate }}</option>
                    </select>
                  </td>
                  <td>
                    <button
                    class="btn btn-xs btn-success"
                    ng-click="PaymentCtrl.submit(sale)"
                    ng-disabled="!sale.currency">
                      {{ "CASH.EXTRA.SALE_SUBMIT" | translate }}
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
