<div class="flex-header">
  <div class="bhima-title">
    <ol class="headercrumb">
      <li class="static">{{ "TREE.ADMIN" | translate }}</li>
      <li class="active">{{ "EMPLOYEE.TITLE" | translate }}</li>
    </ol>
  </div>
</div>

<div class="flex-util">
  <button class="btn btn-sm btn-default" id="create" ng-click="EmployeeCtrl.create()" data-method="create">
    <span class="glyphicon glyphicon-plus-sign"></span> {{ "EMPLOYEE.REGISTER" | translate }}
  </button>
</div>

<div class="flex-content">
  <div class="container-fluid">
    <div class="row">

      <div class="col-xs-6">
        <div class="panel panel-default" style="overflow: auto; max-height: 500px;">
          <div class="panel-heading">
            {{ "EMPLOYEE.EMPLOYEES" | translate }}
          </div>

          <!-- FIX ME -->
          <!-- Employee research must be done in a ui-grid  -->

          <table class="table table-condensed">
            <thead>
              <tr>
                <th>{{ "TABLE.COLUMNS.CODE" | translate }}</th>
                <th>
                  {{ "TABLE.COLUMNS.FIRST_NAME" | translate }},
                  {{ "TABLE.COLUMNS.NAME" | translate }} -
                  {{ "TABLE.COLUMNS.LAST_NAME" | translate }}
                </th>
                <th>{{ "TABLE.COLUMNS.FUNCTION" | translate }}</th>
                <th>{{ "TABLE.COLUMNS.GRADE" | translate }}</th>
                <th><i class="glyphicon glyphicon-lock"></i></th>
                <th>{{ "TABLE.COLUMNS.ACTION" | translate }}
              </tr>
            </thead>
            <tbody>
              <tr ng-if="EmployeeCtrl.loading" class="text-center">
                <td colspan="6"><loading-indicator></loading-indicator></td>
              </tr>

              <tr ng-if="!EmployeeCtrl.loading && EmployeeCtrl.employees.data.length === 0">
                <td colspan="6">
                  <div class="alert alert-warning">
                    <i class="glyphicon glyphicon-inbox"></i> {{ 'EMPLOYEE.NONE_FOUND' | translate }}
                  </div>
                </td>
              </tr>

              <tr ng-repeat="item in EmployeeCtrl.employees | orderBy:'name' | filter: searchEmployee"
                ng-class="{'rowSelected' : EmployeeCtrl.employee.id === item.id}">
                <td>
                  <i ng-if="!item.code_employees" class="glyphicon glyphicon-minus-sign"></i> {{ item.code_employees }}
                </td>
                <td>{{ item.display_name}} </td>
                <td>{{ item.fonction_txt }}</td>
                <td>{{ item.code_grade }}</td>
                <td><i class="glyphicon glyphicon-ok" ng-if="!!item.locked"></i></td>
                <td><a ng-click="EmployeeCtrl.update(item)" id="employee-upd-{{ $index + 1}}"> <i class="glyphicon glyphicon-circle-arrow-right"></i></a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-xs-6" ng-switch="EmployeeCtrl.view">
        <div ng-switch-default>
          <div class="alert alert-info" id="default">
            <h4>{{ 'EMPLOYEE.TITLE' | translate }}</h4>
            <p>{{ 'EMPLOYEE.INFO' | translate }}</p>
          </div>
        </div>

        <div class="panel panel-primary" ng-switch-when="create">
          <div class="panel-heading">{{ 'EMPLOYEE.REGISTRATION_FORM' | translate }}</div>
          <div class="panel-body">
            <form class="panel-body" name="CreateForm" ng-submit="EmployeeCtrl.submit(CreateForm.$invalid)" bh-form-defaults novalidate>

              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.display_name.$invalid }">
                <label class="control-label" for="bhima-employee-display_name">{{ 'FORM.LABELS.EMPLOYEE_NAME' | translate }}</label>
                <input type="text" class="form-control" name="display_name" autocomplete="off" ng-maxlength="EmployeeCtrl.maxLength" id="bhima-employee-display_name" ng-model="EmployeeCtrl.employee.display_name" required>
                <div class="help-block" ng-messages="CreateForm.display_name.$error" ng-show="CreateForm.$submitted">
                  <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
                </div>
              </div>

              <!-- date editor component -->
              <bh-date-editor
                id="employee-dob"
                date-value="EmployeeCtrl.employee.dob"
                validation-trigger="details.$submitted"
                min-date="EmployeeCtrl.minDOB"
                max-date="EmployeeCtrl.maxDOB">
              </bh-date-editor>

              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.sexe.$invalid }">
                <label class="control-label">{{ "FORM.LABELS.SEX" | translate }}</label>
                <select class="form-control"name="sexe" ng-model="EmployeeCtrl.employee.sexe" id="bhima-employee-sexe" required>
                  <option value="" disabled="disabled">-- {{ "FORM.SELECT.SEX" | translate }} --</option>
                  <option ng-value='M'>{{ "FORM.LABELS.MALE" | translate }}</option>
                  <option ng-value='F'>{{ "FORM.LABELS.FEMALE" | translate }}</option>
                </select>
                <div class="help-block" ng-messages="CreateForm.sexe.$error" ng-show="CreateForm.$submitted">
                  <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.nb_spouse.$invalid }">
                <label class="control-label" for="bhima-employee-nb_spouse">{{ 'FORM.LABELS.NB_SPOUSE' | translate }}</label>
                <input type="number" class="form-control" name="nb_spouse" autocomplete="off" min="0" id="bhima-employee-dob" ng-model="EmployeeCtrl.employee.nb_spouse">
              </div>

              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.nb_enfant.$invalid }">
                <label class="control-label" for="bhima-employee-nb_enfant">{{ 'FORM.LABELS.NB_CHILDREN' | translate }}</label>
                <input type="number" class="form-control" name="nb_enfant" autocomplete="off" min="0" id="bhima-employee-nb_enfant" ng-model="EmployeeCtrl.employee.nb_enfant">
              </div>

              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.locked.$invalid }">
                <label class="control-label">
                  <input type="checkbox" name="locked" ng-true-value="1" ng-false-value="0" id="bhima-employee-locked" ng-model="EmployeeCtrl.employee.locked">  {{ "FORM.LABELS.LOCKED" | translate }}
                </label>
              </div>

              <bh-date-editor
                id="employee-date-hired"
                date-value="EmployeeCtrl.employee.date_embauche"
                validation-trigger="details.$submitted"
                max-date="EmployeeCtrl.maxDateEmbauche">
              </bh-date-editor>

              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.code.$invalid }">
                <label class="control-label" for="bhima-employee-code">{{ 'FORM.LABELS.CODE' | translate }}</label>
                <input type="text" class="form-control" name="code" autocomplete="off" ng-maxlength="EmployeeCtrl.length20" id="bhima-employee-code" ng-model="EmployeeCtrl.employee.code" required>
                <div class="help-block" ng-messages="CreateForm.code.$error" ng-show="CreateForm.$submitted">
                  <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.service_id.$invalid }">
                <label class="control-label">{{ "FORM.LABELS.SERVICE" | translate }}</label>
                <select class="form-control" name="service_id" ng-model="EmployeeCtrl.employee.service_id" id="bhima-employee-service_id" ng-options="sv.id as sv.name for sv in EmployeeCtrl.services | orderBy:'name'" required>
                  <option value="" disabled> -- {{ "FORM.SELECT.SERVICE" | translate }} -- </option>
                </select>
                <div class="help-block" ng-messages="CreateForm.service_id.$error" ng-show="CreateForm.$submitted">
                  <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.grade_id.$invalid }">
                <label class="control-label">{{ "FORM.LABELS.GRADE" | translate }}</label>
                <select class="form-control" name="grade_id" ng-model="EmployeeCtrl.employee.grade_id" id="bhima-employee-grade_id" ng-options="g.uuid as g.format for g in EmployeeCtrl.grades | orderBy:'text'" required>
                  <option value="" disabled> -- {{ "FORM.SELECT.GRADE" | translate }} -- </option>
                </select>
                <div class="help-block" ng-messages="CreateForm.grade_id.$error" ng-show="CreateForm.$submitted">
                  <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.fonction_id.$invalid }">
                <label class="control-label">{{ "FORM.LABELS.FUNCTION" | translate }}</label>
                <select class="form-control" name="fonction_id" ng-model="EmployeeCtrl.employee.fonction_id" id="bhima-employee-fonction_id" ng-options="f.id as f.fonction_txt for f in EmployeeCtrl.functions | orderBy:'fonction_txt'" required>
                  <option value="" disabled> -- {{ "FORM.SELECT.FUNCTION" | translate }} -- </option>
                </select>
                <div class="help-block" ng-messages="CreateForm.fonction_id.$error" ng-show="CreateForm.$submitted">
                  <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.creditor_group_uuid.$invalid }">
                <label class="control-label">{{ "FORM.LABELS.CREDITOR_GROUP" | translate }}</label>
                <select class="form-control" name="creditor_group_uuid" ng-model="EmployeeCtrl.employee.creditor_group_uuid" id="bhima-employee-creditor_group_uuid" ng-options="cg.uuid as cg.name for cg in EmployeeCtrl.creditorGroups | orderBy:'name'" required>
                  <option value="" disabled> -- {{ "FORM.SELECT.CREDITOR_GROUP" | translate }} -- </option>
                </select>
                <div class="help-block" ng-messages="CreateForm.creditor_group_uuid.$error" ng-show="CreateForm.$submitted">
                  <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.debtor_group_uuid.$invalid }">
                <label class="control-label">{{ "FORM.LABELS.DEBTOR_GROUP" | translate }}</label>
                <select class="form-control" name="debtor_group_uuid" ng-model="EmployeeCtrl.employee.debtor_group_uuid" id="bhima-employee-debtor_group_uuid" ng-options="dg.uuid as dg.name for dg in EmployeeCtrl.debtorGroups | orderBy:'name'" required>
                  <option value="" disabled> -- {{ "FORM.SELECT.DEBTOR_GROUP" | translate }} -- </option>
                </select>
                <div class="help-block" ng-messages="CreateForm.debtor_group_uuid.$error" ng-show="CreateForm.$submitted">
                  <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.phone.$invalid }">
                <label class="control-label" for="bhima-employee-phone">{{ "FORM.LABELS.PHONE" | translate }}</label>
                <input type="phone" class="form-control" name="phone" autocomplete="off" ng-maxlength="EmployeeCtrl.length20" id="bhima-employee-phone" ng-model="EmployeeCtrl.employee.phone">
                <div class="help-block" ng-messages="CreateForm.phone.$error" ng-show="CreateForm.$submitted">
                  <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.email.$invalid }">
                <label class="control-label" for="bhima-employee-email">{{ "FORM.LABELS.EMAIL" | translate }}</label>
                <input type="email" class="form-control" name="email" autocomplete="off" id="bhima-employee-email" ng-maxlength="EmployeeCtrl.length70" ng-model="EmployeeCtrl.employee.email">
                <div class="help-block" ng-messages="CreateForm.email.$error" ng-show="CreateForm.$submitted">
                  <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.adresse.$invalid }">
                <label class="control-label" for="bhima-employee-adresse">{{ "FORM.LABELS.ADDRESS" | translate }}</label>
                <input type="adresse" class="form-control" name="adresse" autocomplete="off" ng-maxlength="EmployeeCtrl.length50" id="bhima-employee-adresse" ng-model="EmployeeCtrl.employee.adresse" required >
                <div class="help-block" ng-messages="CreateForm.adresse.$error" ng-show="CreateForm.$submitted">
                  <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
                </div>
              </div>

              <bh-location-select
                validation-trigger="CreateForm.$submitted"
                location-uuid="EmployeeCtrl.employee.location_id">
              </bh-location-select>

              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.bank.$invalid }">
                <label class="control-label" for="bhima-employee-bank">{{ "FORM.LABELS.BANK" | translate }}</label>
                <input type="text" class="form-control" name="bank" autocomplete="off" ng-maxlength="EmployeeCtrl.length30" id="bhima-employee-bank" ng-model="EmployeeCtrl.employee.bank">
                <div class="help-block" ng-messages="CreateForm.bank.$error" ng-show="CreateForm.$submitted">
                  <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.bank_account.$invalid }">
                <label class="control-label" for="bhima-employee-bank_account">{{ "FORM.LABELS.BANK_ACCOUNT" | translate }}</label>
                <input type="text" class="form-control" name="bank_account" autocomplete="off" ng-maxlength="EmployeeCtrl.length30" id="bhima-employee-bank_account" ng-model="EmployeeCtrl.employee.bank_account">
                <div class="help-block" ng-messages="CreateForm.bank_account.$error" ng-show="CreateForm.$submitted">
                  <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
                </div>
              </div>

              <div class="form-group">
                <button class="btn btn-default" id="submit-employee" type="submit" data-method="submit">
                  {{ "FORM.BUTTONS.SUBMIT" | translate }}
                </button>
                <button class="btn btn-default" type="button" ng-click="EmployeeCtrl.cancel()" data-method="cancel">
                  {{ "FORM.BUTTONS.CANCEL" | translate }}
                </button>
              </div>
            </form>
          </div>
        </div>

        <div class="panel panel-primary" ng-switch-when="update">
          <div class="panel-heading">{{ 'EMPLOYEE.EDIT' | translate }}</div>
          <div class="panel-body">
            <form class="panel-body" name="UpdateForm" ng-submit="EmployeeCtrl.submit(UpdateForm.$invalid)" bh-form-defaults novalidate>

              <div class="form-group" ng-class="{ 'has-error' : UpdateForm.$submitted && UpdateForm.display_name.$invalid }">
                <label class="control-label" for="bhima-employee-display_name">{{ 'FORM.LABELS.EMPLOYEE_NAME' | translate }}</label>
                <input type="text" class="form-control" name="display_name" autocomplete="off" ng-maxlength="EmployeeCtrl.maxLength" id="bhima-employee-display_name" ng-model="EmployeeCtrl.employee.display_name" required>
                <div class="help-block" ng-messages="UpdateForm.display_name.$error" ng-show="UpdateForm.$submitted">
                  <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
                </div>
              </div>

              <bh-date-editor
                id="employee-dob"
                date-value="EmployeeCtrl.employee.dob"
                validation-trigger="details.$submitted"
                min-date="EmployeeCtrl.minDOB"
                max-date="EmployeeCtrl.maxDOB">
              </bh-date-editor>

              <div class="form-group" ng-class="{ 'has-error' : UpdateForm.$submitted && UpdateForm.sexe.$invalid }">
                <label class="control-label">{{ "FORM.LABELS.SEX" | translate }}</label>
                <select class="form-control"name="sexe" ng-model="EmployeeCtrl.employee.sexe" id="bhima-employee-sexe" required>
                  <option value="" disabled="disabled">-- {{ "FORM.SELECT.EMPLOYEE_SEX" | translate }} --</option>
                  <option ng-value='M'>{{ "FORM.LABELS.MALE" | translate }}</option>
                  <option ng-value='F'>{{ "FORM.LABELS.FEMALE" | translate }}</option>
                </select>
                <div class="help-block" ng-messages="UpdateForm.sexe.$error" ng-show="UpdateForm.$submitted">
                  <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : UpdateForm.$submitted && UpdateForm.nb_spouse.$invalid }">
                <label class="control-label" for="bhima-employee-nb_spouse">{{ 'FORM.LABELS.NB_SPOUSE' | translate }}</label>
                <input type="number" class="form-control" name="nb_spouse" autocomplete="off" min="0" id="bhima-employee-dob" ng-model="EmployeeCtrl.employee.nb_spouse">
              </div>

              <div class="form-group" ng-class="{ 'has-error' : UpdateForm.$submitted && UpdateForm.nb_enfant.$invalid }">
                <label class="control-label" for="bhima-employee-nb_enfant">{{ 'FORM.LABELS.NB_CHILDREN' | translate }}</label>
                <input type="number" class="form-control" name="nb_enfant" autocomplete="off" min="0" id="bhima-employee-nb_enfant" ng-model="EmployeeCtrl.employee.nb_enfant">
              </div>

              <div class="form-group" ng-class="{ 'has-error' : UpdateForm.$submitted && UpdateForm.locked.$invalid }">
                <label class="control-label">
                  <input type="checkbox" name="locked" ng-true-value="1" ng-false-value="0" id="bhima-employee-locked" ng-model="EmployeeCtrl.employee.locked">  {{ "FORM.LABELS.LOCKED" | translate }}
                </label>
              </div>


              <bh-date-editor
                id="employee-date-hired"
                date-value="EmployeeCtrl.employee.date_embauche"
                validation-trigger="details.$submitted"
                max-date="EmployeeCtrl.maxDateEmbauche">
              </bh-date-editor>

              <div class="form-group" ng-class="{ 'has-error' : UpdateForm.$submitted && UpdateForm.code.$invalid }">
                <label class="control-label" for="bhima-employee-code">{{ 'FORM.LABELS.CODE' | translate }}</label>
                <input type="text" class="form-control" name="code" autocomplete="off" id="bhima-employee-code" ng-model="EmployeeCtrl.employee.code" required>
                <div class="help-block" ng-messages="UpdateForm.code.$error" ng-show="UpdateForm.$submitted">
                  <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : UpdateForm.$submitted && UpdateForm.service_id.$invalid }">
                <label class="control-label">{{ "FORM.LABELS.SERVICE" | translate }}</label>
                <select class="form-control" name="service_id" ng-model="EmployeeCtrl.employee.service_id" id="bhima-employee-service_id" ng-options="sv.id as sv.name for sv in EmployeeCtrl.services | orderBy:'name'" required>
                  <option value="" disabled> -- {{ "FORM.SELECT.SERVICE" | translate }} -- </option>
                </select>
                <div class="help-block" ng-messages="UpdateForm.service_id.$error" ng-show="UpdateForm.$submitted">
                  <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : UpdateForm.$submitted && UpdateForm.grade_id.$invalid }">
                <label class="control-label">{{ "FORM.LABELS.GRADE" | translate }}</label>
                <select class="form-control" name="grade_id" ng-model="EmployeeCtrl.employee.grade_id" id="bhima-employee-grade_id" ng-options="g.uuid as g.format for g in EmployeeCtrl.grades | orderBy:'text'" required>
                  <option value="" disabled> -- {{ "FORM.SELECT.EMPLOYEE_GRADE" | translate }} -- </option>
                </select>
                <div class="help-block" ng-messages="UpdateForm.grade_id.$error" ng-show="UpdateForm.$submitted">
                  <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : UpdateForm.$submitted && UpdateForm.fonction_id.$invalid }">
                <label class="control-label">{{ "FORM.LABELS.FUNCTION" | translate }}</label>
                <select class="form-control" name="fonction_id" ng-model="EmployeeCtrl.employee.fonction_id" id="bhima-employee-fonction_id" ng-options="sv.id as sv.name for sv in EmployeeCtrl.services | orderBy:'name'" required>
                  <option value="" disabled> -- {{ "FORM.SELECT.EMPLOYEE_FUNCTION" | translate }} -- </option>
                </select>
                <div class="help-block" ng-messages="UpdateForm.fonction_id.$error" ng-show="UpdateForm.$submitted">
                  <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && UpdateForm.creditor_group_uuid.$invalid }">
                <label class="control-label">{{ "FORM.LABELS.CREDITOR_GROUP" | translate }}</label>
                <select class="form-control" name="creditor_group_uuid" ng-model="EmployeeCtrl.employee.creditor_group_uuid" id="bhima-employee-creditor_group_uuid" ng-options="cg.uuid as cg.name for cg in EmployeeCtrl.creditorGroups | orderBy:'name'" required>
                  <option value="" disabled> -- {{ "FORM.SELECT.CREDITOR_GROUP" | translate }} -- </option>
                </select>
                <div class="help-block" ng-messages="UpdateForm.creditor_group_uuid.$error" ng-show="UpdateForm.$submitted">
                  <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && UpdateForm.debtor_group_uuid.$invalid }">
                <label class="control-label">{{ "FORM.LABELS.DEBTOR_GROUP" | translate }}</label>
                <select class="form-control" name="debtor_group_uuid" ng-model="EmployeeCtrl.employee.debtor_group_uuid" id="bhima-employee-debtor_group_uuid" ng-options="dg.uuid as dg.name for dg in EmployeeCtrl.debtorGroups | orderBy:'name'" required>
                  <option value="" disabled> -- {{ "FORM.SELECT.DEBTOR_GROUP" | translate }} -- </option>
                </select>
                <div class="help-block" ng-messages="UpdateForm.debtor_group_uuid.$error" ng-show="UpdateForm.$submitted">
                  <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : UpdateForm.$submitted && UpdateForm.phone.$invalid }">
                <label class="control-label" for="bhima-employee-phone">{{ "FORM.LABELS.PHONE" | translate }}</label>
                <input type="phone" class="form-control" name="phone" autocomplete="off" ng-maxlength="EmployeeCtrl.length20" id="bhima-employee-phone" ng-model="EmployeeCtrl.employee.phone">
                <div class="help-block" ng-messages="UpdateForm.phone.$error" ng-show="UpdateForm.$submitted">
                  <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : UpdateForm.$submitted && UpdateForm.email.$invalid }">
                <label class="control-label" for="bhima-employee-email">{{ "FORM.LABELS.EMAIL" | translate }}</label>
                <input type="email" class="form-control" name="email" autocomplete="off" ng-maxlength="EmployeeCtrl.length70" id="bhima-employee-email" ng-model="EmployeeCtrl.employee.email">
                <div class="help-block" ng-messages="UpdateForm.email.$error" ng-show="UpdateForm.$submitted">
                  <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : UpdateForm.$submitted && UpdateForm.adresse.$invalid }">
                <label class="control-label" for="bhima-employee-adresse">{{ "FORM.LABELS.ADDRESS" | translate }}</label>
                <input type="adresse" class="form-control" name="adresse" autocomplete="off" ng-maxlength="EmployeeCtrl.length50" id="bhima-employee-adresse" ng-model="EmployeeCtrl.employee.adresse" required >
                <div class="help-block" ng-messages="UpdateForm.adresse.$error" ng-show="UpdateForm.$submitted">
                  <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
                </div>
              </div>

              <bh-location-select
                validation-trigger="CreateForm.$submitted"
                location-uuid="EmployeeCtrl.employee.location_id">
              </bh-location-select>

              <div class="form-group" ng-class="{ 'has-error' : UpdateForm.$submitted && UpdateForm.bank.$invalid }">
                <label class="control-label" for="bhima-employee-bank">{{ "FORM.LABELS.BANK" | translate }}</label>
                <input type="text" class="form-control" name="bank" autocomplete="off" ng-maxlength="EmployeeCtrl.length30" id="bhima-employee-bank" ng-model="EmployeeCtrl.employee.bank">
                <div class="help-block" ng-messages="UpdateForm.bank.$error" ng-show="UpdateForm.$submitted">
                  <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : UpdateForm.$submitted && UpdateForm.bank_account.$invalid }">
                <label class="control-label" for="bhima-employee-bank_account">{{ "FORM.LABELS.BANK_ACCOUNT" | translate }}</label>
                <input type="text" class="form-control" name="bank_account" autocomplete="off" ng-maxlength="EmployeeCtrl.length30" id="bhima-employee-bank_account" ng-model="EmployeeCtrl.employee.bank_account">
                <div class="help-block" ng-messages="UpdateForm.bank_account.$error" ng-show="UpdateForm.$submitted">
                  <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
                </div>
              </div>

              <div class="form-group">
                <button class="btn btn-default" id="change_employee" type="submit" data-method="submit">
                  {{ "FORM.BUTTONS.SUBMIT" | translate }}
                </button>
                <button class="btn btn-default" type="button" ng-click="EmployeeCtrl.cancel()" data-method="cancel">
                  {{ "FORM.BUTTONS.CANCEL" | translate }}
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
