<div class="ui-grid-cell-contents">
  <span>({{grid.rows.length}} <span translate>FORM.INFO.ROWS</span>)</span>
  <span style="color : #5cb85c" class="fa fa-circle"></span> {{grid.appScope.rowsDetails.totalPosted}} <span translate>FORM.INFO.TRANSACTIONS</span>
  <span style="color : #d9534f" class="fa fa-circle"></span> {{grid.appScope.rowsDetails.totalNonPosted}} <span translate>FORM.INFO.TRANSACTIONS</span>
  <span><b><span class="fa fa-eye-slash"></span> {{grid.appScope.rowsDetails.remainingSystemTransactions}} <span translate>FORM.INFO.UNPOSTED_TRANSACTION</span></b></span>
</div>
