<div class="flex-header">
  <div class="bhima-title">
    <ol class="headercrumb">
      <li class="static">{{ "TREE.ADMIN" | translate }}</li>
      <li class="title">{{ "SERVICE.TITLE" | translate }}</li>
    </ol>

    <div class="toolbar">
      <div class="toolbar-item">
        <button class="btn btn-default" id="create" ng-click="ServicesCtrl.create()" data-method="create">
          <span class="glyphicon glyphicon-plus-sign"></span> {{ 'SERVICE.ADD_SERVICE' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>

<div class="flex-content">
  <div class="container-fluid">
    <div class="row">

      <div class="col-xs-6">
        <div class="panel panel-default" style="overflow: auto; max-height: 500px;">
          <div class="panel-heading">
            {{ 'SERVICE.ALL_SERVICES' | translate }}
          </div>
          <table class="table table-condensed table-hover">
            <thead>
              <tr>
                <th>{{ "TABLE.COLUMNS.SERVICE" | translate }}</th>
                <th colspan="3">{{ 'TABLE.COLUMNS.ACTION' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="service in ServicesCtrl.services | orderBy:'name' track by service.id" ng-class="{'btn-primary' : editService.id==service.id }">
                <td>{{ service.name }}</td>
                <td>
                  <a class="btn btn-xs btn-default" ng-click="ServicesCtrl.update(service)" id="service-upd-{{ $index+1 }}">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </a>
                  <!-- <a class="btn btn-xs btn-default" ng-click="ServicesCtrl.more(service)" id="service-more-{{ $index+1 }}"> -->
                  <!--   <span class="glyphicon glyphicon-eye-open"></span> -->
                  <!-- </a> -->
                  <a class="btn btn-xs btn-default" ng-click="ServicesCtrl.del(service)" id="service-del-{{ $index+1 }}">
                    <span class="glyphicon glyphicon-trash"></span>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-xs-6" ng-switch="ServicesCtrl.view">
        <div ng-switch-default>
          <div class="alert alert-info" id="default">
            <h4>{{ 'SERVICE.TITLE' | translate}}</h4>
            <p>{{ 'SERVICE.DESCRIPTION' | translate }}</p>
          </div>
        </div>

        <div ng-switch-when="create_success">
          <div class="alert alert-success" id="create_success">
            <h4>{{ 'FORM.INFO.SAVE_SUCCESS' | translate }} </h4>
            </p>
          </div>
        </div>

        <div ng-switch-when="update_success">
          <div class="alert alert-success" id="update_success">
            <h4>{{ 'FORM.INFO.UPDATE_SUCCESS' | translate }} </h4>
            </p>
          </div>
        </div>

        <div ng-switch-when="delete_success">
          <div class="alert alert-success" id="delete_success">
            <h4>{{ 'FORM.INFO.DELETE_SUCCESS' | translate }} </h4>
            </p>
          </div>
        </div>

        <div ng-switch-when="delete_error">
          <div class="alert alert-danger" id="delete_error">
            <h4>{{ ServicesCtrl.HTTPError.data.code | translate }} </h4>
            </p>
          </div>
        </div>

        <div class="panel panel-primary" ng-switch-when="create">
          <div class="panel-heading">{{ 'SERVICE.ADDING_SERVICE' | translate }}</div>
          <div class="panel-body">
            <form class="panel-body" name="CreateForm" ng-submit="ServicesCtrl.submit(CreateForm.$invalid)" bh-form-defaults novalidate>

              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.name.$invalid }">
                <label class="control-label" for="bhima-service-name">{{ 'FORM.LABELS.NAME' | translate }}</label>
                <input type="text" class="form-control" name="name" ng-maxlength="ServicesCtrl.maxLength" id="bhima-service-name" ng-model="ServicesCtrl.service.name" required>
                <div class="help-block" ng-messages="CreateForm.name.$error" ng-show="CreateForm.$submitted">
                  <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
                </div>
              </div>

              <!-- Cost Center Assignment - not yet implemented in 2.x -->
              <!-- Profit Center Assignment - not yet implemented in 2.x -->

              <div class="form-group">
                <button class="btn btn-default" id="submit-service" type="submit" data-method="submit">
                  {{ "FORM.BUTTONS.SUBMIT" | translate }}
                </button>
                <button class="btn btn-default" type="button" ng-click="ServicesCtrl.cancel()" data-method="cancel">
                  {{ "FORM.BUTTONS.CANCEL" | translate }}
                </button>
              </div>
            </form>
          </div>
        </div>

        <div class="panel panel-primary" ng-switch-when="update">
          <div class="panel-heading">{{ 'SERVICE.EDITING_SERVICE' | translate }}</div>
          <div class="panel-body">
            <form class="panel-body" name="UpdateForm" ng-submit="ServicesCtrl.submit(UpdateForm.$invalid)" bh-form-defaults novalidate>

              <div class="form-group" ng-class="{ 'has-error' : UpdateForm.$submitted && UpdateForm.name.$invalid }">
                <label class="control-label" for="bhima-service-name">{{ 'FORM.LABELS.NAME' | translate }}</label>
                <input type="text" class="form-control" name="name" id="bhima-service-name" ng-maxlength="ServicesCtrl.maxLength" ng-model="ServicesCtrl.service.name" required>
                <div class="help-block" ng-messages="UpdateForm.name.$error" ng-show="UpdateForm.$submitted">
                  <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
                </div>
              </div>

              <!-- Cost Center Assignment - not yet implemented in 2.x -->
              <!-- Profit Center Assignment - not yet implemented in 2.x -->

              <div class="form-group">
                  <button class="btn btn-default" id="change_service" type="submit" data-method="submit">
                    {{ "FORM.BUTTONS.SUBMIT" | translate }}
                  </button>
                  <button class="btn btn-default" type="button" ng-click="ServicesCtrl.cancel()" data-method="cancel">
                    {{ "FORM.BUTTONS.CANCEL" | translate }}
                  </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
