<div class="flex-header">
  <div class="bhima-title">
    <ol class="headercrumb">
      <li class="static">{{ "TREE.ADMIN" | translate }}</li>
      <li class="static">{{ "TREE.LOCATION" | translate }}</li>
      <li class="active">{{ "SECTOR.TITLE" | translate }}</li>
    </ol>
  </div>
</div>

<!-- Links to the main menu of management maps as well as the button for adding Sectors -->
<div class="flex-util">
  <a href="#/locations" class="btn btn-default btn-sm">
    <span class="glyphicon glyphicon-globe"></span> {{ 'SECTOR.LOCATION_MANAGER' | translate }}
  </a> 

  <button class="btn btn-sm btn-default" id="create" ng-click="SectorCtrl.create()" data-method="create">
    <span class="glyphicon glyphicon-plus-sign"></span> {{'SECTOR.NEW_SECTOR' | translate}}
  </button> 
</div>


<div class="flex-content">
  <div class="container-fluid">
    <div class="row">
    <!-- Complete list of registred Sectors -->
      <div class="col-xs-6">
        <div class="panel panel-default" style="overflow: auto; max-height: 500px;">
          <div class="panel-heading">
            {{ 'SECTOR.REGISTERED' | translate }}
          </div>

          <table class="table table-condensed">
            <thead>
               <tr>
                <th>{{ 'SECTOR.NAME' | translate}}</th>
                <th>{{ 'SECTOR.PROVINCE' | translate}}</th>
                <th>{{ 'SECTOR.ACTIONS' | translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-if="SectorCtrl.session.loading" class="text-center">
                <td colspan="4"><loading-indicator></loading-indicator></td>
              </tr>
              <tr ng-repeat="sector in SectorCtrl.sectors | orderBy:'sector' "  ng-class="{'rowSelected' : SectorCtrl.sector.uuid === sector.uuid}">
                <td>{{ sector.name }}</td>
                <td>{{ sector.province_name }}</td>
                <td><a class="btn btn-xs btn-default" id="sector-{{$index + 1}}" ng-click="SectorCtrl.update(sector)" ><i class="glyphicon glyphicon-pencil"></i></a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-xs-6" ng-switch="SectorCtrl.view">
        <div ng-switch-default>
          <div class="alert alert-info" id="default">
            <h4>{{ 'SECTOR.CONFIG' | translate }}</h4>
            <p>{{ 'SECTOR.INFO' | translate }}</p>        
          </div>
        </div>

        <!-- Success saving Feed Back -->
        <div ng-switch-when="create_success">
          <div class="alert alert-success" id="create_success">
            <h4>{{ 'LOCATION.SAVE_SUCCESS' | translate }} </h4>
            </p>
          </div>
        </div>

        <!-- Success updating feedBack -->
        <div ng-switch-when="update_success">
          <div class="alert alert-success" id="update_success">
            <h4>{{ 'LOCATION.UPDATE_SUCCESS' | translate }} </h4>
            </p>
          </div>
        </div>

        <!-- Form for adding Sector -->
        <div class="panel panel-primary" ng-switch-when="create">
          <div class="panel-heading">{{ 'SECTOR.REGISTER' | translate }}</div>
          <div class="panel-body">
            <form class="panel-body" name="CreateForm" ng-submit="SectorCtrl.submit(CreateForm.$invalid)" novalidate>

              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.country.$invalid }">
                <label class="control-label">{{ "LOCATION.COUNTRY" | translate }}</label>
                <select 
                  class="form-control" 
                  name="country" 
                  ng-model="SectorCtrl.sector.country_uuid" 
                  id="country"  
                  ng-options="c.uuid as c.name for c in SectorCtrl.countries | orderBy:'name'"
                  ng-change="SectorCtrl.loadProvinces()"
                  required>
                  <option value="" disabled> -- {{ SectorCtrl.messages.country | translate }} -- </option>
                </select>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.province.$invalid }">
                <label class="control-label">{{ "LOCATION.PROVINCE" | translate }}</label>
                <select 
                  class="form-control" 
                  name="province" 
                  ng-model="SectorCtrl.sector.province_uuid" 
                  id="province"  
                  ng-options="p.uuid as p.name for p in SectorCtrl.provinces | orderBy:'name'"
                  required>
                  <option value="" disabled> -- {{ SectorCtrl.messages.province | translate }} -- </option>
                </select>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.sector.$invalid }">
                <label class="control-label">{{ "LOCATION.SECTOR" | translate }}</label>
                <input type="text" placeholder="{{ 'INPUT.SECTOR' | translate }}" class="form-control" name="sector" ng-model="SectorCtrl.sector.name" required>
              </div>
              
              <div class="form-group">
                <button class="btn btn-default" id="submit-sector" type="submit" data-method="submit">
                  {{ "FORM.SUBMIT" | translate }}
                </button>
                <button class="btn btn-default" type="button" ng-click="SectorCtrl.cancel()" data-method="cancel">
                  {{ "FORM.CANCEL" | translate }}
                </button>
              </div>
            </form>
          </div>        
        </div>

        <!-- Form for updating Sector -->
        <div class="panel panel-primary" ng-switch-when="update">
          <div class="panel-heading">{{ 'SECTOR.EDIT' | translate }}</div>
          <div class="panel-body">        
            <form class="panel-body" name="UpdateForm" ng-submit="SectorCtrl.submit(UpdateForm.$invalid)" novalidate>
              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.country.$invalid }">
                <label class="control-label">{{ "LOCATION.COUNTRY" | translate }}</label>
                <select 
                  class="form-control" 
                  name="country" 
                  ng-model="SectorCtrl.sector.country_uuid" 
                  id="country"  
                  ng-options="c.uuid as c.name for c in SectorCtrl.countries | orderBy:'name'"
                  ng-change="SectorCtrl.loadProvinces()"
                  required>
                  <option value="" disabled> -- {{ SectorCtrl.messages.country | translate }} -- </option>
                </select>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : UpdateForm.$submitted && UpdateForm.province.$invalid }">
                <label class="control-label">{{ "LOCATION.PROVINCE" | translate }}</label>
                <select 
                  class="form-control" 
                  name="province" 
                  ng-model="SectorCtrl.sector.province_uuid" 
                  id="province"  
                  ng-options="p.uuid as p.name for p in SectorCtrl.provinces | orderBy:'name'"
                  required>
                  <option value="" disabled> -- {{ SectorCtrl.messages.province | translate }} -- </option>
                </select>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : UpdateForm.$submitted && UpdateForm.sector.$invalid }">
                <label class="control-label">{{ "LOCATION.SECTOR" | translate }}</label>
                <input type="text" placeholder="{{ 'INPUT.SECTOR' | translate }}" class="form-control" name="sector" ng-model="SectorCtrl.sector.name" required>
              </div>
              
              <div class="form-group">
                <button class="btn btn-default" id="change_sector" type="submit" data-method="submit">
                  {{ "FORM.SUBMIT" | translate }}
                </button>
                <button class="btn btn-default" type="button" ng-click="SectorCtrl.cancel()" data-method="cancel">
                  {{ "FORM.CANCEL" | translate }}
                </button>
              </div>
            </form>
          </div>         
        </div>

      </div>
    </div>
  </div>  
</div>