<div class="ui-grid-cell-contents" uib-dropdown dropdown-append-to-body>

  <a uib-dropdown-toggle href>
    <span data-method="action" translate>FORM.BUTTONS.ACTIONS</span>
    <span class="caret"></span>
  </a>

  <ul class="dropdown-menu-right" data-list="{{ rowRenderIndex }}" uib-dropdown-menu>
    <li>
      <a ng-click="grid.appScope.openReceiptModal(row.entity.uuid, false, grid.appScope.receiptOptions)" data-method="invoiceReceipt" href>
        <i class="fa fa-file-pdf-o"></i> <span translate>REPORT.VIEW_RECEIPT</span>
      </a>
    </li>

    <li ng-if="row.entity._is_cancelled">
      <a ng-click="grid.appScope.creditNoteReceipt(row.entity.uuid)" data-method="creditNoteReceipt" href>
        <i class="fa fa-file-pdf-o"></i> <span translate>REPORT.VIEW_CREDIT_NOTE</span>
      </a>
    </li>

    <li ng-if="!row.entity._is_cancelled">
      <a ng-click="grid.appScope.creditNote(row.entity)" data-method="createCreditNote" href>
        <span class="text-danger"><i class="fa fa-clone"></i> <span translate>FORM.LABELS.CREATE_CREDIT_NOTE</span></span>
      </a>
    </li>
   </ul>
</div>
