<!-- TODO Add translation keys -->

<header data-header>
  {{'EMPLOYEE_STATE.BUILD_EMPLOYEE_STATE' | translate}}
</header>

<main>
  <div class="panel panel-default">
    <div class="panel-heading">{{'EMPLOYEE_STATE.DOCUMENT_CONFIG' | translate}}</div>
    <div class="panel-body">
      <form>
        <div class="form-group">
          <label>{{'EMPLOYEE_STATE.LANGUAGE' | translate}}</label>

          <div>
            <span ng-repeat="language in configuration.language.options">
              <button
                class="btn btn-default btn-lg"
                ng-class="{'active' : configuration.language.selected===language}"
                ng-click="selectConfiguration('language', language)">{{language.label}}</button>
            </span>
          </div>
        </div>
        <button
          class="btn btn-default"
          ng-disabled="session.building"
          ng-click="generateDocument()" ng-if="!generatedDocumentPath">{{session.building ? 'Loading' : 'Generate Document'}}
        </button>

        <a class="btn btn-success" href="{{generatedDocumentPath}}" target="_blank" ng-if="generatedDocumentPath" ng-click="clearPath()">Document Build Success - Open Document</a>
      </form>
    </div>
  </div>
</main>
