<div style="padding : 5px;">
  <div ng-if="!row.entity._initialised">
    <input
      class="form-control"
      ng-model="row.entity.inventory_uuid"
      typeahead-editable="false"
      typeahead-append-to-body="true"
      uib-typeahead="item.uuid as item for item in grid.appScope.order.inventory.available.data | filter:$viewValue | limitTo:8"
      typeahead-template-url="/modules/templates/inventoryItems.tmpl.html"
      typeahead-on-select="grid.appScope.order.configureItem(row.entity)">
  </div>
  <div ng-if="row.entity._initialised">
    {{ row.entity.code }}
  </div>
</div>
