<header data-header>
  {{ "PATIENT_EDIT.PAGE_TITLE" | translate }}
</header>

<nav>
  <div class="pull-left">
    <ol class="breadcrumb">
      <li><a href="#/"><span class="glyphicon glyphicon-home"></span></a></li>
      <li class="active">{{ "PATIENT_EDIT.PAGE_TITLE" | translate }}</li>
    </ol>
  </div>
</nav>

<main>
  <div class="container-fluid">
    <div class="row">

      <!-- Find patient directive -->
      <div class="col-md-12">

        <find-patient type="inline"
          on-search-complete="PatientEditFindCtrl.submitPatient(patient)">
        </find-patient>
      </div>
    </div>
  </div>
</main>
