<div class="modal-header">
  <h3 class="modal-title">{{ "FORM.LABELS.UPDATE_GROUP_DEBTOR" | translate }}</h3>
</div>

<div class="modal-body">

  <p class="text-info">
  {{ "FORM.INFOS.GROUPS_DEBTOR" | translate }}
  </p>
  <form name="groupForm">
    <div class="form-group has-feedback">
    
      <label for="debtor-group" class="control-label">{{ "FORM.LABELS.GROUPS_DEBTOR_TITLE" | translate }}</label>
      <select 
        class="form-control" 
        name="debtorGroup"
        ng-options="group.uuid as group.name for group in UpdateDebtorGroupCtrl.debtorGroups | orderBy :'name'"
        ng-model="UpdateDebtorGroupCtrl.debtor_group_uuid">
      </select>

    </div>
  </form>
</div>

<div class="modal-footer">
  <button 
    class="btn btn-default"
    ng-click="UpdateDebtorGroupCtrl.closeModal()">{{ "FORM.BUTTONS.CANCEL" | translate }}</button>
  <button 
    class="btn btn-default"
    ng-click="UpdateDebtorGroupCtrl.confirmGroup()">{{ "FORM.BUTTONS.CONFIRM" | translate }}</button>
</div>
