<form name="groupForm" bh-submit="UpdatePatientGroupsCtrl.confirmGroups(groupForm)" bh-form-defaults novalidate>
  <div class="modal-header">
    <ol class="headercrumb">
      <li class="static">{{UpdatePatientGroupsCtrl.patient.display_name}}</li>
      <li class="title">{{ ::"FORM.LABELS.UPDATE_PATIENT_GROUP" | translate }}</li>
    </ol>
  </div>

  <div class="modal-body">
    <p class="text-info" ng-if="UpdatePatientGroupsCtrl.patientGroups.length > 0">
      <i class="fa fa-info-circle"></i>  {{ "FORM.INFO.GROUPS_PATIENT" | translate }}
    </p>

    <p class="text-warning" ng-if="UpdatePatientGroupsCtrl.patientGroups.length === 0">
      <i class="fa fa-warning"></i> {{ "PATIENT_EDIT.WARN" | translate }}
    </p>

    <div class="form-group has-feedback" ng-if="UpdatePatientGroupsCtrl.patientGroups.length > 0">
      <label class="control-label">
        {{ "FORM.LABELS.GROUPS_PATIENT_TITLE" | translate }}
      </label>
      <div
        class="checkbox"
        ng-repeat="group in UpdatePatientGroupsCtrl.patientGroups | orderBy:'name'">
        <label>
          <input
            data-group-option
            type="checkbox"
            name="subscribedGroups"
            ng-model="UpdatePatientGroupsCtrl.subscribedGroups[group.uuid]">
          {{group.name}}
        </label>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="UpdatePatientGroupsCtrl.closeModal()">
      {{ "FORM.BUTTONS.CANCEL" | translate }}
    </button>

    <bh-loading-button loading-state="groupForm.$loading">
      {{ "FORM.BUTTONS.CONFIRM" | translate }}
    </bh-loading-button>
  </div>
</form>
