<div class="modal-header">
  <h3 class="modal-title">{{ "PATIENT_EDIT.GROUPS_PATIENT.MODAL_TITLE" | translate }}</h3>
</div>

<div class="modal-body">

  <p class="text-info">
  {{ "PATIENT_EDIT.GROUPS_PATIENT.MODAL_INFO" | translate }}   
  </p>

  <p class="text-warning" ng-if="UpdatePatientGroupsCtrl.patientGroups.length === 0">
  {{ "PATIENT_EDIT.GROUPS_PATIENT.MODAL_WARN" | translate }}   
  </p>

  <form name="groupForm">
    <div class="form-group has-feedback">
    
      <label class="control-label">{{ "PATIENT_EDIT.GROUPS_PATIENT.TITLE" | translate }}</label>
      
      <div 
        class="checkbox"
        ng-repeat="group in UpdatePatientGroupsCtrl.patientGroups | orderBy:'name'">
        <label>
        <input 
          type="checkbox" 
          name="subscribedGroups"
          ng-model="UpdatePatientGroupsCtrl.subscribedGroups[group.uuid]">
        {{group.name}}
        </label>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button 
    class="btn btn-default"
    ng-click="UpdatePatientGroupsCtrl.closeModal()">{{ "UTIL.CANCEL" | translate }}</button>
  <button 
    class="btn btn-default"
    ng-click="UpdatePatientGroupsCtrl.confirmGroups()"
    ng-disabled="UpdatePatientGroupsCtrl.patientGroups.length === 0">
      {{ "UTIL.CONFIRM" | translate }}    
    </button>
</div>
