<div class="flex-header">
  <div class="bhima-title">

    <ol class="headercrumb">
      <li class="static" translate>TREE.ADMIN</li>

      <!-- debtor group list -->
      <li 
        class="title" 
        ng-if="GroupCtrl.state.current.name !== 'debtorGroups.update' && GroupCtrl.state.current.name !== 'debtorGroups.create'" 
        translate>DEBTOR_GROUP.TITLE
      </li>

      <!-- debtor group list with link -->
      <li ng-if="GroupCtrl.state.current.name === 'debtorGroups.update' || GroupCtrl.state.current.name === 'debtorGroups.create'">
        <a ui-sref="debtorGroups.list" translate>TREE.CREDITOR_GROUP</a>
      </li>

      <!-- edit debtor group -->
      <li ng-if="GroupCtrl.state.current.name === 'debtorGroups.update'" class="title">
        {{ GroupCtrl.state.params.label }} 
        <span class="label label-info" translate>FORM.LABELS.EDIT</span>
      </li>

      <!-- create debtor group -->
      <li ng-if="GroupCtrl.state.current.name === 'debtorGroups.create'" class="title">
        <span class="label label-success" translate>FORM.LABELS.CREATE</span>
      </li>
    </ol>


    <div class="toolbar">
      <div class="toolbar-item">
        <a
          ng-if="GroupCtrl.state.current.name==='debtorGroups.list'"
          data-method="create"
          ui-sref="debtorGroups.create"
          class="btn btn-default text-capitalize">
          <i class="fa fa-plus"></i>
          <span translate>DEBTOR_GROUP.CREATE</span>
        </a>
      </div>
    </div>
  </div>
</div>

<!--
   Style adjustment is made for autoscroll which will scroll to the top of the
   ui-view - because the padding is on the flex-content it will not consider this
   the top resulting in 0 padding. This should be considered going forward with
   the structure styles
-->
<div style="padding-top : 0px;" class="flex-content">
  <div id="anchor" style="padding-top : 5px;" ui-view autoscroll></div>
</div>
