<div class="flex-header">
  <div class="bhima-title">
    <ol class="headercrumb">
      <li class="static">{{ "TREE.HOSPITAL" | translate }}</li>
      <li class="static">{{ "PATIENT_RECORDS.TITLE" | translate }}</li>
      <li class="title">{{ PatientRecordCtrl.patient.name }}</li>
    </ol>
  </div>
</div>
<div class="flex-content">

  <!-- Unknown patient state -->
  <!-- @todo this should be made into a component, it is used in a number of different modules -->
  <div class="container-fluid" ng-if="!PatientRecordCtrl.patient && PatientRecordCtrl.loading===false">
    <div class="alert alert-danger" id="nopatient">
      <span class="glyphicon glyphicon-search"></span> {{ "PATIENT_RECORDS.NOT_FOUND" | translate }}
    </div>
  </div>

  <div class="container">

    <div ng-if="PatientRecordCtrl.patient">
      <!-- Patient deatils row -->
      <div class="row">
        <div class="col-md-12">

          <div class="panel panel-primary">
            <div class="panel-heading clearfix">
              <span class="glyphicon glyphicon-list-alt"></span>
              {{ "FORM.LABELS.PATIENT_DETAILS" | translate }}
            </div>

            <div class="panel-body">
              <div class="col-sm-4">
                <div>

                  <dl>
                    <dt>{{"FORM.LABELS.NAME" | translate}}</dt>
                    <dd id="name">{{::PatientRecordCtrl.patient.name}}</dd>

                    <dt>{{"FORM.LABELS.PATIENT_ID" | translate}}</dt>
                    <dd id="patientID">{{::PatientRecordCtrl.patient.reference}}</dd>

                    <dt>{{"FORM.LABELS.HOSPITAL_FILE_NR" | translate}}</dt>
                    <dd id="hospitalNo">{{::PatientRecordCtrl.patient.hospital_no}}</dd>

                    <dt>{{ "TABLE.COLUMNS.DATE_REGISTERED" | translate }}</dt>
                    <dd><span am-time-ago="PatientRecordCtrl.patient.registration_date"></span></dd>
                  </dl>

                </div>
              </div>

              <div class="col-sm-4">

                <dl>
                  <dt>{{ "TABLE.COLUMNS.AGE" | translate }}</dt>
                  <dd id="age">{{::PatientRecordCtrl.patient.age}}</dd>

                  <dt>{{ "TABLE.COLUMNS.GENDER" | translate }}</dt>
                  <dd id="gender">{{::PatientRecordCtrl.patient.sex}}</dd>
                </dl>
              </div>

              <div class="col-sm-4">
                <div style="border : 1px solid #ccc; height : 200px;">
                  <div ng-if="!PatientRecordCtrl.patient.picture_patient" style="text-align : center;">
                    <span style="font-size : 3em; color : #ccc; padding-top: 70px;" class="glyphicon glyphicon-picture"></span>
                  </div>
                  <div ng-if="PatientRecordCtrl.patient.picture_patient" style="text-align : center;">
                    <img ng-src="{{ PatientRecordCtrl.patient.picture_patient }}" width="120"> 
                  </div>
                </div>

                <button class="btn btn-default btn-block" type="file" ngf-select="PatientRecordCtrl.uploadFiles($file, $invalidFiles)" accept="image/*" ngf-max-height="1000" ngf-max-size="2MB">   <span class="glyphicon glyphicon-upload"></span> {{ PatientRecordCtrl.textButton }} 
                </button>
                
                <a
                  data-method="edit"
                  ng-href="/#/patients/{{::PatientRecordCtrl.patient.uuid}}/edit"
                  class="btn btn-default btn-block">
                  <span class="glyphicon glyphicon-edit"></span>
                  {{ "PATIENT_EDIT.EDIT_DETAILS" | translate }}
                </a>
                <a
                  data-method="document"
                  ng-href="/#/patients/{{::PatientRecordCtrl.patient.uuid}}/documents"
                  class="btn btn-default btn-block">
                  <span class="glyphicon glyphicon-file"></span>
                  {{ "PATIENT_DOCUMENT.DOCUMENTS" | translate }}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- End patient details row -->

      <div class="row">

        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <span class="glyphicon glyphicon-paperclip"></span> Patient Documents
            </div>
            <div class="panel-body" style="height : 250px; overflow: auto;">

              <!-- find document  -->
              <bh-find-document
                patient-uuid="PatientRecordCtrl.patient.uuid"
                enable-patient-details="false"
                enable-search="false"
                enable-option-bar="false"
                display="default">
              </bh-find-document>
              <!-- end find document  -->

            </div>
          </div>
        </div>

        <!-- Patient Bill Panel -->
        <div class="col-sm-6">
          <div ui-view="checkin"></div>
        </div>
      </div>

      <div class="row">

        <!-- Patient Bill Panel -->
        <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <span class="glyphicon glyphicon-file"></span> Latest Bill
            </div>
            <div class="panel-body" style="height : 250px;">

              <!-- Placeholder - not implemented -->
              <div style="text-align : center; font-size : 3em; color : #ccc; padding-top : 80px;">
                <span class="glyphicon glyphicon-wrench"></span> Not Implemented
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
