<div class="flex-header">
  <div class="bhima-title">
    <ol class="headercrumb">
      <li class="static">{{ "TREE.HOSPITAL" | translate }}</li>
      <li class="static">{{ "PATIENT_RECORDS.TITLE" | translate }}</li>
      <li class="title">{{ PatientRecordCtrl.patient.name }}</li>
    </ol>
  </div>
</div>
<div class="flex-content">

  <!-- Unknown patient state -->
  <!-- @todo this should be made into a component, it is used in a number of different modules -->
  <div class="container-fluid" ng-if="!PatientRecordCtrl.patient && PatientRecordCtrl.loading===false">
    <div class="alert alert-danger" id="nopatient">
      <span class="glyphicon glyphicon-search"></span> {{ "PATIENT_RECORDS.NOT_FOUND" | translate }}
    </div>
  </div>

  <div class="container">

    <div ng-if="PatientRecordCtrl.patient">
      <!-- Patient deatils row -->
      <div class="row">
        <div class="col-md-12">

          <div class="panel panel-primary">
            <div class="panel-heading clearfix">
              <span class="glyphicon glyphicon-list-alt"></span>
              {{ "FORM.LABELS.PATIENT_DETAILS" | translate }}
            </div>

            <div class="panel-body">
              <div class="col-sm-4">
                <div>

                  <dl>
                    <dt>{{"FORM.LABELS.NAME" | translate}}</dt>
                    <dd id="name">{{::PatientRecordCtrl.patient.name}}</dd>

                    <dt>{{"FORM.LABELS.PATIENT_ID" | translate}}</dt>
                    <dd id="patientID">{{::PatientRecordCtrl.patient.reference}}</dd>

                    <dt>{{"FORM.LABELS.HOSPITAL_FILE_NR" | translate}}</dt>
                    <dd id="hospitalNo">{{::PatientRecordCtrl.patient.hospital_no}}</dd>

                    <dt>{{ "TABLE.COLUMNS.DATE_REGISTERED" | translate }}</dt>
                    <dd><span am-time-ago="PatientRecordCtrl.patient.registration_date"></span></dd>
                  </dl>

                </div>
              </div>

              <div class="col-sm-4">

                <dl>
                  <dt>{{ "TABLE.COLUMNS.AGE" | translate }}</dt>
                  <dd id="age">{{::PatientRecordCtrl.patient.age}}</dd>

                  <dt>{{ "TABLE.COLUMNS.GENDER" | translate }}</dt>
                  <dd id="gender">{{::PatientRecordCtrl.patient.sex}}</dd>
                </dl>
              </div>

              <div class="col-sm-4">
                <div class="avatar-thumbnail">
                  <div class="crop" ng-if="!PatientRecordCtrl.patient.avatar">
                    <span class="glyphicon glyphicon-picture"></span>
                  </div>
                  <div class="crop" ng-if="PatientRecordCtrl.patient.avatar">
                    <img ng-src="{{ PatientRecordCtrl.patient.avatar }}">
                  </div>
                </div>

                <label class="btn btn-default btn-block">
                    <span class="glyphicon glyphicon-upload"></span> {{ PatientRecordCtrl.uploadButtonText | translate }}
                    <input type="file" accept="image/*" ngf-max-size="2MB" ngf-select="PatientRecordCtrl.uploadFiles($file, $invalidFiles)" style="display: none;">
                </label>

                <a
                  data-method="edit"
                  ng-href="/#/patients/{{::PatientRecordCtrl.patient.uuid}}/edit"
                  class="btn btn-default btn-block">
                  <span class="glyphicon glyphicon-edit"></span>
                  {{ "PATIENT_EDIT.EDIT_DETAILS" | translate }}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- End patient details row -->

      <div class="row">

        <div class="col-sm-6">
          <!-- find document  -->
          <bh-find-document
            patient-uuid="PatientRecordCtrl.patient.uuid"
            enable-patient-details="false"
            enable-search="false"
            enable-option-bar="true"
            display="default"
            height="250px">
          </bh-find-document>
          <!-- end find document  -->
        </div>

        <!-- Patient Bill Panel -->
        <div class="col-sm-6">
          <div ui-view="checkin"></div>
        </div>
      </div>

      <div class="row">

        <!-- Patient Bill Panel -->
        <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <span class="glyphicon glyphicon-file"></span>
                <strong>{{ "TABLE.COLUMNS.LAST_BILL" | translate }} </strong> 
                  <span ng-if='PatientRecordCtrl.patientInvoice.invoicesLength'> 
                  {{ "TABLE.COLUMNS.OF" | translate }} {{ PatientRecordCtrl.patientInvoice.invoicesLength }} {{ "TABLE.COLUMNS.INVOICES" | translate }}</span>
            </div>
            <div class="panel-body" style="height : 250px;">

              <!-- Placeholder - not implemented -->
              <div style="text-align : left; font-size : 1em; ">
                <table ng-if="PatientRecordCtrl.patientInvoice" style="width:100%; vertical-align:top">
                  <tr>
                    <td style="width:10%"><strong>{{ "TABLE.COLUMNS.INVOICE_ID" | translate }}</strong></td>
                    <td style="width:40%">{{ PatientRecordCtrl.patientInvoice.reference }} </td>
                    <td style="width:50%">
                      <strong>{{ "TABLE.COLUMNS.REMAINING_BALANCE" | translate }}</strong> 
                      {{ PatientRecordCtrl.patientInvoice.balance | currency }}
                    </td>
                  </tr>
              
                  <tr>
                    <td><strong>{{ "TABLE.COLUMNS.DATE" | translate }}</strong></td>
                    <td>{{ PatientRecordCtrl.patientInvoice.date | date }}</td>
                    <td>
                      <span ng-if="PatientRecordCtrl.patientInvoice.credit === 0">
                        <i class="fa fa-info-circle text-primary"></i> 
                       {{ "TABLE.COLUMNS.NO_PAYMENTS" | translate }} </span>

                      <span ng-if="PatientRecordCtrl.patientInvoice.numberPayment > 0">
                        <i class="fa fa-info-circle text-primary"></i> 
                       {{ PatientRecordCtrl.patientInvoice.numberPayment }} {{ "TABLE.COLUMNS.PAYMENT_INVOICE" | translate }} </span>

                    </td>
                  </tr>
              
                  <tr>
                    <td><strong>{{ "TABLE.COLUMNS.TOTAL_COST" | translate }}</strong></td>
                    <td>{{ PatientRecordCtrl.patientInvoice.cost | currency }}</td>
                    <td>
                      <span ng-if="PatientRecordCtrl.patientInvoice.balance !== 0">
                        <i class="fa fa-warning text-danger"></i> 
                          {{ "TABLE.COLUMNS.THIS_INVOICE_1" | translate }} 
                          <strong>{{ PatientRecordCtrl.patientInvoice.durationDays }}</strong> 
                          {{ "TABLE.COLUMNS.THIS_INVOICE_2" | translate }} 
                       </span>

                      <span ng-if="PatientRecordCtrl.patientInvoice.balance === 0"> 
                        <i  class="fa fa-check-circle text-success"></i> 
                        {{ "TABLE.COLUMNS.THIS_INVOICE_FULL" | translate }} 
                      </span>

                    </td>
                  </tr>

                  <tr>
                    <td><strong>{{ "TABLE.COLUMNS.BILLED_BY" | translate }}</strong></td>
                    <td>{{ PatientRecordCtrl.patientInvoice.user }}</td>
                    <td></td>
                  </tr>
                </table>
                <table ng-if="!PatientRecordCtrl.patientInvoice" style="width:100%; vertical-align:top">
                  <tr>
                    <td style="text-align: center; font-size: +16; width:100%;">
                      <h3>
                        <i class="fa fa-file-o"></i> 
                        <strong>
                          {{ "TABLE.COLUMNS.NO_RECORDED" | translate }} 
                        </strong> 
                      </h3>                      
                    </td>  
                  </tr>
                </table>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
