<header data-header>
  {{ "CONFIG_COTISATION.TITLE" | translate }}
</header>

<nav>
  <div class="pull-left">
    <ol class="breadcrumb">
      <li><a href="#/"><span class="glyphicon glyphicon-home"></span></a></li>
      <li><a href="#/cotisations_management/">{{"COTISATION_MANAGEMENT.TITLE" | translate}}</a></li>
      <li class="active">{{ "CONFIG_COTISATION.TITLE" | translate }}</li>
    </ol>
  </div>

  <button class="btn btn-sm btn-default pull-right" ng-click="addUser()">
    <span class="glyphicon glyphicon-cog"></span>
     {{ "CONFIG_COTISATION.ADD" | translate }}
  </button>
</nav>

<main class="hidden-print">
  <div class="row margin-top-10">
    <div class="col-xs-6">
      <div class="panel panel-primary" style="overflow: auto">
        <div class="panel-heading">
          {{ "CONFIG_COTISATION.REGISTERED" | translate }}
        </div>
        <table class="table table-hover table-condensed">
          <thead>
            <tr>
              <th>{{ "COLUMNS.NR" | translate}} </th>
              <th>{{ "COLUMNS.LABEL" | translate}}</th>
              <th colspan="3">{{ "COLUMNS.ACTIONS" | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="config_cotisation in config_cotisations.data | orderBy:'config_cotisation.name'">
              <td>{{$index + 1}}</td>
              <td>{{ config_cotisation.label }}</td>
              <td><a class="clk" ng-click="editConfig(config_cotisation)"><i class="glyphicon glyphicon-pencil"></i></a></td>
              <td><a class="clk" ng-click="config(config_cotisation)"><i class="glyphicon glyphicon-plus-sign"></i></a></td>
              <td><a class="action danger" ng-click="removeConfig(config_cotisation)"><i class="glyphicon glyphicon-trash"></i></a></td>
            </tr>
	        <tr ng-if="!config_cotisations.data.length">
              <td colspan="3">{{ "CONFIG_COTISATION.NO_CONFIG_COTISATION" | translate }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-xs-6" ng-switch="current.state">
      <div ng-switch-default>
        <div class="alert alert-info">
		  <h4>{{ "CONFIG_COTISATION.TITLE" | translate }}</h4>
		  <p>{{ "CONFIG_COTISATION.ALERT" | translate }}</p>
          </ul>
        </div>
      </div>

      <div ng-switch-when="add">
        <form novalidate class="form-horizontal" name="new">
          <legend><h3>{{ "CONFIG_COTISATION.NEW_CONFIG" | translate }}</small></h3></legend>
          <div class="form-group">
            <label class="control-label col-xs-4 required">{{ "COLUMNS.LABEL" | translate }}</label>
            <div class="col-xs-7">
              <input ng-model="current.config_cotisation.label" class="form-bhima" required>
            </div>
          </div>


          <div class="form-group">
            <input type="submit" ng-disabled="new.$invalid" class="btn btn-sm btn-success" value="{{ 'FORM.SUBMIT' | translate }}" ng-click="submit()">
            <input type="reset"  class="btn btn-sm btn-default" value="{{ 'FORM.RESET' | translate }}" ng-click="reset()">
          </div>
        </form>
      </div>

      <div ng-switch-when="edit">
        <form novalidate class="form-horizontal" name="edit">
          <legend><h3>{{ "CONFIG_COTISATION.UPDATE" | translate }} </h3></legend>

          <div class="form-group">
            <label class="control-label col-xs-4 required">{{ "COLUMNS.LABEL" | translate }}</label>
            <div class="col-xs-7">
              <input ng-model="current.config_cotisation.label" class="form-bhima" required>
            </div>
          </div>

          <div class="form-group">
            <input type="submit" ng-disabled="edit.$invalid" class="btn btn-sm btn-success" value="{{ 'FORM.SUBMIT' | translate }}" ng-click="submit()">
            <input type="reset" class="btn btn-sm btn-default" value="{{ 'FORM.RESET' | translate }}" ng-click="reset()">
          </div>
        </form>
      </div>

      <div ng-switch-when="cotisations" >

          <div class="panel panel-default">
            <div class="panel-heading">
              <span  style="font-size: 16px;"><b>{{current.config_cotisation.label}} </b>: {{ "CONFIG_COTISATION.RUBRIC" | translate }}</span>
              <span class="pull-right">
                <a ng-click="submit()" class="clk">
                  <span class="glyphicon glyphicon-floppy-disk"></span> {{ "FORM.SAVE" | translate }}
                </a>
              </span>
            </div>

            <div class="panel-heading">
              <p>{{ "CONFIG_COTISATION.MESSAGE" | translate }}</p>
            </div>

            <label class="checkbox" style="margin-left: 10px; margin-bottom: 5px;">
              <input type="checkbox" ng-model="super.cotisations" ng-change="toggleSuperProjects(super.cotisations)">
              {{ "PERMISSION.ALL" | translate }}
            </label>
            <ul class="k-list" style="margin-left: 25px;">
              <li ng-repeat="cotisation in cotisations.data">
                <label class="checkbox">
                  <input type="checkbox" ng-model="cotisation.checked" ng-change="deselectAllProjects(cotisation.checked)">
                  {{ cotisation.label }}
                </label>
              </li>
            </ul>
          </div>

      </div>
    </div>
  </div>
</div></main>


