<header data-header>
  {{'VERSEMENT_PROFIT_CENTER.TITLE' | translate}}
</header>

<nav>
  <div class="pull-left">
    <ol class="breadcrumb">
      <li><a href="#/"><span class="glyphicon glyphicon-home"></span></a></li>
      <li><a href="#/profit_center">{{ "VERSEMENT_PROFIT_CENTER.PARENT" | translate }}</a></li>
      <li class="active">{{ "VERSEMENT_PROFIT_CENTER.TITLE" | translate }}</li>
    </ol>
  </div>
</nav>

<main>
  <div class="panel panel-default">
    <div class="panel-heading">
      {{'VERSEMENT_PROFIT_CENTER.CHOOSE' | translate}}
    </div>
    <div class="panel-body">
      <form class="form">
        <div class="form-group">
          <select
            class="col-xs-2 form-bhima"
            ng-model="ProfitCtrl.configuration.profitCenter"
            ng-options="pc as pc.text for pc in ProfitCtrl.profit_centers.data"
            ng-change="ProfitCtrl.performChange()">
          </select>
        </div>
      </form>
    </div>
  </div>

  <div class="row">

    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-heading" style="height: 50px;">
          <span> {{ 'VERSEMENT_PROFIT_CENTER.AVAILABLE_ACCOUNT' | translate}} {{ selected.text }}</span>
          <span class="pull-right">
            <span ng-if="ProfitCtrl.state === 'loading'">
              <loading-indicator></loading-indicator>
            </span>
            <button
              ng-disabled="!ProfitCtrl.isAssignable()"
              ng-click="ProfitCtrl.assign()"
              ng-if="ProfitCtrl.state !== 'loading'"
              class="btn btn-sm btn-default"
              type="submit">
              {{'VERSEMENT_PROFIT_CENTER.VERSER' | translate}}
            </button>
          </span>
        </div>
        <div class="panel-body versement-header">
          <table class="table table-condensed table-striped">
            <thead>
              <tr>
                <th><input type="checkbox" ng-model="ProfitCtrl.checkAvailable.all" ng-change="ProfitCtrl.checkAllAvailable()"/></th>
                <th>Account Number</th>
                <th>Account Name</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="account in ProfitCtrl.availableAccounts.data">
                <td><input type="checkbox" ng-model="account.checked"/></td>
                <td>{{ account.account_number }}</td>
                <td>{{ account.account_txt }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-xs-6">
      <div class="panel panel-primary">
        <div class="panel-heading" style="height: 50px;">
          {{ 'VERSEMENT_PROFIT_CENTER.ASSOCIATED_TO' | translate }}
          <b>{{ ProfitCtrl.selectedCostCenter.text }}
            <span ng-if="!ProfitCtrl.selectedCostCenter">
              {{'VERSEMENT_PROFIT_CENTER.PLEASE_SELECT' | translate}}
            </span>
          </b>
          <span class="pull-right">
            <button
              ng-disabled="!ProfitCtrl.isRemovable()"
              ng-click="ProfitCtrl.remove()"
              class="btn btn-sm btn-default"
              type="submit">
              {{ 'VERSEMENT_PROFIT_CENTER.REMOVE' | translate }}
            </button>
          </span>
        </div>

        <div class="panel-body versement-header">
          <table class="table table-condensed table-striped">
            <thead>
              <tr>
                <th><input type="checkbox" ng-model="ProfitCtrl.checkAssociated.all" ng-change="ProfitCtrl.checkAllAssociated()"/></th>
                <th>Account Number</th>
                <th>Account Name</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="associatedAccount in ProfitCtrl.associatedAccounts.data">
              <td><input type="checkbox" ng-model="associatedAccount.checked"/></td>
              <td>{{ associatedAccount.account_number }}</td>
              <td>{{ associatedAccount.account_txt }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
