<form  name="ModalForm" ng-submit="ModalCtrl.submit(ModalForm)" bh-form-defaults novalidate>
  <div class="modal-header">
    <div class="bhima-title">
      <ol class="headercrumb">
        <li class="static">{{ "FORM.INFOS.INVOICES" | translate }}</li>
        <li class="title">{{ "FORM.INFOS.CREDIT_NOTE" | translate }}</li>
      </ol>
    </div>
  </div>

  <div class="modal-body" style="overflow: auto; max-height: 2000px;">
    <legend>{{ "FORM.INFOS.SALE_DETAILS" | translate }} :  {{ "TABLE.COLUMNS.INVOICE_ID" | translate}} : {{ ModalCtrl.patientInvoice.reference }} <small>{{ModalCtrl.patientInvoice.date | date}}</small></legend>
    <fieldset>
        <table class="table table-bordered table-condensed" style="width: 100%;">
          <thead>
            <tr>
              <th colspan="4">{{ "TABLE.COLUMNS.PATIENT" | translate }} : {{ ModalCtrl.patientInvoice.patientNames }} </th>
            </tr>
            <tr>
              <th>{{ "TABLE.COLUMNS.DESCRIPTION" | translate }}</th>
              <th>{{ "TABLE.COLUMNS.QUANTITY" | translate }}</th>
              <th>{{ "TABLE.COLUMNS.PRICE" | translate }}</th>
              <th>{{ "TABLE.COLUMNS.COST" | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in ModalCtrl.patientInvoiceItems">
              <td>{{item.text}}</td>
              <td>{{item.quantity}}</td>
              <td>{{item.transaction_price | currency}}</td>
              <td>{{item.quantity * item.transaction_price | currency}}</td>
            </tr>
            <tr>
              <th colspan="3" style="text-align: right;">{{ "TABLE.COLUMNS.TOTAL" | translate }}</th>
              <td>{{ ModalCtrl.patientInvoice.cost | currency }}</td>
            </tr>
            <tr>
              <td colspan="4">
                <div
                class="form-group"
                ng-class="{'has-error' :ModalForm.$submitted && ModalForm.description.$invalid }"> 
                  <label for="invoice-note">{{ "TABLE.COLUMNS.DESCRIPTION" | translate }}</label>
                  <textarea
                    id="invoice-note"
                    ng-model="ModalCtrl.creditNote.description"
                    name="description"
                    class="form-control"
                    ng-maxlength="ModalCtrl.maxLength"
                    rows="4"
                    required>
                  </textarea>
                  <div class="help-block" ng-messages="ModalForm.description.$error" 
                    ng-show="ModalForm.$submitted">
                    <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
                  </div>                  
                </div>  
              </td>
            </tr>            
          </tbody>
        </table>
    </fieldset>    
  </div>
    
  <div class="modal-footer">
    <button  type="button" class="btn btn-default" ng-click="ModalCtrl.cancel()">{{ "FORM.BUTTONS.CLOSE" | translate }}</button>
    <button id="submitButton" class="btn btn-default" type="submit" data-method="submit">
      {{ "FORM.BUTTONS.SUBMIT_CREDIT_NOTE" | translate }}
    </button>
  </div>
</form>
