<form
  name="ModalForm"
  ng-submit="ModalCtrl.submit(ModalForm)"
  data-modal="invoice-search"
  bh-form-defaults
  novalidate>

  <div class="modal-header">
    <ol class="headercrumb">
      <li class="static">{{ "FORM.INFO.INVOICES" | translate }}</li>
      <li class="title">{{ "FORM.INFO.SEARCH" | translate }}</li>
    </ol>
  </div>

  <div class="modal-body" style="overflow: auto; max-height: 80vh;">

    <!-- billing date fieldset -->
    <fieldset>
      <legend>
        <i class="fa fa-calendar"></i> {{ "FORM.LABELS.BILLING_DATE" | translate }}
      </legend>

      <ul class="list-inline" data-invoice-date>
        <li ng-repeat="(key, view) in ModalCtrl.periods track by key">
          <a ng-click="ModalCtrl.setDateRange(view.cacheKey)" data-date-range="{{ key }}" href>
            {{ ::view.translateKey | translate }}
          </a>
        </li>
        <li class="pull-right">
          <a href ng-click="ModalCtrl.clear('date')" tabindex="-1">
            <i class="fa fa-eraser"></i> {{ "FORM.BUTTONS.CLEAR" | translate }}
          </a>
        </li>
      </ul>

      <div class="row">
        <div class="col-md-5">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              ng-model="ModalCtrl.params.billingDateFrom"
              uib-datepicker-popup="yyyy-MM-dd"
              is-open="ModalCtrl.billingDateFromIsOpen"
              show-button-bar="false"
              >
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="ModalCtrl.billingDateFromIsOpen =! ModalCtrl.billingDateFromIsOpen">
                  <i class="fa fa-calendar-plus-o"></i>
                </button>
              </span>
          </div>
        </div>

        <div class="col-md-2 text-center">
          <hr />
        </div>

        <div class="col-md-5">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              ng-model="ModalCtrl.params.billingDateTo"
              uib-datepicker-popup="yyyy-MM-dd"
              is-open="ModalCtrl.billingDateToIsOpen"
              show-button-bar="false"
              >
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="ModalCtrl.billingDateToIsOpen =! ModalCtrl.billingDateToIsOpen">
                  <i class="fa fa-calendar-plus-o"></i>
                </button>
              </span>
          </div>
        </div>
      </div>
    </fieldset>

    <br />

    <!-- invoice details fieldset -->
    <fieldset>
      <legend>
        <i class="fa fa-list-alt"></i> {{ "FORM.LABELS.INVOICES_DETAILS" | translate }}
      </legend>

      <div class="form-group" ng-class="{ 'has-error' : ModalForm.$submitted && ModalForm.reference.$invalid }">
        <label class="control-label">{{ 'FORM.LABELS.REFERENCE' | translate }}</label>
        <span style="display:inline-block;" class="pull-right">
          <a href ng-click="ModalCtrl.clear('reference')" tabindex="-1">
            <i class="fa fa-eraser"></i> {{ "FORM.BUTTONS.CLEAR" | translate }}
          </a>
        </span>
        <input type="text" class="form-control" name="reference"ng-model="ModalCtrl.params.reference">
        <div class="help-block" ng-messages="ModalForm.reference.$error" ng-show="ModalForm.$submitted">
          <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
        </div>
      </div>

      <div class="form-group" ng-class="{ 'has-error' : ModalForm.$submitted && ModalForm.service.$invalid }">
        <label class="control-label">{{ 'FORM.LABELS.SERVICE' | translate }}</label>
        <span style="display:inline-block;" class="pull-right">
          <a href ng-click="ModalCtrl.clear('service_id')" tabindex="-1">
            <i class="fa fa-eraser"></i> {{ "FORM.BUTTONS.CLEAR" | translate }}
          </a>
        </span>
        <select
          class="form-control"
          name="service"
          ng-model="ModalCtrl.params.service_id"
          ng-options="s.id as s.name for s in ModalCtrl.services | orderBy:'name'">
          <option value="" disabled>{{ 'FORM.SELECT.SERVICE' | translate }}</option>
        </select>
      </div>

      <div class="form-group" ng-class="{ 'has-error' : ModalForm.$submitted && ModalForm.user.$invalid }">
        <label class="control-label">{{ 'FORM.LABELS.USER' | translate }}</label>
        <span style="display:inline-block;" class="pull-right">
          <a href ng-click="ModalCtrl.clear('user_id')" tabindex="-1">
            <i class="fa fa-eraser"></i> {{ "FORM.BUTTONS.CLEAR" | translate }}
          </a>
        </span>
        <select
          class="form-control"
          name="user"
          ng-model="ModalCtrl.params.user_id"
          ng-options="u.id as u.display_name for u in ModalCtrl.users | orderBy:'display_name'">
          <option value="" disabled>{{ 'FORM.SELECT.USER' | translate }}</option>
        </select>
      </div>

      <div class="form-group">
        <bh-find-patient
          suppress-reset="true"
          on-search-complete="ModalCtrl.setPatient(patient)"
          on-register-api="ModalCtrl.onPatientSearchApiCallback(api)"
          validation-trigger="ModalForm.$submitted"
          >
        </bh-find-patient>
      </div>
    </fieldset>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="ModalCtrl.cancel()">
      {{ "FORM.BUTTONS.CLOSE" | translate }}
    </button>
    <button class="btn btn-default" type="submit" data-method="submit">
      {{ "FORM.BUTTONS.SUBMIT" | translate }}
    </button>
  </div>
</form>
