<header data-header>
  {{ "INVENTORY.UPDATE_ITEM.TITLE" | translate }}
</header>

<nav>
  <div class="pull-left">
    <ol class="breadcrumb" style="float: right;">
      <li><a href="#/"><span class="glyphicon glyphicon-home"></span></a></li>
      <li><a href="#/inventory">{{ "INVENTORY.MAIN.TITLE" | translate }}</a></li>
      <li class="active">{{ "INVENTORY.UPDATE_ITEM.TITLE" | translate }}</li>
    </ol>
  </div>
</nav>

<main>
  <div class="row margin-top-10">
    <div class="col-xs-6">
      <div class="panel square" ng-class="{'panel-success' : selectedItem, 'panel-default' : !selectedItem}">
        <div class="panel-heading square">
          <span class="glyphicon" ng-class="{'glyphicon-search' : session.search, 'glyphicon-list-alt' : !session.search}"></span>
          <span ng-show="session.search">{{'INVENTORY.UPDATE_ITEM.FIND_ITEM' | translate}}</span>
              <span ng-show="!session.search">
                <b>{{ selectedItem.code }}</b>
                {{selectedItem.text}}
              </span>

          <a class="pull-right action" ng-hide="session.search" ng-click="refreshSession()">
            <span class="glyphicon glyphicon-refresh"></span>
          </a>
        </div>
        <div class="panel-body" ng-show="session.search">
          <div class="input-group">
            <input
              class="form-bhima"
              ng-model="session.stockSearch"
              typeahead="stock as stock.text for stock in inventory.data | filter: $viewValue | limitTo:10"
              typeahead-on-select="selectStock(session.stockSearch.uuid)"
              typeahead-template-url="stockItem.html"
              placeholder="{{'INVENTORY.UPDATE_ITEM.SEARCH_TEXT' | translate}}">
            <div class="input-group-btn">
              <button class="btn btn-default btn-sm" ng-click="loadStock(selectedItem.uuid)" ng-disabled="!selectedItem">{{'FORM.SUBMIT' | translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <div class="panel panel-default square" style="max-height: 450px;">
        <div class="panel-heading sqaure">
          <span class="glyphicon glyphicon-list-alt"></span>
          {{'INVENTORY.UPDATE_ITEM.STOCK_HISTORY' | translate}}
        </div>

        <table class="table table-condensed" ng-hide="session.search">
          <thead>
            <tr>
              <th>{{ 'INVENTORY.UPDATE_ITEM.TIMESTAMP' | translate }}</th>
              <th>{{ 'COLUMNS.PRICE' | translate }}</th>
              <th>{{ 'COLUMNS.CODE' | translate }}</th>
              <th>{{ 'COLUMNS.TEXT' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="record in history.data | orderBy : 'log_timestamp'">
              <td>{{ record.log_timestamp | date }}</td>
              <td>{{ record.price | currency }}</td>
              <td>{{ record.code }}</td>
              <td>{{ record.text }}</td>
            </tr>
          </tbody>
          <tfoot ng-if="history.data.length===0">
            <tr>
              <td colspan="4">
                <div class="alert alert-warning" style="margin-bottom:0;">
                  <span class="glyphicon glyphicon-envelope"></span>
                  {{ "INVENTORY.UPDATE_ITEM.NO_HISTORY" | translate }}
                </div>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>

    <div class="col-xs-6">
      <div class="panel panel-default square">
        <div class="panel-heading square">
          <span class="glyphicon glyphicon-pencil"></span>
          {{'INVENTORY.UPDATE_ITEM.ITEM_DETAILS' | translate}}
        </div>

        <div ng-show="!session.search" class="panel-body">
          <form>
            <div class="row">
              <div class="col-xs-6">
                <div class="form-group">
                  <label>{{ "LOCATION.CURRENT" | translate }} {{ "COLUMNS.SALE_PRICE" | translate }}</label>
                  <p class="form-control-static" style="padding-top:0;"> {{ cachePrice | currency }}</p>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="form-group">
                  <label>{{ "LOCATION.CURRENT" | translate }} {{ "COLUMNS.PURCHASE_PRICE" | translate }}</label>
                  <p class="form-control-static" style="padding-top:0;">{{ cachePurchasePrice | currency }}</p>
                </div>
              </div>
            </div>

            <div ng-if="selectedItem.consumable" class="form-group">
              <h3>{{ "INVENTORY.UPDATE_ITEM.DELIVERABLE" | translate }}</h3>
            </div>

            <div ng-if="!selectedItem.consumable" class="form-group">
              <h3>{{ "INVENTORY.UPDATE_ITEM.UNDELIVERABLE" | translate }}</h3>
            </div>

            <div class="form-group">
              <label>{{'COLUMNS.SALE_PRICE' | translate}}</label>
              <input class="form-bhima" ng-model="selectedItem.price">
            </div>

            <div class="form-group">
              <label>{{'COLUMNS.PURCHASE_PRICE' | translate}}</label>
              <input class="form-bhima" ng-model="selectedItem.purchase_price">
            </div>

            <div class="form-group">
              <label>{{'COLUMNS.CODE' | translate}}</label>
              <input class="form-bhima" ng-model="selectedItem.code">
            </div>

            <div class="form-group">
              <label>{{'COLUMNS.DESCRIPTION' | translate}}</label>
              <input class="form-bhima" ng-model="selectedItem.text">
            </div>

            <div class="form-group">
              <label>{{ "COLUMNS.INVENTORY_GROUP" | translate }}</label>
              <select class="form-bhima" ng-model="selectedItem.group_uuid" ng-options="group.uuid as group.name for group in groups.data | orderBy:'name'"></select>
            </div>

            <div class="form-group">
              <label>{{ "COLUMNS.UNIT" | translate }}</label>
              <select class="form-bhima" ng-model="selectedItem.unit_id" ng-options="unit.id as unit.text for unit in units.data"></select>
            </div>

            <div class="row">
              <div class="col-xs-6">
                <div class="form-group">
                  <label>{{ "COLUMNS.UNIT_WEIGHT" | translate }}</label>
                  <input type="number" class="form-bhima" ng-model="selectedItem.unit_weight" min="0">
                </div>
              </div>

              <div class="col-xs-6">
                <div class="form-group">
                  <label>{{ "COLUMNS.UNIT_VOLUME" | translate }}</label>
                  <input class="form-bhima" ng-model="selectedItem.unit_volume" type="number" min="0">
                </div>
              </div>
            </div>

            <div class="form-group">
              <label>{{ "COLUMNS.TYPE" | translate }}</label>
              <select class="form-bhima" ng-model="selectedItem.type_id" ng-options="type.id as type.text for type in types.data"></select>
            </div>

            <div class="row">
              <div class="col-xs-6">
                <div class="form-group">
                  <label>{{ "COLUMNS.STOCK_MIN" | translate }}</label>
                  <input class="form-bhima" ng-model="selectedItem.stock_min" type="number" min="0">
                </div>
              </div>

              <div class="col-xs-6">
                <div class="form-group">
                  <label>{{ "COLUMNS.STOCK_MAX" | translate }}</label>
                  <input class="form-bhima" ng-model="selectedItem.stock_max" type="number" min="0">
                </div>
              </div>
            </div>

          </form>
        </div>

        <div ng-show="!session.search" class="panel-footer">
          <!-- Text should read - Update Stock -->
          <button ng-click="submitUpdate()" class="btn btn-sm btn-success">{{'INVENTORY.UPDATE_ITEM.SUBMIT' | translate}}</button>
        </div>
    </div>
  </div>
</main>

<script type="text/ng-template" id="stockItem.html">
  <a>
    <span><b>[{{match.model.code}}]</b></span>
    <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
  </a>
</script>
