<div class="flex-header">
  <div class="bhima-title">
    <ol class="headercrumb">
      <li class="static">{{ "TREE.ADMIN" | translate }}</li>
      <li class="title">{{ "TREE.TRANSACTION_TYPE" | translate }}</li>
    </ol>

    <div class="toolbar">
      <div class="toolbar-item">
        <button type="button"
          class="btn btn-default"
          data-method="create"
          ng-click="TypeCtrl.addType()">
          <i class="fa fa-plus-circle"></i> {{ 'FORM.LABELS.ADD' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>

<div class="flex-content">
  <div class="container-fluid">
    <!-- inventory list of items  -->
    <div id="transactionTypeListGrid"
      class="grid-full-height"
      ui-grid="TypeCtrl.gridOptions"
      ui-grid-auto-resize
      ui-grid-resize-columns>
    </div>
  </div>
</div>
