<form
  name="ModalForm"
  ng-submit="$ctrl.submit(ModalForm)"
  data-modal="admission-search"
  novalidate>

  <div class="modal-header search-modal-header">
    <ol class="headercrumb">
      <li class="static" translate>TREE.DASHBOARDS.TITLE</li>
      <li class="title" translate>DASHBOARD.INDICATORS_FILES.SEARCH</li>
    </ol>
  </div>

  <div class="modal-body search-modal">
    <uib-tabset>
      <uib-tab index="0" heading="{{ 'FORM.LABELS.SEARCH_QUERIES' | translate }}" data-custom-filter-tab>
        <div class="tab-body">

          <!-- fiscal year -->
          <bh-fiscal-year-select
            fiscal-id="$ctrl.fiscal_id"
            on-select-fiscal-callback="$ctrl.onSelectFiscal(fiscal)">
            <bh-clear on-clear="$ctrl.clear('fiscal_id')"></bh-clear>
          </bh-fiscal-year-select>

          <!-- period -->
          <bh-period-selection
            fiscal-year-id="$ctrl.fiscal_id"
            period-id="$ctrl.period_id"
            on-select-callback="$ctrl.onSelectPeriod(fiscal)">
            <bh-clear on-clear="$ctrl.clear('period_id')"></bh-clear>
          </bh-period-selection>

          <!-- type -->
          <div class="form-group">
            <label class="control-label" translate>DASHBOARD.INDICATORS_FILES.TYPE</label>
            <bh-clear on-clear="$ctrl.clear('type')"></bh-clear>

            <ui-select
              name="type"
              ng-model="$ctrl.type"
              on-select="$ctrl.onSelectType($item, $model)">
              <ui-select-match placeholder="{{ 'DASHBOARD.INDICATORS_FILES.TYPE' | translate }}">
                <span>{{$select.selected.label}}</span>
              </ui-select-match>
              <ui-select-choices ui-select-focus-patch repeat="type.id as type in $ctrl.types | filter: { 'label': $select.search }">
                <span ng-bind-html="type.label | highlight:$select.search"></span>
              </ui-select-choices>
            </ui-select>
          </div>

          <!-- status -->
          <div class="form-group">
            <label class="control-label" translate>DASHBOARD.INDICATORS_FILES.STATUS</label>
            <bh-clear on-clear="$ctrl.clear('status')"></bh-clear>

            <ui-select
              name="type"
              ng-model="$ctrl.status"
              on-select="$ctrl.onSelectStatus($item, $model)">
              <ui-select-match placeholder="{{ 'DASHBOARD.INDICATORS_FILES.STATUS' | translate }}">
                <span>{{$select.selected.value}}</span>
              </ui-select-match>
              <ui-select-choices ui-select-focus-patch repeat="opt.key as opt in $ctrl.statusOptions | filter: { 'value': $select.search }">
                <span ng-bind-html="opt.value | highlight:$select.search"></span>
              </ui-select-choices>
            </ui-select>
          </div>

          <!-- users -->
          <bh-user-select 
            on-select-callback="$ctrl.onSelectUser(user)">
            <bh-clear on-clear="$ctrl.clear('user_id')"></bh-clear>
          </bh-user-select>
        </div>
      </uib-tab>

      <uib-tab index="1" heading="{{ 'FORM.LABELS.DEFAULTS' | translate }}" data-default-filter-tab>
        <div class="tab-body">
          <div class="form-group" ng-class="{ 'has-error' : ModalForm.limit.$invalid }">
            <label class="control-label" translate>FORM.LABELS.LIMIT</label>
            <input name="limit" type="number" bh-integer bh-max-integer class="form-control" ng-model="$ctrl.defaultQueries.limit" ng-change="$ctrl.onSelectLimit($ctrl.defaultQueries.limit)">

            <div class="help-block" ng-messages="ModalForm.limit.$error">
              <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
            </div>
          </div>
        </div>
      </uib-tab>
    </uib-tabset>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$ctrl.cancel()" data-method="cancel" translate>
      FORM.BUTTONS.CLOSE
    </button>
    <button type="submit" class="btn btn-primary" data-method="submit" translate>
      FORM.BUTTONS.SUBMIT
    </button>
  </div>
</form>
