<header data-header>
  {{ "PATIENT_GRP.TITLE" | translate }}
</header>

<nav>
  <div class="pull-left">
    <ol class="breadcrumb">
      <li><a href="#/"><span class="glyphicon glyphicon-home"></span></a></li>
      <li class="active">{{ "PATIENT_GRP.TITLE" | translate }}</li>
    </ol>
  </div>

  <div class="pull-right">
    <button ng-click="newGroup()" class="btn btn-sm btn-default pull-right">
      <i class="glyphicon glyphicon-plus-sign"></i> {{ "PATIENT_GRP.NEW" | translate }}
    </button>
  </div>
</nav>

<main>
  <div class="row margin-top-10">
    <div class="col-xs-6">
      <div class="panel panel-default" style="max-height: 500px; overflow: auto;">
        <div class="panel-heading">
          <span>{{ "PATIENT_GRP.REGISTERED" | translate }}</span>
        </div>
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>{{ "PATIENT_GRP.PATIENT_GROUP" | translate }}</th>
              <th>{{ "PATIENT_GRP.PRICE_LIST" | translate }}</th>
              <th>{{ "PATIENT_GRP.SUBSIDY" | translate }}</th>
              <th colspan="3" width="10%">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-class="{'selected-primary' : session.selected.uuid === grp.uuid}" ng-repeat="grp in group.data  | orderBy:'name'">
              <td>{{ grp.name }}</td>
              <td>{{ list.get(grp.price_list_uuid).title }}</td>
              <td>{{ subsidies.get(grp.subsidy_uuid).text }}</td>
              <td><a ng-if="grp.price_list_uuid" title="{{ 'PATIENT_GRP.PRICE_LIST' | translate }}" class="action" ng-click="showReport(grp)"><span class="glyphicon glyphicon-eye-open"></span></a></td>
              <td><a class="action" ng-click="edit(grp)"><i class="glyphicon glyphicon-pencil"></i></a></td>
              <td><a class="action" ng-click="remove(grp)"><i class="glyphicon glyphicon-trash uif-red"></i></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-xs-6" ng-switch="action">

      <div ng-switch-default>
        <div class="alert alert-info">
          <h4>{{ "PATIENT_GRP.TITLE" | translate }}</h4>
          <p>{{ "PATIENT_GRP.HELP_TXT_1" | translate }}.</p>
        </div>
      </div>

      <div ng-switch-when="register">
        <form class="form-horizontal" name="add" novalidate>
          <fieldset>
            <legend>{{ "PATIENT_GRP.REGISTER" | translate }}</legend>

            <div class="form-group required">
              <label class="col-xs-2 control-label">{{ "COLUMNS.NAME" | translate }}</label>
              <div class="col-xs-10">
                <input class="form-bhima" ng-model="register.name" required>
              </div>
            </div>

            <div class="form-group required">
              <label class="col-xs-2 control-label">{{ "PATIENT_GRP.PRICE_LIST" | translate }}</label>
              <div class="col-xs-10">
                <select class="form-bhima" ng-model="register.price_list_uuid" ng-options="list.uuid as list.title for list in list.data">
                  <option value="">-- {{ "SELECT.PRICE_LIST" | translate }} --</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-2 control-label">{{ "PATIENT_GRP.SUBSIDY" | translate }}</label>
              <div class="col-xs-10">
                <select class="form-bhima" ng-model="register.subsidy_uuid" ng-options="subsidy.uuid as subsidy.text for subsidy in subsidies.data">
                  <option value="">-- {{ "SELECT.SUBSIDY" | translate }} --</option>
                </select>
              </div>
            </div>


            <div class="form-group">
              <label class="col-xs-2 control-label">{{ "COLUMNS.NOTE" | translate }}</label>
              <div class="col-xs-10">
                <textarea class="form-control" ng-model="register.note" rows="3">
                </textarea>
              </div>
            </div>

            <input ng-click="saveRegistration()" class="btn btn-sm btn-success" type="submit" value="{{ 'FORM.SAVE' | translate }}" ng-disabled="add.$invalid">
            <input ng-click="resetRegistration()" class="btn btn-sm btn-default" type="button" value="{{ 'FORM.RESET_FORM' | translate }}">

          </fieldset>
        </form>
      </div>

      <div ng-switch-when="modify">
        <form class="form-horizontal">
          <fieldset>
            <legend>{{ "PATIENT_GRP.MODIFY" |  translate }}</legend>

            <div class="form-group required">
              <label class="col-xs-2 control-label">{{ "COLUMNS.NAME" | translate }}</label>
              <div class="col-xs-10">
                <input class="form-bhima" ng-model="modify.name">
              </div>
            </div>

            <div class="form-group required">
              <label class="col-xs-2 control-label">{{ "PATIENT_GRP.PRICE_LIST" | translate }}</label>
              <div class="col-xs-10">
                <select class="form-bhima" ng-model="modify.price_list_uuid" ng-options="list.uuid as list.title for list in list.data">
                  <option value="">-- {{ "SELECT.PRICE_LIST" | translate }} --</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-2 control-label">{{ "PATIENT_GRP.SUBSIDY" | translate }}</label>
              <div class="col-xs-10">
                <select class="form-bhima" ng-model="modify.subsidy_uuid" ng-options="subsidy.uuid as subsidy.text for subsidy in subsidies.data">
                  <option value="">-- {{ "SELECT.SUBSIDY" | translate }} --</option>
                </select>
              </div>
            </div>


            <div class="form-group">
              <label class="col-xs-2 control-label">{{ "COLUMNS.NOTE" | translate }}</label>
              <div class="col-xs-10">
                <textarea class="form-control" ng-model="modify.note" rows="3"></textarea>
              </div>
            </div>

            <input ng-click="saveModification()" class="btn btn-sm btn-success" type="submit" value="{{ 'FORM.SAVE' | translate }}">
            <input ng-click="resetModification()" class="btn btn-sm btn-default" type="button" value="{{ 'FORM.RESET_FORM' | translate }}">

          </fieldset>
        </form>
      </div>
    </div>
  </div>
</main>
