<div class="ui-grid-cell-contents" translate>
    <div ng-if="row.entity.status === 'sold_out'" class="label label-danger" translate>
        STOCK.STATUS.SOLD_OUT
    </div>

    <div ng-if="row.entity.status === 'in_stock'" class="label label-success" translate>
        STOCK.STATUS.IN_STOCK
    </div>

    <div ng-if="row.entity.status === 'security_reached'" class="label label-warning" translate>
        STOCK.STATUS.SECURITY
    </div>

    <div ng-if="row.entity.status === 'minimum_reached'" class="label label-info" translate>
        STOCK.STATUS.MINIMUM
    </div>

    <div ng-if="row.entity.status === 'over_maximum'" class="label label-primary" translate>
        STOCK.STATUS.OVER_MAX
    </div>
</div>