<div class="flex-header">
  <div class="bhima-title">
    <ol class="headercrumb">
      <li class="static" translate>TREE.ADMIN</li>
      <li class="title" translate>PATIENT_GROUP.TITLE</li>
    </ol>

   <div class="toolbar">
      <div class="toolbar-item">
        <button class="btn btn-default text-capitalize" ng-click="PatientGroupCtrl.create()" data-method="create">
          <span class="fa fa-plus"></span>
          <span translate>PATIENT_GROUP.ADD_PATIENT_GROUP</span>
        </button>
      </div>

      <div class="toolbar-item">
        <button
          type="button"
          ng-click="PatientGroupCtrl.toggleFilter()"
          data-method="filter"
          class="btn btn-default"
          ng-class="{ 'btn-info' : PatientGroupCtrl.filterEnabled }">
          <i class="fa fa-filter"></i>
        </button>
      </div>
   </div>
  </div>
</div>

<!-- main content -->
<div class="flex-content">
  <div class="container-fluid">
    <div id="patient-group-grid"
      ui-grid="PatientGroupCtrl.gridOptions"
      class="grid-full-height"
      ui-grid-auto-resize
      ui-grid-resize-columns>

      <bh-grid-loading-indicator
        loading-state="PatientGroupCtrl.loading"
        empty-state="PatientGroupCtrl.gridOptions.data.length === 0"
        error-state="PatientGroupCtrl.hasError">
      </bh-grid-loading-indicator>
    </div>
  </div>
</div>