<div class="flex-header">
  <div class="bhima-title">
    <ol class="headercrumb">
      <li class="static" translate> TREE.ADMIN </li>
      <li class="title" translate> DEPOT.TITLE </li>
    </ol>

    <div class="toolbar">
      <div class="toolbar-item">
        <button class="btn btn-default text-capitalize" id="create" ng-click="DepotCtrl.createDepot()" data-method="create">
          <span class="fa fa-plus"></span> <span translate>DEPOT.ADD_DEPOT</span>
        </button>
      </div>

      <div class="toolbar-item">
        <button
          type="button"
          ng-click="DepotCtrl.toggleFilter()"
          data-method="filter"
          class="btn btn-default"
          ng-class="{ 'btn-info' : DepotCtrl.filterEnabled }">
          <i class="fa fa-filter"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- main content -->
<div class="flex-content">
  <div class="container-fluid">
    <div id="depot-grid"
      ui-grid="DepotCtrl.gridOptions"
      class="grid-full-height"
      ui-grid-auto-resize>

      <bh-grid-loading-indicator
        loading-state="DepotCtrl.loading"
        empty-state="DepotCtrl.gridOptions.data.length === 0"
        error-state="DepotCtrl.hasError">
      </bh-grid-loading-indicator>
    </div>
  </div>
</div>
