<div class="flex-header">
  <div class="bhima-title">
      
    <ol class="headercrumb">
      <li class="static">{{ "TREE.FINANCE" | translate }}</li>
      <li class="title">{{ "PATIENT_INVOICE.PAGE_TITLE" | translate }}</li>
      <li class="title">{{PatientInvoiceCtrl.invoicePatient.name}}</li>
    </ol>
    
  </div>
</div>

<div class="flex-content">
  <div class="container-fluid">
    
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Bill to</label>
          <find-patient type="inline" on-search-complete="PatientInvoiceCtrl.setPatient(patient)">
          </find-patient>
        </div>
        
        <div class="form-group">
          <label>Service</label>
          <select 
            id="service" 
            class="form-control"
            ng-model="PatientInvoiceCtrl.service"
            ng-options="service as service.service for service in PatientInvoiceCtrl.services">
          </select>
        </div>

        <label class="control-label">
          Sale Type 
          <!-- popover-placement="right" --> 
          <span 
            class="text-info glyphicon glyphicon-info-sign"></span>
        </label>
        <div class="form-group">
          <label class="radio-inline">
            <input type="radio" name="service-type" id="distributable" value="true" checked ng-model="PatientInvoiceCtrl.distributable" required>
            Distributable          
          </label>
          <label class="radio-inline">
            <input type="radio" name="service-type" id="not-distributable" value="false" ng-model="PatientInvoiceCtrl.distributable" required>
            Non-distributable          
          </label>

        </div>
      </div>

      <div class="col-md-6">
        <!-- <div class="form-group"> -->
        <!--   <label for="invoice-id">Invoice #</label> -->
        <!--   <input id="invoice-id" class="form-control"></input> -->
        <!-- </div> -->
        
            
        <div class="form-group">
            <label for="invoice-date">Date</label>
            <div class="input-group"> 
              <input 
                id="invoice-date" 
                type="date" 
                ng-model="PatientInvoiceCtrl.invoiceDate"
                readonly 
                class="form-control"></input>
              <span class="input-group-btn">
                <button class="btn btn-default"><span class="glyphicon glyphicon-edit"></span> Edit</button>
              </span>
            </div>
        </div>
        <div class="form-group">
          <label for="invoice-note">Notes</label>
          <textarea id="invoice-note" class="form-control"></textarea>
        </div>

      </div>
    </div>
    
    <div class="row" style="padding-bottom : 5px;">

      <!-- TODO Move padding generic CSS class -->
      <div class="col-xs-12">

            <!-- TODO Move width restriction to generic CSS class -->
          <div class="input-group">
            <span class="input-group-btn">
              <button 
                class="btn btn-default btn-sm"
                ng-click="PatientInvoiceCtrl.addInventoryItem(PatientInvoiceCtrl.itemIncrement)"><span class="glyphicon glyphicon-plus-sign"></span> Add</button> 
            </span>
            <input class="form-control input-sm" ng-model="PatientInvoiceCtrl.itemIncrement" style="max-width : 40px;"></input> 
            <button 
                class="btn btn-default btn-sm" ng-click="PatientInvoiceCtrl.viewItems()">View</button>
          </div>
      </div>
    </div>
    <!-- TODO Research performance hit using ui-grid-auto-resize -->
    <div ui-grid="PatientInvoiceCtrl.mockOptions" style="height : 300px; width : 100%;" ui-grid-auto-resize>
      
    </div>

    <!-- Ideal directive allowing totalling columns on any slick grid -->
    
    <!-- <totals-footer grid="PatientInvoiceCtrl.gridOptions" > --> 
    <!--   <div width="{{TotalFooterCtrl.calculatedWidth}}"> -->
    <!--     <span>Totals</span> -->
    <!--   </div> -->

    <!--   <div> -->
    <!--     <span>$0.00</span> -->
    <!--   </div> -->
    <!-- </footer> -->
  
    <!-- ------------------>

    <div class="row" style="margin-top : 20px;">
      <div class="col-xs-12">
        
        <finance-footer>

        <div style="margin-bottom : 1em; height :20px; background-color : red; width : {{PatientInvoiceCtrl.calculate(PatientInvoiceCtrl.columns)}}px;"></div>

        </finance-footer>
      </div>
    </div>
  </div>
</div>

<script type="text/ng-template" id="distributableInfo.html">
  <div>Content</div>
</script>
