<header data-header>
  {{ "DISTRIBUTION.TITLE" | translate }}
</header>

<nav>
  <div class="pull-left">
    <ol class="breadcrumb">
      <li><a href="#/"><span class="glyphicon glyphicon-home"></span></a></li>
      <li class="active">{{ "DISTRIBUTION.TITLE" | translate }}</li>
    </ol>
  </div>
</nav>

<main>
  <div class="row margin-top-10">
    <div class="col-xs-6">
      <div find-patient on-search-complete="initialiseDistributionDetails(patient)"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6" ng-switch="ready">
      <div ng-switch-default>
        <div class="alert alert-info">
          <b>Information Generale sur la distribution des medicaments</b>
          <p>
            Les ventes aparaittront ici
          </p>
        </div>
      </div>

      <div class="panel panel-primary" ng-switch-when="ready">
        <div class="panel-heading">
          {{ "DISTRIBUTION.SALE_DETAILS" | translate }}
        </div>
        <div class="row panel-body" style="height: 180px; overflow: auto;">
          <div class="col-xs-12">
            <table class="table table-bordered table-condensed">
              <thead>
                <tr>
                  <th>{{ "COLUMNS.REFERENCE" | translate }}</th>
                  <th>{{ "COLUMNS.DESCRIPTION" | translate }}</th>
                  <th>{{ "COLUMNS.DATE" | translate }}</th>
                  <th>{{ "COLUMNS.STATE" | translate }}</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="sale in distribution.sales" ng-click="add($index)" style="cursor : pointer;">
                  <td>{{sale.reference}}</td>
                  <td>{{sale.description}}</td>
                  <td>{{sale.trans_date | date}}</td>
                  <td>{{sale.etat}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="panel panel-primary">
          <div class="panel-heading" >
            {{ "DISTRIBUTION.SELECTED_SALE_DETAILS" | translate }} <b>:{{selectedSale.reference}}</b><span ng-click="remove()" class="glyphicon glyphicon-repeat pull-right" style="cursor : pointer;"></span>
          </div>

          <div class="col-xs-12 panel-body" style="height: 180px; overflow: auto;">
            <table class="table table-bordered table-condensed">
              <thead>
                <tr>
                  <th>{{ "COLUMNS.CODE" | translate }}</th>
                  <th>{{ "COLUMNS.ITEM" | translate }}</th>
                  <th>{{ "COLUMNS.QTY_ASKED" | translate }}</th>
                  <th>{{ "COLUMNS.QTY_AVAIL" | translate }}</th>
                  <th>{{ "COLUMNS.AVAILABLE" | translate }}</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  ng-repeat="item in selectedSale.sale_items"
                  ng-click="add($index)"
                  style="cursor : pointer;"
                  ng-class="{'incomplete-outline': item.avail=='NO', 'complete-outline': item.avail=='YES'}">
                  <td>{{item.code}}</td>
                  <td>{{item.text}}</td>
                  <td>{{item.quantity}}</td>
                  <td>{{item.stock}}</td>
                  <td><b>{{item.avail}}</b></td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
    </div>
  </div>

  <div class="panel panel-primary">
    <div ng-click="distribution.visible=!distribution.visible" class="panel-heading">
      {{ "DISTRIBUTION.LOT_DETAILS" | translate }}
      <div class="pull-right">
        <span  class="glyphicon" ng-class="{'glyphicon-eye-close': !distribution.visible, 'glyphicon-eye-open': distribution.visible}"></span>
      </div>
    </div>
    <div ng-show="distribution.visible">
      <div class="row">
        <div class="col-xs-12">
          <table class="table table-bordered table-condensed">
            <thead>
              <tr ng-show="resolve()">
                <th colspan="4"><small style="color : red;"><b>{{'DISTRIBUTION.EMPTY_MESSAGE' | translate}}</b></small></th>
              </tr>
              <tr>
                <th>{{ "COLUMNS.CODE_ITEM" | translate }}</th>
                <th>{{ "COLUMNS.DESCRIPTION" | translate }}</th>
                <th>{{ "COLUMNS.LOT" | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in selectedSale.sale_items">
                <td>{{item.code}}</td>
                <td>{{item.text}}</td>
                <td>
                  <!--select
                    required
                    class="form-bhima"
                    name="lotname"
                    id="lotID"
                    ng-model="item.tracking_number"
                  >
                  <option ng-repeat="lot in item.lots" value='{{lot.tracking_number}}' ng-selected="{{lot.setted==true}}">{{lot.tracking_number}} - {{lot.expiration_date | date}} - {{lot.quantity}}<input type"checkbox"/></option>
                  </select-->

                  <div id="checkboxlistID" style="border:0px; background-color:#fff; color:#000; width:100%; height: 80px; overflow-y: scroll;">
                    <div ng-repeat="lot in item.lots">
                      <label>
                      <input type="checkbox" ng-model="lot.setted" ng-change="checkStockAvailability(lot)"/>
                        <span>{{lot.tracking_number}} - {{lot.expiration_date | date}} - {{lot.quantity}}</span>
                      </label>
                    </div>
                  </div>

                  <!--div class="col-xs-12"  >

                    <button class="btn btn-sm btn-primary dropdown-toggle">
                      {{ item.lots[0].tracking_number || "S" | translate }}
                      <span class="caret" data-caret="&#9660;"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li ng-repeat="lot in item.lots">
                        <label>
                          <input type="checkbox" ng-model="lot.isSelected">
                            <span>{{lot.tracking_number}} - {{lot.expiration_date | date}} - {{lot.quantity}}</span>
                        </label>
                      </li>
                    </ul>
                  </div-->
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>

<footer>
  <div class="pull-right">
    <a ng-disabled="verifySubmission()" ng-click="submit()" class="btn btn-default"><span class="glyphicon glyphicon-floppy-open"></span> {{ "DISTRIBUTION.SUBMIT" | translate }}</a>
  </div>
</footer>
