<!-- leverage a form to get a loading indicator on the button -->
<form name="ConfirmModalForm" ng-submit="ConfirmModalCtrl.submit()" data-confirm-modal bh-form-defaults novalidate>
  <div class="modal-header">
    <h4>{{ "FORM.LABELS.CONFIRMATION" | translate }}</h4>
  </div>

  <div class="modal-body">

    <!-- Error alert in case the server sends back an error -->
    <div ng-show="ConfirmModalCtrl.error">
      <uib-alert type="danger">
        {{ ConfirmModalCtrl.error | translate }}
      </uib-alert>
    </div>

    <!-- translatable prompt -->
    <p class="text-left">
      <span class="glyphicon glyphicon-info-sign text-primary"></span>
      {{ (ConfirmModalCtrl.prompt || 'FORM.DIALOGS.CONFIRM_DELETE') | translate }}
    </p>
  </div>

  <div class="modal-footer">
    <button class="btn btn-default" id="confirm_modal" type="submit" data-method="submit">
      {{ "FORM.BUTTONS.CONFIRM" | translate }}
    </button>

    <button type="button" class="btn btn-default" id="dismiss_modal" ng-click="ConfirmModalCtrl.dismiss()" data-model-cancel>
      {{ "FORM.BUTTONS.CANCEL" | translate }}
    </button>
  </div>
</form>
