<form name="ConfirmModalForm" bh-submit="ConfirmModalCtrl.submit()" data-confirm-modal bh-form-defaults novalidate>
  <div class="modal-header">
    <h4><i class="fa fa-warning text-warning"></i> {{ "FORM.DIALOGS.CONFIRM_MODAL" | translate }}</h4>
  </div>

  <div class="modal-body">
    <dl>
      <dt>{{ ::"FORM.DIALOGS.WARNING" | translate }}</dt>
      <dd>{{ ::ConfirmModalCtrl.prompt | translate }}</dd>
    </dl>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="ConfirmModalCtrl.dismiss()" data-method="cancel">
      {{ "FORM.BUTTONS.CANCEL" | translate }}
    </button>

    <bh-loading-button
      loading-state="ConfirmModalForm.$loading"
      button-class="btn-warning">
      {{ "FORM.BUTTONS.CONFIRM" | translate }}
    </bh-loading-button>
  </div>
</form>
