<div class="panel panel-default">
  <div class="panel-heading">
    <i class="glyphicon glyphicon-search"></i>
    <h3>{{ 'VOUCHERS.COMPLEX.ENTITY' | translate }}</h3>
  </div>

  <div class="panel-body">
    <!-- type  -->
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">{{ 'VOUCHERS.COMPLEX.TYPE' | translate }}</span>
        <select class="form-control">
          <option value="D"><b>D</b> {{ 'VOUCHERS.COMPLEX.DEBTOR' | translate }}</option>
          <option value="C"><b>D</b> {{ 'VOUCHERS.COMPLEX.CREDITOR' | translate }}</option>
        </select>
      </div>
    </div>

    <!-- entity  -->
    <div class="form-group">
      <div class="">

      </div>
    </div>
  </div>
</div>
