<div class="modal-header">
  <div class="bhima-title" style="height: 35px;">
    <ol class="headercrumb">
      <li ng-class="{ 'static' : $ctrl.documentTypeSelected, 'title' : !$ctrl.documentTypeSelected }" translate>
        VOUCHERS.COMPLEX.REFERENCE
      </li>
      <li class="title" ng-if="$ctrl.documentTypeSelected">
        <span translate>{{ $ctrl.documentTypeLabel }}</span>
        <b class="label label-primary" ng-show="$ctrl.selectedEntity">{{ ::$ctrl.selectedEntity.label }}</b>
      </li>
    </ol>
    <div class="toolbar">
      <div class="toolbar-item">
        <button type="button"
          ng-click="$ctrl.toggleFilter()"
          class="btn btn-default"
          ng-class="{ 'btn-info' : $ctrl.filterEnabled }">
          <span class="fa fa-filter"></span>
        </button>

        <button type="button"
          ng-click="$ctrl.refresh()"
          class="btn btn-default">
          <span class="fa fa-refresh"></span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal-body clearfix">

  <!-- select document type  -->
  <div ng-hide="$ctrl.documentTypeSelected">
    <p class="text-center"><em translate>VOUCHERS.COMPLEX.SELECT_DOCUMENT_TYPE</em></p>

    <div class="btn-group btn-group-justified">
      <div class="btn-group">
        <button
          class="text-center btn btn-primary btn-lg"
          data-button-patient-invoice
          ng-click="$ctrl.selectDocType('patient_invoice')">
          <h2 class="glyphicon glyphicon-list-alt"></h2> <br>
          <span translate>VOUCHERS.COMPLEX.PATIENT_INVOICE</span>
        </button>
      </div>

      <div class="btn-group">
        <button
          class="text-center btn btn-primary btn-lg"
          ng-click="$ctrl.selectDocType('cash_payment')"
          data-button-cash-payment>
          <h2 class="glyphicon glyphicon-list-alt"></h2> <br>
          <span translate>VOUCHERS.COMPLEX.CASH_PAYMENT</span>
        </button>
      </div>

      <div class="btn-group">
        <button
          class="text-center btn btn-primary btn-lg"
          ng-click="$ctrl.selectDocType('voucher')"
          data-button-voucher>
          <h2 class="glyphicon glyphicon-list-alt"></h2> <br>
          <span translate>VOUCHERS.COMPLEX.VOUCHER</span>
        </button>
      </div>
    </div>
  </div>

  <!-- select references  -->
  <div class="row" ng-show="$ctrl.documentTypeSelected">
    <div class="col-xs-12">
      <div
        id="referenceGrid"
        class="journalGrid"
        ui-grid="$ctrl.gridOptions"
        ui-grid-auto-resize
        ui-grid-resize-columns
        ui-grid-selection>
      </div>
      <bh-grid-loading-indicator
        loading-state="$ctrl.loading"
        empty-state="$ctrl.gridOptions.data.length === 0"
        error-state="$ctrl.hasError">
      </bh-grid-loading-indicator>
    </div>
  </div>
</div>

<div class="modal-footer text-right" data-reference-modal>
  <button
    type="button"
    class="btn btn-default"
    ng-click="$ctrl.cancel()"
    data-method="cancel">
    <span translate>FORM.BUTTONS.CANCEL</span>
  </button>

  <button
    type="submit"
    class="btn btn-primary"
    ng-show="$ctrl.documentTypeSelected"
    ng-click="$ctrl.submit()"
    data-method="submit">
    <span translate>FORM.BUTTONS.SUBMIT</span>
  </button>
</div>
