<ng-form
  name="EntityForm"
  data-modal="entity"
  bh-form-defaults
  novalidate>

  <div class="modal-header">
    <h4>
      <span class="glyphicon glyphicon-search"></span>
      {{ 'VOUCHERS.COMPLEX.ENTITY' | translate }}

      <span
        ng-show="$ctrl.result.uuid"
        ng-click="$ctrl.refresh()"
        class="btn btn-default btn-sm pull-right">
        <span class="glyphicon glyphicon-refresh"></span>
      </span>
    </h4>
  </div>

  <div class="modal-body">

    <div class="form-group">
      <div ng-if="!$ctrl.result.uuid" class="input-group">

        <!-- dropdown button -->
        <div class="input-group-btn" uib-dropdown tabindex=-1 data-dropdown-target="entity">
          <button class="btn btn-default" type="button" uib-dropdown-toggle>
            {{ $ctrl.selectedTypeLabel | translate }} <span class="caret"></span>
          </button>
          <ul uib-dropdown-menu>
            <li ng-repeat="type in $ctrl.types">
              <a href ng-click="$ctrl.setType(type)">
                {{ type.label | translate }}
              </a>
            </li>
          </ul>
        </div>
        <!-- /dropdown button -->

        <ui-select
          name="text"
          ng-model="$ctrl.entity"
          on-select="$ctrl.selectEntity($item)"
          theme="bootstrap"
          required>
          <ui-select-match placeholder="{{ $ctrl.placeholder | translate }}...">
            <span>{{$select.selected.text}}</span>
          </ui-select-match>
          <ui-select-choices ui-select-focus-patch repeat="entity as entity in $ctrl.entities | filter:$select.search">
            <strong ng-bind-html="entity.text | highlight:$select.search"></strong>
          </ui-select-choices>
        </ui-select>

      </div>

      <div ng-show="$ctrl.result.uuid" class="bg-success">
        <h4 class="text-center text-success" style="padding:10px; margin:0px;">
          <span class="glyphicon glyphicon-user"></span>
          {{ $ctrl.result.label }}
        </h4>
      </div>
    </div>
  </div>

  <div class="modal-footer text-right">
    <button
      type="button"
      class="btn btn-default"
      ng-click="$ctrl.cancel()"
      data-method="cancel">
      {{ 'FORM.BUTTONS.CANCEL' | translate }}
    </button>

    <button
      type="submit"
      class="btn btn-primary"
      ng-click="$ctrl.submit()"
      data-method="submit">
      {{ 'FORM.BUTTONS.SUBMIT' | translate }}
    </button>
  </div>
</ng-form>
