<ng-form name="LocationModalForm" data-location-modal bh-form-defaults novalidate>
  <div class="modal-header">
    <h4>{{ "FORM.LABELS.CONFIRMATION" | translate }}</h4>
  </div>

  <div class="modal-body">

    <div class="row text-center">
      <div class="btn-group">
        <button
          ng-repeat="(key, view) in LocationModalCtrl.views track by $index"
          type="button"
          class="btn btn-default"
          ng-class="{ 'active' : LocationModalCtrl.view.index === view.index }"
          ng-click="LocationModalCtrl.setView(view.cacheKey)"
          data-location-view-key="{{ key }}"
          >
          {{ view.translateKey | translate }}
        </button>
      </div>
    </div>

    <div class="form-group"
      ng-class="{ 'has-error' : LocationModalForm.$submitted && LocationModalForm.country.$invalid }"
      >
      <label class="control-label">
        {{ "FORM.LABELS.COUNTRY" | translate }}
      </label>
      <select
        ng-if="LocationModalCtrl.view.index > 1"
        class="form-control"
        name="country"
        ng-model="LocationModalCtrl.country"
        ng-change="LocationModalCtrl.loadProvinces()"
        ng-options="country as country.name for country in LocationModalCtrl.countries track by country.uuid"
        required
        >
        <option value="" disabled>{{ LocationModalCtrl.messages.country | translate }}</option>
      </select>
      <input
        ng-if="LocationModalCtrl.view.index === 1"
        class="form-control"
        name="country"
        ng-model="LocationModalCtrl.country"
        placeholder="{{ 'FORM.PLACEHOLDERS.COUNTRY' | translate }}"
        required>
    </div>

    <div class="form-group"
      ng-class="{ 'has-error' : LocationModalForm.$submitted && LocationModalForm.province.$invalid }"
      ng-if="LocationModalCtrl.view.index > 1"
      >
      <label class="control-label">
        {{ "FORM.LABELS.PROVINCE" | translate }}
      </label>
      <select
        ng-if="LocationModalCtrl.view.index > 2"
        class="form-control"
        name="province"
        ng-model="LocationModalCtrl.province"
        ng-options="province as province.name for province in LocationModalCtrl.provinces track by province.uuid"
        ng-change="LocationModalCtrl.loadSectors()"
        required>
        <option value="" disabled>{{ LocationModalCtrl.messages.province | translate }}</option>
      </select>

      <input
        ng-if="LocationModalCtrl.view.index === 2"
        class="form-control"
        name="province"
        ng-model="LocationModalCtrl.province"
        placeholder="{{ 'FORM.PLACEHOLDERS.PROVINCE' | translate }}"
        required>
    </div>

    <div class="form-group"
      ng-if="LocationModalCtrl.view.index > 2"
      ng-class="{ 'has-error' : LocationModalForm.$submitted && LocationModalForm.sector.$invalid }"
      >
      <label class="control-label">
        {{ "FORM.LABELS.SECTOR" | translate }}
      </label>
      <select
        ng-if="LocationModalCtrl.view.index > 3"
        class="form-control"
        name="sector"
        ng-model="LocationModalCtrl.sector"
        ng-options="sector as sector.name for sector in LocationModalCtrl.sectors track by sector.uuid"
        required>
        <option value="" disabled>{{ LocationModalCtrl.messages.sector | translate }}</option>
      </select>
      <input
        ng-if="LocationModalCtrl.view.index === 3"
        name="sector"
        class="form-control"
        ng-model="LocationModalCtrl.sector"
        placeholder="{{ 'FORM.PLACEHOLDERS.SECTOR' | translate }}"
        required>
    </div>

    <div class="form-group"
      ng-if="LocationModalCtrl.view.index > 3"
      ng-class="{ 'has-error' : LocationModalForm.$submitted && LocationModalForm.village.$invalid }"
      >
      <label class="control-label">
        {{ "FORM.LABELS.VILLAGE" | translate }}
      </label>
      <input
        class="form-control"
        name="village"
        ng-model="LocationModalCtrl.village"
        placeholder="{{ 'FORM.PLACEHOLDERS.VILLAGE' | translate }}"
        required>
    </div>

    <p class="text-danger" ng-show="LocationModalForm.$submitted && LocationModalForm.$invalid">
      <span class="glyphicon glyphicon-exclamation-sign"></span>
      {{ "FORM.ERRORS.GENERIC" | translate }}
    </p>
  </div>


  <div class="modal-footer">
    <!-- @todo - why does this not set the submitted state automatically? -->
    <button
      type="submit"
      class="btn btn-primary"
      ng-click="LocationModalCtrl.submit(LocationModalForm.$invalid); LocationModalForm.$setSubmitted();">
      {{ "FORM.BUTTONS.SUBMIT" | translate }}
    </button>
    <button type="button" ng-click="LocationModalCtrl.dismiss()" class="btn btn-default">
      {{ "FORM.BUTTONS.CANCEL" | translate }}
    </button>
  </div>
</ng-form>
