<div class="modal-body bh-print">
  <!-- enterprise header  -->
  <div class="row">
    <div class="col-xs-6 text-left">
      <h3><b>{{ $ctrl.enterprise.name | uppercase }}</b></h3>
      <h4>{{ $ctrl.project.name }}</h4>
      <small>{{ 'FORM.LABELS.PHONE' | translate }}: {{ $ctrl.enterprise.phone }}</small><br>
      <small>{{ 'FORM.LABELS.EMAIL' | translate }}: {{ $ctrl.enterprise.email }}</small><br>
      <hr>
    </div>
  </div>

  <!-- document  -->
  <div>

    <!-- document title  -->
    <h2 class="text-center"><b>{{ $ctrl.dataTitle | translate | uppercase }}</b></h2>

    <table style="margin-top:50px;" class="table">
      <thead>
        <tr>
          <th>{{ $ctrl.dataHeaders.code }}</th>
          <th>{{ $ctrl.dataHeaders.consumable }}</th>
          <th>{{ $ctrl.dataHeaders.groupName }}</th>
          <th>{{ $ctrl.dataHeaders.label }}</th>
          <th>{{ $ctrl.dataHeaders.price }}</th>
          <th>{{ $ctrl.dataHeaders.unit }}</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="row in $ctrl.dataRows">
          <td>{{ row.code }}</td>
          <td>{{ row.consumable }}</td>
          <td>{{ row.groupName }}</td>
          <td>{{ row.label }}</td>
          <td>{{ row.price }}</td>
          <td>{{ row.unit }}</td>
        </tr>
      </tbody>
    </table>

  </div>

</div>

<div class="modal-footer">
  <button
    type="button"
    class="btn btn-default"
    ng-click="$ctrl.cancel()">
    {{ "FORM.BUTTONS.CANCEL" | translate }}
  </button>
  <button
    type="button"
    class="btn btn-primary"
    ng-click="$ctrl.print()">
    {{ "FORM.BUTTONS.PRINT" | translate }}
  </button>
</div>
