<div class="flex-header">
  <div class="bhima-title">
    <ol class="headercrumb">
      <li class="static text-uppercase" translate>HOME.BHIMA</li>
      <li class="static"><a ui-sref="index">{{ LandingCtrl.enterprise.name }}</a></li>
      <li class="title" translate>HOME.DETAILS</li>
    </ol>
  </div>
</div>

<div class="flex-content">
  <div class="container-fluid">
    <!-- @TODO investigate chart js issues for rendering debtors graph -->
    <!-- <div class="row"> -->
        <!-- <div ui-view="debtors"></div> -->
    <!-- </div> -->
    <div class="row">
      <div ui-view="invoices"></div>
    </div>
    <div class="row">
      <div ui-view="patients"></div>
    </div>
  </div>
</div>
