<div class="flex-header">
  <div class="bhima-title">
    <ol class="headercrumb">
      <li class="static" style="text-transform : uppercase">{{ "HOME.BHIMA" | translate }}</li>
      <li class="title">{{ HomeCtrl.enterprise.name }}</li>
    </ol>
  </div>
</div>

<div class="flex-content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">

        <div class="panel panel-default segment">
          <div class="panel-body text-center">
            <div class="ui ima-blue statistic">
              <div class="value">
                {{ HomeCtrl.enterprise.name }}
              </div>
              <div class="uilabel">
                <i class="fa fa-user"></i> {{ 'HOME.CONNECTED_USER' | translate }}: {{ HomeCtrl.user.display_name }} 
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-md-4">

        <div class="panel panel-default segment">
          <div class="panel-body text-center">
            <div class="segment-title">{{ "FORM.LABELS.PROJECT" | translate }}</div>
            <div class="ui huge ima-blue statistic">
              <div class="value">
                {{HomeCtrl.project.abbr}}
              </div>
              <div class="uilabel">
                {{HomeCtrl.project.name}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">

        <div class="panel panel-default segment">
          <div class="panel-body text-center">
            <div class="segment-title">{{ "EXCHANGE.ENTERPRISE_CURRENCY" | translate }}</div>
            <div class="ui huge ima-blue statistic">
              <div class="value">{{ HomeCtrl.enterprise.currencySymbol }}</div>
              <div class="uilabel">{{ HomeCtrl.enterprise.currencyLabel }}</div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">

        <div class="panel panel-default segment">
          <div class="panel-body text-center">
            <div class="segment-title">{{ "TABLE.COLUMNS.EXCHANGE_RATE" | translate }}</div>
            <div class="ui huge ima-blue statistic">
              <div class="value">{{ HomeCtrl.primaryExchange.rate}}({{ HomeCtrl.primaryExchange.symbol }})</div>
              <div class="uilabel">{{ "HOME.EXCHANGE_SET" | translate }} {{ HomeCtrl.primaryExchange.formattedDate }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default segment">
          <div class="panel-body">
            <div class="segment-title">{{ "FISCAL.FISCAL_YEAR" | translate }}</div>

            <div style="margin-top : 12px">
            <div class="progress" style="margin-bottom:0px;">
              <div class="ima-blue progress-bar" role="progressbar" style="width:{{HomeCtrl.year.percentage}}%;">
                {{ HomeCtrl.today | date }}
              </div>
            </div>

            <!-- Ensure column padding is appropriate -->
            <div class="row">
              <div class="col-xs-6">
                {{ HomeCtrl.year.start_date | date }}
              </div>
              <div class="col-xs-6 text-right">
                {{ HomeCtrl.year.end_date | date }}
              </div>
            </div>
            </div>


          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div ui-view="debtors"></div>
      </div>

      <div class="col-md-6">
        <div ui-view="invoices"></div>
        <div ui-view="patients"></div>
      </div>
    </div>
  </div>
</div>
