<!-- breadcrumb header -->
<bh-breadcrumb
  path="InventoryCtrl.bcPaths"
  button="InventoryCtrl.bcButtons">
</bh-breadcrumb>

<div class="flex-content">
  <div class="container">

    <!-- inventory groups  -->
    <div ui-view="groups"></div>

    <div class="row">
      <!-- inventory types  -->
      <div class="col-md-6 col-xs-12">
        <div ui-view="types"></div>
      </div>

      <!-- inventory units  -->
      <div class="col-md-6 col-xs-12">
        <div ui-view="units"></div>
      </div>
    </div>

  </div>
</div>
