<div class="panel panel-default segment">
    <div class="panel-heading">
        {{ "PATIENT_INVOICE.PAGE_TITLE" | translate }} 
        <label style="padding-left: 5px; padding-right: 5px;" class="bg-ima-blue text-uppercase pull-right">{{ InvoiceCtrl.stats.date | date: 'MMMM' }}</label>
    </div>

    <div class="ui three statistics panel-body text-center">
        <div class="ui ima-blue statistic">
            <div class="uilabel">{{ 'PATIENT_INVOICE.STAT_TOTAL_INVOICE' | translate }}</div>
            <div class="value">{{ InvoiceCtrl.stats.total }}</div>
            <div class="uilabel">{{ InvoiceCtrl.stats.total_cost || 0 | currency:InvoiceCtrl.enterprise.currency_id }}</div>
        </div>
        <div class="ui ima-blue statistic">
            <div class="uilabel">{{ 'PATIENT_INVOICE.STAT_PAID' | translate }}</div>
            <div class="value">{{ InvoiceCtrl.stats.invoice_paid + InvoiceCtrl.stats.invoice_partial }}</div>
            <div class="uilabel">{{ InvoiceCtrl.stats.invoice_paid_amount + InvoiceCtrl.stats.invoice_partial_amount || 0 | currency:InvoiceCtrl.enterprise.currency_id }}</div>
        </div>
        <div class="ui ima-blue statistic">
            <div class="uilabel">{{ 'PATIENT_INVOICE.STAT_NOT_PAID' | translate }}</div>
            <div class="value">{{ InvoiceCtrl.stats.invoice_unpaid }}</div>
            <div class="uilabel">{{ InvoiceCtrl.stats.invoice_unpaid_amount || 0 | currency:InvoiceCtrl.enterprise.currency_id }}</div>
        </div>
    </div>
</div>