.document {
  border: 1px solid #ddd;
  padding: 5px;
  margin-bottom: 15px;
  cursor: pointer;
}
.document:hover {
  background-color: #eee;
}
.document h4 {
  margin: 2px;
}
.document-actions {
  text-align: center;
  width: 100%;
  margin: auto;
  margin-top: 5px;
}
.document .crop {
  width: 100%;
  height: 150px;
  overflow: hidden;
}
.document .crop img.document-thumbnail {
  display: block;
  width: 100%;
  margin: auto;
  margin-bottom: 5px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  margin-top: 0;
  -webkit-transition: margin-top 1s;
  transition: margin-top 1s;
}
.document:hover .crop img.document-thumbnail {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  margin-top: -25px;
}
.document .crop .document-icon {
  text-align: center;
  font-size: 10rem;
  color: #337ab7;
}
.patient-document .pd-patient {
  padding: 7px;
  margin-bottom: 5px;
  border: 1px solid green;
  color: green;
  background-color: #e4f9ec;
}
.patient-document .pd-search {
  margin-bottom: 5px;
}

/* patient document heading */
.patient-document .pd-documents .heading {
  display: flex;
  justify-content: space-between;
  background-color: #337ab7;
  color: #fff;
  padding: 5px;
  margin-bottom: 5px;
}
.patient-document .pd-documents .heading > .left {
  margin: 5px 10px;
}

/* patient list thumbanil */
.patient-document .display-thumbnail {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.patient-document .display-thumbnail > .document {
  width: 50%;
}

/* document upload thumbnail */
.document-upload-thumbnail {
  width: 100%;
}
