#balance-mensuelle hr { display: none; }
.balance-mensuelle-footer { font-weight: bold; }
.balance-mensuelle-footer th,
.balance-mensuelle-footer td { background-color: #eee; border: 1px solid #9F9F9F; }
