<div class="ui-grid-cell-contents">
  <select name="asset-condition" id="asset-condition" ng-model="row.entity.condition_id">
    <option value="" disabled translate>ASSET.SELECT_CONDITION</option>
    <option ng-value="1" translate>ASSET.CONDITION.NEW</option>
    <option ng-value="2" translate>ASSET.CONDITION.GOOD</option>
    <option ng-value="3" translate>ASSET.CONDITION.FAIR</option>
    <option ng-value="4" translate>ASSET.CONDITION.POOR</option>
    <option ng-value="5" translate>ASSET.CONDITION.BROKEN</option>
    <option ng-value="6" translate>ASSET.CONDITION.OBSOLETE</option>
    <option ng-value="7" translate>ASSET.CONDITION.DISCARDED</option>
    <option ng-value="8" translate>ASSET.CONDITION.SOLD</option>
    <option ng-value="9" translate>ASSET.CONDITION.LOST</option>
  </select>
</div>