<div class="flex-header">
  <div class="bhima-title">
    <ol class="headercrumb">
      <li class="static">{{ "TREE.ADMIN" | translate }}</li>
      <li class="active">{{ "EMPLOYEE.TITLE" | translate }}</li>
    </ol>
  </div>
</div>

<div class="flex-util">
  <button class="btn btn-sm btn-default" id="create" ng-click="EmployeeCtrl.create()" data-method="create">
    <span class="glyphicon glyphicon-plus-sign"></span> {{ "EMPLOYEE.REGISTER" | translate }}
  </button>
</div>

<div class="flex-content">
  <div class="container-fluid">
    <div class="row">

      <div class="col-xs-6">
        <div class="panel panel-default" style="overflow: auto; max-height: 500px;">
          <div class="panel-heading">
            {{ "EMPLOYEE.EMPLOYEES" | translate }}
          </div>

          <div class="input-group input-group-sm search-employees">
            <input
              class="form-control"
              placeholder="{{ 'UTIL.SEARCH_EMPLOYEE' | translate }}..."
              ng-model="searchEmployee">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-search"></i>
            </span>
          </div>          
          
          <table class="table table-condensed">
            <thead>
              <tr>
                <th>{{ "COLUMNS.CODE" | translate }}</th>
                <th>
                  {{ "COLUMNS.FIRST_NAME" | translate }},
                  {{ "COLUMNS.NAME" | translate }} -
                  {{ "COLUMNS.LAST_NAME" | translate }}
                </th>
                <th>{{ "COLUMNS.FUNCTION" | translate }}</th>
                <th>{{ "COLUMNS.GRADE" | translate }}</th>
                <th><i class="glyphicon glyphicon-lock"></i></th>
                <th>{{ "COLUMNS.ACTIONS" | translate }}
              </tr>
            </thead>
            <tbody>
              <tr ng-if="EmployeeCtrl.session.loading" class="text-center">
                <td colspan="6"><loading-indicator></loading-indicator></td>
              </tr>

              <tr ng-if="!EmployeeCtrl.session.loading && EmployeeCtrl.employees.data.length === 0">
                <td colspan="6">
                  <div class="alert alert-warning">
                    <i class="glyphicon glyphicon-inbox"></i> {{ 'EMPLOYEE.NONE_FOUND' | translate }}
                  </div>
                </td>
              </tr>

              <tr ng-repeat="item in EmployeeCtrl.employees | orderBy:'name' | filter: searchEmployee"
                ng-class="{'rowSelected' : EmployeeCtrl.session.employees.id === item.id}">
                <td>
                  <i ng-if="!item.code_employees" class="glyphicon glyphicon-minus-sign"></i> {{ item.code_employees }}
                </td>
                <td>{{ item.prenom }}<span ng-if="item.prenom && item.name">,</span> {{ item.name }} <span ng-if="item.name && item.postnom"> - </span> {{ item.postnom }}</td>
                <td>{{ item.fonction_txt }}</td>
                <td>{{ item.code_grade }}</td>
                <td><i class="glyphicon glyphicon-ok" ng-if="!!item.locked"></i></td>
                <td><a ng-click="EmployeeCtrl.update(item)"> <i class="glyphicon glyphicon-circle-arrow-right"></i></a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-xs-6" ng-switch="EmployeeCtrl.view">
        <div ng-switch-default>
          <div class="alert alert-info" id="default">
            <h4>{{ 'EMPLOYEE.TITLE' | translate }}</h4>
            <p>{{ 'EMPLOYEE.INFO' | translate }}</p>         
          </div>
        </div>

        <div ng-switch-when="create_success">
          <div class="alert alert-success" id="create_success">
            <h4>{{ 'SERVICE.SAVE_SUCCES' | translate }} </h4>
            </p>
          </div>
        </div>

        <div ng-switch-when="update_success">
          <div class="alert alert-success" id="update_success">
            <h4>{{ 'SERVICE.UPDATE_SUCCES' | translate }} </h4>
            </p>
          </div>
        </div>

        <div ng-switch-when="delete_success">
          <div class="alert alert-success" id="delete_success">
            <h4>{{ 'SERVICE.DELETE_SUCCESS' | translate }} </h4>
            </p>
          </div>
        </div>

        <div ng-switch-when="delete_error">
          <div class="alert alert-danger" id="delete_error">
            <h4>{{ EmployeeCtrl.HTTPError.data.code | translate }} </h4>
            </p>
          </div>
        </div>

        <div class="panel panel-primary" ng-switch-when="create">
          <div class="panel-heading">{{ 'EMPLOYEE.REGISTRATION_FORM' | translate }}</div>
          <div class="panel-body">
            <form class="panel-body" name="CreateForm" ng-submit="EmployeeCtrl.submit(CreateForm.$invalid)" novalidate>

              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.prenom.$invalid }">
                <label class="control-label" for="bhima-employee-prenom">{{ 'EMPLOYEE.FIRST_NAME' | translate }}</label>
                <div>
                  <input type="text" class="form-control" name="prenom" id="bhima-employee-prenom" ng-model="EmployeeCtrl.employee.prenom" required>
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.name.$invalid }">
                <label class="control-label" for="bhima-employee-prenom">{{ 'EMPLOYEE.NAME' | translate }}</label>
                <div>
                  <input type="text" class="form-control" name="name" id="bhima-employee-name" ng-model="EmployeeCtrl.employee.name" required>
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.postnom.$invalid }">
                <label class="control-label" for="bhima-employee-prenom">{{ 'EMPLOYEE.LAST_NAME' | translate }}</label>
                <div>
                  <input type="text" class="form-control" name="postnom" id="bhima-employee-postnom" ng-model="EmployeeCtrl.employee.postnom" required>
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.dob.$invalid }">
                <label class="control-label" for="bhima-employee-dob">{{ 'COLUMNS.DOB' | translate }}</label>
                <div>
                  <input type="date" class="form-control" name="dob" id="bhima-employee-dob" ng-model="EmployeeCtrl.employee.dob" min="{{ EmployeeCtrl.minDOB | date : 'yyyy-MM-dd'}}" max="{{ EmployeeCtrl.maxDOB | date : 'yyyy-MM-dd'}}" required>
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.sexe.$invalid }">
                <label class="control-label">{{ "EMPLOYEE.SEX" | translate }}</label>
                <div>
                  <select class="form-control"name="sexe" ng-model="EmployeeCtrl.employee.sexe" id="bhima-employee-sexe" required>
                    <option value="" disabled="disabled">-- {{ "SELECT.EMPLOYEE_SEX" | translate }} --</option>
                    <option>M</option>
                    <option>F</option>
                  </select>
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.nb_spouse.$invalid }">
                <label class="control-label" for="bhima-employee-nb_spouse">{{ 'EMPLOYEE.NB_SPOUSE' | translate }}</label>
                <div>
                  <input type="number" class="form-control" name="nb_spouse" min="0" id="bhima-employee-dob" ng-model="EmployeeCtrl.employee.nb_spouse">
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.nb_enfant.$invalid }">
                <label class="control-label" for="bhima-employee-nb_enfant">{{ 'EMPLOYEE.NB_CHILDREN' | translate }}</label>
                <div>
                  <input type="number" class="form-control" name="nb_enfant" min="0" id="bhima-employee-nb_enfant" ng-model="EmployeeCtrl.employee.nb_enfant">
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.locked.$invalid }">
                <label class="control-label" for="bhima-employee-locked">{{ 'EMPLOYEE.LOCKED' | translate }}</label>
                <div>
                  <input type="checkbox" class="form-control" name="locked" id="bhima-employee-locked" ng-model="EmployeeCtrl.employee.locked">
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.date_embauche.$invalid }">
                <label class="control-label" for="bhima-employee-date_embauche">{{ 'EMPLOYEE.DATE_EMBAUCHE' | translate }}</label>
                <div>
                  <input type="date" class="form-control" name="date_embauche" id="bhima-employee-date_embauche" ng-model="EmployeeCtrl.employee.date_embauche" required>
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.code.$invalid }">
                <label class="control-label" for="bhima-employee-code">{{ 'COLUMNS.CODE' | translate }}</label>
                <div>
                  <input type="text" class="form-control" name="code" id="bhima-employee-code" ng-model="EmployeeCtrl.employee.code" required>
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.service_id.$invalid }">
                <label class="control-label">{{ "EMPLOYEE.SERVICE" | translate }}</label>
                <div>
                  <select class="form-control" name="service_id" ng-model="EmployeeCtrl.employee.service_id" id="bhima-employee-service_id" ng-options="sv.id as sv.name for sv in EmployeeCtrl.services | orderBy:'name'" required>
                    <option value="" disabled> -- {{ "SELECT.EMPLOYEE_SERVICE" | translate }} -- </option>
                  </select>
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.grade_id.$invalid }">
                <label class="control-label">{{ "EMPLOYEE.GRADE" | translate }}</label>
                <div>
                  <select class="form-control" name="grade_id" ng-model="EmployeeCtrl.employee.grade_id" id="bhima-employee-grade_id" ng-options="g.uuid as g.format for g in EmployeeCtrl.grades | orderBy:'text'" required>
                    <option value="" disabled> -- {{ "SELECT.EMPLOYEE_GRADE" | translate }} -- </option>
                  </select>
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.fonction_id.$invalid }">
                <label class="control-label">{{ "EMPLOYEE.FUNCTION" | translate }}</label>
                <div>
                  <select class="form-control" name="fonction_id" ng-model="EmployeeCtrl.employee.fonction_id" id="bhima-employee-fonction_id" ng-options="f.id as f.fonction_txt for f in EmployeeCtrl.functions | orderBy:'fonction_txt'" required>
                    <option value="" disabled> -- {{ "SELECT.EMPLOYEE_FUNCTION" | translate }} -- </option>
                  </select>
                </div>
              </div>
              
              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.creditor_group_uuid.$invalid }">
                <label class="control-label">{{ "EMPLOYEE.CREDITOR_GROUP" | translate }}</label>
                <div>
                  <select class="form-control" name="creditor_group_uuid" ng-model="EmployeeCtrl.employee.creditor_group_uuid" id="bhima-employee-creditor_group_uuid" ng-options="cg.uuid as cg.name for cg in EmployeeCtrl.creditorGroups | orderBy:'name'" required>
                    <option value="" disabled> -- {{ "SELECT.CREDITOR_GROUP" | translate }} -- </option>
                  </select>
                </div>
              </div>
              
              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.debitor_group_uuid.$invalid }">
                <label class="control-label">{{ "EMPLOYEE.DEBITOR_GROUP" | translate }}</label>
                <div>
                  <select class="form-control" name="debitor_group_uuid" ng-model="EmployeeCtrl.employee.debitor_group_uuid" id="bhima-employee-debitor_group_uuid" ng-options="dg.uuid as dg.name for dg in EmployeeCtrl.debitorGroups | orderBy:'name'" required>
                    <option value="" disabled> -- {{ "SELECT.DEBITOR_GROUP" | translate }} -- </option>
                  </select>
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.phone.$invalid }">
                <label class="control-label" for="bhima-employee-phone">{{ "EMPLOYEE.PHONE" | translate }}</label>
                <div>
                  <input type="phone" class="form-control" name="phone" id="bhima-employee-phone" ng-model="EmployeeCtrl.employee.phone">
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.email.$invalid }">
                <label class="control-label" for="bhima-employee-email">{{ "EMPLOYEE.EMAIL" | translate }}</label>
                <div>
                  <input type="email" class="form-control" name="email" id="bhima-employee-email" ng-model="EmployeeCtrl.employee.email">
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.adresse.$invalid }">
                <label class="control-label" for="bhima-employee-adresse">{{ "EMPLOYEE.ADDRESS" | translate }}</label>
                <div>
                  <input type="adresse" class="form-control" name="adresse" id="bhima-employee-adresse" ng-model="EmployeeCtrl.employee.adresse" required >
                </div>
              </div>

              <bh-location-select
                validation-trigger="CreateForm.$submitted"
                location-uuid="EmployeeCtrl.employee.location_id">
              </bh-location-select>

              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.bank.$invalid }">
                <label class="control-label" for="bhima-employee-bank">{{ "EMPLOYEE.BANK" | translate }}</label>
                <div>
                  <input type="text" class="form-control" name="bank" id="bhima-employee-bank" ng-model="EmployeeCtrl.employee.bank">
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.bank_account.$invalid }">
                <label class="control-label" for="bhima-employee-bank_account">{{ "EMPLOYEE.BANK_ACCOUNT" | translate }}</label>
                <div>
                  <input type="text" class="form-control" name="bank_account" id="bhima-employee-bank_account" ng-model="EmployeeCtrl.employee.bank_account">
                </div>
              </div>

              <div class="form-group">
                <button class="btn btn-default" id="submit-employee" type="submit" data-method="submit">
                  {{ "FORM.SUBMIT" | translate }}
                </button>
                <button class="btn btn-default" type="button" ng-click="EmployeeCtrl.cancel()" data-method="cancel">
                  {{ "FORM.CANCEL" | translate }}
                </button>
              </div>
            </form>
          </div>        
        </div>

        <div class="panel panel-primary" ng-switch-when="update">
          <div class="panel-heading">{{ 'SERVICE.EDIT' | translate }}</div>
          <div class="panel-body">
            <form class="panel-body" name="UpdateForm" ng-submit="EmployeeCtrl.submit(UpdateForm.$invalid)" novalidate>

              <div class="form-group" ng-class="{ 'has-error' : UpdateForm.$submitted && UpdateForm.prenom.$invalid }">
                <label class="control-label" for="bhima-employee-prenom">{{ 'EMPLOYEE.FIRST_NAME' | translate }}</label>
                <div>
                  <input type="text" class="form-control" name="prenom" id="bhima-employee-prenom" ng-model="EmployeeCtrl.employee.prenom" required>
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : UpdateForm.$submitted && UpdateForm.name.$invalid }">
                <label class="control-label" for="bhima-employee-prenom">{{ 'EMPLOYEE.NAME' | translate }}</label>
                <div>
                  <input type="text" class="form-control" name="name" id="bhima-employee-name" ng-model="EmployeeCtrl.employee.name" required>
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : UpdateForm.$submitted && UpdateForm.postnom.$invalid }">
                <label class="control-label" for="bhima-employee-prenom">{{ 'EMPLOYEE.LAST_NAME' | translate }}</label>
                <div>
                  <input type="text" class="form-control" name="postnom" id="bhima-employee-postnom" ng-model="EmployeeCtrl.employee.postnom" required>
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : UpdateForm.$submitted && UpdateForm.dob.$invalid }">
                <label class="control-label" for="bhima-employee-dob">{{ 'COLUMNS.DOB' | translate }}</label>
                <div>
                  <input type="date" class="form-control" name="dob" id="bhima-employee-dob" ng-model="EmployeeCtrl.employee.dob" min="{{ EmployeeCtrl.minDOB | date : 'yyyy-MM-dd'}}" max="{{ EmployeeCtrl.maxDOB | date : 'yyyy-MM-dd'}}" required>
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : UpdateForm.$submitted && UpdateForm.sexe.$invalid }">
                <label class="control-label">{{ "EMPLOYEE.SEX" | translate }}</label>
                <div>
                  <select class="form-control"name="sexe" ng-model="EmployeeCtrl.employee.sexe" id="bhima-employee-sexe" required>
                    <option value="" disabled="disabled">-- {{ "SELECT.EMPLOYEE_SEX" | translate }} --</option>
                    <option>M</option>
                    <option>F</option>
                  </select>
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : UpdateForm.$submitted && UpdateForm.nb_spouse.$invalid }">
                <label class="control-label" for="bhima-employee-nb_spouse">{{ 'EMPLOYEE.NB_SPOUSE' | translate }}</label>
                <div>
                  <input type="number" class="form-control" name="nb_spouse" min="0" id="bhima-employee-dob" ng-model="EmployeeCtrl.employee.nb_spouse">
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : UpdateForm.$submitted && UpdateForm.nb_enfant.$invalid }">
                <label class="control-label" for="bhima-employee-nb_enfant">{{ 'EMPLOYEE.NB_CHILDREN' | translate }}</label>
                <div>
                  <input type="number" class="form-control" name="nb_enfant" min="0" id="bhima-employee-nb_enfant" ng-model="EmployeeCtrl.employee.nb_enfant">
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : UpdateForm.$submitted && UpdateForm.locked.$invalid }">
                <label class="control-label" for="bhima-employee-locked">{{ 'EMPLOYEE.LOCKED' | translate }}</label>
                <div>
                  <input type="checkbox" class="form-control" name="locked" id="bhima-employee-locked" ng-model="EmployeeCtrl.employee.locked">
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : UpdateForm.$submitted && UpdateForm.date_embauche.$invalid }">
                <label class="control-label" for="bhima-employee-date_embauche">{{ 'EMPLOYEE.DATE_EMBAUCHE' | translate }}</label>
                <div>
                  <input type="date" class="form-control" name="date_embauche" id="bhima-employee-date_embauche" ng-model="EmployeeCtrl.employee.date_embauche" required>
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : UpdateForm.$submitted && UpdateForm.code.$invalid }">
                <label class="control-label" for="bhima-employee-code">{{ 'COLUMNS.CODE' | translate }}</label>
                <div>
                  <input type="text" class="form-control" name="code" id="bhima-employee-code" ng-model="EmployeeCtrl.employee.code" required>
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : UpdateForm.$submitted && UpdateForm.service_id.$invalid }">
                <label class="control-label">{{ "EMPLOYEE.SERVICE" | translate }}</label>
                <div>
                  <select class="form-control" name="service_id" ng-model="EmployeeCtrl.employee.service_id" id="bhima-employee-service_id" ng-options="sv.id as sv.name for sv in EmployeeCtrl.services | orderBy:'name'" required>
                    <option value="" disabled> -- {{ "SELECT.EMPLOYEE_SERVICE" | translate }} -- </option>
                  </select>
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : UpdateForm.$submitted && UpdateForm.grade_id.$invalid }">
                <label class="control-label">{{ "EMPLOYEE.GRADE" | translate }}</label>
                <div>
                  <select class="form-control" name="grade_id" ng-model="EmployeeCtrl.employee.grade_id" id="bhima-employee-grade_id" ng-options="g.uuid as g.format for g in EmployeeCtrl.grades | orderBy:'text'" required>
                    <option value="" disabled> -- {{ "SELECT.EMPLOYEE_GRADE" | translate }} -- </option>
                  </select>
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : UpdateForm.$submitted && UpdateForm.fonction_id.$invalid }">
                <label class="control-label">{{ "EMPLOYEE.FUNCTION" | translate }}</label>
                <div>
                  <select class="form-control" name="fonction_id" ng-model="EmployeeCtrl.employee.fonction_id" id="bhima-employee-fonction_id" ng-options="sv.id as sv.name for sv in EmployeeCtrl.services | orderBy:'name'" required>
                    <option value="" disabled> -- {{ "SELECT.EMPLOYEE_FUNCTION" | translate }} -- </option>
                  </select>
                </div>
              </div>
              
              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && UpdateForm.creditor_group_uuid.$invalid }">
                <label class="control-label">{{ "EMPLOYEE.CREDITOR_GROUP" | translate }}</label>
                <div>
                  <select class="form-control" name="creditor_group_uuid" ng-model="EmployeeCtrl.employee.creditor_group_uuid" id="bhima-employee-creditor_group_uuid" ng-options="cg.uuid as cg.name for cg in EmployeeCtrl.creditorGroups | orderBy:'name'" required>
                    <option value="" disabled> -- {{ "SELECT.CREDITOR_GROUP" | translate }} -- </option>
                  </select>
                </div>
              </div>
              
              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && UpdateForm.debitor_group_uuid.$invalid }">
                <label class="control-label">{{ "EMPLOYEE.DEBITOR_GROUP" | translate }}</label>
                <div>
                  <select class="form-control" name="debitor_group_uuid" ng-model="EmployeeCtrl.employee.debitor_group_uuid" id="bhima-employee-debitor_group_uuid" ng-options="dg.uuid as dg.name for dg in EmployeeCtrl.debitorGroups | orderBy:'name'" required>
                    <option value="" disabled> -- {{ "SELECT.DEBITOR_GROUP" | translate }} -- </option>
                  </select>
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : UpdateForm.$submitted && UpdateForm.phone.$invalid }">
                <label class="control-label" for="bhima-employee-phone">{{ "EMPLOYEE.PHONE" | translate }}</label>
                <div>
                  <input type="phone" class="form-control" name="phone" id="bhima-employee-phone" ng-model="EmployeeCtrl.employee.phone">
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : UpdateForm.$submitted && UpdateForm.email.$invalid }">
                <label class="control-label" for="bhima-employee-email">{{ "EMPLOYEE.EMAIL" | translate }}</label>
                <div>
                  <input type="email" class="form-control" name="email" id="bhima-employee-email" ng-model="EmployeeCtrl.employee.email">
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : UpdateForm.$submitted && UpdateForm.adresse.$invalid }">
                <label class="control-label" for="bhima-employee-adresse">{{ "EMPLOYEE.ADDRESS" | translate }}</label>
                <div>
                  <input type="adresse" class="form-control" name="adresse" id="bhima-employee-adresse" ng-model="EmployeeCtrl.employee.adresse" required >
                </div>
              </div>

              <bh-location-select
                validation-trigger="CreateForm.$submitted"
                location-uuid="EmployeeCtrl.employee.location_id">
              </bh-location-select>

              <div class="form-group" ng-class="{ 'has-error' : UpdateForm.$submitted && UpdateForm.bank.$invalid }">
                <label class="control-label" for="bhima-employee-bank">{{ "EMPLOYEE.BANK" | translate }}</label>
                <div>
                  <input type="text" class="form-control" name="bank" id="bhima-employee-bank" ng-model="EmployeeCtrl.employee.bank">
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.bank_account.$invalid }">
                <label class="control-label" for="bhima-employee-bank_account">{{ "EMPLOYEE.BANK_ACCOUNT" | translate }}</label>
                <div>
                  <input type="text" class="form-control" name="bank_account" id="bhima-employee-bank_account" ng-model="EmployeeCtrl.employee.bank_account">
                </div>
              </div>

              <div class="form-group">
                  <button class="btn btn-default" id="change_employee" type="submit" data-method="submit">
                    {{ "FORM.SUBMIT" | translate }}
                  </button>
                  <button class="btn btn-default" type="button" ng-click="EmployeeCtrl.cancel()" data-method="cancel">
                    {{ "FORM.CANCEL" | translate }}
                  </button>
              </div>
            </form>
          </div>        
        </div>
      </div>
    </div>
  </div>  
</div>