<div ng-if="!row.groupHeader" class="ui-grid-cell-contents">
  <a id="aggregated_details"
     ng-if="(grid.appScope.stockOut[row.entity.inventory_uuid] > 0) 
      && (!row.entity.detailed && (row.entity.quantity_consumed >= 0 && row.entity.quantity_lost >= 0))
      && !(row.entity.quantity_consumed == 0 && row.entity.quantity_lost == 0)"
    href ng-click="grid.appScope.setConsumptionByLots(row.entity)" data-lots>
    <span ng-hide="row.entity.lots.length">
      <i class="fa fa-sign-out"></i> 
      <span translate>STOCK.AGGREGATED_STOCK_CONSUMPTION.DETAILS</span>
    </span>
  </a>

  <a
    id="aggregated_movements"
    ng-if="(grid.appScope.stockOut[row.entity.inventory_uuid] > 0) && row.entity.detailed"
    href ng-click="grid.appScope.setConsumptionByLots(row.entity)" data-lots>
    <span ng-hide="row.entity.lots.length">
      <i class="fa fa-sign-out"></i> 
      <span translate>STOCK.AGGREGATED_STOCK_CONSUMPTION.AGGREGATED_MOVEMENTS</span>
    </span>
  </a>
</div>
