<form
  name="ModalForm"
  ng-submit="ModalCtrl.submit(ModalForm)"
  data-modal="voucher-search"
  bh-form-defaults
  novalidate>

  <div class="modal-header">
    <ol class="headercrumb">
      <li class="static" translate>TREE.VOUCHER_REGISTRY</li>
      <li class="title" translate>FORM.INFO.SEARCH</li>
    </ol>
  </div>

  <div class="modal-body" style="overflow: auto; max-height: 400px;">

    <bh-date-interval
      validation-trigger="ModalForm.$submitted"
      date-from="ModalCtrl.params.dateFrom"
      date-to="ModalCtrl.params.dateTo"
      mode="clean">
    </bh-date-interval>

    <div class="form-group" ng-class="{ 'has-error' : ModalForm.$submitted && ModalForm.reference.$invalid }">
      <label class="control-label" translate>FORM.LABELS.REFERENCE</label>
      <bh-clear on-clear="ModalCtrl.clear('reference')"></bh-clear>
      <input type="text" class="form-control" name="reference" ng-model="ModalCtrl.params.reference">
      <div class="help-block" ng-messages="ModalForm.reference.$error" ng-show="ModalForm.$submitted">
        <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
      </div>
    </div>

    <!-- @TODO - functionality for reversals missing before we can search on reversals -->

    <div class="form-group" ng-class="{ 'has-error' : ModalForm.$submitted && ModalForm.description.$invalid }">
      <label class="control-label" translate>FORM.LABELS.DESCRIPTION</label>
      <bh-clear on-clear="ModalCtrl.clear('description')"></bh-clear>
      <textarea ng-model="ModalCtrl.params.description" class="form-control" rows="2"></textarea>
    </div>


    <div class="form-group" ng-class="{ 'has-error' : ModalForm.$submitted && ModalForm.user.$invalid }">
      <label class="control-label" translate>FORM.LABELS.USER</label>
      <bh-clear on-clear="ModalCtrl.clear('user_id')"></bh-clear>
      <select
        class="form-control"
        name="user"
        ng-model="ModalCtrl.params.user_id"
        ng-options="u.id as u.display_name for u in ModalCtrl.users | orderBy:'display_name'">
        <option value="" disabled translate>FORM.SELECT.USER</option>
      </select>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="ModalCtrl.cancel()" translate>
      FORM.BUTTONS.CLOSE
    </button>

    <button class="btn btn-primary" type="submit" data-method="submit" translate>
      FORM.BUTTONS.SUBMIT
    </button>
  </div>
</form>
