<div id="selectForm" ng-form="DepotSelectForm" bh-multiple-depot-search-select>

  <div class="form-group">
    <span ng-repeat = "depot in $ctrl.depotsSelected">
      <span style="padding: 2px; border: 1px solid #aaa; margin: 1px;">
        <span class="text-primary">{{depot.text}}</span>
        <i class="fa fa-close text-danger link" ng-click="$ctrl.remove(depot.uuid)" id="{{depot.uuid}}"></i>
      </span>
    </span>
  </div>
w
  <div class="form-group" ng-class="{'has-error' : $ctrl.depotsSelected.length < 1 && DepotSelectForm.$submitted}">
    <label class="control-label" for="depots" translate>FORM.BUTTONS.ADD</label>
    <input
      name="depots"
      type="text"
      translate-attr ="{ 'placeholder' : 'DEPOT.MODAL.TYPE_DEPOT_NAME'}"
      uib-typeahead="depot as depot.text for depot in $ctrl.loadDepots($viewValue) | limitTo:8"
      typeahead-on-select="$ctrl.onSelect($item)"
      typeahead-append-to-body="true"
      autocomplete="off"
      typeahead-min-length="3"
      ng-model="$ctrl.depotSelected"
      class="form-control"/>
    <div class="help-block" ng-show="DepotSelectForm.$submitted" ng-messages="DepotSelectForm.depots.$error">
      <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
    </div>
  <div>
</div>
