<style>
.grid-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.grid-overlay .msg {
  opacity: 1;
  position: absolute;
  top: 20%;
  left: 20%;
  width: 60%;
  height: 50%;
  background-color: #eee;
  border-radius: 1px;
  border: 1px solid #555;
  text-align: center;
  font-size: 24px;
  display: table;
}

.grid-overlay .msg span {
  display: table-cell;
  vertical-align: middle;
  text-align : center;
}
</style>

<header data-header>
  {{'SALERECORD.TITLE' | translate}}
</header>

<nav>
  <div class="pull-left">

    <!-- Up to date dropdown markdown -->
    <div uib-dropdown class="btn-group">
      <button uib-dropdown-toggle ng-click="select(session.selected)" class="btn btn-sm btn-default">{{(session.selected.key | translate) || "..."}}</button>
      <button uib-dropdown-toggle class="btn btn-sm btn-default">
        <span class="caret"></span>
      </button>

      <ul class="uib-dropdown-menu" role="menu">
        <li role="menuitem" ng-repeat="item in period">
          <a ng-click="select(item)">{{item.key | translate}}</a>
        </li>
      </ul>
    </div>
  </div>

  <div>
    <div class="col-xs-2">
      <input class="form-bhima" ng-change="reset()" type="date" ng-model="session.param.dateFrom" rows="20">
    </div>
    <div class="col-xs-2" style="padding-right: 0px;">
      <input class="form-bhima" ng-change="reset()" type="date" ng-model="session.param.dateTo" rows="20">
    </div>
  </div>

  <span class="pull-right">
    <select class="form-bhima" ng-change="reset()" ng-model="session.user" ng-options="u.id as format(u) for u in  model.user_sale.data">
      <option value="">{{ 'SALERECORD.ALL_USERS' | translate }}</option>
    </select>
  </span>

  <span class="pull-right">
    <select class="form-bhima" ng-change="reset()" ng-model="session.project" ng-options="item.id as item.name for item in model.project.data">
      <option value="">{{ 'SALERECORD.ALL_PROJECTS' | translate }}</option>
    </select>
  </span>
</nav>

<main>
    
  <!-- UI Grid placeholder -->
  <div ui-grid="gridOptions" style="width : 100%; height : 95%">
    <div class="grid-overlay" ng-if="loading">
      <div class="no-data" ng-hide="gridOptions.data.length && !loading">
        <div class="msg">
          <span>
            <loading-indicator></loading-indicator>
          </span>
        </div>
      </div>
    </div>
  </div>
</main>
