<div class="ui-grid-cell-contents text-right" uib-dropdown dropdown-append-to-body data-row="{{ row.entity.trans_id }}">
  <a href uib-dropdown-toggle data-action="open-dropdown-menu">
    <span translate>FORM.BUTTONS.ACTIONS</span>
    <span class="caret"></span>
  </a>

  <ul data-row-menu="{{ row.entity.trans_id }}" class="dropdown-menu-right" bh-dropdown-menu-auto-dropup uib-dropdown-menu>
    <li class="bh-dropdown-header">{{row.entity.trans_id}}</li>
    <li>
      <a data-method="distribution" ng-click="grid.appScope.distribution(row.entity)" href>
        <i class="fa fa-share-alt"></i> <span translate>FORM.LABELS.DISTRIBUTE</span>
      </a>
    </li>
  </ul>
</div>
