<div class="ui-grid-cell-contents" uib-dropdown dropdown-append-to-body uib-dropdown-toggle ng-if="row.groupHeader">
  <a href>
    <span data-method="action" translate>FORM.BUTTONS.ACTIONS</span>
    <span class="caret"></span>
  </a>

  <ul data-action="{{ rowRenderIndex}}"  class="dropdown-menu-right" bh-dropdown-menu-auto-dropup uib-dropdown-menu>
    <li class="dropdown-header">{{row.entity.label}}</li>
    <li>
      <a data-method="setting" ng-click="grid.appScope.settings(row.treeNode.children)" href>
        <span class="fa fa-cogs"></span> <span translate> FORM.LABELS.SETTINGS </span>
      </a>
    </li>
  </ul>
</div>