<div class="flex-header">
  <div class="bhima-title">
    <ol class="headercrumb">
      <li class="static">{{ "TREE.HOSPITAL" | translate }}</li>
      <li class="title">{{ "PATIENT_REG.PAGE_TITLE" | translate }}</li>
    </ol>
  </div>
</div>

<div class="flex-content">
  <div class="container-fluid" id="anchor">

    <!-- master patient registration form wraps two child forms -->
    <form
      name="PatientRegistrationForm"
      bh-submit="PatientRegCtrl.submit(PatientRegistrationForm)"
      bh-form-defaults
      novalidate>

      <div class="row">

        <!-- Patient Details Form -->
        <div class="form-horizontal" ng-form="DetailForm">
          <div class="col-md-7">
            <div class="panel panel-primary">
              <div class="panel-heading">{{ "PATIENT_REG.PATIENT_DETAILS" | translate }}</div>
                <div class="panel-body">

                  <!-- Last Name -->
                  <div
                    class="form-group"
                    ng-class="{'has-error' : DetailForm.display_name.$invalid && PatientRegistrationForm.$submitted}">

                    <label class="col-md-3 control-label">{{ "FORM.LABELS.PATIENT_NAME" | translate }}</label>
                    <div class="col-md-9">
                      <input
                        class="form-control"
                        ng-maxlength="PatientRegCtrl.length150"
                        name="display_name"
                        ng-model="PatientRegCtrl.medical.display_name"
                        autocomplete="off"
                        required>
                      <div class="help-block" ng-messages="DetailForm.display_name.$error" ng-show="PatientRegistrationForm.$submitted">
                        <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
                      </div>
                    </div>
                  </div>

                  <!-- Hospital File Number -->
                  <div
                    class="form-group has-feedback"
                    ng-class="{'has-error' : DetailForm.hospitalNumber.$invalid && PatientRegistrationForm.$submitted || DetailForm.hospitalNumber.$error.unique}">

                    <label class="col-md-3 control-label">{{ "FORM.LABELS.HOSPITAL_FILE_NR" | translate }} </label>
                    <div class="col-md-9">
                      <input
                        name="hospitalNumber"
                        class="form-control"
                        ng-model="PatientRegCtrl.medical.hospital_no"
                        bh-unique="/patients/hospital_number"
                        ng-maxlength="PatientRegCtrl.length150"
                        autocomplete="off"
                        required>

                      <span ng-show="DetailForm.hospitalNumber.$error.unique" class="glyphicon glyphicon-remove form-control-feedback" id="unique-error-icon"></span>
                      <span ng-show="DetailForm.hospitalNumber.$pending.unique"  class="glyphicon glyphicon-hourglass form-control-feedback"></span>

                      <div class="help-block" ng-messages="DetailForm.hospitalNumber.$error" ng-show="DetailForm.$submitted || DetailForm.hospitalNumber.$error.unique">
                        <p ng-messages-include="modules/templates/messages.tmpl.html"></p>
                      </div>
                    </div>
                  </div>

                  <!-- Date of birth -->
                  <div class="form-group"
                    ng-class="{'has-error' : DetailForm.dob.$invalid && PatientRegistrationForm.$submitted}">
                    <label class="col-md-3 control-label">{{ PatientRegCtrl.fullDateEnabled ? "FORM.LABELS.DOB" : "FORM.LABELS.YOB" | translate }}</label>
                    <div class="col-md-9">
                      <div class="input-group">
                        <input
                        name="dob"
                        type="text"
                        class="form-control"
                        ng-model="PatientRegCtrl.medical.dob"
                        uib-datepicker-popup="{{PatientRegCtrl.datepickerOptions.format}}"
                        datepicker-options="PatientRegCtrl.datepickerOptions"
                        is-open="PatientRegCtrl.datePopupIsOpen"
                        show-button-bar="false"
                        bh-date-validator="PatientRegCtrl.datepickerOptions"
                        autocomplete="off"
                        required>
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-default" ng-click="PatientRegCtrl.datePopupIsOpen = !PatientRegCtrl.datePopupIsOpen">
                            <i class="fa fa-calendar-plus-o"></i>
                          </button>
                        </span>
                      </div>

                      <div class="help-block text-right">
                        <p><a ng-click="PatientRegCtrl.toggleFullDate()" href><i class="fa fa-calendar-o"></i> {{ PatientRegCtrl.fullDateEnabled ? "FORM.LABELS.ENTER_BIRTH_YEAR" : "FORM.LABELS.ENTER_BIRTH_DAY" | translate }}</a></p>
                      </div>

                      <div class="help-block" ng-messages="DetailForm.dob.$error" data-date-error ng-if="PatientRegistrationForm.$submitted && DetailForm.dob.$invalid">
                        <div ng-messages-include="modules/templates/dates.messages.tmpl.html"></div>
                      </div>
                    </div>
                  </div>

                  <!-- Gender -->
                  <div id="gender" class="form-group"
                    ng-class="{'has-error' : DetailForm.genderOptions.$invalid && PatientRegistrationForm.$submitted}">
                    <label class="col-md-3 control-label"> {{ "FORM.LABELS.GENDER" | translate }} </label>
                    <div class="col-md-9">
                      <label class="radio-inline">
                        <input type="radio" name="genderOptions" id="male" value="M" ng-model="PatientRegCtrl.medical.sex" required>
                        {{ "FORM.LABELS.MALE" | translate }}
                      </label>

                      <label class="radio-inline">
                        <input type="radio" name="genderOptions" id="female" value="F" ng-model="PatientRegCtrl.medical.sex" required>
                        {{ "FORM.LABELS.FEMALE" | translate }}
                      </label>

                      <div class="help-block" ng-messages="DetailForm.genderOptions.$error" ng-show="PatientRegistrationForm.$submitted">
                        <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
                      </div>
                    </div>
                  </div>

                  <!-- separate location settings -->
                  <hr>

                  <!-- Location -->
                  <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                      <h4>{{ "FORM.LABELS.ORIGIN_LOCATION" | translate }}</h4>
                      <bh-location-select
                        id="origin-location-id"
                        validation-trigger="PatientRegistrationForm.$submitted"
                        location-uuid="PatientRegCtrl.medical.origin_location_id">
                      </bh-location-select>
                    </div>

                    <!-- separate location searches given a certain screen size -->
                    <div class="visible-sm-block visible-xs-block"><hr></div>

                    <div class="col-md-5 col-md-offset-1">
                      <h4>{{ "FORM.LABELS.CURRENT_LOCATION" | translate }}</h4>
                      <bh-location-select
                        id="current-location-id"
                        validation-trigger="PatientRegistrationForm.$submitted"
                        location-uuid="PatientRegCtrl.medical.current_location_id">
                      </bh-location-select>
                    </div>
                  </div>

                  <!-- separate finance settings -->
                  <hr>

                  <!-- Debtor Group -->
                  <div class="form-group"
                    ng-class="{'has-error' : DetailForm.debtorGroup.$invalid && PatientRegistrationForm.$submitted}">

                    <!-- Warning for incomplete data - the page will not be able to continue -->
                    <uib-alert class="text-danger" type="danger" ng-if="PatientRegCtrl.debtorGroups.length === 0">
                      <i class="fa fa-warning"></i>
                      {{ "FORM.LABELS.NO_DEBTOR_GROUPS" | translate }} <b>{{ "FORM.LABELS.CONTACT_ADMIN" | translate }}</b>
                    </uib-alert>

                    <label class="col-md-3 control-label">{{ "FORM.LABELS.DEBTOR_GROUP" | translate }}</label>
                    <div class="col-md-9">
                      <ui-select
                        name="debtorGroup"
                        ng-model="PatientRegCtrl.finance.debtor_group_uuid"
                        required>
                        <ui-select-match placeholder="{{ 'FORM.SELECT.DEBTOR_GROUP' | translate }}"><span>{{$select.selected.name}}</span></ui-select-match>
                        <ui-select-choices ui-select-focus-patch repeat="group.uuid as group in (PatientRegCtrl.debtorGroups | filter:$select.search | orderBy:'name') track by group.uuid">
                          <span ng-bind-html="group.name | highlight:$select.search"></span>
                        </ui-select-choices>
                      </ui-select>

                      <div class="help-block" ng-messages="DetailForm.debtorGroup.$error" ng-show="PatientRegistrationForm.$submitted">
                        <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
                      </div>
                    </div>
                  </div>
                </div>

              <div class="panel-footer text-right">
                <bh-loading-button loading-state="PatientRegistrationForm.$loading">
                  {{ "FORM.BUTTONS.REGISTER_PATIENT" | translate }}
                </bh-loading-button>
              </div>
            </div>
          </div>
        </div>

      <!-- Optional Information Form -->
      <div class="col-md-5">
        <div class="panel panel-default">
          <div class="panel-heading">{{ "FORM.LABELS.OPTIONAL_INFO" | translate }}</div>
          <div class="panel-body">

            <div class="form-horizontal" ng-form="OptionalForm">
              <div class="form-group" ng-class="{'has-error' : OptionalForm.title.$invalid && PatientRegistrationForm.$submitted}">
                <label class="control-label">{{ "FORM.LABELS.TITLE" | translate }}</label>
                <input type="text" class="form-control" name="title" ng-model="PatientRegCtrl.medical.title">
                <div class="help-block" ng-messages="OptionalForm.title.$error" ng-show="PatientRegistrationForm.$submitted">
                  <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
                </div>
              </div>

              <div class="form-group" ng-class="{'has-error' : OptionalForm.phone.$invalid && PatientRegistrationForm.$submitted}">
                <label class="control-label">{{ "FORM.LABELS.PHONE_NO" | translate }}</label>
                <input type="tel" class="form-control" name="phone" ng-model="PatientRegCtrl.medical.phone">
                <div class="help-block" ng-messages="OptionalForm.phone.$error" ng-show="PatientRegistrationForm.$submitted">
                  <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
                </div>
              </div>

              <div class="form-group"
                  ng-class="{'has-error' : OptionalForm.email.$invalid && PatientRegistrationForm.$submitted}">
                <label class="control-label">{{ "FORM.LABELS.EMAIL" | translate }}</label>
                <input type="email" class="form-control" name="email" ng-model="PatientRegCtrl.medical.email">
                <div class="help-block" ng-messages="OptionalForm.email.$error" ng-show="PatientRegistrationForm.$submitted">
                  <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
                </div>
              </div>

              <div class="form-group" ng-class="{'has-error' : OptionalForm.address1.$invalid && PatientRegistrationForm.$submitted}">
                <label class="control-label">{{ "FORM.LABELS.ADDRESS1" | translate }}</label>
                <input type="text" class="form-control" name="address1" ng-model="PatientRegCtrl.medical.address_1">
                <div class="help-block" ng-messages="OptionalForm.address1.$error" ng-show="PatientRegistrationForm.$submitted">
                  <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
                </div>
              </div>

              <div class="form-group" ng-class="{'has-error' : OptionalForm.address2.$invalid && PatientRegistrationForm.$submitted}">
                <label class="control-label">{{ "FORM.LABELS.ADDRESS2" | translate }}</label>
                <input type="text" class="form-control" name="address2" ng-model="PatientRegCtrl.medical.address_2">
                <div class="help-block" ng-messages="OptionalForm.address2.$error" ng-show="PatientRegistrationForm.$submitted">
                  <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
                </div>
              </div>

              <div class="form-group" ng-class="{'has-error' : OptionalForm.father_name.$invalid && PatientRegistrationForm.$submitted}">
                <label class="control-label">{{ "FORM.LABELS.FATHER_NAME" | translate }}</label>
                <input type="text" class="form-control" name="father_name" ng-model="PatientRegCtrl.medical.father_name">
                <div class="help-block" ng-messages="OptionalForm.father_name.$error" ng-show="PatientRegistrationForm.$submitted">
                  <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
                </div>
              </div>

              <div class="form-group" ng-class="{'has-error' : OptionalForm.mother_name.$invalid && PatientRegistrationForm.$submitted}">
                <label class="control-label">{{ "FORM.LABELS.MOTHER_NAME" | translate }}</label>
                <input type="text" class="form-control" name="mother_name" ng-model="PatientRegCtrl.medical.mother_name">
                <div class="help-block" ng-messages="OptionalForm.mother_name.$error" ng-show="PatientRegistrationForm.$submitted">
                  <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
                </div>
              </div>

              <div class="form-group" ng-class="{'has-error' : OptionalForm.religion.$invalid && PatientRegistrationForm.$submitted}">
                <label class="control-label">{{ "FORM.LABELS.RELIGION" | translate }}</label>
                <input type="text" name="religion" class="form-control" ng-model="PatientRegCtrl.medical.religion">
                <div class="help-block" ng-messages="OptionalForm.religion.$error" ng-show="PatientRegistrationForm.$submitted">
                  <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
                </div>
              </div>

              <div class="form-group" ng-class="{'has-error' : OptionalForm.marital.$invalid && PatientRegistrationForm.$submitted}">
                <label class="control-label">{{ "FORM.LABELS.MARITAL_STATUS" | translate }}</label>
                <input type="text" class="form-control" name="marital" ng-model="PatientRegCtrl.medical.marital_status">
                <div class="help-block" ng-messages="OptionalForm.marital.$error" ng-show="PatientRegistrationForm.$submitted">
                  <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
                </div>
              </div>

              <div class="form-group" ng-class="{'has-error' : OptionalForm.profession.$invalid && PatientRegistrationForm.$submitted}">
                <label class="control-label">{{ "FORM.LABELS.PROFESSION" | translate }}</label>
                <input type="text" name="profession" class="form-control" ng-model="PatientRegCtrl.medical.profession">
                <div class="help-block" ng-messages="OptionalForm.profession.$error" ng-show="PatientRegistrationForm.$submitted">
                  <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
                </div>
              </div>

              <div class="form-group" ng-class="{'has-error' : OptionalForm.employer.$invalid && PatientRegistrationForm.$submitted}">
                <label class="control-label">{{ "FORM.LABELS.EMPLOYER" | translate }}</label>
                <input type="text" class="form-control" name="employer" ng-model="PatientRegCtrl.medical.employer">
                <div class="help-block" ng-messages="OptionalForm.employer.$error" ng-show="PatientRegistrationForm.$submitted">
                  <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
                </div>
              </div>

              <div class="form-group" ng-class="{'has-error' : OptionalForm.spouse.$invalid && PatientRegistrationForm.$submitted}">
                <label class="control-label">{{ "FORM.LABELS.SPOUSE" | translate }}</label>
                <input type="text" class="form-control" name="spouse" ng-model="PatientRegCtrl.medical.spouse">
                <div class="help-block" ng-messages="OptionalForm.spouse.$error" ng-show="PatientRegistrationForm.$submitted">
                  <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
                </div>
              </div>

              <div class="form-group" ng-class="{'has-error' : OptionalForm.spouse_profession.$invalid && PatientRegistrationForm.$submitted}">
                <label class="control-label">{{ "FORM.LABELS.SPOUSE_PROFESSION" | translate }}</label>
                <input type="text" class="form-control" name="spouse_profession" ng-model="PatientRegCtrl.medical.spouse_profession">
                <div class="help-block" ng-messages="OptionalForm.spouse_profession.$error" ng-show="PatientRegistrationForm.$submitted">
                  <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
                </div>
              </div>

              <div class="form-group" ng-class="{'has-error' : OptionalForm.spouse_employer.$invalid && PatientRegistrationForm.$submitted}">
                <label class="control-label">{{ "FORM.LABELS.SPOUSE_EMPLOYER" | translate }}</label>
                <input type="text" class="form-control" name="spouse_employer" ng-model="PatientRegCtrl.medical.spouse_employer">
                <div class="help-block" ng-messages="OptionalForm.spouse_employer.$error" ng-show="PatientRegistrationForm.$submitted">
                  <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
                </div>
              </div>

              <div class="form-group" ng-class="{'has-error' : OptionalForm.notes.$invalid && PatientRegistrationForm.$submitted}">
                <label class="control-label">{{ "FORM.LABELS.NOTES" | translate }}</label>
                <textarea
                  class="form-control"
                  name="notes"
                  ng-maxlength="PatientRegCtrl.maxLength"
                  ng-model="PatientRegCtrl.medical.notes"
                  rows="4">
                </textarea>
                <div class="help-block" ng-messages="OptionalForm.notes.$error" ng-show="PatientRegistrationForm.$submitted">
                  <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
