<form
  name="ModalForm"
  ng-submit="$ctrl.submit(ModalForm)"
  data-modal="stock-inventories-search"
  novalidate>

  <div class="modal-header">
    <ol class="headercrumb">
      <li class="static" translate>TREE.STOCK_LOTS</li>
      <li class="title" translate>FORM.LABELS.SEARCH</li>
    </ol>
  </div>

  <div class="modal-body">
    <uib-tabset>
      <uib-tab index="0" heading="{{'FORM.LABELS.SEARCH_QUERRIES' | translate}}" data-custom-filter-tab>
        <div class="tab-body">
          <!-- depot -->
          <bh-depot-select
            depot-uuid="$ctrl.searchQueries.depot_uuid"
            required="false"
            on-select-callback="$ctrl.onSelectDepot(depot)">
            <bh-clear on-clear="$ctrl.clear('depot_uuid')"></bh-clear>
          </bh-depot-select>

          <!-- inventory -->
          <bh-inventory-select
            inventory-uuid="$ctrl.searchQueries.inventory_uuid"
            on-select-callback="$ctrl.onSelectInventory(inventory)"
            required="false">
            <bh-clear on-clear="$ctrl.clear('inventory_uuid')"></bh-clear>
          </bh-inventory-select>

          <!-- status -->
          <div class="form-group">
              <p class="control-label" style="margin-bottom:5px;">
                <strong translate>FORM.LABELS.STATUS</strong>
              </p>

              <label class="radio-inline">
                <input type="radio" name="status" ng-model="$ctrl.searchQueries.status" ng-value="'sold_out'">
                <span translate>STOCK.STATUS.SOLD_OUT</span>
              </label>

              <label class="radio-inline">
                <input type="radio" name="status" ng-model="$ctrl.searchQueries.status" ng-value="'in_stock'">
                <span translate>STOCK.STATUS.IN_STOCK</span>
              </label>

              <label class="radio-inline">
                <input type="radio" name="status" ng-model="$ctrl.searchQueries.status" ng-value="'security_reached'">
                <span translate>STOCK.STATUS.SECURITY</span>
              </label>

              <label class="radio-inline">
                <input type="radio" name="status" ng-model="$ctrl.searchQueries.status" ng-value="'minimum_reached'">
                <span translate>STOCK.STATUS.MINIMUM</span>
              </label>

              <label class="radio-inline">
                <input type="radio" name="status" ng-model="$ctrl.searchQueries.status" ng-value="'over_maximum'">
                <span translate>STOCK.STATUS.OVER_MAX</span>
              </label>
          </div>
        </div>
      </uib-tab>
      <uib-tab index="1" heading="{{ 'FORM.LABELS.DEFAULTS' | translate }}" data-default-filter-tab>
        <div class="tab-body">
          <bh-period-select
            default-period="{{$ctrl.filters.period}}"
            on-select-callback="$ctrl.onSelectPeriod(period)">
          </bh-period-select>

          <div class="form-group" ng-class="{ 'has-error' : ModalForm.limit.$invalid }">
            <label class="control-label" translate>FORM.LABELS.LIMIT</label>
            <input
              name="limit"
              type="number"
              bh-integer
              class="form-control"
              ng-model="$ctrl.defaultQueries.limit"
              ng-change="$ctrl.onSelectLimit($ctrl.defaultQueries.limit)">

            <div class="help-block" ng-messages="ModalForm.limit.$error">
              <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
            </div>
          </div>
        </div>
      </uib-tab>
    </uib-tabset>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$ctrl.cancel()" data-method="cancel" translate> 
      FORM.BUTTONS.CLOSE
    </button>
    <bh-loading-button loading-state="ModalForm.$loading">
      <span translate>FORM.BUTTONS.SUBMIT</span>
    </bh-loading-button>
  </div>
</form>
