<div class="ui-grid-cell-contents text-right">
  <span uib-dropdown dropdown-append-to-body>
    <a href uib-dropdown-toggle>
      <span data-method="action" translate>FORM.BUTTONS.ACTIONS</span>
      <span class="caret"></span>
    </a>

    <ul class="dropdown-menu-right" uib-dropdown-menu>
      <li>
        <a href
          data-method="receipt"
          ng-click="grid.appScope.slip(row.entity.id)">
          <i class="fa fa-file-text"></i> <span translate>GENERAL_LEDGER.ACCOUNT_SLIP</span>
        </a>
      </li>
    </ul>
  </span>
</div>
