<header data-header>
  {{ "STOCK.ENTRY.TITLE" | translate }}
</header>

<nav>
  <div class="pull-left">
    <ol class="breadcrumb">
      <li><a href="#/"><span class="glyphicon glyphicon-home"></span></a></li>
      <li><a href="#/depots/">{{ "DEPOT.MAIN.TITLE" | translate }}</a></li>
      <li class="active">{{ "STOCK.ENTRY.TITLE" | translate }}</li>
    </ol>
  </div>

  <div class="pull-right" style="margin-top:1px;">
    <b>[{{ session.depot.reference }}]</b> {{ session.depot.text }}
  </div>
</nav>

<main>
  <div class="row">

    <div class="col-xs-4">
      <div class="panel panel-default square">
        <div class="panel-heading square">
          {{ "PURCHASE.TITLE" | translate }}
        </div>

        <div class="panel-body">
          <!-- SELECTING PURCHASE -->
          <div class="input-group" style="margin-bottom: 15px">
            <span class="input-group-btn">
              <button disabled class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-search"></span></button>
            </span>
             <input class="form-bhima" placeholder="{{ 'PLACEHOLDERS.PURCHASE_ORDER' | translate }}" ng-model="session.filter">
          </div>

          <table class="table table-bordered table-condensed">
            <thead>
              <tr>
                <th>{{"COLUMNS.DATE" | translate}}</th>
                <th>{{"COLUMNS.REFERENCE" | translate}}</th>
                <th>{{"COLUMNS.TYPE" | translate}}</th>
                <th>{{ "COLUMNS.ACTIONS" | translate }}</th>
              </tr>
            </thead>

            <tr ng-if="!names.data.length">
              <td colspan="4">
                <div class="alert alert-warning square">{{ "PURCHASE.NOT_FOUND" | translate }}</div>
              </td>
            </tr>

            <tr ng-repeat="order in names.data | filter:session.filter | limitTo:15 "
                ng-class="{'selected-success': session.selected.uuid===order.uuid}">
                <td>{{order.purchase_date | date}}</td>
                <td><a href="/#/invoice/purchase/{{order.uuid}}">{{order.label}}</td>
                <td ng-if="!order.is_direct"> {{ "PURCHASE.INDIRECT" | translate }} </td>
                <td ng-if="order.is_direct"> {{ "PURCHASE.DIRECT" | translate }} </td>
                <td><a class="menu-item" ng-click="find.fn.commit(order)"><span class="glyphicon glyphicon-arrow-right"></span></a></td>
            </tr>
            <tbody>
            </tbody>
          </table>
          <!-- END SELECTING PURCHASE -->
        </div>
      </div>

    </div>

    <div class="col-xs-8">
      <div ng-if="!!session.selected" class="alert alert-info">
        <form class="form-horizontal form-condensed">
          <div class="col-xs-4">
            <div class="form-group">
              <label class="control-label col-xs-6">{{ "COLUMNS.PURCHASE_ORDER" | translate }}</label>
              <p class="form-control-static col-xs-6">{{ session.cfg.label }}</p>
            </div>

            <div class="form-group">
              <label class="control-label col-xs-6">{{ "COLUMNS.ORDER_DATE" | translate }}</label>
              <p class="form-control-static col-xs-6">{{ session.cfg.order_date | date }}</p>
            </div>
          </div>

          <div class="col-xs-6">
            <div class="form-group">
              <div ng-if="!session.cfg.is_direct">
                <label class="control-label col-xs-6">{{ "STOCK.ENTRY.REQUESTED_BY" | translate }}</label>
                <p class="form-control-static col-xs-6">{{ session.cfg.employee_name }}</p>
              </div>
              <div ng-if="session.cfg.is_direct">
                <label class="control-label col-xs-6">{{ "STOCK.ENTRY.DIRECT_PURCHASE_TYPE" | translate | uppercase }}</label>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-xs-6">{{ "STOCK.ENTRY.NUM_ITEMS" | translate }}</label>
              <p class="form-control-static col-xs-6">{{ session.order.data.length }}</p>
            </div>
          </div>
        </form>
        <!-- FIXME Hack floating -->
        <div class="clearfix"></div>
      </div>

      <div class="aprecu">
        <div class="row" ng-if="!find.active && !session.review" style="padding:0 15px;">
          <table class="table table-condensed">
            <thead>
              <tr>
                <th style="width:3%;"><span class="glyphicon glyphicon-th"></span></th>
                <th>{{ "COLUMNS.INVENTORY_CODE" | translate }}</th>
                <th>{{ "COLUMNS.LABEL" | translate }}</th>
                <th>{{ "COLUMNS.GROUP" | translate }}</th>
                <th>{{ "COLUMNS.QUANTITY" | translate }}</th>
                <th>{{ "COLUMNS.UNIT_PRICE" | translate }}</th>
                <th>{{ "COLUMNS.TOTAL_PRICE" | translate }}</th>
                <th style="width:3%;">{{ "COLUMNS.ACTIONS" | translate }}</th>
              </tr>
            </thead>
            <tbody ng-repeat-start="drug in session.order.data | orderBy:'code'">
              <tr ng-class="{'highlight-grey' : !drug.isCollapsed }">
                <td><a ng-click="expand(drug)" class="action"><span class="glyphicon" ng-class="{ 'glyphicon-circle-arrow-right' : !!drug.isCollapsed, 'glyphicon-circle-arrow-up': !drug.isCollapsed }"></span></a></td>
                <td>{{ drug.code }}</td>
                <td>{{ drug.text }}</td>
                <td>{{ drug.name }}</td>
                <td>{{ drug.quantity }}</td>
                <td>{{ drug.unit_price | currency:drug.currency_id }}</td>
                <td>{{ drug.quantity * drug.unit_price | currency:drug.currency_id }}</td>
                <td>
                  <div ng-show="!drug.isCollapsed" class="pull-right">
                    <a ng-click="addLot(drug)" class="action"><span class="glyphicon glyphicon-plus"></span></a>
                  </div>
                  <div ng-show="!!drug.isCollapsed && drug.validLots" class="pull-right">
                    <span class="glyphicon glyphicon-ok-circle"></span>
                  </div>
                </td>
              </tr>
            </tbody>
            <tbody ng-repeat-end>

              <!-- header row -->

              <tr ng-class="{ 'row-collapse' : drug.isCollapsed, 'success' : drug.validLots }">
                <th colspan="3">
                  <div collapse="drug.isCollapsed"><span class="glyphicon" ng-class="{ 'glyphicon-ok-circle' : drug.validLots }"></span></div>
                </th>
                <th><div collapse="drug.isCollapsed">{{ "COLUMNS.LOT_NUMBER" | translate }}</div></th>
                <th><div collapse="drug.isCollapsed">{{ "COLUMNS.QUANTITY" | translate }}</div></th>
                <th colspan="3"><div collapse="drug.isCollapsed">{{ "COLUMNS.EXPIRATION_DATE" | translate }}</div></th>
              </tr>

              <!-- data rows -->

              <tr ng-repeat="lot in drug.lots.data" ng-class="{ 'row-collapse' : drug.isCollapsed, 'success' : drug.validLots }">
                <td colspan="3"></td>
                <td>
                  <div collapse="drug.isCollapsed">
                    <input ng-model="lot.lot_number" >
                  </div>
                </td>
                <td>
                  <div collapse="drug.isCollapsed">
                    <input ng-model="lot.quantity" type="number" >
                  </div>
                </td>
                <td colspan="2">
                  <div collapse="drug.isCollapsed">
                    <input ng-model="lot.expiration_date" type="date">
                  </div>
                </td>
                <td style="text-align: right;">
                  <div collapse="drug.isCollapsed">
                    <a ng-click="removeLot(drug, $index)" class="action danger">
                      <span class="glyphicon glyphicon-trash"></span>
                    </a>
                  </div>
                </td>
              </tr>

              <!-- footer row -->

              <tr ng-class="{ 'row-collapse' : drug.isCollapsed, 'success' : drug.validLots }">
                <th colspan="4"><div collapse="drug.isCollapsed"><span class="glyphicon glyphicon-stats"></span></div></th>
                <th>
                  <div collapse="drug.isCollapsed" ng-class="{ 'error' : drug.totalQuantity > drug.quantity }">
                    {{ drug.totalQuantity }}
                  </div>
                </th>
                <th colspan="3">
                  <div collapse="drug.isCollapsed">
                    {{ drug.lots.data.length }}
                  </div>
                </th>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th colspan="4">{{ "COLUMNS.SUMMARY" | translate }}</th>
                <th colspan="2">{{ session.totals.quantity }}</th>
                <th colspan="2">{{ session.totals.price | currency }}</th>
              </tr>
            </tfoot>
          </table>
        </div>

        <div class="row" ng-if="!find.active && !session.review">
          <div class="pull-right" style="padding:0 15px;">
            <button class="btn btn-sm btn-success" ng-click="review()" ng-disabled="!session.valid">
              {{ "STOCK.ENTRY.REVIEW" | translate }}
            </button>
          </div>
        </div>

        <div class="row" ng-if="session.review" style="padding:0 15px;">

          <table class="table table-condensed">
            <thead>
              <tr>
                <th style="width:3%;"><span class="glyphicon glyphicon-th"></span></th>
                <th>{{ "COLUMNS.INVENTORY_CODE" | translate }}</th>
                <th>{{ "COLUMNS.LABEL" | translate }}</th>
                <th>{{ "COLUMNS.GROUP" | translate }}</th>
                <th>{{ "COLUMNS.QUANTITY" | translate }}</th>
                <th>{{ "COLUMNS.UNIT_PRICE" | translate }}</th>
                <th>{{ "COLUMNS.TOTAL_PRICE" | translate }}</th>
                <th style="width:3%;">{{ "COLUMNS.ACTIONS" | translate }}</th>
              </tr>
            </thead>
            <tbody ng-repeat-start="drug in session.order.data | orderBy:'code'">
              <tr>
                <td></td>
                <td>{{ drug.code }}</td>
                <td>{{ drug.text }}</td>
                <td>{{ drug.name }}</td>
                <td>{{ drug.quantity }}</td>
                <td>{{ drug.unit_price | currency:drug.currency_id }}</td>
                <td>{{ drug.quantity * drug.unit_price | currency:drug.currency_id }}</td>
                <td>
                  <div ng-show="drug.validLots" class="pull-right">
                    <span class="correct glyphicon glyphicon-ok-circle"></span>
                  </div>
                </td>
              </tr>
            </tbody>
            <tbody ng-repeat-end>
              <tr>
                <th colspan="3"></th>
                <th>{{ "COLUMNS.LOT_NUMBER" | translate }}</th>
                <th>{{ "COLUMNS.QUANTITY" | translate }}</th>
                <th colspan="3">
                  <span class="glyphicon glyphicon-calendar"></span>
                  {{ "COLUMNS.EXPIRATION_DATE" | translate }}
                </th>
              </tr>
              <tr ng-repeat="lot in drug.lots.data">
                <td colspan="3"></td>
                <td>{{ lot.lot_number }}</td>
                <td>{{ lot.quantity }}</td>
                <td colspan="3">{{ lot.expiration_date | date }}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th colspan="4">{{ "COLUMNS.SUMMARY" | translate }}</th>
                <th colspan="2">{{ session.totals.quantity }}</th>
                <th colspan="2">{{ session.totals.price | currency }}</th>
              </tr>
            </tfoot>
          </table>
        </div>

        <div class="row" ng-if="session.review" style="padding:0 15px;">
          <div class="pull-right">
            <button class="btn btn-sm btn-success" ng-click="accept()">
              {{ "STOCK.ENTRY.ENTER_STOCK" | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
