<div class="flex-header static">
  <div class="bhima-title">
    <ol class="headercrumb">
      <li class="static">{{ "TREE.ACCOUNTING" | translate }}</li>
      <li class="title">{{ "ACCOUNT.TITLE" | translate }}</li>
    </ol>

   <div class="toolbar">

     <div class="toolbar-item">
       <a
           class="btn btn-default"
           data-method="create"
           ui-sref="accounts.create">
         <i class="fa fa-plus-square"></i>
         Create New Account
       </a>
     </div>
   </div>
  </div>
</div>

<div class="flex-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div
            style="height : calc(100vh - 65px)"
            ui-grid="AccountsCtrl.gridOptions"
            ui-grid-tree-view
            ui-grid-auto-resize
            ui-grid-resize-columns>
        </div>
      </div>
    </div>
  </div>
</div>
