<div class="ui-grid-cell-contents">
  <span uib-dropdown dropdown-append-to-body>
    <a href uib-dropdown-toggle translate>FORM.BUTTONS.ACTIONS</a>
    <ul class="dropdown-menu-right" uib-dropdown-menu>
      <li>
        <a href="/reports/archive/{{row.entity.uuid}}" download>
          <i class="fa fa-cloud-download"></i> <span translate>REPORT.DOWNLOAD</span>
        </a>
      </li>
      <li>
        <a href>
          <span class="text-muted"><i class="fa fa-envelope"></i> <span translate>TABLE.COLUMNS.EMAIL</span></span>
        </a>
      </li>
      <li>
        <a href ng-click="grid.appScope.deleteReport(row.entity.uuid)" data-action="delete">
          <span class="text-danger"><i class="fa fa-trash"></i> <span translate>REPORT.DELETE</span></span>
        </a>
      </li>
     </ul>
  </span>
</div>
