<div class="form-group">
  <label class="control-label">
    <i class="fa fa-calendar-plus-o"></i> {{ 'FORM.SELECT.DATE_INTERVAL' | translate }}
    <span ng-if="$ctrl.selected" class="label label-warning">{{ $ctrl.selected | translate }}</span>
  </label>

  <ul class="list-inline">
    <li ng-repeat="(key, view) in $ctrl.options track by key">
      <a ng-click="$ctrl.search(view)" data-date-range="{{ key }}" href>
        {{ ::view.translateKey | translate }}
      </a>
    </li>
    <li class="pull-right">
      <a href ng-click="$ctrl.clear()" tabindex="-1">
        <i class="fa fa-eraser"></i> {{ "FORM.BUTTONS.CLEAR" | translate }}
      </a>
    </li>
  </ul>

  <div class="row" data-bh-date-interval>
    <div class="col-md-5">
      <div class="input-group">
        <input
          id="modal-date-from"
          type="text"
          class="form-control"
          ng-model="$ctrl.dateFrom"
          uib-datepicker-popup="dd/MM/yyyy"
          is-open="$ctrl.dateFromIsOpen"
          show-button-bar="false"
          >
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="$ctrl.dateFromIsOpen =! $ctrl.dateFromIsOpen">
              <i class="fa fa-calendar-plus-o"></i>
            </button>
          </span>
      </div>
    </div>

    <div class="col-md-2 text-center">
      <hr />
    </div>

    <div class="col-md-5">
      <div class="input-group">
        <input
          id="modal-date-to"
          type="text"
          class="form-control"
          ng-model="$ctrl.dateTo"
          uib-datepicker-popup="dd/MM/yyyy"
          is-open="$ctrl.dateToIsOpen"
          show-button-bar="false"
          >
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="$ctrl.dateToIsOpen =! $ctrl.dateToIsOpen">
              <i class="fa fa-calendar-plus-o"></i>
            </button>
          </span>
      </div>
    </div>
  </div>

</div>
