<div ng-switch="$ctrl.state">
  <div ng-switch-when="finding" class="input-group"  ng-class="{'has-error': $ctrl.searchStarted && (!$ctrl.searchSucceed || !$ctrl.selectedEmployee)}">

    <div class="input-group-btn" uib-dropdown>
      <button class="btn btn-default" uib-dropdown-toggle data-employee-finder>
        {{$ctrl.selectedSearchOption.label | translate}} <span class="caret"></span>
      </button>
      <ul uib-dropdown-menu>
        <li ng-repeat="searchOption in $ctrl.searchOptions">
          <a href="" ng-click="$ctrl.setSearchOption(searchOption)" data-employee-finder-option="{{ searchOption.label }}">
            {{searchOption.label | translate}}
          </a>
        </li>
      </ul>
    </div>

    <input 
      bh-employee-finder      
      name="employeeFinderValue"
      ng-model="$ctrl.value"    
      type="text"
      class="form-control"
      uib-typeahead="employee as employee.label for employee in $ctrl.search($viewValue)"
      typeahead-template-url="/partials/templates/employeeList.tmp.html"
      typeahead-on-select="$ctrl.selectEmployee($item)"
      placeHolder="{{ $ctrl.selectedSearchOption.placeHolder | translate }}"     
      required>    
  </div>

  <div ng-switch-when="found" class="alert alert-success">
    <span class="text-info">
      <i class="glyphicon glyphicon-ok"></i> 
      {{$ctrl.selectedEmployee.label}}
    </span> 
    <div class="pull-right">
        <a href="" class="alert-link" ng-click="$ctrl.load()"><i class="glyphicon glyphicon-repeat"></i></a>
    </div>           
  </div>
</div>
