<div ng-hide="$ctrl.filters">
  <span class="text-muted fa fa-filter"></span> {{ "FORM.INFOS.NO_FILTERS_APPLIED" | translate }}
</div>

<div ng-if="$ctrl.filters">
  <span class="text-primary fa fa-filter"></span>
  <span ng-repeat="f in $ctrl.filters">
    <span class="label label-primary">
      ({{ f.title | translate }})
      <strong ng-hide="f.reference2"> {{ f.reference1 }} </strong>
      <strong ng-show="f.reference2"> {{ f.reference1 | date }} - {{ f.reference2 | date }} </strong>
    </span>
    &nbsp;
  </span>
</div>
