<div ng-if="!$ctrl.filters">
  <span style="color: rgb(150, 150, 150);" class="glyphicon glyphicon-filter"></span> {{ "FORM.INFOS.NO_FILTERS_APPLIED" | translate }}
</div>

<div ng-if="$ctrl.filters">
  <span style="color: rgb(7, 150, 35);" class="glyphicon glyphicon-filter"></span> 
  <span ng-repeat="f in $ctrl.filters">
    <span class="label label-primary"> 
      ({{ f.title | translate }}) 
      <strong ng-if="!f.reference2"> {{ f.reference1 }} </strong> 
      <strong ng-if="f.reference2"> {{ f.reference1 | date }} - {{ f.reference2 | date }} </strong>  
    </span>&nbsp;
  </span>
</div>

