<div ng-hide="$ctrl.filters" class="text-muted">
  <i class="fa fa-filter"></i> {{ "FORM.INFOS.NO_FILTERS_APPLIED" | translate }}
</div>

<div ng-if="$ctrl.filters" data-bh-filter-bar>

  <!-- TODO: these should be a custom CSS class.  Label is just too small! -->
  <span class="label label-primary" ng-repeat="filter in $ctrl.filters" style="margin-right: 5px;">
    <i class="fa fa-filter"></i>
    {{ filter.displayName | translate }}{{ filter.comparitor ? " " + filter.comparitor : ":" }}
    {{ filter.viewValue }}

    <a href ng-click="$ctrl.onRemoveFilter({ filter : filter.field })" style="color:#fff; margin-left:5px;">
      <i class="fa fa-close"></i>
    </a>
  </span>
</div>
