<div class="btn-group" uib-dropdown dropdown-append-to-body>
  <button class="btn btn-default" uib-dropdown-toggle>{{ "INVOICE_REGISTRY.RECEIPT_CURRENCY" | translate }}</button>
  <button style="min-width : 30px" class="btn btn-default">
    <span>{{$ctrl.selectedCurrency.symbol || '-'}}</span>
  </button>
  <ul class="dropdown-menu" uib-dropdown-menu role="menu">
    <li ng-repeat="currency in $ctrl.currencies.data track by currency.id" role="menuitem">
      <a ng-click="$ctrl.update(currency)" href>{{currency.name}} (<b>{{currency.symbol}}</b>)</a>
    </li>
  </ul>
</div>
