<div class="panel panel-default">

  <div class="panel-heading clearfix">
    <span translate>PATIENT_RECORDS.VISITS.TITLE</span> ({{$ctrl.visits.length}})

    <span class="pull-right">
      <bh-pdf-link
        pdf-url="reports/medical/patients/{{ $ctrl.patientUuid }}/checkins"
        disable-cache="true">
      </bh-pdf-link>
    </span>
  </div>

  <div class="panel-body" style="height : 250px; overflow-y : auto;">

    <div style="text-align : center">
      <p class="text-info" ng-if="$ctrl.loaded && $ctrl.visits.length===0">
      <i class="fa fa-info-circle"></i> <span translate>PATIENT_RECORDS.VISITS.ORIGINAL</span>
      </p>

      <button id="submit-visit" class="btn btn-default" ng-click="$ctrl.admit()">
        <span translate>{{ $ctrl.visiting ? "PATIENT_RECORDS.VISITS.DISCHARGE" : "PATIENT_RECORDS.VISITS.ADMIT"}}</span>
      </button>
    </div>
    <br />

    <div ng-if="$ctrl.loaded && $ctrl.visits.length">
      <label class="control-label">
        <span translate>PATIENT_RECORDS.VISITS.RECENT</span>
      </label>
      <table>
        <tbody>
          <tr data-visit-line ng-repeat="visit in $ctrl.visits | limitTo : CheckInCtrl.limitVisitDisplay">

          <td><i class="fa fa-sign-in"></i> {{visit.start_date | date}} -

          <span ng-if="visit.end_date">
            {{visit.end_date | date}}
            ({{visit.totalDays}} <span translate>PATIENT_REGISTRY.DAYS</span>)
          </span>
          <span ng-if="!visit.end_date">(<b class="text-success"><span translate>PATIENT_RECORDS.VISITS.IN_PROGRESS</span></b>)</span>

          </td>
        </tbody>
      </table>
    </div>
  </div>
</div>
