<div class="flex-header">
  <div class="bhima-title">

    <ol class="headercrumb">
      <li ng-repeat="p in vm.bcPaths" data-method="{{ p.dataMethod }}"  ng-class="{ 'static' : !$last, 'title' : $last }">
        <span ng-hide="p.link">{{ p.label | translate }}</span>
        <span ng-show="p.link">
          <a ng-href="{{ p.link }}" id="{{ vm.prefix + p.id }}" href translate>{{ p.label }}</a>
        </span>
      </li>
    </ol>

    <div class="toolbar">
      <!-- dropdown buttons -->
      <div class="toolbar-item" ng-if="vm.bcDropdowns.length">
        <span ng-repeat="d in vm.bcDropdowns" uib-dropdown toolbar-dropdown>
          <a class="btn btn-sm" ng-class="d.color" id="{{ vm.prefix + d.id }}" data-method="{{ d.dataMethod }}" uib-dropdown-toggle>
            <i class="fa" ng-class="'{{d.icon}}'"></i> {{ d.selected | translate }} <span class="caret"></span>
          </a>
          <ul class="pull-right" uib-dropdown-menu>
            <li ng-repeat="opt in d.option">
              <a href ng-click="vm.helperDropdown(opt, d)" id="{{ vm.prefix + opt.id }}" data-method="{{ opt.dataMethod }}" translate>
                {{ opt.label }}
              </a>
            </li>
          </ul>
        </span>
      </div>

      <!-- buttons Print -->
      <div class="toolbar-item btn-group btn-group-sm" ng-if="vm.buttonPrint.pdfUrl">
        <bh-pdf-print
          pdf-url="{{ vm.buttonPrint.pdfUrl }}">
        </bh-pdf-print>
      </div>

      <!-- dropdown download  -->
      <div class="toolbar-item btn-group btn-group-sm" ng-if="vm.dropdownDownload.reportUrl">
        <bh-renderer-dropdown
          report-url="{{ vm.dropdownDownload.reportUrl }}">
        </bh-renderer-dropdown>
      </div>

      <!-- buttons -->
      <div ng-show="vm.bcButtons.length">
        <button class="toolbar-item btn"
          id="{{ vm.prefix + a.id }}"
          ng-class="a.color"
          ng-repeat="a in vm.bcButtons"
          ng-click="a.action(a.label)"
          data-method="{{ a.dataMethod }}"
          ng-disabled="a.disabled">
          <span class="{{ a.icon }}"></span> {{ a.label }}
        </button>
      </div>

      <!-- labels -->
      <div class="toolbar-item" ng-if="vm.bcLabels.length">
        <label ng-repeat="l in vm.bcLabels" id="{{ vm.prefix + l.id }}" data-method="{{ l.dataMethod }}">
          <strong><span class="{{ l.icon }}"></span> <span translate>{{ l.label }}</span></strong>
        </label>
      </div>
    </div>
  </div>
</div>
