<div class="flex-header">
  <div class="bhima-title">

    <ol class="headercrumb">
      <li ng-repeat="p in vm.bcPaths" data-method="{{ p.dataMethod }}"  ng-class="{ 'static' : !$last, 'title' : $last }">
        <span ng-hide="p.link">{{ p.label | translate }}</span>
        <span ng-show="p.link">
          <a ng-href="{{ p.link }}" id="{{ p.id }}" href>{{ p.label | translate }}</a>
        </span>
      </li>
    </ol>

    <div class="toolbar">
      <!-- dropdown buttons -->
      <div class="toolbar-item" ng-if="vm.bcDropdowns.length">
        <span ng-repeat="d in vm.bcDropdowns" uib-dropdown>
          <button class="btn btn-sm" ng-class="d.color" id="{{ d.id }}" data-method="{{ d.dataMethod }}" uib-dropdown-toggle>
            {{ d.selected | translate }} <span class="caret"></span>
          </button>
          <ul class="pull-right" uib-dropdown-menu>
            <li ng-repeat="opt in d.option">
              <a href ng-click="vm.helperDropdown(opt, d)" id="{{ opt.id }}" data-method="{{ opt.dataMethod }}">
                {{ opt.label | translate }}
              </a>
            </li>
          </ul>
        </span>
      </div>

      <!-- buttons -->
      <div class="toolbar-item btn-group btn-group-sm" ng-show="vm.bcButtons.length">
        <button class="btn"
          id="{{ a.id }}"
          ng-class="a.color"
          ng-repeat="a in vm.bcButtons"
          ng-click="a.action(a.label)"
          data-method="{{ a.dataMethod }}"
          ng-disabled="a.disabled">
          <span class="{{ a.icon }}"></span> {{ a.label }}
        </button>
      </div>

      <!-- labels -->
      <div class="toolbar-item" ng-if="vm.bcLabels.length">
        <label ng-repeat="l in vm.bcLabels" id="{{ l.id }}" data-method="{{ l.dataMethod }}">
          <strong><span class="{{ l.icon }}"></span> {{ l.label | translate }}</strong>
        </label>
      </div>
    </div>
  </div>
</div>
