<!-- inline directive option -->
<div ng-form="formFindPatient" class="form-group" novalidate>
  <div class="input-group" ng-if="session.findAnotherPatient">
    <!-- dropdown button -->
    <div class="input-group-btn" uib-dropdown>
      <button class="btn btn-default" uib-dropdown-toggle>
        {{ session.selected.label | translate }} <span class="caret"></span>
      </button>
      <ul class="uib-dropdown-menu">
        <li ng-repeat="option in session.options">
          <a ng-click="findBy(option)">{{ option.label | translate }}</a>
        </li>
      </ul>
    </div>
    <!-- /dropdown button -->

    <!-- search by ID  -->
    <input ng-model="session.patient"
      ng-if="session.selected.key==0"
      type="text"
      class="form-control"
      placeholder="{{ session.selected.placeholder | translate }}..."
      required>

    <!-- search by Name  -->
    <input ng-model="session.input"
      ng-if="session.selected.key==1"
      type="text"
      class="form-control"
      placeholder="{{ session.selected.placeholder | translate }}..."
      uib-typeahead="patient as formatPatient(patient) for patient in searchByName($viewValue)"
      uib-typeahead-no-results="noPatients"
      uib-typeahead-wait-ms="150"
      typeahead-template-url="/partials/templates/patientListV2.tmpl.html"
      typeahead-on-select="selectPatient($item)"
      required>

    <!-- icon notification -->
    <i ng-if="session.selected.key==1"
      class="form-control-feedback glyphicon"
      ng-class="{'glyphicon-refresh': session.loadStatus == 'loading', 'glyphicon-ok': session.loadStatus == 'loaded', 'glyphicon-warning': session.loadStatus == 'error'}">
    </i>

    <!-- submit button for search by ID -->
    <span ng-if="session.selected.key==0" class="input-group-btn">
      <button class="btn btn-success" type="button" ng-disabled="formFindPatient.$invalid">Submit</button>
    </span>
  </div>

  <!-- notification text  -->
  <div class="alert" ng-class="{'alert-success': session.loadStatus=='loaded', 'alert-danger': session.loadStatus=='error'}"
    ng-if="!session.findAnotherPatient">
    <i class="glyphicon glyphicon-ok"></i>
    <span ng-if="session.loadStatus=='loaded'">
      <b>{{'[' + patient.reference + ']'}}</b>
      {{ patient.name + ' (' + patient.sex + ' ' + patient.age + ')'}}
    </span>
    <span ng-if="session.loadStatus=='error'">{{ 'FIND.PATIENT_NOT_FOUND' | translate }}</span>
    <div class="pull-right">
      <span class="pointer" ng-click="reload()"><i class="glyphicon glyphicon-refresh"></i></span>
    </div>
  </div>
</div>
