<div id="findAccount" class="hidden-print">
  <div ng-if="findAccount.valid">
    <!-- <h4>{{ "FIND.ACCOUNT.ACCOUNT" | translate }}</h4> -->
  </div>
  <div ng-if="!findAccount.valid">
    <h4><b>{{ "FIND.ACCOUNT.ENTER_ACCOUNT" | translate }}</b></h4>
  </div>
  <div ng-if="findAccount.valid">
    <h4><b>{{ "FIND.ACCOUNT.ACCOUNT" | translate }}</b></h4>
  </div>
  <div >
    <div class="hidden-print input-group">
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-folder-open"></span>
      </span>
      <input class="form-bhima" type="text"
             ng-model="accountId"
             ng-readonly="findAccount.valid"
             placeholder="{{ 'FIND.ACCOUNT.PLACEHOLDER' | translate }}"
             typeahead="account.id as findAccount.format(account) for account in accounts | filter:$viewValue | limitTo:10"
             typeahead-template-url="AccountList.html"
             typeahead-on-select="findAccount.request()"
             >
      <span class="input-group-btn" ng-if="findAccount.enableReset">
        <button ng-click="findAccount.reset()"
                ng-disabled="!findAccount.valid"
                class="btn btn-sm btn-default square"><span class="glyphicon glyphicon-refresh"></span></button>
      </span>
      <span class="input-group-btn" ng-if="findAccount.enableSubmit">
        <button ng-click="findAccount.submit()" 
		ng-disabled="!findAccount.valid" 
		class="btn btn-sm btn-default square">{{ "FORM.SUBMIT" | translate }}</button>
      </span>
    </div>
  </div>

  <script type="text/ng-template" id="AccountList.html">
    <a>
      <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
      <span>[{{ match.model.account_number }}]</span>
    </a>
  </script>
</div>
