<div id="findEmployee" class="panel panel-default" ng-class="{'panel-success': findEmployee.valid, 'panel-danger': findEmployee.valid===false}">
  <div class="panel-heading">
    <div ng-switch="findEmployee.submitSuccess">
     <div ng-switch-when="false">
       <span class="glyphicon glyphicon-search"></span> {{ "EFIND.TITLE" | translate }}
     </div>
     <div ng-switch-when="true">
       <!-- Style hack -->
       <span style="margin-right: 5px;" class="glyphicon glyphicon-user"> </span> {{findEmployee.employee.name}} <small>({{findEmployee.employee.sexe}})</small>
       <div class="pull-right" ng-if="findEmployee.enableRefresh">
         <span ng-click="findEmployee.refresh()" class="glyphicon glyphicon-repeat"></span>
       </div>
     </div>
    </div>
  </div>
  <div class="panel-body find-collapse" ng-show="!findEmployee.submitSuccess">
    <div ng-switch on="findEmployee.state">
      <div ng-switch-when="name">
        <div class="input-group">
          <input
          id="findSearch"
          type="text"
          ng-model="findEmployee.selectedEmployee"
          typeahead="employee as employee.name for employee in employeeList | filter:$viewValue | limitTo:8"
          placeholder="{{ 'EFIND.PLACEHOLDER' | translate }}"
          typeahead-on-select="loadEmployee(employee.id)"
          typeahead-template-url="/partials/templates/employeeListItem.tmpl.html"
          class="form-bhima"
          size="25">
          <span class="input-group-btn">
            <button id="submitSearch" ng-disabled="validateNameSearch(findEmployee.selectedEmployee)" ng-click="submitEmployee(findEmployee.selectedEmployee)" class="btn btn-sm btn-default">
              {{ "FORM.SUBMIT" | translate }}
            </button>
          </span>
        </div>
      </div> <!-- End searchName component -->
      <div ng-switch-when="id">
        <div class="input-group">
          <input
            type="text"
            ng-model="findEmployee.employeeId"
            class="form-bhima"
            placeholder="{{ 'EFIND.ENTER_EMPLOYEE_ID' | translate }}">
          <span class="input-group-btn">
            <button ng-click="submitEmployee(findEmployee.employeeId)" class="btn btn-default"> {{ "FORM.SUBMIT" | translate }} </button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
