<!-- displays "There was a problem validating this field. Please check your internet connection." -->
<p ng-message="exception">{{ "VALIDATION.EXCEPTION" | translate }}</p>

<!-- displays "This value is too small for this field." -->
<p ng-message="min">{{ "VALIDATION.MIN" | translate }}</p>

<!-- displays "This value is too large for this field." -->
<p ng-message="max">{{ "VALIDATION.MAX" | translate }}</p>

<!-- displays "This field cannot be empty." -->
<p ng-message="required">{{ "VALIDATION.REQUIRED" | translate }}</p>

<!-- displays "This field must be a valid email." -->
<p ng-message="email">{{ "VALIDATION.EMAIL" | translate }}</p>

<!-- displays "This input is too short." -->
<p ng-message="minlength">{{ "VALIDATION.MINLENGTH" | translate }}</p>

<!-- displays "This input is too long." -->
<p ng-message="maxlength">{{ "VALIDATION.MAXLENGTH" | translate }}</p>

<!-- displays "This field must be a valid number." -->
<p ng-message="number">{{ "VALIDATION.NUMBER" | translate }}</p>

<!-- displays "This field must be a valid date." -->
<p ng-message="date">{{ "VALIDATION.DATE" | translate }}</p>
