<!-- displays "There was a problem validating this field. Please check your internet connection." -->
<p ng-message="exception">{{ "FORM.VALIDATION.EXCEPTION" | translate }}</p>

<!-- displays "This field cannot be empty." -->
<p ng-message="required">{{ "FORM.VALIDATION.REQUIRED" | translate }}</p>

<!-- displays "This value must be a whole number (integer)." -->
<p ng-message="integer">{{ "FORM.VALIDATION.INTEGER" | translate }}</p>

<!-- displays "This field must be unique. This value is already taken. -->
<p ng-message="unique">{{ "FORM.VALIDATION.UNIQUE" | translate }}</p>

<!-- displays "This value is too small for this field." -->
<p ng-message="min">{{ "FORM.VALIDATION.MIN" | translate }}</p>

<!-- displays "This value is too large for this field." -->
<p ng-message="max">{{ "FORM.VALIDATION.MAX" | translate }}</p>

<!-- displays "This field cannot be empty." -->
<p ng-message="required">{{ "FORM.VALIDATION.REQUIRED" | translate }}</p>

<!-- displays "This field must be a valid email." -->
<p ng-message="email">{{ "FORM.VALIDATION.EMAIL" | translate }}</p>

<!-- displays "This input is too short." -->
<p ng-message="minlength">{{ "FORM.VALIDATION.MINLENGTH" | translate }}</p>

<!-- displays "This input is too long." -->
<p ng-message="maxlength">{{ "FORM.VALIDATION.MAXLENGTH" | translate }}</p>

<!-- displays "This field must be a valid number." -->
<p ng-message="number">{{ "FORM.VALIDATION.NUMBER" | translate }}</p>

<!-- displays "This field must be a valid date." -->
<p ng-message="date">{{ "FORM.VALIDATION.DATE" | translate }}</p>
