<!-- displays "This value is too small for this field." -->
<p ng-message="min">This value is too small for this field.</p>

<!-- displays "This value is too large for this field." -->
<p ng-message="max">This value is too large for this field.</p>

<!-- displays "This field cannot be empty." -->
<p ng-message="required">This field cannot be empty.</p>

<!-- displays "This field must be a valid email." -->
<p ng-message="email">This field must be a valid email.</p>

<!-- displays "This input is too short." -->
<p ng-message="minlength">This input is too short.</p>

<!-- displays "This input is too long." -->
<p ng-message="maxlength">This input is too long.</p>

<!-- displays "This field must be a valid number." -->
<p ng-message="number">This field must be a valid number.</p>

<!-- displays "This field must be a valid date." -->
<p ng-message="date">This field must be a valid date.</p>
