<!--
Limitations of current templating structure:
 * Assumption is made children of the root node are folders
 * Only two levels of depth is supported for children
-->
<div class="flex-tree">
  <ul>

    <!-- first level: unit -->
    <li ng-repeat="unit in $ctrl.units track by unit.id">
      <a ng-click="$ctrl.toggleUnit(unit)" data-unit-key="{{ ::unit.key }}">
        <span
          class="fa"
          ng-class="{
          'fa-exclamation-circle' : unit.children.length === 0,
          'fa-folder-open' : unit.open && unit.children.length > 0,
          'fa-folder' : !unit.open && unit.children.length > 0}">
        </span>
        <span class="tree-title" translate>{{unit.key}}</span>
      </a>

      <ul ng-if="$ctrl.isOpen(unit)">

        <!-- second level: child -->
        <li ng-repeat="child in unit.children track by child.id" ng-class="{ 'selected' : child.selected }" class="subtree">

          <!-- if there is a subtree, this is the top level node -->
          <a ng-click="$ctrl.toggleUnit(child)" ng-if="$ctrl.isParentNode(child)" data-unit-key="{{ ::child.key }}">
            <span
              class="fa"
              ng-class="{
              'fa-exclamation-circle' : child.children.length === 0,
              'fa-folder-open' : child.open && child.children.length > 0,
              'fa-folder' : !child.open && child.children.length > 0}">
            </span>
            <span class="tree-title" translate>{{child.key}}</span>
          </a>

          <!-- otherwise, it is just a plan link -->
          <a ng-click="$ctrl.navigate(child)" ng-if="$ctrl.isChildNode(child)" data-unit-key="{{ ::child.key }}">
            <span class="fa fa-file-o"></span>
            <span class="tree-title" translate>{{child.key}}</span>
          </a>

          <ul ng-if="$ctrl.isOpen(child)">

            <!-- third level: subchild -->
            <li ng-repeat="subchild in child.children track by subchild.id" ng-class="{ 'selected' : subchild.selected }" class="subtree">
              <a ng-click="$ctrl.navigate(subchild)" ng-class="{ 'selected' : subchild.selected }" data-unit-key="{{ ::subchild.key }}">
                <span class="fa fa-file-o"></span>
                <span class="tree-title" translate>{{subchild.key}}</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>
