<!-- 
Limitations of current templating structure:
* Assumption is made children of the root node are folders 
* Only one level of depth is supported for children -->
<div class="flex-tree">
  <ul>
    <li ng-repeat-start="unit in NavCtrl.units">
      <a ng-click="NavCtrl.toggleUnit(unit)"> 
        <span 
          class="glyphicon"
          ng-class="{
          'glyphicon-exclamation-sign' : unit.children.length === 0,
          'glyphicon-folder-open' : unit.open && unit.children.length > 0,
          'glyphicon-folder-close' : !unit.open && unit.children.length > 0}">
        </span> 
        <span class="tree-title">{{unit.key | translate}}</span>
      </a>
    </li>
    
    <!-- Naive one level child depth -->
    <li 
      ng-repeat-end 
      ng-repeat="child in unit.children"
      ng-if="unit.open"
      class="file"
      ng-class="{'selected' : child.selected}">
      <a ng-click="NavCtrl.navigate(child)">
        <span class="glyphicon glyphicon-file"></span>
        <span class="tree-title">{{child.name}}</a></span>
      </a>
    </li>
  </ul>
</div>
