<header data-header>
  {{ 'PURCHASE.CREATE.TITLE' | translate }}
</header>

<nav>
  <div class="pull-left">
    <ol class="breadcrumb">
      <li><a href="#/"><span class="glyphicon glyphicon-home"></span></a></li>
      <li><a href="#/purchase_menu">{{ "PURCHASE_MENU.TITLE" | translate }}</a></li>
      <li class="active">{{ "PURCHASE.CREATE.TITLE" | translate }}</li>
    </ol>
  </div>

  <div class="pull-right">
    <a class="btn btn-sm btn-default square" ng-href="/#/creditor/">{{ 'PURCHASE.CREATE.ADD_SUPPLIER' | translate }}</a>
  </div>
</nav>

<main>
  <div class="row margin-top-10">
    <div class="col-xs-5">
      <div class="panel panel-default square">

        <div class="panel-heading square">
          <span class="glyphicon glyphicon-cog"></span> {{ 'PURCHASE.CREATE.CONFIGURE' | translate }}
        </div>

        <div class="panel-body purchase-header">

          <div class="alert alert-info po-alert">
            <strong>{{ 'PURCHASE.PURCHASE_TYPE' | translate }} : </strong>
            <input type="radio" id="indirectPO" ng-model="session.is_direct" ng-value="false" ng-change="getPurchaseType()">
            <label for="indirectPO">{{ 'PURCHASE.INDIRECT' | translate }}</label>
            <span class="po-type-space"></span>
            <input type="radio" id="directPO" ng-model="session.is_direct" ng-value="true" ng-change="getPurchaseType()">
            <label for="directPO">{{ 'PURCHASE.DIRECT' | translate }}</label>
          </div>

          <div class="form-group">
            <label for="saledate">{{ 'PURCHASE.CREATE.DATE' | translate }}</label>
            <input type="date" id="purchaseDate" class="form-bhima" ng-model="session.purchase.purchase_date" ng-max="{{ session.today }}" max="{{ session.today | date:'yyyy-MM-dd' }}">
          </div>

          <div class="form-group">
            <label for="select-cred">{{ 'PURCHASE.CREATE.SUPPLIER' | translate }}</label>
            <select id="select-cred" ng-change="selectCreditor(session.creditor)" ng-model="session.creditor" ng-options="c as c.name for c in creditor.data" class="form-bhima">
              <option value="" ng-value="" disabled="disabled">--{{ 'PURCHASE.CREATE.SELECT_CREDITOR' | translate }}--</option>
            </select>
          </div>

          <div class="form-group">
            <label for="select-cred">{{ 'PURCHASE.CREATE.TO_DELIVER_TO' | translate }}</label>
            <select id="select-cred" ng-change="initPanelSuccess()" ng-model="session.receiver" ng-options="e as e.name for e in employee.data" class="form-bhima" required>
              <option value="" ng-value="" disabled="disabled">--{{ 'PURCHASE.CREATE.SELECT_HEADER' | translate }}--</option>
            </select>
          </div>

          <div ng-switch on="session.is_direct">

            <div ng-switch-when="false">
              <div class="form-group">
                <label for="select-employee">{{ 'PURCHASE.CREATE.BUYER' | translate}}</label>
                <select id="select-employee" ng-model="session.employee" ng-options="e as e.name for e in employee.data" class="form-bhima" ng-change="initPanelSuccess()">
                  <!-- hack default select value to force a selection of an item -->
                  <option ng-value="" disabled="disabled">--{{ 'PURCHASE.CREATE.SELECT_EMPLOYEE' | translate }}--</option>
                </select>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-xs-7">
      <div class="panel panel-default square">
        <div class="panel-heading square">
          <span class="glyphicon glyphicon-list-alt"></span>
          <strong>
            <span>{{ session.label_purchase_type }}</span>
          </strong>
          {{ 'PURCHASE.TITLE' | translate }}
        </div>

        <div class="panel-body purchase-header">
          <div class="row">

            <div class="col-xs-12">

              <table class="table table-bordered">
                <thead>
                <tr>
                  <th>{{ 'PURCHASE.CREATE.ORDER' | translate }}</th>
                  <th> {{ 'PURCHASE.CREATE.DATE' | translate }}</th>
                  <th> {{ 'PURCHASE.CREATE.NOTE' | translate }}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>{{session.hr_id}}</td>
                  <td>{{session.purchase.purchase_date | date}}</td>
                  <td>{{session.purchase.note}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <table ng-if="session.creditor" class="table table-bordered">
                <thead>
                <tr>
                  <th> {{ 'PURCHASE.CREATE.SUPPLIER' | translate }}</th>
                </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <strong>{{session.creditor.name}}</strong>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <table ng-if="session.header" class="table table-bordered">
                <thead>
                <tr>
                  <th> {{ 'PURCHASE.CREATE.DELIVERY_HEADER' | translate }}</th>
                </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <strong>{{session.header.code}}</strong> /
                      <span>{{session.header.prenom}}</span>
                      <span ng-if="session.header.prenom && session.header.name">, </span>
                      <span>{{session.header.name}}</span>
                      <span ng-if="session.header.postnom && session.header.name"> - </span>
                      <span>{{session.header.postnom}}</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <table ng-if="session.employee" class="table table-bordered">
                <thead>
                <tr>
                  <th> {{ 'PURCHASE.CREATE.BUYER' | translate }}</th>
                </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <strong>{{session.employee.code}}</strong> /
                      <span>{{session.employee.prenom}}</span>
                      <span ng-if="session.employee.prenom && session.employee.name">, </span>
                      <span>{{session.employee.name}}</span>
                      <span ng-if="session.employee.postnom && session.employee.name"> - </span>
                      <span>{{session.employee.postnom}}</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">

      <!-- Item Warnings -->
      <div ng-repeat="warning in warnings" class="alert alert-warning square" ng-if="warning.result"><span class="glyphicon glyphicon-exclamation-sign"></span> {{warning.message | translate}}</div>

      <div class="panel panel-default square" ng-class="{'panel-success' : session.panel_success.direct_or_indirect}">
        <div class="panel-heading square">
          <span class="glyphicon glyphicon-list"></span> {{ 'PURCHASE.CREATE.PURCHASE_ITEM' | translate }}
          <!-- FIXME style hack -->
          <a ng-class="{'disabled' : !(session.panel_success.direct_or_indirect)}" class="pull-right menu-item" ng-click="addPurchaseItem()" style="margin-top: 0px"><span class="glyphicon glyphicon&#45;plus"></span> {{ "PURCHASE.CREATE.ADD_LINE_ITEM" | translate }}</a>
        </div>


        <table class='table-condensed table' ng-if="session.panel_success.direct_or_indirect">
          <thead>
            <tr>
              <th>{{ "COLUMNS.ITEM" | translate }}</th>
              <th>{{ "COLUMNS.DESCRIPTION" | translate }}</th>
              <th>{{ "COLUMNS.QTY" | translate }}</th>
              <th>{{ "COLUMNS.PURCHASE_PRICE" | translate }}</th>
              <th>{{ "COLUMNS.AMOUNT" | translate }}</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <!-- FIXME: strange filter -->
            <tr ng-class="{'incomplete-outline': !purchaseItem.code, 'complete-outline': purchaseItem.code}" ng-repeat="purchaseItem in session.items">
              <td>
                <input
                class="form-invoice"
                type="text"
                typeahead-template-url="/partials/templates/invoiceListItem.tmpl.html"
                ng-model="purchaseItem.selectedReference"
                typeahead="inventoryItem as inventoryItem.code for inventoryItem in inventory.data | filter:$viewValue | limitTo:8"
                typeahead-on-select="updatePurchaseItem(purchaseItem, purchaseItem.selectedReference)"
                placeholder="Search Inventory">
              </td>

              <!-- -1 for no tab, 0 to allow -->
              <td><input ng-show="purchaseItem.isSet" class="form-invoice" disabled value="{{purchaseItem.text}}"></td>
              <td><input ng-change="cacheQuantity(purchaseItem)" tabindex="{{session.tablock}}" ng-show="purchaseItem.isSet" class="form-invoice" ng-model="purchaseItem.quantity"></td>
              <td><input tabindex="{{session.tablock}}" ng-show="purchaseItem.isSet" class="form-invoice" ng-model="purchaseItem.purchase_price"></td>
              <td><input tabindex="{{session.tablock}}" ng-show="purchaseItem.isSet" class="form-invoice" disabled value="{{purchaseItem.quantity * purchaseItem.purchase_price | currency}}"></td>
              <td><a ng-click="removePurchaseItem($index)"><span class="glyphicon glyphicon-trash"></span></a></td>
            </tr>

            <tr>
              <!-- Style hack -->
              <td colspan="4" style="margin-right = 50px; text-align: right;"><b> {{ "PURCHASE.CREATE.TOTAL_COST" | translate }}</b></td>
              <td colspan="2"><b>{{ purchaseTotal() | currency }}</b></td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>

<footer>
  <div class="pull-right">
    <a ng-disabled="verifyPurchase(session.items)" ng-click="submitPurchase()" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-floppy-open"></span> {{ "PURCHASE.CREATE.SUBMIT_ORDER" | translate }}</a>
  </div>
</footer>
