<div class="modal-header">
  <h4>{{ "CASH.VOUCHER.DEBTOR_INVOICES" | translate }}</h4>
</div>

<div class="modal-body" data-debtor-invoices-modal>

  <!-- warn the client if not debtor id has been passed in -->
  <p ng-show="CashInvoiceModalCtrl.missingId" class="text-danger text-center">
    <span class="glyphicon glyphicon-alert"></span>
    {{ "FORM.ERRORS.MISSING_DEBTOR_ID" | translate }}
  </p>

  <!-- the ui grid to select debtor invoices -->
  <div ng-if="!CashInvoiceModalCtrl.missingId">
    <div ui-grid="CashInvoiceModalCtrl.gridOptions" ui-grid-selection class="modal-grid" id="debtorInvoicesGrid">

      <!-- indicate that data is still being loaded from the server -->
      <div class="grid-msg-overlay" ng-show="CashInvoiceModalCtrl.loadingState">
        <div class="msg">
          <span><span class="glyphicon glyphicon-refresh"></span> {{ "FORM.INFO.LOADING" | translate }}</span>
        </div>
      </div>

      <!-- indicate that there is no data for the requested query -->
      <div class="grid-msg-overlay" ng-show="CashInvoiceModalCtrl.noData">
        <div class="msg">
          <span class="text-info">
            <span class="glyphicon glyphicon-info-sign"></span> {{ "FORM.INFO.NO_RECORDS_DATABASE" | translate }}
          </span>
        </div>
      </div>

      <!-- indicate that some error occurred -->
      <div class="grid-msg-overlay" ng-show="CashInvoiceModalCtrl.loadingError">
        <div class="msg">
          <span class="text-danger">
            <span class="glyphicon glyphicon-alert"></span> {{ CashInvoiceModalCtrl.loadingError.code | translate }}
          </span>
        </div>
      </div>
    </div>
  </div>

  <div ng-show="CashInvoiceModalCtrl.empty" class="text-warning">
    <span class="glyphicon glyphicon-info-sign"></span> {{ "FORM.WARNINGS.EMPTY_SELECTION" | translate }}
  </div>
</div>

<div class="modal-footer">
  <button
    type="submit"
    class="btn btn-primary"
    ng-class="{'btn-danger' : (CashInvoiceModalCtrl.missingId || CashInvoiceModalCtrl.loadingError) }"
    ng-click="CashInvoiceModalCtrl.submit()"
    ng-disabled="(CashInvoiceModalCtrl.missingId || CashInvoiceModalCtrl.loadingError)"
    data-debtor-invoices-modal-submit
    >
    {{ "FORM.BUTTONS.SUBMIT" | translate }}
  </button>
  <button
    type="button"
    class="btn btn-default"
    ng-click="CashInvoiceModalCtrl.cancel()"
    data-debtor-invoices-modal-cancel>
    {{ "FORM.BUTTONS.CANCEL" | translate }}
  </button>
</div>
