<div class="modal-header">
  <h4>{{ "CASH.MODALS.RECEIPT.TITLE" | translate }}</h4>
</div>

<div class="modal-body">

  <!-- warn the client if not debtor id has been passed in -->
  <p ng-show="CashReceiptModalCtrl.HttpError" class="text-danger text-center">
    <span class="glyphicon glyphicon-alert"></span>
    {{ CashReceiptModalCtrl.HttpError |translate }}
  </p>

  <section class="row">

    <!-- the enterprise address information -->
    <div class="col-xs-6">
      <address>
        <strong>{{ CashReceiptModalCtrl.enterprise.name }}</strong> <br />
        {{ CashReceiptModalCtrl.enterprise.village }} <br />
        {{ CashReceiptModalCtrl.enterprise.po_box }} <br />
        <abbr title="{{ 'RECEIPTS.TELEPHONE' | translate }}">{{ "RECEIPTS.TEL" | translate }}</abbr>: {{ CashReceiptModalCtrl.enterprise.phone }} <br />
        {{ "RECEIPTS.FAX" | translate }} {{ CashReceiptModalCtrl.enterprise.fax }} <br />
      </address>
    </div>

    <!-- the patient's billing information -->
    <div class="col-xs-6">
      {{ "RECEIPTS.CLIENT" | translate }}: {{ CashReceiptModalCtrl.patient.label }} <br />
      {{ "RECEIPTS.CLIENT_ID" | translate }}: {{ CashReceiptModalCtrl.patient.reference }} <br />
      {{ "RECEIPTS.DATE" | translate }}: {{ CashReceiptModalCtrl.receipt.date | date }} <br />
    </div>
  </section>

  <hr />

  <form>
    <fieldset>
    <!-- translate: "Receipt Details" -->
      <legend>{{ "RECEIPTS.DETAILS" | translate }}</legend>

      <!-- caution or not -->
      <div class="form-group">
        <!-- translate: "Type" -->
        <label class="control-label">{{ "RECEIPTS.TYPE" | translate }}</label>
        <p class="form-control-static">
          {{ (CashReceiptModalCtrl.receipt.is_caution ? "CASH.VOUCHER.CAUTION" : "CASH.VOUCHER.INVOICE") | translate }}
        </p>
      </div>

      <div class="form-group" ng-show="CashReceiptModalCtrl.receipt.description">
        <!-- translate: "Notes" -->
        <label class="control-label">{{ "RECEIPTS.NOTES" | translate }}</label>
        <p class="form-control-static">
          {{ CashReceiptModalCtrl.receipt.description }}
        </p>
      </div>

      <div class="form-group" ng-show="CashReceiptModalCtrl.receipt.canceled">
        <!-- translate: "Status" -->
        <label class="control-label">{{ "RECEIPTS.STATUS" | translate }}</label>
        <p class="form-control-static">
          <span class="glyphicon glyphicon-remove-sign text-danger"></span> {{ "RECEIPT.CANCELED" | translate }}
        </p>
      </div>
    </fieldset>
  </form>

  <hr />

  <form>
    <div class="form-group">
      <label class="control-label">{{ "RECEIPTS.TOTAL_BILLED" | translate }}</label>
      <p class="form-control-static">
        {{ CashReceiptModalCtrl.receipt.amount | currency:CashReceiptModalCtrl.enterprise.currency_id }}
      </p>
    </div>
    <div class="form-group" ng-hide="CashReceiptModalCtrl.isEnterpriseCurrency(CashReceiptModalCtrl.receipt.currency_id)">
      <label class="control-label">{{ "RECEIPTS.EXCHANGE_RATE" | translate }}</label>
      <p class="form-control-static">
        {{ CashReceiptModalCtrl.rate | currency:CashReceiptModalCtrl.receipt.currency_id }}
      </p>
    </div>
    <div class="form-group">
      <label class="control-label">{{ "RECEIPTS.TOTAL_PAID" | translate }}</label>
      <p class="form-control-static">
        {{ CashReceiptModalCtrl.receipt.total | currency:CashReceiptModalCtrl.receipt.currency_id }}
      </p>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button  class="btn btn-success" ng-click="CashReceiptModalCtrl.cancel()">
    {{ "FORM.DISMISS" | translate }}
  </button>
</div>
