<form name="BarcodeForm" bh-form-defaults novalidate>

  <div class="modal-header">
    <ol class="headercrumb">
      <li class="static">{{ ::CashBarCtrl.cashbox.label }}</li>
      <li class="title" translate>CASH.VOUCHER.BARCODE.SCAN</li>
    </ol>
  </div>

  <div class="modal-body text-center" style="min-height:300px;">

    <!-- state: awaiting barcode input -->
    <h2 translate>CASH.VOUCHER.BARCODE.SCAN</h2>

    <h1>
      <i class="fa fa-barcode fa-3x"></i>
    </h1>

    <p ng-class="{ 'animate-flicker' : CashBarCtrl.flicker }">
      <span class="text-muted" ng-if="CashBarCtrl.step === CashBarCtrl.INITIALIZED">
        <span translate>CASH.VOUCHER.BARCODE.AWAITING_INPUT</span>
      </span>

      <span class="text-primary" ng-if="CashBarCtrl.step === CashBarCtrl.LOADING">
        <i class="fa fa-info-circle"></i>
        <span translate>CASH.VOUCHER.BARCODE.AWAITING_HTTP</span>
      </span>

      <span class="text-success" ng-if="CashBarCtrl.step === CashBarCtrl.READ_SUCCESS">
        <i class="fa fa-check-circle-o"></i> <span translate>CASH.VOUCHER.BARCODE.READ_SUCCESS</span> {{ ::CashBarCtrl.invoice.reference }}
      </span>

      <span class="text-danger" ng-if="CashBarCtrl.step === CashBarCtrl.READ_ERROR">
        <i class="fa fa-danger-sign"></i> <span translate>CASH.VOUCHER.BARCODE.READ_ERROR</span>
      </span>
    </p>

    <!-- hidden barcode input -->
    <div style="width:0; overflow: hidden;">
      <input ng-model="CashBarCtrl.barcode" ng-change="CashBarCtrl.triggerBarcodeRead()" bh-focus-on="true">
    </div>
  </div>

  <div class="modal-footer text-right">
    <button type="button" class="btn btn-default" ng-click="CashBarCtrl.dismiss()">
      <span translate>FORM.BUTTONS.CANCEL</span>
    </button>
  </div>

</form>
