<div class="modal-header">
  <h4>{{ 'CASH.SELECTION.TITLE' | translate }}</h4>
</div>

<div class="list-group">
  <button type="button" class="list-group-item"
    ng-repeat="cash in $ctrl.cashboxes"
    ng-click="$ctrl.selectCashbox(cash.id, $index)"
    ng-class="{'active' : $ctrl.indexSelected === $index}">
    <span class="glyphicon glyphicon-inbox"></span>
    {{ cash.label }}
    <span ng-if="$ctrl.indexSelected === $index" class="pull-right"><i class="glyphicon glyphicon-ok"></i></span>
  </button>
</div>

<div class="modal-footer">
  <button type="button" name="button" class="pull-left btn btn-default"
    ng-click="$ctrl.dismiss()"
    ng-disabled="!$ctrl.cashboxId">
    {{ 'FORM.BUTTONS.CANCEL' | translate }}
  </button>
  <button type="button" name="button" class="pull-right btn btn-primary"
    ng-click="$ctrl.close()"
    ng-disabled="!$ctrl.cashboxId && !$ctrl.selectedCashbox.id">
    {{ 'FORM.BUTTONS.OK' | translate }}
  </button>
  <div class="clearfix"></div>
</div>
