<form name="TransferForm" bh-submit="TransferCtrl.submit(TransferForm)" bh-form-defaults novalidate>

  <div class="modal-header">
    <ol class="headercrumb">
      <li class="static">
        {{::TransferCtrl.cashbox.label}}
      </li>
      <li class="title">
        {{ ::"CASH.TRANSFER.TITLE" | translate }}
      </li>
    </ol>
  </div>

  <div class="modal-body">

    <section ng-show="TransferCtrl.cashAccount.number">
      <p>
        <i class="fa fa-info-circle text-primary"></i> You are transferring funds out of the cashbox.
      </p>
      <dl class="dl-horizontal">
        <dt>From</dt>
        <dd>[{{TransferCtrl.cashAccount.number}}] {{TransferCtrl.cashAccount.label }}</dd>
        <dt>To</dt>
        <dd>[{{TransferCtrl.transferAccount.number}}] {{TransferCtrl.transferAccount.label }}</dd>
      </dl>
      <p>Please perform a cash count and indicate both the currency and amount to be transferred in the form below.</p>
    </section>

    <bh-currency-select
      id="transfer-currency-select"
      currency-id="TransferCtrl.record.currency_id"
      validation-trigger="TransferForm.$submitted"
      disable-ids="TransferCtrl.disabledCurrencyIds"
      on-change="TransferCtrl.loadAccountDetails()"
      cashbox-id="TransferCtrl.cashbox.id">
    </bh-currency-select>

    <bh-currency-input
      id="transfer-currency-input"
      currency-id="TransferCtrl.record.currency_id"
      model="TransferCtrl.record.amount"
      form="TransferForm"
      validation-trigger="TransferForm.$submitted">
    </bh-currency-input>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-default"
      ui-sref="^.window({ id : TransferCtrl.cashbox.id })"
      data-modal-action="dismiss">
      {{ "FORM.BUTTONS.CANCEL" | translate }}
    </button>

    <bh-loading-button
      loading-state="TransferForm.$loading"
      ng-disabled="!TransferCtrl.cashbox"
      >
      {{ "FORM.BUTTONS.SUBMIT" | translate }}
    </bh-loading-button>

  </div>
</form>
