<form name="TransferForm" ng-submit="CashTransferModalCtrl.submit(TransferForm.$invalid)" novalidate>

  <div class="modal-header">
    <h4>{{ "CASH.VOUCHER.CASHBOXES.TRANSFER" | translate }}</h4>
  </div>

  <div class="modal-body">

    <p class="text-danger text-center" ng-hide="CashTransferModalCtrl.cashBox">
      <span class="glyphicon glyphicon-alert"></span>
      {{ "CASH.MODALS.MISSING_CASH_BOX_ID" | translate }}
    </p>

    <uib-alert type="info" ng-show="CashTransferModalCtrl.cashBox">
      <p>{{ "CASH.MODALS.FINANCIAL_DETAIL" | translate }} </p>

      <p>{{"CASH.CASHBOX" | translate}} : {{ CashTransferModalCtrl.cashBox.text }} </p>
      <div ng-if="CashTransferModalCtrl.currency_id">
        <p>{{"COLUMNS.BALANCE" | translate}} : {{CashTransferModalCtrl.cashAccountBalance.balance | currency:CashTransferModalCtrl.currency_id}}</p>
      </div>
    </uib-alert>   

    <hr/>

    <bh-currency-input
      id="transferCurrencyInput"
      currency-id="CashTransferModalCtrl.currency_id"
      model="CashTransferModalCtrl.amount"
      max-value="CashTransferModalCtrl.cashAccountBalance.balance"
      form="TransferForm"
      validation-trigger="TransferForm.$submitted"
      on-currency-change="CashTransferModalCtrl.handleCashCurrencyChange(currency)"
      error-message="{{ CashTransferModalCtrl.errorKey | translate }}"
      un-supported-currency-ids="CashTransferModalCtrl.invalidCurrencyIds"
      ng-if="CashTransferModalCtrl.invalidCurrencyIds"
      >
    </bh-currency-input>

    <span id="succed-label" class="text-success" ng-show="TransferForm.$submitted && CashTransferModalCtrl.success">
      <i class="glyphicon glyphicon-ok-sign"></i> {{ "CASH.VOUCHER.CASHBOXES.SUCCESS" | translate }}
    </span>
  </div>

  <div class="modal-footer">
    <button
      type="submit"
      id="submit-transfer"
      class="btn btn-primary"
      data-method="submit"
      ng-disabled="!CashTransferModalCtrl.cashBox"
      data-transfer-modal-submit
      >
      {{ "FORM.SUBMIT" | translate }}
    </button>

    <button
      type="button"
      class="btn btn-default"
      ng-click="CashTransferModalCtrl.cancel()"
      data-transfer-modal-cancel>
      {{ "FORM.CANCEL" | translate }}
    </button>
  </div>
</form>



