<div class="ui-grid-cell-contents text-right" uib-dropdown dropdown-append-to-body  data-row="{{row.entity.label}}">
  <a href uib-dropdown-toggle data-action="open-dropdown-menu">
    <span data-method="action" translate>FORM.BUTTONS.ACTIONS</span>
    <span class="caret"></span>
  </a>

  <ul data-row-menu="{{row.entity.label}}" class="dropdown-menu-right" bh-dropdown-menu-auto-dropup uib-dropdown-menu>
    <li class="dropdown-header text-ellipsis"  style="max-width:250px;">
      <a> {{row.entity.label}} </a>
    </li>
  
    <li class="divider"></li>

    <li>
      <a data-method="edit-record" ng-click="grid.appScope.consult(row.entity)" href>
        <i style="color: {{ row.entity.color }}" class="fa fa-folder-open"></i> <span translate>TABLE.COLUMNS.CONSULT</span>
      </a>
    </li>
  </ul>
</div>
