<header data-header>
  {{ 'PURCHASE.CONFIRM.TITLE' | translate }}
</header>

<nav>
  <div class="pull-left">
    <ol class="breadcrumb">
      <li><a href="#/"><span class="glyphicon glyphicon-home"></span></a></li>
      <li class="active">{{ "PURCHASE.CONFIRM.TITLE" | translate }}</li>
    </ol>
  </div>
</nav>

<main>
  <div class="row margin-top-10">
    <div class="col-xs-5">

      <div class="panel panel-default square">
        <div class="panel-heading square">
          {{ "PURCHASE.CONFIRM.TITLE" | translate }}
        </div>

        <div class="panel-body">

          <div class="alert alert-info po-alert">
            <strong>{{ 'PURCHASE.PURCHASE_TYPE' | translate }} : </strong>
            <input type="radio" id="indirectPO" ng-model="purchaseConfirmCtrl.is_direct" ng-value="false" ng-click="purchaseConfirmCtrl.resetSelected()">
            <label for="indirectPO">{{ 'PURCHASE.INDIRECT' | translate }}</label>
            <span class="po-type-space"></span>
            <input type="radio" id="directPO" ng-model="purchaseConfirmCtrl.is_direct" ng-value="true"  ng-click="purchaseConfirmCtrl.resetSelected()">
            <label for="directPO">{{ 'PURCHASE.DIRECT' | translate }}</label>
          </div>

          <div class="input-group" style="margin-bottom: 15px">
            <span class="input-group-btn">
              <button disabled class="btn btn-default btn-sm"><span class="glyphicon glyphicon-search"></span></button>
            </span>
             <input class="form-bhima" placeholder="{{'PURCHASE.CONFIRM.FILTER' | translate }}" ng-model="purchaseConfirmCtrl.filter">
          </div>

          <table ng-if="!purchaseConfirmCtrl.is_direct" class="table table-bordered table-condensed">
            <thead>
              <tr>
                <th>{{"COLUMNS.DATE" | translate}}</th>
                <th>{{"COLUMNS.REFERENCE" | translate}}</th>
                <th>{{"COLUMNS.EMPLOYEE" | translate}}</th>
                <th>{{ "COLUMNS.ACTIONS" | translate }}</th>
              </tr>
            </thead>

            <tbody>
              <tr ng-if="!purchaseConfirmCtrl.indirect_purchase.data.length">
                <td colspan="4">
                  <div class="alert alert-warning square">{{ "PURCHASE.NOT_FOUND" | translate }}</div>
                </td>
              </tr>

              <tr ng-repeat="item in purchaseConfirmCtrl.indirect_purchase.data | filter : purchaseConfirmCtrl.filter"
                  ng-class="{'selected-success': purchaseConfirmCtrl.selected.uuid===item.uuid}">
                  <td>{{item.purchase_date | date}}</td>
                  <td><a href="/#/invoice/purchase/{{item.uuid}}">{{item.abbr}}{{item.reference}}</td>
                  <td>{{item.name}}</td>
                  <td><a class="menu-item" ng-click="purchaseConfirmCtrl.confirmPurchase(item.uuid)"><span class="glyphicon glyphicon-arrow-right"></span></a></td>
              </tr>            
            </tbody>
          </table>

          <table ng-if="purchaseConfirmCtrl.is_direct" class="table table-bordered table-condensed">
            <thead>
              <tr>
                <th>{{"COLUMNS.DATE" | translate}}</th>
                <th>{{"COLUMNS.REFERENCE" | translate}}</th>
                <th>{{"COLUMNS.SUPPLIER" | translate}}</th>
                <th>{{ "COLUMNS.ACTIONS" | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-if="!purchaseConfirmCtrl.direct_purchase.data.length">
                <td colspan="4">
                  <div class="alert alert-warning square">{{ "PURCHASE.NOT_FOUND" | translate }}</div>
                </td>
              </tr>

              <tr ng-repeat="item in purchaseConfirmCtrl.direct_purchase.data | filter : purchaseConfirmCtrl.filter"
                  ng-class="{'selected-success': purchaseConfirmCtrl.selected.uuid===item.uuid}">
                  <td>{{item.purchase_date | date}}</td>
                  <td><a href="/#/invoice/purchase/{{item.uuid}}">{{item.abbr}}{{item.reference}}</td>
                  <td><strong>{{item.name}}</strong></td>
                  <td><a class="menu-item" ng-click="purchaseConfirmCtrl.confirmPurchase(item.uuid)"><span class="glyphicon glyphicon-arrow-right"></span></a></td>
              </tr>            
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-xs-7">
      <div class="panel square" ng-class="{'panel-success': purchaseConfirmCtrl.selected, 'panel-default' : !purchaseConfirmCtrl.selected}">
        <div class="panel-heading square">
          <span class="glyphicon glyphicon-list-alt"></span>
          {{ "PURCHASE.CONFIRM.CONFIRM_PAY" | translate }} <small>{{purchaseConfirmCtrl.selected.uuid}}</small>
        </div>

        <div class="panel-body" ng-if="purchaseConfirmCtrl.selected">
          <table class="table table-bordered table-condensed">
            <thead>
              <tr>
                <th colspan="2">{{ "PURCHASE.CONFIRM.DETAILS" | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{"COLUMNS.ID" | translate}}</td><td>{{purchaseConfirmCtrl.selected.uuid}}</td>
              </tr>
              <tr>
                <td>{{"COLUMNS.NOTE" | translate}}</td><td>{{purchaseConfirmCtrl.selected.note}}</td>
              </tr>
              <tr ng-if="!purchaseConfirmCtrl.is_direct">
                <td>{{"COLUMNS.EMPLOYEE" | translate}}</td><td>{{purchaseConfirmCtrl.selected.name}}</td>
              </tr>
              <tr ng-if="purchaseConfirmCtrl.is_direct">
                <td>{{"COLUMNS.SUPPLIER" | translate}}</td><td><strong>{{purchaseConfirmCtrl.selected.name}}</strong></td>
              </tr>
              <tr>
                <td>{{"COLUMNS.COST" | translate}}</td><td><b>{{purchaseConfirmCtrl.selected.cost | currency}}</b></td>
              </tr>
            </tbody>
          </table>

          <button ng-click="purchaseConfirmCtrl.confirmPayment()" class="square btn btn-success btn-sm">  {{ "PURCHASE.CONFIRM.CONFIRM_PAY_OF" | translate }} <b>{{purchaseConfirmCtrl.selected.cost | currency}}</b> {{ "PURCHASE.CONFIRM.BY" | translate }} 
          <b ng-if="!purchaseConfirmCtrl.is_direct">{{purchaseConfirmCtrl.selected.name}}</b>
          <b ng-if="purchaseConfirmCtrl.is_direct">{{purchaseConfirmCtrl.selected.name}}</b>
          </button>
        </div>
      </div>
    </div>
  </div>
</main>

