<div class="flex-header">
  <div class="bhima-title">
    <ol class="headercrumb">
      <li class="static">{{ "TREE.ADMIN" | translate }}</li>
      <li class="static">{{ "TREE.LOCATION" | translate }}</li>
      <li class="active">{{ "PROVINCE.TITLE" | translate }}</li>
    </ol>
  </div>
</div>

<div class="flex-util">
  <a href="#/locations" class="btn btn-default btn-sm">
    <span class="glyphicon glyphicon-globe"></span> {{ 'PROVINCE.LOCATION_MANAGER' | translate }}
  </a> 

  <button class="btn btn-sm btn-default" id="create" ng-click="ProvinceCtrl.create()" data-method="create">
    <span class="glyphicon glyphicon-plus-sign"></span> {{'PROVINCE.ADD' | translate}}
  </button> 
</div>


<div class="flex-content">
  <div class="container-fluid">
    <div class="row">

      <div class="col-xs-6">
        <div class="panel panel-default" style="overflow: auto; max-height: 500px;">
          <div class="panel-heading">
            {{ 'PROVINCE.REGISTERED' | translate }}
          </div>

          <table class="table table-condensed">
            <thead>
               <tr>
                <th>{{ 'PROVINCE.NAME' | translate}}</th>
                <th>{{ 'PROVINCE.COUNTRY' | translate}}</th>
                <th>{{ 'PROVINCE.ACTIONS' | translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-if="ProvinceCtrl.session.loading" class="text-center">
                <td colspan="4"><loading-indicator></loading-indicator></td>
              </tr>
              <tr ng-repeat="province in ProvinceCtrl.provinces | orderBy:'province' "  ng-class="{'rowSelected' : ProvinceCtrl.province.uuid === province.uuid}">
                <td>{{ province.name }}</td>
                <td>{{ province.country_name }}</td>
                <td><a class="btn btn-xs btn-default" id="province-{{$index + 1}}" ng-click="ProvinceCtrl.update(province)" ><i class="glyphicon glyphicon-pencil"></i></a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-xs-6" ng-switch="ProvinceCtrl.view">
        <div ng-switch-default>
          <div class="alert alert-info" id="default">
             <b>{{'PROVINCE.CONFIGURATION' | translate}} </b>
             <p>{{'PROVINCE.DESCRIPTION' | translate}}
             </p>       
          </div>
        </div>

        <div ng-switch-when="create_success">
          <div class="alert alert-success" id="create_success">
            <h4>{{ 'LOCATION.SAVE_SUCCESS' | translate }} </h4>
            </p>
          </div>
        </div>

        <div ng-switch-when="update_success">
          <div class="alert alert-success" id="update_success">
            <h4>{{ 'LOCATION.UPDATE_SUCCESS' | translate }} </h4>
            </p>
          </div>
        </div>

        <div class="panel panel-primary" ng-switch-when="create">
          <div class="panel-heading">{{ 'PROVINCE.REGISTER' | translate }}</div>
          <div class="panel-body">
            <form class="panel-body" name="CreateForm" ng-submit="ProvinceCtrl.submit(CreateForm.$invalid)" novalidate>

              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.country.$invalid }">
                <label class="control-label">{{ "LOCATION.COUNTRY" | translate }}</label>
                <select 
                  class="form-control" 
                  name="country" 
                  ng-model="ProvinceCtrl.province.country_uuid" 
                  id="country"  
                  ng-options="c.uuid as c.name for c in ProvinceCtrl.countries | orderBy:'name'"
                  ng-change="ProvinceCtrl.loadProvinces()"
                  required>
                  <option value="" disabled> -- {{ ProvinceCtrl.messages.country | translate }} -- </option>
                </select>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.province.$invalid }">
                <label class="control-label">{{ "LOCATION.PROVINCE" | translate }}</label>
                <input type="text" placeholder="{{ 'INPUT.PROVINCE' | translate }}" class="form-control" name="province" ng-model="ProvinceCtrl.province.name" required>
              </div>
              
              <div class="form-group">
                <button class="btn btn-default" id="submit-province" type="submit" data-method="submit">
                  {{ "FORM.SUBMIT" | translate }}
                </button>
                <button class="btn btn-default" type="button" ng-click="ProvinceCtrl.cancel()" data-method="cancel">
                  {{ "FORM.CANCEL" | translate }}
                </button>
              </div>
            </form>
          </div>        
        </div>

        <div class="panel panel-primary" ng-switch-when="update">
          <div class="panel-heading">{{ 'PROVINCE.EDIT' | translate }}</div>
          <div class="panel-body">
            <form class="panel-body" name="UpdateForm" ng-submit="ProvinceCtrl.submit(UpdateForm.$invalid)" novalidate>
              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.country.$invalid }">
                <label class="control-label">{{ "LOCATION.COUNTRY" | translate }}</label>
                <select 
                  class="form-control" 
                  name="country" 
                  ng-model="ProvinceCtrl.province.country_uuid" 
                  id="country"  
                  ng-options="c.uuid as c.name for c in ProvinceCtrl.countries | orderBy:'name'"
                  ng-change="ProvinceCtrl.loadProvinces()"
                  required>
                  <option value="" disabled> -- {{ ProvinceCtrl.messages.country | translate }} -- </option>
                </select>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : UpdateForm.$submitted && UpdateForm.province.$invalid }">
                <label class="control-label">{{ "LOCATION.PROVINCE" | translate }}</label>
                <input type="text" placeholder="{{ 'INPUT.PROVINCE' | translate }}" class="form-control" name="province" ng-model="ProvinceCtrl.province.name" required>
              </div>
              
              <div class="form-group">
                <button class="btn btn-default" id="change_province" type="submit" data-method="submit">
                  {{ "FORM.SUBMIT" | translate }}
                </button>
                <button class="btn btn-default" type="button" ng-click="ProvinceCtrl.cancel()" data-method="cancel">
                  {{ "FORM.CANCEL" | translate }}
                </button>
              </div>
            </form>
          </div>         
        </div>

      </div>
    </div>
  </div>  
</div>