<!-- the generated report  -->
<div class="col-md-12">

  <!-- incomeExpense summary  -->
  <table
    class="table table-bordered table-condensed"
    style="border: 2px solid #ccc;">
    <tr>
      <td ng-if="IncomeExpenseReportCtrl.reportType === 1" style="background-color: #ccc; font-weight: bold; text-align: center;" colspan="6">
        {{ 'REPORT.INCOME_EXPENSE' | translate | uppercase }}
      </td>

      <td ng-if="IncomeExpenseReportCtrl.reportType === 2" style="background-color: #ccc; font-weight: bold; text-align: center;" colspan="6">
        {{ 'REPORT.INCOME_REPORT' | translate | uppercase }}
      </td>
      <td ng-if="IncomeExpenseReportCtrl.reportType === 3" style="background-color: #ccc; font-weight: bold; text-align: center;" colspan="6">
        {{ 'REPORT.EXPENSE_REPORT' | translate | uppercase }}
      </td>            
    </tr>
    <tr>
      <td style="background-color: #ddd; font-weight: bold; text-align: center;" colspan="6">{{ IncomeExpenseReportCtrl.cashbox.label }}</td>
    </tr>
    <tr>
      <td style="background-color: #eee; font-weight: bold; text-align: center;" colspan="6">{{ IncomeExpenseReportCtrl.dateFrom | date }} - {{ IncomeExpenseReportCtrl.dateTo | date }}</td>
    </tr>
      <!-- white line -->
    <tr>
      <td colspan="6"></td>
    </tr>

  </table>



  <!-- IncomeExpense report -->
  <!-- Income Report -->
  <table class="table table-condensed table-bordered" ng-if="IncomeExpenseReportCtrl.reportType === 1 || IncomeExpenseReportCtrl.reportType === 2">

    <thead ng-if="IncomeExpenseReportCtrl.reportType === 1">
      <!-- heading  -->
      <tr>
        <th style="background-color: #ddd; font-weight: bold; text-align: center;" colspan="6">
          {{ 'REPORT.CASH_INCOME' | translate | uppercase }}  
        </th>
      </tr>
    </thead>

    <tbody  ng-if="IncomeExpenseReportCtrl.session.incomes.length">
      <tr style="background-color: #efefef; font-weight: bold; text-align: center; ">
        <td style="width: 15%"> {{ 'TABLE.COLUMNS.TRANSACTION_ID' | translate }} </td>
        <td style="width: 45%"> {{ 'TABLE.COLUMNS.DESCRIPTION' | translate }} </td>
        <td style="width: 10%"> {{ 'TABLE.COLUMNS.AMOUNT' | translate }} </td>
        <td style="width: 10%"> {{ 'TABLE.COLUMNS.DATE' | translate }} </td>
        <td style="width: 10%"> {{ 'TABLE.COLUMNS.SOURCE' | translate }} </td>
        <td style="width: 10%"> {{ 'TABLE.COLUMNS.BY' | translate }} </td>
      </tr>

      <!-- white line -->
      <tr>
        <td colspan="6"></td>
      </tr>
      <tr ng-repeat="income in IncomeExpenseReportCtrl.session.incomes">
        <td class="text-left">{{ income.trans_id }}</td>
        <td class="text-left">{{ income.description }}</td>
        <td class="text-left">{{ income.debit | currency:IncomeExpenseReportCtrl.session.currency_id }}</td>
        <td class="text-left">{{ income.trans_date | date }}</td>
        <td class="text-left">{{ income.transactionType | translate }}</td>
        <td class="text-left">{{ income.username }}</td>
      </tr>
    </tbody>

    <tfoot>
      <tr style="background-color: #efefef; font-weight: bold; ">
        <td style="text-align: right;" colspan="6"> {{ 'TABLE.COLUMNS.TOTAL' | translate }} : {{ IncomeExpenseReportCtrl.session.totalIncomes | currency:IncomeExpenseReportCtrl.session.currency_id }} </td>
      </tr>      
    </tfoot>
  </table>

  <!-- Expense Report -->
  <table class="table table-condensed table-bordered"  ng-if="IncomeExpenseReportCtrl.reportType === 1 || IncomeExpenseReportCtrl.reportType === 3">
    <thead ng-if="IncomeExpenseReportCtrl.reportType === 1">
      <!-- heading  -->
      <tr>
        <th style="background-color: #ddd; font-weight: bold; text-align: center;" colspan="6">
          {{ 'REPORT.CASH_EXPENSE' | translate | uppercase }}  
        </th>
      </tr>
    </thead>

    <tbody ng-if="IncomeExpenseReportCtrl.session.expenses.length">
      <!-- cash on hand (openning) -->
      <tr style="background-color: #efefef; font-weight: bold; text-align: center; ">
        <td style="width: 15%"> {{ 'TABLE.COLUMNS.TRANSACTION_ID' | translate }} </td>
        <td style="width: 45%"> {{ 'TABLE.COLUMNS.DESCRIPTION' | translate }} </td>
        <td style="width: 10%"> {{ 'TABLE.COLUMNS.AMOUNT' | translate }} </td>
        <td style="width: 10%"> {{ 'TABLE.COLUMNS.DATE' | translate }} </td>
        <td style="width: 10%"> {{ 'TABLE.COLUMNS.SOURCE' | translate }} </td>
        <td style="width: 10%"> {{ 'TABLE.COLUMNS.BY' | translate }} </td>
      </tr>

      <!-- white line -->
      <tr>
        <td colspan="6"></td>
      </tr>
      <tr ng-repeat="expense in IncomeExpenseReportCtrl.session.expenses">
        <td class="text-left">{{ expense.trans_id }}</td>
        <td class="text-left">{{ expense.description }}</td>
        <td class="text-left">{{ expense.credit | currency:IncomeExpenseReportCtrl.session.currency_id }}</td>
        <td class="text-left">{{ expense.trans_date | date }}</td>
        <td class="text-left">{{ expense.transactionType | translate }}</td>
        <td class="text-left">{{ expense.username }}</td>
      </tr>
    </tbody>

    <tfoot>
      <tr style="background-color: #efefef; font-weight: bold; ">
        <td style="text-align: right;" colspan="6"> {{ 'TABLE.COLUMNS.TOTAL' | translate }}:  {{ IncomeExpenseReportCtrl.session.totalExpenses | currency:IncomeExpenseReportCtrl.session.currency_id }} </td>
      </tr>      
    </tfoot>

  </table>


</div>
