<header data-header>
  {{ "DEPOT.MAIN.TITLE" | translate }}
</header>

<nav>
  <div class="pull-left">
    <ol class="breadcrumb" style="float: right;">
      <li><a href="#/"><span class="glyphicon glyphicon-home"></span></a></li>
      <li class="active">{{ "DEPOT.MAIN.TITLE" | translate }}</li>
    </ol>
  </div>

  <div class="pull-right" style="margin-top: 1px">
    <span>
      <strong>{{ DepotCtrl.depot.reference ? '[' + DepotCtrl.depot.reference + ']' : '' }}</strong>
      {{ DepotCtrl.depot.text }}
    </span>

    <button style="margin-left: 5px;" ng-click="DepotCtrl.reconfigure()" class="btn btn-sm btn-default" ng-disabled="!DepotCtrl.depot">
      <i class="glyphicon glyphicon-repeat"></i>
    </button>
  </div>
</nav>

<main>
  <div class="row margin-top-10" ng-if="!DepotCtrl.depot">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          {{ "DEPOT.MAIN.CONFIGURE_WAREHOUSE" | translate }}
        </div>
        <div class="panel-body">

          <div class="row">
            <div class="col-xs-12">
              <div class="alert alert-info">
                <i class="glyphicon glyphicon-exclamation-sign"></i>
                {{ "DEPOT.MAIN.WAREHOUSE_INFO_1" | translate}}
                <b>{{ "DEPOT.MAIN.WAREHOUSE_INFO_2" | translate }}</b>
                {{ "DEPOT.MAIN.WAREHOUSE_INFO_3" | translate }}
              </div>
            </div>
          </div>

          <div class="configure">
            <div class="panel panel-default configure-item" ng-repeat="depot in DepotCtrl.depots | orderBy:'reference'" ng-click="DepotCtrl.setDepot(depot)">
              <div class="panel-body">
                <div class="row">
                  <i style="font-size: 18px;" class="glyphicon glyphicon-home"></i>
                </div>
                <div class="row" style="margin-top: 0.5em">
                  <div class="col-xs-12">
                    [{{ depot.reference }}] {{ depot.text }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div ng-if="DepotCtrl.depot" class="row margin-top-10">
    <div class="col-xs-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
           {{ "DEPOT.MAIN.MODULES" | translate }} <span class="glyphicon glyphicon-th-large pull-right"></span>
        </div>
        <div class="panel-body">
          <li ng-repeat="item in DepotCtrl.config.modules" class="plain-list">
            <span class="glyphicon {{ item.ico }}"></span>
            <a class="menu-item" ng-click="DepotCtrl.loadPath(item)">{{ item.key | translate }}</a>
          </li>
        </div>
      </div>
    </div>

    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          {{ "DEPOT.MAIN.REPORTS" | translate }} <span class="glyphicon glyphicon-book pull-right"></span>
        </div>
        <div class="panel-body">
          <li ng-repeat="item in DepotCtrl.config.reports" class="plain-list">
            <span class="glyphicon {{ item.ico }}"></span>
            <a class="menu-item" ng-click="DepotCtrl.loadPath(item)">{{ item.key | translate }}</a>
          </li>
        </div>
      </div>
    </div>
  </div>
</main>
