<div class="modal-content">
  <div class="modal-header">
    <h4>{{ 'NO_EXCHANGE.TITLE' | translate }}</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-xs-12">
        <form class="form-horizontal">

          <div class="form-group">
            <label class="control-label col-xs-2">{{ "COLUMNS.DATE" | translate }}</label>
            <p class="col-xs-10 form-control-static">{{ timestamp | date }}</p>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-2">{{ "COLUMNS.EXPLANATION" | translate }}</label>
            <p class="col-xs-10 form-control-static">{{ "NO_EXCHANGE.EXPLANATION" | translate }}</p>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-2">{{ "COLUMNS.FIX" | translate }}</label>
            <p class="col-xs-10 form-control-static">{{ "NO_EXCHANGE.FIX" | translate }}</p>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-sm btn-warning" ng-click="setExchange()">{{ "NO_EXCHANGE.SET_NEW_RATE" | translate }}</button>
    <button class="btn btn-sm btn-default" ng-click="close()">{{ "FORM.CLOSE_FORM" | translate }}</button>
  </div>
</div>
