<div
  ng-repeat="(colRenderIndex, col) in colContainer.renderedColumns track by col.uid"
  ui-grid-one-bind-id-grid="rowRenderIndex + '-' + col.uid + '-cell'"
  class="ui-grid-cell"
  ng-class="{ 'ui-grid-row-header-cell': col.isRowHeader, 'strike' : row.entity.type_id === grid.appScope.bhConstants.transactionType.CREDIT_NOTE }"
  data-vals="{{col.isRowHeader}}"
  role="{{col.isRowHeader ? 'rowheader' : 'gridcell'}}"
  ng-style="row.entity._backgroundColor"
  ui-grid-cell
  ng-dblClick="grid.appScope.openReceiptModal(row.entity.uuid)">
</div>
