<div class="ui-grid-cell-contents text-right"
     ng-class="{
       'budget-total-income' : row.entity.acctType == 'total-income',
       'budget-total-expenses' : row.entity.acctType == 'total-expenses',
       'budget-total-summary' : row.entity.acctType == 'total-summary'
     }"
     ng-if="row.entity.acctTitle != 'title'">
  <span ng-if="row.entity.actuals">
    <span ng-if="(row.entity.acctType == 'income') || (row.entity.acctType == 'total-income') || row.entity.isIncomeTitle">+</span><span ng-if="(row.entity.acctType == 'expense') || (row.entity.acctType == 'total-expenses') || row.entity.isExpenseTitle">-</span>
    {{ row.entity.actuals | currency: grid.appScope.enterprise.currency_id:0 }}
  </span>
</div>
