<div class="ui-grid-cell-contents text-right"
     ng-class="{
       'budget-total-income' : row.entity.acctType == 'total-income',
       'budget-total-expenses' : row.entity.acctType == 'total-expenses',
       'budget-total-summary' : row.entity.acctType == 'total-summary'
     }">
  <span ng-if="grid.appScope.specialTitleRow(row.entity) || (row.entity.actuals && grid.appScope.getPeriodActuals(col.name, row.entity))">
    <span>{{ grid.appScope.getPeriodActuals(col.name, row.entity) | currency: grid.appScope.enterprise.currency_id:0 }}</span>
  </span>
</div>