<form name="BreakDownForm" bh-submit="BreakDownModalCtrl.submit(BreakDownForm)" novalidate>
  <div class="modal-header">
    <ol class="headercrumb">
      <li class="static" translate> TREE.FINANCE </li>
      <li class="static" translate> TREE.DITRIBUTION_AUX_FEES_CENTERS </li>
      <li class="title" translate> FORM.BUTTONS.BREAKDOWNS_PERCENTAGES </li>
    </ol>
    <div>
      <label class="badge badge-success"> {{ BreakDownModalCtrl.feeCenter.fee_center_label }} </label>
      <label class="badge badge-info">
        <span translate> FORM.LABELS.TOTAL_DEBITS </span> :
          {{ BreakDownModalCtrl.sumDebits | currency : BreakDownModalCtrl.enterprise.currency_id }}
      </label>

      <label class="badge badge-info">
        <span translate> FORM.LABELS.TOTAL_CREDITS </span> :
          {{ BreakDownModalCtrl.sumCredits | currency : BreakDownModalCtrl.enterprise.currency_id }}
      </label>
    </div>

    <div class="form-group" ng-if="BreakDownModalCtrl.invalidBreakDown">
      <label class="badge badge-danger" id="validation-error" translate> FORM.INFO.DISTRIBUTION_PERCENT_INVALID </label>
      <br>
      <label class="badge badge-warning"> {{ BreakDownModalCtrl.errorMessage }} </label>
    </div>

    <div class="form-group" ng-if="BreakDownModalCtrl.noPrincilFeeCenters">
      <label class="badge badge-warning" translate> FORM.INFO.NO_PRINCIPAL_FEE_CENTER </label>
    </div>
  </div>

  <div class="modal-body" style="max-height: 70vh; overflow:auto;">
    <hr>
    <div ng-repeat="principal in BreakDownModalCtrl.principalFeeCenters" class="form-group">
      <bh-percentage-input
        label="{{principal.label}}"
        id="principal_{{principal.id}}"
        currency-id="BreakDownModalCtrl.enterprise.currency_id"
        model="BreakDownModalCtrl.percentage.values[principal.id]"
        min = "0"
        max = "100">
      </bh-percentage-input>
    </div>
  </div>

  <div class="modal-footer">
    <button data-method="cancel" type="button" class="btn btn-default" ng-click="BreakDownModalCtrl.cancel()">
      <span translate>FORM.BUTTONS.CANCEL</span>
    </button>

    <bh-loading-button ng-if="!BreakDownModalCtrl.noPrincilFeeCenters" loading-state="BreakDownForm.$loading">
      <span translate>FORM.BUTTONS.SUBMIT</span>
    </bh-loading-button>
  </div>
</form>
