<div class="col-xs-6">
  <div class="panel panel-default segment">
    <div class="panel-body text-center">
      <div class="segment-title" translate>DASHBOARD.CASH.VALUE</div>
      <div class="ui huge ima-blue statistic">
        <div class="value">{{ ChartCtrl.summary.value || 0 | currency: ChartCtrl.enterprise.currency_id }}</div>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-3">
  <div class="panel panel-default segment">
    <div class="panel-body text-center">
      <div class="segment-title" translate>DASHBOARD.CASH.PAYMENT</div>
      <div class="ui huge ima-blue statistic">
        <div class="value">{{ ChartCtrl.summary.total || 0 | number }}</div>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-3">
  <div class="panel panel-default segment">
    <div class="panel-body text-center">
      <div class="segment-title" translate>DASHBOARD.CASH.REVERSED</div>
      <div class="ui huge ima-blue statistic">
        <div class="value">{{ ChartCtrl.summary.reversed || 0 | number }}</div>
      </div>
    </div>
  </div>
</div>