<header data-header>
  {{ "REFERENCE.TITLE" | translate }}
</header>

<nav>
  <div class="pull-left">
    <ol class="breadcrumb">
      <li><a href="#/"><span class="glyphicon glyphicon-home"></span></a></li>
      <li class="active">{{ "REFERENCE.TITLE" | translate }}</li>
    </ol>
  </div>

  <div class="pull-right">
    <button class="btn btn-sm btn-default" ng-click="new()">
      <span class="glyphicon glyphicon-plus-sign"></span>
       {{ "REFERENCE.ADD" | translate }}
    </button>
  </div>
</nav>

<main>
  <div class="row margin-top-10">

    <div class="col-xs-7">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-paperclip"></span>
          {{ "REFERENCE.REGISTERED" | translate }}
        </div>
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>{{ "COLUMNS.NR" | translate}}</th>
              <th>{{ "COLUMNS.REF" | translate}}</th>
              <th>{{ "COLUMNS.LABEL" | translate}}</th>
              <th>{{ "COLUMNS.POSITION" | translate}}</th>
              <th>{{ "COLUMNS.IS_REPORT" | translate}}</th>
              <th>{{ "COLUMNS.REF_GROUP" | translate}}</th>
              <th>{{ "COLUMNS.RESULT_ACCOUNT_SCT" | translate}}</th>
              <th colspan="4">{{ "COLUMNS.ACTIONS" | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="reference in references.data | orderBy:'text'">
              <td>{{$index + 1}}</td>
              <td>{{ reference.ref }}</td>
              <td>{{ reference.text }}</td>
              <td>{{ reference.position }}</td>
              <td><span class="glyphicon" ng-class="{'glyphicon-ok' : !!reference.is_report}"></td>
              <td>{{ reference_groups.get(reference.reference_group_id).text }}</td>
              <td>{{ section_resultat.get(reference.section_resultat_id).text }}</td>
              <td><a class="action" ng-click="edit(reference)"><span class="glyphicon glyphicon-pencil"></span></a></td>
              <td><a class="action danger" ng-click="delete(reference)"><span class="glyphicon glyphicon-trash"></span></a></td>
            </tr>
            <tr ng-if="!references.data.length">
              <td colspan="8">{{ "REFERENCE.NO_REFERENCES" | translate }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-xs-5" ng-switch="session.action">
      <div class="alert alert-info" ng-switch-default>
        <h4>{{ "REFERENCE.TITLE" | translate }}</h4>
        <p>{{ "REFERENCE.ALERT" | translate }}</p>
      </div>

      <div ng-switch-when="new">
        <form novalidate class="form-horizontal" name="referenceNew">
          <legend><h3>{{ "REFERENCE.NEW_REFERENCE" | translate }} </h3></legend>

          <div class="form-group">
            <label class="control-label col-xs-4 required">{{ "COLUMNS.REFERENCE" | translate }}</label>
            <div class="col-xs-7">
              <input ng-model="session.new.ref" class="form-bhima" required>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-4 required">{{ "COLUMNS.LABEL" | translate }}</label>
            <div class="col-xs-7">
              <input ng-model="session.new.text" class="form-bhima" required>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-4 required">{{ "COLUMNS.POSITION" | translate }}</label>
            <div class="col-xs-7">
              <input type="number" ng-model="session.new.position" min="0" class="form-bhima" required>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-4 required">{{ "COLUMNS.IS_REPORT" | translate }}</label>
            <div class="col-xs-7">
              <input type="checkbox" ng-model="session.new.is_report" class="form-bhima">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-4 required">{{ "COLUMNS.REFERENCE_GROUP" | translate }}</label>
            <div class="col-xs-7">
              <select class="form-bhima" ng-model="session.new.reference_group_id">
                <option value="" disabled="disabled">--- {{ "SELECT.REFERENCE_GROUP" | translate }} ---</option>
                <option ng-repeat="reference_group in reference_groups.data | orderBy:'text'" value="{{reference_group.id}}">
                  {{ reference_group.text }}
                </option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-4 required">{{ "COLUMNS.RESULT_ACCOUNT_SCT" | translate }}</label>
            <div class="col-xs-7">
              <select class="form-bhima" ng-model="session.new.section_resultat_id">
                <option value="" disabled="disabled">--- {{ "SELECT.RESULT_ACCOUNT_SCT" | translate }} ---</option>
                <option ng-repeat="section in section_resultat.data | orderBy:'text'" value="{{section.id}}">
                  {{ section.text }}
                </option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <input type="submit" ng-disabled="referenceNew.$invalid" class="btn btn-sm btn-success" value="{{ 'FORM.SUBMIT' | translate }}" ng-click="save.new()">
            <input type="reset" class="btn btn-sm btn-default" value="{{ 'FORM.RESET' | translate }}" ng-click="reset()">
          </div>
        </form>
      </div>

      <div ng-switch-when="edit">
        <form novalidate class="form-horizontal" name="referenceEdit">
          <legend><h3>{{ "REFERENCE.UPD_REFERENCE" | translate }} </h3></legend>

          <div class="form-group">
            <label class="control-label col-xs-4 required">{{ "COLUMNS.REFERENCE" | translate }}</label>
            <div class="col-xs-7">
              <input ng-model="session.edit.ref" class="form-bhima" required>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-4 required">{{ "COLUMNS.LABEL" | translate }}</label>
            <div class="col-xs-7">
              <input ng-model="session.edit.text" class="form-bhima" required>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-4 required">{{ "COLUMNS.POSITION" | translate }}</label>
            <div class="col-xs-7">
              <input type="number" ng-model="session.edit.position" min="1" class="form-bhima" required>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-4 required">{{ "COLUMNS.IS_REPORT" | translate }}</label>
            <div class="col-xs-7">
              <input type="checkbox" ng-model="session.edit.is_report" class="form-bhima">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-4 required">{{ "COLUMNS.REFERENCE_GROUP" | translate }}</label>
            <div class="col-xs-7">
              <select class="form-bhima" ng-model="session.edit.reference_group_id">
                <option ng-repeat="reference_group in reference_groups.data | orderBy:'text'" ng-selected="reference_group.id" value="{{reference_group.id}}">
                  {{ reference_group.text }}
                </option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-4 required">{{ "COLUMNS.RESULT_ACCOUNT_SCT" | translate }}</label>
            <div class="col-xs-7">
              <select class="form-bhima" ng-model="session.edit.section_resultat_id">
                <option ng-repeat="section in section_resultat.data | orderBy:'text'" ng-selected="section.id" value="{{section.id}}">
                  {{ section.text }}
                </option>
              </select>

            </div>
          </div>

          <div class="form-group">
            <input type="submit" ng-disabled="referenceEdit.$invalid" class="btn btn-sm btn-success" value="{{ 'FORM.SUBMIT' | translate }}" ng-click="save.edit()">
            <input type="reset" class="btn btn-sm btn-default" value="{{ 'FORM.RESET' | translate }}" ng-click="reset()">
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
