<form
  name="ModalForm"
  ng-submit="$ctrl.submit(ModalForm)"
  data-modal="cash-payment-search"
  novalidate>

  <div class="modal-header">
    <ol class="headercrumb">
      <li class="static" translate>FORM.LABELS.PAYMENT</li>
      <li class="title" translate>FORM.LABELS.SEARCH</li>
    </ol>
  </div>

  <div class="modal-body" style="overflow : auto; max-height : 600px; padding: 0px;">

    <uib-tabset>
      <uib-tab index="0" heading="{{ 'FORM.LABELS.SEARCH_QUERRIES' | translate}}" data-custom-filter-tab>
        <div class="tab-body">
          <!-- cash human readable reference  -->
          <div class="form-group">
            <label class="control-label" translate>FORM.LABELS.REFERENCE</label>
            <input type="text" class="form-control" name="reference" ng-model="$ctrl.searchQueries.reference">
          </div>

          <!-- filter out cautions -->
          <div class="checkbox">
            <label>
              <input type="checkbox" name="is_caution" ng-true-value="1" ng-false-value="0" ng-model="$ctrl.searchQueries.is_caution">
              <span translate>FORM.LABELS.CAUTION</span>
            </label>
          </div>

          <!-- cashbox -->
          <div class="form-group">
            <label class="control-label" translate>
              FORM.LABELS.CASHBOX
            </label>
            <bh-clear on-clear="$ctrl.clear('cashbox_id')"></bh-clear>
            <ui-select name="cashbox" ng-model="$ctrl.searchQueries.cashbox_id">
              <ui-select-match>
                <span>{{$select.selected.label}}</span>
              </ui-select-match>
              <ui-select-choices ui-select-focus-patch repeat="cashbox.id as cashbox in $ctrl.cashboxes | filter:$select.search track by cashbox.id">
                <span ng-bind-html="cashbox.label | highlight:$select.search"></span>
              </ui-select-choices>
            </ui-select>
          </div>

          <bh-user-select
            user-id="$ctrl.searchQueries.user_id"
            name="user_id"
            on-select-callback="$ctrl.onSelectUser(user)">
            <bh-clear on-clear="$ctrl.clear('user_id')"></bh-clear>
          </bh-user-select>

          <div class="form-group">
            <label class="control-label" translate>
              FORM.LABELS.DEBTOR_GROUP
            </label>

            <!-- @todo make this a component - it is used everywhere. Calls back method
                 `clear` and resets the id passed to the component -->
            <span style="display:inline-block;" class="pull-right">
              <a href ng-click="$ctrl.clear('debtor_group_uuid')" tabindex="-1">
                <i class="fa fa-eraser"></i> <span translate>FORM.BUTTONS.CLEAR</span>
              </a>
            </span>

            <!-- @todo make data driven selects components to handle loading and error states -->
            <select
              class="form-control"
              name="debtorGroup"
              ng-options="group.uuid as group.name for group in $ctrl.debtorGroups"
              ng-model="$ctrl.searchQueries.debtor_group_uuid">
              <option disabled value="" translate>
                FORM.PLACEHOLDERS.DEBTOR_GROUP
              </option>
            </select>
          </div>

          <div class="form-group">
            <label class="control-label" translate>
              FORM.LABELS.REFERENCE_PATIENT
            </label>
            <bh-clear on-clear="$ctrl.clear('patientReference')"></bh-clear>
            <input type="text" class="form-control" ng-model="$ctrl.searchQueries.patientReference"/>
          </div>

          <bh-currency-select
            currency-id="$ctrl.searchQueries.currency_id"
            validation-trigger="CashVoucherForm.$submitted">
            <bh-clear on-clear="$ctrl.clear('currency_id')"></bh-clear>
          </bh-currency-select>

          <div class="radio">
            <p class="control-label" style="margin-bottom:5px;">
              <strong translate>CASH.REGISTRY.REVERSED_RECORDS</strong>
            </p>
            <label>
              <input type="radio" name="reversed" ng-value="1" ng-model="$ctrl.searchQueries.reversed">
              <span translate>CASH.REGISTRY.INCLUDE_ONLY_REVERSED_RECORDS</span>
            </label>
          </div>

          <div class="radio">
            <label>
              <input type="radio" name="reversed" ng-value="0" ng-model="$ctrl.searchQueries.reversed">
              <span translate>CASH.REGISTRY.EXCLUDE_REVERSED_RECORDS</span>
            </label>
          </div>
        </div>
      </uib-tab>

      <uib-tab index="1" heading="{{ 'FORM.LABELS.DEFAULTS' | translate }}" data-default-filter-tab>
        <div class="tab-body">

          <bh-period-select
            default-period="{{$ctrl.filters.period}}"
            on-select-callback="$ctrl.onSelectPeriod(period)">
          </bh-period-select>

          <div class="form-group" ng-class="{ 'has-error' : ModalForm.limit.$invalid }">
            <label class="control-label" translate>FORM.LABELS.LIMIT</label>
            <input name="limit" type="number" bh-integer class="form-control" ng-model="$ctrl.defaultQueries.limit" ng-change="$ctrl.onSelectLimit($ctrl.defaultQueries.limit)">

            <div class="help-block" ng-messages="ModalForm.limit.$error">
              <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
            </div>

          </div>
        </div>
      </uib-tab>
    </uib-tabset>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$ctrl.cancel()" data-method="cancel" translate>
      FORM.BUTTONS.CLOSE
    </button>

    <button class="btn btn-primary" type="submit" data-method="submit" translate>
      FORM.BUTTONS.SUBMIT
    </button>
  </div>
</form>
