<form name="ClosingFiscalYear" bh-submit="$ctrl.stepForward(ClosingFiscalYear)" novalidate>
  <div class="modal-header">
    <ol class="headercrumb">
      <li class="static" translate>FISCAL.TITLE</li>
      <li class="title" translate>FISCAL.CLOSING_FISCAL_YEAR</li>
    </ol>
  </div>

  <div class="modal-body">
    <div ng-show="!$ctrl.fiscal.locked">

      <h1 class="text-center">
        <span translate>FORM.INFO.CLOSE_FISCAL_YEAR</span>
        <br>
        <strong>{{ $ctrl.fiscal.label }}</strong>
      </h1>

      <div ng-switch="$ctrl.steps">
        <div ng-switch-default>

          <!-- first step  -->
          <dl class="dl-horizontal">
            <!-- incomes  -->
            <h3 class="text-success">
              <dt translate>FORM.LABELS.PROFIT</dt>
              <dd class="text-right">
                {{ $ctrl.profit | currency: $ctrl.currency_id }}
              </dd>
            </h3>

            <!-- expenses  -->
            <h3 style="margin: 10px 0px;" class="text-danger">
              <dt translate>FORM.LABELS.CHARGE</dt>
              <dd class="text-right">
                {{ $ctrl.charge | currency: $ctrl.currency_id }}
              </dd>
            </h3>

            <!-- results  -->
            <h3 style="border-top: 1px dashed #ccc; margin-top: 10px;" class="text-bold">
              <dt translate>FORM.LABELS.RESULT</dt>
              <dd class="text-right" ng-class="{'text-danger' : $ctrl.globalResult < 0, 'text-success' : $ctrl.globalResult > 0 }">
                {{ $ctrl.globalResult | currency: $ctrl.currency_id }}
              </dd>
            </h3>
          </dl>

          <br>

          <bh-account-select
            account-id="$ctrl.resultAccount.id"
            on-select-callback="$ctrl.onSelectAccount(account)"
            label="FORM.LABELS.RESULT_ACCOUNT_SCT"
            excludeTitleAccounts="true">
          </bh-account-select>
        </div>

        <div class="text-center" ng-switch-when="summary">
          <h3 translate>FISCAL.SOLD_DESCRIPTION</h3>
          <h3 class="text-primary">{{ $ctrl.resultAccount.number + ' - ' + $ctrl.resultAccount.label }}</h3>
          <h3>
            <span translate>FISCAL.RESULT_AMOUNT</span>
            <span ng-class="{'text-danger' : $ctrl.globalResult < 0, 'text-success' : $ctrl.globalResult > 0 }">
              {{ $ctrl.globalResult | currency: $ctrl.currency_id }}
            </span>
          </h3>
        </div>
      </div>

    </div>

    <div ng-show="$ctrl.fiscal.locked">
      <h1 class="text-center">
        <strong>{{ $ctrl.fiscal.label }}</strong>
        <br>
        <span translate>FISCAL.ALREADY_CLOSED</span>
      </h1>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$ctrl.cancel()">
      <span translate>FORM.BUTTONS.CANCEL</span>
    </button>

    <bh-loading-button loading-state="ClosingFiscalYear.$loading" ng-disabled="$ctrl.fiscal.locked">
      <span translate>FORM.BUTTONS.VALIDATE</span>
    </bh-loading-button>
  </div>
</form>
