<div style="padding : 5px;">
  <div ng-if="!row.entity._initialised">
    <input
      id="inv-code-{{ row.entity.code }}"
      name="code"
      class="form-control"
      ng-model="row.entity.inventory_uuid"
      typeahead-editable="false"
      typeahead-append-to-body="true"
      uib-typeahead="item as item.hrtext for item in grid.appScope.stockForm.listAvailableInventory(row.entity) | filter:$viewValue | limitTo:8"
      typeahead-template-url="/modules/templates/inventoryArticles.tmpl.html"
      typeahead-on-select="grid.appScope.stockForm.configureItem(row.entity, $item)"
      required>
  </div>
  <div ng-if="row.entity._initialised">
    {{ row.entity.code }}
  </div>
</div>
