<div ng-if="row.entity._initialised">
  <ui-select append-to-body="true"
    name="lot"
    ng-model="row.entity.lot"
    ng-change="grid.appScope.onLotSelect(row.entity)"
    required>
    <ui-select-match placeholder="{{ ::'FORM.PLACEHOLDERS.LOT' | translate }}">
      <span>{{$select.selected.label}}</span>
    </ui-select-match>
    <ui-select-choices repeat="lot as lot in row.entity.lots | filter: $select.search">
      <span title="{{lot.expiration_date | date:grid.appScope.DATE_FMT}}">{{ lot.label }} ({{ "LOTS_SCHEDULE.LOT_EXPIRES" | translate }} {{lot.expiration_date | date:grid.appScope.DATE_FMT}})</span>
    </ui-select-choices>
  </ui-select>
</div>
