<div class="ui-grid-cell-contents text-center"
     ng-class="{
      'bg-warning text-warning' : !row.entity._initialised,
      'bg-danger text-danger' : row.entity._initialised && row.entity.__tooltip,
      'bg-success text-success' : row.entity._initialised && !row.entity.__tooltip,
     }"
  style="padding: 5px;">

  <!-- show on unintialized -->
  <i
    class="fa fa-circle-o"
    style="cursor: help;"
    ng-if="!row.entity._initialised"
    uib-tooltip="{{ row.entity.__tooltip }}"
    tooltip-placement="right"
    tooltip-append-to-body="true"
    ></i>

  <!-- show on initialised and valid (no errors) -->
  <i ng-if="row.entity._initialised && !row.entity.__tooltip" class="fa fa-check-circle"></i>

  <!-- show on initialised and error cases -->
  <i
    class="fa fa-times-circle"
    style="cursor: help;"
    ng-if="row.entity._initialised && row.entity.__tooltip"
    uib-tooltip="{{ row.entity.__tooltip }}"
    tooltip-placement="right"
    tooltip-append-to-body="true"
    ></i>
</div>
