<div class="flex-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">

        <div class="panel panel-danger content-error" data-error="403">
          <div class="panel-heading clearfix text-center text-danger">
            <strong>
              <i class="fa fa-danger"></i>
              {{ "FORM.LABELS.ERROR_403" | translate }}
            </strong>
          </div>

          <div class="panel-body text-center">
            <strong> {{"FORM.WARNINGS.NOT_AUTHORISED" | translate}}</strong>
            <div style="background-image:radial-gradient(#D487A1, #FFFFFF); font-size:500%; color:white; text-shadow: 0px 0px 9px #777;">
              403
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
