<div class="flex-header">
  <div class="bhima-title">
    <ol class="headercrumb">
      <li class="static">{{ "TREE.ADMIN" | translate }}</li>
      <li class="active">{{ "SUBSIDY.TITLE" | translate }}</li>
    </ol>
  </div>
</div>

<div class="flex-util">
  <button class="btn btn-sm btn-default" id="create" ng-click="SubsidyCtrl.create()" data-method="create">
    <span class="glyphicon glyphicon-plus-sign"></span> {{ "SUBSIDY.NEW_SUBSIDY" | translate }}
  </button>
</div>


<div class="flex-content">
  <div class="container-fluid">
    <div class="row">

      <div class="col-xs-6">
        <div class="panel panel-default" style="overflow: auto; max-height: 500px;">
          <div class="panel-heading">
            {{ "SUBSIDY.REGISTERED" | translate }}
          </div>

          <table class="table table-condensed">
            <thead>
              <tr>
                <th>{{ "COLUMNS.NR" | translate}}</th>
                <th>{{ "COLUMNS.LABEL" | translate}}</th>
                <th>{{ "COLUMNS.VALUE" | translate}}</th>
                <th>{{ "COLUMNS.ACCOUNT" | translate}}</th>
                <th colspan="2">{{ "COLUMNS.ACTIONS" | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="subsidy in SubsidyCtrl.subsidies | orderBy:'text'" ng-class="{'rowSelected' : SubsidyCtrl.subsidy.id === subsidy.id}">
                <td>{{ $index + 1 }}</td>
                <td>{{ subsidy.label }}</td>
                <td>{{ subsidy.value }}</td>
                <td>{{ subsidy.account_number }}</td>
                <td><a class="btn btn-xs btn-default" id="subsidy-upd-{{ $index + 1}}" ng-click="SubsidyCtrl.update(subsidy)"><span class="glyphicon glyphicon-pencil"></span></a></td>
                <td><a class="btn btn-xs btn-default" id="subsidy-del-{{ $index + 1}}" ng-click="SubsidyCtrl.del(subsidy)"><span class="glyphicon glyphicon-trash"></span></a></td>
              </tr>

              <tr ng-if="!SubsidyCtrl.subsidies.length">
                <td colspan="4">{{ "SUBSIDY.NO_SUBSIDY" | translate }}</td>
              </tr>            
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-xs-6" ng-switch="SubsidyCtrl.view">
        <div ng-switch-default>
          <div class="alert alert-info" id="default">
            <h4>{{ "SUBSIDY.TITLE" | translate }}</h4>
            <p>{{ "SUBSIDY.INFO" | translate }}</p>
            <p>{{ "SUBSIDY.DETAILS" | translate }}</p>          
          </div>
        </div>

        <div ng-switch-when="create_success">
          <div class="alert alert-success" id="create_success">
            <h4>{{ 'SUBSIDY.SAVE_SUCCESS' | translate }} </h4>
            </p>
          </div>
        </div>

        <div ng-switch-when="update_success">
          <div class="alert alert-success" id="update_success">
            <h4>{{ 'SUBSIDY.UPDATE_SUCCESS' | translate }} </h4>
            </p>
          </div>
        </div>

        <div ng-switch-when="delete_success">
          <div class="alert alert-success" id="delete_success">
            <h4>{{ 'SUBSIDY.DELETE_SUCCESS' | translate }} </h4>
            </p>
          </div>
        </div>

        <div ng-switch-when="delete_error">
          <div class="alert alert-danger" id="delete_error">
            <h4>{{ SubsidyCtrl.HTTPError.data.code | translate }} </h4>
            </p>
          </div>
        </div>


        <div class="panel panel-primary" ng-switch-when="create">
          <div class="panel-heading">{{ 'SUBSIDY.NEW_SUBSIDY' | translate }}</div>
          <div class="panel-body">
            <form class="panel-body" name="CreateForm" ng-submit="SubsidyCtrl.submit(CreateForm.$invalid)" novalidate>

              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.label.$invalid }">
                <label class="control-label">{{ 'COLUMNS.DESIGNATION' | translate }}</label>
                <input type="text" class="form-control" name="label" ng-model="SubsidyCtrl.subsidy.label" required>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.value.$invalid }">
                <label class="control-label">{{ 'COLUMNS.VALUE' | translate }}</label>
                <input type="number" class="form-control" name="value" ng-model="SubsidyCtrl.subsidy.value" required>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.account_id.$invalid }">
                <label class="col-md-3 control-label">{{ "COLUMNS.ACCOUNT" | translate }}</label>
                <select class="form-control" name="account_id" ng-model="SubsidyCtrl.subsidy.account_id" id="account_id" ng-options="ac.id as ac.label for ac in SubsidyCtrl.accounts | orderBy:'account_number'" required>
                  <option value="" disabled> -- {{ 'SELECT.ACCOUNT' | translate }} -- </option>
                </select>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.description.$invalid }">
                <label class="control-label" for="description">{{ 'COLUMNS.DESCRIPTION' | translate }}</label>
                <textarea class="form-control" id="description" ng-model="SubsidyCtrl.subsidy.description" rows="3"></textarea>
              </div>

              <div class="form-group">
                <button class="btn btn-default" id="submit-subsidy" type="submit" data-method="submit">
                  {{ "FORM.SUBMIT" | translate }}
                </button>
                <button class="btn btn-default" type="button" ng-click="SubsidyCtrl.cancel()" data-method="cancel">
                  {{ "FORM.CANCEL" | translate }}
                </button>
              </div>
            </form>
          </div>        
        </div>

        <div class="panel panel-primary" ng-switch-when="update">
          <div class="panel-heading">{{ 'SUBSIDY.NEW_SUBSIDY' | translate }}</div>
          <div class="panel-body">
            <form class="panel-body" name="UpdateForm" ng-submit="SubsidyCtrl.submit(UpdateForm.$invalid)" novalidate>

              <div class="form-group" ng-class="{ 'has-error' : UpdateForm.$submitted && UpdateForm.label.$invalid }">
                <label class="control-label">{{ 'COLUMNS.DESIGNATION' | translate }}</label>
                <input type="text" class="form-control" name="label" ng-model="SubsidyCtrl.subsidy.label" required>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : UpdateForm.$submitted && UpdateForm.value.$invalid }">
                <label class="control-label">{{ 'COLUMNS.VALUE' | translate }}</label>
                <input type="number" class="form-control" name="value" ng-model="SubsidyCtrl.subsidy.value" required>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : UpdateForm.$submitted && UpdateForm.account_id.$invalid }">
                <label class="col-md-3 control-label">{{ "COLUMNS.ACCOUNT" | translate }}</label>
                <select class="form-control" name="account_id" ng-model="SubsidyCtrl.subsidy.account_id" id="account_id" ng-options="ac.id as ac.label for ac in SubsidyCtrl.accounts | orderBy:'account_number'" required>
                  <option value="" disabled> -- {{ 'SELECT.ACCOUNT' | translate }} -- </option>
                </select>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : UpdateForm.$submitted && UpdateForm.description.$invalid }">
                <label class="control-label" for="description">{{ 'COLUMNS.DESCRIPTION' | translate }}</label>
                <textarea class="form-control" id="description" ng-model="SubsidyCtrl.subsidy.description" rows="3"></textarea>
              </div>

              <div class="form-group">
                <button class="btn btn-default" id="change_subsidy" type="submit" data-method="submit">
                  {{ "FORM.SUBMIT" | translate }}
                </button>
                <button class="btn btn-default" type="button" ng-click="SubsidyCtrl.cancel()" data-method="cancel">
                  {{ "FORM.CANCEL" | translate }}
                </button>
              </div>
            </form>
          </div>        
        </div>

      </div>
    </div>
  </div>  
</div>