<header data-header>
  {{ "SUBSIDY.TITLE" | translate }}
</header>

<nav>
  <div class="pull-left">
    <ol class="breadcrumb">
      <li><a href="#/"><span class="glyphicon glyphicon-home"></span></a></li>
      <li class="active">{{"SUBSIDY.TITLE" | translate}}</li>
    </ol>
  </div>

  <div class="pull-right">
    <button class="btn btn-sm btn-default" ng-click="new()">
      <span class="glyphicon glyphicon-plus-sign"></span>
       {{ "SUBSIDY.NEW_SUBSIDY" | translate }}
    </button>
  </div>
</nav>

<main>
  <div class="row">

    <div class="col-xs-7">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-briefcase"></span>
          {{ "SUBSIDY.REGISTERED" | translate }}
        </div>
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>{{ "COLUMNS.LABEL" | translate}}</th>
              <th>{{ "COLUMNS.VALUE" | translate}}</th>
              <th>{{ "COLUMNS.IS_PERCENT" | translate}}</th>
              <th>{{ "COLUMNS.DEBITOR_GROUP" | translate}}</th>
              <th colspan="4">{{ "COLUMNS.ACTIONS" | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="subsidy in subsidies.data | orderBy:'text'">
              <td>{{ subsidy.text }}</td>
              <td>
                {{ subsidy.value }}
                <span ng-show="subsidy.is_percent">%</span>
                <span ng-hide="subsidy.is_percent">{{enterprise.data[0].symbol}}</span>
              </td>
              <td><span class="glyphicon" ng-class="{'glyphicon-ok' : !!subsidy.is_percent, 'glyphicon-minus' : !subsidy.is_percent}"></td>
              <td>{{ subsidy.name }}</td>
              <td><a class="action" ng-click="edit(subsidy)"><span class="glyphicon glyphicon-pencil"></span></a></td>
              <td><a class="action danger" ng-click="delete(subsidy)"><span class="glyphicon glyphicon-trash"></span></a></td>
            </tr>
            <tr ng-if="!subsidies.data.length">
              <td colspan="4">{{ "SUBSIDY.NO_SUBSIDY" | translate }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-xs-5" ng-switch="session.action">
      <div class="alert alert-info" ng-switch-default>
        <h4>{{ "SUBSIDY.TITLE" | translate }}</h4>
        <p>{{ "SUBSIDY.INFO" | translate }}</p>
        <p>{{ "SUBSIDY.DETAILS" | translate }}</p>
      </div>

      <div ng-switch-when="new">
        <form novalidate name="new" class="form-horizontal">
          <legend><h3>{{ "SUBSIDY.NEW_SUBSIDY" | translate }} </h3></legend>

          <div class="form-group">
            <label class="control-label col-xs-4 required">{{ "COLUMNS.LABEL" | translate }}</label>
            <div class="col-xs-7">
              <input ng-model="session.new.text" class="form-bhima" required>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-4">{{ "COLUMNS.IS_PERCENT" | translate }}</label>
            <div class="col-xs-7">
              <input type="checkbox" id="isprecentID" ng-model="session.new.is_percent" ng-true-value="1" ng-false-value="0">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-4 required">{{ "COLUMNS.VALUE" | translate }}</label>
            <div class="input-group col-xs-7" >
              <input class="form-bhima" ng-model="session.new.value" type="number" required>
              <span class="input-group-addon">
                <span ng-show="session.new.is_percent">%</span>
                <span ng-hide="session.new.is_percent">{{enterprise.data[0].symbol}}</span>
              </span>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-4 required">{{ "COLUMNS.DEBITOR_GROUP" | translate }}</label>
            <div class="col-xs-7">
              <select class="form-bhima" required ng-model="session.new.debitor_group_uuid">
                <option ng-repeat="debitorGroup in debitorGroups.data | orderBy:'name'" ng-value="debitorGroup.uuid">{{debitorGroup.name}}</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <input type="submit" ng-disabled="new.$invalid" class="btn btn-sm btn-success" value="{{ 'FORM.SUBMIT' | translate }}" ng-click="save.new()">
            <input type="reset" class="btn btn-sm btn-default" value="{{ 'FORM.RESET' | translate }}" ng-click="reset()">
          </div>
        </form>
      </div>

      <div ng-switch-when="edit">
        <form novalidate class="form-horizontal" name="edit">
          <legend><h3>{{ "SUBSIDY.UPDATE" | translate }} </h3></legend>

          <div class="form-group">
            <label class="control-label col-xs-4 required">{{ "COLUMNS.LABEL" | translate }}</label>
            <div class="col-xs-7">
              <input ng-model="session.edit.text" class="form-bhima" required>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-4">{{ "COLUMNS.IS_PERCENT" | translate }}</label>
            <div class="col-xs-7">
              <input type="checkbox" id="ispercentID" ng-model="session.edit.is_percent" ng-true-value="1" ng-false-value="0">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-4 required">{{ "COLUMNS.VALUE" | translate }}</label>
            <div class="input-group col-xs-7">
              <input ng-model="session.edit.value" class="form-bhima" required>
              <span class="input-group-addon">
                <span ng-show="session.edit.is_percent">%</span>
                <span ng-hide="session.edit.is_percent">{{enterprise.data[0].symbol}}</span>
              </span>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-4 required">{{ "COLUMNS.DEBITOR_GROUP" | translate }}</label>
            <div class="col-xs-7">
              <select class="form-bhima" required ng-model="session.edit.debitor_group_uuid" ng-options="debitorGroup.uuid as debitorGroup.name for debitorGroup in debitorGroups.data">
                <option value="" disable="disabled">-- {{'SELECT.SUBSIDY' | translate}} -- </option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <input type="submit" ng-disabled="edit.$invalid" id="editButtonID" class="btn btn-sm btn-success" value="{{ 'FORM.SUBMIT' | translate }}" ng-click="save.edit()">
            <input type="reset" class="btn btn-sm btn-default" value="{{ 'FORM.RESET' | translate }}" ng-click="reset()">
          </div>
        </form>
      </div>
    </div>
  </div>
</main>


