<form name="UserForm" bh-submit="UserModalCtrl.submit(UserForm)" bh-form-defaults novalidate>
  <div class="modal-header">
  <ol class="headercrumb">
    <li ng-if="UserModalCtrl.isCreating" class="title">
      <span translate>USERS.ADDING_USER</span>
      <label class="badge badge-warning" translate>FORM.LABELS.CREATE</label>
    </li>
    <li ng-if="!UserModalCtrl.isCreating" class="title">
      <span translate>USERS.UPDATING_USER</span>
      <label class="badge badge-warning" translate>FORM.LABELS.UPDATE</label>
    </li>
  </ol>
</div>

  <div class="modal-body">

    <div class="form-group" ng-class="{ 'has-error' : UserForm.$submitted && UserForm.display_name.$invalid }">
      <label class="control-label" translate>FORM.LABELS.USERNAME</label>
      <input name="display_name" ng-model="UserModalCtrl.user.display_name" autocomplete="off" ng-maxlength="UserModalCtrl.maxLength" class="form-control" required>
      <div class="help-block" ng-messages="UserForm.display_name.$error" ng-show="UserForm.$submitted">
        <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
      </div>
    </div>

    <div class="form-group"  ng-class="{ 'has-error' : UserForm.$submitted && UserForm.username.$invalid }">
      <label class="control-label" translate>FORM.LABELS.LOGIN</label>
      <input name="username" ng-maxlength="UserModalCtrl.userName" autocomplete="off" ng-model="UserModalCtrl.user.username" class="form-control" required>
      <div class="help-block" ng-messages="UserForm.username.$error" ng-show="UserForm.$submitted">
        <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
      </div>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : UserForm.$submitted && UserForm.email.$invalid }">
      <label class="control-label" translate>FORM.LABELS.EMAIL</label>
      <input name="email" ng-maxlength="UserModalCtrl.length100" ng-model="UserModalCtrl.user.email" autocomplete="off" class="form-control" type="email" required>
      <div class="help-block" ng-messages="UserForm.email.$error" ng-show="UserForm.$submitted">
        <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
      </div>
    </div>

    <div class="form-group"
         ng-class="{ 'has-error' : UserForm.$submitted && UserForm.projects.$invalid }">

      <label class="control-label" translate>FORM.LABELS.PROJECT</label>

      <ui-select multiple  name="projects" ng-model="UserModalCtrl.user.projects" theme="bootstrap" close-on-select="false" required>

        <ui-select-match placeholder="{{ 'FORM.SELECT.PROJECTS' | translate }}">
          <span>{{$item.name}}</span>
        </ui-select-match>

        <ui-select-choices repeat="project.id as project in UserModalCtrl.projects| filter:{name: $select.search}">
          <span ng-bind-html="project.name | highlight: $select.search"></span>
        </ui-select-choices>
      </ui-select>

      <div class="help-block" ng-messages="UserForm.projects.$error" ng-show="UserForm.$submitted">
        <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
      </div>
    </div>

    <div ng-if="!UserModalCtrl.isCreating" class="form-group">
      <label class="control-label">
        <input
          type="checkbox"
          name="is_deactivated"
          ng-true-value="1"
          ng-false-value="0"
          ng-model="UserModalCtrl.user.deactivated">
          <span translate>FORM.LABELS.LOCKED</span>
      </label>
    </div>

    <div ng-if="!UserModalCtrl.isCreating" class="form-group">
      <button id="user-edit-password" type="button" class="btn btn-warning btn-block" ng-click="UserModalCtrl.editPassword()">
        <i class="fa fa-lock"></i> <span translate>FORM.BUTTONS.UPDATE_PASSWORD</span>
      </button>
    </div>

    <div ng-if="UserModalCtrl.isCreating">

      <div class="form-group has-feedback"
        ng-class="{ 'has-error' : UserForm.$submitted && !UserModalCtrl.validPassword() }"
        >
        <label class="control-label" translate>
          FORM.LABELS.PASSWORD
        </label>

        <input name="password" ng-model="UserModalCtrl.user.password" class="form-control" type="password" required>

        <span ng-show="UserForm.password.$dirty && !UserModalCtrl.validPassword()" class="glyphicon glyphicon-warning-sign form-control-feedback text-danger" aria-hidden="true"></span>
        <span ng-show="UserForm.password.$dirty && UserModalCtrl.validPassword()" class="glyphicon glyphicon-ok form-control-feedback text-success" aria-hidden="true"></span>

        <div class="help-block" ng-messages="UserForm.password.$error" ng-show="UserForm.$submitted">
          <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
        </div>
      </div>

      <div class="form-group has-feedback"
        ng-class="{ 'has-error' : UserForm.$submitted && !UserModalCtrl.validPassword() }">
        <label class="control-label">
          <span translate>FORM.LABELS.PASSWORD</span> (<span translate>FORM.LABELS.RETYPE</span>)
        </label>

        <input name="passwordVerify" ng-model="UserModalCtrl.user.passwordVerify" class="form-control" type="password" required>

        <span ng-show="UserForm.passwordVerify.$dirty && !UserModalCtrl.validPassword()" class="glyphicon glyphicon-warning-sign form-control-feedback text-danger" aria-hidden="true"></span>
        <span ng-show="UserForm.passwordVerify.$dirty && UserModalCtrl.validPassword()" class="glyphicon glyphicon-ok form-control-feedback text-success" aria-hidden="true"></span>

        <p class="help-block" ng-if="UserForm.$submitted && !UserModalCtrl.validPassword()" data-no-password-match translate>
          FORM.VALIDATION.PASSWORD_MATCH
        </p>

        <div class="help-block" ng-messages="UserForm.passwordVerify.$error" ng-show="UserForm.$submitted">
          <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <p id="user-same" ng-if="UserForm.$submitted && UserForm.$pristine && !UserModalCtrl.isCreating" class="text-warning">
      <i class="fa fa-warning"></i> <span translate>USERS.RECORD_SAME</span>
    </p>
    <p ng-if="UserForm.$submitted && UserForm.$invalid" class="text-danger">
      <i class="fa fa-exclamation-triangle"></i> <span translate>FORM.ERRORS.RECORD_ERROR</span>
    </p>

    <button id="user-cancel" type="button" class="btn btn-default" ng-click="UserModalCtrl.closeModal()">
      <i class="fa fa-ban"></i> <span translate>FORM.BUTTONS.CANCEL</span>
    </button>

    <bh-loading-button loading-state="UserForm.$loading">
      <i class="fa fa-ok"></i> <span translate>FORM.BUTTONS.SUBMIT</span>
    </bh-loading-button>
  </div>
</form>
