<form name="UserForm" bh-submit="UsersDepotModalCtrl.submit(UserForm)" novalidate>
  <div class="modal-header">
    <ol class="headercrumb">
      <li class="title">
        <span translate>USERS.UPDATING_USER</span>
        <label class="badge badge-warning" translate>USERS.SET_DEPOT</label>
      </li>
    </ol>
  </div>

  <div class="modal-body" style="overflow-y: scroll; max-height:600px; ">


    <div class="form-group" ng-class="{ 'has-error' : UserForm.$submitted && UserForm.display_name.$invalid }">
      <label class="control-label" translate>FORM.LABELS.USERNAME</label>
      <div>
        <h4><i> {{ UsersDepotModalCtrl.user.display_name }} </i></h4>
      </div>
    </div>

    <span translate> FORM.INFO.USER_DEPOT </span>
    <div class="checkbox">
      <label data-root-node>
        <input type="checkbox" ng-model="UsersDepotModalCtrl.all" ng-change="UsersDepotModalCtrl.setAllNodeValue(UsersDepotModalCtrl.depotsData, UsersDepotModalCtrl.all)" />
        <strong class="text-capitalize" translate>FORM.LABELS.CHECK_ALL</strong>
      </label>
    </div>
    
    <div class="panel panel-default" style="margin-bottom : 0px;">
      <div class="panel-heading">
        <a href ng-click="UsersDepotModalCtrl.toggleFilter()">
          <span translate>TABLE.COLUMNS.FILTERING.LABEL</span> <span class="caret" ng-class="{'rotate' : UsersDepotModalCtrl.filterActive}"></span>
        </a>
      </div>

      <input ng-model="UsersDepotModalCtrl.filter" ng-show="UsersDepotModalCtrl.filterActive" class="form-control" placeholder="{{'FORM.PLACEHOLDERS.FILTER_NAME' | translate }}" style="border-radius: 0"/>
    </div>

    <div ng-if="!UsersDepotModalCtrl.loading" ng-repeat="depot in UsersDepotModalCtrl.depotsData | filter : { text : UsersDepotModalCtrl.filter }">
      <div style="margin-left: calc({{depot.$$treeLevel}} * 15px)" class="list-unstyled">
        <div class="checkbox">
          <label data-label="{{child._label}}">
            <input type="checkbox" id="{{depot.uuid}}" ng-model="depot._checked" ng-change="UsersDepotModalCtrl.setNodeValue(depot.children, depot)" />
            <span translate>{{depot.text}}</span>
          </label>
        </div>
      </div>
    </div>
    <div ng-if="UsersDepotModalCtrl.loading" class="row text-center">
      <span class="fa fa-circle-o-notch fa-spin"></span>
      <span translate>FORM.INFO.LOADING</span>
    </div>
  </div>

  <div class="modal-footer">
    <button id="user-cancel" type="button" class="btn btn-default" ng-click="UsersDepotModalCtrl.closeModal()">
      <span translate>FORM.BUTTONS.CANCEL</span>
    </button>

    <bh-loading-button loading-state="UserForm.$loading">
      <span translate>FORM.BUTTONS.SUBMIT</span>
    </bh-loading-button>
  </div>
</form>
