<form name="PasswordForm" bh-submit="UsersPasswordModalCtrl.submit(PasswordForm)" bh-form-defaults novalidate data-edit-password-modal>
  <div class="modal-header">
    <h4>{{ 'USERS.SET_PASSWORD' | translate }}</h4>
  </div>

  <div class="modal-body">
    <div class="form-group has-feedback" ng-class="{ 'has-error' : PasswordForm.$submitted && (PasswordForm.password.$invalid || !UsersPasswordModalCtrl.validPassword())}">
      <label class="control-label">{{ "FORM.LABELS.PASSWORD" | translate }}</label>
      <input name="password" ng-model="UsersPasswordModalCtrl.user.password" class="form-control" type="password" required>

      <span ng-show="PasswordForm.password.$dirty && !UsersPasswordModalCtrl.validPassword()" class="glyphicon glyphicon-warning-sign form-control-feedback text-danger" aria-hidden="true"></span>
      <span ng-show="PasswordForm.password.$dirty && UsersPasswordModalCtrl.validPassword()" class="glyphicon glyphicon-ok form-control-feedback text-success" aria-hidden="true"></span>

    </div>

    <div class="form-group has-feedback" ng-class="{ 'has-error' : PasswordForm.$submitted && (PasswordForm.passwordVerify.$invalid || !UsersPasswordModalCtrl.validPassword()) }">
      <label class="control-label">
        {{ "FORM.LABELS.PASSWORD" | translate }} ({{ "FORM.LABELS.RETYPE" | translate }})
      </label>

      <input name="passwordVerify" ng-model="UsersPasswordModalCtrl.user.passwordVerify" class="form-control" type="password" required>

      <span ng-show="PasswordForm.passwordVerify.$dirty && !UsersPasswordModalCtrl.validPassword()" class="glyphicon glyphicon-warning-sign form-control-feedback text-danger" aria-hidden="true"></span>
      <span ng-show="PasswordForm.passwordVerify.$dirty && UsersPasswordModalCtrl.validPassword()" class="glyphicon glyphicon-ok form-control-feedback text-success" aria-hidden="true"></span>

      <p class="help-block" ng-if="PasswordForm.$submitted && !UsersPasswordModalCtrl.validPassword()" data-no-password-match>
        {{ "FORM.VALIDATION.PASSWORD_MATCH" | translate }}
      </p>

      <div class="help-block" ng-messages="PasswordForm.passwordVerify.$error" ng-show="PasswordForm.$submitted">
        <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button"
      class="btn btn-default"
      ng-click="UsersPasswordModalCtrl.cancel()"
      data-method="cancel">
      {{ "FORM.BUTTONS.CANCEL" | translate }}
    </button>

    <bh-loading-button loading-state="PasswordForm.$loading">
      {{ "FORM.BUTTONS.SUBMIT" | translate }}
    </bh-loading-button>
  </div>
</form>
