<div ng-if="!row.groupHeader" class="ui-grid-cell-contents">
  <span ng-if="!row.entity._isInTransitOrPartial">{{row.entity.depot_text}}</span>
  <span 
    ng-if="row.entity._isInTransitOrPartial"
    uib-tooltip="{{ row.entity.__isInTransitTooltip }}"
    tooltip-placement="top-left"
    tooltip-append-to-body="true">
    <i class="fa fa-truck"></i> <span translate>ASSET.STATUS.IN_TRANSIT</span> <i class="fa fa-long-arrow-right"></i> {{row.entity.destination}}
  </span>
</div>
<div ng-if="row.groupHeader" class="ui-grid-cell-contents">
  {{COL_FIELD}}
</div>