<div class="ui-grid-cell-contents">
  <a ng-if="!row.entity._isInTransitOrPartial" data-method="stock-lots"
    ui-sref="stockLots({ filters : [
      { key : 'inventory_uuid', value : row.entity.inventory_uuid, displayValue : row.entity.text, cacheable: false },
      { key : 'depot_uuid', value : row.entity.depot_uuid, displayValue : row.entity.depot_text, cacheable: false },
      { key : 'limit', value : 1000, cacheable: false }
    ]})" href>
    <span>{{ row.entity.text }}</span>
  </a>
  <!-- simple text for in-transit -->
  <span ng-if="row.entity._isInTransitOrPartial">{{ row.entity.text }}</span>
</div>