<div class="ui-grid-cell-contents text-right" uib-dropdown dropdown-append-to-body uib-dropdown-toggle ng-if="!row.groupHeader">
  <a href>
    <span data-method="action" translate>FORM.BUTTONS.ACTIONS</span>
    <span class="caret"></span>
  </a>

  <ul class="dropdown-menu-right" uib-dropdown-menu>
    <li class="bh-dropdown-header">{{row.entity.code}} - {{row.entity.text}}</li>
    <li>
      <a data-method="stock-movement" ui-sref="stockMovements({
        filters : [
          { key : 'period', value : 'allTime' },
          { key : 'inventory_uuid', value : row.entity.inventory_uuid, displayValue : row.entity.text }
        ]})" href>
        <span class="fa fa-file-text-o"></span> <span translate>TREE.STOCK_MOVEMENTS</span>
      </a>
    </li>

    <li>
      <a data-method="inventories" href
        ui-sref="inventory.list({
          filters : [
          { key : 'uuid', value : row.entity.inventory_uuid, displayValue: row.entity.text,  cacheable: false }
        ]})">
        <i class="fa fa-cart-plus"></i> <span translate>TREE.INVENTORY_LIST</span>
      </a>
    </li>
  </ul>
</div>
