<div class="ui-grid-cell-contents text-right" uib-dropdown dropdown-append-to-body uib-dropdown-toggle ng-if="!row.groupHeader">
  <a href>
    <span data-method="action" translate>FORM.BUTTONS.ACTIONS</span>
    <span class="caret"></span>
  </a>

  <ul class="dropdown-menu-right" uib-dropdown-menu bh-dropdown-menu-auto-dropup >
    <li class="bh-dropdown-header">{{row.entity.code}} - {{row.entity.text}}</li>
    <li>
      <a data-method="stock-movement" ui-sref="stockMovements({
        filters : [
          { key : 'period', value : 'allTime' },
          { key : 'inventory_uuid', value : row.entity.inventory_uuid, displayValue : row.entity.text },
          { key : 'depot_uuid', value : row.entity.depot_uuid, displayValue : row.entity.depot_text},
        ]})" href>
        <span class="fa fa-file-text-o"></span> <span translate>TREE.STOCK_MOVEMENTS</span>
      </a>
    </li>

    <li>
      <a data-method="inventories" href
        ui-sref="inventory.list({
          filters : [
          { key : 'uuid', value : row.entity.inventory_uuid, displayValue: row.entity.text, cacheable: false }
        ]})">
        <i class="fa fa-cart-plus"></i> <span translate>INVENTORY.VIEW_ARTICLE_IN_INVENTORY</span>
      </a>
    </li>

    <li>
      <a data-method="stock-lots" href
        ui-sref="stockLots({
          filters : [
            { key : 'period', value : 'allTime', cacheable: false },
            { key : 'depot_uuid', value : row.entity.depot_uuid, displayValue : row.entity.depot_text, cacheable: false},
            { key : 'inventory_uuid', value : row.entity.inventory_uuid, displayValue: row.entity.text, cacheable: false }
        ]})">
        <i class="fa fa-cubes"></i> <span translate>INVENTORY.VIEW_LOTS_IN_STOCK</span>
      </a>
    </li>

    <li class="divider"></li>

    <li>
      <a data-method="view-amc-calculations" href
        ng-click="grid.appScope.viewAMCCalculations(row.entity)">
        <i class="fa fa-newspaper-o"></i> <span translate>INVENTORY.OPEN_AMC_CALCULATION</span>
      </a>
    </li>

    <li>
      <a uib-tooltip="{{ 'REPORT.STOCK.INVENTORY_REPORT_TOOLTIP' | translate }}"
        tooltip-placement="left"
        ng-href="/reports/stock/sheet?{{ grid.appScope.openStockSheetReport(row.entity) }}"
        target="_blank">
        <span class="fa fa-file-pdf-o"></span> <span translate>REPORT.STOCK.INVENTORY_REPORT</span>
      </a>
    </li>

    <li>
      <a data-method="lot-schedule" ng-click="grid.appScope.openLotScheduleModal(null, row.entity.inventory_uuid, row.entity.depot_uuid)" href>
        <i class="fa fa-info-circle"></i> <span translate>LOTS.SHOW_LOT_SCHEDULE</span>
      </a>
    </li>
  </ul>
</div>
