<div ng-if="!row.groupHeader" class="ui-grid-cell-contents text-center" translate>
  <span
    ng-if="!row.entity.hasStockOut"
    uib-tooltip-template="'warningLotsMessage.html'"
    tooltip-append-to-body="true"
    tooltip-placement="left">
    <i ng-if="row.entity.noAlert"  class="fa fa-check text-success"></i>
    <i ng-if="row.entity.alert" class="fa fa-exclamation-triangle text-danger"></i>
    <i ng-if="row.entity.warning" class="fa fa-exclamation-circle text-warning"></i>
  </span>
</div>

<script type="text/ng-template" id="warningLotsMessage.html">
  <!-- no expiration risk -->
  <div ng-if="row.entity.noAlert">
    <span translate>LOTS.NO_RISK_OF_EXPIRATION</span>
  </div>

  <!-- risky lots -->
  <div ng-if="row.entity.riskyLotsQuantity">
    <span
      translate="LOTS.RISK_OF_EXPIRATION"
      translate-values="{ quantity : row.entity.riskyLotsQuantity, unit : row.entity.unit_type }">
    </span>
  </div>

  <!-- expired lots -->
  <div ng-if="row.entity.nearExpireLotsQuantity">
    <span
      translate="LOTS.NEAR_EXPIRE"
      translate-values="{ quantity : row.entity.nearExpireLotsQuantity, unit : row.entity.unit_type }">
    </span>
  </div>

  <!-- expired lots -->
  <div ng-if="row.entity.expiredLotsQuantity">
    <span
      translate="LOTS.EXPIRED"
      translate-values="{ quantity : row.entity.expiredLotsQuantity, unit : row.entity.unit_type }">
    </span>
  </div>
</script>
