<div class="flex-header">
  <div class="bhima-title">
    <ol class="headercrumb">
      <li class="static">{{ "TREE.HOSPITAL" | translate }}</li>
      <li class="title">{{ "PATIENT_REG.PAGE_TITLE" | translate }}</li>
    </ol>
  </div>
</div>

<div class="flex-content">
  <div class="container-fluid">

    <!-- module wide error handling -->
    <div class="row">
      <div class="col-md-12">
        <uib-alert id="exceptionAlert" type="danger" ng-show="PatientRegCtrl.exception">
          <span class="glyphicon glyphicon-exclamation-sign"></span>
          <b>{{ PatientRegCtrl.exception.data.code | translate }}</b> ({{PatientRegCtrl.exception.status}} - {{PatientRegCtrl.exception.data.description}})
        </uib-alert>
      </div>
    </div>

    <div class="row">

      <form name="details" class="form-horizontal" bh-submit="PatientRegCtrl.registerPatient(details)" autocomplete="off" autocapitalize="off" autocorrect="off" novalidate>

        <!-- Patient Details Form -->
        <div class="col-md-7">
          <div id="patient-details" class="panel panel-primary">
            <div class="panel-heading">{{ "PATIENT_REG.PATIENT_DETAILS" | translate }}</div>
              <div class="panel-body">

                <!-- Last Name -->
                <div
                  class="form-group has-feedback"
                  ng-class="{'has-error' : details.lastName.$invalid && details.$submitted}">

                  <label for="second-name" class="col-md-3 control-label">{{ "FORM.LABELS.SECOND_NAME" | translate }}</label>
                  <div class="col-md-9">
                    <input id="second-name" class="form-control" ng-maxlength="PatientRegCtrl.length150" name="lastName" ng-model="PatientRegCtrl.medical.last_name" required>

                    <div class="help-block" ng-messages="details.lastName.$error" ng-show="details.$submitted">
                      <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
                    </div>
                  </div>
                </div>

                <!-- Middle Name -->
                <div
                  class="form-group has-feedback"
                  ng-class="{'has-error' : details.middleName.$invalid && details.$submitted}">

                  <label for="middle-name" class="col-md-3 control-label">{{ "FORM.LABELS.MIDDLE_NAME" | translate }}</label>
                  <div class="col-md-9">
                    <input id="middle-name" class="form-control"  ng-maxlength="PatientRegCtrl.length150" name="middleName" ng-model="PatientRegCtrl.medical.middle_name" required>
                    <div class="help-block" ng-messages="details.middleName.$error" ng-show="details.$submitted">
                      <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
                    </div>
                  </div>
                </div>

                <!-- First Name -->
                <div
                  class="form-group has-feedback"
                  ng-class="{'has-error' : details.firstName.$invalid && details.$submitted}">
                  <label for="new-first-name" class="col-md-3 control-label">{{ "FORM.LABELS.FIRST_NAME" | translate }}</label>
                  <div class="col-md-9">
                    <input id="new-first-name" class="form-control" ng-maxlength="PatientRegCtrl.length150" name="firstName" ng-model="PatientRegCtrl.medical.first_name">
                    <div class="help-block" ng-messages="details.firstName.$error" ng-show="details.$submitted">
                      <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
                    </div>                  
                  </div>
                </div>

                <!-- Hospital File Number -->
                <div
                  class="form-group has-feedback"
                  ng-class="{'has-error' : details.hospitalNumber.$invalid && details.$submitted || details.hospitalNumber.$error.unique}">

                  <label for="new-hospital-number" class="col-md-3 control-label">{{ "FORM.LABELS.HOSPITAL_FILE_NR" | translate }} </label>
                  <div class="col-md-9">
                    <input
                      id="new-hospital-number"
                      name="hospitalNumber"
                      class="form-control"
                      autocomplete="off"
                      ng-model="PatientRegCtrl.medical.hospital_no"
                      bh-unique="/patients/hospital_number"
                      ng-maxlength="PatientRegCtrl.length150"
                      required>

                    <span ng-if="details.hospitalNumber.$error.unique" class="glyphicon glyphicon-remove form-control-feedback" id="unique-error-icon"></span>
                    <span ng-if="details.hospitalNumber.$pending.unique"  class="glyphicon glyphicon-hourglass form-control-feedback"></span>

                    <div class="help-block" ng-messages="details.hospitalNumber.$error" ng-show="details.$submitted || details.hospitalNumber.$error.unique">
                      <p ng-messages-include="partials/templates/messages.tmpl.html"></p>
                    </div>
                  </div>
                </div>

                <!-- Year of Birth -->
                <div class="form-group"
                  ng-if="!PatientRegCtrl.fullDateEnabled"
                  ng-class="{'has-error' : details.yob.$invalid && details.$submitted}">

                  <label for="yob" class="col-md-3 control-label">{{ "FORM.LABELS.YOB" | translate }}</label>
                  <div class="col-md-9">
                    <div class="input-group">
                      <input id="yob" name="yob" type="text" class="form-control" ng-model="PatientRegCtrl.yob" ng-change="PatientRegCtrl.calculateYOB(details.yob.$modelValue)" required>
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="PatientRegCtrl.enableFullDate()">{{ "FORM.BUTTONS.ENTER_FULL_DATE" | translate }}</button>
                      </span>
                    </div>
                  </div>
                </div>

                <!-- Full date of birth -->
                <div class="form-group has-feedback"
                  ng-class="{'has-error' : details.dob.$invalid && details.$submitted}">

                  <label for="patient-dob" class="col-md-3 control-label">{{ "FORM.LABELS.DOB" | translate }}</label>
                  <div class="col-md-9">
                    <input required name="dob" id="patient-dob" type="date" class="form-control" ng-disabled="!PatientRegCtrl.fullDateEnabled" ng-model="PatientRegCtrl.medical.dob" min="{{PatientRegCtrl.minDOB | date : 'yyyy-MM-dd'}}" max="{{PatientRegCtrl.maxDOB | date : 'yyyy-MM-dd'}}">

                    <!-- ng-if used to remove element for various test cases - this is not required for functionality -->
                    <div ng-if="details.dob.$invalid">
                      <div class="help-block" ng-messages="details.dob.$error" data-date-error>
                        <div ng-messages-include="partials/templates/dates.messages.tmpl.html"></div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Gender -->
                <div id="gender" class="form-group has-feedback"
                  ng-class="{'has-error' : details.genderOptions.$invalid && details.$submitted}">
                  <label for="male" class="col-md-3 control-label"> {{ "FORM.LABELS.GENDER" | translate }} </label>
                  <div class="col-md-9">
                    <label class="radio-inline">
                      <input type="radio" name="genderOptions" id="male" value="M" ng-model="PatientRegCtrl.medical.sex" required>
                      {{ "FORM.LABELS.MALE" | translate }}
                    </label>

                    <label class="radio-inline">
                      <input type="radio" name="genderOptions" id="female" value="F" ng-model="PatientRegCtrl.medical.sex" required>
                      {{ "FORM.LABELS.FEMALE" | translate }}
                    </label>

                    <div class="help-block" ng-messages="details.genderOptions.$error" ng-show="details.$submitted">
                      <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
                    </div>
                  </div>
                </div>

                <!-- separate location settings -->
                <hr>

                <!-- Location -->
                <div class="row">
                  <div class="col-md-5 col-md-offset-1">
                      <h4>{{ "FORM.LABELS.ORIGIN_LOCATION" | translate }}</h4>
                      <bh-location-select
                        id="origin-location-id"
                        validation-trigger="details.$submitted"
                        location-uuid="PatientRegCtrl.medical.origin_location_id">
                      </bh-location-select>
                  </div>

                  <!-- Seperate location searches given a certain screen size -->
                  <div class="visible-sm-block visible-xs-block"><hr></div>

                  <div class="col-md-5 col-md-offset-1">
                    <h4>{{ "FORM.LABELS.CURRENT_LOCATION" | translate }}</h4>
                    <bh-location-select
                      id="current-location-id"
                      validation-trigger="details.$submitted"
                      location-uuid="PatientRegCtrl.medical.current_location_id">
                    </bh-location-select>
                  </div>
                </div>

                <!-- Seperate finance settings -->
                <hr>

                <!-- Debtor Group -->
                <div class="form-group has-feedback"
                  ng-class="{'has-error' : details.debtorGroup.$invalid && details.$submitted}">

                  <!-- Warning for incomplete data - the page will not be able to continue -->
                  <uib-alert type="warning" ng-if="PatientRegCtrl.options.debtorGroups.length === 0">
                    <span class="glyphicon glyphicon-warning-sign"></span>
                    {{ "FORM.LABELS.NO_DEBTOR_GROUPS" | translate }} <b>{{ "FORM.LABELS.CONTACT_ADMIN" | translate }}</b>
                  </uib-alert>

                  <label for="new-debtor-group" class="col-md-3 control-label">{{"FORM.LABELS.DEBITOR_GROUP" | translate }}</label>
                  <div class="col-md-9">
                    <select class="form-control" name="debtorGroup" id="debtor-group" ng-model="PatientRegCtrl.finance.debtor_group_uuid" ng-options="g.uuid as g.name for g in PatientRegCtrl.options.debtorGroups | orderBy:'name'" required>
                      <option value="" disabled="disabled">-- {{"FORM.SELECTS.SELECT_DEBITOR_GROUP" | translate }} --</option>
                    </select>

                    <div class="help-block" ng-messages="details.debtorGroup.$error" ng-show="details.$submitted">
                      <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
                    </div>
                  </div>
                </div>
            </div>

            <div class="panel-footer text-right">
              <p class="text-danger" ng-if="details.$submitted && details.$invalid">
                <span class="glyphicon glyphicon-remove-sign"></span> {{ "FORM.ERRORS.HAS_ERRORS" | translate }}
              </p>
              <bh-loading-button loading-state="details.$loading">
                {{ "FORM.BUTTONS.REGISTER_PATIENT" | translate }}
              </bh-loading-button>
            </div>
          </div>
        </div>
      </form>

      <!-- Optional Information Form -->
      <div class="col-md-5">
        <div id="registration-type" class="panel panel-default">
          <div class="panel-heading">{{ "FORM.LABELS.OPTIONAL_INFO" | translate }}</div>
          <div class="panel-body">
            <form name="defaults" class="form-horizontal" autocomplete="off" autocapitalize="off" autocorrect="off" novalidate>

              <div class="form-group" ng-class="{'has-error' : defaults.title.$invalid && details.$submitted}">
                <label for="title" class="control-label">{{ "FORM.LABELS.TITLE" | translate }}</label>
                <input type="text" class="form-control" ng-maxlength="PatientRegCtrl.length30" name="title" id="title" ng-model="PatientRegCtrl.medical.title">
                <div class="help-block" ng-messages="defaults.title.$error" ng-show="details.$submitted">
                  <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
                </div>                
              </div>

              <div class="form-group" ng-class="{'has-error' : defaults.phone.$invalid && details.$submitted}">
                <label for="phone" class="control-label">{{ "FORM.LABELS.PHONE_NO" | translate }}</label>
                <input type="text" class="form-control" name="phone" ng-maxlength="PatientRegCtrl.length12" id="form-control" ng-model="PatientRegCtrl.medical.phone">
                <div class="help-block" ng-messages="defaults.phone.$error" ng-show="details.$submitted">
                  <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
                </div>                
              </div>

              <div class="form-group" ng-class="{'has-error' : defaults.phone.$invalid && details.$submitted}">
                <label for="email" class="control-label">{{ "FORM.LABELS.EMAIL" | translate }}</label>
                <input type="email" name="email" class="form-control" ng-maxlength="PatientRegCtrl.length40" id="email" ng-model="PatientRegCtrl.medical.email">
                <div class="help-block" ng-messages="defaults.email.$error" ng-show="details.$submitted">
                  <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
                </div>              
              </div>

              <div class="form-group" ng-class="{'has-error' : defaults.address1.$invalid && details.$submitted}">
                <label for="address1" class="control-label">{{ "FORM.LABELS.ADDRESS1" | translate }}</label>
                <input type="text" class="form-control" name="address1" ng-maxlength="PatientRegCtrl.length100" id="address1" ng-model="PatientRegCtrl.medical.address_1">
                <div class="help-block" ng-messages="defaults.address1.$error" ng-show="details.$submitted">
                  <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
                </div>                   
              </div>

              <div class="form-group" ng-class="{'has-error' : defaults.address2.$invalid && details.$submitted}">
                <label for="address2" class="control-label">{{ "FORM.LABELS.ADDRESS2" | translate }}</label>
                <input type="text" class="form-control" name="address2" ng-maxlength="PatientRegCtrl.length100" id="address2" ng-model="PatientRegCtrl.medical.address_2">
                <div class="help-block" ng-messages="defaults.address2.$error" ng-show="details.$submitted">
                  <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
                </div>                  
              </div>

              <div class="form-group" ng-class="{'has-error' : defaults.father_name.$invalid && details.$submitted}">
                <label for="father_name" class="control-label">{{ "FORM.LABELS.FATHER_NAME" | translate }}</label>
                <input type="text" class="form-control" name="father_name" id="father_name" ng-maxlength="PatientRegCtrl.length150" ng-model="PatientRegCtrl.medical.father_name">
                <div class="help-block" ng-messages="defaults.father_name.$error" ng-show="details.$submitted">
                  <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
                </div>                 
              </div>

              <div class="form-group" ng-class="{'has-error' : defaults.mother_name.$invalid && details.$submitted}">
                <label for="mother_name" class="control-label">{{ "FORM.LABELS.MOTHER_NAME" | translate }}</label>
                <input type="text" class="form-control" name="mother_name" id="mother_name" ng-maxlength="PatientRegCtrl.length150" ng-model="PatientRegCtrl.medical.mother_name">
                <div class="help-block" ng-messages="defaults.mother_name.$error" ng-show="details.$submitted">
                  <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
                </div>                 
              </div>

              <div class="form-group" ng-class="{'has-error' : defaults.religion.$invalid && details.$submitted}">
                <label for="religion" class="control-label">{{ "FORM.LABELS.RELIGION" | translate }}</label>
                <input type="text" name="religion" class="form-control" id="religion" ng-maxlength="PatientRegCtrl.length50" ng-model="PatientRegCtrl.medical.religion">
                <div class="help-block" ng-messages="defaults.religion.$error" ng-show="details.$submitted">
                  <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
                </div>                 
              </div>

              <div class="form-group" ng-class="{'has-error' : defaults.marital.$invalid && details.$submitted}">
                <label for="marital" class="control-label">{{ "FORM.LABELS.MARITAL_STATUS" | translate }}</label>
                <input type="text" class="form-control" name="marital" id="marital" ng-maxlength="PatientRegCtrl.length50" ng-model="PatientRegCtrl.medical.marital_status">
                <div class="help-block" ng-messages="defaults.marital.$error" ng-show="details.$submitted">
                  <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
                </div>                
              </div>

              <div class="form-group" ng-class="{'has-error' : defaults.profession.$invalid && details.$submitted}">
                <label for="profession" class="control-label">{{ "FORM.LABELS.PROFESSION" | translate }}</label>
                <input type="text" name="profession" ng-maxlength="PatientRegCtrl.length150" class="form-control" id="profession" ng-model="PatientRegCtrl.medical.profession">
                <div class="help-block" ng-messages="defaults.profession.$error" ng-show="details.$submitted">
                  <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
                </div>                 
              </div>

              <div class="form-group" ng-class="{'has-error' : defaults.employer.$invalid && details.$submitted}">
                <label for="employer" class="control-label">{{ "FORM.LABELS.EMPLOYER" | translate }}</label>
                <input type="text" class="form-control" id="employer" name="employer" ng-maxlength="PatientRegCtrl.length150" ng-model="PatientRegCtrl.medical.employer">
                <div class="help-block" ng-messages="defaults.employer.$error" ng-show="details.$submitted">
                  <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
                </div>                 
              </div>

              <div class="form-group" ng-class="{'has-error' : defaults.spouse.$invalid && details.$submitted}">
                <label for="spouse" class="control-label">{{ "FORM.LABELS.SPOUSE" | translate }}</label>
                <input type="text" class="form-control" name="spouse" id="spouse" ng-maxlength="PatientRegCtrl.length150" ng-model="PatientRegCtrl.medical.spouse">
                <div class="help-block" ng-messages="defaults.spouse.$error" ng-show="details.$submitted">
                  <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
                </div>                 
              </div>

              <div class="form-group" ng-class="{'has-error' : defaults.spouse_profession.$invalid && details.$submitted}">
                <label for="spouse_profession" class="control-label">{{ "FORM.LABELS.SPOUSE_PROFESSION" | translate }}</label>
                <input type="text" class="form-control" name="spouse_profession" ng-maxlength="PatientRegCtrl.length150" id="spouse_profession" ng-model="PatientRegCtrl.medical.spouse_profession">
                <div class="help-block" ng-messages="defaults.spouse_profession.$error" ng-show="details.$submitted">
                  <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
                </div>               
              </div>

              <div class="form-group" ng-class="{'has-error' : defaults.spouse_employer.$invalid && details.$submitted}">
                <label for="spouse_employer" class="control-label">{{ "FORM.LABELS.SPOUSE_EMPLOYER" | translate }}</label>
                <input type="text" class="form-control" name="spouse_employer" id="spouse_employer" ng-maxlength="PatientRegCtrl.length150" ng-model="PatientRegCtrl.medical.spouse_employer">
                <div class="help-block" ng-messages="defaults.spouse_employer.$error" ng-show="details.$submitted">
                  <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
                </div>                
              </div>

              <div class="form-group" ng-class="{'has-error' : defaults.notes.$invalid && details.$submitted}">
                <label for="notes" class="control-label">{{ "FORM.LABELS.NOTES" | translate }}</label>
                <textarea class="form-control" id="notes" name="notes" ng-maxlength="PatientRegCtrl.maxLength" ng-model="PatientRegCtrl.medical.notes" rows="4"></textarea>
                <div class="help-block" ng-messages="defaults.notes.$error" ng-show="details.$submitted">
                  <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
                </div>                
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
