<div class="row">
  <div class="col-md-12 clearfix" style="margin-bottom: 0.5em;">
    <div class="pull-left">
      <a href id="export" class="btn btn-default" ng-click="FiscalOBCtrl.export()">
        <i class="fa fa-file-excel-o"></i> <span translate>FORM.BUTTONS.EXPORT_AS_EXCEL</span>
      </a>
    </div>

    <div class="pull-right">
      <bh-filter-toggle on-toggle="FiscalOBCtrl.toggleAccountFilter()">
      </bh-filter-toggle>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <form name="OpeningAccountForm" bh-submit="FiscalOBCtrl.submit(OpeningAccountForm)" novalidate>
      <div class="panel panel-primary">

        <!-- heading  -->
        <div class="panel-heading">
          <span translate>FISCAL.OPENING_BALANCE</span>
          <strong>{{ FiscalOBCtrl.fiscal.label }}</strong>
        </div>

        <!-- body  -->
        <section>
          <div id="account-balance-grid" style="height : 650px;" ui-grid="FiscalOBCtrl.gridOptions" ui-grid-exporter></div>
        </section>

        <!-- footer  -->
        <div ng-if="!FiscalOBCtrl.previousFiscalYearExist" class="panel-footer clearfix">
          <span ng-class="{'text-success': FiscalOBCtrl.balanced, 'text-danger': !FiscalOBCtrl.balanced}" ng-show="OpeningAccountForm.$submitted">
            <i class="fa" ng-class="{'fa-check': FiscalOBCtrl.balanced, 'fa-warning': !FiscalOBCtrl.balanced}"></i>
            <span data-status="balanced" ng-show="FiscalOBCtrl.balanced" translate>ACCOUNT.BALANCED</span>
            <span data-status="not-balanced" ng-if="!FiscalOBCtrl.balanced">
              <span translate>ACCOUNT.NOT_BALANCED</span>
              (
              <span translate>FORM.LABELS.DEBIT</span>: {{ FiscalOBCtrl.AccountTree._rootNode.debit | currency: FiscalOBCtrl.enterprise.currency_id }} &nbsp;
              <span translate>FORM.LABELS.CREDIT</span>: {{ FiscalOBCtrl.AccountTree._rootNode.credit | currency: FiscalOBCtrl.enterprise.currency_id }}
              )
            </span>
          </span>

          <div class="pull-right">
            <button type="button" data-method="back" class="btn btn-default" ui-sref="fiscal.list({ id : FiscalOBCtrl.fiscal.id })" translate>
              FORM.BUTTONS.BACK
            </button>

            <button type="submit" data-method="submit" ng-disabled="!FiscalOBCtrl.editBalanceEnabled && !FiscalOBCtrl.previousFiscalYearExist" class="btn btn-primary">
              <span ng-hide="FiscalOBCtrl.previousFiscalYearExist" translate>FORM.BUTTONS.SUBMIT</span>
              <span ng-show="FiscalOBCtrl.previousFiscalYearExist" translate>FORM.BUTTONS.IMPORT_PREVIOUS_CLOSING_BALANCE</span>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
