/*Placeholder animation classes - requires angular.animate.js*/
.find-collapse { 
  -webkit-transition: all linear 4s;
  transition: all linear 4s;
  opacity: 1;
}

.find-collapse.ng-hide-add,
.find-collapse.ng.hide.remove { 
  display: block !important;
}

.find-collapse.ng-hide { 
  opacity: 0;
}
/**/

.patient-find { 
  margin-left: 10px;
  /* text-decoration: underline; */
  /* color: inherit; */
}

.patient-find:hover { 
  cursor: default; 
}

.link-selected { 
  text-decoration: underline;
  font-weight: bold;
}

/*Who knows how many places this is assigned*/
.form-invoice {
  width: 100%;
  font-size: 12px;
  margin-top : 5px;
  margin-bottom: 5px;
  padding: 0;
  color: #555555;
  vertical-align: middle;
  border: none;
}

.form-invoice[disabled] { 
  background: white;
}

.fieldset-util { 
  font-size: 12px;
}

.fieldset-util:hover {
  cursor: default;
}

.incomplete-outline { 
  border-left: 5px solid red;
}

.complete-outline { 
  border-left: 5px solid green;
}