<header data-header>
  {{ 'VERSEMENT.TITLE' | translate }}
</header>

<nav>
  <div class="pull-left">
    <ol class="breadcrumb">
      <li><a href="#/"><i class="glyphicon glyphicon-home"></i></a></li>
      <li><a href="#/cost_center">{{ "VERSEMENT.PARENT" | translate }}</a></li>
      <li class="active">{{ "VERSEMENT.TITLE" | translate }}</li>
    </ol>
  </div>
</nav>

<main class="extend margin-top-10">
  <div class="panel panel-default">
    <div class="panel-heading">{{ 'VERSEMENT.CHOOSE' | translate }}</div>
    <form class="form panel-body">
      <select
        class="form-bhima"
        ng-model="CenterCtrl.configuration.costCenter"
        ng-options="cc as cc.text for cc in CenterCtrl.cost_centers.data"
        ng-change="CenterCtrl.performChange()">
        <option value="" disabled>-- {{ 'SELECT.COST_CENTER' | translate }} --</option>
      </select>
    </form>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <div class="panel panel-default" style="height: 500px; overflow:auto;">
        <div class="panel-heading clearfix">
          {{ 'VERSEMENT.AVAILABLE_ACCOUNT' | translate }} {{ CenterCtrl.selected.text }}
          <span class="pull-right">
            <button
              ng-disabled="!CenterCtrl.isAssignable()"
              ng-click="CenterCtrl.assign()"
              ng-if="CenterCtrl.state !== 'loading'"
              class="btn btn-sm btn-default">
              {{ 'VERSEMENT.VERSER' | translate }}
            </button>
          </span>
        </div>
        <table class="table table-condensed table-striped">
          <thead>
            <tr>
              <th><input type="checkbox" ng-model="CenterCtrl.checkAvailable.all" ng-change="CenterCtrl.checkAllAvailable()"/></th>
              <th>{{ 'COLUMNS.ACCOUNT_NUMBER' | translate }}</th>
              <th>{{ 'COLUMNS.ACCOUNT' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-center" ng-if="CenterCtrl.state === 'loading'">
              <td colspan="3"><loading-indicator></loading-indicator></td>
            </tr>
            <tr ng-repeat="account in CenterCtrl.availableAccounts.data">
              <td><input type="checkbox" ng-model="account.checked"/></td>
              <td>{{ account.number }}</td>
              <td>{{ account.label }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-xs-6">
      <div class="panel panel-primary" style="height: 500px; overflow-y:auto;">
        <div class="panel-heading clearfix">
          {{ 'VERSEMENT.ASSOCIATED_TO' | translate }}
          <strong>
            {{ CenterCtrl.selectedCostCenter.text }}
            <span ng-if="!CenterCtrl.selectedCostCenter">{{ 'VERSEMENT.PLEASE_SELECT' | translate }}</span>
          </strong>
          <span class="pull-right">
            <button ng-disabled="!CenterCtrl.isRemovable()" class="btn btn-sm btn-default" ng-click="CenterCtrl.remove()">
              {{ 'VERSEMENT.REMOVE' | translate }}
            </button>
          </span>
        </div>
        <table class="table table-condensed table-striped">
          <thead>
            <tr>
              <th><input type="checkbox" ng-model="CenterCtrl.checkAssociated.all" ng-change="CenterCtrl.checkAllAssociated()"/></th>
              <th>{{ 'COLUMNS.ACCOUNT_NUMBER' | translate }}</th>
              <th>{{ 'COLUMNS.ACCOUNT' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="associatedAccount in CenterCtrl.associatedAccounts.data">
              <td><input type="checkbox" ng-model="associatedAccount.checked"/></td>
              <td>{{ associatedAccount.number }}</td>
              <td>{{ associatedAccount.label }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
