<header data-header>
  {{ "CONFIG_ACCOUNTING.TITLE" | translate }}
</header>

<nav>
  <div class="pull-left">
    <ol class="breadcrumb">
      <li><a href="#/"><span class="glyphicon glyphicon-home"></span></a></li>
      <li class="active">{{ "CONFIG_ACCOUNTING.TITLE" | translate }}</li>
    </ol>
  </div>

  <div class="pull-right">
    <button class="btn btn-sm btn-default" ng-click="ConfigAccountCtrl.new()">
      <span class="glyphicon glyphicon-plus-sign"></span>
       {{ "CONFIG_ACCOUNTING.ADD" | translate }}
    </button>
  </div>
</nav>

<main>
  <div class="row margin-top-10">

    <div class="col-xs-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-copyright-mark"></span>
          {{ "CONFIG_ACCOUNTING.REGISTERED" | translate }}
        </div>
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>{{ "COLUMNS.NR" | translate}}</th>
              <th>{{ "COLUMNS.LABEL" | translate}}</th>
              <th>{{ "COLUMNS.ACCOUNT" | translate}}</th>
              <th colspan="4">{{ "COLUMNS.ACTIONS" | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="config_accounting in ConfigAccountCtrl.config_accountings.data">
              <td>{{$index + 1}}</td>
              <td>{{ config_accounting.label }}</td>
              <td>{{ config_accounting.account_number }}</td>
              <td><a class="action" ng-click="ConfigAccountCtrl.edit(config_accounting)"><span class="glyphicon glyphicon-pencil"></span></a></td>
              <td><a class="action danger" ng-click="ConfigAccountCtrl.delete(config_accounting)"><span class="glyphicon glyphicon-trash"></span></a></td>
            </tr>
            <tr ng-if="!ConfigAccountCtrl.config_accountings.data.length">
              <td colspan="4">{{ "CONFIG_ACCOUNTING.NO_CONFIG_ACCOUNTING" | translate }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-xs-6" ng-switch="ConfigAccountCtrl.session.action">
      <div class="alert alert-info" ng-switch-default>
        <h4>{{ "CONFIG_ACCOUNTING.TITLE" | translate }}</h4>
        <p>{{ "CONFIG_ACCOUNTING.ALERT" | translate }}</p>
      </div>

      <div ng-switch-when="new">
        <form novalidate class="form-horizontal" name="new">
          <legend><h3>{{ "CONFIG_ACCOUNTING.NEW_CONFIG" | translate }} </h3></legend>

          <div class="form-group">
            <label class="control-label col-xs-4 required">{{ "COLUMNS.LABEL" | translate }}</label>
            <div class="col-xs-7">
              <input ng-model="ConfigAccountCtrl.session.new.label" class="form-bhima" required>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-4 required">{{ "COLUMNS.ACCOUNT" | translate }}</label>
            <div class="col-xs-7">
              <select
                class="form-bhima"
                ng-options="account.id as account.account_number + ' -- ' + account.account_txt for account in ConfigAccountCtrl.accounts.data | orderBy:'account_number'"
                ng-model="ConfigAccountCtrl.session.new.account_id"
                required>
                <option value="" disabled>--- {{ "SELECT.ACCOUNT" | translate }} ---</option>
              </select>

            </div>
          </div>

          <div class="form-group">
            <input type="submit" ng-disabled="new.$invalid" class="btn btn-sm btn-success" value="{{ 'FORM.SUBMIT' | translate }}" ng-click="ConfigAccountCtrl.save.new()">
            <input type="reset" class="btn btn-sm btn-default" value="{{ 'FORM.RESET' | translate }}" ng-click="ConfigAccountCtrl.reset()">
          </div>
        </form>
      </div>

      <div ng-switch-when="edit">
        <form novalidate class="form-horizontal" name="edit">
          <legend><h3>{{ "CONFIG_ACCOUNTING.UPDATE" | translate }} </h3></legend>

          <div class="form-group">
            <label class="control-label col-xs-4 required">{{ "COLUMNS.LABEL" | translate }}</label>
            <div class="col-xs-7">
              <input ng-model="ConfigAccountCtrl.session.edit.label" class="form-bhima" required>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-4 required">{{ "COLUMNS.ACCOUNT" | translate }}</label>
            <div class="col-xs-7">
              <select
                class="form-bhima"
                ng-model="ConfigAccountCtrl.session.edit.account_id"
                ng-options="account.id as account.account_number + ' -- ' + account.account_txt for account in ConfigAccountCtrl.accounts.data | orderBy:'account_number'"
                required>
                <option value="" disabled>--- {{ "SELECT.ACCOUNT" | translate }} ---</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <input type="submit" ng-disabled="edit.$invalid" class="btn btn-sm btn-success" value="{{ 'FORM.SUBMIT' | translate }}" ng-click="ConfigAccountCtrl.save.edit()">
            <input type="reset" class="btn btn-sm btn-default" value="{{ 'FORM.RESET' | translate }}" ng-click="ConfigAccountCtrl.reset()">
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
