<div class="flex-header">
  <div class="bhima-title">
    <ol class="headercrumb">
      <li class="static">{{ "TREE.FINANCE" | translate }}</li>
      <li class="title">{{ "POSTING_JOURNAL.TITLE" | translate }}</li>
    </ol>

    <div class="toolbar">
      <div class="toolbar-item">
        <button class="btn btn-default" data-method="configure" ng-click="JournalCtrl.openColumnConfigModal()">
          <i class="fa fa-cogs"></i> {{ "FORM.BUTTONS.CONFIGURE" | translate }}
        </button>
      </div>
    </div>
  </div>

  </div>
</div>

<div class="flex-content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">

        <div
          id="journal-grid"
          class="grid-full-height"
          ui-grid="JournalCtrl.gridOptions"
          ui-grid-auto-resize
          ui-grid-resize-columns
          ui-grid-move-columns
          ui-grid-selection
          ui-grid-grouping>
        </div>
      </div>
    </div>
  </div>
</div>

