<div
  class="grid-full-height"
  id="BillingServicesGrid"
  ui-grid="BillingServicesListCtrl.options"
  ui-grid-auto-resize>

  <!-- indicate that the grid is loading -->
  <div class="grid-msg-overlay" ng-show="BillingServicesListCtrl.loading">
    <div class="msg">
      <span><span class="glyphicon glyphicon-refresh"></span> {{ "GRID.LOADING" | translate }}</span>
    </div>
  </div>

  <!-- indicate that there is no data for the requested query -->
  <div class="grid-msg-overlay" ng-hide="BillingServicesListCtrl.loading || BillingServicesListCtrl.options.data.length > 0">
    <div class="msg">
      <span class="text-info">
        <span class="glyphicon glyphicon-info-sign"></span> {{ "GRID.EMPTY" | translate }}
      </span>
    </div>
  </div>

  <!-- indicate that some error occurred -->
  <div class="grid-msg-overlay" ng-show="BillingServicesListCtrl.error">
    <div class="msg">
      <!-- @todo - make an error directive for this kind of text -->
      <span class="text-danger">
        <span class="glyphicon glyphicon-alert"></span> {{ BillingServicesListCtrl.error.code | translate }}
      </span>
    </div>
  </div>

</div>
