<header data-header> 
  {{ "BUDGET.DISPLAY.REPORT_TITLE" | translate }}
</header>

<nav>
  <div class="pull-left">
      <ol class="breadcrumb">
        <li><a href="#/"><span class="glyphicon glyphicon-home"></span></a></li>
        <li class="active">{{ "BUDGET.DISPLAY.REPORT_TITLE" | translate }}</li>
      </ol>
  </div>

    <div class="pull-right" style="padding-right: 20px"  ng-if="session.mode === 'display'">
      <button ng-click="selectFiscalYear()" class="btn btn-default btn-sm square" style="margin-right: 20px"><span class="glyphicon glyphicon-circle-arrow-left"></span> {{'UTIL.BACK' | translate}}</button>

      <button ng-click="exportToCSV()" 
      class="btn btn-default btn-sm square" 
      style="margin-right: 20px"><span class="glyphicon glyphicon-file"></span> {{'UTIL.EXPORT_TO_CSV' | translate}}</button> 

      <button ng-click="print()" class="btn btn-default btn-sm square"><span class="glyphicon glyphicon-print"></span> {{'UTIL.PRINT' | translate}}</button>
    </div>
</nav>

<div class="report" style="margin-top: 8px">
  <div class="reportBody" ng-if="session.mode === 'select'">
    <div class="reportFrame">
      <div class="row">
        <div class="col-xs-4">
          <h3><b>{{ "SELECT.FISCAL_YEAR" | translate }}</b></h3>
          <table class="table form-bhima-border" summary="{{SELECT.FISCAL_YEAR}}">
            <thead>
              <tr>
                <th>{{ "FISCAL_YEAR.DESCRIPTION" | translate }}</th>
                <th>{{ "FISCAL_YEAR.START_DATE" | translate }}</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
              <tbody>
              <tr ng-repeat="year in fiscal_years.data" ng-class="{'btn-primary': year.id === selected }" ng-click="selectYear(year.id)" style="cursor:pointer">
                <td>{{ year.fiscal_year_txt }}</td>
                <td>{{ year.start_month}}/{{year.start_year }}</td>
                <td><span class="glyphicon glyphicon-ok" ng-if="year.id === session.fiscal_year.id"></span></td>
              </tr>
              </tbody>
          </table>
        </div>
      <div class="col-xs-7">
    <!-- right column -->
    </div>
    </div>
      <div class="row">
        <div class="col-xs-4">
          <h3>
            <button class="btn btn-sm btn-default" ng-click="displayAccounts()">
              {{ "FORM.SUBMIT" | translate }}
            </button>
          </h3>
        </div>
      </div>
    </div>
  </div> <!-- end of select area -->

  <div class="reportBody" ng-if="session.mode === 'display'">
    <div class="reportFrame">
      <h3><b>{{ "BUDGET.DISPLAY.REPORT_TITLE" | translate }}</b> <span class="pull-right smaller">{{timestamp | date}}</small></h3>
      <h3>{{enterprise.name}} - {{ "FISCAL_YEAR.TITLE" | translate }}: {{session.fiscal_year.fiscal_year_txt}}</h3>
      <div class="row">
        <div class="col-xs-12">
          <table class="reportTable">
            <thead>
              <tr>
                <th rowspan="2">{{ "BUDGET.DISPLAY.LINE" | translate }}</th>
                <th class="budget" rowspan="2">{{ "ACCOUNT.ACCOUNT_NUMBER"  | translate }}</th>
                <th class="budget" rowspan="2">{{ "COLUMNS.DESCRIPTION"     | translate }}</th>
                <th class="budget-cash" rowspan="2">{{ "BUDGET.EDIT.BUDGET" | translate }}</th>
                <th class="budget-cash" rowspan="2">{{ "COLUMNS.BALANCE"    | translate }}</th>
                <th class="budget" colspan="2">{{ "COLUMNS.GAP" | translate }}</th>
              </tr>
              <tr>
                <th class="budget">{{ "COLUMNS.SURPLUS" | translate }}</th>
                <th class="budget">{{ "COLUMNS.DEFICIT" | translate }}</th>                
              </tr>                                         
            </thead>
            <tbody>
              <tr ng-repeat="account in accounts.data">
                <td class="budget">{{ $index + 1 }}</td>
                <td class="budget">{{ account.number }}</td>
                <td class="budget" 
                    ng-style="{'padding-left': (account.depth * 40) + 'px'}" 
                    ng-class="{'reportTitle': account.type=='title'}">{{ account.label }}</td>
                <td class="budget-cash">{{ account.budget }}</td>
                <td class="budget-cash">{{ account.balance }}</td>
                <td class="budget">{{ account.surplus }}</td>
                <td class="budget">{{ account.deficit }}</td>
              </tr>
            <tr>
              <td class="budget-cash" colspan="3"><b>{{ "BUDGET.DISPLAY.TOTALS" | translate }}</b></td>
              <td class="budget-cash"><b>{{ total.budget }}</b></td>
              <td class="budget-cash"><b>{{ total.balance }}</b></td>
              <td class="budget-cash"><b>{{ total.surplus }}</b></td>
              <td class="budget-cash"><b>{{ total.deficit }}</b></td>              
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>    
</div> <!-- end of display area -->

</div> <!-- end of report -->
