#bhima-units-budget { 
	margin-top: 10px;
}

.bhima-scrollable { 
  /*This shouldn't be a forced number - differing screen sizes etc.*/
  max-height: 600px;
  overflow-y: scroll;
}

.budgetFieldset { 
  /*FIXME*/
  margin-top: -10px;
  display: inline-block;
  vertical-align: middle;
  /*what*/
  width: 33%;
}

.bhima-header { 
  padding-bottom: 9px;
  margin: 0px 0 45px;
  border-bottom: 1px solid #eeeeee;
}

.uniform table{ 
  table-layout: fixed;
}

.uniform td { 
  /*Everything is bad*/
  height: 5px;
  text-align: center;
  vertical-align: middle;
}

.column-big { 
  width: 100px;
  max-width: 100px;
  min-width: 100px;

}

.column-small {
  width: 20px;
  max-width: 20px;
  min-width: 20px;
}

.budget-field { 
  display: block;
  width: 100%;
  padding: 4px 4px;
  font-size: 10px;
  line-height: 1.2;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 2px;
}

.budget-close { 
  margin-right: 6px;
}

.selected { 
  font-weight: bold;
}

th.budget, 
td.budget {
    padding: 0 6px;
}

th.budget-cash, 
td.budget-cash {
    padding: 0 6px;
    text-align: right;
}

.smaller {
    font-size: 85%;
}
