<div class="ui-grid-cell-contents text-right" uib-dropdown dropdown-append-to-body>
  <a href uib-dropdown-toggle>
    <span data-method="action" translate>FORM.BUTTONS.ACTIONS</span>
    <span class="caret"></span>
  </a>

  <ul class="dropdown-menu-right" bh-dropdown-menu-auto-dropup uib-dropdown-menu>
    <li class="bh-dropdown-header">
      {{row.entity.reference}}
      <span ng-show="row.entity.edited" class="text-primary">
        <i class="fa fa-pencil"></i>
        <span translate>FORM.INFO.EDITED</span>
      </span>
    </li>
    <li>
      <a
        href
        data-method="document"
        ng-click="grid.appScope.getDocument(row.entity.uuid)">
        <i class="fa fa-file-pdf-o"></i> <span translate>FORM.LABELS.DOCUMENT</span>
      </a>
    </li>

    <li class="divider"></li>

    <li ng-if="row.entity.status_id === grid.appScope.status.WAITING_CONFIRMATION">
      <a href data-method="edit-record" ui-sref="purchasesUpdate({ uuid : row.entity.uuid })" >
        <i class="fa fa-edit"></i><span translate>FORM.LABELS.EDIT</span>
      </a>
    </li>

    <li ng-if="!row.entity.hasStockMovement && row.entity.status_id !== grid.appScope.status.CANCELLED">
      <a
        href
        class="text-action"
        ng-click="grid.appScope.editStatus(row.entity)"
        data-edit-metadata="{{ row.entity.uuid }}"
        data-method="edit-status">
        <i class="fa fa-edit"></i><span translate>FORM.LABELS.EDIT_STATUS</span>
      </a>
    </li>

    <li>
      <a ng-href="{{ grid.appScope.openPurchaseOrderAnalysisReport(row.entity) }}" target="_blank">
        <span class="fa fa-file-pdf-o"></span> <span translate>REPORT.PURCHASE_ORDER_ANALYSIS.TITLE</span>
      </a>
    </li>

    <li class="divider" ng-if="row.entity.hasStockMovement"></li>

    <li ng-if="row.entity.hasStockMovement">
      <a href
        data-method="view-stock-movements"
        ui-sref="stockMovements({ filters : [
          { key : 'purchase_uuid', value : row.entity.uuid, displayValue : row.entity.reference, cacheable: false },
          { key : 'flux_id', value : grid.appScope.FLUX_FROM_PURCHASE },
          { key : 'limit', value : 1000, cacheable: false }
        ]})" href>
        <i class="fa fa-arrows-h"></i> <span translate>PATIENT_REGISTRY.STOCK_MOVEMENTS</span>
      </a>
    </li>

    <li ng-if="row.entity.hasStockMovement">
      <a data-method="view-stock-lot" href
        ui-sref="stockInventories({ filters : [
          { key : 'period', value : 'allTime' },
          { key : 'includeEmptyLot', value : 1 },
          { key : 'purchase_uuid', value : row.entity.uuid, displayValue: row.entity.reference }]})">
        <i class="fa fa-cart-plus"></i> <span translate>REPORT.VIEW_ARTICLE_IN_STOCK</span>
      </a>
    </li>

    <li bh-has-permission="grid.appScope.actions.DELETE_PURCHASE_ORDER" ng-if="grid.appScope.allowRecordDeletion(row.entity)" class="divider"></li>

    <li bh-has-permission="grid.appScope.actions.DELETE_PURCHASE_ORDER" ng-if="grid.appScope.allowRecordDeletion(row.entity)">
      <a data-method="delete-record" href ng-click="grid.appScope.deletePurchaseOrder(row.entity)">
        <span class="text-danger"><i class="fa fa-trash"></i> <span translate>FORM.BUTTONS.DELETE_RECORD</span></span>
      </a>
    </li>
  </ul>
</div>
