<div class="ui-grid-cell-contents">
  <div ng-if="row.entity.status_id === grid.appScope.status.WAITING_CONFIRMATION"
    class="label label-default"
    uib-tooltip="{{ 'PURCHASES.STATUS.WAITING_CONFIRMATION' | translate }}" tooltip-placement="left"
    translate> PURCHASES.STATUS.WAITING_CONFIRMATION
  </div>

  <div ng-if="row.entity.status_id === grid.appScope.status.CONFIRMED"
    class="label label-primary"
    uib-tooltip="{{ 'PURCHASES.STATUS.CONFIRMED' | translate }}" tooltip-placement="left"
    translate> PURCHASES.STATUS.CONFIRMED
  </div>

  <div ng-if="row.entity.status_id === grid.appScope.status.RECEIVED"
    class="label label-success"
    uib-tooltip="{{ 'PURCHASES.STATUS.RECEIVED' | translate }}" tooltip-placement="left"
    translate> PURCHASES.STATUS.RECEIVED
  </div>

  <div ng-if="row.entity.status_id === grid.appScope.status.PARTIALLY_RECEIVED"
    class="label label-warning"
    uib-tooltip="{{ 'PURCHASES.STATUS.PARTIALLY_RECEIVED' | translate }}" tooltip-placement="left"
    translate> PURCHASES.STATUS.PARTIALLY_RECEIVED
  </div>

  <div ng-if="row.entity.status_id === grid.appScope.status.CANCELLED"
    class="label label-danger"
    uib-tooltip="{{ 'PURCHASES.STATUS.CANCELLED' | translate }}" tooltip-placement="left"
    translate> PURCHASES.STATUS.CANCELLED
  </div>

  <div ng-if="row.entity.status_id === grid.appScope.status.EXCESSIVE_RECEIVED_QUANTITY"
    class="label label-danger"
    uib-tooltip="{{ 'PURCHASES.STATUS.EXCESSIVE_RECEIVED_QUANTITY' | translate }}" tooltip-placement="left"
    translate> PURCHASES.STATUS.EXCESSIVE_RECEIVED_QUANTITY
  </div>
</div>
