<div class="ui-grid-cell-contents">        
  <div ng-if="row.entity.status_id === 1" class="label label-default" translate> PURCHASES.STATUS.WAITING_CONFIRMATION </div>
  <div ng-if="row.entity.status_id === 2" class="label label-primary" translate> PURCHASES.STATUS.CONFIRMED </div>
  <div ng-if="row.entity.status_id === 3" class="label label-success" translate> PURCHASES.STATUS.RECEIVED </div>
  <div ng-if="row.entity.status_id === 4" class="label label-warning" translate>PURCHASES.STATUS.PARTIALLY_RECEIVED</div>
  <div ng-if="row.entity.status_id === 5" class="label label-danger" translate> PURCHASES.STATUS.CANCELLED </div>
</div>
