<form name="ModalForm" bh-submit="$ctrl.submit(ModalForm)" novalidate>
  <div class="modal-header">
    <ol class="headercrumb clearfix">
      <li class="static" translate>POSTING_JOURNAL.TRANSACTION</li>
      <li class="title" translate>ACCOUNT_STATEMENT.COMMENT</li>
    </ol>
  </div>

  <div class="modal-body">
    <div class="form-group">
      {{ $ctrl.rows.length || 0 }}
      <label translate>ACCOUNT_STATEMENT.SELECTED_ROWS</label>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : ModalForm.$submitted && ModalForm.comment.$invalid }">
      <label class="control-label" translate>FORM.LABELS.COMMENT</label>
      <textarea
        class="form-control"
        name="comment"
        ng-model="$ctrl.comment">
      </textarea>

      <div class="help-block" ng-messages="ModalForm.comment.$error" ng-show="ModalForm.$submitted">
        <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$ctrl.cancel()" data-method="cancel" translate>
      FORM.BUTTONS.CLOSE
    </button>
    <bh-loading-button loading-state="$ctrl.$loading">
      <span translate>FORM.BUTTONS.SUBMIT</span>
    </bh-loading-button>
  </div>
</form>
