<!-- confirm.purchase template -->
<div ng-controller="confirm_indirect_purchase">
  <div class="row customer-details">
    <div class="col-xs-12">
      <small style="float: right; color: grey; font-size: 8px">{{ invoice.uuid }}</small>
      <h4 class="invoice-header">{{ 'INVOICE.CONFIRM_PURCHASE' | translate }}</h4>
    </div>
  </div>
  <div class="row customer-details">
    <!-- Temporary style; needs official markup and CSS -->
    <div class="col-xs-4">
      <span>
        <b>{{invoice.enterprise_name}}</b>
      </span>
      <br>
      {{invoice.village}}
      <br>
      <!-- hah -->
      {{ invoice.po_box || 'B.P. 205'}}
      <br>
      {{invoice.sector}}
      <br>
      <i>TEL</i> {{invoice.phone}}
      <br>
      <i>FAX</i> {{invoice.email}}
    </div>

    <div class="col-xs-4">
      <b>{{invoice.name}} </b>
      <br>
      <i>{{ 'INVOICE.DATE_REGISTRATION' | translate }}</i>
      <br>
      {{invoice.purchase_date | date}}
    </div>

    <div class="col-xs-4">
      <i>{{'INVOICE.INVOICE_ID' | translate}}</i> <b>{{invoice.reference}}</b>
      <br>
      <i>{{'INVOICE.EMPLOYEE_CODE' | translate}}</i> <b>{{invoice.employee_code}}</b>
      <br>
      <br>
      <i>{{ 'INVOICE.DATE_RECEIPT' | translate }}</i>
      <br>
      {{invoice.purchase_date | date}}
      <br>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <table class="invoiceTable">
        <thead>
          <tr>
            <th>{{'COLUMNS.REFERENCE_PURCHASE' | translate}}</th>
            <th>{{'INVOICE.COST' | translate}}</th>
            <th>{{'COLUMNS.GIVEN_AMOUNT' | translate}}</th>
            <th>{{'INVOICE.CONFIRMED_BY' | translate}}</th>
          </tr>
        </thead>
        <tbody class="items">
          <tr>
            <td>{{ invoice.reference }}</td>
            <td>{{ invoice.cost | currency }}</td>
            <td>{{ invoice.cost | currency }}</td>
            <td>{{ invoice.name }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="signatures">
    <h5>{{ "UTIL.SIGNATURES" | translate }}</h5>

    <div class="signature-box-wide">
      <div class="col-xs-6">
        <div class="pull-left">
          <b>{{"INVOICE.SIGN_HEADER_PRI" | translate}}</b>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="pull-right">
         <b>{{"INVOICE.SIGN_EMPLOYEE" | translate}}</b>
        </div>
      </div>  
    </div>
  </div> 

</div>
<!-- End confirm.purchase template -->
