<!-- Caution template -->
<div ng-controller="receipt.caution">
  <header>
    <div class="pull-right">
      <select class="form-bhima" ng-change="updateCurrency(model.selectedCurrency.id)" ng-model="model.selectedCurrency" ng-options="currency.symbol for currency in model.currency.data"></select>
    </div>
  </header>

  <div class="row customer-details">
    <div class="col-xs-12">
      <h4 class="invoice-header">{{'INVOICE.CAUTION' | translate}}</h4>
    </div>
  </div>

  <div class="row customer-details">
    <div class="col-xs-1">
      <b>{{'INVOICE.TO' | translate}}</b>
    </div>
    <div class="col-xs-7">
      <div class="row">
        {{model.caution.last_name}} {{model.caution.middle_name}} {{model.caution.first_name}}
      </div>
      <div class="row">
        <i>{{model.common.location.name}}</i>
        <br>
        <i>{{model.common.location.sector_name}}</i>
        <br>
        <i>{{model.common.location.province_name}}</i>
      </div>
    </div>
    <div style="text-align: left;" class="col-xs-4">
      <div class="row">
        <b>{{'INVOICE.CAUTION_ID' | translate}}</b> <small style="font-size: 20px"><b> {{model.caution.abbr + model.caution.reference}}</small></b>
      </div>
      <div class="row">
        {{model.caution.id}}
      </div>
      <div class="row">
        <b>{{'INVOICE.DATE' | translate}}</b>
      </div>
      <div class="row">
        {{model.caution.date | date}}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <table class="invoiceTable">
        <thead>
          <tr><th>{{'INVOICE.CAUTION' | translate}}</th>
            <th>{{'INVOICE.AMOUNT' | translate}}</th></tr>
        </thead>
        <tbody class="items">
          <tr>
            <td>{{'INVOICE.LIBELLE_CAUTION' | translate}}</td>
            <td>{{ session.cost | currency:session.currency_id }}</td>
          </tr>
        </tbody>
        <tbody class="totals">
          <tr>
            <td colspan="1" class="no-border">{{'INVOICE.TOTAL_CAUTION' | translate}}</td>
            <td>{{ session.cost | currency:session.currency_id }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="signatures">
    <h5>{{ "UTIL.SIGNATURES" | translate }}</h5>

    <div class="signature-box-wide">
      <div class="col-xs-6">
        <div class="pull-left">
          <b>{{"INVOICE.SIGN_HEADER_PRI" | translate}}</b>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="pull-right">
         <b>{{"INVOICE.SIGN_CLIENT" | translate}}</b>
        </div>
      </div>  
    </div>
  </div> 
</div> 
<!-- End caution template -->
