<!-- salary_advance template -->
<div ng-controller="receipt.salary_advance">
  <div class="row customer-details">
    <div class="col-xs-12">
      <small style="float: right; color: grey; font-size: 8px">{{ model.salary_advance.document_uuid }}</small>
      <h4 class="invoice-header">{{ 'INVOICE.SALARY_ADVANCE' | translate }}</h4>
    </div>
  </div>

  <div class="row customer-details">
    <div class="col-xs-6">
      <span>
        <b>{{model.common.enterprise.name}}</b>
      </span>
      <br>
      {{model.common.location.name}}
      <br>
      {{ model.common.enterprise.postal || 'B.P. 205'}}
      <br>
      {{model.common.location.sector_name}}
      <br>
      <i>TEL</i> {{model.common.enterprise.phone}}
      <br>
      <i>MAIL</i> {{model.common.enterprise.email}}
    </div>

    <div class="col-xs-6">
      <b>{{model.salary_advance.account_txt}} </b><br>
      <i>{{ 'INVOICE.DATE_REGISTRATION' | translate }}</i><br>
      {{model.salary_advance.date | date}}<br>
      <br>
      <div>
        <strong>
          <span ng-if="model.salary_advance.prenom">{{ model.salary_advance.prenom | uppercase }},</span> 
          <span ng-if="model.salary_advance.name">{{ model.salary_advance.name | uppercase }}</span>
          <span ng-if="model.salary_advance.postnom"> - {{ model.salary_advance.postnom | uppercase }}</span>
        </strong>
      </div>
      {{ model.salary_advance.uuid }}
    </div>          
  </div>

  <div class="row">
    <div class="col-xs-12">
      <table class="invoiceTable">
        <thead>
          <tr>
            <th>{{ 'COLUMNS.REFERENCE' | translate }}</th>
            <th>{{ 'COLUMNS.EMPLOYEE' | translate }}</th>
            <th>{{ 'INVOICE.DESCRIPTION' | translate}}</th>
            <th>{{ 'COLUMNS.COST' | translate }}</th>
            <th>{{ 'COLUMNS.BY' | translate }}</th>
          </tr>
        </thead>
        <tbody class="items">
          <tr>
            <td>{{ model.common.enterprise.abbr }} {{ model.salary_advance.reference }}</td>
            <td>
              <span ng-if="model.salary_advance.prenom">{{ model.salary_advance.prenom }},</span> 
              <span ng-if="model.salary_advance.name">{{ model.salary_advance.name }}</span>
              <span ng-if="model.salary_advance.postnom"> - {{ model.salary_advance.postnom }}</span>
            </td>
            <td>{{ model.salary_advance.description }}</td>
            <td>{{ model.salary_advance.cost | currency:model.salary_advance.currency_id }}</td>
            <td>{{ model.salary_advance.first}} &nbsp; {{ model.salary_advance.last}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="signatures">
    <h5>{{ "UTIL.SIGNATURES" | translate }}</h5>

    <div class="signature-box-wide">
      <div class="col-xs-4">
        <div class="pull-left">
          <b>{{"INVOICE.SIGN_HEADER_PRI" | translate}}</b>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="pull-right">
         <b>{{"SIGNATURES.THIRD" | translate}}</b>
        </div>
      </div>  
      <div class="col-xs-4">
        <div class="pull-right">
         <b>{{"SIGNATURES.CHIEF_ACCOUNTANT" | translate}}</b>
        </div>
      </div>  
    </div>
  </div> 

</div>
<!-- End salary_advance template -->
