<div ng-controller="receipt.transfer">
  <div class="row customer-details">
    <div class="col-xs-12">
      <h4 class="invoice-header">{{'INVOICE.TRANSFERT' | translate}}</h4>
    </div>
  </div>

  <div class="row customer-details">
    <div class="col-xs-4">
      <span>
        <b>{{model.common.enterprise.name}}</b>
      </span>
      <br>
      {{model.common.location.name}}
      <br>
      {{ invoice.po_box || 'B.P. 205'}}
      <br>
      {{model.common.location.sector_name}}
      <br>
      <i>TEL</i> {{model.common.enterprise.phone}}
      <br>
      <i>MAIL</i> {{model.common.enterprise.email}}
    </div>

    <div class="col-xs-4">

      <i>{{ 'INVOICE.BY' | translate }}</i>
      <br>
      {{model.transfer.first}} {{model.transfer.last}}
      <br>
      <i>{{ 'INVOICE.DATE' | translate }}</i>
      <br>
      {{model.transfer.date | date}}
    </div>

    <div class="col-xs-4">
      <i>{{ 'INVOICE.DATE_RECEIPT' | translate }}</i>
      <br>
      {{model.transfer.date | date}}
      <br>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <table class="invoiceTable">
        <thead>
          <th>{{ 'COLUMNS.REFERENCE' | translate }}</th>
          <th>{{ 'COLUMNS.TRANSACTION_ID' | translate }}</th>          
          <th>{{'INVOICE.DESIGNATION' | translate}}</th>
          <th>{{'INVOICE.AMOUNT' | translate}}</th></tr>
        </thead>
        <tbody class="items">
          <tr>
            <td>{{ model.transfer.reference }}</td>
            <td>{{ trans_id }}</td>            
            <td>{{'INVOICE.LIBELLE_TRANSFERT_FROM' | translate}}{{model.transfer.label}} {{'INVOICE.TO' | translate}} {{'INVOICE.PCASH' | translate}}</td>
            <td>{{ model.transfer.cost  | currency:model.transfer.currency_id }}</td>
          </tr>
        </tbody>
        <tbody class="totals">
          <tr><td colspan="3" class="no-border">{{'INVOICE.TOTAL_TRANSFERT' | translate}}</td><td>{{ model.transfer.cost  | currency:model.transfer.currency_id }}</td></tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="signatures">
    <h5>{{ "UTIL.SIGNATURES" | translate }}</h5>

    <div class="signature-box-wide">
      <div class="col-xs-4">
        <div class="pull-right">
          <b>{{"INVOICE.SIGN_HEADER_PRI" | translate}}</b>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="pull-center">
         <b>{{"INVOICE.SIGN_HEADER_AUXI" | translate}}</b>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="pull-left">
         <b>{{"SIGNATURES.CHIEF_ACCOUNTANT" | translate}}</b>
        </div>
      </div>
    </div>
  </div>  
<div>
