<!-- distribution.html template -->
<div ng-controller="receipt.service_distribution">
<div class="row customer-details">
  <div class="col-xs-12">
    <small style="float: right; color: grey; font-size: 8px">{{ model.service_distribution.uuid }}</small>
    <h4 class="invoice-header">{{ 'INVOICE.DISTRIBUTION_SERVICE' | translate }}</h4>
  </div>
</div>

<div class="row customer-details">
  <!-- Temporary style; needs official markup and CSS -->
  <div class="col-xs-4">
    <span>
      <b>{{model.common.enterprise.name}}</b>
    </span>
    <br>
    {{model.common.location.name}}
    <br>
    <!-- hah -->
    {{ model.common.enterprise.po_box || 'B.P. 205'}}
    <br>
    {{model.common.location.sector_name}}
    <br>
    <i>TEL</i> {{model.common.enterprise.phone}}
    <br>
    <i>MAIL</i> {{model.common.enterprise.email}}
  </div>

  <div class="col-xs-4">
    <b>{{model.service_distribution[0].name}} </b>
    <br>
    <i>{{'INVOICE.DATE_REGISTRATION' | translate }}</i>
    <br>
    {{model.service_distribution[0].date | date}}
  </div>

  <div class="col-xs-4">
    <i>{{ 'INVOICE.DATE_RECEIPT' | translate }}</i>
    <br>
    {{model.service_distribution[0].date | date}}
    <br>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <table class="invoiceTable">
      <thead>
        <tr>
          <th>{{'COLUMNS.MEDECINE' | translate}}</th>
          <th>{{'COLUMNS.LOT_NUMBER' | translate}}</th>
          <th>{{'COLUMNS.QTY' | translate}}</th>
          <th>{{'COLUMNS.UNIT_PRICE' | translate}}</th>
          <th>{{'COLUMNS.COST' | translate}}</th>
        </tr>
      </thead>
      <tbody class="items">
        <tr ng-repeat="rec in model.service_distribution">
          <td>{{ rec.text }}</td>
          <td>{{ rec.lot_number}}</td>
          <td>{{ rec.quantity}}</td>
          <td>{{ rec.unit_price | currency }}</td>
          <td>{{ rec.quantity * rec.unit_price | currency}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="signatures">
  <h5>{{ "UTIL.SIGNATURES" | translate }}</h5>

  <div class="signature-box-wide">
    <div class="col-xs-6">
      <div class="pull-left">
        <b>{{"SIGNATURES.RESPONSABLE" | translate}}</b>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="pull-right">
       <b>{{"SIGNATURES.BENEFICIARY" | translate}}</b>
      </div>
    </div>
  </div>
</div>
<!-- end distribution.html template  -->
