<!-- confirm.integration template -->
<div ng-controller="receipt.confirm_integration">
  <div class="row customer-details">
    <div class="col-xs-12">
      <small style="float: right; color: grey; font-size: 14px">{{ model.stock.document_id }}</small>
      <h4 class="invoice-header">{{ 'INVOICE.INTEGRATION_CONFIRMATION' | translate }}</h4>
    </div>
  </div>
  <div class="row customer-details">
    <!-- Temporary style; needs official markup and CSS -->
    <div class="col-xs-4">
      <span>
        <b>{{model.common.enterprise.name}}</b>
      </span>
      <br>
      {{model.common.location.name}}
      <br>
      <!-- hah -->
      {{ model.common.enterprise.po_box || 'B.P. 205'}}
      <br>
      {{model.common.location.sector_name}}
      <br>
      <i>TEL</i> {{model.common.enterprise.phone}}
      <br>
      <i>MAIL</i> {{model.common.enterprise.email}}
    </div>

    <div class="col-xs-4">
      <i>{{'INVOICE.DATE_JUSTIFICATION' | translate}}</i><br>
      <b>{{today | date}}</b><br><br>

      <i>{{'INVOICE.DATE_INTEGRATION' | translate}}</i><br>
      <b>{{model.stock[0].purchase_date | date}}</b>

    </div>

    <div class="col-xs-4">
      <i>{{'INVOICE.INTEGRATION_USER' | translate}}</i> : <b>{{ model.integreur }} </b>
      <br><br>
      <i>{{'INVOICE.INTEGRATION_CONFIRMER' | translate}}</i>: <b>{{ model.confirmeur }}</b>
      <br>
      <i>{{ 'COLUMNS.TRANSACTION_ID' | translate }}</i> : <b>{{ trans_id }}<b>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <table class="reportTable">
        <thead>
          <tr>
            <th>{{ "COLUMNS.DEPOT" | translate }}</th>
            <th>{{ "COLUMNS.INVENTORY_CODE" | translate }}</th>
            <th>{{ "COLUMNS.ITEM" | translate }}</th>
            <th>{{ "COLUMNS.LOT_NUMBER" | translate }}</th>
            <th>{{ "COLUMNS.QUANTITY" | translate }}</th>
            <th>{{ "COLUMNS.EXPIRATION_DATE" | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="movement in model.stock | orderBy:'code'">
            <td>{{ movement.text }}</td>
            <td>{{ movement.code }}</td>
            <td>{{ movement.inventory_text }}</td>
            <td>{{ movement.lot_number }}</td>
            <td>{{ movement.quantity }}</td>
            <td>{{ movement.expiration_date | date }}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th colspan="6">
              <span class="glyphicon glyphicon-list-alt"></span>
              {{ stock.data.length }}
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

  <div class="signatures">
    <h5>{{ "UTIL.SIGNATURES" | translate }}</h5>

    <div class="signature-box-wide">
      <div class="col-xs-6">
        <div class="pull-left">
          <b>{{"INVOICE.STOCK_ADMINISTRATOR" | translate}}</b>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="pull-right">
         <b>{{"INVOICE.SIGN_EMPLOYEE" | translate}}</b>
        </div>
      </div>  
    </div>
  </div> 

</div>
<!-- End confirm.purchase template -->
