<!-- payroll template -->
<div ng-controller="receipt.payroll">
  <div class="row customer-details">
    <div class="col-xs-12">
      <small style="float: right; color: grey; font-size: 8px">{{ model.payroll.document_uuid }}</small>
      <h4 class="invoice-header">{{ 'INVOICE.SALARY_PAYMENT' | translate }}</h4>
    </div>
  </div>

  <div class="row customer-details">
    <div class="col-xs-6">
      <span>
        <b>{{model.common.enterprise.name}}</b>
      </span>
      <br>
      {{model.common.location.name}}
      <br>
      {{ model.common.enterprise.po_box || 'B.P. 205'}}
      <br>
      {{model.common.location.sector_name}}
      <br>
      <i>TEL</i> {{model.common.enterprise.phone}}
      <br>
      <i>MAIL</i> {{model.common.enterprise.email}}
    </div>

    <div class="col-xs-6">
      <b>{{model.payroll.label}} </b>
      <br>
      <i>{{ 'INVOICE.DATE_REGISTRATION' | translate }}</i>
      <br>
      {{model.payroll.date | date}}
    </div>          
  </div>

  <div class="row">
    <div class="col-xs-12">
      <table class="invoiceTable">
        <thead>
          <tr>
            <th>{{ 'COLUMNS.REFERENCE' | translate }}</th>
            <th>{{ 'INVOICE.DESCRIPTION' | translate}}</th>
            <th>{{ 'COLUMNS.COST' | translate }}</th>
            <th>{{ 'COLUMNS.BY' | translate }}</th>
          </tr>
        </thead>
        <tbody class="items">
          <tr>
            <td>{{ model.common.enterprise.abbr }} {{ model.payroll.reference }}</td>
            <td>{{ model.payroll.description }}</td>
            <td>{{ model.payroll.cost | currency:model.payroll.currency_id }}</td>
            <td>{{ model.payroll.first}} &nbsp; {{ model.payroll.last}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="signatures">
    <h5>{{ "UTIL.SIGNATURES" | translate }}</h5>

    <div class="signature-box-wide">
      <div class="col-xs-4">
        <div class="pull-left">
          <b>{{"INVOICE.SIGN_HEADER_PRI" | translate}}</b>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="pull-right">
         <b>{{"SIGNATURES.THIRD" | translate}}</b>
        </div>
      </div>  
      <div class="col-xs-4">
        <div class="pull-right">
         <b>{{"SIGNATURES.CHIEF_ACCOUNTANT" | translate}}</b>
        </div>
      </div>  
    </div>
  </div> 


</div>
<!-- End payroll template -->
