<header data-header>
  {{'GRAND_LIVRE.BUILD_GRAND_LIVRE' | translate}}
</header>

<main class="extend">
  <div class="panel panel-default">
    <div class="panel-heading">{{'GRAND_LIVRE.DOCUMENT_CONFIG' | translate}}</div>
    <form class="panel-body" autocomplete="off" autocapitalize="off" autocorrect="off" novalidate>
      <div class="form-group">
        <label>{{'GRAND_LIVRE.LANGUAGE' | translate}}</label>

        <div>
          <span ng-repeat="language in configuration.language.options">
            <button
              class="btn btn-default btn-lg"
              ng-class="{'active' : configuration.language.selected===language}"
              ng-click="selectConfiguration('language', language)">{{language.label}}</button>
          </span>
        </div>
      </div>

      <div class="form-group">
        <label class="required">
          {{ "GRAND_LIVRE.FISCAL_YEAR" | translate }}
        </label>
        <select class="form-bhima" ng-model="session.fy_id" ng-options="fy.id as fy.fiscal_year_txt for fy in model.fiscalYears.data">
          <option value="" disabled>-- {{ 'SELECT.FISCAL_YEAR' | translate }} --</option>
        </select>
      </div>

      <button
        class="btn btn-default"
        ng-disabled="session.building"
        ng-click="generateDocument()" ng-if="!generatedDocumentPath">
        {{ session.building ? 'Loading' : 'Generate Document' }}
      </button>

      <a class="btn btn-success" href="{{generatedDocumentPath}}" target="_blank" ng-if="generatedDocumentPath" ng-click="clearPath()">
        Document Build Success - Open Document
      </a>
    </form>
  </div>
</main>
