<div class="ui-grid-cell-contents text-right" uib-dropdown dropdown-append-to-body data-row="{{row.entity.code}}">
  <a href data-action="open-dropdown-menu" uib-dropdown-toggle>
    <span translate>FORM.BUTTONS.ACTIONS</span>
    <span class="caret"></span>
  </a>

  <ul data-row-menu="{{row.entity.code}}" class="dropdown-menu-right" bh-dropdown-menu-auto-dropup uib-dropdown-menu>
    <li class="bh-dropdown-header"> {{ row.entity.code }} - {{ row.entity.text }} </li>
    <li>
      <a data-method="edit-record" ui-sref="grades.edit({ uuid : row.entity.uuid })" href>
        <i class="fa fa-edit"></i> <span translate>FORM.BUTTONS.EDIT</span>
      </a>
    </li>
    <li class="divider"></li>
    <li>
      <a data-method="delete-record" ng-click="grid.appScope.deleteGrade(row.entity)" href>
        <span class="text-danger">
          <i class="fa fa-trash"></i> <span translate>GRADE.DELETE</span>
        </span>
      </a>
    </li>
  </ul>
</div>
