<!-- breadcrumb header -->
<bh-breadcrumb
  path   = "StockLotsCtrl.bcPaths"
  button = "StockLotsCtrl.bcButtons"
  print  = "StockLotsCtrl.buttonPrint">
</bh-breadcrumb>

<!-- util bar  -->
<div class="flex-util">
  <bh-filters-applied
    style="max-width:90%"
    filters="StockLotsCtrl.formatedFilters"
    on-remove-filter="StockLotsCtrl.onRemoveFilter(filter)">
  </bh-filters-applied>

  <a
    href
    ng-click="StockLotsCtrl.clearFilters()"
    ng-show="StockLotsCtrl.formatedFilters.length > 0"
    class="text-danger"
    data-method="clear">
    <i class="fa fa-ban text-danger"></i>
    {{ "FORM.INFO.CLEAR_FILTERS" | translate }}
  </a>
</div>

<!--the grid -->
<div class="flex-content">
  <div class="container-fluid">

    <!-- vouchers list  -->
    <div
      id="stock-lots-grid"
      ui-grid="StockLotsCtrl.gridOptions"
      class="grid-util-full-height"
      ui-grid-resize-columns
      ui-grid-auto-resize>
    </div>

  </div>
</div>
