<header data-header>
  {{ "GRADE.TITLE" | translate }}
</header>

<nav>
  <div class="pull-left">
    <ol class="breadcrumb">
      <li><a href="#/"><span class="glyphicon glyphicon-home"></span></a></li>
      <li class="active">{{ "GRADE.TITLE" | translate }}</li>
    </ol>
  </div>

  <div class="pull-right">
    <button class="btn btn-sm btn-default" ng-click="new()">
      <span class="glyphicon glyphicon-plus-sign"></span>
      {{ "GRADE.ADD" | translate }}
    </button>
  </div>
</nav>

<main>
  <div class="row margin-top-10">

    <div class="col-xs-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-stats"></span>
          {{ "GRADE.REGISTERED" | translate }}
        </div>
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>{{ "COLUMNS.CODE" | translate}}</th>
              <th>{{ "COLUMNS.GRADE" | translate}}</th>
              <th>{{ "COLUMNS.BASIC_SALARY" | translate}}</th>
              <th colspan="4" style="max-width: 20%;">{{ "COLUMNS.ACTIONS" | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="grade in grades.data | orderBy:'text'">
              <td>{{ grade.code }}</td>
              <td>{{ grade.text }}</td>
              <td>{{ grade.basic_salary }}</td>
              <td><a class="action" ng-click="edit(grade)"><span class="glyphicon glyphicon-pencil"></span></a></td>
              <td><a class="action danger" ng-click="delete(grade)"><span class="glyphicon glyphicon-trash"></span></a></td>
            </tr>
            <tr ng-if="!grades.data.length">
              <td colspan="4">{{ "GRADE.NO_GRADES" | translate }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-xs-6" ng-switch="session.action">
      <div class="alert alert-info" ng-switch-default>
        <h4>{{ "GRADE.TITLE" | translate }}</h4>
        <p>{{ "GRADE.ALERT" | translate }}</p>
      </div>

      <div ng-switch-when="new">
        <form novalidate class="form-horizontal" name="new">
          <legend><h3>{{ "GRADE.NEW_GRADE" | translate }} </h3></legend>

          <div class="form-group">
            <label class="control-label col-xs-3 required">{{ "COLUMNS.CODE" | translate }}</label>
            <div class="col-xs-8">
              <input ng-model="session.new.code" class="form-bhima" required>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-3 required">{{ "COLUMNS.GRADE" | translate }}</label>
            <div class="col-xs-8">
              <input type="number" ng-model="session.new.text" ng-change="calculateBaseSalary()" class="form-bhima" required>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-3 required">{{ "COLUMNS.BASIC_SALARY" | translate }}</label>
            <div class="input-group col-xs-8">
              <input ng-model="session.new.basic_salary" class="form-bhima" required>
              <span class="input-group-addon"> {{ enterprise.data[0].symbol }} </span>
            </div>
          </div>

          <div class="form-group">
            <input type="submit" ng-disabled="new.$invalid" class="btn btn-sm btn-success" value="{{ 'FORM.SUBMIT' | translate }}" ng-click="save.new()">
            <input type="reset" class="btn btn-sm btn-default" value="{{ 'FORM.RESET' | translate }}" ng-click="reset()">
          </div>
        </form>
      </div>

      <div ng-switch-when="edit">
        <form novalidate class="form-horizontal" name="edit">
          <legend><h3>{{ "GRADE.UPD_GRADE" | translate }} </h3></legend>

          <div class="form-group">
            <label class="control-label col-xs-3 required">{{ "COLUMNS.CODE" | translate }}</label>
            <div class="col-xs-8">
              <input ng-model="session.edit.code" class="form-bhima" required>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-3 required">{{ "COLUMNS.GRADE" | translate }}</label>
            <div class="col-xs-8">
              <input type="number" ng-model="session.edit.text"  ng-change="calculateBaseSalary()" class="form-bhima" required>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-3 required">{{ "COLUMNS.BASIC_SALARY" | translate }}</label>
            <div class="input-group col-xs-8">
              <input ng-model="session.edit.basic_salary" class="form-bhima" required>
              <span class="input-group-addon"> {{ enterprise.data[0].symbol }} </span>
            </div>
          </div>

          <div class="form-group">
            <input type="submit" ng-disabled="edit.$invalid" class="btn btn-sm btn-success" value="{{ 'FORM.SUBMIT' | translate }}" ng-click="save.edit()">
            <input type="reset" class="btn btn-sm btn-default" value="{{ 'FORM.RESET' | translate }}" ng-click="reset()">
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
