<form name="RubricForm" bh-submit="RubricModalCtrl.submit(RubricForm)" novalidate>
  <div class="modal-header">
    <ol class="headercrumb">
      <li ng-if="RubricModalCtrl.isCreateState" class="title">
        <span translate>PAYROLL_RUBRIC.ADD_PAYROLL_RUBRIC</span>
        <label class="badge badge-success" translate>FORM.LABELS.CREATE</label>
      </li>
      <li ng-if="!RubricModalCtrl.isCreateState" class="title">
        <span translate>PAYROLL_RUBRIC.EDIT_PAYROLL_RUBRIC</span>
        <label class="badge badge-success" translate>FORM.LABELS.UPDATE</label>
      </li>
    </ol>
  </div>

  <div class="modal-body" style="height: 400px; overflow-y: scroll">
    <div class="form-group" ng-class="{ 'has-error' : RubricForm.$submitted && RubricForm.label.$invalid }">
      <label class="control-label" translate>FORM.LABELS.DESIGNATION</label>
      <input name="label" ng-model="RubricModalCtrl.rubric.label" autocomplete="off" class="form-control" required>
      <div class="help-block" ng-messages="RubricForm.label.$error" ng-show="RubricForm.$submitted">
        <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
      </div>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : RubricForm.$submitted && RubricForm.label.$invalid }">
      <label class="control-label" translate>FORM.LABELS.ABBREVIATION</label>
      <input name="abbr" ng-model="RubricModalCtrl.rubric.abbr" ng-maxlength="20" autocomplete="off"
        class="form-control" required>
      <div class="help-block" ng-messages="RubricForm.abbr.$error" ng-show="RubricForm.$submitted">
        <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
      </div>
    </div>

    <div class="form-group" ng-show="RubricModalCtrl.enableIndexPayment">
      <bh-yes-no-radios
        label="PAYROLL_RUBRIC.IS_INDICE"
        value="RubricModalCtrl.rubric.is_indice"
		name="is_indice"
        on-change-callback="RubricModalCtrl.isIndexSetting(value)">
      </bh-yes-no-radios>
    </div>
    <div ng-show = "RubricModalCtrl.rubric.is_indice">
      <bh-yes-no-radios
        label="PAYROLL_RUBRIC.IS_MONETARY_VALUE"
        value="RubricModalCtrl.rubric.is_monetary_value"
		name="is_monetary_value"
        on-change-callback="RubricModalCtrl.isMonetaryValueSetting(value)">
      </bh-yes-no-radios>

      <bh-yes-no-radios
        label="PAYROLL_RUBRIC.INDICE_TO_GRAPE"
        value="RubricModalCtrl.rubric.indice_to_grap"
		name="indice_to_grap"
        on-change-callback="RubricModalCtrl.indiceToGrapSetting(value)">
      </bh-yes-no-radios>

      <div class="form-group" ng-show="(RubricModalCtrl.rubric.is_indice && !RubricModalCtrl.rubric.is_monetary_value)">
        <label translate>PAYROLL_RUBRIC.INDICE_TYPE</label>

        <div class="form-group"
          ng-class="{ 'has-error' : RubricForm.$submitted && RubricForm.indice_type.$invalid }">
          <label class="control-label" translate>{{$ctrl.label}}</span></label>
          <select class="form-control" name="indice_type" ng-model="RubricModalCtrl.rubric.indice_type"
            ng-options="rubric.id as (rubric.label | translate) for rubric in RubricModalCtrl.indexesMap"
            ng-required="(RubricModalCtrl.rubric.is_indice && !RubricModalCtrl.rubric.is_monetary_value)">
            <option value="" disabled translate>PAYROLL_RUBRIC.SELECT_INDICE_TYPE</option>'
          </select>
        </div>
      </div>
      <div class="form-group">
        <bh-input-text key="position" label="FORM.LABELS.POSITION" text-value="RubricModalCtrl.rubric.position"
          on-change="$ctrl.onInputTextChange(key, value)">
        </bh-input-text>
      </div>
    </div>
    <div ng-show = "(RubricModalCtrl.rubric.is_monetary_value || !RubricModalCtrl.rubric.is_indice)">
      <bh-account-select id="debtor_account_id" account-id="RubricModalCtrl.rubric.debtor_account_id"
        label="FORM.LABELS.DEBTOR_ACCOUNT" name="debtor_account_id"
        on-select-callback="RubricModalCtrl.selectDebtorAccount(account)" exclude-title-accounts="true"
        required="(RubricModalCtrl.rubric.is_monetary_value || !RubricModalCtrl.rubric.is_indice)">
      </bh-account-select>

      <bh-account-select id="expense_account_id" account-id="RubricModalCtrl.rubric.expense_account_id"
        label="FORM.LABELS.THIRD_EXPENSE_ACCOUNT" name="expense_account_id"
        on-select-callback="RubricModalCtrl.selectExpenseAccount(account)" exclude-title-accounts="true"
        required="(RubricModalCtrl.rubric.is_monetary_value || !RubricModalCtrl.rubric.is_indice)">
      </bh-account-select>
    </div>
    <div ng-if="RubricModalCtrl.rubric.is_percent" class="form-group"
      ng-class="{ 'has-error' : RubricForm.$submitted && RubricForm.value.$invalid }">
      <label class="control-label" translate>FORM.LABELS.VALUE</label>
      <input name="value" type="number" value="0" ng-max="100" ng-min="0" ng-model="RubricModalCtrl.rubric.value"
        autocomplete="off" class="form-control">
      <div class="help-block" ng-messages="RubricForm.label.$error" ng-show="RubricForm.$submitted">
        <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
      </div>
    </div>

    <div ng-if="!RubricModalCtrl.rubric.is_percent" class="form-group"
      ng-class="{ 'has-error' : RubricForm.$submitted && RubricForm.value.$invalid }">
      <label class="control-label" translate>FORM.LABELS.VALUE</label>
      <input name="value" type="number" value="0" ng-min="0" ng-model="RubricModalCtrl.rubric.value" autocomplete="off"
        class="form-control">
      <div class="help-block" ng-messages="RubricForm.label.$error" ng-show="RubricForm.$submitted">
        <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
      </div>
    </div>

  <div  ng-show= "(RubricModalCtrl.rubric.is_monetary_value || !RubricModalCtrl.rubric.is_indice)">
    <div class="form-group">
      <div class="checkbox">
        <label>
        <input type="checkbox" name="is_defined_employee" ng-true-value="1" ng-false-value="0"
            ng-model="RubricModalCtrl.rubric.is_defined_employee">
          <span translate>FORM.LABELS.IS_DEFINED_EMPLOYEE</span>
        </label>
      </div>
    </div>

    <div class="form-group">
      <label translate>FORM.INFO.IS_PERCENT</label>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="is_percent" ng-true-value="1" ng-false-value="0"
            ng-model="RubricModalCtrl.rubric.is_percent">
          <span translate>FORM.LABELS.IS_PERCENT</span>
        </label>
      </div>
    </div>

    <div class="form-group">
      <label translate>FORM.INFO.IS_DISCOUNT</label>
      <div class="radio">
        <label class="radio-inline">
          <input
            type="radio"
            name="is_discount"
            ng-value="0"
            ng-model="RubricModalCtrl.rubric.is_discount"
            id="addition"
            >
          <span translate>FORM.LABELS.ADDITION</span>
        </label>

        <label class="radio-inline">
          <input
            type="radio"
            name="is_discount"
            ng-value="1"
            ng-model="RubricModalCtrl.rubric.is_discount"
            id="discount"
            >
          <span translate>FORM.LABELS.DEDUCTION</span>
        </label>
      </div>
    </div>

    <div id="discount" ng-if="RubricModalCtrl.rubric.is_discount">
      <!-- MEMBERSHIP FEE -->
      <hr>
      <div class="form-group">
        <label translate>FORM.INFO.IS_MEMBERSHIP_FEE</label>
        <div class="radio">
          <label class="radio-inline">
            <input
              type="radio"
              name="is_membership_fee"
              id="is_membership_fee_yes"
              ng-value="1"
              ng-model="RubricModalCtrl.rubric.is_membership_fee"
            >
            <span translate>FORM.LABELS.YES</span>
          </label>

          <label class="radio-inline">
            <input
              type="radio"
              name="is_membership_fee"
              id="is_membership_fee_no"
              ng-value="0"
              ng-model="RubricModalCtrl.rubric.is_membership_fee"
            >
            <span translate>FORM.LABELS.NO</span>
          </label>
        </div>
      </div>

      <!-- TAX -->
      <hr>
      <div class="form-group" ng-if="RubricModalCtrl.rubric.is_membership_fee === 0">
        <label translate>FORM.INFO.IS_TAX</label>
        <div class="radio">
          <label class="radio-inline">
            <input
              type="radio"
              name="is_tax"
              id="is_tax_yes"
              ng-value="1"
              ng-model="RubricModalCtrl.rubric.is_tax"
            >
            <span translate>FORM.LABELS.YES</span>
          </label>

          <label class="radio-inline">
            <input
              type="radio"
              name="is_tax"
              id="is_tax_no"
              ng-value="0"
              ng-model="RubricModalCtrl.rubric.is_tax"
            >
            <span translate>FORM.LABELS.NO</span>
          </label>
        </div>
        <hr>
      </div>

      <div class="form-group" ng-if="RubricModalCtrl.rubric.is_tax === 0">
        <label>{{ RubricModalCtrl.rubric.label }}</label> : <label translate>FORM.INFO.IS_ASSOCIATED_EMPLOYEE</label>
        <div class="radio">
          <label class="radio-inline">
            <input
              type="radio"
              name="is_associated_employee"
              id="is_associated_employee_yes"
              ng-value="1"
              ng-model="RubricModalCtrl.rubric.is_associated_employee"
            >
            <span translate>FORM.LABELS.YES</span>
          </label>

          <label class="radio-inline">
            <input
              type="radio"
              name="is_associated_employee"
              id="is_associated_employee_no"
              ng-value="0"
              ng-model="RubricModalCtrl.rubric.is_associated_employee"
            >
            <span translate>FORM.LABELS.NO</span>
          </label>
        </div>
        <hr>
      </div>

      <div class="form-group" ng-if="RubricModalCtrl.rubric.is_tax === 1">
        <div class="checkbox">
          <label>
            <input
              type="checkbox"
              name="is_ipr"
              ng-true-value="1"
              ng-false-value="0"
              ng-model="RubricModalCtrl.rubric.is_ipr">
            <span translate>FORM.LABELS.IS_IPR</span>
          </label>
        </div>
      </div>

      <div class="form-group">
        <label>{{ RubricModalCtrl.rubric.label }}</label> : <label translate>FORM.INFO.SUPPORT_COST</label>
        <div class="radio">
          <label class="radio-inline">
            <input
              type="radio"
              name="is_employee"
              ng-value="1"
              id="is_employee_yes"
              ng-model="RubricModalCtrl.rubric.is_employee"
            >
            <span translate>FORM.LABELS.STAFF_COST</span>
          </label>

          <label class="radio-inline">
            <input
              type="radio"
              name="is_employee"
              ng-value="0"
              id="is_employee_no"
              ng-model="RubricModalCtrl.rubric.is_employee"
            >
            <span translate>FORM.LABELS.ENTERPRISE_COST</span>
          </label>
        </div>
      </div>
    </div>

    <div class="form-group" ng-if="RubricModalCtrl.rubric.is_discount === 0">
      <div class="checkbox">
        <label>
          <input
            type="checkbox"
            name="is_seniority_bonus"
            ng-true-value="1"
            ng-false-value="0"
            ng-model="RubricModalCtrl.rubric.is_seniority_bonus">
          <span translate>FORM.LABELS.SENIORITY_BONUS</span>
        </label>
      </div>
    </div>

    <div class="form-group" ng-if="RubricModalCtrl.rubric.is_discount === 0">
      <div class="checkbox">
        <label>
          <input
            type="checkbox"
            name="is_family_allowances"
            ng-true-value="1"
            ng-false-value="0"
            ng-model="RubricModalCtrl.rubric.is_family_allowances">
          <span translate>FORM.LABELS.FAMILY_ALLOWANCES</span>
        </label>
      </div>
    </div>

    <div id="addition" ng-if="RubricModalCtrl.rubric.is_discount === 0">
      <hr>
      <div class="form-group">
        <div class="checkbox">
          <label>
            <input
              type="checkbox"
              name="is_social_care"
              ng-true-value="1"
              ng-false-value="0"
              ng-model="RubricModalCtrl.rubric.is_social_care">
            <span translate>FORM.LABELS.IS_SOCIAL_CARE</span>
          </label>
        </div>
      </div>
    </div>

  </div>
  </div>
  <div class="modal-footer">
    <button data-method="cancel" type="button" class="btn btn-default" ng-click="RubricModalCtrl.closeModal()">
      <span translate>FORM.BUTTONS.CANCEL</span>
    </button>

    <bh-loading-button loading-state="RubricForm.$loading">
      <span translate>FORM.BUTTONS.SUBMIT</span>
    </bh-loading-button>
  </div>
</form>
