<form name="ActionForm" bh-submit="$ctrl.submit(ActionForm)" bh-form-defaults novalidate>
  <div class="modal-header">
    <i class="fa fa-list"></i>
    <span ng-if="$ctrl.action==='add'">{{ 'INVENTORY.ADD_GROUP' | translate }}</span>
    <span ng-if="$ctrl.action==='edit'">{{ 'INVENTORY.EDIT_GROUP' | translate }}</span>
  </div>

  <div class="modal-body">
    <div
      class="form-group"
      ng-class="{ 'has-error' : ActionForm.$submitted && ActionForm.name.$invalid }">
      <label class="control-label">{{ 'FORM.LABELS.NAME' | translate }}</label>
      <input ng-model="$ctrl.session.name"
        class="form-control"
        type="text"
        name="name"
        autocomplete="off"
        placeholder="{{ 'FORM.PLACEHOLDERS.NAME' | translate }}..."
        required>
      <div class="help-block" ng-messages="ActionForm.name.$error" ng-show="ActionForm.$submitted">
        <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
      </div>
    </div>

    <div class="form-group"
      ng-class="{ 'has-error' : ActionForm.$submitted && ActionForm.code.$invalid }">
      <label class="control-label">{{ 'FORM.LABELS.CODE' | translate }}</label>
      <input ng-model="$ctrl.session.code"
        class="form-control"
        type="text"
        name="code"
        autocomplete="off"
        placeholder="{{ 'FORM.PLACEHOLDERS.CODE' | translate }}..."
        required>
      <div class="help-block" ng-messages="ActionForm.code.$error" ng-show="ActionForm.$submitted">
        <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
      </div>
    </div>

    <div class="form-group"
      ng-class="{ 'has-error' : ActionForm.$submitted && ActionForm.salesAccount.$invalid }">
      <label class="control-label">
        {{ 'FORM.SELECT.ACCOUNT' | translate }} ({{ 'FORM.LABELS.SALE' | translate }})
      </label>

      <ui-select
        name="salesAccount"
        ng-model="$ctrl.session.salesAccount">
        <ui-select-match placeholder="{{ 'FORM.PLACEHOLDERS.ACCOUNT' | translate }}" allow-clear="true">
          <strong>{{$select.selected.number}}</strong> <span>{{$select.selected.label}}</span>
        </ui-select-match>
        <ui-select-choices
          ui-select-focus-patch
          ui-disable-choice="account.type_id === $ctrl.bhConstants.accounts.TITLE"
          repeat="account in $ctrl.accounts | filter: { 'hrlabel' : $select.search } track by account.id">
          <strong ng-bind-html="account.number | highlight:$select.search"></strong>
          <span ng-bind-html="account.label | highlight:$select.search"></span>
        </ui-select-choices>
      </ui-select>

      <div class="help-block" ng-messages="ActionForm.salesAccount.$error" ng-show="ActionForm.$submitted">
        <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label">
        {{ 'FORM.SELECT.ACCOUNT' | translate }} ({{ 'FORM.LABELS.STOCK' | translate }})
      </label>
      <ui-select
        name="stockAccount"
        ng-model="$ctrl.session.stockAccount">
        <ui-select-match placeholder="{{ 'FORM.PLACEHOLDERS.ACCOUNT' | translate }}"  allow-clear="true">
          <strong>{{$select.selected.number}}</strong> <span>{{$select.selected.label}}</span>
        </ui-select-match>
        <ui-select-choices
          ui-select-focus-patch
          ui-disable-choice="account.type_id === $ctrl.bhConstants.accounts.TITLE"
          repeat="account in $ctrl.accounts | filter: { 'hrlabel' : $select.search } track by account.id">
          <strong ng-bind-html="account.number | highlight:$select.search"></strong>
          <span ng-bind-html="account.label | highlight:$select.search"></span>
        </ui-select-choices>
      </ui-select>
    </div>

    <div class="form-group">
      <label class="control-label">
        {{ 'FORM.SELECT.ACCOUNT' | translate }} ({{ 'FORM.LABELS.CHARGE' | translate }})
      </label>

      <ui-select
        name="cogsAccount"
        ng-model="$ctrl.session.cogsAccount">
        <ui-select-match placeholder="{{ 'FORM.PLACEHOLDERS.ACCOUNT' | translate }}" allow-clear="true">
          <strong>{{$select.selected.number}}</strong> <span>{{$select.selected.label}}</span>
        </ui-select-match>
        <ui-select-choices
          ui-select-focus-patch
          ui-disable-choice="account.type_id === $ctrl.bhConstants.accounts.TITLE"
          repeat="account in $ctrl.accounts | filter: { 'hrlabel' : $select.search } track by account.id">
          <strong ng-bind-html="account.number | highlight:$select.search"></strong>
          <span ng-bind-html="account.label | highlight:$select.search"></span>
        </ui-select-choices>
      </ui-select>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button"
      class="btn btn-default"
      ng-click="$ctrl.cancel()">
      {{ 'FORM.BUTTONS.CANCEL' | translate }}
    </button>

    <bh-loading-button loading-state="ActionForm.$loading">
      {{ 'FORM.BUTTONS.SUBMIT' | translate }}
    </bh-loading-button>
  </div>
</form>
