<div id="synthese-service" class="container">
<h2>{{ "SNIS.STEP9" | translate }}</h2>
<fieldset>
	<legend></legend>
	<table>
		<thead>
			<tr>
				<td>&nbsp;</td>
				<td>ZS</td>
				<td>HZ</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Nouveaux cas consultation externe</td>
				<td><input type="text" ng-model="snis_report.nouv_cas_consul_exter_zs"></td>
				<td><input type="text" ng-model="snis_report.nouv_cas_consul_exter_hz"></td>
			</tr>
			<tr>
				<td>Nouveaux cas consultation aux urgences</td>
				<td><input type="text" ng-model="snis_report.nouv_cas_consul_urgence_zs"></td>
				<td><input type="text" ng-model="snis_report.nouv_cas_consul_urgence_hz"></td>
			</tr>
			<tr>
				<td>Nouveaux cas prévention mère (CPN, CPON,PF)</td>
				<td><input type="text" ng-model="snis_report.nouv_cas_prev_mere_zs"></td>
				<td><input type="text" ng-model="snis_report.nouv_cas_prev_mere_hz"></td>
			</tr>
			<tr>
				<td>Nouveaux cas réhabilitation nutritionnelle</td>
				<td><input type="text" ng-model="snis_report.nouv_cas_rehab_nutrit_zs"></td>
				<td><input type="text" ng-model="snis_report.nouv_cas_rehab_nutrit_hz"></td>
			</tr>
			<tr>
				<td>Nouveaux cas à la kinésithérapie</td>
				<td><input type="text" ng-model="snis_report.nouv_cas_kine_zs"></td>
				<td><input type="text" ng-model="snis_report.nouv_cas_kine_hz"></td>
			</tr>
		</tbody>
	</table>
</fieldset>
</div>