<div id="sante-enfant" class="container">
	<h2>{{ "SNIS.STEP6" | translate }}</h2>
	<fieldset><legend></legend>
		<em>(NB : les données sur la vaccination sont rapportées par le CS de l’aire de santé où est situé l’HGR)</em>

		<h3>6.1. Réhabilitation nutritionnelle</h3>
		<table class="cellmini">
			<thead>
				<tr>
					<td>&nbsp;</td>
					<td>Malnutrition<br>modérée</td>
					<td>Malnutrition<br>sévère</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Effectif au début du mois</td>
					<td><input type="text" ng-model="snis_report.effect_mois_mal_nutrition_mod"></td>
					<td><input type="text" ng-model="snis_report.effect_mois_mal_nutrition_sev"></td>
				</tr>
				<tr>
					<td>Nouvelle admission</td>
					<td><input type="text" ng-model="snis_report.effect_nouv_adm_mal_nutrition_mod"></td>
					<td><input type="text" ng-model="snis_report.effect_nouv_adm_mal_nutrition_sev"></td>
				</tr>
			</tbody>
		</table>

		<h3>6.1.1. Entrées</h3>
		<table class="cellmini">
			<thead>
				<tr>
					<td>&nbsp;</td>
					<td>< 6 mois</td>
					<td>6-24 mois</td>
					<td>24-59 mois</td>
					<td>5-18 ans</td>
					<td>Adultes</td>
					<td>Total</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Nouvelles admissions en P/T < -3 ET ou P/T< 70% ou IMC< 18 ou PB < 115mm ou PB< 180mm</td>
					<td><input type="text" ng-model="snis_report.entrees_nouv_ad_pt_inf_6_mois"></td>
					<td><input type="text" ng-model="snis_report.entrees_nouv_ad_pt_6_24mois"></td>
					<td><input type="text" ng-model="snis_report.entrees_nouv_ad_pt_24_59mois"></td>
					<td><input type="text" ng-model="snis_report.entrees_nouv_ad_pt_5_18mois"></td>
					<td><input type="text" ng-model="snis_report.entrees_nouv_ad_pt_adulte"></td>
					<td><input type="text" ng-model="snis_report.entrees_nouv_ad_pt_total"></td>
				</tr>
				<tr>
					<td>Nouvel les admissions en œdème</td>
					<td><input type="text" ng-model="snis_report.entrees_nouv_adm_oedeme_inf_6_mois"></td>
					<td><input type="text" ng-model="snis_report.entrees_nouv_adm_oedeme_6_24mois"></td>
					<td><input type="text" ng-model="snis_report.entrees_nouv_adm_oedeme_24_59mois"></td>
					<td><input type="text" ng-model="snis_report.entrees_nouv_adm_oedeme_5_18mois"></td>
					<td><input type="text" ng-model="snis_report.entrees_nouv_adm_oedeme_adulte"></td>
					<td><input type="text" ng-model="snis_report.entrees_nouv_adm_oedeme_total"></td>
				</tr>
				<tr>
					<td>Nouvel les admissions en rechute</td>
					<td><input type="text" ng-model="snis_report.entrees_nouv_adm_rechute_inf_6_mois"></td>
					<td><input type="text" ng-model="snis_report.entrees_nouv_adm_rechute_6_24mois"></td>
					<td><input type="text" ng-model="snis_report.entrees_nouv_adm_rechute_24_59mois"></td>
					<td><input type="text" ng-model="snis_report.entrees_nouv_adm_rechute_5_18mois"></td>
					<td><input type="text" ng-model="snis_report.entrees_nouv_adm_rechute_adulte"></td>
					<td><input type="text" ng-model="snis_report.entrees_nouv_adm_rechute_total"></td>
				</tr>
				<tr>
					<td>Autres Entrées référence dune UNTA</td>
					<td><input type="text" ng-model="snis_report.entrees_autr_ref_unta_inf_6_mois"></td>
					<td><input type="text" ng-model="snis_report.entrees_autr_ref_unta_6_24mois"></td>
					<td><input type="text" ng-model="snis_report.entrees_autr_ref_unta_24_59mois"></td>
					<td><input type="text" ng-model="snis_report.entrees_autr_ref_unta_5_18mois"></td>
					<td><input type="text" ng-model="snis_report.entrees_autr_ref_unta_adulte"></td>
					<td><input type="text" ng-model="snis_report.entrees_autr_ref_unta_total"></td>
				</tr>
				<tr>
					<td>Autres Entrées réadmission après abandon</td>
					<td><input type="text" ng-model="snis_report.entrees_autr_entr_rean_apr_aband_inf_6_mois"></td>
					<td><input type="text" ng-model="snis_report.entrees_autr_entr_rean_apr_aband_6_24mois"></td>
					<td><input type="text" ng-model="snis_report.entrees_autr_entr_rean_apr_aband_24_59mois"></td>
					<td><input type="text" ng-model="snis_report.entrees_autr_entr_rean_apr_aband_5_18mois"></td>
					<td><input type="text" ng-model="snis_report.entrees_autr_entr_rean_apr_aband_adulte"></td>
					<td><input type="text" ng-model="snis_report.entrees_autr_entr_rean_apr_aband_total"></td>
				</tr>
				<tr>
					<td>Autres Entrées référence d’une UNTI</td>
					<td><input type="text" ng-model="snis_report.entrees_autr_entr_ref_unti_inf_6_mois"></td>
					<td><input type="text" ng-model="snis_report.entrees_autr_entr_ref_unti_6_24mois"></td>
					<td><input type="text" ng-model="snis_report.entrees_autr_entr_ref_unti_24_59mois"></td>
					<td><input type="text" ng-model="snis_report.entrees_autr_entr_ref_unti_5_18mois"></td>
					<td><input type="text" ng-model="snis_report.entrees_autr_entr_ref_unti_adulte"></td>
					<td><input type="text" ng-model="snis_report.entrees_autr_entr_ref_unti_total"></td>
				</tr>
			</tbody>
		</table>

		<h3>6.1.2. Sorties</h3>
		<table class="cellmini">
			<thead>
				<tr>
					<td>&nbsp;</td>
					<td>< 6 mois</td>
					<td>6-24 mois</td>
					<td>24-59 mois</td>
					<td>5-18 ans</td>
					<td>Adultes</td>
					<td>Total</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Sorties Guéris en réhabilitation nutritionnelle</td>
					<td><input type="text" ng-model="snis_report.sorties_gueris_rehab_nutrit_inf_6_mois"></td>
					<td><input type="text" ng-model="snis_report.sorties_gueris_rehab_nutrit_6_24mois"></td>
					<td><input type="text" ng-model="snis_report.sorties_gueris_rehab_nutrit_24_59mois"></td>
					<td><input type="text" ng-model="snis_report.sorties_gueris_rehab_nutrit_5_18mois"></td>
					<td><input type="text" ng-model="snis_report.sorties_gueris_rehab_nutrit_adulte"></td>
					<td><input type="text" ng-model="snis_report.sorties_gueris_rehab_nutrit_total"></td>
				</tr>
				<tr>
					<td>Sorties Décès en réhabilitation nutritionnelle</td>
					<td><input type="text" ng-model="snis_report.sorties_dcd_rehab_nutrit_inf_6_mois"></td>
					<td><input type="text" ng-model="snis_report.sorties_dcd_rehab_nutrit_6_24mois"></td>
					<td><input type="text" ng-model="snis_report.sorties_dcd_rehab_nutrit_24_59mois"></td>
					<td><input type="text" ng-model="snis_report.sorties_dcd_rehab_nutrit_5_18mois"></td>
					<td><input type="text" ng-model="snis_report.sorties_dcd_rehab_nutrit_adulte"></td>
					<td><input type="text" ng-model="snis_report.sorties_dcd_rehab_nutrit_total"></td>
				</tr>
				<tr>
					<td>Sorties abandon confirmés en réhab. nutritionnelle</td>
					<td><input type="text" ng-model="snis_report.sorties_aband_conf_rehab_nut_inf_6_mois"></td>
					<td><input type="text" ng-model="snis_report.sorties_aband_conf_rehab_nut_6_24mois"></td>
					<td><input type="text" ng-model="snis_report.sorties_aband_conf_rehab_nut_24_59mois"></td>
					<td><input type="text" ng-model="snis_report.sorties_aband_conf_rehab_nut_5_18mois"></td>
					<td><input type="text" ng-model="snis_report.sorties_aband_conf_rehab_nut_adulte"></td>
					<td><input type="text" ng-model="snis_report.sorties_aband_conf_rehab_nut_total"></td>
				</tr>
				<tr>
					<td>Sorties abandon non confirmés en réhab. nutrit.</td>
					<td><input type="text" ng-model="snis_report.sorties_aband_non_conf_rehab_nut_inf_6_mois"></td>
					<td><input type="text" ng-model="snis_report.sorties_aband_non_conf_rehab_nut_6_24mois"></td>
					<td><input type="text" ng-model="snis_report.sorties_aband_non_conf_rehab_nut_24_59mois"></td>
					<td><input type="text" ng-model="snis_report.sorties_aband_non_conf_rehab_nut_5_18mois"></td>
					<td><input type="text" ng-model="snis_report.sorties_aband_non_conf_rehab_nut_adulte"></td>
					<td><input type="text" ng-model="snis_report.sorties_aband_non_conf_rehab_nut_total"></td>
				</tr>
				<tr>
					<td>Sorties Non répondant en réhab. nutrit.</td>
					<td><input type="text" ng-model="snis_report.sorties_aband_non_repond_rehab_nut_inf_6_mois"></td>
					<td><input type="text" ng-model="snis_report.sorties_aband_non_repond_rehab_nut_6_24mois"></td>
					<td><input type="text" ng-model="snis_report.sorties_aband_non_repond_rehab_nut_24_59mois"></td>
					<td><input type="text" ng-model="snis_report.sorties_aband_non_repond_rehab_nut_5_18mois"></td>
					<td><input type="text" ng-model="snis_report.sorties_aband_non_repond_rehab_nut_adulte"></td>
					<td><input type="text" ng-model="snis_report.sorties_aband_non_repond_rehab_nut_total"></td>
				</tr>
				<tr>
					<td>Sorties Contre référence vers UNTA en réhab. nutrit.</td>
					<td><input type="text" ng-model="snis_report.sorties_contre_ref_unta_rehab_nutr_inf_6_mois"></td>
					<td><input type="text" ng-model="snis_report.sorties_contre_ref_unta_rehab_nutr_6_24mois"></td>
					<td><input type="text" ng-model="snis_report.sorties_contre_ref_unta_rehab_nutr_24_59mois"></td>
					<td><input type="text" ng-model="snis_report.sorties_contre_ref_unta_rehab_nutr_5_18mois"></td>
					<td><input type="text" ng-model="snis_report.sorties_contre_ref_unta_rehab_nutr_adulte"></td>
					<td><input type="text" ng-model="snis_report.sorties_contre_ref_unta_rehab_nutr_total"></td>
				</tr>
				<tr>
					<td>Sorties Référence vers autre UNTI en réhab. nutrit.</td>
					<td><input type="text" ng-model="snis_report.sorties_contre_ref_unti_rehab_nutr_inf_6_mois"></td>
					<td><input type="text" ng-model="snis_report.sorties_contre_ref_unti_rehab_nutr_6_24mois"></td>
					<td><input type="text" ng-model="snis_report.sorties_contre_ref_unti_rehab_nutr_24_59mois"></td>
					<td><input type="text" ng-model="snis_report.sorties_contre_ref_unti_rehab_nutr_5_18mois"></td>
					<td><input type="text" ng-model="snis_report.sorties_contre_ref_unti_rehab_nutr_adulte"></td>
					<td><input type="text" ng-model="snis_report.sorties_contre_ref_unti_rehab_nutr_total"></td>
				</tr>
			</tbody>
		</table>
	</fieldset>
</div>