<div id="consultation" class="container">
	<h2>{{ "SNIS.STEP2" | translate }}</h2>
	<fieldset><legend></legend>
	<div class="row">
		<div class="col-md-6">
			<h3>2.1 Consultations externes</h3>
			<table>
				<thead>
					<tr>
						<td>&nbsp;</td>
						<td>ZS</td>
						<td>HZ</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Nouveaux cas</td>
						<td><input type="text" ng-model="snis_report.nouv_cas_zs" /></td>
						<td><input type="text" ng-model="snis_report.nouv_cas_hz" /></td>
					</tr>
					<tr>
						<td>--- Dont nouveaux patients</td>
						<td><input type="text" ng-model="snis_report.nouv_patient_zs" /></td>
						<td><input type="text" ng-model="snis_report.nouv_patient_hz" /></td>
					</tr>
					<tr>
						<td>--- Dont adherant des mutuelles</td>
						<td><input type="text" ng-model="snis_report.adherant_zs" /></td>
						<td><input type="text" ng-model="snis_report.adherant_hz" /></td>
					</tr>
					<tr>
						<td>Anciens cas</td>
						<td><input type="text" ng-model="snis_report.ancien_cas_zs" /></td>
						<td><input type="text" ng-model="snis_report.ancien_cas_hz" /></td>
					</tr>
					<tr>
						<td>Référés par le CS / autres structures</td>
						<td><input type="text" ng-model="snis_report.refere_cs_zs" /></td>
						<td><input type="text" ng-model="snis_report.refere_cs_hz" /></td>
					</tr>
				</tbody>
			</table>

			<h3>2.1 Consultations externes (suite)</h3>
			<table>
				<thead>
					<tr>
						<td>&nbsp;</td>
						<td>Nombre</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Consultations (a+b+c+d) </td>
						<td><input type="text" ng-model="snis_report.consult_consultation" /></td>
					</tr>
					<tr>
						<td>Indigents</td>
						<td><input type="text" ng-model="snis_report.consult_indigent" /></td>
					</tr>
					<tr>
						<td>Nouveaux cas vu par medecin</td>
						<td><input type="text" ng-model="snis_report.consult_nouv_cas_vu_medecin" /></td>
					</tr>
					<tr>
						<td>Nouveaux Cas < 5 ans</td>
						<td><input type="text" ng-model="snis_report.consult_nouv_cas_moins_5_ans" /></td>
					</tr>
					<tr>
						<td>Nouveaux Cas  féminins</td>
						<td><input type="text" ng-model="snis_report.consult_nouv_cas_feminin" /></td>
					</tr>
					<tr>
						<td>Dont femmes enceintes</td>
						<td><input type="text" ng-model="snis_report.consult_dont_fee_enceintes" /></td>
					</tr> 
					<tr>
						<td>Nouveaux Cas référés par CS avec document</td>
						<td><input type="text" ng-model="snis_report.consult_nouv_cas_refere_cs" /></td>
					</tr>
					<tr>
						<td>Nouveaux Cas référés et vu par médecin</td>
						<td><input type="text" ng-model="snis_report.consult_nouv_cas_refere_medecin" /></td>
					</tr>
					<tr>
						<td>Contre-référés au CS/autres structures avec doc</td>
						<td><input type="text" ng-model="snis_report.consult_contre_refere_cs" /></td>
					</tr>
					<tr>
						<td>Référés par l’HGR vers l ’HGRP</td>
						<td><input type="text" ng-model="snis_report.consult_refere_hgr_hgrp" /></td>
					</tr>
					<tr>
						<td>Contre-référés par HGRP à l’HGR</td>
						<td><input type="text" ng-model="snis_report.consult_contre_refere_hgr_hgrp" /></td>
					</tr>
				</tbody>
			</table>

			<h3>2.3 Consultations Survivants de violance Sexuelle</h3>
			<table>
				<thead>
					<tr>
						<td>&nbsp;</td>
						<td>Nombre</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Nouveaux cas SVS</td>
						<td><input type="text" ng-model="snis_report.consult_nouv_cas_svs" /></td>
					</tr>
					<tr>
						<td>--- Dont vu 72h</td>
						<td><input type="text" ng-model="snis_report.consult_vu_72_svs" /></td>
					</tr>
					<tr>
						<td>--- Dont Feminin</td>
						<td><input type="text" ng-model="snis_report.consult_dont_feminin_svs" /></td>
					</tr>
					<tr>
						<td>Anciens Cas SVS</td>
						<td><input type="text" ng-model="snis_report.consult_ancien_cas_svs" /></td>
					</tr>
                    <tr>
                        <td>SVS Référés juridique</td>
                        <td><input type="text" ng-model="snis_report.consult_refere_juridique_svs" /></td>
                    </tr>
                    <tr>
                        <td>SVS Référés à la réinsertion socio_économique</td>
                        <td><input type="text" ng-model="snis_report.consult_refere_socio_economique_svs2" /></td>
                    </tr>
                    <tr>
                        <td>SVS Référés psycho-social</td>
                        <td><input type="text" ng-model="snis_report.consult_refere_psy_social_svs" /></td>
                    </tr>
                    <tr>
                        <td>SVS Référés vers HGRP ou FOSA Specialisees</td>
                        <td><input type="text" ng-model="snis_report.consult_refere_hgrp_fosa_svs" /></td>
                    </tr>
                    <tr>
                        <td>SVS ayant recu une PEC médicale(Médecin ou Infirmier)</td>
                        <td><input type="text" ng-model="snis_report.consult_pec_med_svs" /></td>
                    </tr>
                    <tr>
                        <td>SVS ayant recu le kit PEP – 72 h</td>
                        <td><input type="text" ng-model="snis_report.consult_kit_pep_72" /></td>
                    </tr>
                    <tr>
                        <td>SVS ayant recu le kit PEP après 72h</td>
                        <td><input type="text" ng-model="snis_report.consult_kit_pep_apr72" /></td>
                    </tr>
                    <tr>
                        <td>SVS ayant recu la Contraception d'Urgence</td>
                        <td><input type="text" ng-model="snis_report.consult_contrac_urg" /></td>
                    </tr>
                    <tr>
                        <td>SVS testés pour le VIH</td>
                        <td><input type="text" ng-model="snis_report.svs_test_vih" /></td>
                    </tr>
                    <tr>
                        <td>SVS testés VIH+</td>
                        <td><input type="text"ng-model="snis_report.svs_test_vih_pos"  /></td>
                    </tr>
                    <tr>
                        <td>Fistules urogénitales post viol  diagnost.</td>
                        <td><input type="text" ng-model="snis_report.fistules_uro_gen_diag" /></td>
                    </tr>
                    <tr>
                        <td>Fi stul es urogénital es post vi ol  diagnost. réparés</td>
                        <td><input type="text" ng-model="snis_report.fistules_uro_gen_diags_rep" /></td>
                    </tr>
				</tbody>
			</table>
		</div>

		<div class="col-md-6">
			<h3>2.2. Consultations aux urgences</h3>
			<table>
				<thead>
					<tr>
						<td>&nbsp;</td>
						<td>ZS</td>
						<td>HZ</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Nouveaux cas vus en urgence</td>
						<td><input type="text" ng-model="snis_report.consult_nouv_cas_urgence_zs" /></td>
						<td><input type="text" ng-model="snis_report.consult_nouv_cas_urgence_hz" /></td>
					</tr>
					<tr>
						<td>--- Dont AVC</td>
						<td><input type="text" ng-model="snis_report.consult_avc_urgence_zs" /></td>
						<td><input type="text" ng-model="snis_report.consult_avc_urgence_hz" /></td>
					</tr>
					<tr>
						<td>--- Dont morsure de serpent</td>
						<td><input type="text" ng-model="snis_report.consult_morsure_serpent_urgence_zs" /></td>
						<td><input type="text" ng-model="snis_report.consult_morsure_serpent_urgence_hz" /></td>
					</tr>
					<tr>
						<td>--- Noyade</td>
						<td><input type="text" ng-model="snis_report.consult_noyade_urgence_zs" /></td>
						<td><input type="text" ng-model="snis_report.consult_noyade_urgence_hz" /></td>
					</tr>
					<tr>
						<td>traumatisme</td>
						<td><input type="text" ng-model="snis_report.consult_trauma_urgence_zs" /></td>
						<td><input type="text" ng-model="snis_report.consult_trauma_urgence_hz" /></td>
					</tr>
					<tr>
						<td>--- Dont accident trafic routier</td>
						<td><input type="text" ng-model="snis_report.consult_acc_trafic_routier_urgence_zs" /></td>
						<td><input type="text" ng-model="snis_report.consult_acc_trafic_routier_urgence_hz" /></td>
					</tr>
					<tr>
						<td>Ancien Cas</td>
						<td><input type="text" ng-model="snis_report.consult_acc_trafic_ancien_cas_urgence_zs" /></td>
						<td><input type="text" ng-model="snis_report.consult_acc_trafic_ancien_cas_urgence_hz" /></td>
					</tr>
					<tr>
						<td>Référés par le CS/ Autres Fosa</td>
						<td><input type="text" ng-model="snis_report.consult_refere_cs_urgence_zs" /></td>
						<td><input type="text" ng-model="snis_report.consult_refere_cs_urgence_hz" /></td>
					</tr>
				</tbody>
			</table>

			<h3>2.2 Consultation aux urgences (suite)</h3>
			<table>
				<thead>
					<tr>
						<td>&nbsp;</td>
						<td>Nombre</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Cas aux urgences</td>
						<td><input type="text" ng-model="snis_report.consult_cas_urgence" /></td>
					</tr>
					<tr>
						<td>Cas décédés</td>
						<td><input type="text" ng-model="snis_report.consult_cas_decede_urgence" /></td>
					</tr>
					<tr>
						<td>Cas référés vers une FOSA spécialisée</td>
						<td><input type="text" ng-model="snis_report.consult_cas_refere_vers_fosa_urgence" /></td>
					</tr>
					<tr>
						<td>Cas envoyés en hospitalisation</td>
						<td><input type="text" ng-model="snis_report.consult_cas_hospitalisation_urgence" /></td>
					</tr>
					<tr>
						<td>Cas sortis</td>
						<td><input type="text" ng-model="snis_report.consult_cas_sortis_urgence" /></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h3>2.4. Notification des nouveaux cas</h3>
			<table>
				<thead>
					<tr>
						<td>&nbsp;</td>
						<td>0 - 11 mois</td>
						<td>12 - 59 mois</td>
						<td>5 - 14 ans</td>
						<td>15 ans +</td>
						<td>Total</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Accident vasculo-cérébral (AVC)</td>
						<td><input type="text" ng-model="snis_report.not_avc_0_11"></td>
						<td><input type="text" ng-model="snis_report.not_avc_12_59"></td>
						<td><input type="text" ng-model="snis_report.not_avc_5_14"></td>
						<td><input type="text" ng-model="snis_report.not_avc_15"></td>
						<td><input type="text" ng-model="snis_report.not_avc_total"></td>
					</tr>
					<tr>
						<td>Accidents de travail</td>
						<td><input type="text" ng-model="snis_report.not_acc_trav_0_11"></td>
						<td><input type="text" ng-model="snis_report.not_acc_trav_12_59"></td>
						<td><input type="text" ng-model="snis_report.not_acc_trav_5_14"></td>
						<td><input type="text" ng-model="snis_report.not_acc_trav_15"></td>
						<td><input type="text" ng-model="snis_report.not_acc_trav_total"></td>
					</tr>
					<tr>
						<td>Amibiase</td>
						<td><input type="text" ng-model="snis_report.not_amibiase_0_11"></td>
						<td><input type="text" ng-model="snis_report.not_amibiase_12_59"></td>
						<td><input type="text" ng-model="snis_report.not_amibiase_5_14"></td>
						<td><input type="text" ng-model="snis_report.not_amibiase_15"></td>
						<td><input type="text" ng-model="snis_report.not_amibiase_total"></td>
					</tr>
					<tr>
						<td>Anémie</td>
						<td><input type="text" ng-model="snis_report.not_anemie_0_11"></td>
						<td><input type="text" ng-model="snis_report.not_anemie_12_59"></td>
						<td><input type="text" ng-model="snis_report.not_anemie_5_14"></td>
						<td><input type="text" ng-model="snis_report.not_anemie_15"></td>
						<td><input type="text" ng-model="snis_report.not_anemie_total"></td>
					</tr>
					<tr>
						<td>Autre affection cardio vasculaire</td>
						<td><input type="text" ng-model="snis_report.not_autre_aff_cardio_0_11"></td>
						<td><input type="text" ng-model="snis_report.not_autre_aff_cardio_12_59"></td>
						<td><input type="text" ng-model="snis_report.not_autre_aff_cardio_5_14"></td>
						<td><input type="text" ng-model="snis_report.not_autre_aff_cardio_15"></td>
						<td><input type="text" ng-model="snis_report.not_autre_aff_cardio_total"></td>
					</tr>
					<tr>
						<td>Brûlures</td>
						<td><input type="text" ng-model="snis_report.not_brulure_0_11"></td>
						<td><input type="text" ng-model="snis_report.not_brulure_12_59"></td>
						<td><input type="text" ng-model="snis_report.not_brulure_5_14"></td>
						<td><input type="text" ng-model="snis_report.not_brulure_15"></td>
						<td><input type="text" ng-model="snis_report.not_brulure_total"></td>
					</tr>
					<tr>
					<tr>
						<td>Cancer du col utérin</td>
						<td><input type="text" ng-model="snis_report.not_cancer_col_uter_0_11"></td>
						<td><input type="text" ng-model="snis_report.not_cancer_col_uter_12_59"></td>
						<td><input type="text" ng-model="snis_report.not_cancer_col_uter_5_14"></td>
						<td><input type="text" ng-model="snis_report.not_cancer_col_uter_15"></td>
						<td><input type="text" ng-model="snis_report.not_cancer_col_uter_total"></td>
					</tr>
					<tr>
						<td>Cancer de la prostate</td>
						<td><input type="text" ng-model="snis_report.not_cancer_prostate_0_11"></td>
						<td><input type="text" ng-model="snis_report.not_cancer_prostate_12_59"></td>
						<td><input type="text" ng-model="snis_report.not_cancer_prostate_5_14"></td>
						<td><input type="text" ng-model="snis_report.not_cancer_prostate_15"></td>
						<td><input type="text" ng-model="snis_report.not_cancer_prostate_total"></td>
					</tr>
					<tr>
						<td>Cancer du sein</td>
						<td><input type="text" ng-model="snis_report.not_cancer_sein_0_11"></td>
						<td><input type="text" ng-model="snis_report.not_cancer_sein_12_59"></td>
						<td><input type="text" ng-model="snis_report.not_cancer_sein_5_14"></td>
						<td><input type="text" ng-model="snis_report.not_cancer_sein_15"></td>
						<td><input type="text" ng-model="snis_report.not_cancer_sein_total"></td>
					</tr>
					<tr>
						<td>Choléra</td>
						<td><input type="text" ng-model="snis_report.not_cholera_0_11"></td>
						<td><input type="text" ng-model="snis_report.not_cholera_12_59"></td>
						<td><input type="text" ng-model="snis_report.not_cholera_5_14"></td>
						<td><input type="text" ng-model="snis_report.not_cholera_15"></td>
						<td><input type="text" ng-model="snis_report.not_cholera_total"></td>
					</tr>
					<tr>
						<td>Coqueluche patient non vacciné</td>
						<td><input type="text" ng-model="snis_report.not_coqueluche_non_vaccine_0_11"></td>
						<td><input type="text" ng-model="snis_report.not_coqueluche_non_vaccine_12_59"></td>
						<td><input type="text" ng-model="snis_report.not_coqueluche_non_vaccine_5_14"></td>
						<td><input type="text" ng-model="snis_report.not_coqueluche_non_vaccine_15"></td>
						<td><input type="text" ng-model="snis_report.not_coqueluche_non_vaccine_total"></td>
					</tr>
					<tr>
						<td>Coqueluche patient vacciné</td>
						<td><input type="text" ng-model="snis_report.not_coqueluche_vaccine_0_11"></td>
						<td><input type="text" ng-model="snis_report.not_coqueluche_vaccine_12_59"></td>
						<td><input type="text" ng-model="snis_report.not_coqueluche_vaccine_5_14"></td>
						<td><input type="text" ng-model="snis_report.not_coqueluche_vaccine_15"></td>
						<td><input type="text" ng-model="snis_report.not_coqueluche_vaccine_total"></td>
					</tr>
					<tr>
						<td>Diabète</td>
						<td><input type="text" ng-model="snis_report.not_diabete_0_11"></td>
						<td><input type="text" ng-model="snis_report.not_diabete_12_59"></td>
						<td><input type="text" ng-model="snis_report.not_diabete_5_14"></td>
						<td><input type="text" ng-model="snis_report.not_diabete_15"></td>
						<td><input type="text" ng-model="snis_report.not_diabete_total"></td>
					</tr>
					<tr>
						<td>Diarrhée sanglante</td>
						<td><input type="text" ng-model="snis_report.not_diarrhe_sanglante_0_11"></td>
						<td><input type="text" ng-model="snis_report.not_diarrhe_sanglante_12_59"></td>
						<td><input type="text" ng-model="snis_report.not_diarrhe_sanglante_5_14"></td>
						<td><input type="text" ng-model="snis_report.not_diarrhe_sanglante_15"></td>
						<td><input type="text" ng-model="snis_report.not_diarrhe_sanglante_total"></td>
					</tr>
					<tr>
						<td>Diarrhée simple</td>
						<td><input type="text" ng-model="snis_report.not_diarrhe_simple_0_11"></td>
						<td><input type="text" ng-model="snis_report.not_diarrhe_simple_12_59"></td>
						<td><input type="text" ng-model="snis_report.not_diarrhe_simple_5_14"></td>
						<td><input type="text" ng-model="snis_report.not_diarrhe_simple_15"></td>
						<td><input type="text" ng-model="snis_report.not_diarrhe_simple_total"></td>
					</tr>
					<tr>
						<td>Drépanocytose</td>
						<td><input type="text" ng-model="snis_report.not_drepanocytose_0_11"></td>
						<td><input type="text" ng-model="snis_report.not_drepanocytose_12_59"></td>
						<td><input type="text" ng-model="snis_report.not_drepanocytose_5_14"></td>
						<td><input type="text" ng-model="snis_report.not_drepanocytose_15"></td>
						<td><input type="text" ng-model="snis_report.not_drepanocytose_total"></td>
					</tr>
					<tr>
						<td>Épilepsie</td>
						<td><input type="text" ng-model="snis_report.not_epilepsie_0_11"></td>
						<td><input type="text" ng-model="snis_report.not_epilepsie_12_59"></td>
						<td><input type="text" ng-model="snis_report.not_epilepsie_5_14"></td>
						<td><input type="text" ng-model="snis_report.not_epilepsie_15"></td>
						<td><input type="text" ng-model="snis_report.not_epilepsie_total"></td>
					</tr>
					<tr>
						<td>Erreur de réfraction</td>
						<td><input type="text" ng-model="snis_report.not_erreur_refraction_0_11"></td>
						<td><input type="text" ng-model="snis_report.not_erreur_refraction_12_59"></td>
						<td><input type="text" ng-model="snis_report.not_erreur_refraction_5_14"></td>
						<td><input type="text" ng-model="snis_report.not_erreur_refraction_15"></td>
						<td><input type="text" ng-model="snis_report.not_erreur_refraction_total"></td>
					</tr><tr>
						<td>Fièvre hémorragique</td>
						<td><input type="text" ng-model="snis_report.not_fievre_hemorragique_0_11"></td>
						<td><input type="text" ng-model="snis_report.not_fievre_hemorragique_12_59"></td>
						<td><input type="text" ng-model="snis_report.not_fievre_hemorragique_5_14"></td>
						<td><input type="text" ng-model="snis_report.not_fievre_hemorragique_15"></td>
						<td><input type="text" ng-model="snis_report.not_fievre_hemorragique_total"></td>
					</tr>
					<tr>
						<td>Fièvre jaune</td>
						<td><input type="text" ng-model="snis_report.not_fievre_jaune_0_11"></td>
						<td><input type="text" ng-model="snis_report.not_fievre_jaune_12_59"></td>
						<td><input type="text" ng-model="snis_report.not_fievre_jaune_5_14"></td>
						<td><input type="text" ng-model="snis_report.not_fievre_jaune_15"></td>
						<td><input type="text" ng-model="snis_report.not_fievre_jaune_total"></td>
					</tr>
					<tr>
						<td>Fièvre typhoïde</td>
						<td><input type="text" ng-model="snis_report.not_fievre_typhoide_0_11"></td>
						<td><input type="text" ng-model="snis_report.not_fievre_typhoide_12_59"></td>
						<td><input type="text" ng-model="snis_report.not_fievre_typhoide_5_14"></td>
						<td><input type="text" ng-model="snis_report.not_fievre_typhoide_15"></td>
						<td><input type="text" ng-model="snis_report.not_fievre_typhoide_total"></td>
					</tr>
					<tr>
						<td>Filariose lymphatique</td>
						<td><input type="text" ng-model="snis_report.not_filariose_lymphatique_0_11"></td>
						<td><input type="text" ng-model="snis_report.not_filariose_lymphatique_12_59"></td>
						<td><input type="text" ng-model="snis_report.not_filariose_lymphatique_5_14"></td>
						<td><input type="text" ng-model="snis_report.not_filariose_lymphatique_15"></td>
						<td><input type="text" ng-model="snis_report.not_filariose_lymphatique_total"></td>
					</tr>
					<tr>
						<td>Filarioses (autres)</td>
						<td><input type="text" ng-model="snis_report.not_filariose_autres_0_11"></td>
						<td><input type="text" ng-model="snis_report.not_filariose_autres_12_59"></td>
						<td><input type="text" ng-model="snis_report.not_filariose_autres_5_14"></td>
						<td><input type="text" ng-model="snis_report.not_filariose_autres_15"></td>
						<td><input type="text" ng-model="snis_report.not_filariose_autres_total"></td>
					</tr>
					<tr>
						<td>Goitre</td>
						<td><input type="text" ng-model="snis_report.not_goitre_0_11"></td>
						<td><input type="text" ng-model="snis_report.not_goitre_12_59"></td>
						<td><input type="text" ng-model="snis_report.not_goitre_5_14"></td>
						<td><input type="text" ng-model="snis_report.not_goitre_15"></td>
						<td><input type="text" ng-model="snis_report.not_goitre_total"></td>
					</tr>
					<tr>
						<td>Hépatite virale aiguë</td>
						<td><input type="text" ng-model="snis_report.not_hepatite_virale_aigue_0_11"></td>
						<td><input type="text" ng-model="snis_report.not_hepatite_virale_aigue_12_59"></td>
						<td><input type="text" ng-model="snis_report.not_hepatite_virale_aigue_5_14"></td>
						<td><input type="text" ng-model="snis_report.not_hepatite_virale_aigue_15"></td>
						<td><input type="text" ng-model="snis_report.not_hepatite_virale_aigue_total"></td>
					</tr>
					<tr>
						<td>Infection dermatologique</td>
						<td><input type="text" ng-model="snis_report.not_infection_dermatologique_0_11"></td>
						<td><input type="text" ng-model="snis_report.not_infection_dermatologique_12_59"></td>
						<td><input type="text" ng-model="snis_report.not_infection_dermatologique_5_14"></td>
						<td><input type="text" ng-model="snis_report.not_infection_dermatologique_15"></td>
						<td><input type="text" ng-model="snis_report.not_infection_dermatologique_total"></td>
					</tr>
					<tr>
						<td>Infection urinaire</td>
						<td><input type="text" ng-model="snis_report.not_infection_urinaire_0_11"></td>
						<td><input type="text" ng-model="snis_report.not_infection_urinaire_12_59"></td>
						<td><input type="text" ng-model="snis_report.not_infection_urinaire_5_14"></td>
						<td><input type="text" ng-model="snis_report.not_infection_urinaire_15"></td>
						<td><input type="text" ng-model="snis_report.not_infection_urinaire_total"></td>
					</tr>
					<tr>
						<td>Infections sexuellement transmissibles (IST)</td>
						<td><input type="text" ng-model="snis_report.not_ist_0_11"></td>
						<td><input type="text" ng-model="snis_report.not_ist_12_59"></td>
						<td><input type="text" ng-model="snis_report.not_ist_5_14"></td>
						<td><input type="text" ng-model="snis_report.not_ist_15"></td>
						<td><input type="text" ng-model="snis_report.not_ist_total"></td>
					</tr>
					<tr>
						<td>Intoxications aux produits indigènes</td>
						<td><input type="text" ng-model="snis_report.not_intoxication_prod_indigene_0_11"></td>
						<td><input type="text" ng-model="snis_report.not_intoxication_prod_indigene_12_59"></td>
						<td><input type="text" ng-model="snis_report.not_intoxication_prod_indigene_5_14"></td>
						<td><input type="text" ng-model="snis_report.not_intoxication_prod_indigene_15"></td>
						<td><input type="text" ng-model="snis_report.not_intoxication_prod_indigene_total"></td>
					</tr>
					<tr>
						<td>IRA inférieure  (pneumonie)</td>
						<td><input type="text" ng-model="snis_report.not_ira_pneumonie_0_11"></td>
						<td><input type="text" ng-model="snis_report.not_ira_pneumonie_12_59"></td>
						<td><input type="text" ng-model="snis_report.not_ira_pneumonie_5_14"></td>
						<td><input type="text" ng-model="snis_report.not_ira_pneumonie_15"></td>
						<td><input type="text" ng-model="snis_report.not_ira_pneumonie_total"></td>
					</tr>
					<tr>
						<td>IRA sup (syndrome grippal / rhume)</td>
						<td><input type="text" ng-model="snis_report.not_ira_syndrome_0_11"></td>
						<td><input type="text" ng-model="snis_report.not_ira_syndrome_12_59"></td>
						<td><input type="text" ng-model="snis_report.not_ira_syndrome_5_14"></td>
						<td><input type="text" ng-model="snis_report.not_ira_syndrome_15"></td>
						<td><input type="text" ng-model="snis_report.not_ira_syndrome_total"></td>
					</tr>
					<tr>
						<td>Konzo</td>
						<td><input type="text" ng-model="snis_report.not_konzo_0_11"></td>
						<td><input type="text" ng-model="snis_report.not_konzo_12_59"></td>
						<td><input type="text" ng-model="snis_report.not_konzo_5_14"></td>
						<td><input type="text" ng-model="snis_report.not_konzo_15"></td>
						<td><input type="text" ng-model="snis_report.not_konzo_total"></td>
					</tr>
					<tr>
						<td>Lèpre</td>
						<td><input type="text" ng-model="snis_report.not_lepre_0_11"></td>
						<td><input type="text" ng-model="snis_report.not_lepre_12_59"></td>
						<td><input type="text" ng-model="snis_report.not_lepre_5_14"></td>
						<td><input type="text" ng-model="snis_report.not_lepre_15"></td>
						<td><input type="text" ng-model="snis_report.not_lepre_total"></td>
					</tr>
					<tr>
						<td>Maladie mentale</td>
						<td><input type="text" ng-model="snis_report.not_maladie_mentale_0_11"></td>
						<td><input type="text" ng-model="snis_report.not_maladie_mentale_12_59"></td>
						<td><input type="text" ng-model="snis_report.not_maladie_mentale_5_14"></td>
						<td><input type="text" ng-model="snis_report.not_maladie_mentale_15"></td>
						<td><input type="text" ng-model="snis_report.not_maladie_mentale_total"></td>
					</tr>
					<tr>
						<td>Maladies oculaires</td>
						<td><input type="text" ng-model="snis_report.not_maladie_oculaires_0_11"></td>
						<td><input type="text" ng-model="snis_report.not_maladie_oculaires_12_59"></td>
						<td><input type="text" ng-model="snis_report.not_maladie_oculaires_5_14"></td>
						<td><input type="text" ng-model="snis_report.not_maladie_oculaires_15"></td>
						<td><input type="text" ng-model="snis_report.not_maladie_oculaires_total"></td>
					</tr>
					<tr>
						<td>Maladies professionnelles</td>
						<td><input type="text" ng-model="snis_report.not_maladie_professionnelles_0_11"></td>
						<td><input type="text" ng-model="snis_report.not_maladie_professionnelles_12_59"></td>
						<td><input type="text" ng-model="snis_report.not_maladie_professionnelles_5_14"></td>
						<td><input type="text" ng-model="snis_report.not_maladie_professionnelles_15"></td>
						<td><input type="text" ng-model="snis_report.not_maladie_professionnelles_total"></td>
					</tr><tr>
						<td>Malnutrition aigue modérée</td>
						<td><input type="text" ng-model="snis_report.not_malnutrition_aigue_moderee_0_11"></td>
						<td><input type="text" ng-model="snis_report.not_malnutrition_aigue_moderee_12_59"></td>
						<td><input type="text" ng-model="snis_report.not_malnutrition_aigue_moderee_5_14"></td>
						<td><input type="text" ng-model="snis_report.not_malnutrition_aigue_moderee_15"></td>
						<td><input type="text" ng-model="snis_report.not_malnutrition_aigue_moderee_total"></td>
					</tr>
					<tr>
						<td>mal nutrition aiguë sévère</td>
						<td><input type="text" ng-model="snis_report.not_malnutrition_aigue_severe_0_11"></td>
						<td><input type="text" ng-model="snis_report.not_malnutrition_aigue_severe_12_59"></td>
						<td><input type="text" ng-model="snis_report.not_malnutrition_aigue_severe_5_14"></td>
						<td><input type="text" ng-model="snis_report.not_malnutrition_aigue_severe_15"></td>
						<td><input type="text" ng-model="snis_report.not_malnutrition_aigue_severe_total"></td>
					</tr>
					<tr>
						<td>Méningite</td>
						<td><input type="text" ng-model="snis_report.not_meningite_0_11"></td>
						<td><input type="text" ng-model="snis_report.not_meningite_12_59"></td>
						<td><input type="text" ng-model="snis_report.not_meningite_5_14"></td>
						<td><input type="text" ng-model="snis_report.not_meningite_15"></td>
						<td><input type="text" ng-model="snis_report.not_meningite_total"></td>
					</tr>
					<tr>
						<td>Monkey Pox</td>
						<td><input type="text" ng-model="snis_report.not_monkey_pox_0_11"></td>
						<td><input type="text" ng-model="snis_report.not_monkey_pox_12_59"></td>
						<td><input type="text" ng-model="snis_report.not_monkey_pox_5_14"></td>
						<td><input type="text" ng-model="snis_report.not_monkey_pox_15"></td>
						<td><input type="text" ng-model="snis_report.not_monkey_pox_total"></td>
					</tr>
					<tr>
						<td>Morsure par des animaux vénimeux</td>
						<td><input type="text" ng-model="snis_report.not_morsure_animaux_venimeux_0_11"></td>
						<td><input type="text" ng-model="snis_report.not_morsure_animaux_venimeux_12_59"></td>
						<td><input type="text" ng-model="snis_report.not_morsure_animaux_venimeux_5_14"></td>
						<td><input type="text" ng-model="snis_report.not_morsure_animaux_venimeux_15"></td>
						<td><input type="text" ng-model="snis_report.not_morsure_animaux_venimeux_total"></td>
					</tr>
					<tr>
						<td>Noma</td>
						<td><input type="text" ng-model="snis_report.not_noma_0_11"></td>
						<td><input type="text" ng-model="snis_report.not_noma_12_59"></td>
						<td><input type="text" ng-model="snis_report.not_noma_5_14"></td>
						<td><input type="text" ng-model="snis_report.not_noma_15"></td>
						<td><input type="text" ng-model="snis_report.not_noma_total"></td>
					</tr>
					<tr>
						<td>Onchocercose</td>
						<td><input type="text" ng-model="snis_report.not_onchocercose_0_11"></td>
						<td><input type="text" ng-model="snis_report.not_onchocercose_12_59"></td>
						<td><input type="text" ng-model="snis_report.not_onchocercose_5_14"></td>
						<td><input type="text" ng-model="snis_report.not_onchocercose_15"></td>
						<td><input type="text" ng-model="snis_report.not_onchocercose_total"></td>
					</tr>
					<tr>
						<td>Peste</td>
						<td><input type="text" ng-model="snis_report.not_peste_0_11"></td>
						<td><input type="text" ng-model="snis_report.not_peste_12_59"></td>
						<td><input type="text" ng-model="snis_report.not_peste_5_14"></td>
						<td><input type="text" ng-model="snis_report.not_peste_15"></td>
						<td><input type="text" ng-model="snis_report.not_peste_total"></td>
					</tr>
					<tr>
						<td>PFA</td>
						<td><input type="text" ng-model="snis_report.not_pfa_0_11"></td>
						<td><input type="text" ng-model="snis_report.not_pfa_12_59"></td>
						<td><input type="text" ng-model="snis_report.not_pfa_5_14"></td>
						<td><input type="text" ng-model="snis_report.not_pfa_15"></td>
						<td><input type="text" ng-model="snis_report.not_pfa_total"></td>
					</tr><tr>
						<td>Rage</td>
						<td><input type="text" ng-model="snis_report.not_rage_0_11"></td>
						<td><input type="text" ng-model="snis_report.not_rage_12_59"></td>
						<td><input type="text" ng-model="snis_report.not_rage_5_14"></td>
						<td><input type="text" ng-model="snis_report.not_rage_15"></td>
						<td><input type="text" ng-model="snis_report.not_rage_total"></td>
					</tr>
					<tr>
						<td>Rougeole patient non vacciné</td>
						<td><input type="text" ng-model="snis_report.not_rougeole_non_vaccine_0_11"></td>
						<td><input type="text" ng-model="snis_report.not_rougeole_non_vaccine_12_59"></td>
						<td><input type="text" ng-model="snis_report.not_rougeole_non_vaccine_5_14"></td>
						<td><input type="text" ng-model="snis_report.not_rougeole_non_vaccine_15"></td>
						<td><input type="text" ng-model="snis_report.not_rougeole_non_vaccine_total"></td>
					</tr>
					<tr>
						<td>Rougeole patient vacciné</td>
						<td><input type="text" ng-model="snis_report.not_rougeole_vaccine_0_11"></td>
						<td><input type="text" ng-model="snis_report.not_rougeole_vaccine_12_59"></td>
						<td><input type="text" ng-model="snis_report.not_rougeole_vaccine_5_14"></td>
						<td><input type="text" ng-model="snis_report.not_rougeole_vaccine_15"></td>
						<td><input type="text" ng-model="snis_report.not_rougeole_vaccine_total"></td>
					</tr>
					<tr>
						<td>Schistosomiase</td>
						<td><input type="text" ng-model="snis_report.not_schistosomiase_0_11"></td>
						<td><input type="text" ng-model="snis_report.not_schistosomiase_12_59"></td>
						<td><input type="text" ng-model="snis_report.not_schistosomiase_5_14"></td>
						<td><input type="text" ng-model="snis_report.not_schistosomiase_15"></td>
						<td><input type="text" ng-model="snis_report.not_schistosomiase_total"></td>
					</tr>
					<tr>
						<td>Syndrome appendiculaire</td>
						<td><input type="text" ng-model="snis_report.not_syndrome_appendiculaire_0_11"></td>
						<td><input type="text" ng-model="snis_report.not_syndrome_appendiculaire_12_59"></td>
						<td><input type="text" ng-model="snis_report.not_syndrome_appendiculaire_5_14"></td>
						<td><input type="text" ng-model="snis_report.not_syndrome_appendiculaire_15"></td>
						<td><input type="text" ng-model="snis_report.not_syndrome_appendiculaire_total"></td>
					</tr>
					<tr>
						<td>Syndrome gastritique</td>
						<td><input type="text" ng-model="snis_report.not_syndrome_gastrique_0_11"></td>
						<td><input type="text" ng-model="snis_report.not_syndrome_gastrique_12_59"></td>
						<td><input type="text" ng-model="snis_report.not_syndrome_gastrique_5_14"></td>
						<td><input type="text" ng-model="snis_report.not_syndrome_gastrique_15"></td>
						<td><input type="text" ng-model="snis_report.not_syndrome_gastrique_total"></td>
					</tr>
					<tr>
						<td>Tétanos</td>
						<td><input type="text" ng-model="snis_report.not_tetanos_0_11"></td>
						<td><input type="text" ng-model="snis_report.not_tetanos_12_59"></td>
						<td><input type="text" ng-model="snis_report.not_tetanos_5_14"></td>
						<td><input type="text" ng-model="snis_report.not_tetanos_15"></td>
						<td><input type="text" ng-model="snis_report.not_tetanos_total"></td>
					</tr>
					<tr>
						<td>Tétanos néonatal</td>
						<td><input type="text" ng-model="snis_report.not_tetanos_neonat_0_11"></td>
						<td><input type="text" ng-model="snis_report.not_tetanos_neonat_12_59"></td>
						<td><input type="text" ng-model="snis_report.not_tetanos_neonat_5_14"></td>
						<td><input type="text" ng-model="snis_report.not_tetanos_neonat_15"></td>
						<td><input type="text" ng-model="snis_report.not_tetanos_neonat_total"></td>
					</tr>
					<tr>
						<td>Toxicomanie et autres</td>
						<td><input type="text" ng-model="snis_report.not_toxicomanie_autres_0_11"></td>
						<td><input type="text" ng-model="snis_report.not_toxicomanie_autres_12_59"></td>
						<td><input type="text" ng-model="snis_report.not_toxicomanie_autres_5_14"></td>
						<td><input type="text" ng-model="snis_report.not_toxicomanie_autres_15"></td>
						<td><input type="text" ng-model="snis_report.not_toxicomanie_autres_total"></td>
					</tr><tr>
						<td>Traumatisme</td>
						<td><input type="text" ng-model="snis_report.not_traumatisme_0_11"></td>
						<td><input type="text" ng-model="snis_report.not_traumatisme_12_59"></td>
						<td><input type="text" ng-model="snis_report.not_traumatisme_5_14"></td>
						<td><input type="text" ng-model="snis_report.not_traumatisme_15"></td>
						<td><input type="text" ng-model="snis_report.not_traumatisme_total"></td>
					</tr>
					<tr>
						<td>Trypanosomiase</td>
						<td><input type="text" ng-model="snis_report.not_trypanosomiase_0_11"></td>
						<td><input type="text" ng-model="snis_report.not_trypanosomiase_12_59"></td>
						<td><input type="text" ng-model="snis_report.not_trypanosomiase_5_14"></td>
						<td><input type="text" ng-model="snis_report.not_trypanosomiase_15"></td>
						<td><input type="text" ng-model="snis_report.not_trypanosomiase_total"></td>
					</tr>
					<tr>
						<td>Tuberculose TPM+</td>
						<td><input type="text" ng-model="snis_report.not_tuberculose_tpm_0_11"></td>
						<td><input type="text" ng-model="snis_report.not_tuberculose_tpm_12_59"></td>
						<td><input type="text" ng-model="snis_report.not_tuberculose_tpm_5_14"></td>
						<td><input type="text" ng-model="snis_report.not_tuberculose_tpm_15"></td>
						<td><input type="text" ng-model="snis_report.not_tuberculose_tpm_total"></td>
					</tr>
					<tr>
						<td>Typhus</td>
						<td><input type="text" ng-model="snis_report.not_typhus_0_11"></td>
						<td><input type="text" ng-model="snis_report.not_typhus_12_59"></td>
						<td><input type="text" ng-model="snis_report.not_typhus_5_14"></td>
						<td><input type="text" ng-model="snis_report.not_typhus_15"></td>
						<td><input type="text" ng-model="snis_report.not_typhus_total"></td>
					</tr>
					<tr>
						<td>Ulcère de Buruli</td>
						<td><input type="text" ng-model="snis_report.not_ulcere_buruli_0_11"></td>
						<td><input type="text" ng-model="snis_report.not_ulcere_buruli_12_59"></td>
						<td><input type="text" ng-model="snis_report.not_ulcere_buruli_5_14"></td>
						<td><input type="text" ng-model="snis_report.not_ulcere_buruli_15"></td>
						<td><input type="text" ng-model="snis_report.not_ulcere_buruli_total"></td>
					</tr>
					<tr>
						<td>VIH/SIDA</td>
						<td><input type="text" ng-model="snis_report.not_vih_sida_0_11"></td>
						<td><input type="text" ng-model="snis_report.not_vih_sida_12_59"></td>
						<td><input type="text" ng-model="snis_report.not_vih_sida_5_14"></td>
						<td><input type="text" ng-model="snis_report.not_vih_sida_15"></td>
						<td><input type="text" ng-model="snis_report.not_vih_sida_total"></td>
					</tr>
					<tr>
						<td>Xérophtalmie</td>
						<td><input type="text" ng-model="snis_report.not_xerophtalmie_0_11"></td>
						<td><input type="text" ng-model="snis_report.not_xerophtalmie_12_59"></td>
						<td><input type="text" ng-model="snis_report.not_xerophtalmie_5_14"></td>
						<td><input type="text" ng-model="snis_report.not_xerophtalmie_15"></td>
						<td><input type="text" ng-model="snis_report.not_xerophtalmie_total"></td>
					</tr>
					<tr>
						<td>Autres</td>
						<td><input type="text" ng-model="snis_report.not_autres_0_11"></td>
						<td><input type="text" ng-model="snis_report.not_autres_12_59"></td>
						<td><input type="text" ng-model="snis_report.not_autres_5_14"></td>
						<td><input type="text" ng-model="snis_report.not_autres_15"></td>
						<td><input type="text" ng-model="snis_report.not_autres_total"></td>
					</tr>

				</tbody>
			</table>
		</div>
	</div>
	</fieldset>
</div>