<div id="sante-mere" class="container">
	<h2>{{ "SNIS.STEP5" | translate }}</h2>
	<fieldset><legend></legend>
	<!-- head -->
	<div class="row">
		<div class="col-md-8">
			<h3>5.1. Consultation prénatale (CPN)</h3>
		</div>
		<div class="col-md-4">
			<table>
				<tr>
					<td><em>Pop cible = fe du mois</em></td>
					<td><input ng-model="snis_report.pop_cible" type="text"></td>
				</tr>
				<tr>
					<td><em>Séances de CPN</em></td>
					<td><input ng-model="snis_report.seances_cpn" type="text"></td>
				</tr>
			</table>
		</div>
	</div>
	<!-- table -->
	<div class="row">
		<div class="col-md-8">
			<table class="cellmini">
				<thead>
					<tr>
						<td>&nbsp;</td>
						<td>ZS</td>
						<td>HZ</td>
						<td>Total</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Visites CPN 1</td>
						<td><input ng-model="snis_report.visites_cpn1_zs" type="text"></td>
						<td><input ng-model="snis_report.visites_cpn1_hz" type="text"></td>
						<td><input ng-model="snis_report.visites_cpn1_total" type="text"></td>
					</tr>
					<tr>
						<td>--- Femmes enceintes < 20 Ans</td>
						<td><input ng-model="snis_report.femmes_moins_20_cpn1_zs" type="text"></td>
						<td><input ng-model="snis_report.femmes_moins_20_cpn1_hz" type="text"></td>
						<td><input ng-model="snis_report.femmes_moins_20_cpn1_total" type="text"></td>
					</tr>
					<tr>
						<td>Visites CPN 2</td>
						<td><input ng-model="snis_report.visites_cpn2_zs" type="text"></td>
						<td><input ng-model="snis_report.visites_cpn2_hz" type="text"></td>
						<td><input ng-model="snis_report.visites_cpn2_total" type="text"></td>
					</tr>
					<tr>
						<td>Visites CPN 3</td>
						<td><input ng-model="snis_report.visites_cpn3_zs" type="text"></td>
						<td><input ng-model="snis_report.visites_cpn3_hz" type="text"></td>
						<td><input ng-model="snis_report.visites_cpn3_total" type="text"></td>
					</tr>
					<tr>
						<td>Visites CPN 4</td>
						<td><input ng-model="snis_report.visites_cpn4_zs" type="text"></td>
						<td><input ng-model="snis_report.visites_cpn4_hz" type="text"></td>
						<td><input ng-model="snis_report.visites_cpn4_total" type="text"></td>
					</tr>
					<tr>
						<td>Femmes enceinte ayant réalisé la CPN1 au 1<sup>er</sup> trimestre</td>
						<td><input ng-model="snis_report.fem_enc_cpn1_1trimestre_zs" type="text"></td>
						<td><input ng-model="snis_report.fem_enc_cpn1_1trimestre_hz" type="text"></td>
						<td><input ng-model="snis_report.fem_enc_cpn1_1trimestre_total" type="text"></td>
					</tr>
					<tr>
						<td>Femmes enceinte avec CPN 4 dont une au 8<sup>ème</sup> - 9<sup>ème</sup> mois</td>
						<td><input ng-model="snis_report.fem_enc_cpn4_8mois_zs" type="text"></td>
						<td><input ng-model="snis_report.fem_enc_cpn4_8mois_hz" type="text"></td>
						<td><input ng-model="snis_report.fem_enc_cpn4_8mois_total" type="text"></td>
					</tr>
					<tr>
						<td>Femmes enceintes référées par le Centre de Sante</td>
						<td><input ng-model="snis_report.fem_enc_ref_cs_zs" type="text"></td>
						<td><input ng-model="snis_report.fem_enc_ref_cs_hz" type="text"></td>
						<td><input ng-model="snis_report.fem_enc_ref_cs_total" type="text"></td>
					</tr>
					<tr>
						<td>Femmes enceintes < 20 Ans référées par le Centre de Sante</td>
						<td><input ng-model="snis_report.fem_enc_moins_20_ref_cs_zs" type="text"></td>
						<td><input ng-model="snis_report.fem_enc_moins_20_ref_cs_hz" type="text"></td>
						<td><input ng-model="snis_report.fem_enc_moins_20_ref_cs_total" type="text"></td>
					</tr>
					<tr>
						<td>Femmes enceinte à risque détectées</td>
						<td><input ng-model="snis_report.fem_enc_risque_detectees_zs" type="text"></td>
						<td><input ng-model="snis_report.fem_enc_risque_detectees_hz" type="text"></td>
						<td><input ng-model="snis_report.fem_enc_risque_detectees_total" type="text"></td>
					</tr>
					<tr>
						<td>Femmes enceinte à risque référée vers l’HGRP ou FOSA spécialisée</td>
						<td><input ng-model="snis_report.fem_enc_risque_ref_hgrp_fosa_zs" type="text"></td>
						<td><input ng-model="snis_report.fem_enc_risque_ref_hgrp_fosa_hz" type="text"></td>
						<td><input ng-model="snis_report.fem_enc_risque_ref_hgrp_fosa_total" type="text"></td>
					</tr>
					<tr>
						<td>Fer + Acide Folique 1ère dose reçue</td>
						<td><input ng-model="snis_report.fer_acide_folique_1dose_zs" type="text"></td>
						<td><input ng-model="snis_report.fer_acide_folique_1dose_hz" type="text"></td>
						<td><input ng-model="snis_report.fer_acide_folique_1dose_total" type="text"></td>
					</tr>
					<tr>
						<td>Fer + Acide Folique 2ème dose reçues</td>
						<td><input ng-model="snis_report.fer_acide_folique_2dose_zs" type="text"></td>
						<td><input ng-model="snis_report.fer_acide_folique_2dose_hz" type="text"></td>
						<td><input ng-model="snis_report.fer_acide_folique_2dose_total" type="text"></td>
					</tr>
					<tr>
						<td>Fer + Acide Folique 3ème dose reçue</td>
						<td><input ng-model="snis_report.fer_acide_folique_3dose_zs" type="text"></td>
						<td><input ng-model="snis_report.fer_acide_folique_3dose_hz" type="text"></td>
						<td><input ng-model="snis_report.fer_acide_folique_3dose_total" type="text"></td>
					</tr>
					<tr>
						<td>Sulfadox. + Pyrimét 1ère dose reçue</td>
						<td><input ng-model="snis_report.sulfadox_pyremet_1dose_zs" type="text"></td>
						<td><input ng-model="snis_report.sulfadox_pyremet_1dose_hz" type="text"></td>
						<td><input ng-model="snis_report.sulfadox_pyremet_1dose_total" type="text"></td>
					</tr>
					<tr>
						<td>Sulfadox. + Pyrimét 2ème dose reçues</td>
						<td><input ng-model="snis_report.sulfadox_pyremet_2dose_zs" type="text"></td>
						<td><input ng-model="snis_report.sulfadox_pyremet_2dose_hz" type="text"></td>
						<td><input ng-model="snis_report.sulfadox_pyremet_2dose_total" type="text"></td>
					</tr>
					<tr>
						<td>Sulfadox. + Pyrimét 3ème dose reçue</td>
						<td><input ng-model="snis_report.sulfadox_pyremet_3dose_zs" type="text"></td>
						<td><input ng-model="snis_report.sulfadox_pyremet_3dose_hz" type="text"></td>
						<td><input ng-model="snis_report.sulfadox_pyremet_3dose_total" type="text"></td>
					</tr>
					<tr>
						<td>Complètement vaccinées avant grossesse</td>
						<td><input ng-model="snis_report.complet_vacc_av_gross_zs" type="text"></td>
						<td><input ng-model="snis_report.complet_vacc_av_gross_hz" type="text"></td>
						<td><input ng-model="snis_report.complet_vacc_av_gross_total" type="text"></td>
					</tr>
					<tr>
						<td>Ayant acquis une MILD</td>
						<td><input ng-model="snis_report.acquis_mild_zs" type="text"></td>
						<td><input ng-model="snis_report.acquis_mild_hz" type="text"></td>
						<td><input ng-model="snis_report.acquis_mild_total" type="text"></td>
					</tr>
					<tr>
						<td>Ayant reçu le Mébendazole à partir du 2ème trimestre</td>
						<td><input ng-model="snis_report.mebendazole_2trimestre_zs" type="text"></td>
						<td><input ng-model="snis_report.mebendazole_2trimestre_hz" type="text"></td>
						<td><input ng-model="snis_report.mebendazole_2trimestre_total" type="text"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-4">
			<table class="separate-row-2m cellmini-6em">
				<tr>
					<td>Proportion de grossesses à haut risque détectées = Tot Grossesses à haut risque détectées x 100 / Total Nlles Inscrites</td>
					<td><input ng-model="snis_report.prop_gross_h_risque_detect" type="text"></td>
				</tr>
				<tr>
					<td>Propor-on de grossesses à haut risque référées = Tot Grossesses à haut risque référées x 100 / Total femmes à hauts risques détectées inscrites</td>
					<td><input ng-model="snis_report.prop_gross_h_risque_referees" type="text"></td>
				</tr>
				<tr>
					<td>Proportion de fe ayant reçu au moins la SP 2 = Nombre de femmes enceintes ayant reçu au moins 2 Quantité de SPX100 / Fe ayant effectué la première visite prénatale</td>
					<td><input ng-model="snis_report.prop_fem_recu_sp2" type="text"></td>
				</tr>
				<tr>
					<td>Proportion des  femmes enceintes ayant reçues une MILD à la CPN = femmes enceintes ayant acquis MILD X 100/ Total CPN1</td>
					<td><input ng-model="snis_report.prop_fem_enc_mild_cpn" type="text"></td>
				</tr>
			</table>
		</div>
	</div>

	<h3>5.2. Prévention transmission mère enfant (PTME)</h3>
	<table>
		<thead>
			<tr>
				<td>&nbsp;</td>
				<td>Nombre</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Qui connaissent leur statut sérologique VIH avant la CPN1</td>
				<td><input ng-model="snis_report.ptme_con_stat_vih_cpn1" type="text"></td>
			</tr>
			<tr>
				<td>Qui ont été conseillée pour un test VIH</td>
				<td><input ng-model="snis_report.ptme_conseille_test_vih" type="text"></td>
			</tr>
			<tr>
				<td>Qui ont été testées pour le VIH</td>
				<td><input ng-model="snis_report.ptme_test_vih" type="text"></td>
			</tr>
			<tr>
				<td>Qui ont été informées du résultat</td>
				<td><input  ng-model="snis_report.ptme_inf_resultat" type="text"></td>
			</tr>
			<tr>
				<td>Qui ont eu un test positif au VIH</td>
				<td><input  ng-model="snis_report.ptme_vih_pos" type="text"></td>
			</tr>
			<tr>
				<td>Qui ont eu un test positif au VIH et ont été informées du résultat</td>
				<td><input ng-model="snis_report.ptme_vih_pos_inf_resultat" type="text"></td>
			</tr>
			<tr>
				<td>Qui sont VIH+  ayant bénéficié de la prophylaxie aux ARV (AZT /AZT+3TC+NVP)</td>
				<td><input ng-model="snis_report.ptme_vih_pos_prophylaxie_arv" type="text"></td>
			</tr>
			<tr>
				<td>Qui sont VIH+ ayant bénéficié de la prophylaxie au cotrimoxazole</td>
				<td><input ng-model="snis_report.ptme_vih_pos_proph_cotrimoxazole" type="text"></td>
			</tr>
			<tr>
				<td>Qui sont VIH+ dont l’éligibilité au TARV a été évaluée selon les critères clin. ou imm.</td>
				<td><input ng-model="snis_report.ptme_vih_pos_eligibilite_tarv" type="text"></td>
			</tr>
			<tr>
				<td>Qui sont VIH+ qui sont référées vers une structure de PEC</td>
				<td><input ng-model="snis_report.ptme_vih_pos_ref_pec" type="text"></td>
			</tr>
			<tr>
				<td>Testées et informées de leur résultat lors du travail, accouchement et post partum (72 h)</td>
				<td><input ng-model="snis_report.ptme_test_inf_res_travail" type="text"></td>
			</tr>
			<tr>
				<td>Femmes enceintes VIH+ éligibles au TARV (CD4 ou classification clinique)</td>
				<td><input ng-model="snis_report.ptme_fem_ens_vih_pos_tarv_cd4" type="text"></td>
			</tr>
			<tr>
				<td>Femmes enceintes ont été mis sous TARV</td>
				<td><input ng-model="snis_report.ptme_fem_ens_mis_tarv" type="text"></td>
			</tr>
			<tr>
				<td>Qui ont eu la grossesse à l’issue d’un Viol</td>
				<td><input ng-model="snis_report.ptme_gros_issue_viol" type="text"></td>
			</tr>
			<tr>
				<td>Mères VIH+ ayant opté pour l’allaitement exclusif jusqu’à 6 mois</td>
				<td><input ng-model="snis_report.ptme_vih_pos_allaitement_6mois" type="text"></td>
			</tr>
			<tr>
				<td>Qui ont été dépistés pour la syphilis à la CPN</td>
				<td><input ng-model="snis_report.ptme_depist_syphilis_cpn" type="text"></td>
			</tr>
			<tr>
				<td>Qui ont été dépistés positives à la syphilis</td>
				<td><input ng-model="snis_report.ptme_depist_pos_syphilis_cpn" type="text"></td>
			</tr>
			<tr>
				<td>Dont mères VIH+ mises sous double protection (PF+ préservatif)</td>
				<td><input ng-model="snis_report.ptme_mere_vih_pos_doubl_protec" type="text"></td>
			</tr>
			<tr>
				<td>Accouchées VIH +</td>
				<td><input ng-model="snis_report.ptme_accouchees_vih_pos" type="text"></td>
			</tr>
			<tr>
				<td>--- Dont ayant reçu de la névirapine + AZT+LAV</td>
				<td><input ng-model="snis_report.ptme_accouchees_nevirapine_azt" type="text"></td>
			</tr>
			<tr>
				<td>Enfants nés de mère VIH+</td>
				<td><input ng-model="snis_report.ptme_enfant_nes_mere_vih_pos" type="text"></td>
			</tr>
			<tr>
				<td>--- Dont mis sous la névirapine + AZT+LAV a la naissance</td>
				<td><input ng-model="snis_report.ptme_enfant_s_nevirapine_azt_lav" type="text"></td>
			</tr>
			<tr>
				<td>--- Dont mis sous NVP à la naissance</td>
				<td><input ng-model="snis_report.ptme_enfant_s_nvp_naissance" type="text"></td>
			</tr>
			<tr>
				<td>--- Dont mis sous NVP pendant 6 semaines après la naissance</td>
				<td><input ng-model="snis_report.ptme_enfant_s_nvp_6semaines"  type="text"></td>
			</tr>
			<tr>
				<td>--- Dont mis sous cotrimoxazole pendant 6 semaines après la naissance</td>
				<td><input ng-model="snis_report.ptme_enfant_s_cotrimoxazole_6semaines" type="text" type="text"></td>
			</tr>
			<tr>
				<td>--- Dont mis sous NVP pendant 12 mois  après la naissance</td>
				<td><input ng-model="snis_report.ptme_enfant_s_nvp_12mois" type="text"></td>
			</tr>
			<tr>
				<td>Enfants exposés reçus et testés au PCR1 à 6 semaines après la naissance</td>
				<td><input ng-model="snis_report.ptme_enfant_testes_pcr1_6semaines" type="text"></td>
			</tr>
			<tr>
				<td>Enfants exposés testés positifs au PCR1 à 6 semaines après la naissance</td>
				<td><input ng-model="snis_report.ptme_enfant_exposes_pos_pcr1_6semaines" type="text"></td>
			</tr>
			<tr>
				<td>Enfants exposés reçus et testés au PCR2 à 10 semaines après la naissance</td>
				<td><input ng-model="snis_report.ptme_enfant_testes_pcr2_10semaines" type="text"></td>
			</tr>
			<tr>
				<td>Enfants exposés testés positifs  au PCR2 à 10 semaines après la naissance</td>
				<td><input ng-model="snis_report.ptme_enfant_testes_pos_pcr2_10semaines" type="text"></td>
			</tr>
			<tr>
				<td>Enfants exposés testés au PCR1 ayant bénéficié d'un test séro. à  12 mois</td>
				<td><input ng-model="snis_report.ptme_enfant_testes_pcr1_test_sero_12mois" type="text"></td>
			</tr>
		</tbody>
	</table>

	<h3>5.3. Partenaires et membres de famille de la femme enceinte</h3>
	<table class="cellmini">
		<thead>
			<tr class="age">
				<td>&nbsp;</td>
				<td colspan="4">Partenaires masculins de femme enceinte VIH+</td>
				<td colspan="4">Membres de famille de femme enceinte VIH+</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>Conseill&eacute;s</td>
				<td>Testés</td>
				<td>Positifs</td>
				<td>Informées de<br>leur résultat</td>
				<td>Conseill&eacute;s</td>
				<td>Testés</td>
				<td>Positifs</td>
				<td>Informées de<br>leur résultat</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>0 - 14 ans</td>
				<td><input ng-model="snis_report.conseille_0_14_part_masc_fem_enc_vih_pos" type="text"></td>
				<td><input ng-model="snis_report.testes_0_14_part_masc_fem_enc_vih_pos" type="text"></td>
				<td><input ng-model="snis_report.positifs_0_14_part_masc_fem_enc_vih_pos" type="text"></td>
				<td><input ng-model="snis_report.inf_res_0_14_part_masc_fem_enc_vih_pos" type="text"></td>
				<td><input ng-model="snis_report.conseille_0_14_membr_famille_fem_enc_vih_pos" type="text"></td>
				<td><input ng-model="snis_report.testes_0_14_membr_famille_fem_enc_vih_pos" type="text"></td>
				<td><input ng-model="snis_report.positifs_0_14_membr_famille_fem_enc_vih_pos" type="text"></td>
				<td><input ng-model="snis_report.inf_res_0_14_membr_famille_fem_enc_vih_pos" type="text"></td>
			</tr>
			<tr>
				<td>15 – 19 ans</td>
				<td><input ng-model="snis_report.conseille_15_19_part_masc_fem_enc_vih_pos" type="text"></td>
				<td><input ng-model="snis_report.testes_15_19_part_masc_fem_enc_vih_pos" type="text"></td>
				<td><input ng-model="snis_report.positifs_15_19_part_masc_fem_enc_vih_pos" type="text"></td>
				<td><input ng-model="snis_report.inf_res_15_19_part_masc_fem_enc_vih_pos" type="text"></td>
				<td><input ng-model="snis_report.conseille_15_19_membr_famille_fem_enc_vih_pos" type="text"></td>
				<td><input ng-model="snis_report.testes_15_19_membr_famille_fem_enc_vih_pos" type="text"></td>
				<td><input ng-model="snis_report.positifs_15_19_membr_famille_fem_enc_vih_pos" type="text"></td>
				<td><input ng-model="snis_report.inf_res_15_19_membr_famille_fem_enc_vih_pos" type="text"></td>
			</tr>
			<tr>
				<td>20 – 24 ans</td>
				<td><input ng-model="snis_report.conseille_20_24_part_masc_fem_enc_vih_pos" type="text"></td>
				<td><input ng-model="snis_report.testes_20_24_part_masc_fem_enc_vih_pos" type="text"></td>
				<td><input ng-model="snis_report.positifs_20_24_part_masc_fem_enc_vih_pos" type="text"></td>
				<td><input ng-model="snis_report.inf_res_20_24_part_masc_fem_enc_vih_pos" type="text"></td>
				<td><input ng-model="snis_report.conseille_20_24_membr_famille_fem_enc_vih_pos" type="text"></td>
				<td><input ng-model="snis_report.testes_20_24_membr_famille_fem_enc_vih_pos" type="text"></td>
				<td><input ng-model="snis_report.positifs_20_24_membr_famille_fem_enc_vih_pos" type="text"></td>
				<td><input ng-model="snis_report.inf_res_20_24_membr_famille_fem_enc_vih_pos" type="text"></td>
			</tr>
			<tr>
				<td>25 ans et plus</td>
				<td><input ng-model="snis_report.conseille_25_plus_part_masc_fem_enc_vih_pos" type="text"></td>
				<td><input ng-model="snis_report.testes_25_plus_part_masc_fem_enc_vih_pos" type="text"></td>
				<td><input ng-model="snis_report.positifs_25_plus_part_masc_fem_enc_vih_pos" type="text"></td>
				<td><input ng-model="snis_report.inf_res_25_plus_part_masc_fem_enc_vih_pos" type="text"></td>
				<td><input ng-model="snis_report.conseille_25_plus_membr_famille_fem_enc_vih_pos" type="text"></td>
				<td><input ng-model="snis_report.testes_25_plus_membr_famille_fem_enc_vih_pos" type="text"></td>
				<td><input ng-model="snis_report.positifs_25_plus_membr_famille_fem_enc_vih_pos" type="text"></td>
				<td><input ng-model="snis_report.inf_res_25_plus_membr_famille_fem_enc_vih_pos" type="text"></td>
			</tr>
			<tr>
				<td>Total general</td>
				<td><input ng-model="snis_report.conseille_total_gen_part_masc_fem_enc_vih_pos" type="text"></td>
				<td><input ng-model="snis_report.testes_total_gen_part_masc_fem_enc_vih_pos" type="text"></td>
				<td><input ng-model="snis_report.positifs_total_gen_part_masc_fem_enc_vih_pos" type="text"></td>
				<td><input ng-model="snis_report.inf_res_total_gen_part_masc_fem_enc_vih_pos" type="text"></td>
				<td><input ng-model="snis_report.conseille_total_gen_membr_famille_fem_enc_vih_pos" type="text"></td>
				<td><input ng-model="snis_report.testes_total_gen_membr_famille_fem_enc_vih_pos" type="text"></td>
				<td><input ng-model="snis_report.positifs_total_gen_membr_famille_fem_enc_vih_pos" type="text"></td>
				<td><input ng-model="snis_report.inf_res_total_gen_membr_famille_fem_enc_vih_pos" type="text"></td>
			</tr>
		</tbody>
	</table>

	<h3>5.4. Gynéco-obstétrique</h3>
	<div class="row">
		<div class="col-md-6">
			<h3>5.4.1. Avortements</h3>
			<table>
				<thead>
					<tr>
						<td>&nbsp;</td>
						<td>Nombre</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Avortements spontanés</td>
						<td><input ng-model="snis_report.avortement_spontanes" type="text"></td>
					</tr>
					<tr>
						<td>Avortements provoqués</td>
						<td><input ng-model="snis_report.avortement_provoques" type="text"></td>
					</tr>
				</tbody>
			</table>

			<table>
				<thead>
					<tr>
						<td>&nbsp;</td>
						<td>Nombre</td>
						<td>Complication</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Curetage après avortement spontané</td>
						<td><input ng-model="snis_report.curetage_apres_avortement_spont_nombre" type="text"></td>
						<td><input ng-model="snis_report.curetage_apres_avortement_spont_complication" type="text"></td>
					</tr>
					<tr>
						<td>Curetage après avortement provoqué</td>
						<td><input ng-model="snis_report.curetage_apres_avortement_provoq_nombre" type="text"></td>
						<td><input ng-model="snis_report.curetage_apres_avortement_provoq_complication" type="text"></td>
					</tr>
					<tr>
						<td>Aspiration manuelle intrautérine réalisée</td>
						<td><input ng-model="snis_report.aspiration_manuelle_intra_nombre" type="text"></td>
						<td><input ng-model="snis_report.aspiration_manuelle_intra_complication" type="text"></td>
					</tr>
					<tr>
						<td>Décès liés aux avortements</td>
						<td><input ng-model="snis_report.deces_lies_avortement_nombre" type="text"></td>
						<td><input ng-model="snis_report.deces_lies_avortement_complication" type="text"></td>
					</tr>
				</tbody>
			</table>

			<h3>5.4.3. Accouchements avec interventions</h3>
			<table>
				<thead>
					<tr>
						<td>&nbsp;</td>
						<td>Nombre</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Césariennes</td>
						<td><input ng-model="snis_report.accouche_interv_cesariennes" type="text"></td>
					</tr>
					<tr>
						<td>Ventouses</td>
						<td><input ng-model="snis_report.accouche_interv_ventouses" type="text"></td>
					</tr>
					<tr>
						<td>Episiotomie</td>
						<td><input  ng-model="snis_report.accouche_interv_episiotomie" type="text"></td>
					</tr>
					<tr>
						<td>Manœuvre externe</td>
						<td><input  ng-model="snis_report.accouche_interv_monoeuvre_externe" type="text"></td>
					</tr>
					<tr>
						<td>Théobald</td>
						<td><input  ng-model="snis_report.accouche_interv_theobald" type="text"></td>
					</tr>
					<tr>
						<td>Autres interventions</td>
						<td><input  ng-model="snis_report.accouche_interv_autre_interv" type="text"></td>
					</tr>
					<tr>
						<td><em>Proportion accouchement dystociques = Nb Acc dystociques 100 / total accouchements</em></td>
						<td><input ng-model="snis_report.accouche_interv_dystociques" type="text"></td>
					</tr>
				</tbody>
			</table>

			<h3>5.4.5. Issue de la mère et soins</h3>
			<table>
				<thead>
					<tr>
						<td>&nbsp;</td>
						<td>Nombre</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Décès maternels</td>
						<td><input type="text" ng-model="snis_report.deces_maternels_issue_mere"></td>
					</tr>
					<tr>
						<td>--- Dont décès maternels audités</td>
						<td><input type="text" ng-model="snis_report.deces_maternels_audites_issue_mere"></td>
					</tr>
					<tr>
						<td>--- Dont décès après intervention obstétricale</td>
						<td><input type="text" ng-model="snis_report.deces_apres_interv_obs_issue_mere"></td>
					</tr>
					<tr>
						<td>Infection du post-partum</td>
						<td><input type="text" ng-model="snis_report.infect_post_partum_issue_mere"></td>
					</tr>
					<tr>
						<td>Mères ayant reçu Vit A</td>
						<td><input type="text" ng-model="snis_report.mere_vit_a_issue_mere"></td>
					</tr>
					<tr>
						<td>Mères ayant reçu le mésoprostol</td>
						<td><input type="text" ng-model="snis_report.mere_mesoprostol_issue_mere"></td>
					</tr>
					<tr>
						<td>Mères ayant reçu l’ocytocine</td>
						<td><input type="text" ng-model="snis_report.mere_ocytocine_issue_mere"></td>
					</tr>
					<tr>
						<td>Mères ayant reçu AZT/ 3TC/ NVP</td>
						<td><input type="text" ng-model="snis_report.mere_recu_azt_issue_mere"></td>
					</tr>
					<tr>
						<td>Mères ayant bénéficié de la GATPA</td>
						<td><input type="text" ng-model="snis_report.mere_gatpa_issue_mere"></td>
					</tr>
					<tr>
						<td>Accouchée/parturiente ayant reçu antibiot. en IV/IM</td>
						<td><input type="text" ng-model="snis_report.accou_antibiot_iv_im_issue_mere"></td>
					</tr>
					<tr>
						<td>Accouchée ayant reçu les anticonvuls ivants IV/IM</td>
						<td><input type="text" ng-model="snis_report.accou_anticonvuls_iv_im_issue_mere"></td>
					</tr>
					<tr>
						<td>Mères ayant reçu CTX</td>
						<td><input type="text" ng-model="snis_report.meres_recu_ctx_issue_mere"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-6">
			<h3>5.4.2. Accouchements</h3>
			<table class="cellmini">
				<thead>
					<tr>
						<td>&nbsp;</td>
						<td>ZS</td>
						<td>HZ</td>
						<td>Total</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Accouchements  eutociques</td>
						<td><input ng-model="snis_report.eutociques_zs_accouchement" type="text"></td>
						<td><input ng-model="snis_report.eutociques_hz_accouchement" type="text"></td>
						<td><input ng-model="snis_report.eutociques_total_accouchement" type="text"></td>
					</tr>
					<tr>
						<td>Accouchements  dystociques</td>
						<td><input ng-model="snis_report.dystociques_zs_accouchement" type="text"></td>
						<td><input ng-model="snis_report.dystociques_hz_accouchement" type="text"></td>
						<td><input ng-model="snis_report.dystociques_total_accouchement" type="text"></td>
					</tr>
					<tr>
						<td>Dont âgés  de  < 20 ans</td>
						<td><input ng-model="snis_report.inf_20_zs_accouchement" type="text"></td>
						<td><input ng-model="snis_report.inf_20_hz_accouchement" type="text"></td>
						<td><input ng-model="snis_report.inf_20_total_accouchement" type="text"></td>
					</tr>
					<tr>
						<td>Dont surveillés</td>
						<td><input ng-model="snis_report.dont_surveilles_zs_accouchement" type="text"></td>
						<td><input ng-model="snis_report.dont_surveilles_hz_accouchement"  type="text"></td>
						<td><input ng-model="snis_report.dont_surveilles_total_accouchement" type="text"></td>
					</tr>
					<tr>
						<td>Référé par CS</td>
						<td><input ng-model="snis_report.refere_cs_zs_accouchement" type="text"></td>
						<td><input ng-model="snis_report.refere_cs_hz_accouchement" type="text"></td>
						<td><input ng-model="snis_report.refere_cs_total_accouchement" type="text"></td>
					</tr>
					<tr>
						<td>Référé par CPN</td>
						<td><input ng-model="snis_report.refere_cpn_zs_accouchement" type="text"></td>
						<td><input ng-model="snis_report.refere_cpn_hz_accouchement" type="text"></td>
						<td><input ng-model="snis_report.refere_cpn_total_accouchement" type="text"></td>
					</tr>
				</tbody>
			</table>

			<h3>5.4.4. Complications chez la m&egrave;re</h3>
			<table>
				<thead>
					<tr>
						<td>&nbsp;</td>
						<td>Nombre</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Ruptures utérines</td>
						<td><input type="text" ng-model="snis_report.ruptures_uterines_complic_mere"></td>
					</tr>
					<tr>
						<td>Eclampsie</td>
						<td><input type="text" ng-model="snis_report.eclampsie_complic_mere"></td>
					</tr>
					<tr>
						<td>Hémorragie du post partum</td>
						<td><input type="text" ng-model="snis_report.hemorragie_post_partum_complic_mere"></td>
					</tr>
					<tr>
						<td>Dont celle ayant bénéficié de la transfusion sanguine</td>
						<td><input type="text" ng-model="snis_report.transf_sang_complic_mere"></td>
					</tr>
					<tr>
						<td>Déchirure du périnée</td>
						<td><input type="text" ng-model="snis_report.dechirure_perinee_complic_mere"></td>
					</tr>
					<tr>
						<td>Déchirure du col</td>
						<td><input type="text" ng-model="snis_report.dechirure_col_complic_mere"></td>
					</tr>
					<tr>
						<td>Autres</td>
						<td><input type="text" ng-model="snis_report.autres__complic_mere"></td>
					</tr>

				</tbody>
			</table>

			<h3>5.4.6. Issue de l’enfant</h3>
			<table>
				<thead>
					<tr>
						<td>&nbsp;</td>
						<td>Nombre</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Naissances vivantes</td>
						<td><input type="text" ng-model="snis_report.naissances_vivantes_issue_enfant"></td>
					</tr>
					<tr>
						<td>Nouveaux-nés à terme</td>
						<td><input type="text" ng-model="snis_report.nouveaux_nes_terme_issue_enfant"></td>
					</tr>
					<tr>
						<td>Nouveaux-nés à terme < 2 500 g</td>
						<td><input type="text" ng-model="snis_report.nouveaux_nes_terme_moins_2500_issue_enfant"></td>
					</tr>
					<tr>
						<td>Morts nés frais</td>
						<td><input type="text" ng-model="snis_report.morts_nes_frais_issue_enfant"></td>
					</tr>
					<tr>
						<td>Mort-nés macérés</td>
						<td><input type="text" ng-model="snis_report.morts_nes_maceres_issue_enfant"></td>
					</tr>
					<tr>
						<td>Dont asphyxié néonatale</td>
						<td><input type="text" ng-model="snis_report.morts_nes_asphyxie_neonat_issue_enfant"></td>
					</tr>
					<tr>
						<td>Nouveau-nés avec malformation congénitale visible</td>
						<td><input type="text" ng-model="snis_report.nouv_nes_malformatiom_cong_issue_enfant"></td>
					</tr>
					<tr>
						<td>Nouveaux-nés Prématurés</td>
						<td><input type="text" ng-model="snis_report.nouv_nes_prematures_issue_enfant"></td>
					</tr>
					<tr>
						<td>Dont conjonctivite</td>
						<td><input type="text" ng-model="snis_report.nouv_nes_prematures_conjonct_issue_enfant"></td>
					</tr>
					<tr>
						<td>Nouveaux nés  prématurés et de faibles poids de naissance s oignés selon la méthode du Kangourou</td>
						<td><input type="text"  ng-model="snis_report.prematures_faible_poids_kangourou_issue_enfant"></td>
					</tr>
					<tr>
						<td>Nouveaux-nés ayant bénéficiés des  soins essentiels</td>
						<td><input type="text" ng-model="snis_report.nouv_nes_soins_essentiels"></td>
					</tr>
					<tr>
						<td>Nouveaux-nés ayant reçus d’antibiotiques</td>
						<td><input type="text" ng-model="snis_report.nouv_nes_antibiotiques"></td>
					</tr>
					<tr>
						<td>Nouveaux-nés mis au sein dans l’heure qui suit l’accouchement</td>
						<td><input type="text" ng-model="snis_report.nouv_nes_mis_sein_heure_accouchement"></td>
					</tr>
					<tr>
						<td>Nouveaux nés  Ayant été réanimé</td>
						<td><input type="text" ng-model="snis_report.nouv_nes_reanime"></td>
					</tr>
					<tr>
						<td>Références  mère et bébé</td>
						<td><input type="text" ng-model="snis_report.nouv_nes_references_mere_bebe"></td>
					</tr>
					<tr>
						<td>Décès nouveau-nés ≤ 7 jours</td>
						<td><input type="text" ng-model="snis_report.nouv_nes_dcd_7jours"></td>
					</tr>
					<tr>
						<td>Décès nouveau-nés ≤ 28 jours</td>
						<td><input type="text" ng-model="snis_report.nouv_nes_dcd_28jours"></td>
					</tr>
					<tr>
						<td>Femmes  admises au village d’accueil</td>
						<td><input type="text" ng-model="snis_report.fem_admis_village_accueil"></td>
					</tr>
					<tr>
						<td>--- Morts nés parmi fe admises au village d’accueil</td>
						<td><input type="text" ng-model="snis_report.mort_nes_fem_admis_village_accueil"></td>
					</tr>
					<tr>
						<td>Naissances assistées</td>
						<td><input type="text" ng-model="snis_report.nais_assistees_village_accueil"></td>
					</tr>
					<tr>
						<td>Dont mort-nés</td>
						<td><input type="text" ng-model="snis_report.mort_nes_village_accueil"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<h3>5.5. Consultations post- natales (CPON)</h3>
	<div class="row">
		<div class="col-md-8"></div>
		<div class="col-md-4">
			<table>
				<tr><td><em>Nombre de séances</em></td><td><input type="text" ng-model="snis_report.nb_seances_cpon"></td></tr>
			</table>
		</div>
	</div>

	<table>
		<thead>
			<tr>
				<td>&nbsp;</td>
				<td>ZS</td>
				<td>HZ</td>
				<td>Total</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>CPoN1 (6e jr après accouchement)</td>
				<td><input ng-model="snis_report.cpon1_6j_accouch_zs" type="text"></td>
				<td><input ng-model="snis_report.cpon1_6j_accouch_hz"  type="text"></td>
				<td><input ng-model="snis_report.cpon1_6j_accouch_total"  type="text"></td>
			</tr>
			<tr>
				<td>Accouchées enregistrées à la CPON3 (42ème jour)</td>
				<td><input ng-model="snis_report.accouch_enreg_cpon3_42_zs" type="text"></td>
				<td><input ng-model="snis_report.accouch_enreg_cpon3_42_hz"  type="text"></td>
				<td><input ng-model="snis_report.accouch_enreg_cpon3_42_total"  type="text"></td>
			</tr>
			<tr>
				<td>Nb accouchées ayant reçu du Fer Folate</td>
				<td><input ng-model="snis_report.accouch_fer_folate_zs" type="text"></td>
				<td><input ng-model="snis_report.accouch_fer_folate_hz"  type="text"></td>
				<td><input ng-model="snis_report.accouch_fer_folate_total"  type="text"></td>
			</tr>
			<tr>
				<td>Nb accouchées ayant reçu de la vitamine A</td>
				<td><input ng-model="snis_report.accouch_vitamine_a_zs" type="text"></td>
				<td><input ng-model="snis_report.accouch_vitamine_a_hz"  type="text"></td>
				<td><input ng-model="snis_report.accouch_vitamine_a_total"  type="text"></td>
			</tr>
			<tr>
				<td>Nb femmes ayant présenté des complications après l’accouchement</td>
				<td><input ng-model="snis_report.fem_compl_accouchemet_zs" type="text"></td>
				<td><input ng-model="snis_report.fem_compl_accouchemet_hz"  type="text"></td>
				<td><input ng-model="snis_report.fem_compl_accouchemet_total"  type="text"></td>
			</tr>

		</tbody>
	</table>

	<h3>5.6. Planification familiale (PF)</h3>
	
	<h3>5.6.1. Utilisation des Services de Planification familiale (PF)</h3>
	<table>
		<thead>
			<tr>
				<td>&nbsp;</td>
				<td>ZS</td>
				<td>HZ</td>
				<td>Total</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Nouveaux cas (Nouvelle acceptante) des services PF</td>
				<td><input ng-model="snis_report.pf_nouv_cas_services_zs" type="text"></td>
				<td><input ng-model="snis_report.pf_nouv_cas_services_hz" type="text"></td>
				<td><input ng-model="snis_report.pf_nouv_cas_services_total" type="text"></td>
			</tr>
			<tr>
				<td>Dont Moins de 20 ans</td>
				<td><input ng-model="snis_report.pf_nouv_cas_moins_20_services_zs" type="text"></td>
				<td><input ng-model="snis_report.pf_nouv_cas_moins_20_services_hz" type="text"></td>
				<td><input ng-model="snis_report.pf_nouv_cas_moins_20_services_total" type="text"></td>
			</tr>
			<tr>
				<td>Ancien Cas (Renouvellement ou changement des methodes PF)</td>
				<td><input ng-model="snis_report.pf_ancien_cas_renouvellement_zs" type="text"></td>
				<td><input ng-model="snis_report.pf_ancien_cas_renouvellement_hz" type="text"></td>
				<td><input ng-model="snis_report.pf_ancien_cas_renouvellement_total" type="text"></td>
			</tr>
		</tbody>
	</table>

	<h3>5.6.2. Utilisation des Methodes de Planification familiale (PF)</h3>
	<table class="cellmini">
		<thead>
			<tr>
				<td>&nbsp;</td>
				<td>Nouvelles<br>acceptantes<br>ZS</td>
				<td>Nouvelles<br>acceptantes<br>HZ</td>
				<td>Renouvellement<br>année en cours</td>
				<td>Renouvellement<br>années anterieures</td>
				<td>Quantités utilisées</td>
				<td>J<sup>rs</sup> Rupture</td>
				<td>Quantités disponibles</td>
				<td>Facteur</td>
				<td>Année couple<br>protection</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Inj. Dépoprovera</td>
				<td><input type="text" ng-model="snis_report.inj_depoprovera_nouv_accept_zs"></td>
				<td><input type="text" ng-model="snis_report.inj_depoprovera_nouv_accept_hz"></td>
				<td><input type="text" ng-model="snis_report.inj_depoprovera_renouv_ann_encours"></td>
				<td><input type="text" ng-model="snis_report.inj_depoprovera_renouv_ann_anterieur"></td>
				<td><input type="text" ng-model="snis_report.inj_depoprovera_renouv_quantites_utilisees"></td>
				<td><input type="text" ng-model="snis_report.inj_depoprovera_jour_rupture"></td>
				<td><input type="text" ng-model="snis_report.inj_depoprovera_qnt_dispo"></td>
				<td><input type="text" ng-model="snis_report.inj_depoprovera_facteur" value="X 0.25"></td>
				<td><input type="text" ng-model="snis_report.inj_depoprovera_annee_couple_protect"></td>
			</tr>
			<tr>
				<td>Inj. Norestera</td>
				<td><input type="text" ng-model="snis_report.inj_norestera_nouv_accept_zs"></td>
				<td><input type="text" ng-model="snis_report.inj_norestera_nouv_accept_hz"></td>
				<td><input type="text" ng-model="snis_report.inj_norestera_renouv_ann_encours"></td>
				<td><input type="text" ng-model="snis_report.inj_norestera_renouv_ann_anterieur"></td>
				<td><input type="text" ng-model="snis_report.inj_norestera_renouv_quantites_utilisees"></td>
				<td><input type="text" ng-model="snis_report.inj_norestera_jour_rupture"></td>
				<td><input type="text" ng-model="snis_report.inj_norestera_qnt_dispo"></td>
				<td><input type="text" value="X 0.167"></td>
				<td><input type="text" ng-model="snis_report.inj_norestera_annee_couple_protect"></td>
			</tr>
			<tr>
				<td>Plaquette pilule</td>
				<td><input type="text" ng-model="snis_report.plaquette_pilule_nouv_accept_zs"></td>
				<td><input type="text" ng-model="snis_report.plaquette_pilule_nouv_accept_hz"></td>
				<td><input type="text" ng-model="snis_report.plaquette_pilule_renouv_ann_encours"></td>
				<td><input type="text" ng-model="snis_report.plaquette_pilule_renouv_ann_anterieur"></td>
				<td><input type="text" ng-model="snis_report.plaquette_pilule_renouv_quantites_utilisees"></td>
				<td><input type="text" ng-model="snis_report.plaquette_pilule_jour_rupture"></td>
				<td><input type="text" ng-model="snis_report.plaquette_pilule_qnt_dispo"></td>
				<td><input type="text" value="X 0.67"></td>
				<td><input type="text" ng-model="snis_report.plaquette_pilule_annee_couple_protect"></td>
			</tr>
			<tr>
				<td>Plaquette pilule combinée</td>
				<td><input type="text" ng-model="snis_report.plaquette_pilule_combinee_nouv_accept_zs"></td>
				<td><input type="text" ng-model="snis_report.plaquette_pilule_combinee_nouv_accept_hz"></td>
				<td><input type="text" ng-model="snis_report.plaquette_pilule_combinee_renouv_ann_encours"></td>
				<td><input type="text" ng-model="snis_report.plaquette_pilule_combinee_renouv_ann_anterieur"></td>
				<td><input type="text" ng-model="snis_report.plaquette_pilule_combinee_renouv_quantites_utilisees"></td>
				<td><input type="text" ng-model="snis_report.plaquette_pilule_combinee_jour_rupture"></td>
				<td><input type="text" ng-model="snis_report.plaquette_pilule_combinee_qnt_dispo"></td>
				<td><input type="text" value="X 0.67"></td>
				<td><input type="text" ng-model="snis_report.plaquette_pilule_combinne_annee_couple_protect"></td>
			</tr>
			<tr>
				<td>DIU placés</td>
				<td><input type="text" ng-model="snis_report.diu_places_nouv_accept_zs"></td>
				<td><input type="text" ng-model="snis_report.diu_places_nouv_accept_hz"></td>
				<td><input type="text" ng-model="snis_report.diu_places_renouv_ann_encours"></td>
				<td><input type="text" ng-model="snis_report.diu_places_renouv_ann_anterieur"></td>
				<td><input type="text" ng-model="snis_report.diu_places_renouv_quantites_utilisees"></td>
				<td><input type="text" ng-model="snis_report.diu_places_jour_rupture"></td>
				<td><input type="text" ng-model="snis_report.diu_places_qnt_dispo"></td>
				<td><input type="text" value="X 4.6"></td>
				<td><input type="text" ng-model="snis_report.diu_places_annee_couple_protect"></td>
			</tr>
			<tr>
				<td>Préservatif masculin</td>
				<td><input type="text" ng-model="snis_report.preservatif_masculin_nouv_accept_zs"></td>
				<td><input type="text" ng-model="snis_report.preservatif_masculin_nouv_accept_hz"></td>
				<td><input type="text" ng-model="snis_report.preservatif_masculin_renouv_ann_encours"></td>
				<td><input type="text" ng-model="snis_report.preservatif_masculin_renouv_ann_anterieur"></td>
				<td><input type="text" ng-model="snis_report.preservatif_masculin_renouv_quantites_utilisees"></td>
				<td><input type="text" ng-model="snis_report.preservatif_masculin_jour_rupture"></td>
				<td><input type="text" ng-model="snis_report.preservatif_masculin_qnt_dispo"></td>
				<td><input type="text" value="X 0.008"></td>
				<td><input type="text" ng-model="snis_report.preservatif_masculin_annee_couple_protect"></td>
			</tr>
			<tr>
				<td>Préservatif feminin</td>
				<td><input type="text" ng-model="snis_report.preservatif_feminin_nouv_accept_zs"></td>
				<td><input type="text" ng-model="snis_report.preservatif_feminin_nouv_accept_hz"></td>
				<td><input type="text" ng-model="snis_report.preservatif_feminin_renouv_ann_encours"></td>
				<td><input type="text" ng-model="snis_report.preservatif_feminin_renouv_ann_anterieur"></td>
				<td><input type="text" ng-model="snis_report.preservatif_feminin_renouv_quantites_utilisees"></td>
				<td><input type="text" ng-model="snis_report.preservatif_feminin_jour_rupture"></td>
				<td><input type="text" ng-model="snis_report.preservatif_feminin_qnt_dispo"></td>
				<td><input type="text" value="X 0.008"></td>
				<td><input type="text" ng-model="snis_report.preservatif_feminin_annee_couple_protect"></td>
			</tr>
			<tr>
				<td>Spermicide cés</td>
				<td><input type="text" ng-model="snis_report.spermicide_ces_nouv_accept_zs"></td>
				<td><input type="text" ng-model="snis_report.spermicide_ces_nouv_accept_hz"></td>
				<td><input type="text" ng-model="snis_report.spermicide_ces_renouv_ann_encours"></td>
				<td><input type="text" ng-model="snis_report.spermicide_ces_renouv_ann_anterieur"></td>
				<td><input type="text" ng-model="snis_report.spermicide_ces_renouv_quantites_utilisees"></td>
				<td><input type="text" ng-model="snis_report.spermicide_ces_jour_rupture"></td>
				<td><input type="text" ng-model="snis_report.spermicide_ces_qnt_dispo"></td>
				<td><input type="text" value="X 0.008"></td>
				<td><input type="text" ng-model="snis_report.spermicide_ces_annee_couple_protect"></td>
			</tr>
			<tr>
				<td>Spermicide bombe</td>
				<td><input type="text" ng-model="snis_report.spermicide_bombe_nouv_accept_zs"></td>
				<td><input type="text" ng-model="snis_report.spermicide_bombe_nouv_accept_hz"></td>
				<td><input type="text" ng-model="snis_report.spermicide_bombe_renouv_ann_encours"></td>
				<td><input type="text" ng-model="snis_report.spermicide_bombe_renouv_ann_anterieur"></td>
				<td><input type="text" ng-model="snis_report.spermicide_bombe_renouv_quantites_utilisees"></td>
				<td><input type="text" ng-model="snis_report.spermicide_bombe_jour_rupture"></td>
				<td><input type="text" ng-model="snis_report.spermicide_bombe_qnt_dispo"></td>
				<td><input type="text" value="X 0.2"></td>
				<td><input type="text" ng-model="snis_report.spermicide_bombe_annee_couple_protect"></td>
			</tr>
			<tr>
				<td>Implants</td>
				<td><input type="text" ng-model="snis_report.implants_nouv_accept_zs"></td>
				<td><input type="text" ng-model="snis_report.implants_nouv_accept_hz"></td>
				<td><input type="text" ng-model="snis_report.implants_renouv_ann_encours"></td>
				<td><input type="text" ng-model="snis_report.implants_renouv_ann_anterieur"></td>
				<td><input type="text" ng-model="snis_report.implants_renouv_quantites_utilisees"></td>
				<td><input type="text" ng-model="snis_report.implants_jour_rupture"></td>
				<td><input type="text" ng-model="snis_report.implants_qnt_dispo"></td>
				<td><input type="text" value="X 3.8"></td>
				<td><input type="text" ng-model="snis_report.implants_annee_couple_protect"></td>
			</tr>
			<tr>
				<td>Collier du cycle</td>
				<td><input type="text" ng-model="snis_report.collier_cycle_nouv_accept_zs"></td>
				<td><input type="text" ng-model="snis_report.collier_cycle_nouv_accept_hz"></td>
				<td><input type="text" ng-model="snis_report.collier_cycle_renouv_ann_encours"></td>
				<td><input type="text" ng-model="snis_report.collier_cycle_renouv_ann_anterieur"></td>
				<td><input type="text" ng-model="snis_report.collier_cycle_renouv_quantites_utilisees"></td>
				<td><input type="text" ng-model="snis_report.collier_cycle_jour_rupture"></td>
				<td><input type="text" ng-model="snis_report.collier_cycle_qnt_dispo"></td>
				<td><input type="text" value="X 2"></td>
				<td><input type="text" ng-model="snis_report.collier_cycle_annee_couple_protect"></td>
			</tr>
			<tr>
				<td>MAMA</td>
				<td><input type="text" ng-model="snis_report.mama_nouv_accept_zs"></td>
				<td><input type="text" ng-model="snis_report.mama_nouv_accept_hz"></td>
				<td><input type="text" ng-model="snis_report.mama_renouv_ann_encours"></td>
				<td><input type="text" ng-model="snis_report.mama_renouv_ann_anterieur"></td>
				<td><input type="text" ng-model="snis_report.mama_renouv_quantites_utilisees"></td>
				<td><input type="text" ng-model="snis_report.mama_jour_rupture"></td>
				<td><input type="text" ng-model="snis_report.mama_qnt_dispo"></td>
				<td><input type="text" value="X 2"></td>
				<td><input type="text" ng-model="snis_report.mama_annee_couple_protect"></td>
			</tr>
			<tr>
				<td>MAO confirmé</td>
				<td><input type="text" ng-model="snis_report.mao_confirme_nouv_accept_zs"></td>
				<td><input type="text" ng-model="snis_report.mao_confirme_nouv_accept_hz"></td>
				<td><input type="text" ng-model="snis_report.mao_confirme_renouv_ann_encours"></td>
				<td><input type="text" ng-model="snis_report.mao_confirme_renouv_ann_anterieur"></td>
				<td><input type="text" ng-model="snis_report.mao_confirme_renouv_quantites_utilisees"></td>
				<td><input type="text" ng-model="snis_report.mao_confirme_jour_rupture"></td>
				<td><input type="text" ng-model="snis_report.mao_confirme_qnt_dispo"></td>
				<td><input type="text" value="X 2"></td>
				<td><input type="text" ng-model="snis_report.mao_confirme_annee_couple_protect"></td>
			</tr>
			<tr>
				<td>Ligature tubaire</td>
				<td><input type="text" ng-model="snis_report.ligature_tubaire_nouv_accept_zs"></td>
				<td><input type="text" ng-model="snis_report.ligature_tubaire_nouv_accept_hz"></td>
				<td><input type="text" ng-model="snis_report.ligature_tubaire_renouv_ann_encours"></td>
				<td><input type="text" ng-model="snis_report.ligature_tubaire_renouv_ann_anterieur"></td>
				<td><input type="text" ng-model="snis_report.ligature_tubaire_renouv_quantites_utilisees"></td>
				<td><input type="text" ng-model="snis_report.ligature_tubaire_jour_rupture"></td>
				<td><input type="text" ng-model="snis_report.ligature_tubaire_qnt_dispo"></td>
				<td><input type="text" value="X 12.5"></td>
				<td><input type="text" ng-model="snis_report.ligature_tubaire_annee_couple_protect"></td>
			</tr>
			<tr>
				<td>Vasectomie</td>
				<td><input type="text" ng-model="snis_report.vasectomie_nouv_accept_zs"></td>
				<td><input type="text" ng-model="snis_report.vasectomie_nouv_accept_hz"></td>
				<td><input type="text" ng-model="snis_report.vasectomie_renouv_ann_encours"></td>
				<td><input type="text" ng-model="snis_report.vasectomie_renouv_ann_anterieur"></td>
				<td><input type="text" ng-model="snis_report.vasectomie_renouv_quantites_utilisees"></td>
				<td><input type="text" ng-model="snis_report.vasectomie_jour_rupture"></td>
				<td><input type="text" ng-model="snis_report.vasectomie_qnt_dispo"></td>
				<td><input type="text" value="X 12.55"></td>
				<td><input type="text" ng-model="snis_report.vasectomie_annee_couple_protect"></td>
			</tr>
			<tr>
				<td><strong>TOTAL</strong></td>
				<td><input type="text" ng-model="snis_report.total_nouv_accept_zs"></td>
				<td><input type="text" ng-model="snis_report.total_nouv_accept_hz"></td>
				<td><input type="text" ng-model="snis_report.total_renouv_ann_encours"></td>
				<td><input type="text" ng-model="snis_report.total_renouv_ann_anterieur"></td>
				<td><input type="text" ng-model="snis_report.total_renouv_quantites_utilisees"></td>
				<td><input type="text" ng-model="snis_report.total_jour_rupture"></td>
				<td><input type="text" ng-model="snis_report.total_qnt_dispo"></td>
				<td><input type="text"></td>
				<td><input type="text" ng-model="snis_report.total_annee_couple_protect"></td>
			</tr>
			
		</tbody>
	</table>
	</fieldset>
</div>