<div id="labo-imagerie" class="container">
	<h2>{{ "SNIS.STEP4" | translate }}</h2>
	<fieldset>
		<div class="row">
			<h3>4.1. Examens de Laboratoire</h3>
			<div class="col-md-6">
				<table>
					<thead>
						<tr class="age">
							<td>&nbsp;</td>
							<td colspan="2">Nombre</td>
						</tr>
						<tr>
							<td>&nbsp;</td>
							<td>Total</td>
							<td>Positif</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Chimie Urines</td>
							<td><input ng-model="snis_report.chimie_urines_total" type="text"></td>
							<td><input ng-model="snis_report.chimie_urines_positif" type="text"></td>
						</tr>
						<tr>
							<td>--- Dosage albumine</td>
							<td><input ng-model="snis_report.urines_dosage_albumine_total" type="text"></td>
							<td><input ng-model="snis_report.urines_dosage_albumine_positif" type="text"></td>
						</tr>
						<tr>
							<td>--- Sucre</td>
							<td><input ng-model="snis_report.urines_sucre_total" type="text"></td>
							<td><input ng-model="snis_report.urines_sucre_positif" type="text"></td>
						</tr>
						<tr>
							<td>Culot urinaire</td>
							<td><input ng-model="snis_report.culot_urinaire_total" type="text"></td>
							<td><input ng-model="snis_report.culot_urinaire_positif" type="text"></td>
						</tr>
						<tr>
							<td>--- Schisto-haem.</td>
							<td><input ng-model="snis_report.culot_urinaire_schisto_haem_total" type="text"></td>
							<td><input ng-model="snis_report.culot_urinaire_schisto_haem_positif" type="text"></td>
						</tr>
						<tr>
							<td>--- Trichomonas</td>
							<td><input ng-model="snis_report.culot_urinaire_trichomonas_total" type="text"></td>
							<td><input ng-model="snis_report.culot_urinaire_trichomonas_positif" type="text"></td>
						</tr>
						<tr>
							<td>--- Autres</td>
							<td><input ng-model="snis_report.culot_urinaire_autres_total" type="text"></td>
							<td><input ng-model="snis_report.culot_urinaire_autres_positif" type="text"></td>
						</tr>
						<tr>
							<td>Gouttes épaisses</td>
							<td><input ng-model="snis_report.gouttes_epaisses_total" type="text"></td>
							<td><input ng-model="snis_report.gouttes_epaisses_positif" type="text"></td>
						</tr>
						<tr>
							<td>--- Micro filaire</td>
							<td><input ng-model="snis_report.gouttes_epaisses_micro_filaire_total" type="text"></td>
							<td><input ng-model="snis_report.gouttes_epaisses_micro_filaire_positif" type="text"></td>
						</tr>
						<tr>
							<td>--- Plasmodium</td>
							<td><input ng-model="snis_report.gouttes_epaisses_plasmodium_total" type="text"></td>
							<td><input ng-model="snis_report.gouttes_epaisses_plasmodium_positif" type="text"></td>
						</tr>
						<tr>
							<td>--- Trypanosome</td>
							<td><input ng-model="snis_report.gouttes_epaisses_trypanosome_total" type="text"></td>
							<td><input ng-model="snis_report.gouttes_epaisses_trypanosome_positif" type="text"></td>
						</tr>
						<tr>
							<td>--- Autres</td>
							<td><input ng-model="snis_report.gouttes_epaisses_autres_total" type="text"></td>
							<td><input ng-model="snis_report.gouttes_epaisses_autres_positif" type="text"></td>
						</tr>
						<tr>
							<td>Goutte fraîche</td>
							<td><input ng-model="snis_report.gouttes_fraiches_total" type="text"></td>
							<td><input ng-model="snis_report.gouttes_fraiches_positif" type="text"></td>
						</tr>
						<tr>
							<td>Ponct. ganglionnaires</td>
							<td><input ng-model="snis_report.ponction_ganglionnaires_total" type="text"></td>
							<td><input ng-model="snis_report.ponction_ganglionnaires_positif" type="text"></td>
						</tr>
						<tr>
							<td>--- Trypanosomes</td>
							<td><input ng-model="snis_report.ponction_ganglionnaires_trypanosomes_total" type="text"></td>
							<td><input ng-model="snis_report.ponction_ganglionnaires_trypanosomes_positif" type="text"></td>
						</tr>
						<tr>
							<td>--- Autres</td>
							<td><input ng-model="snis_report.ponction_ganglionnaires_autres_total" type="text"></td>
							<td><input ng-model="snis_report.ponction_ganglionnaires_autres_positif" type="text"></td>
						</tr>
						<tr>
							<td>LCR</td>
							<td><input ng-model="snis_report.lcr_total" type="text"></td>
							<td><input ng-model="snis_report.lcr_positif" type="text"></td>
						</tr>
						<tr>
							<td>--- Biochimie</td>
							<td><input ng-model="snis_report.lcr_biochimie_total" type="text"></td>
							<td><input ng-model="snis_report.lcr_biochimie_positif" type="text"></td>
						</tr>
						<tr>
							<td>--- Cytologie</td>
							<td><input ng-model="snis_report.lcr_cytologie_total" type="text"></td>
							<td><input ng-model="snis_report.lcr_cytologie_positif" type="text"></td>
						</tr>
						<tr>
							<td>--- Bactériologie</td>
							<td><input ng-model="snis_report.lcr_bacteriologie_total" type="text"></td>
							<td><input ng-model="snis_report.lcr_bacteriologie_positif" type="text"></td>
						</tr>
						<tr>
							<td>Couples dépistés: drépanocytose</td>
							<td><input ng-model="snis_report.couple_derpanocytose_total" type="text"></td>
							<td><input ng-model="snis_report.couple_derpanocytose_positif" type="text"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-md-6">
				<table>
					<thead>
						<tr class="age">
							<td>&nbsp;</td>
							<td colspan="2">Nombre</td>
						</tr>
						<tr>
							<td>&nbsp;</td>
							<td>Total</td>
							<td>Positif</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Selles</td>
							<td><input ng-model="snis_report.selles_total" type="text"></td>
							<td><input ng-model="snis_report.selles_positif" type="text"></td>
						</tr>
						<tr>
							<td>--- Amibe</td>
							<td><input ng-model="snis_report.selles_amibe_total" type="text"></td>
							<td><input ng-model="snis_report.selles_amibe_positif" type="text"></td>
						</tr>
						<tr>
							<td>--- Ankylostome</td>
							<td><input ng-model="snis_report.selles_amkylostome_total" type="text"></td>
							<td><input ng-model="snis_report.selles_amkylostome_positif" type="text"></td>
						</tr>
						<tr>
							<td>--- Schisto-mansoni</td>
							<td><input ng-model="snis_report.selles_schisto_mansoni_total" type="text"></td>
							<td><input ng-model="snis_report.selles_schisto_mansoni_positif" type="text"></td>
						</tr>
						<tr>
							<td>--- Trichomonas</td>
							<td><input ng-model="snis_report.selles_trichonomas_total" type="text"></td>
							<td><input ng-model="snis_report.selles_trichonomas_positif" type="text"></td>
						</tr>
						<tr>
							<td>--- Ascaris</td>
							<td><input ng-model="snis_report.selles_ascaris_total" type="text"></td>
							<td><input ng-model="snis_report.selles_ascaris_positif" type="text"></td>
						</tr>
						<tr>
							<td>--- Oxyures</td>
							<td><input ng-model="snis_report.selles_oxyures_total" type="text"></td>
							<td><input ng-model="snis_report.selles_oxyures_positif" type="text"></td>
						</tr>
						<tr>
							<td>--- Autres</td>
							<td><input ng-model="snis_report.selles_autres_total" type="text"></td>
							<td><input ng-model="snis_report.selles_autres_positif" type="text"></td>
						</tr>
						<tr>
							<td>Hémoglobine</td>
							<td><input ng-model="snis_report.hemoglobine_total" type="text"></td>
							<td><input ng-model="snis_report.hemoglobine_positif" type="text"></td>
						</tr>
						<tr>
							<td>--- < 8gr %</td>
							<td><input ng-model="snis_report.hemoglobine_inf_8g_total" type="text"></td>
							<td><input ng-model="snis_report.hemoglobine_inf_8g_positif" type="text"></td>
						</tr>
						<tr>
							<td>Crachat Ziehl / BK Dépistage</td>
							<td><input ng-model="snis_report.crachat_ziehl_bk_depistage_total" type="text"></td>
							<td><input ng-model="snis_report.crachat_ziehl_bk_depistage_positif" type="text"></td>
						</tr>
						<tr>
							<td>--- Ziehl / BK Contrôle C2/C3</td>
							<td><input ng-model="snis_report.crachat_ziehl_bk_controle_c2c3_total" type="text"></td>
							<td><input ng-model="snis_report.crachat_ziehl_bk_controle_c2c3_positif" type="text"></td>
						</tr>
						<tr>
							<td>--- Ziehl / BK Contrôle C5</td>
							<td><input ng-model="snis_report.crachat_ziehl_bk_controle_c5_total" type="text"></td>
							<td><input ng-model="snis_report.crachat_ziehl_bk_controle_c5_positif" type="text"></td>
						</tr>
						<tr>
							<td>--- Ziehl / BK Contrôle C6/C7</td>
							<td><input ng-model="snis_report.crachat_ziehl_bk_controle_c6c7_total" type="text"></td>
							<td><input ng-model="snis_report.crachat_ziehl_bk_controle_c6c7_positif" type="text"></td>
						</tr>
						<tr>
							<td>VIH</td>
							<td><input ng-model="snis_report.vih_total" type="text"></td>
							<td><input ng-model="snis_report.vih_positif" type="text"></td>
						</tr>
						<tr>
							<td>Test rapide (Det., Unigld, Db chk)</td>
							<td><input ng-model="snis_report.test_rapide_dt_unigld_total" type="text"></td>
							<td><input ng-model="snis_report.test_rapide_dt_unigld_positif" type="text"></td>
						</tr>
						<tr>
							<td>Test lent(PCR,DNA,DBS)</td>
							<td><input ng-model="snis_report.test_lent_pcr_dna_total" type="text"></td>
							<td><input ng-model="snis_report.test_lent_pcr_dna_positif" type="text"></td>
						</tr>
						<tr>
							<td>Autres test drépanocytose</td>
							<td><input ng-model="snis_report.autres_test_drepanocutose_total" type="text"></td>
							<td><input ng-model="snis_report.autres_test_drepanocutose_positif" type="text"></td>
						</tr>
						<tr>
							<td>Culture</td>
							<td><input ng-model="snis_report.culture_total" type="text"></td>
							<td><input ng-model="snis_report.culture_positif" type="text"></td>
						</tr>
						<tr>
							<td>Antibiogramme</td>
							<td><input ng-model="snis_report.antibiogramme_total" type="text"></td>
							<td><input ng-model="snis_report.antibiogramme_positif" type="text"></td>
						</tr>
						<tr>
							<td>Ionogramme</td>
							<td><input ng-model="snis_report.ionogramme_total" type="text"></td>
							<td><input ng-model="snis_report.ionogramme_positif" type="text"></td>
						</tr>
						<tr>
							<td>WIDAL</td>
							<td><input ng-model="snis_report.widal_total" type="text"></td>
							<td><input ng-model="snis_report.widal_positif" type="text"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="row">
			<h3>4.2. Banque de sang</h3>
			<div class="col-md-8">
				<table class="cellmini">
					<thead>
						<tr class="age">
							<td>&nbsp;</td>
							<td colspan="2">Tests R&eacute;alis&eacute;s</td>
							<td colspan="2">Résultats positif</td>
						</tr>
						<tr>
							<td>&nbsp;</td>
							<td>Masculin</td>
							<td>Feminin</td>
							<td>Masculin</td>
							<td>Feminin</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Tests de Sang rapportés Donneurs Benevole (DB)</td>
							<td><input ng-model="snis_report.test_sang_don_ben_masc_test" type="text"></td>
							<td><input ng-model="snis_report.test_sang_don_ben_fem_test" type="text"></td>
							<td><input ng-model="snis_report.test_sang_don_ben_masc_posi" type="text"></td>
							<td><input ng-model="snis_report.test_sang_don_ben_fem_posi" type="text"></td>
						</tr>
						<tr>
							<td>Tests de Sang rapportés Donneurs Fidelisés (DF)</td>
							<td><input ng-model="snis_report.test_sang_donn_fidelises_masc_test" type="text"></td>
							<td><input ng-model="snis_report.test_sang_donn_fidelises_fem_test" type="text"></td>
							<td><input ng-model="snis_report.test_sang_donn_fidelises_masc_posi" type="text"></td>
							<td><input ng-model="snis_report.test_sang_donn_fidelises_fem_posi" type="text"></td>
						</tr>
						<tr>
							<td>Tests de Sang rapportés Donneurs Payants(DP)</td>
							<td><input ng-model="snis_report.test_sang_donn_payants_masc_test" type="text"></td>
							<td><input ng-model="snis_report.test_sang_donn_payants_fem_test" type="text"></td>
							<td><input ng-model="snis_report.test_sang_donn_payants_masc_posi" type="text"></td>
							<td><input ng-model="snis_report.test_sang_donn_payants_fem_posi" type="text"></td>
						</tr>
						<tr>
							<td>Testées HIV DF</td>
							<td><input ng-model="snis_report.test_hiv_df_masc_test" type="text"></td>
							<td><input ng-model="snis_report.test_hiv_df_fem_test" type="text"></td>
							<td><input ng-model="snis_report.test_hiv_df_masc_posi" type="text"></td>
							<td><input ng-model="snis_report.test_hiv_df_fem_posi" type="text"></td>
						</tr>
						<tr>
							<td>Testées HIV DB</td>
							<td><input ng-model="snis_report.test_hiv_db_masc_test" type="text"></td>
							<td><input ng-model="snis_report.test_hiv_db_fem_test" type="text"></td>
							<td><input ng-model="snis_report.test_hiv_db_masc_posi" type="text"></td>
							<td><input ng-model="snis_report.test_hiv_db_fem_posi" type="text"></td>
						</tr>
						<tr>
							<td>Testées HIV DP</td>
							<td><input ng-model="snis_report.test_hiv_dp_masc_test" type="text"></td>
							<td><input ng-model="snis_report.test_hiv_dp_fem_test" type="text"></td>
							<td><input ng-model="snis_report.test_hiv_dp_masc_posi" type="text"></td>
							<td><input ng-model="snis_report.test_hiv_dp_fem_posi" type="text"></td>
						</tr>
						<tr>
							<td>Testées Hep B DB</td>
							<td><input ng-model="snis_report.test_hep_b_db_masc_test" type="text"></td>
							<td><input ng-model="snis_report.test_hep_b_db_fem_test" type="text"></td>
							<td><input ng-model="snis_report.test_hep_b_db_masc_posi" type="text"></td>
							<td><input ng-model="snis_report.test_hep_b_db_fem_posi" type="text"></td>
						</tr>
						<tr>
							<td>Testées Hep B DF</td>
							<td><input ng-model="snis_report.test_hep_b_df_masc_test" type="text"></td>
							<td><input ng-model="snis_report.test_hep_b_df_fem_test" type="text"></td>
							<td><input ng-model="snis_report.test_hep_b_df_masc_posi" type="text"></td>
							<td><input ng-model="snis_report.test_hep_b_df_fem_posi" type="text"></td>
						</tr>
						<tr>
							<td>Testées Hep B DP</td>
							<td><input ng-model="snis_report.test_hep_b_dp_masc_test" type="text"></td>
							<td><input ng-model="snis_report.test_hep_b_dp_fem_test" type="text"></td>
							<td><input ng-model="snis_report.test_hep_b_dp_masc_posi" type="text"></td>
							<td><input ng-model="snis_report.test_hep_b_dp_fem_posi" type="text"></td>
						</tr>
						<tr>
							<td>Testées Hep C DB</td>
							<td><input ng-model="snis_report.test_hep_c_db_masc_test" type="text"></td>
							<td><input ng-model="snis_report.test_hep_c_db_fem_test" type="text"></td>
							<td><input ng-model="snis_report.test_hep_c_db_masc_posi" type="text"></td>
							<td><input ng-model="snis_report.test_hep_c_db_fem_posi" type="text"></td>
						</tr>
						<tr>
							<td>Testées Hep C DF</td>
							<td><input ng-model="snis_report.test_hep_c_df_masc_test" type="text"></td>
							<td><input ng-model="snis_report.test_hep_c_df_fem_test" type="text"></td>
							<td><input ng-model="snis_report.test_hep_c_df_masc_posi" type="text"></td>
							<td><input ng-model="snis_report.test_hep_c_df_fem_posi" type="text"></td>
						</tr>
						<tr>
							<td>Testées Hep C DP</td>
							<td><input ng-model="snis_report.test_hep_c_dp_masc_test" type="text"></td>
							<td><input ng-model="snis_report.test_hep_c_dp_fem_test" type="text"></td>
							<td><input ng-model="snis_report.test_hep_c_dp_masc_posi" type="text"></td>
							<td><input ng-model="snis_report.test_hep_c_dp_fem_posi" type="text"></td>
						</tr>
						<tr>
							<td>Testées RPR DB</td>
							<td><input ng-model="snis_report.test_rpr_db_masc_test" type="text"></td>
							<td><input ng-model="snis_report.test_rpr_db_fem_test" type="text"></td>
							<td><input ng-model="snis_report.test_rpr_db_masc_posi" type="text"></td>
							<td><input ng-model="snis_report.test_rpr_db_fem_posi" type="text"></td>
						</tr>
						<tr>
							<td>Testées RPR DF</td>
							<td><input ng-model="snis_report.test_rpr_df_masc_test" type="text"></td>
							<td><input ng-model="snis_report.test_rpr_df_fem_test" type="text"></td>
							<td><input ng-model="snis_report.test_rpr_df_masc_posi" type="text"></td>
							<td><input ng-model="snis_report.test_rpr_df_fem_posi" type="text"></td>
						</tr>
						<tr>
							<td>Testées RPR DP</td>
							<td><input ng-model="snis_report.test_rpr_dp_masc_test" type="text"></td>
							<td><input ng-model="snis_report.test_rpr_dp_fem_test" type="text"></td>
							<td><input ng-model="snis_report.test_rpr_dp_masc_posi" type="text"></td>
							<td><input ng-model="snis_report.test_rpr_dp_fem_posi" type="text"></td>
						</tr>
						<tr>
							<td>Transfusions sanguines testées aux 4 marqueurs</td>
							<td><input ng-model="snis_report.transfusion_sang_test_marquer_masc_test" type="text"></td>
							<td><input ng-model="snis_report.transfusion_sang_test_marquer_fem_test" type="text"></td>
							<td><input ng-model="snis_report.transfusion_sang_test_marquer_masc_posi" type="text"></td>
							<td><input ng-model="snis_report.transfusion_sang_test_marquer_fem_posi" type="text"></td>
						</tr>
						<tr>
							<td>Transfusions sanguines non-testées</td>
							<td><input ng-model="snis_report.transfusion_sang_non_test_masc_test" type="text"></td>
							<td><input ng-model="snis_report.transfusion_sang_non_test_fem_test" type="text"></td>
							<td><input ng-model="snis_report.transfusion_sang_non_test_masc_posi" type="text"></td>
							<td><input ng-model="snis_report.transfusion_sang_non_test_fem_posi" type="text"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-md-4">
				<table class="separate-row cellmini">
					<tr>
						<td><em>Proportion de sang VIH+ = tot poche VIH+ ´100 / tot poche test VIH</em></td>
						<td><input ng-model="snis_report.propor_sang_vih_pos" type="text"></td>
					</tr>
					<tr>
						<td><em>Proportion de sang HepB+ = tot poche Hep B+ ´100 / tot poche test Hep B</em></td>
						<td><input ng-model="snis_report.propor_sang_hep_b" type="text"></td>
					</tr>
					<tr>
						<td><em>Proportion de sang Hep C+ = tot poche Hep C+ ´100 / tot poche test Hep C</em></td>
						<td><input ng-model="snis_report.propor_sang_hep_c" type="text"></td>
					</tr><tr>
						<td><em>Proportion de sang RPR+ = tot poche RPR+ ´100 / tot poche test RPR</em></td>
						<td><input ng-model="snis_report.propor_sang_rpr_pos" type="text"></td>
					</tr>
				</table>
			</div>
		</div>

		<div class="row">
			<h3>4.2. Banque de sang (suite)</h3>
			<table class="cellmini-6em">
				<thead>
					<tr class="age">
						<td>&nbsp;</td>
						<td colspan="2">Pédiatrie</td>
						<td colspan="2">Médecine interne</td>
						<td colspan="2">Gynéco-obstétrique</td>
						<td colspan="2">Chirurgie</td>
						<td colspan="2">Réanimation urgence</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>Masculin</td>
						<td>Feminin</td>
						<td>Masculin</td>
						<td>Feminin</td>
						<td>Masculin</td>
						<td>Feminin</td>
						<td>Masculin</td>
						<td>Feminin</td>
						<td>Masculin</td>
						<td>Feminin</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Nature Transfusion Sang total</td>
						<td><input ng-model="snis_report.sang_total_ped_masc" type="text"></td>
						<td><input ng-model="snis_report.sang_total_ped_fem" type="text"></td>
						<td><input ng-model="snis_report.sang_total_med_int_masc" type="text"></td>
						<td><input ng-model="snis_report.sang_total_med_int_fem" type="text"></td>
						<td><input ng-model="snis_report.sang_total_gyn_obs_masc" type="text"></td>
						<td><input ng-model="snis_report.sang_total_gyn_obs_fem" type="text"></td>
						<td><input ng-model="snis_report.sang_total_chirg_masc" type="text"></td>
						<td><input ng-model="snis_report.sang_total_chirg_fem" type="text"></td>
						<td><input ng-model="snis_report.sang_total_rean_urg_masc" type="text"></td>
						<td><input ng-model="snis_report.sang_total_rean_urg_fem" type="text"></td>
					</tr>
					<tr>
						<td>Nature Transfusion Concentré globulaire</td>
						<td><input ng-model="snis_report.concentre_globulaire_ped_masc" type="text"></td>
						<td><input ng-model="snis_report.concentre_globulaire_ped_fem" type="text"></td>
						<td><input ng-model="snis_report.concentre_globulaire_med_int_masc" type="text"></td>
						<td><input ng-model="snis_report.concentre_globulaire_med_int_fem" type="text"></td>
						<td><input ng-model="snis_report.concentre_globulaire_gyn_obs_masc" type="text"></td>
						<td><input ng-model="snis_report.concentre_globulaire_gyn_obs_fem" type="text"></td>
						<td><input ng-model="snis_report.concentre_globulaire_chirg_masc" type="text"></td>
						<td><input ng-model="snis_report.concentre_globulaire_chirg_fem" type="text"></td>
						<td><input ng-model="snis_report.concentre_globulaire_rean_urg_masc" type="text"></td>
						<td><input ng-model="snis_report.concentre_globulaire_rean_urg_fem" type="text"></td>
					</tr>
					<tr>
						<td>Nature Transfusion Plasma frais congelé</td>
						<td><input ng-model="snis_report.plasma_frais_congele_ped_masc" type="text"></td>
						<td><input ng-model="snis_report.plasma_frais_congele_ped_fem" type="text"></td>
						<td><input ng-model="snis_report.plasma_frais_congele_med_int_masc" type="text"></td>
						<td><input ng-model="snis_report.plasma_frais_congele_med_int_fem" type="text"></td>
						<td><input ng-model="snis_report.plasma_frais_congele_gyn_obs_masc" type="text"></td>
						<td><input ng-model="snis_report.plasma_frais_congele_gyn_obs_fem" type="text"></td>
						<td><input ng-model="snis_report.plasma_frais_congele_chirg_masc" type="text"></td>
						<td><input ng-model="snis_report.plasma_frais_congele_chirg_fem" type="text"></td>
						<td><input ng-model="snis_report.plasma_frais_congele_rean_urg_masc" type="text"></td>
						<td><input ng-model="snis_report.plasma_frais_congele_rean_urg_fem" type="text"></td>
					</tr>
					<tr>
						<td>Nature Transfusion Plaquettes</td>
						<td><input ng-model="snis_report.nature_tranf_plaquette_ped_masc" type="text"></td>
						<td><input ng-model="snis_report.nature_tranf_plaquette_ped_fem" type="text"></td>
						<td><input ng-model="snis_report.nature_tranf_plaquette_med_int_masc" type="text"></td>
						<td><input ng-model="snis_report.nature_tranf_plaquette_med_int_fem" type="text"></td>
						<td><input ng-model="snis_report.nature_tranf_plaquette_gyn_obs_masc" type="text"></td>
						<td><input ng-model="snis_report.nature_tranf_plaquette_gyn_obs_fem" type="text"></td>
						<td><input ng-model="snis_report.nature_tranf_plaquette_chirg_masc" type="text"></td>
						<td><input ng-model="snis_report.nature_tranf_plaquette_chirg_fem" type="text"></td>
						<td><input ng-model="snis_report.nature_tranf_plaquette_rean_urg_masc" type="text"></td>
						<td><input ng-model="snis_report.nature_tranf_plaquette_rean_urg_fem" type="text"></td>
					</tr>
					<tr>
						<td>Nombre d’anémie</td>
						<td><input ng-model="snis_report.nombre_anemie_ped_masc" type="text"></td>
						<td><input ng-model="snis_report.nombre_anemie_ped_fem" type="text"></td>
						<td><input ng-model="snis_report.nombre_anemie_med_int_masc" type="text"></td>
						<td><input ng-model="snis_report.nombre_anemie_med_int_fem" type="text"></td>
						<td><input ng-model="snis_report.nombre_anemie_gyn_obs_masc" type="text"></td>
						<td><input ng-model="snis_report.nombre_anemie_gyn_obs_fem" type="text"></td>
						<td><input ng-model="snis_report.nombre_anemie_chirg_masc" type="text"></td>
						<td><input ng-model="snis_report.nombre_anemie_chirg_fem" type="text"></td>
						<td><input ng-model="snis_report.nombre_anemie_rean_urg_masc" type="text"></td>
						<td><input ng-model="snis_report.nombre_anemie_rean_urg_fem" type="text"></td>
					</tr>
					<tr>
						<td>Nombre professionnels de santé victimes d'Accident d'Exposition au Sang(AES)</td>
						<td><input ng-model="snis_report.proflle_vict_acc_expo_sang_ped_masc" type="text"></td>
						<td><input ng-model="snis_report.proflle_vict_acc_expo_sang_ped_fem" type="text"></td>
						<td><input ng-model="snis_report.proflle_vict_acc_expo_sang_med_int_masc" type="text"></td>
						<td><input ng-model="snis_report.proflle_vict_acc_expo_sang_med_int_fem" type="text"></td>
						<td><input ng-model="snis_report.proflle_vict_acc_expo_sang_gyn_obs_masc" type="text"></td>
						<td><input ng-model="snis_report.proflle_vict_acc_expo_sang_gyn_obs_fem" type="text"></td>
						<td><input ng-model="snis_report.proflle_vict_acc_expo_sang_chirg_masc" type="text"></td>
						<td><input ng-model="snis_report.proflle_vict_acc_expo_sang_chirg_fem" type="text"></td>
						<td><input ng-model="snis_report.proflle_vict_acc_expo_sang_rean_urg_masc" type="text"></td>
						<td><input ng-model="snis_report.proflle_vict_acc_expo_sang_rean_urg_fem" type="text"></td>
					</tr>
				</tbody>
			</table>

			<h3>4.3. Imagerie médicale</h3>
			<table>
				<thead>
					<tr>
						<td>&nbsp;</td>
						<td>Examens demandés</td>
						<td>Examens réalisés</td>
						<td>Jours non-disponibles</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>RX Poumon</td>
						<td><input ng-model="snis_report.rx_poumon_exa_demand" type="text"></td>
						<td><input ng-model="snis_report.rx_poumon_exa_realise" type="text"></td>
						<td><input ng-model="snis_report.rx_poumon_exa_non_dispo" type="text"></td>
					</tr>
					<tr>
						<td>RX Os</td>
						<td><input ng-model="snis_report.rx_os_exa_demand" type="text"></td>
						<td><input ng-model="snis_report.rx_os_exa_realise" type="text"></td>
						<td><input ng-model="snis_report.rx_os_exa_non_dispo" type="text"></td>
					</tr>
					<tr>
						<td>RX Abdomen à blanc</td>
						<td><input ng-model="snis_report.rx_abdomen_blanc_exa_demand" type="text"></td>
						<td><input ng-model="snis_report.rx_abdomen_blanc_exa_realise" type="text"></td>
						<td><input ng-model="snis_report.rx_abdomen_blanc_exa_non_dispo" type="text"></td>
					</tr>
					<tr>
						<td>RX du tube digestif avec prod. de contraste</td>
						<td><input ng-model="snis_report.rx_tube_digest_prod_contra_exa_demand" type="text"></td>
						<td><input ng-model="snis_report.rx_tube_digest_prod_contra_exa_realise" type="text"></td>
						<td><input ng-model="snis_report.rx_tube_digest_prod_contra_exa_non_dispo" type="text"></td>
					</tr>
					<tr>
						<td>Autre RX</td>
						<td><input ng-model="snis_report.autre_rx_exa_demand" type="text"></td>
						<td><input ng-model="snis_report.autre_rx_exa_realise" type="text"></td>
						<td><input ng-model="snis_report.autre_rx_exa_non_dispo" type="text"></td>
					</tr>
					<tr>
						<td>Scanner</td>
						<td><input ng-model="snis_report.scanner_exa_demand" type="text"></td>
						<td><input ng-model="snis_report.scanner_exa_realise" type="text"></td>
						<td><input ng-model="snis_report.scanner_exa_non_dispo" type="text"></td>
					</tr>
					<tr>
						<td>Echographie</td>
						<td><input ng-model="snis_report.echographie_exa_demand" type="text"></td>
						<td><input ng-model="snis_report.echographie_exa_realise" type="text"></td>
						<td><input ng-model="snis_report.echographie_exa_non_dispo" type="text"></td>
					</tr>
					<tr>
						<td>ECG</td>
						<td><input ng-model="snis_report.ecg_exa_demand" type="text"></td>
						<td><input ng-model="snis_report.ecg_exa_realise" type="text"></td>
						<td><input ng-model="snis_report.ecg_exa_non_dispo" type="text"></td>
					</tr>
					<tr>
						<td>EEG</td>
						<td><input ng-model="snis_report.eeg_exa_demand" type="text"></td>
						<td><input ng-model="snis_report.eeg_exa_realise" type="text"></td>
						<td><input ng-model="snis_report.eeg_exa_non_dispo" type="text"></td>
					</tr>
					<tr>
						<td>Gastroscopie</td>
						<td><input ng-model="snis_report.gastroscopie_exa_demand" type="text"></td>
						<td><input ng-model="snis_report.gastroscopie_exa_realise" type="text"></td>
						<td><input ng-model="snis_report.gastroscopie_exa_non_dispo" type="text"></td>
					</tr>
					<tr>
						<td>Autres examens d'imagerie médicale</td>
						<td><input ng-model="snis_report.autres_examens_im_exa_demand" type="text"></td>
						<td><input ng-model="snis_report.autres_examens_im_exa_realise" type="text"></td>
						<td><input ng-model="snis_report.autres_examens_im_exa_non_dispo" type="text"></td>
					</tr>
				</tbody>
			</table>

			<h3>4.4. Kinésithérapie et réadaptation</h3>
			<table>
				<thead>
					<tr>
						<td>&nbsp;</td>
						<td>Interne</td>
						<td>Externe</td>
						<td>Total</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Nouveaux  patients</td>
						<td><input ng-model="snis_report.kin_nouveau_patient_interne" type="text"></td>
						<td><input ng-model="snis_report.kin_nouveau_patient_externe"  type="text"></td>
						<td><input ng-model="snis_report.kin_nouveau_patient_total"  type="text"></td>
					</tr>
					<tr>
						<td>Anciens  patients</td>
						<td><input ng-model="snis_report.kin_ancien_patient_interne" type="text"></td>
						<td><input ng-model="snis_report.kin_ancien_patient_externe"  type="text"></td>
						<td><input ng-model="snis_report.kin_ancien_patient_total"  type="text"></td>
					</tr>
					<tr>
						<td>Total patients</td>
						<td><input ng-model="snis_report.kin_total_patient_interne" type="text"></td>
						<td><input ng-model="snis_report.kin_total_patient_externe"  type="text"></td>
						<td><input ng-model="snis_report.kin_total_patient_total"  type="text"></td>
					</tr>
					<tr>
						<td>--- Dont cas de neurologie</td>
						<td><input ng-model="snis_report.kine_cas_neurologie_interne" type="text"></td>
						<td><input ng-model="snis_report.kine_cas_neurologie_externe"  type="text"></td>
						<td><input ng-model="snis_report.kine_cas_neurologie_total"  type="text"></td>
					</tr>
					<tr>
						<td>--- Dont cas d’orthopédie</td>
						<td><input ng-model="snis_report.kine_cas_orthop_interne" type="text"></td>
						<td><input ng-model="snis_report.kine_cas_orthop_externe"  type="text"></td>
						<td><input ng-model="snis_report.kine_cas_orthop_total"  type="text"></td>
					</tr>
					<tr>
						<td>--- Dont cas de traumatologie</td>
						<td><input ng-model="snis_report.kine_cas_trauma_interne" type="text"></td>
						<td><input ng-model="snis_report.kine_cas_trauma_externe"  type="text"></td>
						<td><input ng-model="snis_report.kine_cas_trauma_total"  type="text"></td>
					</tr>
					<tr>
						<td>--- Dont cas infectieux</td>
						<td><input ng-model="snis_report.kine_cas_infectuex_interne" type="text"></td>
						<td><input ng-model="snis_report.kine_cas_infectuex_externe"  type="text"></td>
						<td><input ng-model="snis_report.kine_cas_infectuex_total"  type="text"></td>
					</tr>
					<tr>
						<td>Actes de kinésithérapie</td>
						<td><input ng-model="snis_report.kine_actes_interne" type="text"></td>
						<td><input ng-model="snis_report.kine_actes_externe"  type="text"></td>
						<td><input ng-model="snis_report.kine_actes_total"  type="text"></td>
					</tr>
					<tr>
						<td>--- Nb Massage</td>
						<td><input ng-model="snis_report.kine_massage_interne" type="text"></td>
						<td><input ng-model="snis_report.kine_massage_externe"  type="text"></td>
						<td><input ng-model="snis_report.kine_massage_total"  type="text"></td>
					</tr>
					<tr>
						<td>--- Nb Mobilisation passive ou active</td>
						<td><input ng-model="snis_report.kine_mobilisation_act_pas_interne" type="text"></td>
						<td><input ng-model="snis_report.kine_mobilisation_act_pas_externe"  type="text"></td>
						<td><input ng-model="snis_report.kine_mobilisation_act_pas_total"  type="text"></td>
					</tr>
					<tr>
						<td>--- Nb Mécanothérapie</td>
						<td><input ng-model="snis_report.kine_mecano_therapie_interne" type="text"></td>
						<td><input ng-model="snis_report.kine_mecano_therapie_externe"  type="text"></td>
						<td><input ng-model="snis_report.kine_mecano_therapie_total"  type="text"></td>
					</tr>
					<tr>
						<td>--- Nb Plâtre de correction</td>
						<td><input ng-model="snis_report.kine_platre_correction_interne" type="text"></td>
						<td><input ng-model="snis_report.kine_platre_correction_externe"  type="text"></td>
						<td><input ng-model="snis_report.kine_platre_correction_total"  type="text"></td>
					</tr>
					<tr>
						<td>--- Nb Verticalisation</td>
						<td><input ng-model="snis_report.kine_nombre_verticalisation_interne" type="text"></td>
						<td><input ng-model="snis_report.kine_nombre_verticalisation_externe"  type="text"></td>
						<td><input ng-model="snis_report.kine_nombre_verticalisation_total"  type="text"></td>
					</tr>
					<tr>
						<td>--- Nb Rééducation à la marche</td>
						<td><input ng-model="snis_report.kine_reeducation_marhce_interne" type="text"></td>
						<td><input ng-model="snis_report.kine_reeducation_marhce_externe"  type="text"></td>
						<td><input ng-model="snis_report.kine_reeducation_marhce_total"  type="text"></td>
					</tr>
					<tr>
						<td>--- Nb Rééducation psycho motrice</td>
						<td><input ng-model="snis_report.kine_reeducation_psycho_motrice_interne" type="text"></td>
						<td><input ng-model="snis_report.kine_reeducation_psycho_motrice_externe"  type="text"></td>
						<td><input ng-model="snis_report.kine_reeducation_psycho_motrice_total"  type="text"></td>
					</tr>
					<tr>
						<td>--- Nb Kinésithérapie respiratoire</td>
						<td><input ng-model="snis_report.kine_respiratoire_interne" type="text"></td>
						<td><input ng-model="snis_report.kine_respiratoire_externe"  type="text"></td>
						<td><input ng-model="snis_report.kine_respiratoire_total"  type="text"></td>
					</tr>
					<tr>
						<td>--- Nb Thermothérapie</td>
						<td><input ng-model="snis_report.kine_thermotherapie_interne" type="text"></td>
						<td><input ng-model="snis_report.kine_thermotherapie_externe"  type="text"></td>
						<td><input ng-model="snis_report.kine_thermotherapie_total"  type="text"></td>
					</tr>
					<tr>
						<td>--- Nb Cryothérapie</td>
						<td><input ng-model="snis_report.kine_cryotherapie_interne" type="text"></td>
						<td><input ng-model="snis_report.kine_cryotherapie_externe"  type="text"></td>
						<td><input ng-model="snis_report.kine_cryotherapie_total"  type="text"></td>
					</tr>
					<tr>
						<td>--- Nb Electrothérapie antalgique (TENS)</td>
						<td><input ng-model="snis_report.kine_electro_antalgique_interne" type="text"></td>
						<td><input ng-model="snis_report.kine_electro_antalgique_externe"  type="text"></td>
						<td><input ng-model="snis_report.kine_electro_antalgique_total"  type="text"></td>
					</tr>
					<tr>
						<td>--- Nb Electrothérapie stimulatrice</td>
						<td><input ng-model="snis_report.kine_electro_stimulatrice_interne" type="text"></td>
						<td><input ng-model="snis_report.kine_electro_stimulatrice_externe"  type="text"></td>
						<td><input ng-model="snis_report.kine_electro_stimulatrice_total"  type="text"></td>
					</tr>
					<tr>
						<td>--- Nb Electrothérapie ultrasons</td>
						<td><input ng-model="snis_report.kine_electro_ultrasons_interne" type="text"></td>
						<td><input ng-model="snis_report.kine_electro_ultrasons_externe"  type="text"></td>
						<td><input ng-model="snis_report.kine_electro_ultrasons_total"  type="text"></td>
					</tr>
					<tr>
						<td>--- Nb Autres</td>
						<td><input ng-model="snis_report.kine_autres_interne" type="text"></td>
						<td><input ng-model="snis_report.kine_autres_externe"  type="text"></td>
						<td><input ng-model="snis_report.kine_autres_total"  type="text"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</fieldset>
</div>