<div class="row">
	<div id="identification" class="container">
		<h2>{{ "SNIS.STEP1" | translate }}</h2>
			
				<div class="row">
					<fieldset>
						<legend></legend>
						<div class="col-md-6">

							<div class="form-group">
								<div class="input-group">
									<label class="input-group-addon">Mois </label>
									<input class="form-control"  type="month" ng-model="identif.mois" placeholder="Entre le mois..." ng-change="getPeriod(identif.mois)">
								</div>
							</div>

							<div class="form-group">
								<div class="input-group">
									<label class="input-group-addon">Zone de sante </label>
									<input class="form-control"  type="text" ng-model="identif.zone" placeholder="Zone de santé" disabled="true">
								</div>
							</div>

							<div class="form-group">
								<div class="input-group">
									<label class="input-group-addon">Province </label>
									<input class="form-control"  type="text" ng-model="identif.province" disabled="true">
								</div>
							</div>

							<div class="form-group">
								<div class="input-group">
									<label class="input-group-addon">Territoire </label>
									<input class="form-control"  type="text" ng-model="identif.territoire" disabled="true">
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<div class="input-group">
									<label class="input-group-addon">Hopital </label>
									<input class="form-control"  type="text" ng-model="identif.hopital">
								</div>
							</div>

							<div class="form-group">
								<label>Adresse </label>
								<textarea class="form-control"  ng-model="identif.adresse" cols="50" rows="3"></textarea>
							</div>

							<div class="form-group">
								<label>Informations importantes</label>
								<textarea class="form-control"  ng-model="identif.info" cols="50" rows="4"></textarea>
							</div>
						</div>
					</fieldset>
				</div>
				<div class="row">
					<fieldset>
						<legend></legend>
						<div class="col-md-6">
							<div class="form-group">
								<div class="input-group">
									<label class="input-group-addon">Medecin Dir. </label>
									<input class="form-control" type="text" ng-model="identif.medecin_dir" typeahead="employe as employe.name for employe in employes.data | filter:$viewValue | limitTo:8" typeahead-on-select="getMedecinDir(identif.medecin_dir)">
								</div>
							</div>

							<div class="form-group">
								<div class="input-group">
									<label class="input-group-addon">Qualification </label>
									<input class="form-control" type="text" ng-model="identif.qualification">
								</div>
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<div class="input-group">
									<label class="input-group-addon">Date d'envoi </label>
									<input class="form-control" type="date" placeholder="jj-mm-aaaa" ng-model="identif.date_envoi">
								</div>
							</div>

							<div class="form-group">
								<div class="input-group">
									<label class="input-group-addon">Signature </label>
									<input class="form-control" type="text" ng-model="identif.nom_envoi" typeahead="employe as employe.name for employe in employes.data | filter:$viewValue | limitTo:8" typeahead-on-select="identif.nom_envoi_selected(identif.nom_envoi)">
								</div>
							</div>
						</div>
					</fieldset>
					<fieldset>
						<legend></legend>
						<div class="col-md-6">
							<div class="form-group">
								<div class="input-group">
									<label class="input-group-addon">Date réception </label>
									<input class="form-control" type="date" placeholder="jj/mm/aaaa" ng-model="identif.date_reception">
								</div>
							</div>

							<div class="form-group">
								<div class="input-group">
									<label class="input-group-addon">Nom et signature </label>
									<input class="form-control" type="text" ng-model="identif.nom_reception" typeahead="employe as employe.name for employe in employes.data | filter:$viewValue | limitTo:8" typeahead-on-select="identif.nom_reception_selected(identif.nom_reception)">
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<div class="input-group">
									<label class="input-group-addon">Date encodage </label>
									<input class="form-control" type="date" placeholder="jj/mm/aaaa" ng-model="identif.date_encodage">
								</div>
							</div>

							<div class="form-group">
								<div class="input-group">
									<label class="input-group-addon">Nom et signature </label>
									<input class="form-control" type="text" ng-model="identif.nom_encodage" typeahead="employe as employe.name for employe in employes.data | filter:$viewValue | limitTo:8" typeahead-on-select="identif.nom_encodage_selected(identif.nom_encodage)">
								</div>
							</div>
						</div>
					</fieldset>
				</div>
			
	</div>
</div>