<header data-header>
  {{ 'TRANSFER.TITLE' | translate }}
</header>

<nav>
  <div class="pull-left">
    <ol class="breadcrumb">
      <li><a href="#/"><span class="glyphicon glyphicon-home"></span></a></li>
      <li><a href="#/primary_cash/">{{ 'PRIMARY_CASH.TITLE' | translate}}</a></li>
      <li class="active">{{ 'TRANSFER.TITLE' | translate}}</li>
    </ol>
  </div>
</nav>

<main>
  <div class="row margin-top-10">
    <div class="col-xs-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <i class="glyphicon glyphicon-share-alt"></i> {{ "TRANSFER.TRANSFER" | translate }}
        </div>
        <div class="panel-body">
          <form name="TransferForm" ng-submit="TransferCtrl.submit()" novalidate>
            <div class="form-group">
              <label class="required">{{ 'TRANSFER.PROJECT' | translate }}</label>
              <select
                ng-model="TransferCtrl.data.project_id"
                ng-options="project.id as project.name for project in TransferCtrl.projects.data"
                class="form-bhima"
                name="projectId"
                required>
                <option value="" disabled="disabled">-- {{ 'SELECT.PROJECT' | translate }} -- </option>
              </select>
            </div>

            <div class="form-group">
              <label class="required">{{ 'TRANSFER.CAISSE' | translate}}</label>
              <select
                ng-model="TransferCtrl.data.cash_box_id"
                class="form-bhima"
                name="cashBoxId"
                ng-options="cash.id as cash.text disable when (cash.is_auxillary == 0 && cash.is_bank == null) for cash in TransferCtrl.cash_boxes.data"
                required>
                <option value="" disabled="disabled">--- {{ 'SELECT.CASH' | translate }} ---</option>
              </select>
            </div>

            <div class="form-group">
              <label class="required">{{ 'TRANSFER.CURRENCY' | translate}}</label>
              <select
                id="currencyID"
                class="form-bhima"
                name="currencyId"
                ng-disabled="!TransferCtrl.data.cash_box_id"
                ng-model="TransferCtrl.data.currency_id"
                ng-options="box.currency_id as TransferCtrl.labelCurrency(box.currency_id) for box in TransferCtrl.cash_box_account_currencies.data | filter:{cash_box_id:TransferCtrl.data.cash_box_id}"
                required>
                <option value="" disabled="disabled">-- {{ 'SELECT.CURRENCY' | translate }} --</option>
              </select>
            </div>

            <div class="form-group">
              <label class="required">{{ 'TRANSFER.AMOUNT' | translate}}</label>
              <div class="input-group">
                <input
                  class="form-bhima"
                  type="number"
                  step="any"
                  name="transferValue"
                  ng-model="TransferCtrl.data.value"
                  min="0" required>
                <span class="input-group-addon">{{ TransferCtrl.labelCurrency(TransferCtrl.data.currency_id) }}</span>
              </div>
            </div>

            <input class="btn btn-success" type="submit" value="{{ 'FORM.ADD' | translate }}" ng-disabled="TransferForm.$invalid">
            <input class="btn btn-default" type="reset" value="{{ 'FORM.NEW_TRANSFER' | translate }}">
          </form>
        </div>
      </div>
    </div>

    <div class="col-xs-6">
      <div class="alert alert-info">
        <h4>{{ 'TRANSFER.TITLE' | translate}}</h4>
        <p>{{ 'TRANSFER.DESCRIPTION' | translate}}</p>
      </div>
    </div>
  </div>
</main>
