<div class="ui-grid-cell-contents text-right" uib-dropdown dropdown-append-to-body data-row="{{ row.entity.text }}">
  <a uib-dropdown-toggle href>
    <span data-action="open-dropdown-menu" translate>FORM.BUTTONS.ACTIONS</span>
    <span class="caret"></span>
  </a>

  <ul class="dropdown-menu-right" uib-dropdown-menu data-row-menu="{{ row.entity.text }}">
    <li class="bh-dropdown-header">{{row.entity.text}}</li>

    <li>
      <a data-method="edit-record" ng-click="grid.appScope.editDepot(row.entity.uuid)" href>
        <i class="fa fa-edit"></i> <span translate>FORM.BUTTONS.EDIT</span>
      </a>
    </li>
    <li>
      <a href
        data-method="stock-inventory"
        ui-sref="stockInventories({ filters : [
          { key : 'depot_uuid', value : row.entity.uuid, displayValue : row.entity.text, cacheable: false },
          { key : 'limit', value : 1000, cacheable: false }
        ]})" href>
        <i class="fa fa-th-list"></i> <span translate>INVENTORY.VIEW_ARTICLES_IN_STOCK</span>
      </a>
    </li>
    <li>
      <a href
        data-method="add-dependant-depot"
        ui-sref="depots.create({ parentId : row.entity.uuid })" href>
        <i class="fa fa-cube"></i> <span translate>DEPOT.ADD_SUB_DEPOT</span>
      </a>
    </li>

    <li class="divider"></li>
    <li>
      <a data-method="delete-record" ng-click="grid.appScope.deleteDepot(row.entity.uuid)" href>
        <span class="text-danger">
          <i class="fa fa-trash"></i> <span translate>DEPOT.DELETE</span>
        </span>
      </a>
    </li>
  </ul>
</div>
