<div class="ui-grid-cell-contents">
  <a data-method="stock-inventories"
    ui-sref="stockInventories({ filters : [
      { key : 'depot_uuid', value : row.entity.uuid, displayValue : row.entity.text, cacheable: false },
      { key : 'period', value : 'allTime', displayValue : 'PERIODS.ALL_TIME', cacheable: false },
      { key : 'limit', value : 1000, cacheable: false }
    ]})" href>
    <span style='padding-left : {{row.treeLevel * grid.appScope.indentTitleSpace}}px;' >{{ row.entity.text }}</span>
  </a>
</div>