<div class="ui-grid-cell-contents text-right" uib-dropdown dropdown-append-to-body uib-dropdown-toggle ng-if="!row.groupHeader">
  <a href>
    <span data-method="action" translate>FORM.BUTTONS.ACTIONS</span>
    <span class="caret"></span>
  </a>

  <ul class="dropdown-menu-right" bh-dropdown-menu-auto-dropup uib-dropdown-menu>
    <li class="bh-dropdown-header">{{row.entity.title}}</li>

    <li role="separator" class="divider"></li>

    <!-- @TODO add permission bh-has-permission="grid.appScope.bhConstants.actions.EDIT_ASSET_SCAN" -->
    <li >
      <a data-method="edit" ng-click="grid.appScope.editRequiredInventoryScan(row.entity)" href>
        <i class="fa fa-edit"></i> <span translate>FORM.LABELS.EDIT</span>
      </a>
    </li>

    <li role="separator" class="divider"></li>
    <li >
      <a data-method="show-unscanned-assets" ng-click="grid.appScope.showScannedInventory(row.entity)" href>
        <i class="fa fa-list-alt"></i> <span translate>ASSET.SHOW_SCANNED_ASSETS</span>
      </a>
    </li>

    <!-- links for various reports here -->

  </ul>
</div>
