.budget-analysis-form {
	margin : 5px auto;
}

.budget-analysis-label {
	display: block;
	margin: 5px auto;
}

.budget-analysis-previous {
	margin-top: 8em;
	background-color: #efefef;
	padding: 5px;
}