<header data-header>
  {{ "SECTION_BILAN.TITLE" | translate }}
</header>

<nav>
  <div class="pull-left">
    <ol class="breadcrumb">
      <li><a href="#/"><span class="glyphicon glyphicon-home"></span></a></li>
      <li class="active">{{ "SECTION_BILAN.TITLE" | translate }}</li>
    </ol>
  </div>

  <div class="pull-right">
    <button class="btn btn-sm btn-default" ng-click="new()">
      <span class="glyphicon glyphicon-plus-sign"></span>
      {{ "SECTION_BILAN.ADD" | translate }}
    </button>
  </div>
</nav>

<main>
  <div class="row">

    <div class="col-xs-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-home"></span> {{ "SECTION_BILAN.ALL" | translate }}
        </div>
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>{{ "COLUMNS.TEXT" | translate }}</th>
              <th>{{ "COLUMNS.GROUP" | translate }}</th>
              <th>{{ "COLUMNS.POSITION" | translate }}</th>
              <th colspan="2" style="width:15%;">{{ "COLUMNS.ACTION" | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="sectionBilan in sectionBilans.data">
              <td>{{ sectionBilan.text }}</td>
              <td>
                <b>
                  {{ (sectionBilan.is_actif == 1) ? doTranslate('SECTION_BILAN.ASSET') : doTranslate('SECTION_BILAN.PASSIVE') }}
                </b>
              </td>
              <td>{{sectionBilan.position}}</td>
              <td><a class="action" ng-click="edit(sectionBilan)"><span class="glyphicon glyphicon-pencil"></span></a></td>
              <td><a class="action danger" ng-click="delete(sectionBilan)"><span class="glyphicon glyphicon-trash"></span></a></td>
            </tr>
            <tr ng-if="!sectionBilans.data.length">
              <td colspan="4">{{ "SECTION_BILAN.NO_SECTION_BILAN" | translate }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-xs-6" ng-switch="session.action">
      <div class="alert alert-info" ng-switch-default>
        <h4>{{ "SECTION_BILAN.TITLE" | translate }}</h4>
        <p>{{ "SECTION_BILAN.ALERT" | translate }}</p>
      </div>

      <form name="sectionBilanNew" ng-switch-when="new" novalidate>
        <legend>{{ "SECTION_BILAN.NEW" | translate }}</legend>

        <div class="form-group">
          <label>{{ "COLUMNS.NAME" | translate }}</label>
          <input class="form-bhima" ng-model="session.new.text" required>
        </div>

        <div class="radio" ng-init="session.new.is_actif=1">
          <label>
            <input type="radio" name="isactifrd" ng-value="1" ng-model="session.new.is_actif">
            {{'SECTION_BILAN.ASSET' | translate}}
          </label>
        </div>

        <div class="radio">
          <label>
            <input type="radio" name="isactifrd" ng-value="0" ng-model="session.new.is_actif">
            {{'SECTION_BILAN.PASSIVE' | translate}}
          </label>
        </div>

        <div class="form-group">
          <label>{{ "COLUMNS.POSITION" | translate }}</label>
          <input type="number" min="0" step="1" class="form-bhima" ng-model="session.new.position" required>
        </div>

        <button class="btn btn-sm btn-success" type="submit" ng-click="save.new()" ng-disabled="sectionBilanNew.$invalid">{{ "FORM.SUBMIT" | translate }}</button>
        <button class="btn btn-sm btn-danger" type="reset">{{ "FORM.CLEAR" | translate }}</button>
      </form>

      <form ng-switch-when="edit">
        <legend>{{ "SECTION_BILAN.EDIT" | translate }}</legend>

        <div class="form-group">
          <label>{{ "COLUMNS.NAME" | translate }}</label>
          <input class="form-bhima" ng-model="session.edit.text" required>
        </div>

        <div class="radio">
          <label>
            <input type="radio" name="isactifrd" ng-value="1" ng-model="session.edit.is_actif">
            {{'SECTION_BILAN.ASSET' | translate}}
          </label>
        </div>

        <div class="radio">
          <label>
            <input type="radio" name="isactifrd" ng-value="0" ng-model="session.edit.is_actif">
            {{'SECTION_BILAN.PASSIVE' | translate}}
          </label>
        </div>

        <div class="form-group">
          <label>{{ "COLUMNS.POSITION" | translate }}</label>
          <input type="number" min="0" step="1" class="form-bhima" ng-model="session.edit.position" required>
        </div>

        <button class="btn btn-sm btn-success" type="submit" ng-click="save.edit()">{{ "FORM.SUBMIT" | translate }}</button>
        <button class="btn btn-sm btn-danger" type="reset">{{ "FORM.CLEAR" | translate }}</button>
      </form>
    </div>
  </div>
</main>
