<header data-header>
  {{ 'COUNTRY.TITLE' | translate }}
</header>

<nav>
  <div class="pull-left">
    <ol class="breadcrumb">
      <li><a href="#/"><span class="glyphicon glyphicon-home"></span></a></li>
      <li class="active">{{ "COUNTRY.TITLE" | translate }}</li>
    </ol>
  </div>

  <div class="pull-right">
    <button class="btn btn-default btn-sm" ng-click="op='add'"><span class="glyphicon glyphicon-plus-sign"></span> {{ 'COUNTRY.NEW_COUNTRY' | translate}}</button>
    <a href="#/locations" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-globe"></span> {{ 'COUNTRY.LOCATION_MANAGER' | translate}}</a>
  </div>
</nav>

<main>
  <div class="row">
    <div class="col-xs-6">
      <div class="panel panel-default" style="max-height:40em; overflow: auto;">
        <div class="panel-heading">
          <span>{{ 'COUNTRY.REGISTERED' | translate }}</span>
        </div>
        <table class="table table-striped table-condensed">
          <thead>
            <tr>
              <th>{{ 'COLUMNS.CODE' | translate }}</th>
              <th>{{ 'COUNTRY.ENGLISH_NAME' | translate }}</th>
              <th>{{ 'COUNTRY.FRENCH_NAME' | translate }}</th>
              <th colspan="2">{{ 'COLUMNS.ACTIONS' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="country in countries.data | orderBy:'country_en'">
              <td>{{ country.code }}</td>
              <td>{{ country.country_en }}</td>
              <td>{{ country.country_fr }}</td>
              <td><a ng-click="setOp('edit', country)"><i class="glyphicon glyphicon-pencil"></i></a></td>
              <td><a class="danger" ng-click="removeCountry(country.uuid)"><i class="glyphicon glyphicon-trash"></i></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-xs-6" ng-switch="op">

      <div ng-switch-default>
        <div class="alert alert-info">
          <h4>{{ 'COUNTRY.CONFIGURATION' | translate }}</h4>
          <p>{{ 'COUNTRY.DESCRIPTION' | translate }}</p>
        </div>
      </div>

      <div ng-switch-when="add">
        <form class="form-horizontal" name="addForm" novalidate>
          <fieldset>
            <legend>{{ 'COUNTRY.REGISTER' | translate}}</legend>
            <div class="form-group">
              <label class="col-xs-2 control-label">{{ 'COUNTRY.CODE' | translate}}</label>
              <div class="col-xs-10">
                <input type="number" class="form-bhima" ng-model="add.code" required>
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-2 control-label">{{ 'COUNTRY.ENGLISH_NAME' | translate}}</label>
              <div class="col-xs-10">
                <input class="form-bhima" ng-model="add.country_en" required>
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-2 control-label">{{ 'COUNTRY.FRENCH_NAME' | translate}}</label>
              <div class="col-xs-10">
                <input class="form-bhima" ng-model="add.country_fr" required>
              </div>
            </div>

          </fieldset>
          <input class="btn btn-default btn-success" ng-click="addCountry(add)" ng-disabled="addForm.$invalid" type="submit" value="{{ 'FORM.ADD' | translate }}">
          <input class="btn btn-default btn-sm" type="reset" value="{{ 'FORM.NEW_FORM' | translate }}">
        </form>
      </div>

      <div ng-switch-when="edit">
        <form class="form-horizontal" name="editForm" novalidate>
          <fieldset>
            <legend>{{ 'COUNTRY.EDIT' | translate}}</legend>

            <div class="form-group">
               <label class="col-xs-2 control-label">{{ 'COUNTRY.CODE' | translate}}</label>
               <div class="col-xs-10">
                  <input type="number" class="form-bhima" ng-model="country.code" required>
               </div>
            </div>

            <div class="form-group">
               <label class="col-xs-2 control-label">{{ 'COUNTRY.ENGLISH_NAME' | translate}}</label>
               <div class="col-xs-10">
                  <input class="form-bhima" ng-model="country.country_en" required>
               </div>
            </div>

            <div class="form-group">
               <label class="col-xs-2 control-label">{{ 'COUNTRY.FRENCH_NAME' | translate}}</label>
               <div class="col-xs-10">
                  <input class="form-bhima" ng-model="country.country_fr" required>
               </div>
            </div>

          </fieldset>
          <input class="btn btn-default btn-success" ng-click="editCountry(country)" ng-disabled="editForm.$invalid" type="submit" value="{{ 'FORM.SAVE' | translate }}">
          <input class="btn btn-default btn-sm" type="reset" value="{{ 'FORM.NEW_FORM' | translate }}">
        </form>
      </div>
    </div>
  </div>
</main>
