<div class="flex-header">
    <div class="bhima-title">
      <ol class="headercrumb">
        <li class="static" translate>TREE.ADMIN</li>
        <li class="static">
          <a ui-sref="locations" translate href>TREE.LOCATION</a>
        </li>
        <li class="title" translate>SECTOR.TITLE</li>
      </ol>
      <div class="toolbar">
        <div class="toolbar-item">
          <button class="btn btn-default text-capitalize" ng-click="SectorCtrl.createUpdateModal()" data-method="create">
            <i class="fa fa-plus"></i> <span translate>SECTOR.NEW_SECTOR</span>
          </button>
        </div>
        <div class="toolbar-item">
          <button ng-click="SectorCtrl.mergeSectors()"  class="btn btn-default text-capitalize" data-method="merge">
            <i class="fa fa-compress"></i> <span translate>SECTOR.MERGE_SECTORS</span>
          </button>
        </div>
        <div class="toolbar-item">
          <!-- Links to the main menu of management maps as well as the button for adding countries -->
          <button ui-sref="locations" class="btn btn-default text-capitalize">
            <span class="glyphicon glyphicon-globe"></span><span translate> LOCATION.LOCATION_MANAGER </span>
          </button>
        </div>
        <bh-filter-toggle on-toggle="SectorCtrl.toggleInlineFilter()">
        </bh-filter-toggle>
      </div>
    </div>
  </div>
  
  
  <div class="flex-content">
    <div class="container-fluid">
      <div
        id="sector-grid"
        class="grid-full-height"
        ui-grid="SectorCtrl.gridOptions"
        ui-grid-auto-resize
        ui-grid-resize-columns
        ui-grid-selection
        ui-grid-move-columns>
  
        <bh-grid-loading-indicator
          loading-state="SectorCtrl.loading"
          empty-state="SectorCtrl.gridOptions.data.length === 0">
        </bh-grid-loading-indicator>
      </div>
    </div>
  </div>
  