<header data-header>
  {{ "DONOR_MANAGEMENT.TITLE" | translate }}
</header>

<nav>
  <div class="pull-left">
    <ol class="breadcrumb">
      <li><a href="#/"><span class="glyphicon glyphicon-home"></span></a></li>
      <li class="active">{{ "DONOR_MANAGEMENT.TITLE" | translate }}</li>
    </ol>
  </div>
  <div class="pull-right">
    <button class="btn btn-sm btn-default" ng-click="new()">
      <span class="glyphicon glyphicon-plus-sign"></span>
       {{ "DONOR_MANAGEMENT.ADD" | translate }}
    </button>
  </div>
</nav>

<main>
  <div class="row margin-top-10">

    <div class="col-xs-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-gift"></span>
          {{ "DONOR_MANAGEMENT.REGISTERED" | translate }}
        </div>
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>{{ "COLUMNS.NR" | translate}}</th>
              <th>{{ "COLUMNS.NAME" | translate}}</th>
              <th colspan="4">{{ "COLUMNS.ACTIONS" | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="donor in donors.data">
              <td>{{$index + 1}}</td>
              <td>{{ donor.name }}</td>
              <td><a class="action" ng-click="edit(donor)"><span class="glyphicon glyphicon-pencil"></span></a></td>
              <td><a class="action danger" ng-click="delete(donor)"><span class="glyphicon glyphicon-trash"></span></a></td>
            </tr>
            <tr ng-if="!donors.data.length">
              <td colspan="4">{{ "DONOR_MANAGEMENT.NO_DONOR" | translate }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-xs-6" ng-switch="session.action">
      <div class="alert alert-info" ng-switch-default>
        <h4>{{ "DONOR_MANAGEMENT.TITLE" | translate }}</h4>
        <p>{{ "DONOR_MANAGEMENT.ALERT" | translate }}</p>
      </div>

      <div ng-switch-when="new">
        <form novalidate class="form-horizontal" name="new">
          <legend><h3>{{ "DONOR_MANAGEMENT.NEW" | translate }} </h3></legend>

          <div class="form-group">
            <label class="control-label col-xs-4 required">{{ "COLUMNS.NAME" | translate }}</label>
            <div class="col-xs-7">
              <input ng-model="session.new.name" class="form-bhima" required>
            </div>
          </div>

          <div class="form-group">
            <input type="submit" ng-disabled="new.$invalid" class="btn btn-sm btn-success" value="{{ 'FORM.SUBMIT' | translate }}" ng-click="save.new()">
            <input type="reset" class="btn btn-sm btn-default" value="{{ 'FORM.RESET' | translate }}" ng-click="reset()">
          </div>   
        </form>
      </div>

      <div ng-switch-when="edit">
        <form novalidate class="form-horizontal" name="edit">
          <legend><h3>{{ "DONOR_MANAGEMENT.UPDATE" | translate }} </h3></legend>

          <div class="form-group">
            <label class="control-label col-xs-4 required">{{ "COLUMNS.LABEL" | translate }}</label>
            <div class="col-xs-7">
              <input ng-model="session.edit.name" class="form-bhima" required>
            </div>
          </div>

          <div class="form-group">
            <input type="submit" ng-disabled="edit.$invalid" class="btn btn-sm btn-success" value="{{ 'FORM.SUBMIT' | translate }}" ng-click="save.edit()">
            <input type="reset" class="btn btn-sm btn-default" value="{{ 'FORM.RESET' | translate }}" ng-click="reset()">
          </div>   
        </form>
      </div>
    </div>
  </div>
</main>


