<!-- Patient details informations  -->
<div class="document-section" ng-if="$ctrl.session.enablePatientDetails">
  <b><i class="fa fa-universal-access"></i> {{ $ctrl.session.patient.reference }} / </b>
  {{ $ctrl.session.patient.display_name }}
</div>

<!-- Search Documents  -->
<div class="document-section" ng-if="$ctrl.session.enableSearch">
  <div class="input-group">
    <span class="input-group-addon">
      <i class="fa fa-search"></i>
    </span>
    <input
      ng-model="$ctrl.searchByName"
      type="text"
      placeholder="{{ 'FORM.PLACEHOLDERS.DOCUMENT_NAME' | translate }}..."
      class="form-control">
  </div>
</div>

<!-- Documents  -->
<div class="panel panel-default clearfix">

  <!-- heading  -->
  <div class="panel-heading" ng-if="$ctrl.session.enableOptionBar">
    <div class="right btn-group">
      <button
        type="button"
        title="{{ 'PATIENT_DOCUMENT.DISPLAY_THUMBNAIL' | translate }}"
        class="btn btn-sm btn-default"
        data-document-action="thumbnail"
        ng-click="$ctrl.switchDisplay('thumbnail')">
        <i class="fa fa-file-image-o"></i>
      </button>

      <button
        type="button"
        title="{{ 'PATIENT_DOCUMENT.DISPLAY_LIST' | translate }}"
        class="btn btn-sm btn-default"
        data-document-action="list"
        ng-click="$ctrl.switchDisplay('list')">
        <i class="fa fa-list"></i>
      </button>

      <button
        type="button"
        title="{{ 'PATIENT_DOCUMENT.ADD' | translate }}"
        class="btn btn-sm btn-default"
        data-document-action="add"
        ng-click="$ctrl.addDocument()">
        <i class="fa fa-plus"></i>
      </button>
    </div>

    <div>
      <i class="glyphicon glyphicon-paperclip"></i> <span translate>PATIENT_DOCUMENT.DOCUMENTS</span>
      ({{ $ctrl.session.patientDocuments.length }})
    </div>
  </div>

  <!-- content  -->
  <div class="panel-body" style="overflow: auto; height: {{ $ctrl.session.height }}">

    <!-- list of documents  -->
    <ng-switch on="$ctrl.session.display">
      <!-- list display mode  -->
      <div data-view="list" ng-switch-default>
        <div class="document media col-xs-12"
          ng-repeat="doc in $ctrl.session.patientDocuments | filter: $ctrl.searchByName">
          <a class="media-left">
            <i class="fa fa-3x" ng-class="{{ 'doc.icon' }}"></i>
          </a>
          <div class="media-body">

            <!-- actions buttons  -->
            <div class="pull-right">
              <a
                ng-href="/{{ doc.link }}" download="{{ doc.downloadLink }}"
                title="{{ 'PATIENT_DOCUMENT.DOWNLOAD' | translate }}"
                type="button"
                class="btn btn-sm btn-default">
                <i class="fa fa-download"></i>
              </a>

              <button
                ng-click="$ctrl.deleteDocument(doc.uuid, doc.label)"
                title="{{ 'FORM.BUTTONS.DELETE' | translate }}"
                type="button"
                class="btn btn-sm btn-danger">
                <i class="fa fa-trash"></i>
              </button>
            </div>

            <!-- title  -->
            <h4 class="media-heading">{{ doc.label }}</h4>

            <!-- file size  -->
            <i class="fa fa-file-o"></i>
            {{ doc.type }} (~{{ doc.size | bytes }}) |

            <!-- date and author  -->
            <i class="fa fa-calendar-o"></i>
            {{ doc.timestamp | date }}, <span translate>FORM.LABELS.BY</span>
            {{ doc.display_name }}
          </div>
        </div>
      </div>

      <!-- thumbnail display mode  -->
      <div data-view="thumbnail" ng-switch-when="thumbnail">
        <div class="document document-thumbnail col-xs-12 col-md-6"
          ng-repeat="doc in $ctrl.session.patientDocuments | filter: $ctrl.searchByName">

          <!-- the picture  -->
          <div class="crop">
            <div class="image">
              <img ng-show="doc.icon === 'fa-file-image-o'" ng-src="{{ doc.link }}" />
              <i ng-hide="doc.icon === 'fa-file-image-o'" class="fa" ng-class="{{ 'doc.icon' }}"></i>
            </div>
          </div>

          <!-- details  -->
          <div style="margin-top:5px;">

            <!-- actions buttons  -->
            <div class="pull-right">
              <a
                ng-href="/{{ doc.link }}" download="{{ doc.downloadLink }}"
                title="{{ 'PATIENT_DOCUMENT.DOWNLOAD' | translate }}"
                type="button"
                class="btn btn-sm btn-default">
                <i class="fa fa-download"></i>
              </a>

              <button
                ng-click="$ctrl.deleteDocument(doc.uuid, doc.label)"
                title="{{ 'FORM.BUTTONS.DELETE' | translate }}"
                type="button"
                class="btn btn-sm btn-danger">
                <i class="fa fa-trash"></i>
              </button>
            </div>

            <h4 style="margin:0; padding:0">{{ doc.label }}</h4>

            <!-- file size  -->
            <i class="fa fa-file-o"></i>
            {{ doc.type }} (~{{ doc.size | bytes }}) <br>

            <!-- author  -->
            <i class="fa fa-calendar-o"></i>
            {{ doc.timestamp | date }}, <span translate>FORM.LABELS.BY</span>
            {{ doc.display_name }}

          </div>

        </div>
      </div>
    </ng-switch>

    <!-- no result  -->
    <div ng-if="!$ctrl.session.patientDocuments.length">
      <p class="text-center text-info">
        <i class="fa fa-info-circle"></i> <span translate>PATIENT_DOCUMENT.NO_DOCUMENT</span>
      </p>
    </div>

  </div>
</div>
