<div class="flex-header static">
  <div class="bhima-title">
    <ol class="headercrumb">
      <li class="static" translate>TREE.PAYROLL</li>
      <li class="title" translate>EMPLOYEE_REGISTRY.TITLE</li>
    </ol>

    <div class="toolbar">
      <div class="toolbar-item">
        <button
          ng-click="EmployeeRegistryCtrl.search()"
          data-method="search"
          class="btn btn-default">
          <span class="fa fa-search"></span> <span translate>FORM.BUTTONS.SEARCH</span>
        </button>
      </div>

      <div class="toolbar-item">
        <button
          ng-click="EmployeeRegistryCtrl.openColumnConfiguration()"
          data-method="config"
          class="btn btn-default">
          <i class="fa fa-cogs"></i> <span translate>FORM.BUTTONS.CONFIGURE</span>
        </button>
      </div>

      <div class="toolbar-item">
        <bh-pdf-print
          pdf-url="reports/payroll/employees/"
          options="EmployeeRegistryCtrl.filters">
        </bh-pdf-print>
      </div>

      <div class="toolbar-item">
        <bh-renderer-dropdown
          report-url="reports/payroll/employees/"
          report-options="EmployeeRegistryCtrl.filters">
        </bh-renderer-dropdown>
      </div>
    </div>
  </div>
</div>

<div class="flex-util" style="min-height : 35px; padding-top : 7px; max-height: initial">
  <bh-filters
    style="max-width:90%"
    filters="EmployeeRegistryCtrl.latestViewFilters"
    on-remove-filter="EmployeeRegistryCtrl.onRemoveFilter(filter)">
  </bh-filters>
</div>

<div class="flex-content">
  <div class="container-fluid">
    <div
      id="employee-registry"
      class="grid-full-height"
      ng-style="EmployeeRegistryCtrl.filterBarHeight"
      ui-grid="EmployeeRegistryCtrl.uiGridOptions"
      ui-grid-auto-resize
      ui-grid-resize-columns>

      <bh-grid-loading-indicator
        loading-state="EmployeeRegistryCtrl.loading"
        empty-state="EmployeeRegistryCtrl.uiGridOptions.data.length === 0"
        error-state="EmployeeRegistryCtrl.hasError">
      </bh-grid-loading-indicator>
    </div>
  </div>
</div>
