<header data-header>
  {{ "HOLIDAY_MANAGEMENT.TITLE" | translate }}
</header>

<nav>
  <div class="pull-left">
    <ol class="breadcrumb">
      <li><a href="#/"><span class="glyphicon glyphicon-home"></span></a></li>
      <li class="active">{{ "HOLIDAY_MANAGEMENT.TITLE" | translate }}</li>
    </ol>
  </div>

  <div class="pull-right">
    <button class="btn btn-sm btn-default" ng-click="HolidayCtrl.new()">
      <span class="glyphicon glyphicon-plus-sign"></span>
      {{ "HOLIDAY_MANAGEMENT.ADD" | translate }}
    </button>
  </div>
</nav>

<main>
  <div class="row margin-top-10">

    <div class="col-xs-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-road"></span>
          {{ "HOLIDAY_MANAGEMENT.REGISTERED" | translate }}
        </div>
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>{{ "COLUMNS.EMPLOYEE_NAME" | translate}}</th>
              <th>{{ "COLUMNS.LABEL" | translate}}</th>
              <th>{{ "COLUMNS.PERCENT_PAY" | translate}}</th>
              <th>{{ "COLUMNS.DATE_FROM" | translate}}</th>
              <th>{{ "COLUMNS.DATE_TO" | translate}}</th>
              <th colspan="4" style="max-width: 20%;">{{ "COLUMNS.ACTIONS" | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="holiday in HolidayCtrl.holidays.data | orderBy:'name'">
              <td>{{ holiday.name }} {{ holiday.postnom }} {{ holiday.prenom }}</td>
              <td>{{ holiday.label }}</td>
              <td>{{ holiday.percentage }}</td>
              <td>{{ holiday.dateFrom | date}}</td>
              <td>{{ holiday.dateTo | date}}</td>
              <td><a class="action" ng-click="HolidayCtrl.edit(holiday)"><span class="glyphicon glyphicon-pencil"></span></a></td>
              <td><a class="action danger" ng-click="HolidayCtrl.delete(holiday)"><span class="glyphicon glyphicon-trash"></span></a></td>
            </tr>
            <tr ng-if="!HolidayCtrl.holidays.data.length">
              <td colspan="4">{{ "HOLIDAY_MANAGEMENT.NO_HOLIDAY" | translate }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-xs-6" ng-switch="HolidayCtrl.session.action">
      <div class="alert alert-info" ng-switch-default>
        <h4>{{ "HOLIDAY_MANAGEMENT.TITLE" | translate }}</h4>
        <p>{{ "HOLIDAY_MANAGEMENT.ALERT" | translate }}</p>
      </div>

      <div ng-switch-when="new">
        <form novalidate class="form-horizontal" name="new">
          <legend><h3>{{ "HOLIDAY_MANAGEMENT.NEW_HOLIDAY" | translate }} </h3></legend>

          <div class="form-group">
            <label class="control-label col-xs-3 required">{{ "COLUMNS.EMPLOYEE_NAME" | translate }}</label>
            <div class="col-xs-8">
              <select
                class="form-bhima"
                ng-model="HolidayCtrl.session.new.employee_id"
                ng-options="employee.id as employee.name + ' ' + employee.postnom + ' ' + employee.prenom for employee in HolidayCtrl.employees.data"
                required>
                <option value="" disabled>-- {{ "SELECT.EMPLOYEE" | translate }} --</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-3">{{ "COLUMNS.LABEL" | translate }}</label>
            <div class="col-xs-8">
              <input ng-model="HolidayCtrl.session.new.label" class="form-bhima" required>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-3">{{ "COLUMNS.PERCENT_PAY" | translate }}</label>
            <div class="col-xs-8">
              <input ng-model="HolidayCtrl.session.new.percentage" class="form-bhima" required>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-3 required">{{ "COLUMNS.DATE_FROM" | translate }}</label>
            <div class="col-xs-8">
              <input type="date" ng-model="HolidayCtrl.session.new.dateFrom" class="form-bhima" required>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-3 required">{{ "COLUMNS.DATE_TO" | translate }}</label>
            <div class="col-xs-8">
              <input type="date" ng-model="HolidayCtrl.session.new.dateTo" class="form-bhima" required>
            </div>
          </div>

          <div class="form-group">
            <input type="submit" ng-disabled="new.$invalid" class="btn btn-sm btn-success" value="{{ 'FORM.SUBMIT' | translate }}" ng-click="HolidayCtrl.save.new()">
            <input type="reset" class="btn btn-sm btn-default" value="{{ 'FORM.RESET' | translate }}" ng-click="HolidayCtrl.reset()">
          </div>
        </form>
      </div>

      <div ng-switch-when="edit">
        <form novalidate class="form-horizontal" name="edit">
          <legend><h3>{{ "HOLIDAY_MANAGEMENT.UPDATE" | translate }} </h3></legend>

          <div class="form-group">
            <label class="control-label col-xs-3 required">{{ "COLUMNS.EMPLOYEE_NAME" | translate }}</label>
            <div class="col-xs-8">
              <select class="form-bhima"
                ng-model="HolidayCtrl.session.edit.employee_id"
                ng-options="employee.id as employee.name + '  ' + employee.postnom + ' ' + employee.prenom for employee in HolidayCtrl.employees.data"
                disabled required>
                <option value="" disabled>{{ "SELECT.EMPLOYEE" | translate }}</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-3">{{ "COLUMNS.LABEL" | translate }}</label>
            <div class="col-xs-8">
              <input ng-model="HolidayCtrl.session.edit.label" class="form-bhima" required>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-3">{{ "COLUMNS.PERCENT_PAY" | translate }}</label>
            <div class="col-xs-8">
              <input ng-model="HolidayCtrl.session.edit.percentage" class="form-bhima" required>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-3 required">{{ "COLUMNS.DATE_FROM" | translate }}</label>
            <div class="col-xs-8">
              <input type="date" ng-model="HolidayCtrl.session.edit.dateFrom" class="form-bhima" required>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-3 required">{{ "COLUMNS.DATE_TO" | translate }}</label>
            <div class="col-xs-8">
              <input type="date" ng-model="HolidayCtrl.session.edit.dateTo" class="form-bhima" required>
            </div>
          </div>

          <div class="form-group">
            <input type="submit" ng-disabled="edit.$invalid" class="btn btn-sm btn-success" value="{{ 'FORM.SUBMIT' | translate }}" ng-click="HolidayCtrl.save.edit()">
            <input type="reset" class="btn btn-sm btn-default" value="{{ 'FORM.RESET' | translate }}" ng-click="HolidayCtrl.reset()">
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
