<div class="ui-grid-cell-contents" data-row-item="{{ row.entity.code }}" uib-dropdown dropdown-append-to-body>

  <a href uib-dropdown-toggle>
    <span data-method="action" translate>FORM.BUTTONS.ACTIONS</span>
    <span class="caret"></span>
  </a>

  <ul class="dropdown-menu-right" uib-dropdown-menu>
    <li>
      <a href
          data-method="edit"
          data-edit-metadata="{{ row.entity.code }}"
          ng-hide="row.groupHeader" ui-sref="inventory.update({uuid : row.entity.uuid })">
          <i class="fa fa-edit"></i> <span translate>FORM.BUTTONS.EDIT</span>
      </a>
    </li>

    <li class="divider"></li>
    <li>
      <a data-method="invoice" ui-sref="invoiceRegistry({ filters : { key : 'inventory_uuid', value : row.entity.uuid, displayValue: row.entity.label }})" href>
        <span class="fa fa-file-text-o"></span> <span translate>PATIENT_REGISTRY.INVOICES</span>
      </a>
    </li>
  </ul>
</div>
