<div class="ui-grid-cell-contents text-right" data-row-item="{{ row.entity.code }}" uib-dropdown dropdown-append-to-body>

  <a href uib-dropdown-toggle>
    <span data-method="action" translate>FORM.BUTTONS.ACTIONS</span>
    <span class="caret"></span>
  </a>

  <ul class="dropdown-menu-right" bh-dropdown-menu-auto-dropup uib-dropdown-menu>
    <li class="bh-dropdown-header">{{row.entity.code}} - {{row.entity.label}}</li>
    <li>
      <a href
        data-method="edit"
        data-edit-metadata="{{ row.entity.code }}"
        ui-sref="inventory.update({uuid : row.entity.uuid })">
        <i class="fa fa-edit"></i> <span translate>FORM.BUTTONS.EDIT</span>
      </a>
    </li>

    <li>
      <a href
        ng-click="grid.appScope.inventoryLogModal(row.entity.uuid)"
        data-method="log">
        <span class="fa fa-clock-o"></span> <span translate>FORM.LABELS.CHANGES</span>
      </a>
    </li>

    <li ng-if="row.entity.consumable === 1">
      <a href
        data-method="stock-inventory"
        ui-sref="stockInventories({ filters : [
          { key : 'inventory_uuid', value : row.entity.uuid, displayValue : row.entity.label, cacheable: false },
          { key : 'limit', value : 1000, cacheable: false }
        ]})" href>
        <i class="fa fa-th-list"></i> <span translate>INVENTORY.VIEW_ARTICLES_IN_STOCK</span>
      </a>
    </li>

    <li ng-if="row.entity.consumable === 1">
      <a href
        data-method="stock-movements"
        ui-sref="stockMovements({ filters : [
          { key : 'inventory_uuid', value : row.entity.uuid, displayValue : row.entity.label, cacheable: false },
          { key : 'limit', value : 1000, cacheable: false }
        ]})" href>
        <i class="fa fa-arrows-h"></i> <span translate>PATIENT_REGISTRY.STOCK_MOVEMENTS</span>
      </a>
    </li>

    <li class="divider"></li>
    <li>
      <a data-method="invoice" ui-sref="invoiceRegistry({ filters : [{ key : 'inventory_uuid', value : row.entity.uuid, displayValue: row.entity.label }]})" href>
        <span class="fa fa-file-text-o"></span> <span translate>PATIENT_REGISTRY.INVOICES</span>
      </a>
    </li>
    <li class="divider"></li>
    <li>
      <a
        href
        data-method="delete"
        data-delete-metadata="{{ row.entity.code }}"
        ng-hide="row.groupHeader" ng-click="grid.appScope.remove(row.entity.uuid)">
        <i class="fa fa-trash-o text-danger"></i> <span class="text-danger" translate>FORM.BUTTONS.DELETE</span>
      </a>
    </li>
  </ul>
</div>
