<!-- breadcrumb header -->
<bh-breadcrumb
  path="ComplexVoucherCtrl.paths">
</bh-breadcrumb>

<div class="flex-content">
  <div class="container-fluid">
    <form name="ComplexVoucherForm" bh-form-defaults novalidate>

      <!-- description -->
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <!-- left  -->
              <div class="col-md-6">
                <bh-date-editor
                  date-value="ComplexVoucherCtrl.voucher.date"
                  max-date="ComplexVoucherCtrl.timestamp">
                </bh-date-editor>

                <div
                  class="form-group"
                  ng-class="{ 'has-error' : ComplexVoucherForm.$submitted && ComplexVoucherForm.description.$invalid }">
                  <label class="control-label">{{ "FORM.LABELS.DESCRIPTION" | translate }}</label>
                  <span
                    style="display: inline-block"
                    class="label"
                    ng-show="ComplexVoucherCtrl.financialTransaction"
                    ng-class="{'label-success': ComplexVoucherCtrl.type==='income', 'label-warning': ComplexVoucherCtrl.type==='expense'}">
                    {{ ComplexVoucherCtrl.descriptionPrefix }}
                    <span ng-if="ComplexVoucherCtrl.type==='income'">({{ 'VOUCHERS.SIMPLE.INCOME' | translate }})</span>
                    <span ng-if="ComplexVoucherCtrl.type==='expense'">({{ 'VOUCHERS.SIMPLE.EXPENSE' | translate }})</span>
                  </span>
                  <textarea
                    class="form-control"
                    name="description"
                    ng-model="ComplexVoucherCtrl.voucher.description"
                    placeholder="{{ 'FORM.PLACEHOLDERS.DESCRIPTION' | translate }}"
                    required>
                  </textarea>
                  <div class="help-block" ng-messages="ComplexVoucherForm.description.$error" ng-show="ComplexVoucherForm.$submitted">
                    <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
                  </div>
                </div>

              </div>

              <!-- right  -->
              <div class="col-md-6">

                <div class="form-group"
                  ng-class="{ 'has-error' : ComplexVoucherForm.$submitted && ComplexVoucherForm.type_id.$invalid }">
                  <label class="control-label">
                    {{ 'FORM.LABELS.TRANSFER_TYPE' | translate }}
                    <i uib-popover="{{ 'VOUCHERS.GLOBAL.TRANSFER_TYPE_INFO' | translate }}"
                      popover-trigger="'mouseenter'"
                      popover-placement="bottom-left"
                      class="fa fa-info-circle">
                    </i>
                  </label>

                  <!-- financial transaction  -->
                  <select class="form-control"
                    name="type_id"
                    ng-model="ComplexVoucherCtrl.voucher.type_id"
                    ng-change="ComplexVoucherCtrl.buildDescription()"
                    ng-disabled="!ComplexVoucherCtrl.financialTransaction" ng-required="ComplexVoucherCtrl.financialTransaction">
                    <option value="" disabled>--- {{ 'FORM.SELECT.TRANSFER_TYPE' | translate }} ---</option>

                    <!-- incomes  -->
                    <optgroup label="{{ 'VOUCHERS.SIMPLE.INCOME' | translate }}">
                      <option value="{{ item }}" data-item="{{ item.id }}" ng-repeat="item in ComplexVoucherCtrl.incomes">{{ item.text | translate }}</option>
                    </optgroup>

                    <!-- expenses  -->
                    <optgroup label="{{ 'VOUCHERS.SIMPLE.EXPENSE' | translate }}">
                      <option value="{{ item }}" data-item="{{ item.id }}" ng-repeat="item in ComplexVoucherCtrl.expenses">{{ item.text | translate }}</option>
                    </optgroup>
                  </select>
                  <p ng-show="ComplexVoucherCtrl.financialTransaction && !ComplexVoucherForm.$submitted" class="text-info">
                    <i class="fa fa-info-circle"></i> {{ 'VOUCHERS.GLOBAL.USE_FINANCIAL_ACCOUNT' | translate }}
                  </p>
                  <div class="help-block" ng-messages="ComplexVoucherForm.type_id.$error" ng-show="ComplexVoucherForm.$submitted">
                    <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
                  </div>
                </div>

                <bh-currency-select
                  currency-id="ComplexVoucherCtrl.voucher.currency_id"
                  validation-trigger="ComplexVoucherForm.$submitted">
                </bh-currency-select>

              </div>

            </div>
          </div>
        </div>
      </div>

      <!-- detail of transaction  -->
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">

              <!--
                Hack styles to make text behave look like class "btn".  This should be formalized into a class
              -->
              <span style="display: inline-block; padding: 6px 12px; vertical-align:middle;">
                <i class="fa fa-list"></i> {{ 'FORM.LABELS.TRANSACTION' | translate }}
              </span>

              <button
                type="button"
                class="btn btn-default pull-right"
                ng-click="ComplexVoucherCtrl.addVoucherItem()"
                data-button-add-item>
                <i class="fa fa-plus"></i>{{ 'VOUCHERS.COMPLEX.ADD_ITEMS' | translate }}
              </button>
            </div>

            <table class="table table-condensed">
              <thead>
                <tr>
                  <th class="text-center">#</th>
                  <th style="width:30%">{{ 'TABLE.COLUMNS.ACCOUNT' | translate }}</th>
                  <th>&nbsp;</th>
                  <th style="width:15%">{{ 'TABLE.COLUMNS.DEBIT' | translate }}</th>
                  <th style="width:15%">{{ 'TABLE.COLUMNS.CREDIT' | translate }}</th>
                  <th style="width:15%" class="text-center">{{ 'VOUCHERS.COMPLEX.ENTITY' | translate }}</th>
                  <th style="width:15%" class="text-center">{{ 'TABLE.COLUMNS.REFERENCE' | translate }}</th>
                  <th>&nbsp;</th>
                </tr>
              </thead>

              <tbody>
                <tr ng-repeat="row in ComplexVoucherCtrl.rows track by $index" data-row="{{ $index }}">

                  <td class="text-center" style="vertical-align:middle">
                    <span ng-show="row.isValid" class="text-success">
                      <i class="fa fa-check-circle"></i>
                    </span>

                    <span ng-hide="row.isValid" class="text-danger">
                      <i class="fa fa-exclamation-circle"></i>
                    </span>
                  </td>
                  <td>
                   <ui-select
                     ng-model="row.account"
                     name="account"
                     theme="bootstrap"
                     style="width:100%;"
                     required>
                     <ui-select-match placeholder="{{ 'FORM.PLACEHOLDERS.ACCOUNT' | translate }}">
                       <strong>{{$select.selected.number}}</strong> <span>{{$select.selected.label}}</span>
                     </ui-select-match>
                     <ui-select-choices ui-select-focus-patch repeat="account in ComplexVoucherCtrl.accounts | filter:$select.search">
                       <strong ng-bind-html="account.number | highlight:$select.search"></strong>
                       <span ng-bind-html="account.label | highlight:$select.search"></span>
                     </ui-select-choices>
                   </ui-select>
                 </td>

                  <td style="vertical-align: middle; text-align: center;">
                    {{ ComplexVoucherCtrl.currencySymbol(ComplexVoucherCtrl.voucher.currency_id) }}
                  </td>
                  <td>
                    <input
                      ng-model="row.debit"
                      ng-change="ComplexVoucherCtrl.checkRowValidity($index)"
                      type="number"
                      class="form-control text-right"
                      required>
                  </td>
                  <td>
                    <input
                      ng-model="row.credit"
                      ng-change="ComplexVoucherCtrl.checkRowValidity($index)"
                      type="number"
                      class="form-control text-right"
                      required>
                  </td>
                  <td>
                    <button
                      class="btn btn-default btn-block"
                      type="button"
                      ng-click="ComplexVoucherCtrl.openEntityModal(row)"
                      ng-class="{'btn-success': row.entity.type=='D', 'btn-warning': row.entity.type=='C'}"
                      data-entity-button>

                      <!-- state: has entity -->
                      <span ng-show="row.entity.uuid">
                        <i class="fa fa-user"></i> {{ row.entity.label }}
                      </span>

                      <!-- state: no entity -->
                      <span ng-hide="row.entity.uuid">
                        <i class="fa fa-plus"></i> {{ 'VOUCHERS.COMPLEX.ENTITY' | translate }}
                      </span>
                    </button>
                  </td>
                  <td>
                    <button
                      class="btn btn-default btn-block"
                      type="button"
                      ng-click="ComplexVoucherCtrl.openReferenceModal(row)"
                      ng-class="{'btn-info': row.reference.uuid}"
                      data-reference-button>

                      <!-- state: has reference -->
                      <span ng-show="row.reference.uuid">
                        <i class="fa fa-file-o"></i> {{ row.reference.reference }}
                      </span>

                      <!-- state: no reference -->
                      <span ng-hide="row.reference.uuid">
                        <i class="fa fa-plus"></i> {{ 'VOUCHERS.COMPLEX.REFERENCE' | translate }}
                      </span>
                    </button>
                  </td>
                  <td class="text-right">
                    <button
                      class="btn btn-danger"
                      type="button"
                      ng-click="ComplexVoucherCtrl.removeVoucherItem($index)">
                      <i class="fa fa-trash-o"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th colspan="3">{{ ComplexVoucherCtrl.rows.length | number }} {{ 'VOUCHERS.COMPLEX.ROWS' | translate }}</th>
                  <th class="text-right">{{ ComplexVoucherCtrl.sumDebit | currency:ComplexVoucherCtrl.voucher.currency_id }}</th>
                  <th class="text-right">{{ ComplexVoucherCtrl.sumCredit | currency:ComplexVoucherCtrl.voucher.currency_id }}</th>
                  <th colspan="3">&nbsp;</th>
                </tr>
              </tfoot>
            </table>

            <div class="panel-footer clearfix">

              <span ng-class="{'text-danger': !ComplexVoucherCtrl.validInput, 'text-success': ComplexVoucherCtrl.validInput}" ng-hide="ComplexVoucherCtrl.posted">
                <span ng-class="ComplexVoucherCtrl.notifyMessage.icon"></span>
                {{ ComplexVoucherCtrl.notifyMessage.label | translate }}
              </span>

              <button
                class="btn btn-primary pull-right"
                ng-disabled="!ComplexVoucherCtrl.validInput"
                ng-click="ComplexVoucherCtrl.submit(ComplexVoucherForm)"
                data-method="submit">
                {{ "FORM.BUTTONS.SUBMIT" | translate }}
              </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
