.input-number {
  text-align: right;
}

.normalRow {
  border-left: 2px solid white;
}

.validRow {
  border-left: 2px solid green;
}

.invalidRow {
  border-left: 2px solid red;
}

.iconRow {
  display: block;
  text-align: center;
  padding-top: 7px;
}
