
/* @todo - write these in less */

.normalRow {
  border-left: 2px solid white;
}

.validRow {
  border-left: 2px solid #3c763d;
}

.invalidRow {
  border-left: 2px solid #d9534f;
}

.iconRow {
  display: block;
  text-align: center;
  padding-top: 7px;
}
