<!-- breadcrumb header -->
<bh-breadcrumb
  path="ComplexVoucherCtrl.paths">
</bh-breadcrumb>

<div class="flex-content">
  <div class="container-fluid">
    <form name="ComplexVoucherForm" bh-form-defaults novalidate>

      <!-- description -->
      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-body">
              <bh-date-editor
                date-value="ComplexVoucherCtrl.voucher.date"
                max-date="ComplexVoucherCtrl.timestamp"
              >
              </bh-date-editor>

              <div
                class="form-group"
                ng-class="{ 'has-error' : ComplexVoucherForm.$submitted && ComplexVoucherForm.description.$invalid }">
                <label class="control-label">{{ "FORM.LABELS.DESCRIPTION" | translate }}</label>
                <textarea
                  class="form-control"
                  name="description"
                  ng-model="ComplexVoucherCtrl.voucher.description"
                  placeholder="{{ 'FORM.PLACEHOLDERS.DESCRIPTION' | translate }}"
                  required>
                </textarea>
                <div class="help-block" ng-messages="ComplexVoucherForm.description.$error" ng-show="ComplexVoucherForm.$submitted">
                  <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
                </div>
              </div>

              <!-- @TODO - use a currency selection component -->
              <div
                class="radio"
                ng-class="{ 'has-error' : ComplexVoucherForm.$submitted && ComplexVoucherForm.currency.$invalid }">
                <p><strong class="control-label">{{ "FORM.LABELS.CURRENCY" | translate }}</strong></p>
                <label
                  ng-repeat="currency in ComplexVoucherCtrl.currencies track by currency.id"
                  class="radio-inline">
                  <input
                    name="currency"
                    type="radio"
                    ng-model="ComplexVoucherCtrl.voucher.currency_id"
                    ng-value="currency.id"
                    data-currency-option="{{ currency.id }}"
                    required>
                  {{ currency.label }}
                </label>

                <div class="help-block" ng-messages="ComplexVoucherForm.currency.$error" ng-show="ComplexVoucherForm.$submitted">
                  <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="alert alert-info">
            <h3>{{ 'VOUCHERS.COMPLEX.TITLE' | translate }}</h3>
            <p> {{ 'VOUCHERS.COMPLEX.DESCRIPTION' | translate }} </p>
          </div>
        </div>
      </div>

      <!-- detail of transaction  -->
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">

              <!--
                Hack styles to make text behave look like class "btn".  This should be formalized into a class
              -->
              <span style="display: inline-block; padding: 6px 12px; vertical-align:middle;">
                <span class="glyphicon glyphicon-list-alt"></span>
                {{ 'FORM.LABELS.TRANSACTION' | translate }}
              </span>

              <button
                type="button"
                class="btn btn-default pull-right"
                ng-click="ComplexVoucherCtrl.addVoucherItem()"
                data-button-add-item>
                <span class="glyphicon glyphicon-plus"></span>
                {{ 'VOUCHERS.COMPLEX.ADD_ITEMS' | translate }}
              </button>
            </div>

            <table class="table table-condensed">
              <thead>
                <tr>
                  <th class="text-center">#</th>
                  <th style="width:30%">{{ 'TABLE.COLUMNS.ACCOUNT' | translate }}</th>
                  <th>&nbsp;</th>
                  <th style="width:15%">{{ 'TABLE.COLUMNS.DEBIT' | translate }}</th>
                  <th style="width:15%">{{ 'TABLE.COLUMNS.CREDIT' | translate }}</th>
                  <th style="width:15%" class="text-center">{{ 'VOUCHERS.COMPLEX.ENTITY' | translate }}</th>
                  <th style="width:15%" class="text-center">{{ 'TABLE.COLUMNS.REFERENCE' | translate }}</th>
                  <th>&nbsp;</th>
                </tr>
              </thead>

              <tbody>
                <tr
                  class="normalRow"
                  ng-repeat="row in ComplexVoucherCtrl.rows"
                  ng-class="{'validRow': row.isValid, 'invalidRow': !row.isValid}"
                  data-row="{{ $index }}">
                  <td>
                    <span ng-show="row.isValid" class="text-success iconRow">
                      <span class="glyphicon glyphicon-ok-sign"></span>
                    </span>

                    <span ng-hide="row.isValid" class="text-danger iconRow">
                      <span class="glyphicon glyphicon-exclamation-sign"></span>
                    </span>
                  </td>
                  <td>
                    <input
                      ng-model="row.account"
                      type="text"
                      placeholder="{{ 'FORM.PLACEHOLDERS.ACCOUNT' | translate }}..."
                      uib-typeahead="account as account.hrlabel for account in ComplexVoucherCtrl.accounts | filter:$viewValue | limitTo:8 "
                      typeahead-editable="false"
                      typeahead-on-select="ComplexVoucherCtrl.checkRowValidity($index)"
                      class="form-control"
                      required>
                  </td>
                  <td style="vertical-align: middle; text-align: center;">
                    {{ ComplexVoucherCtrl.currencySymbol(ComplexVoucherCtrl.voucher.currency_id) }}
                  </td>
                  <td>
                    <input
                      ng-model="row.debit"
                      ng-change="ComplexVoucherCtrl.checkRowValidity($index)"
                      type="number"
                      class="form-control text-right"
                      required>
                  </td>
                  <td>
                    <input
                      ng-model="row.credit"
                      ng-change="ComplexVoucherCtrl.checkRowValidity($index)"
                      type="number"
                      class="form-control text-right"
                      required>
                  </td>
                  <td>
                    <button
                      class="btn btn-default btn-block"
                      type="button"
                      ng-click="ComplexVoucherCtrl.openEntityModal(row)"
                      ng-class="{'btn-success': row.entity.type=='D', 'btn-warning': row.entity.type=='C'}"
                      data-entity-button>

                      <!-- state: has entity -->
                      <span ng-show="row.entity.uuid">
                        <span class="glyphicon glyphicon-user"></span> {{ row.entity.label }}
                      </span>

                      <!-- state: no entity -->
                      <span ng-hide="row.entity.uuid">
                        <span class="glyphicon glyphicon-plus"></span> {{ 'VOUCHERS.COMPLEX.ENTITY' | translate }}
                      </span>
                    </button>
                  </td>
                  <td>
                    <button
                      class="btn btn-default btn-block"
                      type="button"
                      ng-click="ComplexVoucherCtrl.openReferenceModal(row)"
                      ng-class="{'btn-info': row.reference.uuid}"
                      data-reference-button>

                      <!-- state: has reference -->
                      <span ng-show="row.reference.uuid">
                        <span class="glyphicon glyphicon-file"></span> {{ row.reference.reference }}
                      </span>

                      <!-- state: no reference -->
                      <span ng-hide="row.reference.uuid">
                        <span class="glyphicon glyphicon-plus"></span> {{ 'VOUCHERS.COMPLEX.REFERENCE' | translate }}
                      </span>
                    </button>
                  </td>
                  <td class="text-right">
                    <button
                      class="btn btn-danger"
                      type="button"
                      ng-click="ComplexVoucherCtrl.removeVoucherItem($index)">
                      <span class="glyphicon glyphicon-trash"></span>
                    </button>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th colspan="3">{{ ComplexVoucherCtrl.rows.length | number }} {{ 'VOUCHERS.COMPLEX.ROWS' | translate }}</th>
                  <th class="text-right">{{ ComplexVoucherCtrl.sumDebit | currency:ComplexVoucherCtrl.voucher.currency_id }}</th>
                  <th class="text-right">{{ ComplexVoucherCtrl.sumCredit | currency:ComplexVoucherCtrl.voucher.currency_id }}</th>
                  <th colspan="3">&nbsp;</th>
                </tr>
              </tfoot>
            </table>

            <div class="panel-footer clearfix">

              <span ng-class="{'text-danger': !ComplexVoucherCtrl.validInput, 'text-success': ComplexVoucherCtrl.validInput}" ng-hide="ComplexVoucherCtrl.posted">
                <span ng-class="ComplexVoucherCtrl.notifyMessage.icon"></span>
                {{ ComplexVoucherCtrl.notifyMessage.label | translate }}
              </span>

              <button
                class="btn btn-primary pull-right"
                ng-disabled="!ComplexVoucherCtrl.validInput"
                ng-click="ComplexVoucherCtrl.submit(ComplexVoucherForm)"
                data-method="submit">
                {{ "FORM.BUTTONS.SUBMIT" | translate }}
              </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
