<!-- breadcrumb header -->
<bh-breadcrumb
  path   = "VoucherCtrl.bcPaths"
  button = "VoucherCtrl.bcButtons"
  print  = "VoucherCtrl.buttonPrint">
</bh-breadcrumb>

<div class="flex-util">
  <label class="label label-primary" ng-show="VoucherCtrl.dateInterval">
    <i class="fa fa-filter"></i>
    {{ VoucherCtrl.dateInterval.dateFrom | date: 'dd MMM yyyy' }} -
    {{ VoucherCtrl.dateInterval.dateTo | date: 'dd MMM yyyy' }}
  </label>
</div>

<div class="flex-content">
  <div class="container-fluid">

    <!-- vouchers list  -->
    <div
      id="voucherGrid"
      class="grid-util-full-height"
      ui-grid="VoucherCtrl.gridOptions"
      ui-grid-auto-resize
      ui-grid-resize-columns
      ui-grid-grouping>
    </div>

  </div>
</div>
