<div class="flex-header">
  <div class="bhima-title">
    <ol class="headercrumb">
      <li class="static" translate>TREE.FINANCE</li>
      <li class="title" translate>TREE.VOUCHER_REGISTRY</li>
    </ol>

    <div class="toolbar">
      <div class="toolbar-item">
        <button
          type="button"
          ng-click="VoucherCtrl.search()"
          data-method="search"
          class="btn btn-default">
          <i class="fa fa-search"></i> <span translate>FORM.BUTTONS.SEARCH</span>
        </button>
      </div>

      <div class="toolbar-item">
        <bh-pdf-print
          pdf-url="/reports/finance/vouchers"
          options="VoucherCtrl.dateInterval"
          disable-cache="true">
        </bh-pdf-print>
      </div>

      <div class="toolbar-item">
        <bh-renderer-dropdown
          report-url="/reports/finance/vouchers"
          report-options="VoucherCtrl.dateInterval">
        </bh-renderer-dropdown>
      </div>

      <div class="toolbar-item">
        <button
          type="button"
          ng-click="VoucherCtrl.toggleFilter()"
          data-method="filter"
          class="btn btn-default"
          ng-class="{ 'btn-info' : VoucherCtrl.filterEnabled }">
          <i class="fa fa-filter"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="flex-util bh-filter-bar" ng-show="VoucherCtrl.filtersFmt.length > 0">
  <bh-filters-applied
    style="max-width:90%"
    filters="VoucherCtrl.filtersFmt"
    on-remove-filter="VoucherCtrl.onRemoveFilter(filter)">
  </bh-filters-applied>

  <a
    href
    ng-click="VoucherCtrl.clearFilters()"
    class="text-danger"
    data-method="clear">
    <i class="fa fa-close text-danger"></i>
    <span translate>FORM.INFO.CLEAR_FILTERS</span>
  </a>
</div>

<div class="flex-content">
  <div class="container-fluid">

    <!-- vouchers list  -->
    <div
      id="voucher-grid"
      class="grid-full-height"
      ng-style="VoucherCtrl.filterBarHeight"
      ui-grid="VoucherCtrl.gridOptions"
      ui-grid-auto-resize
      ui-grid-resize-columns
      ui-grid-grouping>

    <bh-grid-loading-indicator
      loading-state="VoucherCtrl.loading"
      empty-state="VoucherCtrl.gridOptions.data.length === 0"
      error-state="VoucherCtrl.hasError">
    </bh-grid-loading-indicator>
  </div>
</div>
