<!-- breadcrumb header -->
<bh-breadcrumb
  path="SimpleVoucherCtrl.paths">
</bh-breadcrumb>

<div class="flex-content">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-6">

        <div class="panel panel-primary">
          <div class="panel-heading">
            {{ "VOUCHERS.SIMPLE.TITLE" | translate }}
          </div>

          <div class="panel-body">
            <form name="SimpleVoucherForm" bh-submit="SimpleVoucherCtrl.submit(SimpleVoucherForm)" autocomplete="off" novalidate>

              <bh-date-editor
                date-value="SimpleVoucherCtrl.voucher.date"
                validation-trigger="SimpleVoucherForm.$submitted"
                max-date="SimpleVoucherCtrl.timestamp"
              >
              </bh-date-editor>

              <div
                class="form-group"
                ng-class="{ 'has-error' : SimpleVoucherForm.$submitted && SimpleVoucherForm.description.$invalid }">
                <label class="control-label">{{ "FORM.LABELS.DESCRIPTION" | translate }}</label>
                <textarea
                  class="form-control"
                  name="description"
                  ng-model="SimpleVoucherCtrl.voucher.description"
                  placeholder="{{ 'FORM.PLACE_HOLDERS.ENTER_DESCRIPTION' | translate }}"
                  required>
                </textarea>
                <div class="help-block" ng-messages="SimpleVoucherForm.description.$error" ng-show="SimpleVoucherForm.$submitted">
                  <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
                </div>
              </div>

               <div
                 class="form-group"
                 ng-class="{ 'has-error' : SimpleVoucherForm.$submitted && SimpleVoucherForm.fromAccount.$invalid }">
                 <label class="control-label">
                   {{ "FORM.LABELS.FROM_ACCOUNT" | translate }}
                 </label>
                 <input
                   class="form-control"
                   name="fromAccount"
                   placeholder="{{ 'FORM.PLACE_HOLDERS.ENTER_ACCOUNT' | translate }}..."
                   uib-typeahead="account as account.hrlabel for account in SimpleVoucherCtrl.accounts | filter:$viewValue | limitTo:10"
                   typeahead-template-url="partials/templates/typeahead/accounts.html"
                   typeahead-editable="false"
                   ng-model="SimpleVoucherCtrl.voucher.fromAccount"
                   required>
                 <div class="help-block" ng-messages="SimpleVoucherForm.fromAccount.$error" ng-show="SimpleVoucherForm.$submitted">
                   <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
                 </div>
               </div>

               <div
                 class="form-group"
                 ng-class="{ 'has-error' : SimpleVoucherForm.$submitted && SimpleVoucherForm.toAccount.$invalid }">
                 <label class="control-label">
                   {{ "FORM.LABELS.TO_ACCOUNT" | translate }}
                 </label>
                 <input
                   class="form-control"
                   name="toAccount"
                   placeholder="{{ 'FORM.PLACE_HOLDERS.ENTER_ACCOUNT' | translate }}..."
                   uib-typeahead="account as account.hrlabel for account in SimpleVoucherCtrl.accounts | filter:$viewValue | limitTo:10"
                   typeahead-template-url="partials/templates/typeahead/accounts.html"
                   typeahead-editable="false"
                   ng-model="SimpleVoucherCtrl.voucher.toAccount"
                   required>
                 <div class="help-block" ng-messages="SimpleVoucherForm.toAccount.$error" ng-show="SimpleVoucherForm.$submitted">
                   <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
                 </div>
               </div>

              <!-- @TODO - use a currency selection component -->
              <div
                class="radio"
                ng-class="{ 'has-error' : SimpleVoucherForm.$submitted && SimpleVoucherForm.currency.$invalid }">
                <p><strong class="control-label">{{ "FORM.LABELS.CURRENCY" | translate }}</strong></p>
                <label ng-repeat="currency in SimpleVoucherCtrl.currencies track by currency.id" class="radio-inline">
                  <input
                    name="currency"
                    type="radio"
                    ng-model="SimpleVoucherCtrl.voucher.currency_id"
                    ng-value="currency.id"
                    data-currency-option="{{ currency.id }}"
                    required>
                  {{ currency.label }}
                </label>

                <div class="help-block" ng-messages="SimpleVoucherForm.currency.$error" ng-show="SimpleVoucherForm.$submitted">
                  <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
                </div>
              </div>

              <bh-currency-input
                data-voucher-currency-input
                currency-id="SimpleVoucherCtrl.voucher.currency_id"
                model="SimpleVoucherCtrl.voucher.amount"
                form="SimpleVoucherForm"
                validation-trigger="SimpleVoucherForm.$submitted"
                >
              </bh-currency-input>

              <div class="form-group">
                <div class="pull-right">
                  <bh-loading-button loading-state="SimpleVoucherForm.$loading" ng-disabled="SimpleVoucherCtrl.created">
                    {{ "FORM.BUTTONS.SUBMIT" | translate }}
                  </bh-loading-button>
                </div>
                <div class="clearfix"></div>
              </div>

              <!-- translate the server-sent error for the client -->
              <p class="alert alert-danger" ng-show="SimpleVoucherCtrl.httpError">
                <span class="glyphicon glyphicon-exclamation-sign"></span>{{ SimpleVoucherCtrl.httpError | translate }}
              </p>

              <!-- displays: "Record created successfully!" -->
              <p class="alert alert-success" ng-show="SimpleVoucherCtrl.created && SimpleVoucherForm.$pristine">
                <span class="glyphicon glyphicon-ok-sign"></span> {{ "FORM.INFOS.SAVE_SUCCESS" | translate }}
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
