<!-- breadcrumb header -->
<bh-breadcrumb
  path="SimpleVoucherCtrl.paths">
</bh-breadcrumb>

<div class="flex-content">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-6">

        <div class="panel panel-primary">
          <div class="panel-heading">
            {{ "VOUCHERS.SIMPLE.TITLE" | translate }}
          </div>

          <div class="panel-body">
            <form name="SimpleVoucherForm" bh-submit="SimpleVoucherCtrl.submit(SimpleVoucherForm)" autocomplete="off" autocomplete="off" autocapitalize="off" autocorrect="off" novalidate>

              <bh-date-editor
                date-value="SimpleVoucherCtrl.voucher.date"
                validation-trigger="SimpleVoucherForm.$submitted"
                max-date="SimpleVoucherCtrl.timestamp"
              >
              </bh-date-editor>

              <div class="form-group">
                <label for="">{{ 'FORM.LABELS.TRANSFER_TYPE' | translate }}</label>
                <select class="form-control"
                  ng-model="SimpleVoucherCtrl.selectedType"
                  ng-change="SimpleVoucherCtrl.buildDescription()" required>
                  <option value="" disabled>--- {{ 'FORM.SELECTS.SELECT_TRANSFER_TYPE' | translate }} ---</option>

                  <!-- incomes  -->
                  <optgroup label="{{ 'VOUCHERS.SIMPLE.INCOME' | translate }}">
                    <option value="{{ item }}" ng-repeat="item in SimpleVoucherCtrl.incomes">{{ item.text | translate }}</option>
                  </optgroup>

                  <!-- expenses  -->
                  <optgroup label="{{ 'VOUCHERS.SIMPLE.EXPENSE' | translate }}">
                    <option value="{{ item }}" ng-repeat="item in SimpleVoucherCtrl.expenses">{{ item.text | translate }}</option>
                  </optgroup>
                </select>
              </div>

              <div
                class="form-group"
                ng-class="{ 'has-error' : SimpleVoucherForm.$submitted && SimpleVoucherForm.description.$invalid }">
                <label>
                  {{ "FORM.LABELS.DESCRIPTION" | translate }}
                  <span
                    style="display: inline-block"
                    class="label"
                    ng-class="{'label-success': SimpleVoucherCtrl.incomeExpense==='income', 'label-warning': SimpleVoucherCtrl.incomeExpense==='expense'}">
                    {{ SimpleVoucherCtrl.descriptionPrefix }}
                    <span ng-if="SimpleVoucherCtrl.incomeExpense==='income'">({{ 'VOUCHERS.SIMPLE.INCOME' | translate }})</span>
                    <span ng-if="SimpleVoucherCtrl.incomeExpense==='expense'">({{ 'VOUCHERS.SIMPLE.EXPENSE' | translate }})</span>
                  </span>
                </label>
                <textarea
                  class="form-control"
                  name="description"
                  ng-model="SimpleVoucherCtrl.voucher.description"
                  placeholder="{{ 'FORM.PLACEHOLDERS.ENTER_DESCRIPTION' | translate }}"
                  ng-maxlength="SimpleVoucherCtrl.maxLength"
                  required>
                </textarea>
                <div class="help-block" ng-messages="SimpleVoucherForm.description.$error" ng-show="SimpleVoucherForm.$submitted">
                  <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
                </div>
              </div>

               <div
                 class="form-group"
                 ng-class="{ 'has-error' : SimpleVoucherForm.$submitted && SimpleVoucherForm.fromAccount.$invalid }">
                 <label class="control-label">
                   {{ "FORM.LABELS.FROM_ACCOUNT" | translate }}
                 </label>
                 <input
                   class="form-control"
                   name="fromAccount"
                   placeholder="{{ 'FORM.PLACEHOLDERS.ENTER_ACCOUNT' | translate }}..."
                   uib-typeahead="account as account.hrlabel for account in SimpleVoucherCtrl.accounts | filter:$viewValue | limitTo:10"
                   typeahead-template-url="partials/templates/typeahead/accounts.html"
                   typeahead-editable="false"
                   ng-model="SimpleVoucherCtrl.voucher.fromAccount"
                   required>
                 <div class="help-block" ng-messages="SimpleVoucherForm.fromAccount.$error" ng-show="SimpleVoucherForm.$submitted">
                   <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
                 </div>
               </div>

               <div
                 class="form-group"
                 ng-class="{ 'has-error' : SimpleVoucherForm.$submitted && SimpleVoucherForm.toAccount.$invalid }">
                 <label class="control-label">
                   {{ "FORM.LABELS.TO_ACCOUNT" | translate }}
                 </label>
                 <input
                   class="form-control"
                   name="toAccount"
                   placeholder="{{ 'FORM.PLACEHOLDERS.ENTER_ACCOUNT' | translate }}..."
                   uib-typeahead="account as account.hrlabel for account in SimpleVoucherCtrl.accounts | filter:$viewValue | limitTo:10"
                   typeahead-template-url="partials/templates/typeahead/accounts.html"
                   typeahead-editable="false"
                   ng-model="SimpleVoucherCtrl.voucher.toAccount"
                   required>
                 <div class="help-block" ng-messages="SimpleVoucherForm.toAccount.$error" ng-show="SimpleVoucherForm.$submitted">
                   <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
                 </div>
               </div>

               <bh-currency-select
                 currency-id="SimpleVoucherCtrl.voucher.currency_id"
                 validation-trigger="SimpleVoucherForm.$submitted"
                 >
               </bh-currency-select>

              <bh-currency-input
                data-voucher-currency-input
                currency-id="SimpleVoucherCtrl.voucher.currency_id"
                model="SimpleVoucherCtrl.voucher.amount"
                form="SimpleVoucherForm"
                validation-trigger="SimpleVoucherForm.$submitted"
                >
              </bh-currency-input>

              <div class="form-group text-right">
                <bh-loading-button loading-state="SimpleVoucherForm.$loading" ng-disabled="SimpleVoucherCtrl.created">
                  {{ "FORM.BUTTONS.SUBMIT" | translate }}
                </bh-loading-button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
