<!-- <div class="ui-grid-footer-panel ui-grid-footer-aggregates-row" style="height : 200px;"> -->
<!--     <div class="ui-grid-footer ui-grid-footer-viewport"> -->
<!--       <div class="ui-grid-footer-canvas"> -->
<!--         <div class="ui-grid-footer-cell-wrapper" ng-style="colContainer.headerCellWrapperStyle()"> -->
<!--           <div role="row" class="ui-grid-footer-cell-row"> -->
<!--             <div finance-footer> -->

<!--               <div class="ui-grid-footer-cell ui-grid-clearfix" style="min-width : {{calculate(colContainer.renderedColumns)}}px;"> -->
<!--                 <div class="ui-grid-cell-contents" style="text-align : right"> -->
<!--                   Total Cost -->
<!--                 </div> -->
<!--               </div> -->
<!--               <div class="ui-grid-footer-cell ui-grid-clearfix"> -->
<!--                 <div class="ui-grid-cell-contents"> -->
<!--                   $0.00 -->
<!--                 </div> --> 
<!--               </div> -->
<!--             <1!-- <div ui-grid-footer-cell role="gridcell"  ng-repeat="col in colContainer.renderedColumns track by col.uid" col="col" render-index="$index" class="ui-grid-footer-cell ui-grid-clearfix">{{col.drawnWidth}}</div> --1> -->
<!--             </div> -->
<!--           </div> -->
<!--         </div> -->
<!--       </div> -->
<!--     </div> --> 
<!--   </div> --> 
<!-- </div> -->
