<div style="padding : 5px;">
  <div ng-if="!row.entity._initialised">
    <!-- TODO Design and implement custom typeahead template -->
    <input
      class="form-control"
      ng-model="row.entity.inventory_uuid"
      typeahead-editable="false"
      typeahead-append-to-body="true"
      uib-typeahead="item.uuid as item for item in grid.appScope.Invoice.inventory.available.data | filter:{'hrlabel':$viewValue} | limitTo:10"
      typeahead-template-url="/modules/templates/inventoryItems.tmpl.html"
      typeahead-on-select="grid.appScope.Invoice.configureItem(row.entity)">
  </div>
  <div ng-if="row.entity._initialised">
    <span
      class="text-info"
      ng-show="row.entity._hasPriceList"
      uib-popover="{{ 'PATIENT_INVOICE.BASE_PRICE_ALTERED' | translate }}"
      popover-placement="right"
      popover-append-to-body="true"
      popover-trigger="mouseenter">
      <span class="fa fa-info-circle"></span>
    </span>
    <span>{{ row.entity.code }}</span>
  </div>
</div>
