<!-- breadcrumb header -->
<bh-breadcrumb
  path="InventoryCtrl.bcPaths"
  button="InventoryCtrl.bcButtons">
</bh-breadcrumb>

<div class="flex-content">
  <div class="container">

    <div class="panel panel-primary">

      <div class="panel-heading">
        <i class="fa fa-list"></i>
        {{ 'INVENTORY.LIST_GROUP' | translate }} ({{ InventoryCtrl.groupList.length }})
      </div>

      <table class="table table-condensed">
        <thead>
          <tr>
            <th>{{ 'FORM.LABELS.CODE' | translate }}</th>
            <th>{{ 'FORM.LABELS.NAME' | translate }}</th>
            <th>{{ 'INVENTORY.CONTAINS' | translate }}</th>
            <th class="text-center" colspan="3">{{ 'FORM.LABELS.ACCOUNT' | translate }}</th>
            <th>&nbsp;</th>
          </tr>
          <tr>
            <th></th><th></th><th></th>
            <th class="text-center"><small>{{ 'FORM.LABELS.SALE' | translate }}</small></th>
            <th class="text-center"><small>{{ 'FORM.LABELS.STOCK' | translate }}</small></th>
            <th class="text-center"><small>{{ 'FORM.LABELS.CHARGE' | translate }}</small></th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="group in InventoryCtrl.groupList">
            <td>{{ group.code }}</td>
            <td>{{ group.name }}</td>
            <td>{{ group.inventory_counted }} <small>{{ 'INVENTORY.ELEMENT' | translate | lowercase }}(s)</small></td>
            <td class="text-center">{{ group.saleAccountNumber }}</td>
            <td class="text-center">{{ group.stockAccountNumber }}</td>
            <td class="text-center">{{ group.cogsAccountNumber }}</td>
            <td>
              <a style="cursor:pointer; text-decoration:none;" ng-click="InventoryCtrl.editInventoryGroup(group.uuid)"><i class="fa fa-edit"></i> {{ 'FORM.LABELS.EDIT' | translate }}</a>
            </td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>
</div>
