<header data-header>
  {{ "INVENTORY.GROUPS.TITLE" | translate }}
</header>

<nav>
  <div class="pull-left">
    <ol class="breadcrumb" style="float: right;">
      <li><a href="#/"><span class="glyphicon glyphicon-home"></span></a></li>
      <li><a href="#/inventory">{{ "INVENTORY.MAIN.TITLE" | translate }}</a></li>
      <li class="active">{{ "INVENTORY.GROUPS.TITLE" | translate }}</li>
    </ol>
  </div>

  <div class="pull-right">
    <button class="btn btn-sm btn-default" ng-click="add()">
      <span class="glyphicon glyphicon-plus"></span>
      {{ "INVENTORY.GROUPS.CREATE_GROUP" | translate }}
    </button>
  </div>
</nav>

<main>
  <div class="row margin-top-10">

    <div class="col-xs-6">
      <div class="panel panel-primary" style="max-height: 550px; overflow: auto;">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-list-alt"></span>
          {{ "INVENTORY.GROUPS.ALL_GROUPS" | translate }}
        </div>
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>{{ "COLUMNS.NAME" | translate }}</th>
              <th>{{ "COLUMNS.CODE" | translate }}</th>
              <th>{{ "INVENTORY.GROUPS.SALES_ACCOUNT" | translate }}</th>
              <th>{{ "INVENTORY.GROUPS.COGS_ACCOUNT" | translate }}</th>
              <th>{{ "INVENTORY.GROUPS.STOCK_ACCOUNT" | translate }}</th>
              <th>{{ "INVENTORY.GROUPS.DONATION_ACCOUNT" | translate }}</th>
              <th>{{ "COLUMNS.ACTIONS" | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="group in groups.data | orderBy:'code' track by group.uuid">
              <td>{{ group.name }}</td>
              <td>{{ group.code }}</td>
              <td>{{ accounts.get(group.sales_account).number }}</td>
              <td>{{ accounts.get(group.cogs_account).number }}</td>
              <td>{{ accounts.get(group.stock_account).number }}</td>
              <td>{{ accounts.get(group.donation_account).number }}</td>
              <td>
                <a class="action" ng-click="edit(group)">
                  <span class="glyphicon glyphicon-pencil"></span>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-xs-6" ng-switch="action">

      <div ng-switch-default>
        <div class="alert alert-info">
          <h5>{{ "INVENTORY.GROUPS.TITLE" | translate }}</h5>
          <p>
            {{"INVENTORY.GROUPS.ALERT" | translate }}
          </p>
        </div>
      </div>

      <form class="form-horizontal" ng-switch-when="add">

        <legend>{{ "INVENTORY.GROUPS.ADD" | translate }}</legend>

        <div class="form-group">
          <label class="col-xs-2 control-label required" for="group-name">
            {{ "COLUMNS.NAME" | translate }}
          </label>
          <div class="col-xs-10">
            <input id="group-name" class="form-bhima" placeholder="{{ 'PLACEHOLDERS.PRODUCTS' | translate }}" ng-model="group.name" required>
          </div>
        </div>
        <div class="form-group">
          <label class="col-xs-2 control-label required">
            {{ "COLUMNS.CODE" | translate }}
          </label>
          <div class="col-xs-10">
            <input id="group-name" class="form-bhima" placeholder="010" ng-model="group.code">
          </div>
        </div>

        <div class="form-group">
          <label class="col-xs-2 control-label required" for="group-sales-account">
            {{ "INVENTORY.GROUPS.SALES_ACCOUNT" | translate }}
          </label>
          <div class="col-xs-10">

            <select class="form-bhima" ng-model="group.sales_account" ng-options="account.id as account.label for account in accounts.data | orderBy:'number'">
              <option value="" disabled>-- {{ "SELECT.ACCOUNT" | translate }} --</option>
            </select>

          </div>
        </div>

        <div class="form-group">
          <label class="col-xs-2 control-label required" for="group-cogs-account">
            {{ "INVENTORY.GROUPS.COGS_ACCOUNT" | translate }}
          </label>
          <div class="col-xs-10">
            <select class="form-bhima" ng-model="group.cogs_account" ng-options="account.id as account.label for account in accounts.data | orderBy:'number'">
              <option value="" disabled>-- {{ "SELECT.ACCOUNT" | translate }} --</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-xs-2 control-label required" for="group-stock-account">
            {{ "INVENTORY.GROUPS.STOCK_ACCOUNT" | translate }}
          </label>
          <div class="col-xs-10">
            <select class="form-bhima" ng-model="group.stock_account" ng-options="account.id as account.label for account in accounts.data | orderBy:'number'">
              <option value="" disabled>-- {{ "SELECT.ACCOUNT" | translate }} --</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-xs-2 control-label" for="group-tax-account">
            {{ "INVENTORY.GROUPS.DONATION_ACCOUNT" | translate }}
          </label>
          <div class="col-xs-10">
            <select class="form-bhima" ng-model="group.donation_account" ng-options="account.id as account.label for account in accounts.data | orderBy:'number'">
              <option value="" disabled>-- {{ "SELECT.ACCOUNT" | translate }} --</option>
            </select>
          </div>
        </div>

        <button type="button" class="btn btn-sm btn-success" ng-click="submitAdd()">
          {{ "FORM.SAVE_CHANGES" | translate }}
        </button>
        <button type="button" class="btn btn-sm btn-default" ng-click="discard()">
          {{ "FORM.DISCARD" | translate}}
        </button>
      </form>


      <form class="form-horizontal" ng-switch-when="edit">
        <legend>{{ "INVENTORY.GROUPS.EDIT" | translate }}</legend>

        <div class="form-group">
          <label class="col-xs-2 control-label required" for="group-name">
            {{ "COLUMNS.NAME" | translate }}
          </label>
          <div class="col-xs-10">
            <input id="group-name" class="form-bhima" placeholder="{{ 'PLACEHOLDERS.PRODUCTS' | translate }}" ng-model="group.name" required>
          </div>
        </div>
        <div class="form-group">
          <label class="col-xs-2 control-label required">
            {{ "COLUMNS.CODE" | translate }}
          </label>
          <div class="col-xs-10">
            <input id="group-name" class="form-bhima" placeholder="010" ng-model="group.code">
          </div>
        </div>

        <div class="form-group">
          <label class="col-xs-2 control-label required" for="group-sales-account">
            {{ "INVENTORY.GROUPS.SALES_ACCOUNT" | translate }}
          </label>
          <div class="col-xs-10">
            <select id="group-sales-account" class="form-bhima" ng-model="group.sales_account" ng-options="account.id as account.label for account in accounts.data |  orderBy:'number'">
              <option value="" disabled>-- {{ "SELECT.ACCOUNT" | translate }} --</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-xs-2 control-label required" for="group-cogs-account">
            {{ "INVENTORY.GROUPS.COGS_ACCOUNT" | translate }}
          </label>
          <div class="col-xs-10">
            <select id="group-cogs-account" class="form-bhima" ng-model="group.cogs_account" ng-options="account.id as account.label for account in accounts.data | orderBy:'number'">
              <option value="" disabled>-- {{ "SELECT.ACCOUNT" | translate }} --</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-xs-2 control-label required" for="group-stock-account">
            {{ "INVENTORY.GROUPS.STOCK_ACCOUNT" | translate }}
          </label>
          <div class="col-xs-10">
            <select id="group-stock-account" class="form-bhima" ng-model="group.stock_account" ng-options="account.id as account.label for account in accounts.data | orderBy:'number'">
              <option value="" disabled>-- {{ "SELECT.ACCOUNT" | translate }} --</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-xs-2 control-label" for="group-donation-account">
            {{ "INVENTORY.GROUPS.DONATION_ACCOUNT" | translate }}
          </label>
          <div class="col-xs-10">
            <select id="group-donation-account" class="form-bhima" ng-model="group.donation_account" ng-options="account.id as account.label for account in accounts.data | orderBy:'number'">
              <option value="" disabled>-- {{ "SELECT.ACCOUNT" | translate }} --</option>
            </select>
          </div>
        </div>

        <button type="button" class="btn btn-sm btn-success" ng-click="submitEdit()">
          {{ "FORM.SAVE_CHANGES" | translate }}
        </button>
        <button type="button" class="btn btn-sm btn-default" ng-click="discardEdit()">
          {{ "FORM.DISCARD" | translate}}
        </button>
      </form>

    </div>
  </div>
</main>
