<div class="ui-grid-cell-contents" uib-dropdown dropdown-append-to-body uib-dropdown-toggle>
  <a href>
    <span data-method="action" translate>FORM.BUTTONS.ACTIONS</span>
    <span class="caret"></span>
  </a>

  <ul data-action="{{ rowRenderIndex}}"  class="dropdown-menu-right" uib-dropdown-menu>
    <li class="dropdown-header">{{row.entity.reference}}</li>
    <li>
      <a data-method="record" ui-sref="patientRecord.details({patientID : row.entity.uuid})" href>
        <span class="fa fa-book"></span> <span translate>PATIENT_REGISTRY.RECORD</span>
      </a>
    </li>
    <li>
      <a data-method="edit" ui-sref="patientEdit({uuid : row.entity.uuid})" href>
        <span class="fa fa-edit"></span> <span translate>TABLE.COLUMNS.EDIT</span>
      </a>
    </li>
    <li>
      <a data-method="card" ng-click="grid.appScope.patientCard(row.entity.uuid)" href>
        <span class="fa fa-id-card-o"></span> <span translate>PATIENT_REGISTRY.CARD</span>
      </a>
    </li>
    <li class="divider"></li>
    <li>
      <a data-method="invoice" ui-sref="invoiceRegistry({ filters : { key : 'patientReference', value : row.entity.reference }})" href>
        <span class="fa fa-file-text-o"></span> <span translate>PATIENT_REGISTRY.INVOICES</span>
      </a>
    </li>
    <li>
      <a data-method="payment" ui-sref="cashRegistry({ filters : { key : 'patientReference', value : row.entity.reference }})" href>
        <span class="fa fa-money"></span> <span translate>PATIENT_REGISTRY.PAYMENTS</span>
      </a>
    </li>
    <li>
      <a data-method="voucher" ui-sref="vouchers({ filters : [{ key : 'entity_uuid', value : row.entity.debtor_uuid, displayValue: row.entity.display_name }]})" href>
        <span class="fa fa-address-card-o"></span> <span translate>PATIENT_REGISTRY.VOUCHERS</span>
      </a>
    </li>
  </ul>
</div>
