<div ng-form="TagForm" bh-tag-select ng-model-options="{ updateOn: 'default' }">
  <div
    class="form-group"
    ng-class="{ 'has-error' : TagForm.$submitted && TagForm.tagUuids.$invalid }">

    <label class="control-label">
      <span translate>{{ $ctrl.label }}</span>
      <span ng-if="$ctrl.enableAddTag">&nbsp;&nbsp;<a style="cursor: pointer;" ng-click="$ctrl.createUpdateTagsModal()" translate>TAG.ADD</a></span>
    </label>

    <ng-transclude></ng-transclude>

    <ui-select
      name="tagUuids"
      ng-model="$ctrl.tagUuids"
      on-select="$ctrl.onChanges()"
      on-remove="$ctrl.onChanges()"
      multiple="true"
      close-on-select="false"
      ng-required="$ctrl.required">

      <ui-select-match placeholder="{{ 'FORM.SELECT.TAGS' | translate }}">
        <i class="fa fa-circle" ng-style="$ctrl.getTagColor($item)"></i>
        <span>{{$item.name}}</span>
      </ui-select-match>

      <ui-select-choices repeat="tag as tag in $ctrl.tags | filter: { 'name': $select.search }">
        <span><i class="fa fa-circle" ng-style="$ctrl.getTagColor(tag)"></i> <span translate>{{ tag.name }}</span></span>
      </ui-select-choices>
    </ui-select>

    <div class="help-block" ng-messages="TagForm.tagUuids.$error" ng-show="TagForm.$submitted">
      <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
    </div>
  </div>
</div>
