<div class="flex-header">
  <div class="bhima-title">
    <ol class="headercrumb">
      <li class="static">{{ "TREE.ADMIN" | translate }}</li>
      <li class="active">{{ "PROJECT.TITLE" | translate }}</li>
    </ol>
  </div>
</div>

<div class="flex-util">
  <button class="btn btn-sm btn-default" id="create" ng-click="ProjectCtrl.create()" data-method="create">
    <span class="glyphicon glyphicon-plus-sign"></span> {{ 'PROJECT.ADD_PROJECT' | translate }}
  </button>
</div>

<div class="flex-content">
  <div class="container-fluid">
    <div class="row">

      <div class="col-xs-6">
        <div class="panel panel-default" style="overflow: auto; max-height: 500px;">
          <div class="panel-heading">
            {{ 'PROJECT.ALL_PROJECTS' | translate }}
          </div>
          <table class="table table-condensed table-hover">
            <thead>
              <tr>
                <th>{{ 'TABLE.COLUMNS.ID' | translate }}</th>
                <th>{{ 'TABLE.COLUMNS.NAME' | translate }}</th>
                <th>{{ 'TABLE.COLUMNS.ABBREVIATION' | translate }}</th>
                <th>{{ 'TABLE.COLUMNS.ENTERPRISE_ID' | translate }}</th>
                <th colspan="2">{{ 'TABLE.COLUMNS.ACTION' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="project in ProjectCtrl.projects | orderBy:'name' track by project.id" ng-class="{ 'btn-primary' : editProject.id == project.id }">
                <td>{{ project.id }}</td>
                <td>{{ project.name }}</td>
                <td>{{ project.abbr }}</td>
                <td>{{ project.enterprise_id }}</td>
                <td>
                  <a class="btn btn-xs btn-default" ng-click="ProjectCtrl.update(project)" id="project-upd-{{ project.id }}"><span class="glyphicon glyphicon-pencil"></span></a>
                </td>
                <td>
                  <a class="btn btn-xs btn-default" ng-click="ProjectCtrl.del(project)" id="project-del-{{ project.id }}" class="danger">
                    <span class="glyphicon glyphicon-trash"></span>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-xs-6" ng-switch="ProjectCtrl.view">
        <div ng-switch-default>
          <div class="alert alert-info" id="default">
            <h4>{{ 'PROJECT.TITLE' | translate }}</h4>
            <p> {{ 'PROJECT.DESCRIPTION' | translate }}</p>
          </div>
        </div>

        <div ng-switch-when="create_success">
          <div class="alert alert-success" id="create_success">
            <h4>{{ 'FORM.INFOS.SAVE_SUCCESS' | translate }} </h4>
          </div>
        </div>

        <div ng-switch-when="update_success">
          <div class="alert alert-success" id="update_success">
            <h4>{{ 'FORM.INFOS.UPDATE_SUCCESS' | translate }} </h4>
          </div>
        </div>

        <div ng-switch-when="delete_success">
          <div class="alert alert-success" id="delete_success">
            <h4>{{ 'FORM.INFOS.DELETE_SUCCESS' | translate }} </h4>
          </div>
        </div>

        <div ng-switch-when="delete_error">
          <div class="alert alert-danger" id="delete_error">
            <h4>{{ ProjectCtrl.HTTPError.data.code | translate }} </h4>
          </div>
        </div>

        <div class="panel panel-primary" ng-switch-when="create">
          <div class="panel-heading">{{ 'PROJECT.ADDING_PROJECT' | translate }}</div>
          <div class="panel-body">
            <form class="panel-body" name="CreateForm" ng-submit="ProjectCtrl.submit(CreateForm.$invalid)" novalidate>
              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.name.$invalid }">
                <label class="control-label" for="bhima-project-name">{{ 'FORM.LABELS.NAME' | translate }}</label>
                <input type="text" class="form-control" name="name" id="bhima-project-name" ng-model="ProjectCtrl.project.name" required>
                <div class="help-block" ng-messages="CreateForm.name.$error" ng-show="CreateForm.$submitted">
                  <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.abbr.$invalid }">
                <label for="bhima-project-abbr" class="control-label">{{ "FORM.LABELS.ABBREVIATION" | translate }}</label>
                <input type="text" class="form-control" name="abbr" required id="bhima-project-abbr" ng-model="ProjectCtrl.project.abbr">
                <div class="help-block" ng-messages="CreateForm.abbr.$error" ng-show="CreateForm.$submitted">
                  <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.enterprise_id.$invalid }">
                <label class="control-label">{{ "FORM.LABELS.ENTERPRISE" | translate }}</label>
                <select class="form-control" name="enterprise_id" ng-model="ProjectCtrl.project.enterprise_id" id="bhima-enterprise-enterprise_id" ng-options="e.id as e.name for e in ProjectCtrl.enterprises | orderBy:'name'" required>
                  <option value="" disabled> -- {{ 'FORM.SELECTS.SELECT_ENTERPRISE' | translate }} -- </option>
                </select>
                <div class="help-block" ng-messages="CreateForm.enterprise_id.$error" ng-show="CreateForm.$submitted">
                  <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
                </div>
              </div>

              <!-- zone de sante for snis -->
              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.zs_id.$invalid }">
                <label class="control-label">{{ 'FORM.LABELS.ZS' | translate }}</label>
                <select class="form-control" name="zs_id" ng-model="ProjectCtrl.project.zs_id" id="bhima-project-zs" ng-options="zs.id as zs.format for zs in ProjectCtrl.zones | orderBy:'zone'" required>
                  <option value="" disabled> -- {{ 'FORM.SELECTS.SELECT_ZS' | translate }} -- </option>
                </select>
                <div class="help-block" ng-messages="CreateForm.zs_id.$error" ng-show="CreateForm.$submitted">
                  <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
                </div>
              </div>
              <!-- end zone de sante for snis -->

              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.locked.$invalid }">
                <label class="control-label">
                  <input type="checkbox"  name="locked" id="locked" ng-true-value="1" ng-false-value="0"
                    ng-model="ProjectCtrl.project.locked">  {{ "FORM.LABELS.LOCKED" | translate }}
                </label>
              </div>

              <div class="form-group">
                  <button class="btn btn-default" id="submit-project" type="submit" data-method="submit">
                    {{ "FORM.BUTTONS.SUBMIT" | translate }}
                  </button>
                  <button class="btn btn-default" type="button" ng-click="ProjectCtrl.cancel()" data-method="cancel">
                    {{ "FORM.BUTTONS.CANCEL" | translate }}
                  </button>
              </div>
            </form>
          </div>
        </div>

        <div class="panel panel-primary" ng-switch-when="update">
          <div class="panel-heading">{{ 'PROJECT.EDITING_PROJECT' | translate }}</div>
          <div class="panel-body">
            <form class="panel-body" name="UpdateForm" ng-submit="ProjectCtrl.submit(UpdateForm.$invalid)" novalidate>
              <div class="form-group" ng-class="{ 'has-error' : UpdateForm.$submitted && UpdateForm.name.$invalid }">
                <label class="control-label" for="bhima-project-name">{{ 'FORM.LABELS.NAME' | translate }}</label>
                <input type="text" class="form-control" name="name" id="bhima-project-name" ng-model="ProjectCtrl.project.name" required>
                <div class="help-block" ng-messages="UpdateForm.name.$error" ng-show="UpdateForm.$submitted">
                  <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : UpdateForm.$submitted && UpdateForm.abbr.$invalid }">
                <label for="bhima-project-abbr" class="control-label">{{ "FORM.LABELS.ABBREVIATION" | translate }}</label>
                <input type="text" class="form-control" name="abbr" required id="bhima-project-abbr" ng-model="ProjectCtrl.project.abbr">
                <div class="help-block" ng-messages="UpdateForm.abbr.$error" ng-show="UpdateForm.$submitted">
                  <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : UpdateForm.$submitted && UpdateForm.enterprise_id.$invalid }">
                <label class="control-label">{{ "FORM.LABELS.ENTERPRISE" | translate }}</label>
                <select class="form-control" name="enterprise_id" ng-model="ProjectCtrl.project.enterprise_id" id="bhima-enterprise-enterprise_id" ng-options="e.id as e.name for e in ProjectCtrl.enterprises | orderBy:'name'" required>
                  <option value="" disabled> -- {{ 'FORM.SELECTS.SELECT_ENTERPRISE' | translate }} -- </option>
                </select>
                <div class="help-block" ng-messages="UpdateForm.enterprise_id.$error" ng-show="UpdateForm.$submitted">
                  <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
                </div>
              </div>

              <!-- zone de sante for snis -->
              <div class="form-group" ng-class="{ 'has-error' : UpdateForm.$submitted && UpdateForm.zs_id.$invalid }">
                <label class="control-label">{{ 'FORM.LABELS.ZS' | translate }}</label>
                <select class="form-control" name="zs_id" ng-model="ProjectCtrl.project.zs_id" id="bhima-project-zs" ng-options="zs.id as zs.format for zs in ProjectCtrl.zones | orderBy:'zone'" required>
                  <option value="" disabled> -- {{ 'FORM.SELECTS.SELECT_ZS' | translate }} -- </option>
                </select>
                <div class="help-block" ng-messages="UpdateForm.zs_id.$error" ng-show="UpdateForm.$submitted">
                  <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
                </div>
              </div>
              <!-- end zone de sante for snis -->

              <div class="form-group" ng-class="{ 'has-error' : UpdateForm.$submitted && UpdateForm.locked.$invalid }">
                <label class="control-label">
                  <input type="checkbox"  name="locked" id="locked" ng-true-value="1" ng-false-value="0"
                    ng-model="ProjectCtrl.project.locked">  {{ "FORM.LABELS.LOCKED" | translate }}
                </label>
              </div>
              <div class="form-group">
                  <button class="btn btn-default" id="change_project" type="submit" data-method="submit">
                    {{ "FORM.BUTTONS.SUBMIT" | translate }}
                  </button>
                  <button class="btn btn-default" type="button" ng-click="ProjectCtrl.cancel()" data-method="cancel">
                    {{ "FORM.BUTTONS.CANCEL" | translate }}
                  </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
