<div class="flex-header">
  <div class="bhima-title">
    <ol class="headercrumb">
      <li class="static">{{ "TREE.ADMIN" | translate }}</li>
      <li class="title">{{ "PROJECT.TITLE" | translate }}</li>
    </ol>

    <div class="toolbar">
      <div class="toolbar-item">
        <button class="btn btn-default" ng-click="ProjectCtrl.create()" data-method="create">
          <i class="fa fa-plus-circle"></i> {{ 'PROJECT.ADD_PROJECT' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>

<div class="flex-content">
  <div class="container-fluid">
    <div class="row">

      <div class="col-xs-6">
        <div class="panel panel-default" style="overflow: auto; max-height: 500px;">
          <div class="panel-heading">
            {{ 'PROJECT.ALL_PROJECTS' | translate }}
          </div>
          <table class="table table-condensed table-hover">
            <thead>
              <tr>
                <th>{{ 'TABLE.COLUMNS.ID' | translate }}</th>
                <th>{{ 'TABLE.COLUMNS.NAME' | translate }}</th>
                <th>{{ 'TABLE.COLUMNS.ABBREVIATION' | translate }}</th>
                <th>{{ 'TABLE.COLUMNS.ENTERPRISE_ID' | translate }}</th>
                <th colspan="2">{{ 'TABLE.COLUMNS.ACTION' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="project in ProjectCtrl.projects | orderBy:'name' track by project.id">
                <td>{{ project.id }}</td>
                <td>{{ project.name }}</td>
                <td>{{ project.abbr }}</td>
                <td>{{ project.enterprise_id }}</td>
                <td>
                  <a class="btn btn-xs btn-default" ng-click="ProjectCtrl.update(project)" id="project-upd-{{ project.id }}">
                    <span class="fa fa-pencil"></span>
                  </a>
                </td>
                <td class="text-danger">
                  <a class="btn btn-xs btn-default" ng-click="ProjectCtrl.remove(project.id)" id="project-del-{{ project.id }}">
                    <span class="fa fa-trash"></span>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-xs-6" ng-switch="ProjectCtrl.view">
        <div ng-switch-default>
          <div class="alert alert-info" id="default">
            <h4>{{ 'PROJECT.TITLE' | translate }}</h4>
            <p>{{ 'PROJECT.DESCRIPTION' | translate }}</p>
          </div>
        </div>

        <div class="panel panel-primary" ng-switch-when="create">
          <div class="panel-heading">{{ 'PROJECT.ADDING_PROJECT' | translate }}</div>
          <div class="panel-body">
            <form
              name="CreateForm"
              bh-submit="ProjectCtrl.submit(CreateForm)"
              bh-form-defaults
              novalidate>
              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.name.$invalid }">
                <label class="control-label">{{ 'FORM.LABELS.NAME' | translate }}</label>
                <input type="text" class="form-control" name="name" ng-maxlength="ProjectCtrl.maxLength" ng-model="ProjectCtrl.project.name" required>
                <div class="help-block" ng-messages="CreateForm.name.$error" ng-show="CreateForm.$submitted">
                  <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.abbr.$invalid }">
                <label class="control-label">{{ "FORM.LABELS.ABBREVIATION" | translate }}</label>
                <input type="text" class="form-control" name="abbr"ng-maxlength="ProjectCtrl.length3" ng-model="ProjectCtrl.project.abbr" required >
                <div class="help-block" ng-messages="CreateForm.abbr.$error" ng-show="CreateForm.$submitted">
                  <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.enterprise_id.$invalid }">
                <label class="control-label">{{ "FORM.LABELS.ENTERPRISE" | translate }}</label>
                <select class="form-control" name="enterprise_id" ng-model="ProjectCtrl.project.enterprise_id"  ng-options="e.id as e.name for e in ProjectCtrl.enterprises | orderBy:'name'" required>
                  <option value="" disabled>{{ 'FORM.SELECT.ENTERPRISE' | translate }}</option>
                </select>
                <div class="help-block" ng-messages="CreateForm.enterprise_id.$error" ng-show="CreateForm.$submitted">
                  <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
                </div>
              </div>

              <!-- zone de sante for snis -->
              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.zs_id.$invalid }">
                <label class="control-label">{{ 'FORM.LABELS.ZS' | translate }}</label>
                <select
                  class="form-control"
                  name="zs_id"
                  ng-model="ProjectCtrl.project.zs_id"
                  ng-options="zs.id as zs.format for zs in ProjectCtrl.zones | orderBy:'zone'"
                  required>
                  <option value="" disabled>{{ 'FORM.SELECT.ZS' | translate }}</option>
                </select>
                <div class="help-block" ng-messages="CreateForm.zs_id.$error" ng-show="CreateForm.$submitted">
                  <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
                </div>
              </div>
              <!-- end zone de sante for snis -->

              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.locked.$invalid }">
                <label class="control-label">
                  <input
                    type="checkbox"
                    name="locked"
                    ng-true-value="1"
                    ng-false-value="0"
                    ng-model="ProjectCtrl.project.locked">
                    {{ "FORM.LABELS.LOCKED" | translate }}
                </label>
              </div>

              <div class="form-group">
                <bh-loading-button loading-state="CreateForm.$loading">
                  {{ "FORM.BUTTONS.SUBMIT" | translate }}
                </bh-loading-button>

                <button class="btn btn-default" type="button" ng-click="ProjectCtrl.cancel()" data-method="cancel">
                  {{ "FORM.BUTTONS.CANCEL" | translate }}
                </button>
              </div>
            </form>
          </div>
        </div>

        <div class="panel panel-primary" ng-switch-when="update">
          <div class="panel-heading">{{ 'PROJECT.EDITING_PROJECT' | translate }}</div>
          <div class="panel-body">
            <form
              name="UpdateForm"
              bh-submit="ProjectCtrl.submit(UpdateForm)"
              bh-form-defaults
              novalidate>
              <div class="form-group" ng-class="{ 'has-error' : UpdateForm.$submitted && UpdateForm.name.$invalid }">
                <label class="control-label">{
                  {{ 'FORM.LABELS.NAME' | translate }}
                </label>
                <input type="text" class="form-control" name="name" ng-maxlength="ProjectCtrl.maxLength" ng-model="ProjectCtrl.project.name" required>
                <div class="help-block" ng-messages="UpdateForm.name.$error" ng-show="UpdateForm.$submitted">
                  <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : UpdateForm.$submitted && UpdateForm.abbr.$invalid }">
                <label class="control-label">{{ "FORM.LABELS.ABBREVIATION" | translate }}</label>
                <input type="text" class="form-control" name="abbr" ng-maxlength="ProjectCtrl.length3" ng-model="ProjectCtrl.project.abbr" required >
                <div class="help-block" ng-messages="UpdateForm.abbr.$error" ng-show="UpdateForm.$submitted">
                  <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : UpdateForm.$submitted && UpdateForm.enterprise_id.$invalid }">
                <label class="control-label">{{ "FORM.LABELS.ENTERPRISE" | translate }}</label>
                <select class="form-control" name="enterprise_id" ng-model="ProjectCtrl.project.enterprise_id" ng-options="e.id as e.name for e in ProjectCtrl.enterprises | orderBy:'name'" required>
                  <option value="" disabled>{{ 'FORM.SELECT.ENTERPRISE' | translate }}</option>
                </select>
                <div class="help-block" ng-messages="UpdateForm.enterprise_id.$error" ng-show="UpdateForm.$submitted">
                  <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
                </div>
              </div>

              <!-- zone de sante for snis -->
              <div class="form-group" ng-class="{ 'has-error' : UpdateForm.$submitted && UpdateForm.zs_id.$invalid }">
                <label class="control-label">{{ 'FORM.LABELS.ZS' | translate }}</label>
                <select class="form-control" name="zs_id" ng-model="ProjectCtrl.project.zs_id" ng-options="zs.id as zs.format for zs in ProjectCtrl.zones | orderBy:'zone'" required>
                  <option value="" disabled>{{ 'FORM.SELECT.ZS' | translate }}</option>
                </select>
                <div class="help-block" ng-messages="UpdateForm.zs_id.$error" ng-show="UpdateForm.$submitted">
                  <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
                </div>
              </div>
              <!-- end zone de sante for snis -->

              <div class="form-group" ng-class="{ 'has-error' : UpdateForm.$submitted && UpdateForm.locked.$invalid }">
                <label class="control-label">
                  <input
                    type="checkbox"
                    name="locked"
                    ng-true-value="1"
                    ng-false-value="0"
                    ng-model="ProjectCtrl.project.locked">
                    {{ "FORM.LABELS.LOCKED" | translate }}
                </label>
              </div>
              <div class="form-group">
                <bh-loading-button loading-state="UpdateForm.$loading">
                  {{ "FORM.BUTTONS.SUBMIT" | translate }}
                </bh-loading-button>
                <button class="btn btn-default" type="button" ng-click="ProjectCtrl.cancel()" data-method="cancel">
                  {{ "FORM.BUTTONS.CANCEL" | translate }}
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
