<header data-header>
  {{ 'PROJECT.TITLE' | translate }}
</header>

<nav>
  <div class="pull-left">
    <ol class="breadcrumb">
      <li><a href="#/"><span class="glyphicon glyphicon-home"></span></a></li>
      <li class="active">{{ "PROJECT.TITLE" | translate }}</li>
    </ol>
  </div>

  <div class="pull-right">
    <button class="btn btn-sm btn-default" id="create" ng-click="ProjectCtrl.create()" data-method="create">
      <span class="glyphicon glyphicon-plus-sign"></span> {{ 'PROJECT.NEW' | translate }}
    </button>
  </div>
</nav>

<div class="report visible-print">
  <div class="reportBody">
    <div class="reportFrame">
      <h4>{{ enterprises.get(projects.data[0].enterprise_id).name }}</h4>
      <h4>{{ "PROJECT.PRINT_TITLE" | translate }} <small> {{timestamp | date}}</small></h4>
      <table class="reportTable">
        <thead>
          <tr>
            <th>{{ 'COLUMNS.ID' | translate }}</th>
            <th>{{ 'COLUMNS.NAME' | translate }}</th>
            <th>{{ 'COLUMNS.ABBR' | translate }}</th>
            <th>{{ 'COLUMNS.ENTERPRISE_ID' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat='project in ProjectCtrl.projects'>
            <td>{{ project.id }}</td>
            <td>{{ project.name }}</td>
            <td>{{ project.abbr }}</td>
            <td>{{ project.enterprise_id }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<main class="hidden-print">
  <div class="container-fluid">
    <div class="row">

      <div class="col-xs-6">
        <div class="panel panel-default" style="overflow: auto; max-height: 500px;">
          <div class="panel-heading">
            {{ 'PROJECT.EXISTING' | translate }}
          </div>
          <table class="table table-condensed table-hover">
            <thead>
              <tr>
                <th>{{ 'COLUMNS.ID' | translate }}</th>
                <th>{{ 'COLUMNS.NAME' | translate }}</th>
                <th>{{ 'COLUMNS.ABBR' | translate }}</th>
                <th>{{ 'COLUMNS.ENTERPRISE_ID' | translate }}</th>
                <th colspan="2">{{ 'COLUMNS.ACTIONS' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="project in ProjectCtrl.projects | orderBy:'name'" ng-class="{'btn-primary' : editProject.id==project.id }">
                <td>{{ project.id }}</td>
                <td>{{ project.name }}</td>
                <td>{{ project.abbr }}</td>
                <td>{{ project.enterprise_id }}</td>
                <td><a ng-click="ProjectCtrl.update(project)" id="project-upd-{{ $index + 1}}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                <td><a ng-click="ProjectCtrl.del(project)" id="project-del-{{ $index + 1 }}" disabled class="danger"><span class="glyphicon glyphicon-trash"></span></a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-xs-6" ng-switch="ProjectCtrl.view">
        <div ng-switch-default>
          <div class="alert alert-info">
            <h4>{{ 'PROJECT.TITLE' | translate }}</h4>
            <p> {{ 'PROJECT.HELP_TXT_1' | translate }}</p>
          </div>
        </div>

        <div ng-switch-when="create_success">
          <div class="alert alert-success" id="create_success">
            <h4>{{ 'PROJECT.SAVE_SUCCES' | translate }} </h4>
            </p>
          </div>
        </div>

        <div ng-switch-when="update_success">
          <div class="alert alert-success" id="update_success">
            <h4>{{ 'PROJECT.UPDATE_SUCCES' | translate }} </h4>
            </p>
          </div>
        </div>

        <div ng-switch-when="delete_success">
          <div class="alert alert-success" id="delete_success">
            <h4>{{ 'PROJECT.DELETE_SUCCESS' | translate }} </h4>
            </p>
          </div>
        </div>

        <div ng-switch-when="delete_error">
          <div class="alert alert-danger" id="delete_error">
            <h4>{{ ProjectCtrl.HTTPError.data.code | translate }} </h4>
            </p>
          </div>
        </div>

        <div class="panel panel-primary" ng-switch-when="create">
          <div class="panel-heading">{{ 'PROJECT.NEW' | translate }}</div>
          <div class="panel-body">
            <form class="form-horizontal" name="CreateForm" ng-submit="ProjectCtrl.submit(CreateForm.$invalid)" novalidate>

              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.name.$invalid }">
                <label class="col-xs-3 control-label required" for="bhima-project-name">{{ 'COLUMNS.NAME' | translate }}</label>
                <div class="col-xs-9">
                  <input type="text" class="form-control" name="name" id="bhima-project-name" ng-model="ProjectCtrl.project.name" required>
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.abbr.$invalid }">
                <label for="bhima-project-abbr" class="col-md-3 control-label">{{ "COLUMNS.ABBR" | translate }}</label>
                <div class="col-md-9">
                  <input type="text" class="form-control" name="abbr" required id="bhima-project-abbr" ng-model="ProjectCtrl.project.abbr">
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.enterprise_id.$invalid }">
                <label class="col-md-3 control-label">{{ "COLUMNS.ENTERPRISE" | translate }}</label>
                <div class="col-md-9">
                  <select class="form-control" name="enterprise_id" ng-model="ProjectCtrl.project.enterprise_id" id="bhima-enterprise-enterprise_id" ng-options="e.id as e.name for e in ProjectCtrl.enterprises | orderBy:'name'" required>
                    <option value="" disabled> -- {{ 'SELECT.ENTERPRISE' | translate }} -- </option>
                  </select>
                </div>
              </div>

              <!-- zone de sante for snis -->
              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.zs_id.$invalid }">
                <label class="col-md-3 control-label">{{ 'COLUMNS.ZS' | translate }}</label>
                <div class="col-md-9">
                  <select class="form-control" name="zs_id" ng-model="ProjectCtrl.project.zs_id" id="bhima-project-zs" ng-options="zs.id as zs.format for zs in ProjectCtrl.zones | orderBy:'zone'" required>
                    <option value="" disabled> -- {{ 'SELECT.ZS' | translate }} -- </option>
                  </select>
                </div>
              </div>
              <!-- end zone de sante for snis -->
              <div class="form-group">
                <label class="col-md-3 control-label">{{ 'COLUMNS.LOCKED' | translate }}</label>
                <div class="col-md-9">                
                  <input type="checkbox" id="locked" ng-true-value="1" ng-false-value="0" name="bhima-project-locked" ng-model="ProjectCtrl.project.locked">
                </div>
              </div>

              <div class="form-group">
                  <button class="btn btn-default" id="submit-project" type="submit" data-method="submit">
                    {{ "FORM.SUBMIT" | translate }}
                  </button>
                  <button class="btn btn-default" type="button" ng-click="ProjectCtrl.cancel()" data-method="cancel">
                    {{ "FORM.CANCEL" | translate }}
                  </button>
              </div>
            </form>
          </div>        
        </div>

        <div class="panel panel-primary" ng-switch-when="update">
          <div class="panel-heading">{{ 'PROJECT.EDIT' | translate }}</div>
          <div class="panel-body">
            <form class="form-horizontal" name="UpdateForm" ng-submit="ProjectCtrl.submit(UpdateForm.$invalid)" novalidate>

              <div class="form-group" ng-class="{ 'has-error' : UpdateForm.$submitted && UpdateForm.name.$invalid }">
                <label class="col-xs-3 control-label required" for="bhima-project-name">{{ 'COLUMNS.NAME' | translate }}</label>
                <div class="col-xs-9">
                  <input type="text" class="form-control" name="name" id="bhima-project-name" ng-model="ProjectCtrl.project.name" required>
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : UpdateForm.$submitted && UpdateForm.abbr.$invalid }">
                <label for="bhima-project-abbr" class="col-md-3 control-label">{{ "COLUMNS.ABBR" | translate }}</label>
                <div class="col-md-9">
                  <input type="text" class="form-control" name="abbr" required id="bhima-project-abbr" ng-model="ProjectCtrl.project.abbr">
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : UpdateForm.$submitted && UpdateForm.enterprise_id.$invalid }">
                <label class="col-md-3 control-label">{{ "COLUMNS.ENTERPRISE" | translate }}</label>
                <div class="col-md-9">
                  <select class="form-control" name="enterprise_id" ng-model="ProjectCtrl.project.enterprise_id" id="bhima-project-enterprise_id" ng-options="e.id as e.name for e in ProjectCtrl.enterprises | orderBy:'name'" required>
                    <option value="" disabled> -- {{ 'SELECT.ENTERPRISE' | translate }} -- </option>
                  </select>
                </div>
              </div>

              <!-- zone de sante for snis -->
              <div class="form-group" ng-class="{ 'has-error' : UpdateForm.$submitted && UpdateForm.zs_id.$invalid }">
                <label class="col-md-3 control-label">{{ 'COLUMNS.ZS' | translate }}</label>
                <div class="col-md-9">
                  <select class="form-control" name="zs_id" ng-model="ProjectCtrl.project.zs_id" id="bhima-project-zs" ng-options="zs.id as zs.format for zs in ProjectCtrl.zones | orderBy:'zone'" required>
                    <option value="" disabled> -- {{ 'SELECT.ZS' | translate }} -- </option>
                  </select>
                </div>
              </div>
              <!-- end zone de sante for snis -->
              <div class="form-group">
                <label class="col-md-3 control-label">{{ 'COLUMNS.LOCKED' | translate }}</label>
                <div class="col-md-9">                
                  <input type="checkbox" ng-true-value="1" ng-false-value="0" id="bhima-project-locked"  name="locked" ng-model="ProjectCtrl.project.locked">
                </div>
              </div>

              <div class="form-group">
                  <button class="btn btn-default" id="change_project" type="submit" data-method="submit">
                    {{ "FORM.SUBMIT" | translate }}
                  </button>
                  <button class="btn btn-default" type="button" ng-click="ProjectCtrl.cancel()" data-method="cancel">
                    {{ "FORM.CANCEL" | translate }}
                  </button>
              </div>
            </form>
          </div>        
        </div>


      </div>
    </div>
  </div>  
</main>
