<div class="ui-grid-cell-contents text-right">
  <span uib-dropdown dropdown-append-to-body ng-if="row.entity.type_id !== grid.appScope.Constants.accounts.TITLE">
    <a href uib-dropdown-toggle>
      <span data-method="action" translate>FORM.BUTTONS.ACTIONS</span>
      <span class="caret"></span>
    </a>

    <ul class="dropdown-menu-right" bh-dropdown-menu-auto-dropup uib-dropdown-menu>
      <li>
        <a data-method="view-account-statement" ui-sref="accountStatement({ filters : [
          { key : 'account_id', value : row.entity.id, displayValue : row.entity.hrlabel },
          { key : 'period', value : 'allTime' },
          { key : 'custom_period_start', value : grid.appScope.year.start_date },
          { key : 'custom_period_end', value : grid.appScope.year.end_date },
          { key : 'limit', value : 1000 },
          ]})">
          <span translate>REPORT.VIEW_ACCOUNT_STATEMENT</span>
        </a>
      </li>
      <li class="divider"></li>
      <li>
        <a ng-href="/reports/finance/account_report/?{{ grid.appScope.openAccountReport(row.entity.id) }}" ng-attr-download="{{ REPORT.ACCOUNT | translate }}">
          <span class="fa fa-file-pdf-o"></span> <span translate>REPORT.ACCOUNT</span>
        </a>
      </li>
    </ul>
  </span>
</div>
