<div class="flex-content">
  <div class="container-fluid" style="height: 100%;">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 col-xs-12">
        <!-- @fixme - style hacks for content centering -->
        <div class="panel panel-default" style="margin-top : calc(50vh - 190px); max-width: 400px; margin-right: auto; margin-left: auto">
          <div class="panel-heading clearfix">
            <strong>{{ "AUTH.LOGIN" | translate }}</strong>
            <div class="pull-right" uib-dropdown>
              <button class="btn btn-default btn-xs" uib-dropdown-toggle>
                <span class="caret"></span>
              </button>
              <ul role="menu" uib-dropdown-menu>
                <li role="menuitem" ng-repeat="(key, lang) in LoginCtrl.languages">
                  <a ng-click="LoginCtrl.languageService.set(key)" href>
                    {{ lang.name }}
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="panel-body">
            <form name="LoginForm" bh-submit="LoginCtrl.login(LoginForm)" autocomplete="off" autocapitalize="off" autocorrect="off" novalidate>
              <div
                class="form-group"
                ng-class="{ 'has-error' : LoginForm.$submitted && LoginForm.username.$invalid }">
                <label class="control-label"> {{ "FORM.LABELS.USERNAME" | translate }} </label>
                <div class="input-group">
                  <span class="input-group-addon" style="background-color: #fff;">
                    <span class="glyphicon glyphicon-user"></span>
                  </span>
                  <input
                    name="username"
                    type="text"
                    class="form-control"
                    ng-model="LoginCtrl.credentials.username"
                    placeholder="{{ 'FORM.PLACE_HOLDERS.ENTER_USERNAME' | translate }}"
                    autocomplete="off"
                    autocorrect="off"
                    autofocus
                    required />
                </div>
              </div>

              <div
                class="form-group"
                ng-class="{ 'has-error' : LoginForm.$submitted && LoginForm.password.$invalid }">
                <label class="control-label"> {{ "FORM.LABELS.PASSWORD" | translate }} </label>
                <div class="input-group">
                  <span class="input-group-addon" style="background-color: #fff;">
                    <span class="glyphicon glyphicon-lock"></span>
                  </span>
                  <input
                    name="password"
                    type="password"
                    ng-model="LoginCtrl.credentials.password"
                    class="form-control"
                    placeholder="{{ 'FORM.PLACE_HOLDERS.ENTER_PASSWORD' | translate }}"
                    required />
                </div>
              </div>

              <div
                class="form-group"
                ng-class="{ 'has-error' : LoginForm.$submitted && LoginForm.project.$invalid }">
                <label class="control-label">
                  {{ "FORM.LABELS.PROJECT" | translate }}
                </label>
                <div class="input-group">
                  <span class="input-group-addon" style="background-color: #fff;">
                    <span class="glyphicon glyphicon-home"></span>
                  </span>
                  <select
                    name="project"
                    class="form-control"
                    ng-model="LoginCtrl.credentials.project"
                    ng-options="proj.id as proj.name for proj in LoginCtrl.projects"
                    required >
                    <option value="" disabled>{{ "FORM.SELECTS.SELECT_PROJECT" | translate }}</option>
                  </select>
                </div>
              </div>

              <div
                class="form-group"
                ng-class="{ 'has-error' : LoginForm.$submitted && LoginForm.$invalid }"
                >
                <button id="submit" class="btn btn-default" type="submit">
                 {{ "FORM.BUTTONS.CONNECTION" | translate }}
                </button>

                  <!-- client-side validation error: requires username, password, and project -->
                <p class="help-block" ng-if="LoginForm.$submitted && LoginForm.$invalid" style="margin-top:10px;">
                  <span class="glyphicon glyphicon-exclamation-sign"></span> {{ "FORM.ERRORS.MISSING" | translate }}
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
