<div class="flex-content">
  <div class="container-fluid" style="height: 100%;">

    <!-- @fixme - style hacks for content centering -->
    <div class="center-block" style="margin-top : calc(50vh - 170px); max-width: 400px;">

      <p ng-show="LoginCtrl.excessiveAttempts" class="text-info">
        <span class="glyphicon glyphicon-info-sign"></span>
        {{ "AUTH.TOO_MANY_TRYS" | translate }}
      </p>

      <div class="panel panel-default">

        <div class="panel-heading clearfix">
          <strong>{{ "AUTH.LOGIN" | translate }}</strong>
          <div class="pull-right" uib-dropdown>
            <button class="btn btn-default btn-xs" uib-dropdown-toggle>
              <span class="caret"></span>
            </button>
            <ul role="menu" uib-dropdown-menu>
              <li role="menuitem" ng-repeat="(key, lang) in LoginCtrl.languages">
                <a ng-click="LoginCtrl.languageService.set(key)" href>
                  {{ lang.name }}
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="panel-body">
          <form name="LoginForm" bh-submit="LoginCtrl.login(LoginForm)" autocomplete="off" autocorrect="off" novalidate>
            <div
              class="form-group"
              ng-class="{ 'has-error' : LoginForm.$submitted && LoginForm.username.$invalid }">
              <label class="control-label">
                {{ "FORM.LABELS.USERNAME" | translate }}
              </label>
              <div class="input-group">
                <span class="input-group-addon" style="background-color: #fff;">
                  <span class="glyphicon glyphicon-user"></span>
                </span>
                <input
                  name="username"
                  type="text"
                  class="form-control"
                  ng-model="LoginCtrl.credentials.username"
                  placeholder="{{ 'FORM.PLACE_HOLDERS.ENTER_USERNAME' | translate }}"
                  autocomplete="off"
                  autocorrect="off"
                  autofocus
                  required />
              </div>
            </div>

            <div
              class="form-group"
              ng-class="{ 'has-error' : LoginForm.$submitted && LoginForm.password.$invalid }">
              <label class="control-label">
                {{ "FORM.LABELS.PASSWORD" | translate }}
              </label>
              <div class="input-group">
                <span class="input-group-addon" style="background-color: #fff;">
                  <span class="glyphicon glyphicon-lock"></span>
                </span>
                <input
                  name="password"
                  type="password"
                  ng-model="LoginCtrl.credentials.password"
                  class="form-control"
                  placeholder="{{ 'FORM.PLACE_HOLDERS.ENTER_PASSWORD' | translate }}"
                  required />
              </div>
            </div>

            <div
              class="form-group"
              ng-class="{ 'has-error' : LoginForm.$submitted && LoginForm.project.$invalid }">
              <label class="control-label">
                {{ "FORM.LABELS.PROJECT" | translate }}
              </label>
              <div class="input-group">
                <span class="input-group-addon" style="background-color: #fff;">
                  <span class="glyphicon glyphicon-home"></span>
                </span>
                <select
                  name="project"
                  class="form-control"
                  ng-model="LoginCtrl.credentials.project"
                  ng-options="proj.id as proj.name for proj in LoginCtrl.projects"
                  required >
                  <option value="" disabled>{{ "FORM.SELECTS.SELECT_PROJECT" | translate }}</option>
                </select>
              </div>
            </div>

            <div
              class="form-group"
              ng-class="{ 'has-error' : LoginForm.$submitted && (LoginForm.$invalid || LoginCtrl.error) }"
              >
              <button id="submit" class="btn btn-default" type="submit">
               {{ "FORM.BUTTONS.CONNECTION" | translate }}
              </button>

              <div class="help-block" ng-show="LoginForm.$submitted && (LoginForm.$invalid || LoginCtrl.error)" style="margin-top:10px;">

                <!-- client-side validation error: requires both username and password -->
                <p ng-show="LoginForm.$invalid">
                  <span class="glyphicon glyphicon-exclamation-sign"></span>
                  {{ "FORM.ERRORS.MISSING" | translate }}
                </p>

                <!-- display the server-sent error as an alert -->
                <p ng-show="LoginCtrl.error">
                  <span class="glyphicon glyphicon-exclamation-sign"></span>
                  {{ LoginCtrl.error.code | translate }}
                </p>

                <p ng-show="LoginCtrl.excessiveAttempts" class="text-info">
                  <span class="glyphicon glyphicon-info-sign"></span>
                  {{ "FORM.INFOS.MANY_TRYS" | translate }}
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
