<div class="flex-header">
  <div class="bhima-title">
    <ol class="headercrumb">
      <li class="static">{{ "TREE.ADMIN" | translate }}</li>
      <li class="static">{{ "TREE.LOCATION" | translate }}</li>
      <li class="active">{{ "VILLAGE.TITLE" | translate }}</li>
    </ol>
  </div>
</div>

<div class="flex-util">
  <a href="#/locations" class="btn btn-default btn-sm">
    <span class="glyphicon glyphicon-globe"></span> {{ 'VILLAGE.LOCATION_MANAGER' | translate }}
  </a> 

  <button class="btn btn-sm btn-default" id="create" ng-click="VillageCtrl.create()" data-method="create">
    <span class="glyphicon glyphicon-plus-sign"></span> {{'VILLAGE.NEW_VILLAGE' | translate}}
  </button> 
</div>


<div class="flex-content">
  <div class="container-fluid">
    <div class="row">

      <div class="col-xs-6">
        <div class="panel panel-default" style="overflow: auto; max-height: 500px;">
          <div class="panel-heading">
            {{ 'VILLAGE.REGISTERED' | translate }}
          </div>

          <table class="table table-condensed">
            <thead>
               <tr>
                <th>{{ 'VILLAGE.NAME' | translate}}</th>
                <th>{{ 'VILLAGE.SECTOR' | translate}}</th>
                <th>{{ 'VILLAGE.ACTIONS' | translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-if="VillageCtrl.session.loading" class="text-center">
                <td colspan="4"><loading-indicator></loading-indicator></td>
              </tr>
              <tr ng-repeat="village in VillageCtrl.locations | orderBy:'village' "  ng-class="{'rowSelected' : VillageCtrl.village.villageUuid === village.villageUuid}">
                <td>{{ village.village }}</td>
                <td>{{ village.sector }}</td>
                <td><a class="btn btn-xs btn-default" id="village-{{$index+1}}" ng-click="VillageCtrl.update(village)" ><i class="glyphicon glyphicon-pencil"></i></a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-xs-6" ng-switch="VillageCtrl.view">
        <div ng-switch-default>
          <div class="alert alert-info" id="default">
            <h4>{{ 'VILLAGE.CONFIG' | translate }}</h4>
            <p>{{ 'VILLAGE.INFO' | translate }}</p>        
          </div>
        </div>

        <div ng-switch-when="create_success">
          <div class="alert alert-success" id="create_success">
            <h4>{{ 'LOCATION.SAVE_SUCCESS' | translate }} </h4>
            </p>
          </div>
        </div>

        <div ng-switch-when="update_success">
          <div class="alert alert-success" id="update_success">
            <h4>{{ 'LOCATION.UPDATE_SUCCESS' | translate }} </h4>
            </p>
          </div>
        </div>

        <div class="panel panel-primary" ng-switch-when="create">
          <div class="panel-heading">{{ 'VILLAGE.REGISTER' | translate }}</div>
          <div class="panel-body">
            <form class="panel-body" name="CreateForm" ng-submit="VillageCtrl.submit(CreateForm.$invalid)" novalidate>

              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.country.$invalid }">
                <label class="control-label">{{ "LOCATION.COUNTRY" | translate }}</label>
                <select 
                  class="form-control" 
                  name="country" 
                  ng-model="VillageCtrl.village.country_uuid" 
                  id="country"  
                  ng-options="c.uuid as c.name for c in VillageCtrl.countries | orderBy:'name'"
                  ng-change="VillageCtrl.loadProvinces()"
                  required>
                  <option value="" disabled> -- {{ VillageCtrl.messages.country | translate }} -- </option>
                </select>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.province.$invalid }">
                <label class="control-label">{{ "LOCATION.PROVINCE" | translate }}</label>
                <select 
                  class="form-control" 
                  name="province" 
                  ng-model="VillageCtrl.village.province_uuid" 
                  id="province"  
                  ng-options="p.uuid as p.name for p in VillageCtrl.provinces | orderBy:'name'"
                  ng-change="VillageCtrl.loadSectors()"
                  required>
                  <option value="" disabled> -- {{ VillageCtrl.messages.province | translate }} -- </option>
                </select>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.sector.$invalid }">
                <label class="control-label">{{ "LOCATION.SECTOR" | translate }}</label>
                <select 
                  class="form-control" 
                  name="sector" 
                  ng-model="VillageCtrl.village.sector_uuid" 
                  id="sector"  
                  ng-options="s.uuid as s.name for s in VillageCtrl.sectors | orderBy:'name'" 
                  required>
                  <option value="" disabled> -- {{ VillageCtrl.messages.sector | translate }} -- </option>
                </select>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.village.$invalid }">
                <label class="control-label">{{ "LOCATION.VILLAGE" | translate }}</label>
                <input type="text" placeholder="{{ 'INPUT.VILLAGE' | translate }}" class="form-control" name="village" ng-model="VillageCtrl.village.name" required>
              </div>
              
              <div class="form-group">
                <button class="btn btn-default" id="submit-village" type="submit" data-method="submit">
                  {{ "FORM.SUBMIT" | translate }}
                </button>
                <button class="btn btn-default" type="button" ng-click="VillageCtrl.cancel()" data-method="cancel">
                  {{ "FORM.CANCEL" | translate }}
                </button>
              </div>
            </form>
          </div>        
        </div>

        <div class="panel panel-primary" ng-switch-when="update">
          <div class="panel-heading">{{ 'VILLAGE.EDIT' | translate }}</div>
          <div class="panel-body">
            <form class="panel-body" name="UpdateForm" ng-submit="VillageCtrl.submit(UpdateForm.$invalid)" novalidate>
              <div class="form-group" ng-class="{ 'has-error' : CreateForm.$submitted && CreateForm.country.$invalid }">
                <label class="control-label">{{ "LOCATION.COUNTRY" | translate }}</label>
                <select 
                  class="form-control" 
                  name="country" 
                  ng-model="VillageCtrl.village.country_uuid" 
                  id="country"  
                  ng-options="c.uuid as c.name for c in VillageCtrl.countries | orderBy:'name'"
                  ng-change="VillageCtrl.loadProvinces()"
                  required>
                  <option value="" disabled> -- {{ VillageCtrl.messages.country | translate }} -- </option>
                </select>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : UpdateForm.$submitted && UpdateForm.province.$invalid }">
                <label class="control-label">{{ "LOCATION.PROVINCE" | translate }}</label>
                <select 
                  class="form-control" 
                  name="province" 
                  ng-model="VillageCtrl.village.province_uuid" 
                  id="province"  
                  ng-options="p.uuid as p.name for p in VillageCtrl.provinces | orderBy:'name'"
                  ng-change="VillageCtrl.loadSectors()"
                  required>
                  <option value="" disabled> -- {{ VillageCtrl.messages.province | translate }} -- </option>
                </select>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : UpdateForm.$submitted && UpdateForm.sector.$invalid }">
                <label class="control-label">{{ "LOCATION.SECTOR" | translate }}</label>
                <select 
                  class="form-control" 
                  name="sector" 
                  ng-model="VillageCtrl.village.sector_uuid" 
                  id="sector"  
                  ng-options="s.uuid as s.name for s in VillageCtrl.sectors | orderBy:'name'" 
                  required>
                  <option value="" disabled> -- {{ VillageCtrl.messages.sector | translate }} -- </option>
                </select>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : UpdateForm.$submitted && UpdateForm.village.$invalid }">
                <label class="control-label">{{ "LOCATION.VILLAGE" | translate }}</label>
                <input type="text" placeholder="{{ 'INPUT.VILLAGE' | translate }}" class="form-control" name="village" ng-model="VillageCtrl.village.name" required>
              </div>
              
              <div class="form-group">
                <button class="btn btn-default" id="change_village" type="submit" data-method="submit">
                  {{ "FORM.SUBMIT" | translate }}
                </button>
                <button class="btn btn-default" type="button" ng-click="VillageCtrl.cancel()" data-method="cancel">
                  {{ "FORM.CANCEL" | translate }}
                </button>
              </div>
            </form>
          </div>         
        </div>

      </div>
    </div>
  </div>  
</div>