<div class="panel panel-success" ng-controller="FiscalCreateController as FiscalCtrl" ng-switch="step.id">
  <div class="panel-heading">
    <i class="glyphicon glyphicon-calendar"></i>
    <b>{{ 'FISCAL_YEAR.NEW' | translate }}</b> {{ 'FISCAL_YEAR.STEP' | translate }} {{ step.id }}: {{ step.key | translate }}
  </div>

  <!-- step one : set up fiscal year details -->
  <div ng-switch-when="1">
    <div class="panel-body">

      <form novalidate name="detailsForm" class="col-xs-6">

        <div class="form-group">
          <label for="fiscalNote" class="required">{{ 'FISCAL_YEAR.DESC' | translate }}</label>
          <input id="fiscalDescription" class="form-bhima" ng-model="data.fiscal_year_txt" required>
        </div>

        <div class="form-group">
          <label for="startMonth" class="required">{{ 'FISCAL_YEAR.START_MONTH' | translate }}</label>
          <input type="month" id="startMonth" class="form-bhima" ng-model="data.start" ng-change="calculateEndDate()" required >
        </div>

        <div class="form-group">
          <div class="radio">
            <label>
              <input type="radio" name="option_year" id="one" value="true" ng-model="data.year" checked>
              {{ 'FISCAL_YEAR.ONE_YEAR' | translate }}
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="option_year" id="custom" value="false" ng-model="data.year">
              {{ 'FISCAL_YEAR.SPECIFY' | translate }}
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="endMonth" class="required">{{ 'FISCAL_YEAR.END_MONTH' | translate }}</label>
          <input ng-disabled="isFullYear()" type="month" id="endMonth" class="form-bhima" ng-model="data.end" required >
        </div>

        <div class="form-group" ng-if="fiscal.data.length > 0">
          <label class="required">{{ 'FISCAL_YEAR.PREVIOUS_YEAR' | translate }}</label>
          <select class="form-bhima" ng-model="data.previous_fiscal_year" ng-options="year.id as year.fiscal_year_txt for year in years" required>
            <option value="" disabled="disabled" selected="selected">--- {{ 'SELECT.FISCAL_YEAR' | translate }} ---</option>
          </select>
        </div>

      </form>
    </div>
    <div class="panel-footer">
      <button class="btn btn-sm btn-success" ng-disabled="detailsForm.$invalid" ng-click="stepTwo()">
        {{ 'FISCAL_YEAR.NEXT' | translate }}
        <i class="glyphicon glyphicon-arrow-right"></i>
      </button>
    </div>
  </div>

  <!-- step 2a: Import beginning balances from previous fiscal year -->
  <div ng-switch-when="2a">
    <div class="panel-body">
      <form name="formStepTwo">
        <h4>
          <i class="glyphicon glyphicon-exclamation-sign"></i>
          {{ 'FISCAL_YEAR.CLOSE_PREVIOUS_YEAR' | translate }} : {{ session.previous_fiscal_year }}
        </h4>
        <p>{{ 'FISCAL_YEAR.CLOSE_PREVIOUS_YEAR_MESSAGE' | translate }}</p>

        <div class="form-group checkbox">
          <label>
            <input type="checkbox" ng-model="close_fy">
            {{ 'FISCAL_YEAR.ACCEPT' | translate }}
          </label>
        </div>

      </form>
    </div>
    <div class="panel-footer">
      <button class="btn btn-sm btn-success" ng-click="checkClosing(close_fy, data.previous_fiscal_year)" ng-disabled="formStepTwo.$invalid">
        {{ 'FISCAL_YEAR.NEXT' | translate }}
        <i class="glyphicon glyphicon-arrow-right"></i>
      </button>
    </div>
  </div>

  <!-- step 2b: Create new beginning balances for a new fiscal year -->
  <div ng-switch-when="2b">
    <table class="table table-condensed" style="margin-bottom:0">
      <thead>
        <tr>
          <th style="width:15%;">{{ 'COLUMNS.ACCOUNT_NUMBER' | translate }}</th>
          <th style="width:55%;">{{ 'COLUMNS.LABEL' | translate }}</th>
          <th style="width:15%">{{ 'COLUMNS.DEBIT' | translate }}</th>
          <th style="width:15%">{{ 'COLUMNS.CREDIT' | translate }}</th>
        </tr>
      </thead>
    </table>
    <div class="panel-body" style="max-height:450px;overflow-y:scroll;padding:0;">
      <table class="table table-condensed" style="font-size: 10px; margin-bottom:0;">
        <tbody>
          <tr ng-repeat="account in accounts.data">
            <th style="width:15%; border-right: 1px solid #ddd;">{{ account.number }}</th>
            <td style="width:55%;">
              <span ng-style="{'padding-left': (account.depth * 20) + 'px'}">{{ account.label }}</span>
            </td>
            <td style="width:15%" ng-if="account.type !== 'title'">
              <input type="number" ng-model="account.debit" required>
            </td>
            <td style="width:15%" ng-if="account.type !== 'title'">
              <input type="number" ng-model="account.credit" required>
            </td>
            <td style="width:15%" ng-if="account.type === 'title'" colspan="2"></td>
          </tr>
        </thead>
      </table>
    </div>
    <div class="panel-footer">
      <button class="btn btn-sm btn-success" ng-click="submitFiscalYearData()">
        {{ 'FISCAL_YEAR.SUBMIT_YEAR' | translate }}
      </button>
    </div>
  </div>

  <!-- step 2c: solde from last and init new journal -->
  <div ng-switch-when="2c">
    <div class="panel-body">
      <h4>{{ 'FISCAL_YEAR.SOLD_LAST_FY' | translate }}: {{ session.previous_fiscal_year }}</h4>
      <table class="table table-condensed table-bordered">
        <thead>
          <tr>
            <th>{{ 'FISCAL_YEAR.TOTAL_CHARGE' | translate }} </th>
            <th>{{ 'FISCAL_YEAR.TOTAL_PROFIT' | translate }} </th>
            <th>{{ 'FISCAL_YEAR.RESULT' | translate }}</th>
            <th>{{ 'FISCAL_YEAR.OBSERVATION' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-class="{'success':session.observation==1, 'danger':session.observation==-1}">
            <td>{{ session.charge | currency }}</td>
            <td>{{ session.produit | currency }}</td>
            <td>
              {{ session.produit - session.charge | number:0 }} $
            </td>
            <td>
              <span ng-if="session.observation==1">
                {{ 'FISCAL_YEAR.BONUS' | translate }}
              </span>
              <span ng-if="session.observation==-1">
                {{ 'FISCAL_YEAR.MALUS' | translate }}
              </span>
            </td>
          </tr>
        </tbody>
      </table>
      <hr>
      <div class="form-group">
        <label>{{ 'FISCAL_YEAR.SELECT_RESULTAT_ACCOUNT' | translate }}
        <span ng-if="session.resultat_account">:
          <b>[{{session.resultat_account.number}}]</b>
          {{session.resultat_account.label}}
        </span></label>
        <select
        class="form-control"
        ng-model="session.resultat_account"
        ng-options="ac as formatAccount(ac) for ac in resultatAccount.data">
          <option value="" disabled>{{ 'FISCAL_YEAR.RESULTAT_ACCOUNTS' | translate }}</option>
        </select>
      </div>
    </div>
    <div class="panel-footer">
      <button class="btn btn-sm btn-success" ng-click="postingNewFiscalYear()" ng-disabled="formStepTwo.$invalid">
        <i class="glyphicon glyphicon-ok-circle"></i>
        {{ 'UTIL.SUBMIT' | translate }}
      </button>
    </div>
  </div>

  <!-- step 3: report success or error -->
  <div ng-switch-when="3">
    <div class="panel-body">
      <div class="alert alert-success">
        <i class="glyphicon glyphicon-ok-circle"></i>
        {{ 'FISCAL_YEAR.CREATE_SUCCESS_MESSAGE' | translate }}
      </div>
    </div>
  </div>
</div>

<script type="text/ng-template" id="entityListItem.tmpl.html">
  <a class="clk">
    <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
  </a>
</script>
