<div class="row">
  <div class="col-md-12">

    <form name="OpeningAccountForm" bh-submit="FiscalOBCtrl.submit(OpeningAccountForm)" bh-form-defaults novalidate>

      <div class="panel panel-primary">

        <!-- heading  -->
        <div class="panel-heading" style="display: flex; justify-content: space-between;">
          <span>
            {{ "FISCAL.OPENING_BALANCE" | translate }} <strong>{{ FiscalOBCtrl.fiscal.label }}</strong>
          </span>

          <div>
            <span class="text-action" ng-click="FiscalOBCtrl.toggleAccountFilter()">
              {{ 'FORM.BUTTONS.SEARCH' | translate }} <i class="fa fa-search"></i>
            </span>

            <span class="text-action" data-action="edit-opening-balance" ng-show="!FiscalOBCtrl.previousFiscalYearExist" style="margin-left: 15px;" ng-click="FiscalOBCtrl.toggleEditBalance()">
              {{ 'FORM.BUTTONS.EDIT' | translate }} <i class="fa fa-edit"></i>
            </span>
          </div>

        </div>

        <!-- body  -->
        <section>

          <div
            id="account-balance-grid"
            style="height : 600px;"
            ui-grid="FiscalOBCtrl.gridOptions">
          </div>

        </section>

        <!-- footer  -->
        <div class="panel-footer" style="display: flex; justify-content: space-between;">
          <div ng-class="{'text-success': FiscalOBCtrl.balanced, 'text-danger': !FiscalOBCtrl.balanced}">
            <span ng-show="OpeningAccountForm.$submitted" >
              <i class="fa" ng-class="{'fa-check': FiscalOBCtrl.balanced, 'fa-warning': !FiscalOBCtrl.balanced}"></i>
              <span data-status="balanced" ng-show="FiscalOBCtrl.balanced">{{ 'ACCOUNT.BALANCED' | translate }}</span>
              <span data-status="not-balanced" ng-show="!FiscalOBCtrl.balanced && FiscalOBCtrl.hasPositive">{{ 'ACCOUNT.NOT_BALANCED' | translate }}</span>
              <span data-status="not-positive" ng-show="!FiscalOBCtrl.balanced && !FiscalOBCtrl.hasPositive">{{ 'ACCOUNT.NOT_POSITIVE' | translate }}</span>
            </span>
          </div>

          <button type="submit" data-method="submit" ng-disabled="!FiscalOBCtrl.editBalanceEnabled && !FiscalOBCtrl.previousFiscalYearExist" class="btn btn-primary">
            <span ng-show="!FiscalOBCtrl.previousFiscalYearExist">{{ 'FORM.BUTTONS.SUBMIT' | translate }}</span>
            <span ng-show="FiscalOBCtrl.previousFiscalYearExist">{{ 'FORM.BUTTONS.IMPORT' | translate }}</span>
          </button>
        </div>

      </div>

    </form>

  </div>
</div>
