<form name="FiscalForm" ng-submit="FiscalManageCtrl.submit(FiscalForm)" bh-form-defaults novalidate>
  <div class="row">
    <div class="col-xs-12">
      <p><a ng-href="#/fiscal">
        <span class="glyphicon glyphicon-circle-arrow-left"></span>
        {{ "FISCAL.BACK" | translate }}
      </a></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div ng-if="FiscalCtrl.state.current.name==='fiscal.create'" class="panel-heading">{{ "FISCAL.NEW_FISCAL_YEAR" | translate }}</div>
        <div ng-if="FiscalCtrl.state.current.name==='fiscal.update'" class="panel-heading">{{ "FISCAL.UPDATE_FISCAL_YEAR" | translate }}</div>
        <div class="panel-body">

          <div class="form-group" ng-class="{ 'has-error' : FiscalForm.$submitted && FiscalForm.label.$invalid }">
            <label class="control-label">{{ "FORM.LABELS.NAME" | translate }}</label>
            <input type="text" class="form-control" ng-maxlength="FiscalManageCtrl.maxLength" name="label" ng-model="FiscalManageCtrl.fiscal.label" required>
            <div class="help-block" ng-messages="FiscalForm.label.$error" ng-show="FiscalForm.$submitted">
              <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
            </div>
          </div>

          <!-- date editor component -->
          <bh-date-editor
            id="start_date"
            date-value="FiscalManageCtrl.fiscal.start_date"
            validation-trigger="details.$submitted"
            required="required">
          </bh-date-editor>

          <div class="form-group" ng-class="{ 'has-error' : FiscalForm.$submitted && FiscalForm.number_of_months.$invalid }">
            <label class="control-label">{{ "FORM.LABELS.NB_MONTH" | translate }}</label>
            <input type="number" class="form-control" ng-keyup="FiscalManageCtrl.endDate()" max="12" min="1" name="number_of_months" ng-model="FiscalManageCtrl.fiscal.number_of_months" required>
            <div class="help-block" ng-messages="FiscalForm.number_of_months.$error" ng-show="FiscalForm.$submitted">
              <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
            </div>
          </div>

          <div ng-if="FiscalManageCtrl.fiscal.number_of_months && FiscalManageCtrl.fiscal.start_date" style="color:#bbb; font-weight: bold;">
            {{ "FORM.LABELS.END_DATE" | translate}} : {{ FiscalManageCtrl.end_date | date:'yyyy-MM-dd' }} <span class="glyphicon glyphicon-calendar"></span>
          </div>

          <div class="form-group" ng-class="{ 'has-error' : FiscalForm.$submitted && FiscalForm.note.$invalid }">
            <label class="control-label" for="note">{{ "FORM.LABELS.NOTES" | translate }}</label>
            <textarea class="form-control" name="note" id="note" ng-maxlength="FiscalManageCtrl.maxLength" ng-model="FiscalManageCtrl.fiscal.note" rows="3"></textarea>
            <div class="help-block" ng-messages="FiscalForm.note.$error" ng-show="FiscalForm.$submitted">
              <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
            </div>
          </div>
          <div class="pull-right">
            <button data-method="submit" type="submit" class="btn btn-primary btn-sm">{{ "FORM.BUTTONS.SUBMIT" | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>

    <div ng-if="FiscalCtrl.state.current.name==='fiscal.create'" class="col-md-6">
      <div class="panel-heading">
        <strong>{{ "FORM.INFO.NOTE" | translate }}</strong>
      </div>
      <div class="panel panel-body">
        <div class="row">
          <div class="col-md-12">
            <b>{{ "FISCAL.MESSAGES" | translate }}</b><br>
            <a>{{ "FISCAL.SET_OPENING_BALANCES" | translate}}</a>
          </div>
        </div>
      </div>
    </div>

    <div ng-if="FiscalCtrl.state.current.name==='fiscal.update'" class="col-md-6">
      <div class="panel-heading">
        <strong>{{ "FORM.INFO.OTHER_ACTIONS" | translate }}</strong>
      </div>
      <div class="panel panel-body">
        <div class="row">
          <div class="col-md-12">
            <a>{{ "FORM.INFO.CLOSE_FISCAL_YEAR" | translate }}</a><br>
            <a>{{ "FORM.INFO.VIEW_BEGINNING_BALACE" | translate}}</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</form>
