<form name="FiscalForm" bh-submit="FiscalManageCtrl.submit(FiscalForm)" bh-form-defaults novalidate>

  <a href ui-sref="fiscal.list">
    <i class="fa fa-arrow-circle-left"></i> {{ "FISCAL.BACK" | translate }}
  </a>

  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div ng-if="FiscalCtrl.state.current.name==='fiscal.create'" class="panel-heading">{{ "FISCAL.NEW_FISCAL_YEAR" | translate }}</div>
        <div ng-if="FiscalCtrl.state.current.name==='fiscal.update'" class="panel-heading">{{ "FISCAL.UPDATE_FISCAL_YEAR" | translate }}</div>
        <div class="panel-body">

          <div class="form-group" ng-class="{ 'has-error' : FiscalForm.$submitted && FiscalForm.label.$invalid }">
            <label class="control-label">
              {{ "FORM.LABELS.NAME" | translate }}
            </label>
            <input type="text" class="form-control" ng-maxlength="FiscalManageCtrl.maxLength" name="label" ng-model="FiscalManageCtrl.fiscal.label" required>
            <div class="help-block" ng-messages="FiscalForm.label.$error" ng-show="FiscalForm.$submitted">
              <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
            </div>
          </div>

          <!-- date editor component -->
          <!-- TODO - this label should say "Start Date" -->
          <bh-date-editor
            id="start_date"
            date-value="FiscalManageCtrl.fiscal.start_date"
            validation-trigger="FiscalForm.$submitted"
            required="required">
          </bh-date-editor>

          <div class="form-group" ng-class="{ 'has-error' : FiscalForm.$submitted && FiscalForm.number_of_months.$invalid }">
            <label class="control-label">{{ "FORM.LABELS.NB_MONTH" | translate }}</label>
            <input type="number" class="form-control" ng-change="FiscalManageCtrl.endDate()" max="12" min="1" name="number_of_months" ng-model="FiscalManageCtrl.fiscal.number_of_months" required>
            <div class="help-block" ng-messages="FiscalForm.number_of_months.$error" ng-show="FiscalForm.$submitted">
              <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
            </div>
          </div>

          <div class="form-group text-muted">
            <i class="fa fa-calendar"></i>
            {{ "FORM.LABELS.END_DATE" | translate}}:
            <span ng-show="FiscalManageCtrl.fiscal.number_of_months && FiscalManageCtrl.fiscal.start_date">{{ FiscalManageCtrl.end_date | date }}</span>
          </div>

          <div class="form-group" ng-class="{ 'has-error' : FiscalForm.$submitted && FiscalForm.note.$invalid }">
            <label class="control-label">{{ "FORM.LABELS.NOTES" | translate }}</label>
            <textarea class="form-control" name="note" ng-maxlength="FiscalManageCtrl.maxLength" ng-model="FiscalManageCtrl.fiscal.note" rows="3"></textarea>
            <div class="help-block" ng-messages="FiscalForm.note.$error" ng-show="FiscalForm.$submitted">
              <div ng-messages-include="partials/templates/messages.tmpl.html"></div>
            </div>
          </div>
        </div>

        <div class="panel-footer text-right">
          <bh-loading-button loading-state="FiscalForm.$loading">
            {{ "FORM.BUTTONS.SUBMIT" | translate }}
          </bh-loading-button>
        </div>
      </div>
    </div>

    <div ng-if="FiscalCtrl.state.current.name==='fiscal.create'" class="col-md-6">
      <p><strong>{{ "FORM.INFO.NOTE" | translate }}</strong></p>
      <p>
        <i class="text-primary fa fa-info-circle"></i> {{ "FISCAL.MESSAGES" | translate }}
        <a href>{{ "FISCAL.SET_OPENING_BALANCES" | translate}}</a>
      </p>
    </div>

    <div ng-if="FiscalCtrl.state.current.name==='fiscal.update'" class="col-md-6">
      <p><strong>{{ "FORM.INFO.OTHER_ACTIONS" | translate }}</strong></p>
      <p>
        <a href>{{ "FORM.INFO.CLOSE_FISCAL_YEAR" | translate }}</a><br>
        <a href>{{ "FORM.INFO.VIEW_BEGINNING_BALACE" | translate}}</a>
      </p>
    </div>
  </div>
</form>
