<div class="container-fluid">
  <div class="row">

    <!-- List available cashboxes -->
    <div class="col-md-6">
      <table class="table table-striped table-bordered table-condensed" style="max-height:80vh; overflow:auto;">
        <thead>
          <tr>
            <th colspan="2">{{ "TABLE.COLUMNS.NAME" | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="box in CashCtrl.cashboxes track by box.id">
            <td>{{ box.label}}</td>
            <td class="text-right">
              <a class="btn btn-xs btn-default" ui-sref="cashboxes.edit({ uuid : box.id })">
                <i class="fa fa-pencil-square-o"></i> {{ "FORM.BUTTONS.EDIT" | translate }}
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
