<div class="flex-header">
  <div class="bhima-title">
    <ol class="headercrumb">
      <li class="static">{{ "TREE.ADMIN" | translate }}</li>
      <li class="title">{{ "BILLING_SERVICES.TITLE" | translate }}</li>
    </ol>
  </div>
</div>

<div class="flex-util">
  <button class="btn btn-default" ui-sref="billingServices.create" data-method="create">
    <span class="glyphicon glyphicon-plus"></span> {{ "BILLING_SERVICES.CREATE" | translate }}
  </button>
</div>

<!-- template in child views -->
<div class="flex-content">
  <div class="container-fluid" ui-view></div>
</div>
