<header data-header>
  {{ 'DONATION_MANAGEMENT.TITLE' | translate }}
</header>

<nav>
	<div class="pull-left">
    <ol class="breadcrumb">
      <li><a href="#/"><span class="glyphicon glyphicon-home"></span></a></li>
      <li><a href="#/depots/">{{ "DEPOT.MAIN.TITLE" | translate }}</a></li>
      <li class="active">{{ "STOCK.DONATION.TITLE" | translate }}</li>
    </ol>
	</div>

  <div class="pull-right">
  	<span style="display:inline-block; margin-top:8px;">
      <b>[{{ DonationCtrl.session.depot.reference }}]</b> {{ DonationCtrl.session.depot.text }}
    </span>
  </div>
</nav>

<main class="extend">

  <div ng-show="DonationCtrl.session.configured" class="col-xs-3">
    <div class="panel panel-default square">
      <div class="panel-heading square">
        <span class="glyphicon glyphicon-cog"></span> {{ 'DONATION_MANAGEMENT.CONFIGURE' | translate }}
      </div>
      <div class="panel-body">
        <div class="form-group">
          <label>{{ 'DONATION_MANAGEMENT.DATE' | translate }}</label>
          <input type="date" class="form-bhima" ng-model="DonationCtrl.session.date" max="{{ DonationCtrl.session.maxdate | date:'yyyy-mm-dd'}}">
        </div>

        <div class="form-group">
          <label>{{ 'DONATION_MANAGEMENT.DONOR' | translate }}</label>
          <select ng-model="DonationCtrl.session.donor" ng-options="d as d.name for d in DonationCtrl.donors.data" class="form-bhima">
              <option value="" disabled="disabled">{{ 'SELECT.DONOR' | translate }}</option>
          </select>
        </div>

        <div class="form-group">
          <label>{{ 'DONATION_MANAGEMENT.RESPONSABLE' | translate}}</label>
          <select ng-model="DonationCtrl.session.employee" ng-options="e as e.name for e in DonationCtrl.employees.data" class="form-bhima">
              <option value="" disabled="disabled">{{ 'SELECT.EMPLOYEE' | translate }}</option>
          </select>
        </div>
      </div>
    </div>
  </div>  

  <div ng-show="DonationCtrl.session.configured">
    <div class="col-xs-9">
      <div class="panel panel-default square">
        <div class="panel-heading square">
          <span class="glyphicon glyphicon-list-alt"></span> {{ 'DONATION_MANAGEMENT.TITLE' | translate }} :
          <span ng-show="DonationCtrl.session.donor && DonationCtrl.session.employee">
            <strong> {{DonationCtrl.session.donor.name}} / </strong> 
            {{DonationCtrl.session.date | date}}
            {{ 'DONATION_MANAGEMENT.PERFORM_BY' | translate }} 
            {{DonationCtrl.session.employee.name}}
          </span>
        </div>

        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12">           

              <div ng-switch on="DonationCtrl.session.step">

                <div 
                  ng-switch-default 
                  class="panel panel-default square" 
                  ng-class="{'panel-success' : (DonationCtrl.session.donor && DonationCtrl.session.employee)}">

                  <div class="panel-heading square">

                    <span class="glyphicon glyphicon-list"></span> {{ 'DONATION_MANAGEMENT.DONATION_ITEM' | translate }}
                    <a 
                      ng-class="{'disabled' : !(DonationCtrl.session.donor && DonationCtrl.session.employee)}" 
                      class="pull-right menu-item" 
                      ng-click="DonationCtrl.addDonationItem()" 
                      style="margin-top: 0px">
                      <span class="glyphicon glyphicon&#45;plus"></span> {{ "DONATION_MANAGEMENT.ADD_LINE_ITEM" | translate }}
                    </a>
                  </div>

                  <table class='table-condensed table'>
                    <thead>
                      <tr>
                        <th>{{ "DONATION_MANAGEMENT.ITEM" | translate }}</th>
                        <th>{{ "COLUMNS.DESCRIPTION" | translate }}</th>
                        <th>{{ "COLUMNS.QTY" | translate }}</th>
                        <th>{{ "COLUMNS.PURCHASE_PRICE" | translate }}</th>
                        <th>{{ "COLUMNS.AMOUNT" | translate }}</th>
                        <th></th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr
                        ng-class="{'incomplete-outline': !donationItem.isValidStock, 'complete-outline': donationItem.isValidStock}"
                        ng-repeat="donationItem in DonationCtrl.session.donation_items">
                          <td>
                            <input
                              class="form-invoice"
                              type="text"
                              typeahead-template-url="invoiceListItem.html"
                              ng-model="donationItem.selectedReference"
                              typeahead="inventoryItem as inventoryItem.code for inventoryItem in DonationCtrl.inventory.data | filter:$viewValue | limitTo:10"
                              typeahead-on-select="DonationCtrl.updateDonationItem(donationItem, donationItem.selectedReference)"
                              placeholder="Search Inventory">
                          </td>

                          <td>
                            <input ng-show="donationItem.isSet" class="form-invoice" disabled value="{{donationItem.text}}">
                          </td>
                          <td>
                            <input ng-show="donationItem.isSet" type="number" ng-change="DonationCtrl.isValidLine(donationItem)"  class="form-invoice" ng-model="donationItem.quantity">
                          </td>
                          <td>
                            <input ng-show="donationItem.isSet" class="form-invoice" ng-model="donationItem.purchase_price" ng-change="DonationCtrl.isValidLine(donationItem)">
                          </td>
                          <td>
                            <input ng-show="donationItem.isSet" class="form-invoice" disabled value="{{donationItem.quantity * donationItem.purchase_price | currency}}">
                          </td>
                          <td>
                            <a ng-click="DonationCtrl.removeDonationItem($index)">
                              <span class="glyphicon glyphicon-trash"></span>
                            </a>
                          </td>
                      </tr>

                      <tr>
                          <!-- Style hack -->
                          <td colspan="4" style="margin-right = 50px; text-align: right;">
                            <b> {{ "DONATION_MANAGEMENT.TOTAL_COST" | translate }}</b>
                          </td>
                          <td colspan="2">
                            <b>{{ DonationCtrl.session.total | currency }}</b>
                          </td>
                      </tr>
                    </tbody>
                  </table>

                  <div class="panel-footer">
                    <div class="pull-right">
                        <button class="btn btn-sm btn-success" ng-click="DonationCtrl.nextStep()" ng-disabled="!DonationCtrl.isPassed()">
                          {{ "DONATION_MANAGEMENT.SAVE_BY_LOT" | translate }}
                          <span class="glyphicon glyphicon-arrow-right"></span>
                        </button>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>

                <div 
                  ng-switch-when="input_inventories"
                  class="panel panel-default square"
                  ng-class="{'panel-success' : (DonationCtrl.session.donation_items.length > 0)}">

                  <div 
                    class="row" 
                    ng-if="!DonationCtrl.session.reviewed" 
                    style="padding:0 15px;">

                    <table class="table table-condensed">
                      <thead>
                        <tr>
                          <th style="width:3%;"><span class="glyphicon glyphicon-th"></span></th>
                          <th>{{ "COLUMNS.INVENTORY_CODE" | translate }}</th>
                          <th>{{ "COLUMNS.LABEL" | translate }}</th>
                          <th>{{ "COLUMNS.QUANTITY" | translate }}</th>
                          <th>{{ "COLUMNS.UNIT_PRICE" | translate }}</th>
                          <th>{{ "COLUMNS.TOTAL_PRICE" | translate }}</th>
                          <th style="width:3%;">{{ "COLUMNS.ACTIONS" | translate }}</th>
                        </tr>
                      </thead>

                      <tbody ng-repeat-start="don in DonationCtrl.session.donation_items | orderBy:'code'">
                        <tr ng-class="{'highlight-grey' : !don.isCollapsed }">
                          <td>
                            <a ng-click="DonationCtrl.expand(don)" class="action">
                              <span class="glyphicon" ng-class="{ 'glyphicon-circle-arrow-right' : !don.isCollapsed, 'glyphicon-circle-arrow-up': don.isCollapsed }"></span>
                            </a>
                          </td>
                          <td>{{ don.code }}</td>
                          <td>{{ don.text }}</td>
                          <td>{{ don.quantity }}</td>
                          <td>{{ don.purchase_price | currency }}</td>
                          <td>{{ don.quantity * don.purchase_price | currency }}</td>
                          <td>
                            <div ng-show="!don.isCollapsed" class="pull-right">
                              <a ng-click="DonationCtrl.addLot(don)" class="action">
                                <span class="glyphicon glyphicon-plus">&nbsp;</span>
                              </a>
                            </div>
                            <div ng-show="!don.isCollapsed && don.validLots" class="pull-right">
                              <span class="glyphicon glyphicon-ok-circle">&nbsp;</span>
                            </div>
                          </td>
                        </tr>
                      </tbody>

                      <tbody ng-repeat-end>

                        <tr ng-class="{ 'row-collapse' : don.isCollapsed, 'success' : don.isValid }">
                          <th colspan="2">
                            <div collapse="don.isCollapsed">
                              <span class="glyphicon" ng-class="{ 'glyphicon-ok-circle' : don.isValid }"></span>
                            </div>
                          </th>
                          <th>
                            <div collapse="don.isCollapsed">{{ "COLUMNS.LOT_NUMBER" | translate }}</div>
                          </th>
                          <th>
                            <div collapse="don.isCollapsed">{{ "COLUMNS.QUANTITY" | translate }}</div>
                          </th>
                          <th colspan="3">
                            <div collapse="don.isCollapsed">{{ "COLUMNS.EXPIRATION_DATE" | translate }}</div>
                          </th>
                        </tr>

                        <tr ng-repeat="lot in don.lots.data" ng-class="{ 'row-collapse' : don.isCollapsed, 'success' : don.isValid }">

                          <td colspan="2"></td>
                          <td>
                            <div collapse="don.isCollapsed">
                                <input ng-model="lot.lot_number" ng-change="DonationCtrl.validateDonationLine(don)">
                            </div>
                          </td>
                          <td>
                            <div collapse="don.isCollapsed">
                                <input ng-model="lot.quantity" type="number" ng-change="DonationCtrl.validateDonationLine(don)">
                            </div>
                          </td>
                          <td colspan="2">
                            <div collapse="don.isCollapsed">
                                <input ng-model="lot.expiration_date" type="date" ng-change="DonationCtrl.validateDonationLine(don)">
                            </div>
                          </td>
                          <td>
                            <div collapse="don.isCollapsed">
                                <a ng-click="DonationCtrl.removeLot(don, $index)" class="action danger">
                                  <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            </div>
                          </td>
                        </tr>

                        <tr ng-class="{ 'row-collapse' : don.isCollapsed, 'success' : don.isValid }">
                          <th colspan="3">
                            <div collapse="don.isCollapsed"><span class="glyphicon glyphicon-stats"></span></div>
                          </th>
                          <th>
                            <div collapse="don.isCollapsed" ng-class="{ 'error' : don.sum > don.quantity }">
                                {{ don.sum }}
                            </div>
                          </th>
                          <th colspan="3">
                            <div collapse="don.isCollapsed">
                                {{ don.lots.data.length }}
                            </div>
                          </th>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <div class="panel-footer" style="padding:0 15px;" ng-if="!DonationCtrl.session.reviewed">
                      <div class="pull-right">
                          <button class="btn btn-sm btn-success" ng-click="DonationCtrl.review()" ng-disabled="!DonationCtrl.isAllPassed()">
                            {{ "STOCK.ENTRY.REVIEW" | translate }}
                          </button>
                      </div>
                      <div class="clearfix"></div>
                  </div>

                  <div class="row" ng-if="DonationCtrl.session.reviewed" style="padding:0 15px;">
                    <table class="table table-condensed">
                        <thead>
                          <tr>
                              <th style="width:3%;"><span class="glyphicon glyphicon-th"></span></th>
                              <th>{{ "COLUMNS.INVENTORY_CODE" | translate }}</th>
                              <th>{{ "COLUMNS.LABEL" | translate }}</th>
                              <th>{{ "COLUMNS.QUANTITY" | translate }}</th>
                              <th>{{ "COLUMNS.UNIT_PRICE" | translate }}</th>
                              <th>{{ "COLUMNS.TOTAL_PRICE" | translate }}</th>
                              <th style="width:3%;">{{ "COLUMNS.ACTIONS" | translate }}</th>
                          </tr>
                        </thead>
                        <tbody ng-repeat-start="don in DonationCtrl.session.donation_items | orderBy:'code'">
                          <tr>
                              <td></td>
                              <td>{{ don.code }}</td>
                              <td>{{ don.text }}</td>
                              <td>{{ don.quantity }}</td>
                              <td>{{ don.purchase_price | currency }}</td>
                              <td>{{ don.quantity * don.purchase_price | currency }}</td>
                              <td>
                                <div ng-show="don.isValid" class="pull-right">
                                    <span class="correct glyphicon glyphicon-ok-circle"></span>
                                </div>
                              </td>
                          </tr>
                        </tbody>
                        <tbody ng-repeat-end>
                          <tr>
                              <th colspan="2"></th>
                              <th>{{ "COLUMNS.LOT_NUMBER" | translate }}</th>
                              <th>{{ "COLUMNS.QUANTITY" | translate }}</th>
                              <th colspan="3">
                                <span class="glyphicon glyphicon-calendar"></span>
                                  {{ "COLUMNS.EXPIRATION_DATE" | translate }}
                              </th>
                          </tr>
                          <tr ng-repeat="lot in don.lots.data">
                              <td colspan="2"></td>
                              <td>{{ lot.lot_number }}</td>
                              <td>{{ lot.quantity }}</td>
                              <td colspan="3">{{ lot.expiration_date | date }}</td>
                          </tr>
                        </tbody>                       
                    </table>
                  </div>

                  <div class="panel-footer" style="padding:0 15px;" ng-if="DonationCtrl.session.reviewed">
                    <div class="pull-right">
                        <button class="btn btn-sm btn-success" ng-click="DonationCtrl.accept()">
                          {{ "STOCK.ENTRY.ENTER_STOCK" | translate }}
                        </button>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 

</main>

<script type="text/ng-template" id="invoiceListItem.html">
  <a>
    <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
    <span><i>{{match.model.text}}</i></span>
  </a>
</script>
