<!-- this partial requires binding the variable 'title' -->
<head>
  <title>{{translate title}}</title>
  <!--link href="{{absolutePath}}/css/bhima-bootstrap.css" rel="stylesheet"-->
  <link href="{{absolutePath}}/vendor/components-font-awesome/css/font-awesome.css" rel="stylesheet">
  <script src="{{absolutePath}}/vendor/JsBarcode.all.min.js"></script>
  <!--style>
    @media print {
      table, tr, td, th, tbody, thead, tfoot {
        page-break-inside: avoid !important;
      }
    }
  </style-->
  <meta charset="utf-8" />
</head>
